[2022-01-03 18:30] guilhermenoronha commented on #1890
Hi @KonstantinKorotaev,
Thanks for your answer. I deleted the option valueType="url" but the old behavior persists. I already imported and annotated the data as time series. Does delete this tag, after all, impact in something?

[2022-01-04 00:37] makseq commented on #1209
@TueLindhart Sorry, but we haven't fixed it. I'll ping our frontend team regarding this issue.

[2022-01-04 01:17] makseq commented on #1887
@khs123 Thank you for your feature request. This feature is in our roadmap for this year ;-)

[2022-01-04 13:22] KonstantinKorotaev commented on #1890
Hi @guilhermenoronha
You will need to reimport all tasks with texts.
For example you can do it this way:
1. Get back valueType="url" to your config
2. Export your annotation as json
3. Download texts with script and save them to new json:
[code]
4. Import new file to the project without valueType="url" (you can create a copy of your project)

If you have complicated config - replace cycle intructi

[2022-01-06 01:12] John-Polo commented on #1836
Happy new year, @KonstantinKorotaev. I got docker to work and it looks like the install works. Thanks for your help.

[2022-01-06 01:12] #1836 closed

[2022-01-06 06:09] lfoppiano commented on #1889
@makseq I'm trying to run LS using docker, and then configure a reverse proxy on top of it, however I don't manage to get the LABEL_STUDIO_HOST to be taken in account. I tried:

[code]

however the root path is still / which makes it impossible to use behind a reverse proxy. Same happens if I export the env var before.

Anything I'm missing?

[2022-01-06 08:36] w0ut0 commented on #1124
We have the same issue with individual (big) tasks that are taking a long time to render (think texts that don't fit on 1 page).

Both the initial rendering of the page takes a long time, and then annotating individual tokens also takes a lot of time. We can see a lot of CPU consumption (100%) at those times.

Our current workaround is splitting out tasks, but we would prefer not to do it, as we l

[2022-01-06 10:14] farioas commented on #1889
The correct command syntax is:
[code]

[2022-01-06 10:16] farioas commented on #1889
Btw, it will only works with docker-compose and nginx, like it stated in the documentation:
https://labelstud.io/guide/start.html#Run-Label-Studio-on-Docker-with-a-host-and-sub-path

[2022-01-06 18:46] guilhermenoronha commented on #1890
Hi @KonstantinKorotaev  . Thanks again. I took some time to reply because the code you provided needed some adjustments to my project. It worked smoothly, thanks! I'm going to post the fully functional code here because I believe it may be helpful to someone else.

[code]

Although your solution works well and fits to my problem, I found it a bit clumsy to execute. Expecting a common user who need

[2022-01-07 09:44] lfoppiano commented on #1889
thanks!

[2022-01-07 10:07] #1889 closed

[2022-01-07 10:27] prashant2402 opened #1896 "Deploying Labelstudio with mysql as DB fails with error "No module named 'MySQLdb'""
**Describe the bug**
Trying to deploy latest label studio with MySql as DB in kubernetes, fails with the below error, I've also tried bringing it up using docker-compose files but same result:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set mysql db configuration in docker-compose
2. run docker-compose up
3. Check label studio logs

**Expected behavior**
Label studio should start

[2022-01-07 13:19] floyddcn opened #1897 "the annotation result coordinate/ratio not match the actual ones"
**Describe the bug**
the annotation results coordinate/ratio not match the actual ones.
Is all the coords in  result  are ratio value(i guess)?
Where can i find the document explaining the meaning of the annotation result?

**To Reproduce**
1. annotate some picture
2. click 'show task source' button on the task list page
3. u will see following json not match the pic,and you can just caculate the

[2022-01-07 23:40] makseq commented on #1896
Try to install LS with extra lib

`pip install label-studio[mysql]`

[2022-01-07 23:43] makseq commented on #1897
Check this docs please
https://labelstud.io/guide/export.html#Units-of-image-annotations

[2022-01-07 23:50] makseq commented on #1897
@floyddcn Do you mean that original_width and original_height are swapped?

[2022-01-08 05:39] floyddcn commented on #1897
swapped? original width and height is all right(totally same as my uploaded picture).
But when i caculcate the acutal position in original pic and then draw the bounding box according to your annotation result , the region seems to be inconsistent with the selection in annotation interface.
Besides,can you give me some clue about the other questions i mentioned before
`Where can i find the documen

[2022-01-08 05:58] smoreface commented on #1897
@floyddcn check here: https://labelstud.io/guide/export.html#Units-of-image-annotations

[2022-01-08 06:01] floyddcn commented on #1897
As for question 1. i calculdated again,and your result is ok,maybe there is something wrong with my origianl pdf position calculation,sorry for bothering u.

question 2, i'll check it out,thx a lot.

[2022-01-09 12:18] tilusnet opened #1900 "Support for Docker, `armv7` platform"
**Is your feature request related to a problem? Please describe.**
The docker installation doesn't run on a Raspberry Pi / armv7 platform.

**Describe the solution you'd like**
I'd like to install the software in docker on armv7 / Raspberry Pi.

[2022-01-09 12:52] tilusnet commented on #1900
FYI, I kick started an `armv7` image build from source with `DOCKER_BUILDKIT=1 docker build -t heartexlabs/label-studio:latest .` The build failed after about 15 minutes with:
[code]

[2022-01-09 13:40] luxiangx commented on #1889
thanks, run docker-compose command works.

[2022-01-09 16:04] tilusnet commented on #1900
to leverage wheel files for the platform it's also recommended to set eg. `/etc/pip.conf` to:
[code]

[2022-01-09 19:11] makseq commented on #1900
@tilusnet why do you want to install ls on arm? :-)

[2022-01-09 19:49] tilusnet commented on #1900
Convenience. My docker hosting system is a Raspberry Pi.
All my docker containers run there.

[2022-01-09 20:03] tilusnet commented on #1900
I have crafted a `Dockerfile.armv7` file for a start. It installs all dependencies fast.

[code]

[2022-01-10 08:58] ritikajha opened #1901 "Sequence of labels not maintained"
I have a huge labeling project so I have made multiple projects to complete tasks in parts.
The labels created in each project are same and in the same sequence, but when exported in YOLO format, the sequence in classes.txt file get changed and doesnt remain in a particular sequence.
How can I fix the sequence of labels  while exporting in YOLO format.

[2022-01-10 11:22] DimaVinnitsa opened #1902 "Bounding box with transparent background but with colored borders of the box"
**Bounding box with transparent background but with colored borders of the box**

I need to have an opportunity to have rectangle labels with transparent background but with colored borders of the box

[2022-01-10 11:33] DimaVinnitsa opened #1903 "To set the full-screen mode for labeling"
**To set the full-screen mode for labeling**

When I work with wide pictures I always need to scroll it too often

[2022-01-10 11:43] DimaVinnitsa opened #1904 "Display the original resolution of the uploaded image"
**Display the original resolution of the uploaded image**

I need to work with the full quality of the picture that I'm uploaded for labeling.
As I can see this program downgraded the resolution.

[2022-01-10 12:10] jmilde commented on #1791
I can reproduce the problem, but could not find a pattern.
In our case we are updating a previously labeled images.
The problem exists with the docker images: latest, 1.4.0 and 1.3.0.

[2022-01-10 12:44] prashant2402 commented on #1896
I was not installing label-studio via pip, was using kubernetes helm charts to deploy so was just referring to the 1.4 image.
after your suggestion, I modified dockerfile to add `pip3 install mysqlclient`, built a new version and deployed it, that seems to have initialised mysqldb as expected.

could we add mysqlclient in requirements.txt and make it available for all?

[2022-01-10 17:45] makseq commented on #1896
Sorry, we can't add mysql because we don't support mysql officially and we are trying to avoid dependency hell.

[2022-01-10 17:48] makseq commented on #1896
Feel free to re-open if you have any questions.

[2022-01-10 17:48] #1896 closed

[2022-01-10 18:53] KonstantinKorotaev commented on #1901
Fixed in [1871](https://github.com/heartexlabs/label-studio/issues/1871)

[2022-01-11 16:08] rydka opened #1908 "SDK Retrieve only 100 tasks"
Hello,

I am new using the label-studio's SDK.

I am working on a project containing about 11000 tasks but when I am trying to retrieve the tasks using the SDK only a 100 are retrieved.

[code]

In label-studio I have 4 projects among which 2 have more than 100 tasks, 1 has 89 tasks and 1 has 0 tasks.

In the documentation it is said that `project.tasks` is suppose to retrieve all tasks.

Do you h

[2022-01-11 22:08] makseq commented on #1904
@DimaVinnitsa Maybe you may use a zoom functionality?

https://labelstud.io/tags/image.html#main
[code]

[2022-01-12 06:49] dentalala commented on #1903
There will be a fullscreen mode for labeling in the editor. We’re working on it.

[2022-01-12 07:39] Ek3ha opened #1912 "How do you deploy Label Studio ML backend on Azure Cloud?"
How to deploy Label studio ML backed on Azure Cloud?

[2022-01-12 08:42] Fkawala opened #1913 "Route `/api/storages/export/s3/validate` returns empty body and does nothing"
**Describe the bug**
- Route `/api/storages/export/s3/validate` returns empty body / does nothing. The route can be called with wrong credentials but won't raise any exception. To sync the broken storage will fail with a 403 error as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a s3 export storage from UI or API with wrong credentials
2. Call the /api/storages/export/s3/v

[2022-01-12 10:05] ebayo opened #1915 "redis and google-api-core version conflict"
**Describe the bug**
When installing label-studio I get conflicting requirements versions for redis and google-api-core

**To Reproduce**

Just following the pip installation guide from the [documentation](https://labelstud.io/guide/install.html#Install-with-pip)
1. Create virtual environment
```python3 -m venv ~/venv/label-studio-venv/```
2. Activate it
```source ~/venv/label-studio-venv/bin/acti

[2022-01-12 15:23] KonstantinKorotaev commented on #1915
Hi @ebayo
Could you please try ML backend from [branch fix/HTX-2224-no-ls](https://github.com/heartexlabs/label-studio-ml-backend/tree/fix/HTX-2224-no-ls)?

[2022-01-12 15:55] ebayo commented on #1915
Hi @KonstantinKorotaev
Using the stated branch I'm able to start the ML backend

[2022-01-12 23:36] makseq commented on #1915
@ebayo If you problem is solved, please close this issue :slightly_smiling_face:

[2022-01-13 09:09] #1915 closed

[2022-01-13 13:55] makseq commented on #1912
@Ek3ha please check this docs: https://docs.docker.com/cloud/aci-integration/

All our ML backends can be built as docker images, by default you can find a Dockerfile inside of ML backend folder after `label-studio-ml init`

[2022-01-13 22:33] rydka opened #1920 "SDK : import tasks does not import the images"
Hello,

I am writing about an issue that occurs when trying to insert tasks into a project.
Here is the code used :
[code]

On label-studio UI when I try to display the image in the project it the value shown is DATA instead of the mini representation of the file.

Here is a capture :
![image](https://user-images.githubusercontent.com/74670829/149419302-a1e2006e-cd8a-4a97-91cc-29ccbbccbd1a.png)

T

[2022-01-14 01:24] makseq commented on #1920
Please, check this docs about Local Storage: https://labelstud.io/guide/storage.html#Tasks-with-local-storage-file-references

[2022-01-14 10:02] lppsuixn opened #1924 "img url not use LABEL_STUDIO_HOST"
**Describe the bug**
the img url not add sub-path
like
![image](https://user-images.githubusercontent.com/12748339/149496942-1fe37dec-9c16-4933-9e68-009e54c12ba6.png)

**Expected behavior**
img url with sub-path

**Environment (please complete the following information):**
 - OS:  windows
 - Label Studio Version : docker newest

[2022-01-14 12:14] djstrong commented on #517
Would be very helpful!

[2022-01-14 15:20] rydka commented on #1920
Thank you for the reply.
I already added the variable to the environment and I am able to connect the local storage files.

![image](https://user-images.githubusercontent.com/74670829/149538062-550dd69d-3e2d-4a2f-8267-4443e2250c4f.png)

However using the SDK keeps with the same phenomenon the image returning only "Data"

The code as been updated :
[code]

[2022-01-14 17:53] makseq commented on #1920
@rydka Are you using the latest LS master branch?

[2022-01-16 14:12] tilusnet commented on #1900
I progressed further with additional dependency libraries -- seems to be coming from PIL:
[code]

I am now stuck at
[code]

[2022-01-16 14:23] tilusnet commented on #1900
It seems that GLIBC_2.28 is not _explicitly_ supported by the Bionic (18.04) image, but older _and_ newer versions only:

[code]

[2022-01-16 18:07] #1620 closed

[2022-01-17 07:52] rydka commented on #1920
I am working on the 1.4 label-studio version

[2022-01-17 21:34] makseq commented on #1920
@rydka LS 1.4 has critical bugs in Local storage, recommend to switch to the latest master.

[2022-01-18 04:27] magicaltoast opened #1928 "Exporting to yolo when using local files failes"
**Describe the bug**
When exporting annotation to yolo format while using local storage, the image folder is empty.
It's impossible that label studio can't access these files because I can see them normally in UI
Log from terminal
[code]
**To Reproduce**
1. Use local storage
2. Click export
3. Choose yolo format
4. Check label-studio logs for errors

**Expected behavior**
Images folder to be full

[2022-01-18 08:03] JulesBelveze commented on #1008
Currently having the same problem with v1.4, any idea when this fix is expected to be released?

[2022-01-18 08:50] rydka opened #1929 "Tif format not supported"
Hello

**Is your feature request related to a problem? Please describe.**
When trying to display images with the tif extension in the annotation the message "TypeError: r.type is undefined"

**Describe the solution you'd like**
I would like a solution which would enable us to work directly with tif images

**Describe alternatives you've considered**
We considered transforming our tifs into jpg bef

[2022-01-18 09:06] rydka commented on #1920
Thank you for your answer I will proceed switching to master.

I managed to import the images in label studio by creating the webservice retrieving the images in my repository and a script inserting them in label studio.

![image](https://user-images.githubusercontent.com/74670829/149905096-21f27bf5-987a-42a6-ba7d-551d5a366daf.png)

Now I have an issue when I try to enter the Annotation UI  the fo

[2022-01-18 10:12] DimaVinnitsa commented on #1904
Thank you for your answer.  I've already used zoomControl setting. But it doesn't mean that the quality of the picture will change with this functionality. If you look into the properties of the file before import the image and after - you will see a difference (attached screenshot)
So I need to have image with the same quality as before import it into Labael-studio application.
Could you help me

[2022-01-18 12:58] rydka commented on #1920
The issue comes from the syntax of the predictions. The choices coming from the predictions have to be lists.

[2022-01-18 16:03] markcheeky opened #1931 "Named entity recognition granularity is not reflected correctly in exported data"
**Describe the bug**
Option `granularity="word"` in named entity recognition is not reflected in exported data.

**To Reproduce**
Steps to reproduce the behavior:
1. create new project, select NER template and check "Select text by words"
1. import 1 task from a json file listed below
1. click on the task to annotate it
1. annotate `mple tex` as ORG. Label studio automatically expands annotation t

[2022-01-18 19:10] seyiqi opened #1933 "Questions on uploading local images using API"
Hi there,

Thanks so much for this awesome tool! I am working on a multi-modal reasoning problem in which each task contains both image and text. I would like to use the [Label Studio API](https://labelstud.io/api#operation/api_projects_import_create) to programmatically create tasks. The image field was set up as the following:
[code]

The label studio server was hosted on a Linux machine (port 8

[2022-01-18 22:13] makseq commented on #1008
@JulesBelveze Are you on master branch from LS github repository?

[2022-01-18 22:16] makseq commented on #1929
Please, check that your browser supports tiff - https://en.wikipedia.org/wiki/Comparison_of_web_browsers#Image_format_support.

[2022-01-18 22:16] #1929 closed

[2022-01-18 22:22] makseq commented on #1928
@magicaltoast Please, check this thread: https://github.com/heartexlabs/label-studio/issues/1350#issuecomment-905050762

TLDR: We dropped copying of images to the export archive by security reasons, LS can't access user data directly, it can be done only on user side in the browser.

[2022-01-18 22:24] makseq commented on #1928
However we are thinking about integrating an export & converter functionality to SDK: this operation can be performed on the user side and it's secure.

[2022-01-18 22:27] makseq commented on #1928
Feel free to reopen if you have more question / issue on this topic.

[2022-01-18 22:27] #1928 closed

[2022-01-19 07:42] farioas commented on #1924
sub-path override is supported only in docker-compose deployment

[2022-01-19 09:34] RibbonsAlmark opened #1935 "data manager build from DM2 get error : "Can't find key `tabID` in data [/views/:tabID/tasks]""
**Describe the bug**
when I build DM2 and try to implement in labelStudio, at first I find out the instructions on "Using custom DM build in Label Studio" not working, my tiny change in DM2 code do not appear at label studio page, after I fix this problem by reading issue [#640](https://github.com/heartexlabs/label-studio/issues/640)
and then I get error "Can't find key `tabID` in data [/views/:ta

[2022-01-19 10:47] JulesBelveze commented on #1008
Nop, I'm on v1.4.0. I was just wondering if there's a patch release expected soon

[2022-01-19 22:46] ijmiller2 commented on #1620
@triklozoid , thanks for working on this issue. Just wanted to follow up to say that that while I am now able to save the Labeling Interface config when updating the label name, I still get a validation error complaining that the tasks with the old label still exists, even though I have manually filtered for tasks with this old label and deleted / updated them with the new label.

Here's the error

[2022-01-20 01:17] makseq commented on #1008
Yes, we are going to release 1.4.1 include this patch too.

[2022-01-20 01:21] makseq commented on #1935
@RibbonsAlmark Please try to reset Data Manager tabs: go to project settings => danger zone => Drop all tabs.

[2022-01-20 01:40] makseq commented on #1920
@rydka Yes, your above code looks weird:
[code]

I would recommend that you check this docs: https://labelstud.io/guide/predictions.html#Import-pre-annotations-for-images

[2022-01-20 01:54] makseq commented on #1908
@rydka Thank you for pointing us to this bug. "100" is a default page size for get tasks SDK call. I think we will fix it soon.

[2022-01-20 08:09] Fkawala opened #1938 "Doc fix"
Howdy,

The API doc for the `/api/project/{id}/import` is wrong or at least very misleading ([link](https://labelstud.io/api#operation/api_projects_import_create))

In the "PATH PARAMETERS" section, the `id` param is described as follows :

Whereas it should read:

Have a nice day !

[2022-01-20 09:44] sainathgk opened #1941 "Export Data Error from Database (django.db.utils.OperationalError: too many SQL variables)"
**Describe the bug**
A project of Natural Language Processing for Named-Entity Recognition, The Data size is around 1,500 sentences. SQLITE error while exporting the data after Labelling.
Label Studio Version - 1.4

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Export'
2. Click on 'CSV' or 'JSON'
3. Click on 'Export'
4. See error like below
RUNTIME ERROR
too many SQL variables

**Exp

[2022-01-20 18:50] smoreface commented on #1938
@makseq please redeploy the API docs to fix this. It's correct in the code: https://github.com/heartexlabs/label-studio/blob/master/label_studio/data_import/api.py

Thanks for reporting this, @Fkawala!

[2022-01-20 20:38] makseq commented on #1330
@TueLindhart Could you check it in this PR please? https://github.com/heartexlabs/label-studio/pull/1942

[2022-01-20 20:49] makseq commented on #1938
done!

[2022-01-20 20:49] #1938 closed

[2022-01-20 20:56] makseq commented on #1933
@seyiqi Hi!

In first case your browser tries to open the image and there is a CORS issue, because your server with this image can't send it by its security settings (see more about this here - https://labelstud.io/guide/storage.html#Troubleshoot-CORS-and-access-problems).

In the second case the Label Studio Backend downloads this image and your server can send it, because it's not a browser.

So

[2022-01-20 20:56] #1933 closed

[2022-01-20 22:18] seyiqi commented on #1933
Hi @makseq ,

Thanks so much for your help. I appreciate it if you could take a look at my server setting and provide some insights. The image server is hosted on the same machine as Label Studio using the following commands:

[code]

I think the cors is on. This is a screenshot on the server's side:
![server_screeshot](https://user-images.githubusercontent.com/6496413/150430632-7b85092e-6f92-486e

[2022-01-20 22:22] makseq commented on #1933
I'm not familiar with npm http-server, but your can google something like "npm http-server enable cors":

https://stackoverflow.com/questions/63297822/enable-cors-for-local-http-server

[2022-01-20 22:56] seyiqi commented on #1933
Thanks, @makseq . One last question. Is there a way to refer to a local file using the Label Studio import API rather than refer to an URL? Eg:

[code]

[2022-01-20 23:28] makseq commented on #1933
You have to setup the Local Storage and then you can use links like

[code]

https://labelstud.io/guide/storage.html#Local-storage

[2022-01-24 07:43] nicholasrq commented on #1935
@RibbonsAlmark thank you for the report

it seems that LS doesn't pass proper APIConfig to the DM. `api-config.js` that you found in the DM repository is used for a standalone use. LS uses different one to operate, it lives under the `label_studio/frontend/src/pages/DataManager/api-config.js`, and it slightly different

unfortunately, I can't say why it behaves  that way right away, let us check w

[2022-01-24 10:34] kemics commented on #1470
@makseq hey

Yes

Do you mean to test how it works? Or to use it in production?

I wish the bug would be prioritized because this quite common situation to have images with no bounding boxes for object detection training. I came up with workaround on client size, but it is not convenient and slow when number of images is big

[2022-01-25 01:12] lfoppiano commented on #1924
@lppsuixn somehow I managed to get it work, see [here](https://github.com/heartexlabs/label-studio/issues/1889#issuecomment-1006310399).

However, as @farioas said it's offically only supported in the compose deployment.

Actaully I wonder whether would be possible to make it available for the docker image as well?

[2022-01-25 10:05] chiganov commented on #1941
Hello. Thanks for your question.

Unfortunately I couldn't repeat this bug at my laptop. Can you text how did you install LableStudio.

Looks like you use SQLight and there some extraordernal `SQLITE_MAX_VARIABLE_NUMBER` value.

Try to migrate data to Postgres or change `SQLITE_MAX_VARIABLE_NUMBER` for your DB instance.

Also you might try to use other export through API, it could work for you:
ht

[2022-01-25 15:34] jpavel opened #1957 "Shortcut for text label overlaps with global command "a""
**Description**
When project has enough labels, one of them can get assigned "a" as a shortcut. However, when using it, it leads to leaving the annotation screen back to the task overview screen.

**To Reproduce**
Steps to reproduce the behavior:
Configure at least 15 labels in text labeling project  or assign by hand a shortcut "a" to a label:
`<Label value="Demographic" hotkey="a"/>`

**Expected

[2022-01-25 16:59] bblankrot-virta opened #1959 "label-studio 1.4.0 requires python packages with critical and high sev vulnerabilities"
**Describe the bug**
The python package `label-studio==1.4.0` (newest release) requires `Django==3.1.13` which contains this high severity vulnerability: https://github.com/advisories/GHSA-v6rh-hp5x-86rv (FWIW Django considers this lower severity)

It also requires `label-studio-converter` which in turn requires `Pillow==8.3.2` (3 **critical** severity vulnerabilities, [here's one](https://github.

[2022-01-25 18:17] johann-petrak opened #1960 "Support JSONL format"
For larger files and generally for easier handling of example sets in json format, it would be very useful if JSONL format was supported:
* each example a JSON map, on its own line
* no enclosing array

In other words, such files would get processed line by line, with each line getting converted to/from json as needed on export/import.

See https://jsonlines.org/

[2022-01-25 21:16] makseq commented on #1960
Are you talking about LS storages with jsonl import? Or about the common LS import files?

[2022-01-25 22:20] johann-petrak commented on #1960
Sorry, what I meant is for
* uploading examples to annotate (Import button within a project)
* downloading annotated examples (Export button within a project)

jsonl has become an often-used format in nlp because it is flexible, yet it is, unlike a json array file, line oriented, so other tools can be used to filter, update. sort,  etc examples in jsonl files.

[2022-01-26 11:35] makseq commented on #1924
You have to configure your outside nginx properly:
check this patch - https://github.com/heartexlabs/label-studio/blob/master/deploy/nginx/scripts/90-replace-subpath.sh#L11

but it won't work without this nginx.

[2022-01-26 13:33] hlomzik commented on #1904
Hi, @DimaVinnitsa! We don't do anything with the picture itself, so resolution is the same, sizes on your screenshot is just a styles to fit image to our working area. And that's not the image, that's canvas to display regions, image is in another div.
First of all you should remove our `max-width` limit (`<Image ... maxWidth="auto" />`), we'll fix this in master soon.
Currently we can't display i

[2022-01-26 13:37] #1904 closed

[2022-01-26 13:39] makseq commented on #1920
@rydka Have you solved this issue?

[2022-01-26 13:43] makseq commented on #1931
Thank you for your report, we've created a ticket about this bug. We will write you when it's done.

[2022-01-26 13:59] makseq commented on #1957
Thank you for your suggestion, we will discuss it with our team ;-)

[2022-01-26 16:07] makseq commented on #1858
Thank you for your report, we discussed this with our team and created a jira ticket for this.

[2022-01-26 16:13] triklozoid commented on #1620
@ijmiller2 do you get this message after clicking on the "Save" button?  Now we have a workaround, which allows you to save config, but we are still working on fixing the reason of appearing this error message.

[2022-01-26 16:26] #1883 closed

[2022-01-26 19:48] robhyb19 commented on #1744
+1

[2022-01-26 20:58] makseq commented on #1744
[Slack link to similar thread](https://label-studio.slack.com/archives/C01SKFX54QK/p1643227499427679)

[2022-01-27 00:51] makseq commented on #1959
@bblankrot-virta Please, use LS from the latest master commit, these issues are fixed there.

[2022-01-27 00:51] #1959 closed

[2022-01-27 08:53] epetrovski opened #1969 "base64 encoded PDFs won't display"
Not sure if this is a bug, but should PDFs not be displayed when base64 encoded?

I know there's a similar issue #1155 and that PDFs are not officially supported. But I'm closely following the PDF example in the playground except I'm supplying the actual base64 encoded file rather than a link.

Here is my task:
[code]

And here is my input:
[code]

[2022-01-27 08:55] rydka commented on #1920
Yes thank you. The issue came from an invalid JSON format for my tasks.

[2022-01-27 08:55] #1920 closed

[2022-01-27 10:16] rydka opened #1970 "Display images referenced in a s3"
Hello,

I am using a s3 which is sync with my project label studio and stores my resources (texts and images).

I there a way to directly use images from s3 with a json looking something alike :
[code]

Thank you

[2022-01-27 12:56] jimmiemunyi opened #1973 "Rotated Ellipse and Rectangle annotations resize and move controls not working correctly"
**Rotated Ellipse and Rectangle controls not working.**
When annotating Image tasks using an ellipse or rectangle label, I have noticed the resize controls do not work as expected anymore. Also moving them around seems snappy and sometimes they do not move at all.

I am running on Label Studio 1.4, with the latest changes pulled from the master branch

**To Reproduce**

Here is my Labeling Config

[2022-01-27 14:23] ijmiller2 commented on #1620
@triklozoid, yes I see the error message after I click the "Save" button, but it persists after that. I just went back to the Labeling Interface / Editor and I'm still seeing that validation error there. I think the only way to get rid of it is to add the old / deleted label back.

[2022-01-27 19:12] bblankrot-virta commented on #1959
Hi, I'd like to reopen this because that master commit is not working for me - the formatting of the pages is all wrong and there are 404 errors in the console. Logs show errors such as
[code]
and
[code]

Perhaps this version requires a connection to LaunchDarkly which we do not allow? Is it possible to create a release that doesn't require LaunchDarkly, similar to 1.4.0?

[2022-01-27 19:33] makseq commented on #1959
LaunchDarkly can be blocked totally.

Please, do
[code]

and then run LS again
[code]

[2022-01-27 21:13] makseq commented on #1973
DEV-1155

[2022-01-27 23:34] makseq commented on #1970
@rydka Yes, your example should work. I would recommend that you use the latest master commit from LS github, because we fixed some bugs about this today.

You can even write like this (it works only in the latest master commits):

[code]

[2022-01-27 23:34] #1970 closed

[2022-01-28 00:43] makseq commented on #1969
1. It's not recommended usage of LS task data because all these base64 strings will be stored in the DB and this might lead to significant performance degradation.

2. not all browsers support this. e.g. this example doesn't work for me in google chrome:
https://jsfiddle.net/yLx2W/1/

[2022-01-28 00:43] #1969 closed

[2022-01-28 01:19] makseq commented on #1791
@jmilde please, try to record a video with this problem reproduction.. we couldn't repeat it.

[2022-01-28 10:56] MatteoSid opened #1979 "Place string into editable text area from json"
Hi all,

as suggested in the title we would like to put a string into an editable TextArea directly from a JSON that we will import into label studio.
Currently the JSON that we are importing is structured like this:

[code]

And on LabelStudio we get something like this:

![immagine](https://user-images.githubusercontent.com/26544399/151533689-7877b2e1-c519-40d4-9259-573564f62857.png)

but we wan

[2022-01-28 11:05] triklozoid commented on #1620
@ijmiller2 can you please find me in our slack community(there is a link in README of this repo) and share the project id and label name?

[2022-01-28 12:19] sainathgk commented on #1941
Thanks chiganov for your reply.
I installed LabelStudio through pip install -U label-studio
and updated the sqlite3 to latest.

Please help me how to change the SQLITE_MAX_VARIABLE_NUMBER value. or migrate to Postgres.

Thanks once again.

[2022-01-28 13:41] johann-petrak opened #1980 "Better dependency declarations for google packages?"
`pip install label-studio`  takes a REALLY long time (20 minutes in the last attempt) because for a number of packages, pip downloads a whole bunch of versions to figure out which may be compatible with which:

It may be possible to speed that up by specifying versions which are known to be compatible and fairly recent.

[code]

[2022-01-28 14:36] jmilde commented on #1791
@makseq https://www.youtube.com/watch?v=-Qz6jeaJfns
As you can see it works for some images but not for others (in the video we scrolled to one that we knew causes problems), and sometimes when trying often enough then the update will work.

`Error: [mobx-state-tree] You are trying to read or write to an object that is no longer part of a state tree. (Object type: 'ImageModel', Path upon death: '/

[2022-01-28 19:23] ijmiller2 commented on #1620
@triklozoid, no problem! Just sent you a message there

[2022-01-28 23:34] smoreface commented on #1979
@MatteoSid I suggest using variables in the data rather than predictions to get the behavior you describe.

For example:
[code]

Then use a labeling config like this:
[code]

NOTE: If you try to update the labeling config while some task data contains just the image data and not also the text data, you won't be able to save your changes. Let me know if this is an issue for you and I can share my w

[2022-01-29 09:12] thehappy1 commented on #1841
Hey I experienced the same issue.
How did you fix that?
I can't find the empty annotation result in my data.

[2022-01-29 09:16] 759852125 commented on #1841
https://github.com/heartexlabs/label-studio/issues/1841#issuecomment-1000986987

Please check my reply and modify the code I marked

[2022-01-29 10:18] thehappy1 commented on #1841
Thank you. With that I could bypass the exception.

[2022-01-29 16:13] makseq commented on #1841
I've added a very similar [checks to the converter](https://github.com/heartexlabs/label-studio-converter/commit/f620dfb42b7958d98044c5ceab5abf7da55552a0) like in #1841 (comment). It should help.

[2022-01-29 16:30] #476 closed

[2022-01-29 16:33] makseq commented on #1098
This feature was added in the latest master commits. You can use latest docker image or wait until LS 1.4.1.
![image](https://user-images.githubusercontent.com/501780/151669005-ecf9af87-5a99-48fd-bef8-ed7d99c857fe.png)
![image](https://user-images.githubusercontent.com/501780/151669026-d31b356f-50ec-4c8c-9f33-119bf654f3b7.png)

[2022-01-29 16:33] #1098 closed

[2022-01-29 16:33] #1242 closed

[2022-01-29 16:34] makseq commented on #1242
The fix is in the latest master branch.

[2022-01-29 16:43] makseq commented on #1134
You can use `download_resources` in API request /api/projects/<id>/export?download_resources=0 to avoid image downloading.

[2022-01-29 16:43] #1134 closed

[2022-01-29 21:56] makseq commented on #1980
@johann-petrak Please, install LS from the latest master branch of github repo. This problem must be fixed there.

[2022-01-29 21:57] #1980 closed

[2022-01-30 19:25] PhilipMay opened #1982 "Better iPad compatibility"
I would like to request a better iPad compatibility.

The "Submit" button should be much more left. That way you could zoom in and handling would be easier.

![Label Studio](https://user-images.githubusercontent.com/229382/151714266-f779e396-a144-4d24-8f2f-3764109b132e.png)

[2022-01-30 20:53] makseq commented on #1982
@PhilipMay What's wrong with the current Submit position?

[2022-01-31 10:18] MatteoSid commented on #1979
It works perfectly, it was exactly what I was looking for. Thank you very much.

[2022-01-31 11:43] dentalala commented on #1982
Do I understand correctly, you would like to zoom in a bit to see everything bigger, and when you do that, the Submit button goes out of the screen viewport? Thank you for that issue, we're working on the problem.

[2022-01-31 14:37] epetrovski opened #1985 "Request file URL with JWT"
When Label Studio requests a file via the supplied URLs, I need it to request the URL with a JSON Web Token (JWT) for authentication. In my case, the file server that hosts the files is set up to only allow requests from clients that can prove valid JWT credentials.

Is there any way to overwrite the way that Label Studio requests files so that I can insert a JWT in the header of those HTTP reques

[2022-01-31 18:36] #1979 closed

[2022-02-01 18:58] beatanyari commented on #461
Hi, is there any update on this? I'm using the span labeling template and running into a similar issue. The box doesn't get pre-checked, no matter if the class is provided as `selected = "true"` or in the JSON data.

[2022-02-01 22:40] makseq commented on #461
@beatanyari It was fixed long time ago. Could you check the latest master of LS github repo?

[2022-02-01 22:49] makseq commented on #1791
@jmilde Thank you very much for this video, looks like a problem with autosaved drafts. I've created a ticket about this.

[2022-02-02 09:10] beatanyari commented on #461
Doesn't work with the latest master either. If I add `selected="true"` to one of the choices in the ["Text spans labeling" template](https://labelstud.io/playground/), the choice doesn't get pre-selected.

[2022-02-02 09:46] atreyasha commented on #486
I am still experiencing this issue in `v1.4.0` of the community edition. I launch `label-studio` via the basic `docker` method (not `docker-compose`). Is anyone else still experiencing this as well?

[2022-02-02 13:53] jaredswanson commented on #1841
I had the same issue exporting a COCO file. Solved it pretty quick with a ruby script. Hope this helps.
Note: you will need to have Ruby installed.

Export the broken list as JSON-MIN
![image](https://user-images.githubusercontent.com/38188491/152164432-df916668-3309-4ebe-9adc-5b9201ea6d3c.png)

Drop this ruby script in the same directory as the exported json file (name it find_empty_rectanglelabe

[2022-02-02 22:14] makseq commented on #1330
Merged in master branch, it will be included to LS 1.4.1.

[2022-02-02 22:14] #1330 closed

[2022-02-02 22:44] TRT-JamesC1729 opened #1993 "CORS error when trying to start annotation."
**Describe the bug**
I get this error after fresh install.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to New Project->upload a video-> select a template.
2. Click on the task to start annotation.

I tried running with and without host. 127.0.0.1 and localhost with and without port.

label-studio start --username label-studio --password label-studio --user-token 23fffefdvd  --host 'ht

[2022-02-02 22:47] TRT-JamesC1729 commented on #1993
I think is does not like my video format. It is mp4 but I understand video is more complex. What specific format does it have to be in?

[2022-02-02 23:09] smoreface commented on #1993
@TRT-JamesC1729 please, share your labeling configuration XML

[2022-02-03 00:36] makseq commented on #461
@beatanyari Thank you for your report. You are right, it's broken again. Created a ticket about this bug.

[2022-02-03 01:04] makseq commented on #1993
@TRT-JamesC1729 Could you also install LS from the latest github commit? We had similar problems previously, but they was fixed there.

[2022-02-03 09:25] bentrevett opened #1996 "A method to keep annotation labels visible when annotating a large body of text."
When performing NER annotations on a long piece of input text, I'd like some way to always keep the annotation labels visible, so I can always see the relevant hotkeys.

Screenshot 1: Annotation labels (PERSON, ORGANIZATION and LOCATION) and hotkeys show at the top of the screen at the beginning of text.

<img width="1440" alt="Screenshot 2022-02-03 at 09 19 54" src="https://user-images.githubuser

[2022-02-03 16:39] PhilipMay commented on #1982
I was also thinking of a "one click mode" where you do not 1. select the radio button and 2. submit.

What about one single button you can click, then you get a short visual feedback and after 0.5 sec. the formular
gets submitted?

[2022-02-03 23:13] odimko opened #1998 "Relax dependencies or allow `botocore==1.19.52`"
**Is your feature request related to a problem? Please describe.**
I am using the `label-studio` package in combination with [aiobotocore](https://github.com/aio-libs/aiobotocore) and because of the exact pin of `botocore` in `label-studio`, the two cannot be installed together since dependencies cannot be resolved, namely:
`label-studio` requires [botocore==1.19.28](https://github.com/heartexlabs

[2022-02-04 00:32] makseq commented on #1998
@odimko Relaxed deps have problems too: pip will try to resolve them automatically and it takes about hour :slightly_frowning_face: Do you know how to avoid this? We had this problem [with google packages](https://github.com/heartexlabs/label-studio/blob/master/deploy/requirements.txt#L11), but strong pins solved it.

[2022-02-04 01:30] makseq commented on #1998
Also you can try to install [aiobotocore](https://github.com/aio-libs/aiobotocore) after LS installation, it worked for me.

[2022-02-04 01:50] makseq commented on #1996
Please [check this sticky labels labeling config](https://labelstud.io/playground/?config=%3CView%3E%3Cbr%3E%20%20%3CView%20style%3D%22padding%3A%200%201em%3B%20margin%3A%201em%200%3B%20background%3A%20%23f1f1f1%3B%20position%3A%20sticky%3B%20top%3A%200%3B%20border-radius%3A%203px%22%3E%3Cbr%3E%20%20%20%20%3CLabels%20name%3D%22label%22%20toName%3D%22text%22%20showInline%3D%22true%22%3E%3Cbr%3E%20%

[2022-02-04 01:50] #1996 closed

[2022-02-04 09:41] bentrevett commented on #1996
That config did not fix my issue. The labels do follow the user as they scroll, but are not completely visible. I have 10 labels, so they usually get split across two rows on my monitor.

See:
![Screenshot 2022-02-04 at 09 39 39 (2)](https://user-images.githubusercontent.com/8006479/152506696-3d5d4e4e-ad26-461e-a1eb-53f9f6bdc03d.png)

[2022-02-04 10:26] vlordier opened #1999 "Dialog acts annotation template"
To the best of my efforts, I couldn’t find a ready-made template for dialog acts annotation : does it exist somewhere I didn’t look ?

[2022-02-04 13:33] sanatsingh commented on #1841
A python version of the same script incase you don't have R

[code]
Run using:-
[code]

[2022-02-04 13:34] dentalala commented on #1982
gets submitted?

That's an interesting idea which makes sense in many cases of labeling with choices.

[2022-02-04 20:26] makseq commented on #1996
Maybe [this config](https://labelstud.io/playground/?config=%3CView%20style%3D%22display%3A%20flex%3B%22%3E%3Cbr%3E%20%20%3CView%20style%3D%22padding%3A%200em%201em%3B%20background%3A%20%23f1f1f1%3B%20margin-right%3A%201em%3B%20border-radius%3A%203px%22%3E%3Cbr%3E%20%20%20%20%3CView%20style%3D%22position%3A%20sticky%3B%20top%3A%200%3B%20margin-top%3A%2050px%3B%20max-width%3A150px%22%3E%3Cbr%3E%20%

[2022-02-04 22:56] makseq commented on #1841
Please try to use `label-studio==1.4.1rc1`, this issues must be fixed starting from this LS version.

[2022-02-04 22:56] #1841 closed

[2022-02-06 08:58] ya0002 opened #2002 "socket.timeout: timed out"
Hi guys,
I am trying to integrate my ML backend to my label-studio, the backend has been set up and running, I am trying to perform active learning but whenever I start to train the model after annotating(Start model training after any annotations are submitted or updated is ON), I get `socket.timeout: timed out`

The ML backend is connected.

### COMPLETE TRACEBACK
[code]

[2022-02-07 13:15] makseq commented on #1999
@vlordier Please check [this labeling config](https://labelstud.io/playground/?config=%3CView%3E%3Cbr%3E%20%20%3CHyperText%20name%3D%22dialog%22%20value%3D%22%24dialogs%22%2F%3E%3Cbr%3E%3Cbr%3E%20%20%3CHeader%20value%3D%22Rate%20last%20answer%22%2F%3E%3Cbr%3E%20%20%3CChoices%20name%3D%22rating%22%20choice%3D%22single-radio%22%20toName%3D%22dialog%22%20showInline%3D%22true%22%3E%3Cbr%3E%20%20%20%20

[2022-02-07 13:15] #1999 closed

[2022-02-07 20:40] ya0002 commented on #2002
@makseq
I am using:
label-studio=1.4
label-studio-ml= 1.0.3

[2022-02-07 20:55] makseq commented on #1973
Max Tkachenko commented: test text

[2022-02-07 21:09] #1924 closed

[2022-02-07 21:23] makseq commented on #1913
Max Tkachenko commented: test

[2022-02-07 22:48] makseq commented on #2002
Are you sure 192.168.1.100:9090 is accessible from LS backend?

[2022-02-08 02:22] csaroff commented on #734
I'm running into this issue as well

[2022-02-08 08:55] ya0002 commented on #2002
Yes

![image](https://user-images.githubusercontent.com/48356056/152951750-a9342cb9-8d69-4a76-84d3-35c64f1888e3.png)

![image](https://user-images.githubusercontent.com/48356056/152951873-bdf059c5-40ea-48e1-b814-1e7ca38a117b.png)

[2022-02-08 09:28] johann-petrak opened #2007 "Label offsets incorrect, end offset goes beyond end of text"
**Describe the bug**

In rare cases, the offsets recorded for a label annotation end up being one larger than they should. This was only noticed because the end offset was actually one beyon the length of the text annotated.

This happens in a context were arabic text, mixed with latin words and emojis was annotated. The view for the text was styled with "direction: rtl;"  to show the arabic text

[2022-02-08 09:38] johann-petrak commented on #2007
Actually when we compare the text stored for the annotated label with the substring of the annotated text corresponding to the offsets stored with the label, almost none of the offsets seem to be correct!
We used the label-studio release 1.4 from pypi, assuming that this would work in a released version :/

[2022-02-08 10:48] odimko commented on #1998
Hey @makseq ! thanks for a quick reply :)
regarding pip being slow, it was a case indeed some time ago, but they've done some big improvements in this regard (e.g. https://github.com/pypa/pip/issues/9187) and dependency resolution sped up.

For example, I did a `time pip install` of the package and this is the result (using a clean Python virtualenv):
[code]
for comparison, this is the result when

[2022-02-08 12:11] luxiangx commented on #1240
I encounter the same problem when using the mmdection application in the tutorial. Has this problem been solved? Or is there a plan to solve it?

[2022-02-08 19:38] johann-petrak commented on #2007
Digging into this a bit deeper I noticed another issue which may be related to this:

The exported annotations JSON file contains the original data as the "data" key. In the original data I had a "text" field that contained the (Arabic) text to annotate.

HOWEVER: the "text" field in the exported JSON file in the "data" map contains ADDITIONAL characters from the unicode U+0080 to U+008F range!!!!

[2022-02-08 22:36] makseq commented on #2007
Possible duplicate: https://github.com/heartexlabs/label-studio/issues/1888

[2022-02-08 22:38] makseq commented on #2007
Could you try to use this LS version `pip install label-studio==1.4.1rc0`?

[2022-02-08 23:20] johann-petrak commented on #2007
Not sure if this is a duplicate of #1888 as we deliberately styled the view using "direction: rtl;" to make sure the label and original text words are shown in correct order.
Also #1888 does not really address the issues I detected later which may or not be related but are definitely a problem: that the text in the data section is different from the original and contains those control characters w

[2022-02-09 01:24] makseq commented on #734
Please check label-studio==1.4.1rc0

[2022-02-09 14:03] johann-petrak commented on #2007
I installed label-studio==1.4.1rc0

1) tried to export the data from the existing database using this version to see if the problem is maybe just introduced on export, but no
2) set up a mini project with for items. Used the same interface definition as before, annotated the last word in the text and tried to export

For this I get an error when doing the export:

[code]

[2022-02-09 14:39] #1901 closed

[2022-02-09 14:49] #1848 closed

[2022-02-09 14:54] berniwal commented on #1637
@anyght what did resolve your issue?

[2022-02-09 15:00] makseq commented on #1757
Please, check LS==1.4.1rc0, there you can save the labeling config with another labels.

[2022-02-09 15:00] #1757 closed

[2022-02-09 15:04] makseq commented on #1727
We are releasing a new details outliner (in LS 1.5), this problem is fixed there.

[2022-02-09 15:09] #1573 closed

[2022-02-09 15:21] KonstantinKorotaev commented on #1240
Hi @ch1ll @luxiangx
We are moving LS to active learning cycle and there won't be such call with a lot of tasks.
You can start training with /webhook endpoint, check webhooks [documentation](https://labelstud.io/guide/webhooks.html).

[2022-02-09 21:03] johann-petrak commented on #2007
OK, so I looked at this closer and there are at least 3 different issues here, in the data created with version 1.4:

1) I got output json where definitely the end offset for a marked label is one larger than the length of the text. The text stored with the label corresponds to the actual marked characters. So if the end offset gets reset to the length of the text, this is corrected.

2) in a numb

[2022-02-09 23:03] makseq commented on #2007
yes, write me there.

this error looks more like you have a mistake in your labeling config.

[2022-02-09 23:24] #1637 closed

[2022-02-10 00:14] makseq commented on #1998
@odimko Could you please check the fix in 1.4.1rc2: `pip install label-studio==1.4.1rc2` ?

[2022-02-10 01:26] #1886 closed

[2022-02-10 01:30] makseq commented on #1902
https://github.com/heartexlabs/label-studio-enterprise/pull/1861

[2022-02-10 02:00] luxiangx commented on #1240
@KonstantinKorotaev
Thank you for your reply. Instead of training the model, I just used the model and configuration recommended in mmdet to help predict the coco images' annotations. However, the memory increases quickly and does not decrease after each image is inferred. I want to make sure if it's the mmdet or the label-studio problem.

[2022-02-10 02:08] makseq commented on #1745
The fix is in master branch and will be release in 1.4.1.

[2022-02-10 02:08] #1745 closed

[2022-02-10 11:14] greyeagle opened #2009 "Tutorial pytorch-image-transfer-learning does not work"
First of all, thank you for all your great work!
I have a current installation of Label-Studio on Ubuntu 20.04. Wanting to classify images, I have followed the tutorial at https://labelstud.io/tutorials/pytorch-image-transfer-learning.html and got to the point where I could run the service and connect to Label-Studio, well sort of. However, it seems I am overlooking something in the last section `

[2022-02-10 11:22] odimko commented on #1998
@makseq , works like a charm!
[code]
the time has slightly increased because `reqs.txt` contains more than just label-studio as a requirement (I was testing my setup :)).

[2022-02-10 11:42] sachin-singh-12 opened #2010 "Access the labelling data from the postgres sql"
Hi, I am trying to access the annotation data i.e. the bounding box information from the postgres server. But I could not find any table having that data. I am using the default docker-compose configuration provided here - https://github.com/heartexlabs/label-studio/blob/master/docker-compose.yml to run the label studio. Can someone point me to the table I should look into?

[2022-02-10 13:49] MrityunjoyS opened #2011 "Error while processing audio. Check media format and availability."
My UI :-
`<View>
  <Audio name="audio" value="$audio" volume="true" zoom="true" hotkey="ctrl+enter"/>
  <View>
    <Text name="transcript" value="$text"/>
    <TextArea name="transcription" toName="audio" rows="4" editable="true" maxSubmissions="1"/>
  </View>
</View>
`
Json FIle used :-

`{
    "id": 1,
    "data": {
      "audio": "/data/upload/train__en-in__015646__3790__16k.wav",
       "text"

[2022-02-10 14:08] niedakh opened #2012 "Granularity option for <Paragraphs>"
**Is your feature request related to a problem? Please describe.**
NER annotation in dialogues is very uncomfortable and more time consuming without granularity option.

**Describe the solution you'd like**
Option granularity="word" working with <Paragraphs>

**Describe alternatives you've considered**
I now have to hack a javascript userscript to introduce paragraph formatting to <Text> NER annot

[2022-02-10 15:46] DCNemesis opened #2013 "Browser Dependency in loading audio from cloud source"
**Describe the bug**
My tasks are loaded from Cloud Storage (S3) with "Treat Every Bucket Object as a Source File". When using Chrome or Edge, the audio does not load, giving an error "Error while processing audio. Check media format and availability." When using Firefox, it loads fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a project with audio files being loaded from a Cloud

[2022-02-10 16:23] johann-petrak commented on #2007
The browser used was Microsoft Edge on Windows.

[2022-02-10 21:16] #1998 closed

[2022-02-10 21:18] makseq commented on #2009
@greyeagle Thank you for your kind words!

Could you check the ML backend from this branch - https://github.com/heartexlabs/label-studio-ml-backend/pull/72 ?

[2022-02-10 21:20] makseq commented on #2011
Could you open this wav by this path directly in your browser? Most likely it's a broken wav.

Also I recommend to use `label-studio==1.4.1rc3`, there were fixed some bugs with file uploads.

[2022-02-11 06:53] anabia-alam opened #2016 "Importing images from S3"
Hi,
I have created the project through Label Studio's python api. After creating task lists through the format,
{ data :
   { image : "s3://path_to_resource}
}
I am importing tasks through import_tasks() command. My question is,

- Even after running import_tasks(), the cloud storage option shows 'Never Synced' option. Are these same, import and sync? Because if they are why is 'never synced' show

[2022-02-11 10:12] odimko commented on #1998
thanks @makseq ! will the fix be released together with the version `1.4.1`?

[2022-02-11 10:32] makseq commented on #1998
Max Tkachenko commented: It’s already there\!

[2022-02-11 11:22] greyeagle commented on #2009
@makseq Thank you very much for your support!
Using that branch, things look much better. After going through the necessary installation steps I first got a timeout trying to connect. But that was only because there was a bunch of things being downloaded in the back by the ML backend. Second try after that was finished I got a working connection. Now I do have one more issue but that may be more r

[2022-02-11 17:21] makseq commented on #1451
Please check this docs: https://labelstud.io/guide/export.html#Export-snapshots-using-the-API
and this API endpoint: https://labelstud.io/api#operation/api_projects_exports_create

You can export task from any of your tabs using this API right now. Use `task_filter_options.view` to pass tab id there.

[2022-02-11 17:21] #1451 closed

[2022-02-11 23:19] makseq commented on #2009
@greyeagle Maybe you have to label more data with different labels (choices)?

[2022-02-12 04:16] kaustuk commented on #1680
Hi @makseq, sorry to bother you. Just wanted to check the status on this. Any thought by when this feature/PR would get reviewed?

[2022-02-12 10:38] fuzihaofzh opened #2019 "HyperText not work"
**Describe the bug**
I directly follow the example from the document https://labelstud.io/tags/hypertext.html

[code]
However, I get the following error:
[code]
Could you help to check whether this is a bug or not? How can I directly use the given example?

**Screenshots**
<img width="1261" alt="image" src="https://user-images.githubusercontent.com/1419566/153707946-8d5bf7c2-d9ee-439d-9256-dc30ecf

[2022-02-12 11:56] #2019 closed

[2022-02-13 17:54] fuzihaofzh opened #2020 "<a> element cannot open new page"
**Describe the bug**
I add an `<a>` element in the HyperText tags. However, I found it cannot open new pages. I guess it is due to the iframe setting that does not allow open a new link. But I found I cannot change the setting. Could you please help to solve this problem?

[code]

[2022-02-13 22:59] fuzihaofzh commented on #2020
Solved. Please use the following code:
[code]

[2022-02-13 22:59] #2020 closed

[2022-02-13 23:03] fuzihaofzh opened #2021 "Cannot put two HyperText block"
**Describe the bug**
When I put one HyperText block. Everything works fine. However, when I use two HyperText, it failed to render.
[code]
The corresponding error is:
[code]

<img width="999" alt="image" src="[https://user-images.githubusercontent.com/1419566/153779214-d4ef43c6-8a49-4529-a4ed-a8384f6164d1.png|https://user-images.githubusercontent.com/1419566/153779214-d4ef43c6-8a49-4529-a4ed-a8384

[2022-02-14 00:21] makseq commented on #2013
@DCNemesis Please, check this compatibility table:
https://en.wikipedia.org/wiki/HTML5_audio

Most likely Chrome and Edge don't support this audio format. What format do you use? Is it possible to share examples?

[2022-02-14 00:24] makseq commented on #2021
@fuzihaofzh Thank you for your report, looks like a bug. I've created a jira ticket, hope it will be fixed soon.

[2022-02-14 00:37] makseq commented on #1680
@kaustuk Thank you for pinging, I've asked to review your PR, then we will merge it.

[2022-02-14 09:15] greyeagle commented on #2009
@makseq Thanks again for your time!
I did find an error that looks suspicious:
[code]
Looking into my file system I see that the missing file is located in
`'/home/lars/.local/share/label-studio/media/upload/1/'` note the `1` as the task number.

In the image source set in LabelStudio it shows (only the first task shown her but there are all of them):
[code]
Looks like something is going wrong wit

[2022-02-14 12:40] greyeagle commented on #1622
Just came upon this request. Even I could work with the solution in #1229 I'd like to upvote being able to zoom the way described in the screenshots and this request. I's more natural in my opinion.

[2022-02-14 12:49] DCNemesis commented on #2013
The files are .wav files that are each one minute long (I guess I should have included that in my initial report). It's not the most compressed format, so maybe it has something to do with the time it would take to load?

[2022-02-15 01:06] makseq commented on #2013
Could you share an example of such a wav?

[2022-02-15 01:10] makseq commented on #2010
@sachin-singh-12 This table name is `task_completion`, it has the `result` field. It's a JSON dict. Hope it helps.

[2022-02-15 01:10] #2010 closed

[2022-02-15 01:13] makseq commented on #2012
@niedakh Could you please share your labeling config?

[2022-02-15 05:18] sachin-singh-12 commented on #2010
Yeah, that's all I needed, Thanks @makseq

[2022-02-15 17:19] DimIsaev opened #2027 "API method api/projects/validate/ - how to send the project number?"
there is only one line in the documentation with label config
how to send the project number?

[code]

[2022-02-15 20:45] makseq commented on #2027
@DimIsaev Just use `/api/projects/<project-id>/validate/` with

[code]

[2022-02-15 20:45] #2027 closed

[2022-02-16 03:07] tcexeexe opened #2031 "[WARNING] all_flags_state() called, but client is in offline mode. Returning empty state"
**Describe the bug**
when l run
`python label_studio/manage.py runserver`
l always see the warning  `[WARNING] all_flags_state() called, but client is in offline mode. Returning empty state`in the log, Although it doesn't bother me in terms of usage. But I wonder what causes this, and how do I eliminate it?

**Screenshots**
![1644980726(1)](https://user-images.githubusercontent.com/28287196/154188

[2022-02-16 04:51] DimIsaev commented on #2027
it doesn't seem to work
[code]

[code]

[2022-02-16 06:28] csaroff commented on #734
This appears to be fixed as of v1.4.1post1(didn't try rc0).

Thanks @makseq!

[2022-02-16 10:53] anabia-alam opened #2032 "Project retrieval"
Hi,
is there a way to access projects created? There's this method of get_task, is there a similar method for retrieving projects created through SDK

[2022-02-16 10:56] #2016 closed

[2022-02-16 15:01] DimIsaev opened #2035 "Error when adding a local address in the dock environment"
When adding a local address in the dock environment

![image](https://user-images.githubusercontent.com/11172642/154291830-57675352-6773-4ca8-9ddf-2ac897059de5.png)

**Environment (please complete the following information):**
 - OS: Ubuntu / Docker
 - Label Studio Version 1.4.0

[2022-02-16 17:16] tulbureandreit opened #2036 "YOLO import issue"
Hello,

I recently tried to import YOLO format into label studio. I convert them with label-studio-converter.

I always get this error and the image does not display in the tasks tab. Just the annotations.

[code]

To specify, I set up local storage correctly, exactly like in the tutorial: https://labelstud.io/guide/storage.html#Local-storage
And the problem is that the path to the image is messed

[2022-02-16 17:26] DCNemesis commented on #2013
I can't upload a wav to github, but I've shared a copy of such a file [for download here](https://drive.google.com/file/d/1jHzn8op2gnw_fd-dYiUlqYJE4OcrsB6_/view?usp=sharing). (this particular example is mostly silence, but it should work as an example file).

[2022-02-16 17:29] makseq commented on #2036
1. What paths do you have? (any examples)
2. What LS version do you use?

[2022-02-16 17:39] tulbureandreit commented on #2036
@makseq So I have my ls-config.json in: /home/user/Desktop/data

My images and labels folders, classes.txt are in the same folder, thus /home/user/Desktop/data/images, /home/user/Desktop/data/labels, /home/user/Desktop/data/classes.txt.

I followed the guide from https://github.com/heartexlabs/label-studio-converter/pull/46, to convert my annotations.

I have the images and labels folder also in t

[2022-02-16 17:41] tulbureandreit commented on #2036
@makseq what I see is that in the ls-config.json, the images paths are messed up. If I add the correct path there manually, then everything works fine.
eg.
This is what I get by default in the ls-config.json.

[code]

This is what I need in the ls-config.json.

[code]

[2022-02-16 18:13] timothyjlaurent commented on #1908
Bump -- please fix -- this seriously undermines the utility of this SDK

[2022-02-16 18:26] farioas commented on #2035
Please provide more details:
- label-studio logs
- result of `curl http://prom:9090/send`

[2022-02-16 19:04] makseq commented on #2035
Are you sure your LS server instance can access this address - prom:9090?

[2022-02-17 00:20] makseq commented on #2036
yes, but you have to specify correctly all paths to azure storage + setup azure storage in LS.

[2022-02-17 00:26] makseq commented on #2036
@tulbureandreit You have to specify `--image-root-url` correctly, e.g.

[code]

[2022-02-17 00:32] makseq commented on #2031
@tcexeexe We use launchdarkly for feature flags management, and it is turned off by default. The launchdarkly client writes that it can't retrieve feature flags. Most likely it's not important for your right now :)

[2022-02-17 00:32] #2031 closed

[2022-02-17 00:36] makseq commented on #2027
Just remove the last trailing slash

http://{url}:{port}/api/projects/{id_project}/validate/
=>
http://{url}:{port}/api/projects/{id_project}/validate

[2022-02-17 00:37] #734 closed

[2022-02-17 00:38] makseq commented on #2032
Please, check this link
https://labelstud.io/sdk/client.html#label_studio_sdk.client.Client.list_projects

[2022-02-17 00:38] #2032 closed

[2022-02-17 02:23] alishir opened #2041 "Support CouchDB data source"

[2022-02-17 05:28] DimIsaev commented on #2035
- Error  label-studio logs

[code]

[2022-02-17 05:39] DimIsaev commented on #2027
the request worked, but the configuration remained unchanged

answer
[code]
log:
![image](https://user-images.githubusercontent.com/11172642/154412497-36eb5230-965f-4430-8a5f-5ba8899854be.png)

[2022-02-17 07:44] KonstantinKorotaev commented on #2009
Hi @greyeagle
I have pushed latest fixes to https://github.com/heartexlabs/label-studio-ml-backend/pull/72
Could you please update your ML backend and try one more time?

This issue with project number was fixed

[2022-02-17 08:03] makseq commented on #2027
What is your original project config and the new one you are trying to validate?

[2022-02-17 08:54] DimIsaev commented on #2027
source
![image](https://user-images.githubusercontent.com/11172642/154440023-a9b5eed6-5f48-42bd-a127-e4ecc6f3d826.png)

validate
![image](https://user-images.githubusercontent.com/11172642/154440161-5d4c7f98-3d00-40c5-ba2c-76fa908d8205.png)

[2022-02-17 12:33] anabia-alam opened #2042 "Exporting only annotated images"
Hi,
Currently, LS exports all the images, is there a feature to only export annotated images and not the ones that have been skipped though LS SDK?

[2022-02-17 19:48] makseq commented on #2042
Hello, this feature is not yet supported in SDK, but you can call a direct API request:
https://labelstud.io/guide/export.html#Export-snapshots-using-the-API

[2022-02-17 19:50] #2042 closed

[2022-02-17 23:54] hlomzik commented on #1809
fixed in #1875

[2022-02-17 23:54] #1809 closed

[2022-02-18 08:42] DimIsaev commented on #2027
You do not hear me ?
Yes answer 200

but the configuration does not change!

I'm sending
![image](https://user-images.githubusercontent.com/11172642/154647311-7a27b83b-489e-4c59-bfd0-26493f42dfbe.png)

answer 200
'''
{'config_essential_data_has_changed': None}
'''
![image](https://user-images.githubusercontent.com/11172642/154647525-b1c5b785-c41a-49f5-9540-8b9cdf9b7858.png)

But the config doesn't

[2022-02-18 08:43] DimIsaev commented on #2035
Wait for an answer ?

[2022-02-19 03:26] ijmiller2 commented on #1340
Have been troubleshooting a very similar error and [discussing with Sarah and Andrey in Slack](https://label-studio.slack.com/archives/CQ8LYPPJS/p1645115772315399). This ended up resolving my error too.

[2022-02-19 05:21] DimIsaev commented on #2027
thanks, this is working to me

[2022-02-20 05:31] whwang299 opened #2049 ""Rate PDF" example from "playground" does not show pdf"
**Describe the bug**
"Rate PDF" example from "playground" does not show the pdf.

**To Reproduce**
Steps to reproduce the behavior:
1. Install `label-studio-1.4.1` via `pip` on `conda` (`python3.8.11`) on `Ubuntu-20.04`.
2. Run label-studio by typing `label-studio start --nobrowser`.
3. Access the server from labtop.
4. Setup labeling config following (https://labelstud.io/playground/)
[code]

5.

[2022-02-21 07:21] anabia-alam commented on #2042
Thank you for your prompt response. Is the process still the same if I want to sync/export annotations to S3?
I only want to export annotated/completed images to S3.

[2022-02-21 07:46] greyeagle commented on #2009
Hi @KonstantinKorotaev
Thank you very much for fixing this! I was out of the office for a few days so I tried first thing this morning. I did:
`git pull`
Delete the backend and then
`label-studio-ml init --force pytorch_backend --script label_studio_ml/examples/pytorch_transfer_learning/pytorch_transfer_learning.py` to re-generate the backend.

The issue with the image path is gone indeed, so I as

[2022-02-21 07:54] chiganov commented on #2035
Hi and thank you for the question.

We use django url validator here. It was supposed that would be used for external remote addresses but not for docker network. So we use [URLValidator](https://docs.djangoproject.com/en/4.0/ref/validators/#urlvalidator) here which has following [regexp rule](https://github.com/django/django/blob/main/django/core/validators.py#L94
)

Like available solution if yo

[2022-02-21 08:59] chiganov commented on #1941
Hi

Use [this docs](https://labelstud.io/guide/storedata.html) to set up the aplication with postgress.

[2022-02-21 11:24] sachin-singh-12 opened #2050 "Removing dulplicate tasks"
Hi, I have following issues -
1.  I don't know why but when I synced  my source storage (local storage). Many duplicate tasks got created though there were not any duplicate files in my source data.
2. Next, when I am trying to delete these duplicate tasks using the "remove duplicate tasks" option. Every time it gets "gateway time out" (in total there are around 25K tasks). Even with just 1000 tas

[2022-02-21 18:37] mihail911 opened #2054 "How to Have Label Refer to Multiple Images"
**Is your feature request related to a problem? Please describe.**

When creating a custom labeling interface where you want each task to have two potential images you can label I would like a way to have a Label (Keypointlabel etc. ) object be applicable to both images. Right now the “toName” field only seems to refer to a single image. It would be nice not to have to create separate Label object

[2022-02-22 00:07] makseq commented on #1620
I've implemented label renaming in this PR as experimental feature
https://github.com/heartexlabs/label-studio/pull/2055/files

You can switch to this branch and run LS as follow:
[code]

Please check this video tutorial:
https://user-images.githubusercontent.com/501780/155040602-80e5158f-161b-4422-ae96-fa4c8c69e86d.mp4

[2022-02-22 00:11] makseq commented on #2054
[Please check this example.](https://labelstud.io/playground/?config=%3CView%3E%3Cbr%3E%20%20%3CImage%20name%3D%22image%22%20value%3D%22%24image%22%2F%3E%3Cbr%3E%20%20%3CChoices%20name%3D%22choice%22%20toName%3D%22image%22%20showInLine%3D%22true%22%3E%3Cbr%3E%20%20%20%20%3CChoice%20value%3D%22Boeing%22%20background%3D%22blue%22%2F%3E%3Cbr%3E%20%20%20%20%3CChoice%20value%3D%22Airbus%22%20background

[2022-02-22 00:18] makseq commented on #2050
1. What LS version do you use? Looks like a bug.
2. As we've discussed it in slack, you can run the code of Remove Duplicates action in the `label-studio shell`.

[2022-02-22 00:46] makseq commented on #2042
No, S3 export via Target Storages is a different process. Annotations are stored in separated json files and updated on each Submit/Update click.
Check this for more information: https://labelstud.io/guide/storage.html#Target-storages

[2022-02-22 00:55] makseq commented on #2049
@whwang299 Please, try to use <HyperText name="pdf" value="$pdf" **inline="true"** />

[2022-02-22 00:55] #2049 closed

[2022-02-22 01:54] whwang299 commented on #2049
Thanks!

[2022-02-22 06:23] sachin-singh-12 commented on #2050
1. I am using LS version 1.4 using docker
2. I tried the solution we discussed on slack i.e. after entering command line mode using label-studio shell, I ran following commands
[code]
But this is running indefinitely. Specifically this line is taking time
https://github.com/heartexlabs/label-studio/blob/101e8766723c6ddf5aab3b74f30ef61890d05736/label_studio/data_manager/actions/experimental.py#L79

[2022-02-22 16:44] tilusnet opened #2057 "Local Storage referencing documentation is unclear"
Specifically, https://labelstud.io/guide/storage.html#Tasks-with-local-storage-file-references exemplifies magic `/data/local-files/?d=dataset1` path prefixes out of the blue.

Is the `/data/local-files/?d=` prefix a to be hardcoded part of a [LS JSON Task file](https://labelstud.io/guide/tasks.html#Basic-Label-Studio-JSON-format)'s value fields?

What does `dataset1` mean?
Is it somehow related t

[2022-02-22 17:28] Selimonder commented on #384
Hello,

Has there been any progress regarding the development of this feature?

[2022-02-22 18:03] tilusnet commented on #2057
I don't think this works.

My local files only start to become accessible once I sync.
If I plainly import a manually crafted task json file, the files are not shown.

[2022-02-22 18:13] tilusnet opened #2058 "Tasks with local storage file references do not load files unless explicitly synced"
**Describe the bug**
Description at [Tasks with local storage file references](https://labelstud.io/guide/storage.html#Tasks-with-local-storage-file-references) does not hold. Quote:

**In those cases, you can add local storage without syncing** (to avoid automatic task creation from storage files) and specify the local files in your data values.

One cannot add a local storage like that.
The file

[2022-02-22 18:15] tilusnet commented on #2057
I created #2058 for what I believe it's a bug.

[2022-02-22 19:11] pa-mc commented on #2057
I believe so, I think the problem is that the logic to consider `LABEL_STUDIO_LOCAL_FILES_DOCUMENT_ROOT` is not in the necessary label_studio_tools repo.

I had a custom ml backend, I could load & sync the local images in the label-studio UI. However, whenever I click on a image that's been synced to UI, it would give me an error suggesting that file does not exist.

[code]

Here is the task id. I

[2022-02-22 22:00] timothyjlaurent commented on #1908
This can be worked around with `get_paginated_tasks`

[code]

[2022-02-22 22:59] makseq commented on #2058
@tilusnet Could you please show your
1. env variables (LABEL_STUDIO_LOCAL_FILES_SERVING_ENABLED & LABEL_STUDIO_LOCAL_FILES_DOCUMENT_ROOT)
2. screenshot of how you setup Local Storage in LS settings
3. example of import json

[2022-02-22 23:25] makseq commented on #2057
Does this video help?
https://www.youtube.com/watch?v=lo6ncQajbdU

[2022-02-22 23:42] makseq commented on #1908
Also we have this solution - https://github.com/heartexlabs/label-studio-sdk/pull/31 - but it will work only with the latest master commits from LS.

[2022-02-23 09:43] KonstantinKorotaev commented on #2009
Hi @greyeagle
I have pushed fixes to https://github.com/heartexlabs/label-studio-ml-backend/pull/72
Could you please update example and check?

[2022-02-23 10:32] Antoine101 opened #2062 "Display source filename for S3 objects"
**Is your feature request related to a problem? Please describe.**

I sync audio files from an S3 bucket in label-studio. I want to label events in these audios. Unfortunately, there doesn't seem to be any way to display the source filenames and to see the names as they are displayed in the bucket.

**Describe the solution you'd like**

As a user,
I would like to be able to see the name of my S3 s

[2022-02-23 10:36] kaustuk opened #2063 "Able to replace some macros at time of task server"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-23 10:36] #2063 closed

[2022-02-23 10:37] kaustuk commented on #2063
By mistake it got created so closing it

[2022-02-23 11:41] greyeagle commented on #2009
Hi @KonstantinKorotaev
Thank you for the further update. I have updated my installation with the following results:
1) In the file `pytorch_transfer_learning.py` in line 99 it said
`return self.model(images).data.numpy()` raising an error. I changed this to `return self.model(images).cpu().data.numpy()` and that seemed to solve it. Maybe you can include that change if you deem it valid.
2) I still

[2022-02-23 16:59] johann-petrak opened #2064 "Show task number in task list when in the annotation view"
Referring to version 1.4.1.post1

When in the task list for a project and clicking on one of tasks, the annotation view gets shown. This also shows in the left pane the list of tasks. All great!

However, the task list does not show the task id any more. Instead it shows a check box and the total number of annotations.

It would be very useful the show the task number in that list because that wou

[2022-02-23 22:43] makseq commented on #2064
You can fix this using API like mentioned here: https://github.com/heartexlabs/label-studio/issues/1354#issuecomment-905835880

[2022-02-24 01:24] makseq commented on #2062
@Antoine101 Try to click on "aud" and select "str":
![image](https://user-images.githubusercontent.com/501780/155439256-dc2a9cb5-b3ba-4272-93ab-d1d84c0c4c4b.png)

[2022-02-24 07:30] johann-petrak commented on #1354
That screenshot looks like a browser-only patch, which is not an option with  annotators who are not developers :)
Would there be a patch directly in the frontend code to achieve the same and could you point out the proper file/location?

[2022-02-24 11:08] Antoine101 commented on #2062
Hi @makseq ,

Thanks for your swift reply!
I tried as you suggest and it works.

Although going from "aud" to "str" made label-studio crash at first. And loading the interface with the "aud" selected by default takes some time and crashes every now and then.

Maybe the "str" mode should be set by default on the main interface (with possibility to switch to "aud" once the main interface is loaded)?

[2022-02-24 15:57] makseq commented on #1248
Max Tkachenko commented: [~accountid:620de827878c2f00729a06e9] could you QA this please?

[2022-02-24 22:57] Cazual opened #2069 "Create Masks Using RectangleLabels and Export to COCO Format"
**Is your feature request related to a problem? Please describe.**
I am unable to train my Mask-RCNN using bounding box annotations created in Label Studio. This is because there are no masks created when using the RectangleLabels to annotate. There is also no mask export happening when using COCO export.

**Describe the solution you'd like**
I previously used a different tool called [COCO Annotat

[2022-02-24 23:57] makseq commented on #2062
No, it's not related to aud/str. Looks like you used incorrect option in the storage settings - try to play with toggle "Treat files as ... " (something like this) in the Cloud Storage Settings dialog.

[2022-02-25 00:43] makseq commented on #1354
No, you have to call PATCH /api/views?.... only once on your admin side.

[2022-02-25 09:44] KonstantinKorotaev commented on #2009
Hi @greyeagle
I have pushed fixes for your latest comment to https://github.com/heartexlabs/label-studio-ml-backend/pull/72
Could you please update example and check?

[2022-02-25 11:35] tilusnet opened #2070 "Delete Annotations for current user only"
**Is your feature request related to a problem? Please describe.**
**Tasks** -> **Delete Annotations** deletes _all_ annotations, regardless of user who annotated them.

**Describe the solution you'd like**
Limit delete action to the annotations owned by the current user.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-02-25 12:13] makseq commented on #1248
Boris Sabados commented: Status: Failed QA.
Applications Tested: LSE, OpenSource.
Environment: Feature branch.
OS: Win10.
Browser: Chrome.
LSE URL: [https://fix-dev-1703-lost-task-position-in.dev.heartex.com/|https://fix-dev-1703-lost-task-position-in.dev.heartex.com/]
URL: local, built from: master
Result: [~accountid:61f06564cb7c5f006bea0f10] I have couple of concerns:

* Although the solution s

[2022-02-25 12:44] greyeagle commented on #2009
Hi @KonstantinKorotaev Thank you very much. I will test it as soon as I can. Will be Tuesday next week likely.

[2022-02-28 03:56] nickvazz commented on #1886
Did not appear to fix the issue :/

[2022-02-28 10:47] tilusnet commented on #1339
+1 from me, I'd like formatted instructions too.

[2022-02-28 14:23] greyeagle commented on #2009
Hi @KonstantinKorotaev , I did a new test just now and the results are as follows:
On pressing"Start Training" in the project settings I get (on the label studio ml terminal):
[code]

On switching form image to image in the labeling view I get:
[code]
If I change that line to `return self.model(images).to(device).data.cpu().numpy()` I get a new assertion error:
[code]
I'm wondering if we may have

[2022-02-28 17:38] pa-mc commented on #2057
Hi @makseq thank you for sharing the video clip. I did use the latest version of label-studio. However, I did not use the `.json` file as the data source, but rather the actual file directory path as source & target.

[code]

I will give it a try at some point with local storage, but I've moved on to use Azure blob store, which worked like a charm ;)

[2022-03-01 00:38] makseq commented on #1248
Max Tkachenko commented: [~accountid:61f06564cb7c5f006bea0f10] Could you please create a PR for opensource too?

[2022-03-01 00:59] makseq commented on #1886
@nickvazz if you are talking about spaces in "Absolute local path", then yes, spaces could affect it.

[2022-03-01 11:53] maiiabocharova opened #2078 "PDF annotation support"
Hello, it will be great if you add support for PDF annotation - such that both text & coordinates could be exported.

P.S. Thanks for the wonderful project.

[2022-03-01 19:03] dflatow commented on #1326
This would be very useful. 👍  for performance with longer time series.

[2022-03-02 00:02] makseq commented on #2078
@maiiabocharova You can convert PDF pages to JPGs and import them to LS. Then use OCR template:
https://labelstud.io/templates/optical_character_recognition.html

[2022-03-02 03:37] smoreface commented on #2054
This comes up frequently, and wanting a way to do this _without duplicating labels_ in the config. Reopening.

[2022-03-03 09:56] dsmanl opened #2086 "Images are not displayed when importing local tasks from JSON files"
**Describe the bug**

I am trying to import tasks from local storage using the label studio Docker image for image annotation. For this purpose I am following the steps described in the documentation - described [here](https://labelstud.io/guide/tasks.html#Import-data-from-a-local-directory) and [here](https://labelstud.io/guide/start.html#Run-Label-Studio-on-Docker-and-use-local-storage).

While

[2022-03-03 10:41] tatiana-iazykova opened #2087 "Custom template"
Hello!
I was wondering how to create a template for BBox labeling on html with multiple jpg or if it's possible, on pdf, since basically I need to markup multi-page documents with BBoxes.
I couldn't find any suitable templates or hints, so I decided to reach out for your help.

Thank you in advance!

[2022-03-04 11:42] ALIYoussef commented on #1470
I am facing the same issue! and null annotations is not resulting in the exported coco json format (semantic segmentation task)!
Not sure how to use the label-studio-converter! Any suggestion?

[2022-03-04 17:15] KonstantinKorotaev commented on #1470
@ALIYoussef Could you please check if fix from [57](https://github.com/heartexlabs/label-studio-converter/pull/57) resolves your issue?

[2022-03-04 20:44] kielnino commented on #1470
@KonstantinKorotaev I've just pulled the latest official label-studio docker container and installed label-studio-converter from the mentioned pull-request (https://github.com/heartexlabs/label-studio-converter/tree/fix/gh1470-coco-images).

With the given steps to reproduced from the initial description of this issue, I still get only the images, where bounding boxes were drawn and not the images

[2022-03-06 11:42] ALIYoussef commented on #1470
Thank you for reply.
Using the app and trying the to export annotations is still missing the null annotations images.
Do I have to pull from a specific branch or directly from the master?

[2022-03-07 08:14] greyeagle commented on #2009
Hi @KonstantinKorotaev , I just noticed the branch was merged. As I still do not get it to work, I did the following:
- deleted the venv
- switch back to master and pull
- install requirements.txt
- install examples/pytorch_transfer_learning/requirements.txt
- pip install -U -e .
- On trying to init the backend I get a missing `redis` so `pip install redis`
- I then get a missing `rq` so `pip inst

[2022-03-08 00:28] makseq commented on #2087
Hello,

BBoxes are available only for images (jpg, png, gif), so you should save all your pages as different images. If you need multiple pages, you can use different `<Image value="$image1">` in the same labeling config.

[2022-03-08 11:57] meltem-cetiner opened #2098 "Questions: Multi type file upload Example"
Hi all,

I would like to use Label Studio for annotating name entities via text checking image file to see ocr errors.  I set up the configuration as here:
[code]
And wanted to put text and image files with same name before file extention. But It coulnt work. Is there any example oft this task. Or any help ?

Thanks in advance!

[2022-03-08 16:05] ijmiller2 opened #2102 "Validation error - These fields are not present in the data: image"
**Describe the bug**

I’m stuck on another validation error, which I believe to be some kind of bug. I have had previous issues with validation errors (e.g., re: issue #1620 where @triklozoid was able to resolve the issue, although I think somewhat manually), which effectively block my ability to use the Labeling Interface any further. But this time the error refers to a missing “image” field, yet

[2022-03-08 18:45] JamieSlome opened #2104 "Found a possible security concern"
Hey there!

I belong to an open source security research community, and a member (@bapi011) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice

[2022-03-09 06:22] tatiana-iazykova commented on #2087
Okay... Got it. Will the solution with different `<Image value="$image1"> <Image value="$image2">` work if the number of images is not determined?

[2022-03-09 08:32] cgebbe opened #2106 "Shortcuts for relation"
**Is your feature request related to a problem? Please describe.**
Labeling relations currently requires several clicks:
- click on first region
- click on "create relation" in sidebar (This can be already done with Alt+R)
- click on second region
- click on "..." in relations
- click on labels textbar
- click on desired label

**Describe the solution you'd like**
Could you add keyboard shortcuts

[2022-03-09 12:36] superdev808 commented on #1863
@aristizabal95 The above issue is resolved in latest master branch. Please test it again. Thanks

[2022-03-09 12:47] #1863 closed

[2022-03-10 02:18] makseq commented on #2087
You can try another way - the Repeater tag - https://github.com/heartexlabs/label-studio-frontend/pull/346/files#diff-418690bbcabf557b26554241aa68cee610c402d10c44528307f14367bed94871R4 , it works, but it's not fully supported.

[2022-03-10 08:46] xiaohou1112 opened #2113 "Can't find the words I want to label when use relation extraction template"
I created a project,import my file in csv, choose relation extraction template.
and then when start labeling, the interface be like this, showing the title of my text,and couldn't find the words below which I want to label.
![label](https://user-images.githubusercontent.com/62997063/157623187-28fd3864-351f-4432-961a-34931f3cc2a8.jpg)
![image](https://user-images.githubusercontent.com/62997063/1576

[2022-03-10 10:21] greyeagle commented on #2086
I can add that the issue seems the same on Ubuntu and with remote S3 storage. In my case I synced image labeling tasks to `Target Cloud Storage`. I then tried using the same bucket as source on another machine. On syncing the tasks on the new machine, I also get falsely interpreted data, I assume same issue as above.

[2022-03-10 15:40] johann-petrak commented on #2007
We did not hit any instances of this problem any more.
So overall looks good, closing.

[2022-03-10 15:40] #2007 closed

[2022-03-10 19:48] ijmiller2 commented on #2102
FYI, just trying to read through some similar issues for any overlap. I think this error might be related to #1683. However, even if I clear all instances of `required="true"` from the config, I still get this error.

[2022-03-11 09:09] tatiana-iazykova commented on #2087
Looks promising, but I don't fully understand how to use it to unify images, for example, from the same folder. Imagine the following structure of the data with uploading through sync (local storage) where each file is divided into pages and those pages are in one folder. Could you please run me through through the process of creating config for that structure?

[2022-03-11 16:55] dflatow opened #2118 "Performance improvements for large time series"
### Is your feature request related to a problem?

Performance degradation with larger time-series.

### Describe the solution you'd like

We work with very large time series which can be highly demanding when fully loaded in memory. We would like to be able to be able to:

- Open the large file and load a standard field of view (frame)
- While also lazy loading a buffer of previous and subsequent

[2022-03-11 19:59] makseq commented on #2118
@dflatow Thank you very much for your feature request ;-)

[2022-03-12 22:20] finiteautomata opened #2124 "Sticky labels not keeping at top"
I'm trying to label a big text file with a custom template using a sticky view. However, as I scroll down on a text file, label buttons do not stay at the top.

The template:

[code]

Label studio version:

[code]

[2022-03-14 05:36] jangsiye opened #2125 "Multi-label is not saved in YOLO format"
We are working on labeling using the label studio.

The issues we found are as follows: If you export data in YOLO format, the multi-label will not be saved.

For example, if there is an object that is a vehicle and a truck, only the vehicle label is recorded in the annotation file when stored in YOLO format.
It was confirmed that the json and csv formats, not the YOLO format, were stored normally

[2022-03-14 06:44] jangsiye commented on #2125
The error can be corrected as follows.

File path: \pythonXX\Lib\site-packages\label_studio_converter\converter.py

[code]

I don't know where to reflect it, so I leave the code here instead.

[2022-03-14 08:12] KonstantinKorotaev commented on #1470
@ALIYoussef
Could you please install label-studio-converter 0.0.39.dev0 to your environment and check again?

[2022-03-14 22:18] tdszyman opened #2130 "Choice pre-selection does not work if `perRegion` is set"
Normally setting `selected="true"` in a Choice element will pre-select that choice. However, this does not work if the `perRegion="true"` flag is also set.

This was mentioned in another issue, and the playground example illustrates the bug:

Seems not work when `perRegion` is true, check [this playground](https://labelstud.io/playground/?config=%3CView%3E%3Cbr%3E%20%20%3CLabels%20name%3D%22label%

[2022-03-15 00:31] makseq commented on #461
relative: https://github.com/heartexlabs/label-studio/issues/2130

[2022-03-15 00:32] makseq commented on #2130
Please, don't check it in playground - it's outdated. Doesn't it work in the latest LS version?

[2022-03-15 00:48] makseq commented on #2113
What is you labeling config? Could you share an uploaded file with tasks?

[2022-03-15 00:56] makseq commented on #2086
If you check Treat every bucket object as a source file, you have to use "File Filter Regex: .*jpg"

[2022-03-15 02:29] lfoppiano opened #2131 "import data from url and file seems behaving differently"
**Describe the bug**
I'm trying to import the data to be annotated using an URL which point to an application that automatically generate the correct json format for label studio.

When I import via the URL the data is imported as a single empty file:

<img width="1288" alt="image" src="https://user-images.githubusercontent.com/15426/158293342-ec5460e0-d2f8-41b7-ae99-0bf5666dad4a.png">

however if

[2022-03-15 08:02] RasmusJohns opened #2132 "Center camera on annotation"
**Is your feature request related to a problem? Please describe.**
In our use case, we have about 600 labels and 100 annotations per high-res image. Verifying the correctness of these annotations can be very tedious, as you have two options:

1. Zoom in on an annotation until the label is big enough to display the text, which is really tedious when you have 100 small annotations spread out across

[2022-03-15 08:06] greyeagle commented on #2086
@makseq : Thank you for that hint. Is this also true if the source folder contains nothing but `.jpg` files? I thought I only need to filter if there are mixed files. What I have is a source folder with JSON for the tasks (this folder is the output of the other machine) and another source folder with the corresponding images (only here I use `Treat every bucket object as a source file`). Both fold

[2022-03-15 08:15] dsmanl commented on #2086
Thanks for coming back to us, @makseq ! The goal is to import pre-annotated tasks (in Label Studio JSON format) and this is why I have used "File Filter Regex: .*json". Each task is in a single JSON file. In the past it worked quite well using this approach.

If I use .*jpg, the image is displayed correctly. However, pre-annotations are not considered.

![image](https://user-images.githubuserconte

[2022-03-15 14:50] Dario-Mantegazza commented on #1667
Hi, I think I might have asked a relevant question https://label-studio.slack.com/archives/C01Q5G6NMKR/p1647355469784679
Any updates on the features? is it still experimental?
Thanks

[2022-03-15 15:02] Dario-Mantegazza commented on #1239
I have a similar problem, I'm trying to find a fast way to label multiple images that are similar to each other. I would like to do a shift +right click and select n rows and for those tasks set the same classification label. I've also commented on the same problem here https://github.com/heartexlabs/label-studio/issues/1667#issuecomment-1068075840

[2022-03-15 15:28] #2078 closed

[2022-03-15 15:30] makseq commented on #2086
@greyeagle @dsmanl Have you added Local Storage with the same settings to the new project?

[2022-03-15 15:32] makseq commented on #2087
@tatiana-iazykova You have to use custom task files in JSON format to describe this folder structure in Label Studio. Storage sync won't work here.

[2022-03-15 15:32] #2087 closed

[2022-03-15 15:35] panoplied commented on #2106
Hey, thanks for the proposal! We actually are working on improving relations workflow and will definitely take your feedback into account.

[2022-03-15 15:55] #1598 closed

[2022-03-15 22:57] makseq commented on #1667
@Dario-Mantegazza Yes, it's available as experimental feature, but it's easy to enable.

[2022-03-15 23:02] makseq commented on #1239
You can solve it using the experimental "Propagate annotations" feature, as it's mentioned in the related issue.

[2022-03-16 00:05] makseq commented on #2131
You should add valueType="url" to your <Text> tag.

[2022-03-16 00:05] #2131 closed

[2022-03-16 00:08] lfoppiano commented on #2131
Sorry, @makseq which tag are you talking about? I did not get it

[2022-03-16 00:13] makseq commented on #2131
What is your labeling config?

[2022-03-16 00:32] lfoppiano commented on #2131
You mean this?

[code]

[2022-03-16 02:37] jax79sg opened #2134 "Playground image labelling errors"
**Describe the bug**
Changing to `value=$video` will give error as follows;
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[Playground](https://labelstud.io/playground/)'
2. Click on 'Image Classification'
3. Change `value="$image"` to `value="$video"`
4. See error

**Expected behavior**
The video https://app.heartex.ai/static/samples/opossum_snow.mp4 will load and allow play

[2022-03-16 08:49] Colton34 opened #2136 "中文支持？"
有中文支持吗？如果可以的话 我可以参与翻译工作？

[2022-03-16 09:11] Dario-Mantegazza commented on #1239
True, but what I was trying to highlight is the lack of drag-select or shift+right click selection both in the grid and table view. I think that these two are two separate functions that combined will solve both this and the other issue.

[2022-03-16 09:15] Dario-Mantegazza commented on #1667
Hi @makseq, Thanks for the reply.
I tried the functionality and since all my samples are images with the same resolution and my annotation is a label for the whole image I think I'm in the "stable usage", unfortunately, I get some errors and it doesn't work. Would it be useful if I send you more information or it is an expected instability due to the experimental status of the functionality?

[2022-03-16 11:50] JulesBelveze opened #2138 "Ability to hide part of the relations"
**Is your feature request related to a problem? Please describe.**
We have a labelling task involving to create a consequent amount of relations between labels. We end up having really messy samples with arrows crossing all over, which makes it really hard to isolate them, making the reviewing process somehow painful...

Unfortunately it's only possible to hide all of the relations and not just so

[2022-03-16 13:03] makseq commented on #2136
Unfortunately no, but we had some tries from our contributors - https://github.com/heartexlabs/label-studio/pull/1409.

[2022-03-16 13:03] #2136 closed

[2022-03-16 17:39] jmoyanodicarlo opened #2139 "perRegion parameter within Taxonomy"
Hi,

We are using **taxonomy** to classify image polygons but we need to attached different labels to different polygons in the same image.
Is there a way to set perRegion within taxonomy?

Thanks!

[2022-03-17 00:58] makseq commented on #2138
Thank you for your feature request!

Also you can use region "eye" icon to hide a region + relation.
![image](https://user-images.githubusercontent.com/501780/158715463-8480ee9f-69ac-46fd-981a-2d4458e74304.png)

[2022-03-17 01:00] makseq commented on #1667
@Dario-Mantegazza Sure, please send more info us. The best is to have video with your screen here.

[2022-03-17 01:02] makseq commented on #1239
@Dario-Mantegazza Could you please create a new issue with shift + drag feature request?

[2022-03-17 01:06] #2134 closed

[2022-03-17 01:08] makseq commented on #2131
Let's try to use this:

[code]

[2022-03-17 01:23] makseq commented on #2124
Thank you for your question, it was kind of a bug in playground. I've fixed it.

This template should work as expected:

[code]

[2022-03-17 01:23] #2124 closed

[2022-03-17 01:25] lfoppiano commented on #2131
Thanks.

I tried, it's better as I can see the data, but it is not parsed:

<img width="1323" alt="image" src="https://user-images.githubusercontent.com/15426/158718150-16206df0-3131-4eee-abf4-3abecf7a3488.png">

[2022-03-17 12:26] hlomzik commented on #2139
Yes, it works good, just use `perRegion="true"` as usual. We'll add this to tag documentation

[2022-03-17 12:26] #2139 closed

[2022-03-18 02:09] makseq commented on #2131
Ok, I see that you need to import this file directly to LS and use this config:

[code]

[2022-03-18 02:15] lfoppiano commented on #2131
Yes but I want to import the data from an URL as here:
<img width="1059" alt="image" src="https://user-images.githubusercontent.com/15426/158924480-7649e61a-a7b7-496e-81b4-19e6ec33edaa.png">

Why is not working? What should I change to make it work?

[2022-03-18 03:06] shiquanwang opened #2147 "Support human pose annotation"
**Is your feature request related to a problem? Please describe.**

I need to annotate human pose for pose estimation and alike problems.

**Describe the solution you'd like**

A key point with lines between connected key points to represent human body, e.g., head, body, left arm, right arm, left foot, right foot. It can be more complex to better model human body. Ideally it can support self defin

[2022-03-18 07:16] dsmanl commented on #2086
@makseq sorry the delayed reply. Yes, I did. Nothing changed but the Docker image. Unfortunately, I don't have a note on the digest available. Could be about nine months ago.

[2022-03-18 10:49] wojnarabc opened #2150 "API export to json with "download_all_tasks" flag doesn't work"
**Describe the bug**
When trying to export all content from our project with:
`curl -X GET http://localhost:8080/api/projects/2/export?exportType=JSON&download_all_tasks=true -H 'Authorization: Token tokenid ' -o 'annotations_api.json'`
i'm getting "no matches found: http://localhost:8080/api/projects/2/export?exportType=JSON" error
This one works fine: `curl -X GET http://localhost:8080/api/proje

[2022-03-19 08:31] makseq commented on #2150
Do you have more logs?

[2022-03-19 17:08] JamieSlome commented on #2104
Just a heads up that we have tried sending the reports to your GitHub organization's e-mail.

You can also view the reports directly here:

https://www.huntr.dev/bounties/7cda26d7-964c-4e39-8352-b701950f14d8/
https://huntr.dev/bounties/e6a352e2-ceb9-42f8-9340-e1724f7629e7/
https://huntr.dev/bounties/0d38a1c8-3c4c-48ea-a1db-35582c1d2981/
https://huntr.dev/bounties/455dfc05-736e-4a15-999c-6c544bca9d

[2022-03-19 22:11] makseq commented on #2104
Hi! Thank you for your exploration.

But the most of these issues are about file downloading on server side. We can't disable these features. Maybe you have ideas how to fix it?

P.S. In our Enterprise version we have roles for users and only admins can use it, so I wouldn't say it's critical

[2022-03-19 23:36] makseq commented on #2150
Try to call this:
[code]

[2022-03-20 02:42] ithinggoon commented on #2009
@greyeagle Hey, I'm facing the same issue on ubuntu 18.04 , using python 3.6 and 3.9
I will let you know if I ever get it to work

[2022-03-20 05:41] Bapi011 commented on #2104
Hi @makseq,
(cc @huntr-helper)
(cc @JamieSlome)

It can affect admin users and by this attack, it can also be possible to take over the admin account I know you cant disable these features but I have ideas to fix this vulnerability so can you please validate those reports from huntr.dev so I can suggest the fix for all the reported vulnerabilities.

Note:- I haven't tested your Enterprise version

[2022-03-20 05:42] Bapi011 commented on #2104
Hi @makseq,
(cc @huntr-helper)
(cc @JamieSlome)

It can affect admin users and by this attack, it can also be possible to take over the admin account I know you cant disable these features but I have ideas to fix this vulnerability so can you please validate those reports from huntr.dev so I can suggest the fix for all the reported vulnerabilities.

Note:- I haven't tested your Enterprise version

[2022-03-21 01:37] itswhts4dinner commented on #2009
@ithinggoon
In my venv, I was able to fix the "itsdangerous" problem by by following the blog directions that @greyeagle referenced above.  In particular I downgraded Flask to 1.1.2 and markupsafe to 2.0.1 .  I hope that helps!

[2022-03-21 14:06] wojnarabc commented on #2150
works well with quotation marks, thanks @makseq

[2022-03-21 14:08] #2150 closed

[2022-03-22 14:21] #2058 closed

[2022-03-22 15:13] tilusnet opened #2160 "Clone (duplicate) project"
**Describe the solution you'd like**
It's occasionally useful to start off a copy of an existing project, eg. for experimenting.

**Describe alternatives you've considered**
Setting up a complex identical project is laborious and prone to human errors.

[2022-03-23 08:55] secsilm opened #2162 "Add "Delete Task" button to labeling page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
I'm labeling relation extraction dataset. Now I can't delete current task when labeling, I have to return to the task list page, select it and delete it. I can only delete annotations when labeling. If

[2022-03-24 00:23] makseq commented on #2160
Thank you for your feedback and idea. We are working on this feature. As a workaround you can export your dataset into JSON file and then re-import it in a new project with the same labeling config.

[2022-03-24 09:09] tilusnet commented on #2160
I didn't think of that, thanks for the tip.

[2022-03-24 09:09] #2160 closed

[2022-03-24 13:58] tilusnet opened #2164 "Exported records are not consistent with tasks in current tab"
**Describe the bug**
I have 3-4 tabs active in the project, each having a different filter set. This results in a different number of tasks listed in each tab, as expected.
If I Export, I'd expect the exported json file to contain the same number of records as tasks seen in the tab I exported from. This is not the case: I always get the same, apparently random number of records exported, regardles

[2022-03-24 18:25] karndeepsingh opened #2167 "How to annotate the text on images for LayoutLM model training?"
**Describe the bug**
I am trying to build LayoutLM model for extracting relevant information from the document page but to do so, I need to annotate the text on images with respective entities. Is it possible to achieve this kind of annotation using LabelStudio?

[2022-03-24 23:47] makseq commented on #2164
The export doesn't take into account tabs. It exports only labeled tasks. So, this number - 683 tasks - is amount of tasks with annotations.

If you want to export tasks from tabs, you can try use API or SDK with snapshots:
https://labelstud.io/sdk/project.html#label_studio_sdk.project.Project.export_snapshot_create

[2022-03-24 23:47] #2164 closed

[2022-03-24 23:52] makseq commented on #2167
Are you talking about OCR labeling? Yes, you can do OCR labeling in Label Studio.

![image](https://user-images.githubusercontent.com/501780/160028284-76c45359-670b-47d0-bb34-0b59353ed622.png)

Also you can check this blog post:
https://labelstud.io/blog/Improve-OCR-quality-with-Tesseract-and-Label-Studio.html

[2022-03-25 09:20] tilusnet commented on #2164
Hmm, I see.

Though my example got 682 annotated tasks, as per the filter "Where Annotations > 0".
Close, but still not accurate?

[2022-03-25 12:40] makseq commented on #2164
also cancelled annotation won't be taken into account

[2022-03-25 13:27] tilusnet commented on #2164
Ah, it has to do with cancelled tasks indeed, but it's the other way around:
tasks with cancelled annotation will be added to the exported annotated tasks.
Hence I got 682 annotated + 1 cancelled annotation = 683 exported records in total.

@makseq would you mind documenting these important details:
* export will always include annotated tasks only regardless of filters set
* cancelled annotation

[2022-03-25 13:48] tilusnet commented on #2164
also in line with the logic implemented, the UI could become more intuitive:
move the Export button outside of the tabs, so that it is clear that its context is not tab (and filter) bound.

[2022-03-25 15:16] #2125 closed

[2022-03-28 13:42] MrNightSky commented on #2086
Hi
@[dsmanl](https://github.com/dsmanl) I fullly understand your problem, I spend over 2 days to find how it works. Now I have my own instruction for this case without add task via API.
1. You have to do everything that you have done at the fist message up to stage `5. In the project's settings go to Cloud Storage and configure the local file storage:` At this stage you have to pass **File Filter

[2022-03-28 14:09] MrNightSky commented on #2057
Hi,
I have solve the same problem and described it [here](https://github.com/heartexlabs/label-studio/issues/2086#issuecomment-1080668206)

[2022-03-28 14:21] makseq commented on #2086
@MrNightSky Thank you very much for this instruction, do you mind if we add it to our docs?

[2022-03-28 14:27] MrNightSky commented on #2086
It will be great!!!

And I want to say, that I'm very impressed by this instrument! I'm sure, that if you solve misunderstandings like that it will be greater!

P.S. If you need better screenshots, or more detail instruction for your documentation, message me.

[2022-03-28 20:39] makseq commented on #2086
@MrNightSky Could you write this instruction in the .md file?

https://github.com/heartexlabs/label-studio/blob/master/docs/source/guide/storage.md
it will be compiled to this =>
https://labelstud.io/guide/storage.html#Local-storage

You can create a PR and become a contributor ;-)

[2022-03-28 22:34] skinkie commented on #2086
I have a different perspective on this take, since I had the same issues as the above. When I wanted to migrate a labeling session between system 1 (sqlite) and system 2 (postgresql).

As a user I would expect that when I get a common JSON export with filenames in it, that it would be sufficient that I:
 1. either copy these files manually over
 2. import the files via the import button

I notice

[2022-03-28 22:43] skinkie opened #2173 "Conditional View Processing / Etag / Modified-Since headers"
**Is your feature request related to a problem? Please describe.**
Every upload I have done to the local storage is being retransfered on every page refresh.

**Describe the solution you'd like**
I would like to see an implementation of Conditional View Processing, HTTP Etag or Modified-Since Headers. Especially since the uploads within label-studio won't ever change again, setting an Expires head

[2022-03-28 22:52] skinkie opened #2174 "Thumbnail images"
**Is your feature request related to a problem? Please describe.**
When having large input images, the tasks overview will transfer a significant amount of data. Especially considering #2173

**Describe the solution you'd like**
The thumbails of the task list, should be created to increase efficiency.

**Describe alternatives you've considered**
No alternatives considered, this is a must have.

[2022-03-29 00:20] makseq commented on #2164
@tilusnet Thank you for your suggestions! I've updated docs.

[2022-03-29 00:37] makseq commented on #2174
You can prepare your tasks and thumbnails this way:

task.json
[code]

After this you will be able to keep only "thumb" in data manager columns, but in your labeling config you can use "image".

Label Studio tries to avoid any data access on the backend side, so it's not possible to read any user data (e.g. for a thumbnail creation).

[2022-03-29 01:21] skinkie commented on #2174
@makseq how will this work if I upload/import a new image? The way I have set up label studio at this moment is that anyone can upload new data, so preparing a task with thumbs is not really what I want.

[2022-03-29 05:48] lfoppiano commented on #2131
@makseq any idea about this issue?

[2022-03-29 09:14] JamieSlome commented on #2104
@makseq - just following up on the above, any thoughts?

[2022-03-29 13:22] skinkie commented on #2174
@makseq would you accept a patch that would have a project property that basically states 'build thumbnails for images'?

[2022-03-29 22:44] makseq commented on #2086
You can modify this code a little:
https://github.com/heartexlabs/label-studio/blob/master/label_studio/data_import/api.py#L449

=> to something like this:

[code]

[2022-03-30 05:50] moracabanas opened #2176 "arm64 support (Raspberry pi 4)"
There is no official arm64 suuport yet, so I managed to build the docker image from the same Dokerfile whitout any issues for arm64 on raspberrypi4.

Notice if your Raspberry Pi OS is 32bit you must build the image for armhf. I did not test this architecture.

Make sure to use the proper flag for [BUILDKIT](https://docs.docker.com/develop/develop-images/build_enhancements/#to-enable-buildkit-build

[2022-03-30 05:50] #2176 closed

[2022-03-30 10:25] skinkie opened #2178 "The ability to filter and/or aggregate labeled classes"
**Is your feature request related to a problem? Please describe.**
At this moment the list view enumerates the number of annotations made, but not of which label they are. Neither can they be filtered.

**Describe the solution you'd like**
For statitical purposes it would be convienent being able to show the distribution of assigned labels and/or get an aggregate count of the assigned labels.

[2022-03-30 15:19] kaysagit opened #2181 "Automatic login"
In a closed issue a user reported that with this command the login is automatic and must not be done in the GUI

label-studio start --username <username> --password <password>

However when I run this command, it just says that the user already exists and brings me back to the login screen. I want that the users of my application do not see the login screen.

Am I missing something?

[2022-03-30 22:10] noircir commented on #1790
Similar problem here. When a pre-annotated file is loaded, the changes are intermittently not saved after pressing Update. They are not saved **visually** for the annotator. It is hard to know if they were saved in the background, or not. When the editing happens on a server, the other users can see the change. The editor cannot see the change even after re-login. If the editor creates a new accou

[2022-03-30 22:13] makseq commented on #2009
@itswhts4dinner We've updated flask version up to 1.1.4:
https://github.com/heartexlabs/label-studio-ml-backend/pull/96/files

[2022-03-30 22:48] makseq commented on #2131
@lfoppiano I used this labeling config

[code]

and your file https://github.com/heartexlabs/label-studio/files/8249644/new.json.zip and it works.

However, you have a problem with region ids there, they must be strings, e.g.:

[code]
=>
[code]

[2022-03-30 22:50] makseq commented on #2131
https://user-images.githubusercontent.com/501780/160943666-4ea65eee-05eb-4d42-b0d1-a31e5738e351.mp4

[2022-03-31 00:13] makseq commented on #2181
Please check this docs
https://labelstud.io/guide/signup.html#Create-an-account

This options (--username / --password) only create a new user, it's not for auto login.

[2022-03-31 00:13] #2181 closed, assigned to makseq

[2022-03-31 00:16] makseq commented on #1790
@noircir Thank you for your video. This is related to drafts, try to click on it after update.

[2022-03-31 00:59] noircir commented on #1790
Agree. I would rather see my edited work after pressing Update. And not the other way around.

[2022-03-31 10:34] makseq commented on #1790
@noircir https://github.com/heartexlabs/label-studio/pull/2185 --- could you please check this PR? This issue should be fixed there.

[2022-03-31 15:20] noircir commented on #1790
@makseq Sorry for a stupid question, but how do I check it? Should I download a new version? And where to get it?

[2022-04-01 00:01] makseq commented on #1790
[code]

[2022-04-01 00:07] makseq commented on #2174
@skinkie You can contribute :-) however this might be tricky.

[2022-04-01 07:37] swssl commented on #1752
I'm facing the exact same problem on Ubuntu (docker) and Windows 10 (pip installation). Unfortunately, for me the time series editor is the key feature I am really looking forward to try and integrate in my workflow.

[2022-04-01 15:22] rydka opened #2189 "The update_annotation from the sdk handle tasks on by one"
Hello,

Today's purpose for writing comes from an 'issue' with the update_annotation function from the SDK. The function doesn't allow us to perform updates on more than one task at a time. Is there any alternatives to this function for this usage?

Thank you for your time.

Rydka

[2022-04-01 20:38] bbreton3 opened #2191 "Cannot Deploy on Google Cloud."
**Describe the bug**
I tried clicking on the "deploy to Google Cloud button, but it doesn't seem to work"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Readme
2. Cupy the URL of the repo
3. Click on the "Deploy to Google Cloud" button
4. Paste the url of the repo

**Expected behavior**
I extected the deployment to start

**Screenshots**
<img width="1228" alt="image" src="https://u

[2022-04-03 00:32] noircir commented on #1790
<img width="812" alt="Screen Shot 2022-04-02 at 8 32 08 PM" src="https://user-images.githubusercontent.com/22533804/161406126-d586a5db-ab85-4dd4-ad1a-713547d3242e.png">

[2022-04-03 14:17] christianjcc commented on #818
Hi all, I am experiencing same error message above but have not been able to resolve given the information provided by others in this thread. My aim is to try to execute active learning with Label-studio (ideally with BaaL) on a simple example on simple images with vehicles to perform bound-box object detection using a pre-trained model (e.g. Faster-RCNN-based or YOLvX) trained on MS COCO dataset.

[2022-04-03 18:56] kemics commented on #1470
@KonstantinKorotaev @makseq sorry, why this issue isn't getting prioritized or at least scheduled? Looks like a major bug and it's 6 month old

[2022-04-04 07:46] PExplorer commented on #1979
Hi @MatteoSid Thanks for posting the request. I am trying to do the same for large number of images. I need help with the following: Once I upload the images, image name is changing with additional token added to the image name in the dash board and when I upload json, new entry being is created with two different columns image and text. My issue is.. How can I upload predictions from UI once I up

[2022-04-04 08:40] waahlstrand opened #2192 "Customize annotation IDs"
**Is your feature request related to a problem? Please describe.**
Is it currently possible to customize the format of the automatic annotation IDs? The current random strings, although very unique, are not very human readable and referable.

**Describe the solution you'd like**
Preferably, it would be nice to have support for different kinds of IDs, for example based on the annotation type (e.g.

[2022-04-04 17:28] jdonnell01 commented on #679
Hello, I am having the exact same issue. It seems that SQLite is bundled with Django and I cannot seem to get this working even with different versions of the dependencies. Here are my versions I am using. Any help would be appreciated:

- Django: 3.1.13
- LS: 1.4
- Python: 3.8.10
- OS: Windows 7

[2022-04-04 17:39] jdonnell01 commented on #679
I found the issue with Django here: https://code.djangoproject.com/wiki/JSON1Extension. My Python version (3.8.10) does not include the SQLLite JSON1 extension by default. Switching out the sqlite DLLs fixed the issue. Thank you

[2022-04-04 18:50] jdonnell01 commented on #1539
I am also having issues with the Intent Classification and Slot Filling template. I am on version 1.4 of LabelStudio. I do not see this issue marked against any commits in master: https://github.com/heartexlabs/label-studio/commits/master?after=882547631c14000570ca3793a82f0ed65e8a743f+349&branch=master. Can you please point me to the fix? Thank you

[2022-04-04 20:04] makseq commented on #2192
1. Are you talking about annotatoin.id or annotation.result[N].id? annotation.result[N].id is a really random string. And you can change its generation in a not difficult way.
2. The annotation.id generation can't be changed, it's provided by DB automatically. It's a not string, it's `int` always.

[2022-04-04 20:22] makseq commented on #1979
@PExplorer You can retrieve all tasks from the project and then you will know tasks' URLs - https://labelstud.io/sdk/project.html#label_studio_sdk.project.Project.tasks.
Then you can use https://labelstud.io/sdk/project.html#label_studio_sdk.project.Project.create_predictions to import predictions, just pass the task id to the prediction: { "task": <id>, "result": [...]}

[2022-04-04 20:41] fpaupier commented on #588
Hi @g4challenge, did you manage to get a custom S3 endpoint working when specifying your endpoint URL in the GUI (let's say for a 3rd party storage such as Scaleway) ?

On my side the "check connection" steps passes, but I have this error when trying to sync storage for source tasks:

[code]

[2022-04-04 20:48] makseq commented on #2189
This functionality is not supported yet.

[2022-04-04 21:43] makseq commented on #1790
[code]

[2022-04-04 21:51] makseq commented on #818
1. Try this ML backend using docker-compose up - https://github.com/heartexlabs/label-studio-ml-backend/tree/master/label_studio_ml/examples/mmdetection
2. Create a new project in LS, then add this ML backend via GUI (port 9090).

[2022-04-04 22:15] radhikak4785 commented on #679
Hi,
I also have same error, but if i want compile it in CI/CD is it allowed to change the extension?

[2022-04-04 22:49] makseq commented on #1470
@kemics https://github.com/heartexlabs/label-studio-converter/ try to use the last commit from the master branch, this issue is fixed there. If you want to have width / height for all images including the images with lacking annotations, you have to call the `api/project/<id>/export?export_type=COCO&download_resources=true` manually.

[2022-04-04 22:49] #1470 closed

[2022-04-04 22:52] makseq commented on #679
just replace sqlite dll file to the correct one - e.g.: https://github.com/heartexlabs/label-studio/blob/master/.github/workflows/tests.yml#L266

[2022-04-05 07:10] waahlstrand commented on #2192
No, that's correct, I don't refer to the primary key of the annotations in the db, but rather for example the region ids.

Is there an easy way to change the generation of annotation.result[N].id?

[2022-04-05 08:35] farioas commented on #2191
Hi @bbreton3, thanks for the report!

Looks like it is a known issue with Cloud Run and Heroku single-click manifests, as they both uses the same app.json: https://github.com/GoogleCloudPlatform/cloud-run-button/issues/112

Currently I'm working on the fix

[2022-04-05 09:49] farioas commented on #2191
Fixed. Please try to click on the button again.

[2022-04-05 12:51] noircir commented on #1790
( in the above code, the second `cd label-studio` is not needed )

<img width="1748" alt="Screen Shot 2022-04-05 at 8 50 56 AM" src="https://user-images.githubusercontent.com/22533804/161757525-e4b9588c-4367-45fd-96fd-67d2f6bae4b7.png">

[2022-04-05 13:02] noircir commented on #1790
Traceback (most recent call last):
  File "/Users/elena/working_dir/env/lib/python3.9/site-packages/django/db/backends/utils.py", line 84, in _execute
    return self.cursor.execute(sql, params)
  File "/Users/elena/working_dir/env/lib/python3.9/site-packages/django/db/backends/sqlite3/base.py", line 413, in execute
    return Database.Cursor.execute(self, query, params)
sqlite3.OperationalError:

[2022-04-05 17:48] LucasVandroux opened #2203 "Keyboard shortcut allows to submit an empty annotation even if enable_empty_annotation = False"
**Describe the bug**
The keyboard shortcut `Ctrl` + `Enter` can be used to submit an empty annotation, even if `enable_empty_annotation=False` and the `Submit` button is not clickable.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project with the python sdk using:
[code]
2. Upload pictures to Label Studio
3. Click `Label All Tasks`
4. Press `Ctrl` + `Enter`
5. Annotation is getti

[2022-04-05 23:52] makseq commented on #1790
Run this before `runserver`:
[code]

[2022-04-05 23:54] makseq commented on #2203
Definitely a bug, thank you for your report!

[2022-04-06 09:18] BruceStayHungry opened #2207 "How to apply HyperTextLabels to multiple HyperText elements?"
**Describe the bug**
How to apply HyperTextLabels to multiple HyperText elements?

**To Reproduce**
I have tried to use the comma to add multiple HyperText names into the `toname` attribution of the HyperTextLabel, but it seems not to work.
`<HyperTextLabels name="ner" toName="text1,text2">`
    `    <Label value="Person" background="#00faf6"/>`
    `    <Label value="Location" background="#0dd353

[2022-04-06 14:46] #2191 closed

[2022-04-06 18:51] christianjcc commented on #818
@makseq, thank you for your suggestion. I executed the following,

Step 1.
`cd label-studio-ml-backend/label_studio_ml/examples/mmdetection/
docker-compose up -d
`
after executing the last few lines gave,

`
Successfully built e75e22b88f4f
Successfully tagged mmdetection_server:latest
WARNING: Image for service server was built because it did not already exist. To rebuild this image you must use `

[2022-04-06 23:28] noircir commented on #1790
Yes it works. The functionality is now more user-friendly: change an annotation -> Update -> the changed annotation is showing. I am not sure if the original author here is satisfied, but I am.

[2022-04-07 00:04] makseq commented on #2207
You have to use different labels for different HyperTexts:

[code]

[2022-04-07 00:04] #2207 closed

[2022-04-07 07:39] vladaman opened #2210 "Unable to start - ImportError: cannot import name 'ParamSpec' from 'typing_extensions'"
The Label Studio tool does not start after fresh install

* Python 3.8.10
* Ubuntu 5.13.0-30-generic
* pip 20.0.2 from /usr/lib/python3/dist-packages/pip (python 3.8)

[code]

Might be related to https://giters.com/Azure/azure-sdk-for-python/issues/23697

[2022-04-07 13:40] tilusnet opened #2212 "Floats and integers are not interpreted accordingly when imported from JSON"
**Is your feature request related to a problem? Please describe.**
When I import my data in [basic JSON format](https://labelstud.io/guide/tasks.html#Basic-Label-Studio-JSON-format), I cannot make LS interpret integers or floats. Eg.:
[code]
Ideally I'd also like to be able to _filter_ on these values using _operators_ like >= etc.

**Describe the solution you'd like**
Diversify data type interpre

[2022-04-07 20:38] fatemerhmi opened #2215 "label studio slowes down when importing OCR preannotations"
Hello,

Following [this post ](https://labelstud.io/blog/Improve-OCR-quality-with-Tesseract-and-Label-Studio.html), I converted my OCR output and were able to successfully import them and see the document and bounding boxes in label studio. I am importing bounding box for 10 images and and each image has between 700-800 bounding boxes. Once I open an image to annotate and look at the bounding boxe

[2022-04-07 23:23] makseq commented on #2212
Please, see this little tutorial:
https://user-images.githubusercontent.com/501780/162335009-03a2d6e7-a089-4952-8f16-f47b3657177a.mp4

[2022-04-07 23:23] #2212 closed

[2022-04-09 09:09] santhoshnumberone opened #2218 "How to run on macbook m1 pro?"
How to run `label-studio` locally on macbook m1 pro?

[2022-04-09 21:24] moracabanas opened #2219 "Huge RAM opening object detection project"
**Describe the bug**
I setup a project with the default label studio object detection template. Then I sync a cloud storate with about 2k images (~3Mb each)
Then I open the project and It lists tasks as normally should do. But the issue is the amount of resources and streaming it is doing. It takes 4Gb of RAM on my browser just to display project tasks without even scrolling.

**To Reproduce**
Ste

[2022-04-11 02:34] amitbcp opened #2220 "Threads setting and significance"
While starting Label Studio I am getting the following message :

`Note: NumExpr detected 32 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
NumExpr defaulting to 8 threads.
Initializing database..`

What does NumExpr does ? it is threads for DB connection or multiple annotation projects connection ?

[2022-04-11 15:09] agrigoriev opened #2222 "width and maxWidth tags in safari don't work as expected"
When using width option like in this configuration:

[code]

<img width="1440" alt="Screen Shot 2022-04-11 at 20 52 11" src="https://user-images.githubusercontent.com/232081/162790925-b3eac56e-813c-4081-be2e-fa4204777982.png">

The canvas is limited to the original image width, zooming the image and cropping its part.
maxWidth option doesn't make situation better - I was trying to us both "maxWidt

[2022-04-11 16:53] christianjcc commented on #818
@KonstantinKorotaev, thank you for your suggestion. The solution was to export as environmental variables the paths pointing to the config_file and checkpoint_file (tried also hard coding these values in the mmdetection.py file) and then it worked. It appears the command line arguments are not being propagated to the python script correctly. When running,

`label-studio-ml start coco-detector --wi

[2022-04-11 22:44] makseq commented on #2220
Most likely you are not using virtualenv for LS, and you have installed numexpr library there. It's not related to DB.

[2022-04-11 22:44] #2220 closed

[2022-04-11 23:09] KevinQuiring commented on #2218
Hi @santhoshnumberone, can you elaborate a bit more on what issues you are experiencing running label-studio on arm and how you are running the project?

I can confirm that running the latest development branch via docker-compose produces the following error:

`The chromium binary is not available for arm64. `

If this is what you are experiencing, you can try adding these lines to your dockerfile

[2022-04-12 09:55] #2218 closed

[2022-04-12 23:31] ferenc-hechler opened #2230 "v1.4.1: Image URLs are broken in docker-compose when using sub-paths"
**Describe the bug**
I tested a local docker-compose installation with a sub-path configured as described in https://labelstud.io/guide/start.html#Run-Label-Studio-on-Docker-with-a-host-and-sub-path
The applications works fine but uploaded images are broken, because the URL is missing the sub-path prefix. Using the version 1.4.0 works fine, but when using v1.4.1 (or latest) Image URLs are broken.

[2022-04-13 15:11] RadionBik opened #2236 "Format URL links in annotation interface"
**Is your feature request related to a problem? Please describe.**
I have tried to find any hints in the docs on how to enable support for URL link formatting in a custom annotation interface, but without any success.

Let's say, I have a file identifier field `file_id` within `data` dict that is being imported to LS. I want to format this identifier as a clickable URL link, e.g. file_id = 123qwez

[2022-04-13 15:46] Bapi011 commented on #2104
Hi @makseq,
(cc @huntr-helper)
(cc @JamieSlome)

More than a month has passed since I reported and no proper response from your side so report will get disclose after 60 days

Thanks,
Bapi
@Bapi011

[2022-04-13 21:55] makseq commented on #2210
@vladaman Please use virtualenv for LS

[code]

[2022-04-13 22:02] nikitabelonogov commented on #2210
Hi @vladaman

I'm having trouble to reproduce that issue
Could you please share the versions of _azure-core_ and _azure-storage-blob_ via `pip3 show azure-core azure-storage-blob`

[2022-04-14 15:24] hlomzik commented on #2236
Hi! `Text` is made for text so I don't know why do you expect it to show html %)
For html we have `HyperText`, so you can use it like this:
[code]
but we can't guarantee it will work for any data.

[2022-04-14 15:24] #2236 closed

[2022-04-14 15:27] hlomzik commented on #2236
Important things to know:
- `clickableLinks` to make them clickable, we suppress this by default for labeling
- escape `<` as `&lt;`, also this may be required for quotes and other chars
- we render html in iframe by default, so it will open links only inside it by default; you can click with Ctrl/Cmd to open in new window, or you can add `inline="true"` to embed this html directly to the page, an

[2022-04-14 17:48] dbuades commented on #1371
This would indeed be very useful, any progress so far @hlomzik ?
Thank you very much in advance!

[2022-04-14 21:58] spetrescu commented on #1888
Hey! Can I tackle this issue? If so, any hints on where to start?

[2022-04-15 01:32] teohsinyee opened #2241 "Failed to start: ImportError: cannot import name 'KeyTextTransform' from 'django.contrib.postgres.fields.jsonb'"
After my installation, I want to launch label studio for the first time but get an error.

[code]

[2022-04-15 19:24] makseq commented on #2241
Looks like your environment uses incorrect version of postgres. Please use venv:

[code]

[2022-04-15 19:25] #2241 closed

[2022-04-15 21:11] dvwright opened #2245 "Label-studio will not start in previously working environment"
**Describe the bug**
Label-studio has been installed and in a working state. Then 'out of nowhere' it will not start.

**To Reproduce**
Steps to reproduce the behavior:
1. python label_studio/manage.py runserver

**Expected behavior**
starts and runs as expected

**Environment (please complete the following information):**
 - OS: `Mac OSX Monterey 12.3.1 M1`
 - Label Studio Version `1.4.1post1`

*

[2022-04-16 07:16] yangboz opened #2248 "first time runserver failed."
**Describe the bug**
A clear and concise description of what the bug is.

according the git version of start labelstudio
git clone, cd ,pip  steps successed.

but after runing

[code]
it throwns:

[code]

my current env: py37,macosx

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://labelstud.io/'
2. Click on '.git'
3. Scroll down to 'https://labelstud.io/'
4. See error
5.

**Exp

[2022-04-16 08:18] yangboz commented on #2248
sorry,  the docker-compose way make it works.

[2022-04-16 08:18] #2248 closed

[2022-04-16 08:20] yangboz commented on #2245
I also tried the docker version, and verified the docker-compose within pSQL, tables ready, but the docker or runserver version used sqlite, maybe the table not initialized.

[2022-04-18 02:08] teohsinyee commented on #2241
Thanks @makseq , it works after installing it at virtual env. 1 Question, is it possible to **have multiple labels for each text line** for **Text classification** task. Referring to the picture below, I want to label 'Education' with 2 labels (education, header).
But with the current setting, I can only label each line with maximum 1 label.

<img width="665" alt="image" src="https://user-images.g

[2022-04-18 17:04] maiiabocharova opened #2251 "Make image size full-screen"
Hello, is there any way to make image full-screen for example [here] (https://drive.google.com/file/d/1UiYy_viqzKvKngFcGn7vlVoH6q7DsYS2/view?usp=sharing) I made a screenshot of the problem

There is so much space wasted, but image is very small and uses only a third part of available space
It would be great to set an image width to be maximum, and be able to scroll down to label lower parts of the

[2022-04-19 00:26] makseq commented on #2241
Try to add `choice="multiple"` in your <Choices> tag.

[2022-04-19 00:31] #2245 closed

[2022-04-19 01:01] makseq commented on #2230
@ferenc-hechler Could you please check this branch https://github.com/heartexlabs/label-studio/pull/2254 ? You should import images from the scratch again.

[2022-04-19 03:46] teohsinyee opened #2255 "Question: Is there any upper limit for NER task?"
I need to annotate around 100k lines of text under 1 project. is it possible?

![image](https://user-images.githubusercontent.com/56106630/163916096-c524c357-1cda-48bb-bb80-a8c9bd7cecd3.png)

[2022-04-19 08:22] ferenc-hechler commented on #2230
I did a docker build in branch "fix/issue-2230" and used this image in a completely new deployment.
I created a new project, uploaded two files and the image urls are as expected.
Thanks for the fix.   :-)

We currently work with the version 1.4.0 to work around the problems.
Can I upgrade to the fixed version and the image URLs uploaded with v1.4.0 are still correct?

[2022-04-19 09:44] asymingt opened #2256 "Allow keypoints to have custom metadata / attributes"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to annotate an image with many keypoints, and assign to each keypoint a set of values / attributes, some of which are optional. For example, consider tagging a picture of Swiss cheese with keypoints representing the hole locations. We could label each hole as acceptable or unacceptable, but we might also want to

[2022-04-19 13:47] Gondragos commented on #2256
Hey, @asymingt

We actually have a `perRegion` attribute which looks pretty similar to what you are looking for.
For example, using this configuration:
[code]

In this case, the results will look like this:
[code]
There is one result for each control tag (`<Label/>`, `<Number/>`, `<TextArea/>`), but they all have the same ID if they are associated with the same region.

Does it solve your issue?

[2022-04-19 18:50] makseq commented on #2230
@ferenc-hechler Thanks you for your feedback. This branch is merged and will be included to the upcoming release (1.4.2).

[2022-04-19 18:50] #2230 closed

[2022-04-19 19:49] Gondragos commented on #2256
Oh, I'm afraid that the version of `label-studio-frontend` library on the playground page is outdated. It's better to check it directly in Label Studio.  I just have tested it and it works for me well.

[2022-04-19 21:41] makseq commented on #2255
@teohsinyee yes, it's possible, LS doesn't have any task or annotation limits. Everything is limited by your hardware and database performance.

[2022-04-19 21:41] #2255 closed

[2022-04-19 21:48] asymingt commented on #2256
OK, whoops! That's my go-to for trying things out. I've always assumed it's kept up to date with the latest release. Thank you for confirming. I will check on my local installation to confirm. Otherwise, I think this feature request is probably already covered by existing functionality. Thank you so much for taking the time to look into it and help me out!

[2022-04-20 00:32] rgaiacs commented on #1538
Touch is working for me on Firefox 98. Touch does **not** work on Chromium 99 (instead it scroll the window).

# Environment (server)

OS: Linux Docker
Label Studio Version: 1.4

# Environment (client)

OS: Linux 5.16.14-1-MANJARO

[2022-04-20 03:00] MSalehiA opened #2260 "PROJECT_CREATED webhook doesn't work"
**Describe the bug**
Hi, according to this [guide](https://labelstud.io/guide/webhook_reference.html#Project-Created), label studio can send a request to the configured webhook url when a new project is created. but we can not receive it and there is no _**Project created**_ option in label studio webhook settings for **_Send Payload for_** options. while for other options (_**Project updated**_,

[2022-04-20 06:27] yangboz commented on #2132
roboflow labeling features[centered cross guideline ] aliked will greatly increase labeling product abilities :-)

[2022-04-20 07:55] yoginTVL commented on #301
You may try to just reuse the existing installation :
`pip install label-studio --ignore-installed certifi`

[2022-04-20 08:20] mpuccini opened #2261 "Problem updating S3 bucket ownership"
**Describe the bug**
I've an image classification project which load images from a S3 bucket (hosted on a Ceph object storage cluster). When i've changed bucket ownership on the Object Storage, i've changed keys into the project -> settings -> cloud storage. I've been able to connect and sync but fail to load images on the main project page and when trying to load the single image.

**To Reproduce

[2022-04-20 23:02] makseq commented on #2260
Hi, LABEL_STUDIO_ALLOW_ORGANIZATION_WEBHOOKS is available only in the Enterprise version of LS.

[2022-04-20 23:02] #2260 closed

[2022-04-21 12:50] RadionBik commented on #2236
I have tried copying the string you provided and modified at in various ways, but the config doesn't seem to persist. Every time I modify it and click the Save button no changes remain, after I go and check the tasks.

Moreover, I am unable to recreate the examples I provided above, it resets the value field to "value=$file_id", stripping the URL part.

Is it a bug or feature? How do I circumvent

[2022-04-21 13:31] RadionBik commented on #2236
Sorry for asking stupid questions, I have never dealt with HTML and etc.
I have got updates, this is the configuration that has been saved and it renders the path at least, but the link is still unclickable
[code]

[2022-04-21 14:41] RadionBik opened #2263 "Prediction score is not shown after prediction update"
**Describe the bug**
At first I uploaded via GUI a json with tasks that contained annotation and prediction fields. I used the sorting feature of the GUI to label examples with the lowest score first.
Then I downloaded the results and re-trained my model, thus, producing new predictions (i.e. `model_version`, `result` and `score` fields), which I uploaded to the LabelStudio via PUT method as descr

[2022-04-22 00:29] makseq commented on #1186
@tahesse SAML logins is supported in LS Enterprise only, so you can avoid the login screen in the Enterprise edition.

[2022-04-22 00:30] #1186 closed

[2022-04-22 00:37] makseq commented on #2263
@RadionBik This score column depends (as I remember) on Project Settings => Machine Learning => Model dropdown.
Please, try to switch it to another version.
![image](https://user-images.githubusercontent.com/501780/164573066-3144935d-f2dc-4726-818c-39982d6657f4.png)

[2022-04-22 00:38] makseq commented on #2236
@RadionBik please, try this one:
[code]

[2022-04-22 07:12] RadionBik commented on #2263
thank you! I didn't see this info in docs, when developed my scripts :(
When I submitted this issue found similar discussion in slack https://label-studio.slack.com/archives/C01VBREDGAY/p1646619819498819

Not sure what the best place is, but it would be great if this info is mentioned somewhere in the API part as well

[2022-04-22 07:12] #2263 closed

[2022-04-22 07:17] RadionBik commented on #2236
Thank you!
Now it is highlighted like a URL, I can click on it but nothing happens, i.e. the resource is not being opened in a new or current tab :(

[2022-04-22 14:42] mikbuch opened #2266 "Tasks created by importing local storage are not sorted -- when using IO for external storage"
**Describe the bug**
When files from the local storage (file system) are synchronized with label-studio, using IO external storage (i.e., added to the project and tasks), the tasks for these files are in random order. In other words, the IDs of the tasks have nothing to do with either filename of the original file, not the time when this file was created in the file system.

**To Reproduce**
Steps

[2022-04-22 23:29] makseq commented on #2236
another try:
[code]

[2022-04-22 23:33] makseq commented on #2266
@mikbuch Could you please create a PR with your solution?

[2022-04-25 07:58] RadionBik commented on #2236
great, it works! although opens the link in the same tab, but it is way better than nothing :)

[2022-04-25 20:11] ijmiller2 commented on #1710
I am experience similar issues with timeouts when trying to filter on Prediction Results. In our case we have almost 100k tasks in an image classification project and filtering by predictions is very slow / basically impossible. It just keeps timing out.

@makseq, wondering if this functionality will extend to the "Prediction Results" field and if the timeline for the release of filter by annotati

[2022-04-26 00:05] makseq commented on #2236
[code]

[2022-04-26 00:09] makseq commented on #1710
Could you please switch to this branch and check its performance?
https://github.com/heartexlabs/label-studio/pull/2267

Yes, we are planning to add more convenient mechanics for annotation/prediction label filtering.

[2022-04-26 14:53] RadionBik commented on #2236
thank you, it works!

[2022-04-26 22:45] makseq commented on #1710
@ijmiller2 are you in cloud? why don't you contact us in the slack channel?

[2022-04-27 00:46] coldtomatojuice opened #2276 "internal server error for create_predictions function in sdk"
hi
thanks for your great work

I have an issue on my labeling with label studio sdk
It works fine when I use create_prediction function
but It gave me a 'HTTPError: 500 Server Error: Internal Server Error for url: http://myhostaddress:8080/api/projects/18/import/predictions'
If I try the same thing with create_predictions function

I'm using
label-studio 1.4.1.post1
label-studio-sdk 0.0.9

I recen

[2022-04-27 23:18] makseq commented on #2276
[Please check this tutorial](https://github.com/heartexlabs/label-studio-sdk/blob/master/examples/import_preannotations/import_preannotations.ipynb), especially the section "4. Import predictions to existing tasks". It's not very clear from this example how your `predictions` look like.

[2022-04-28 15:12] ijmiller2 commented on #1710
@makseq, we do have the enterprise account, but we have sort a special license agreement (we're an early stage startup) that might not include the dedicated slack channel. At least we have not been added there yet, so have been relying on the community slack channel and github.

Okay, thanks for the info re: timeline projection. Appreciate the support here.

[2022-04-28 23:15] makseq commented on #1710
@ijmiller2 in this case better to write to label studio slack:
https://label-studio.slack.com/
https://slack.labelstudio.heartex.com/?source=site - invite link

[2022-04-29 19:11] mutantbob opened #2287 "expand documentation with concrete examples of data import"
I would like to use LabelStudio to put rectangles around objects in a set of images available via a URL, but I was unable to find an explanation of the actual data import process.

https://labelstud.io/guide/tasks.html#Import-data-from-the-Label-Studio-UI  references http://localhost:8080/import which appears to not exist.

The Create Project web wizard's Data Import screen is the opposite of info

[2022-04-29 23:25] dvwright opened #2288 "Account settings page will not load if user is missing an auth token (API)"
**Describe the bug**
If a users auth token is missing an exception is thrown and the account settings page will not load.

**To Reproduce**
Steps to reproduce the behavior:

I can't remember how this user was created without a corresponding token.

To recreate the issue:
1. ```sql
delete from authtoken_token where user_id = <USER_ID>
[code]
    raise self.model.DoesNotExist(
rest_framework.authtok

[2022-04-30 00:12] makseq commented on #2287
Thank you for your feedback, this link `http://localhost:8080/import` is outdated for our latest LS versions. I[ have fixed it in our docs](https://labelstud.io/guide/tasks.html#Import-data-from-the-Label-Studio-UI).

We have very similar links to the docs in the bottom of import dialog:
![image](https://user-images.githubusercontent.com/501780/166081066-66808524-b26a-4fc4-8c3a-70ed95340fa1.png)

[2022-04-30 00:12] #2287 closed

[2022-04-30 04:35] brettp opened #2291 "Local filenames are not URL encoded"
**Describe the bug**
When using a local source, filenames are not URL encoded and cause 404s

**To Reproduce**
Steps to reproduce the behavior:
1. Create a local file source
2. Create a label template that includes displaying an image, like `<Image name="image" value="$url" />`
3. Copy an image file with a `+` into the file store
4. Try to label the image
5. The image will not load because the URL

[2022-04-30 09:10] santhoshnumberone commented on #2218
`Docker` working on `macbook m1`

Followed this link [heartexlabs/label-studio](https://hub.docker.com/r/heartexlabs/label-studio#install-locally-with-docker)

[code]

Ran on browser
`http://localhost:8080`

[2022-04-30 09:25] santhoshnumberone opened #2292 "Require a specific columns in a csv file"
I am trying to replicate this tutorial [Building your own object detector — PyTorch vs TensorFlow and how to even get started?](https://towardsdatascience.com/building-your-own-object-detector-pytorch-vs-tensorflow-and-how-to-even-get-started-1d314691d4ae)

I need the csv data in a specific format like shown [here](https://towardsdatascience.com/building-your-own-object-detector-pytorch-vs-tensorf

[2022-04-30 09:38] makseq commented on #2291
@brettp could you please record a video?

[2022-04-30 11:00] ferenc-hechler opened #2293 "YOLO Export format rotates annotations wrong if image is not quadratic"
**Describe the bug**
When exporting rotate annotations in YOLO format, the annotation is calculated wrong.
The reason is, that the rotation is done with the percentages of the image height and width.
But if the image is not quadratic this deforms the annotation.

**To Reproduce**
Steps to reproduce the behavior:
1. Upload an Image in format 1000x500 pixels
2. create three annotations:
a) X=200,Y=1

[2022-04-30 16:51] brettp commented on #2291
@makseq - Here's a video showing my setup with two files that have characters that should be URL encoded but aren't, so cause 404s. When I change the characters to their correctly encoded version in the URL, they load as expected.

https://user-images.githubusercontent.com/43375/166114826-0e458665-997a-4948-8b29-552d2c4ebe29.mp4

[2022-05-01 10:23] makseq commented on #2291
Thanks for this great video, we will fix it soon.

[2022-05-01 19:30] ogunoz commented on #1646
any update?

[2022-05-01 20:17] ferenc-hechler commented on #2293
Looks like the export is generated in another project: label-studio-converter

The corresponding lines should be here (not yet tested):
https://github.com/heartexlabs/label-studio-converter/blob/598420012b5cb6e9cd5283e62887ff33af36d0bb/label_studio_converter/converter.py#L649

Should I create a new Issue in label-studio-converter?

[2022-05-02 08:19] fcossio commented on #1538
I had the same issue.

System: Lenovo Thinkpad X1 with Windows 10.
Label studio: v1.4.1

With Firefox 99 the pen stopped working for brush annotations. I downgraded to Firefox Extended Support Release and this fixed the pen issue.

[2022-05-02 09:59] hlomzik commented on #2222
Hi, Alexey! Sadly, current image size and scaling calculations are far from perfect. And also `width` is used for initial image width, but it can't be higher than 100%. And `maxWidth` is basically useless. You can use `maxHeight=""` or `maxHeight="auto"` to not limit image height, so the width will be 100%, but image can be higher than the screen.

We are working on much better version, you can ch

[2022-05-02 17:42] mutantbob opened #2295 "extremely ambiguous error when attempting Labeling"
I am attempting to import a list of images to eventually label with bounding boxes .

When I "Add URL" http://172.17.0.1:8252/label-studio in the Data Import tab it seems to succeed.  It shows me "upload/3/02d5eab1-label-studio" with a green bar next to it.  I can rig the Labeling Setup for rectangles and replace the Airplane/ Cars tag with my own.

After I "Save", I get the project screen.  When

[2022-05-02 21:26] makseq commented on #2295
Your input file must have `.txt` extension. Re-save it as a txt file and try re-import it again.

[2022-05-02 21:40] makseq commented on #1538
@fcossio does it work with Chrome?

[2022-05-02 22:26] makseq commented on #1646
Maybe Taxonomy tag can solve your problem partially?
https://labelstud.io/tags/taxonomy.html

[2022-05-02 22:41] makseq commented on #2293
Thank you very much for your PR, we will review it soon.

[2022-05-02 23:17] hashdashd commented on #1660
@makseq @tomasohara don't suppose you guys would mind taking a look at my stack overflow question on this. I can't seem to get a postgresql back end working.
https://stackoverflow.com/questions/72093304/creating-a-postgresql-database-back-end-for-a-new-label-studio-project
cheers

[2022-05-03 00:41] ToddMorrill opened #2299 "Unable to load task"
**Describe the bug**
I'm trying to use pre-annotations (i.e. predictions) to accelerate labeling. I uploaded a single NER task and am unable to load it when I click label all tasks.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an NER project with 'Entity' and 'Possible Entity' as the label names.
2. Upload the following task to the project.
[code]
4. Click 'Label All Tasks'
5. See

[2022-05-03 02:08] ToddMorrill commented on #2299
FWIW, dropping the "id" key from the label dictionaries appears to have resolved the issue.

[2022-05-03 04:43] fcossio commented on #1538
I tried Chrome only when the pen stopped working and it didn't fix the issue. I don't have the computer anymore since it was given to the person doing the annotations so I can't check the chrome version for now.

[2022-05-03 07:47] makseq commented on #2299
Ids should be strings.

[2022-05-03 07:47] #2299 closed

[2022-05-03 10:41] #1790 closed

[2022-05-03 10:42] hlomzik commented on #1790
fixed in #2185

[2022-05-03 13:12] ellaroyce opened #2300 "GPS location classification"
I was wondering if It is possible to add a gps map into cross channel [view](https://labelstud.io/playground/?config=%3CView%3E%3Cbr%3E%20%20%20%20%3CHeader%20value%3D%22Build%20relations%20among%20regions%3Cbr%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20from%20different%20channels%22%20size%3D%226%22%2F%3E%3Cbr%3E%3Cbr%3E%20%20%20%20%3C!--%20First%20TimeSeries%20with%20Sensor%201%2

[2022-05-03 13:47] waahlstrand opened #2301 "Current state of custom frontend integration"
**Describe the bug**
I am trying to implement changes in the frontend library, and would like to integrate these changes with Label Studio. Unfortunately, the [documentation](https://labelstud.io/guide/frontend_reference.html) seems quite dated, or at least not detailed when it comes to versions and releases.

Current releases no longer have a `static/editor` directory as described in the guide.

[2022-05-03 14:40] jerofad opened #2302 "Question on Labeling interface"
So I am testing out the label studio platform and I see the different templates to choose from.
However, I was wondering about the possibility of combining multiple templates. Say for instance, for a task, I want to do both classifications, bounding box and image captioning. Would that be possible to do? or do I have to do them separately?

[2022-05-03 20:03] #2292 closed

[2022-05-03 20:04] makseq commented on #1608
This feature was added in the latest develop branch.

[2022-05-03 20:04] #1608 closed

[2022-05-03 22:16] makseq commented on #2300
@ellaroyce If you don't need to label a gps map - you can add <HyperText> and include there an iframe with the map. However this won't work if you want to put some points on the map.

[2022-05-03 22:16] #2300 closed

[2022-05-03 22:31] makseq commented on #2302
@jerofad yes, it's possible. Just try to combine XML parts of these labeling configs, e.g.:

Classification:
[code]

**+**

Bboxes:
[code]

**+**

Captioning:
[code]

**=**

[code]

[2022-05-03 22:31] #2302 closed

[2022-05-03 23:10] makseq commented on #2295
yes, I see now, it's a bug. TXT and CSV are not recognized if they come from URL. Only `.json` are supported in this way.

[2022-05-04 18:42] nikhbikh commented on #1539
Also experiencing the same issue. Running from the top of `develop` @ `061bf559`

[2022-05-04 21:57] dgleba opened #2310 "How to zoom out more in labeling"
**Describe the bug**
cannot zoom out in the labeling screen

**To Reproduce**
open my image and try to zoom out.

**Expected behavior**
I should be able to zoom out to see the whole picture or zoom level in between.

**Screenshots**

This is the most zoomed-out I can make it.

![image](https://user-images.githubusercontent.com/4622715/166831036-b6dcc10c-d722-4112-aec0-c9a0aa7198d4.png)

This is no

[2022-05-05 04:39] superkido511 opened #2311 "Customizable hotkeys for next/prev data"
Is there any hotkey to automatically go to next image? After we submit label, we have to click on the next image manually. I can't find any info about the next button in the docs and issue. It would be great if we have customizable hotkeys for next/prev data or auto go to next image after submitting annotation.

[2022-05-05 16:19] tibocour opened #2313 "python: can't open file './coco-detector/_wsgi.py': [Errno 2] No such file or directory"
Hello i've a problem when I try to start coco-detector:
`label-studio-ml start coco-detector --with config_file=label_studio_ml/examples/mmdetection/configs/faster_rcnn/faster_rcnn_r50_fpn_1x_coco.py checkpoint_file=label_studio_ml/examples/mmdetection/checkpoints/faster_rcnn_r50_fpn_1x_coco_20200130-047c8118.pth`

there is an error message:
python: can't open file './coco-detector/_wsgi.py': [Err

[2022-05-05 20:07] juliusvonkohout commented on #1061
I can confirm that issue.

[2022-05-05 20:09] juliusvonkohout commented on #1061
Related https://github.com/heartexlabs/label-studio/pull/2303

[2022-05-05 21:55] makseq commented on #1061
Do you have any ideas how to fix it?

[2022-05-05 22:29] hlomzik commented on #2251
Hi! We use `maxHeight` to fit image canvas into browser viewport, but you can disable this by adding `maxHeight="auto"` to `Image` tag.

[2022-05-05 22:29] #2251 closed

[2022-05-05 22:35] hlomzik commented on #1539
@nikhbikh can you describe this issue? original issue was about sample task for `Paragraphs` tag, and it works all this time, just checked right now to be sure.

[2022-05-05 22:37] makseq commented on #2311
If you are in Quick View mode, try to press
* shift + up / down
* enter

[2022-05-05 23:19] juliusvonkohout commented on #1061
Maybe FORCE_SCRIPT_NAME does not reach /api/docs

https://drf-yasg.readthedocs.io/en/stable/settings.html#default-api-url
https://drf-yasg.readthedocs.io/en/stable/openapi.html#custom-spec-base-url

![grafik](https://user-images.githubusercontent.com/45896133/167042162-7b13c3b0-2ae2-4545-95ba-f6e76192f8b9.png)
For example the script locations are missing the subpath.

[2022-05-06 02:28] Subohao opened #2315 "Checking mechanism before annotators click on the submit button"
Hey dear developers,

I was wondering that is there any checking mechanism like the star symbol (*) means the must-filled items? If the annotators missed any of them, they could not submit the annotations.
I was doing some projects in the following scenario.
The annotators are asked to label audio with 5 questions, and each question is provided with some options for them to select.
However, someti

[2022-05-06 09:03] motionrus opened #2316 "Relations between documents"
Hi all! I want to create relations between documents. Is there any way how to do this?
<img width="1496" alt="image" src="https://user-images.githubusercontent.com/14940768/167101149-ada63def-3ef7-48e9-9a22-03829b306e8e.png">

[2022-05-06 13:35] pidefrem opened #2319 "Time series labeling - When hidding a label type the regions are still clickable"
**Describe the bug**
When the user chooses to hide a label by clicking on the eye on the right hand side, the regions should not be selectable in the dynamic plot.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Projects, select your time series project
2. Click on "Labels" on the right hand side tool box
3. Click on the open eye on the right of the desired label to turn it into a clos

[2022-05-06 14:38] jentzheng opened #2320 "Local Storage files return 403 even with access token"
**To Reproduce**
1. Install App through Docker and use LocalStorage
2. Sync Storage
4. It can display image on website, cookie validated is a possibility
5. It returns 403 through curl with auth token

[code]

Then it works as expected when visit a uploaded file via web UI
[code]

[2022-05-06 21:32] #2315 closed

[2022-05-06 21:51] makseq commented on #2316
@motionrus What kind of relations do you want to have?

[2022-05-06 21:59] makseq commented on #2319
Thank you for your report!

[2022-05-06 22:11] makseq commented on #2320
I've checked it on my LS 1.4.1post1 and it works perfectly with this command:

[code]

[2022-05-06 22:11] #2320 closed

[2022-05-07 05:41] motionrus commented on #2316
I want simple relations, between bbox, but this bbox made different images (documents)

[2022-05-07 07:50] youyuge34 commented on #1941
@sainathgk I meet the same problem as yours, which i cannot export any data. Have you solved this problem?

[2022-05-08 00:24] MirekRecki opened #2324 "Language"

[2022-05-09 07:08] bgr4ph opened #2325 "Shortcut key set-up without server restart"
hi, I'm using open source label studio

one of my team member wants to update shortcut
therefore, I tried to update the environment variable as guided here (https://labelstud.io/guide/labeling.html#Customize-hotkeys)
but It seems shortcuts are not updated without restarting the server

the second method guided here (https://github.com/heartexlabs/label-studio-frontend/tree/master/src/core/settings

[2022-05-09 09:09] iitdpooja commented on #141
Hey,

I need to annotate video using keypoints. I am also looking for solution like this. Can somebody please explain to me about this.
I want to make a skeleton structure using 100 keypoints.

[2022-05-09 11:06] KonstantinKorotaev commented on #2313
@tibocour
Could you please share contents of folder ./coco-detector/?

[2022-05-09 15:50] fperron789 opened #2326 "Categorize/assign color to shortcuts within text area"
I'm perhaps using Label Studio in an unorthodox manner: I'm using a text area with shortcuts, where the shortcuts serve as buttons that a user clicks to construct a pattern.

Would it be possible to categorize the shortcuts (i.e. split them up into different boxes/columns) and assign color?

It would also be helpful to have a click and drag option where the shortcut button could be moved around in

[2022-05-09 17:55] AbubakarSaad commented on #2261
Is it possible docker is caching and not updating the keys or secrets. Can you try restarting the docker container?

[2022-05-09 20:33] makseq commented on #2316
I would recommend that you use meta field where you can type any string.
![image](https://user-images.githubusercontent.com/501780/167492897-fa7523e4-51fd-4cd4-bc9f-45ca6da9a06d.png)

So, you can write something like this there:
[code]

[2022-05-09 21:39] makseq commented on #1941
@youyuge34 Try this steps:

[code]

[code]

[2022-05-09 21:39] #1941 closed

[2022-05-09 21:49] makseq commented on #141
Hi, LS doesn't support skeleton structure with keypoints yet, but you can try keypoints grouping using the region panel.
https://www.youtube.com/watch?v=V3ieJGky3yc

[2022-05-09 21:54] makseq commented on #2031
@MSalehiA Could you please record a video with this problem?

[2022-05-10 06:35] iitdpooja commented on #141
Hey,

Does label-studio support "keypoints grouping using the region panel" using
Videos???
I have lots of videos and I have to start with 20fps.

Thanks and Regards,
Pooja Kumari

On Mon, May 9, 2022 at 11:50 PM Max Tkachenko ***@***.***>
wrote:

[2022-05-10 07:33] MSalehiA commented on #2031
Hello,
thank you for the prompt response. Unfortunately cannot do a video, but here are the steps to re-create the issue.  I have also attached the LS log in two cases of using URL vs clicking from the browser, which I think would help.

Steps to reproduce the behavior:
1. Create a project
2. Upload some images through file sync, etc. (let's say 500 to be a large number)
3. Add some predictions fo

[2022-05-10 09:45] alitaker opened #2333 "Vertical image visibility when zoomed in interface"
When labeling a vertical image (e.g. a scan file) with OCR template interface, the zoomed image width remains the same as the un-zoomed area, resulting in a cutout of the visible image, leaving empty space that can be used as working area.

**To Reproduce**
- Set OCR template or any other template that visualizes an image
- Import any vertical image in labeling interface
- Start the task
- Zoom in

[2022-05-10 11:44] tibocour commented on #2313
Dockerfile			__pycache__			_wsgi.py			faster_rcnn_r50_fpn_1x_coco.py	requirements.txt		uwsgi.ini
README.md			_base_				docker-compose.yml		mmdetection.py			supervisord.conf

[2022-05-10 11:46] tibocour commented on #2313
i imported them from the git and now I have an other error : no module named 'mmdet'

[2022-05-10 12:28] KonstantinKorotaev commented on #2313
Do you run it locally or with docker?

[2022-05-10 12:31] ALIYoussef commented on #1470
@makseq  I tried it with version label-studio-converter==0.0.40. It works but not directly from the app (export COCO).
I had to launch the command api/project/<id>/export?export_type=COCO&download_resources=true&download_all_tasks=true.
P.S. the last release 1.4.1 of label studio still using the version 0.0.39 of converter. So, you need to checkout on the develop branch.
Thank you for help!

[2022-05-10 12:39] tibocour commented on #2313
I run it locally

Le mar. 10 mai 2022 à 14:28, Konstantin Korotaev ***@***.***>
a écrit :

[2022-05-10 13:57] ogunoz commented on #1646
Thanks for the answer. My use-case is having too many entities (500.000) so i couldn't use them as Label, it made whole application extremely slow because all `<Label>` items are rendered on the screen. That's why I was looking for a knowledge-base-like solution

[2022-05-10 19:00] nehasrikn opened #2338 "Variable number of TextArea Boxes"
Hi!

I am building a custom task where I'm asking annotators to enter a variable number of sentence annotations per example. I'd like to start with a single TextArea component, and if the annotator needs to add another TextArea (depending on the particular data example),  they can click a button to add another. Is there support for this?

One limited solution I can think of is a table (but I'm ass

[2022-05-10 21:50] makseq commented on #141
In video labeling you can use only bounding boxes for now. Yes, you will be able group bboxes using the region panel.

[2022-05-10 23:12] makseq commented on #2338
Hey,

![image](https://user-images.githubusercontent.com/501780/167739471-da098caa-5cbf-4c67-9c36-11714dd16e46.png)

TextArea can have multiple answers, but it can't be added dynamically.

[2022-05-11 00:33] dvwright commented on #2266
Hi @mikbuch thank you for your submission!

Would it make sense to sort by file creation time? Why are you choosing to sort by filename?

Do you have an example scenario demonstrating the benefit of this behavior?

Thank you

[2022-05-11 09:12] kshitijagrwl opened #2340 "issue exporting rectanglelabels"
**Describe the bug**
Object detection tasks outputs multiple labels for every edit

**To Reproduce**
Steps to reproduce the behavior:
I have a custom label.xml file for an ocr with object detection which makes use of `labels` for ocr and `RectangleLabels` for detection.

1. Annotate a rectanglelabel block
2. Modify the created block
3. export as json

The resultant json has multiple entries for th

[2022-05-11 09:18] kshitijagrwl opened #2341 "Issue resizing rectanglelables in rotated images"
**Describe the bug**
Unable to resize rectanglelabel block when image is rotated.

**To Reproduce**

1. Rotate an image using the tool
2. Mark a rectanglelabel block
3. Try to resize/adjust

The block is adjustable in the orginal view, but cannot be adjusted in the rotated view.

**Expected behavior**
The rectanglelabel should be adjustable in any view

**Environment (please complete the following

[2022-05-11 15:24] GiacomoCherry opened #2344 "Migration fails when running label-studio with remote POSTGRE_HOST environment variables"
**Describe the bug**
`django.db.migrations.exceptions.NodeNotFoundError: Migration data_manager.0001_squashed_0005_view_user dependencies reference nonexistent parent node ('projects', '0060_merge_20210126_1328')`

Hi everyone and congrats for the amazing tool.
I'm trying do start a local docker instance of label-studio with a remote postgresql db.
As you can see from my dockerfile down here, I'm

[2022-05-11 15:44] nehasrikn commented on #2338
Gotcha, thanks!

[2022-05-11 15:44] #2338 closed

[2022-05-11 15:53] bellal89 opened #2345 "Updating labelling interface after tasks "data" updates"
**Describe the bug**
After a new field added to labelling tasks the new field isn't available in Labelling interface section in project settings.

**To Reproduce**
Steps to reproduce the behaviour:
If you have a project with existing tasks
1. Update "data" in all the tasks adding a new field (with PATCH method of tasks API). Let's say `new_field` with value "value" is added.
2. A new column should

[2022-05-11 18:01] dvwright opened #2347 "Import Data -> Upload files modal popup currently broken"
**Describe the bug**
importing data by clicking "Upload files" does not work. However import still works you can drag files, still working.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a project
2. Click on Import button (top right corner)
3. Once 'Import data' page loads click "Upload Files"
4. nothing happens

**Expected behavior**
After clicking "Upload Files" a file chooser modal

[2022-05-11 18:16] dvwright commented on #2347
closing, restarting my browser resolved this issue for me

[2022-05-11 18:16] #2347 closed

[2022-05-11 20:13] dvwright commented on #2266
Confirmed, having this sorted is an improvement over the current behavior. I think by filename is fine. FWIW, to sort by created at timestamp would be ```key=os.path.getctime``` another possible option

example via the UI

before:
<img width="955" alt="unsorted" src="https://user-images.githubusercontent.com/191410/167939300-cfb9a80c-98d0-4247-b7de-916ac5cb389f.png">

after:
![sorted](https://user

[2022-05-11 23:48] lakshmi-speak opened #2348 "Audio Waveform not displayed"
**Describe the bug**
Audio Waveform not displayed for Automatic Speech Recognition using Segments template

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy label-studio via docker
2. Create a new project using Automatic Speech Recognition using Segments template
3. If audio source is a PCM 16 bit wav file, audio waveform is not displayed.

**Expected behavior**
Preview of audio wavefor

[2022-05-12 01:10] makseq commented on #2266
Thank you for the creation and the review of this PR!

[2022-05-12 01:10] #2266 closed

[2022-05-12 01:11] makseq commented on #2348
@lakshmi-speak Could you add here an audio wave file example?

[2022-05-12 01:47] lakshmi-speak commented on #2348
[sample.wav.zip](https://github.com/heartexlabs/label-studio/files/8674429/sample.wav.zip)
The same audio works fine when I launch label-studio installed via pip on a local machine.

[2022-05-12 15:00] triklozoid commented on #2344
@GiacomoCherry your settings looks right. Is it a clear database instance? Can you try to drop it and start from empty one?

[2022-05-12 22:04] mikbuch commented on #2266
Hi @dvwright , we chose sorting by filename for several reasons. First, it is default behavior in most file managers, so we wanted to keep the user (also understood as a programmer) consistent with what he/she sees in the file manager browsing files in the filesystem and what is then presented in the label-studio. Second, in our case file name contains some date and time information in a standardi

[2022-05-12 23:56] makseq commented on #2340
@kshitijagrwl Could you please record a video? I've tried to reproduce it, but without success.
Also I can recommend you to check LS from the latest master branch.

[2022-05-13 00:20] makseq commented on #2031
@MSalehiA Are you sure that task with ID=250 exists in your project?

[2022-05-13 00:26] makseq commented on #2102
@ijmiller2 Hi, we had some bug fixes regarding required=true, if you could check the `develop` branch of github LS, it would be perfect!

[2022-05-13 00:41] ijmiller2 commented on #2102
Hey @makseq, thanks for the heads up! We're using the enterprise version and the error message went away when we started a new project with the same template and exported dataset (not an ideal solution but a temporary workaround). So not sure if I'd have any good way to test it even if I used the `develop` branch locally.

Looks like the error still shows up in the old project. Here's the version

[2022-05-13 00:48] makseq commented on #2345
@bellal89 Could you tell please - what is your use case? Because it's a little bit weird to add task fields after you upload them.

[2022-05-13 00:53] makseq commented on #2348
Works fine for me:
![image](https://user-images.githubusercontent.com/501780/168190178-e79bbb9f-eb33-436c-a76a-efc2a11b8a31.png)

It might depend on the browser you are using. I'm on Chrome 96.0.

[2022-05-13 00:53] #2348 closed

[2022-05-13 00:57] makseq commented on #2266
Thank you very much for your kind words, they are really warm us!

[2022-05-13 01:00] makseq commented on #2102
Oh, sorry, I missed `"release": "2.2.7"` :-)

[2022-05-13 01:01] makseq commented on #2102
@ijmiller2 please let me know a project number where I can reproduce this issue (if you are on app.heartex.com).

[2022-05-13 01:03] ijmiller2 commented on #2102
https://app.heartex.com/projects/9619/

[2022-05-13 01:03] makseq commented on #1061
@juliusvonkohout is this issue critical for you? You also can check api docs here:
https://api.labelstud.io.

[2022-05-13 03:37] MSalehiA commented on #2031
Yes, it does, and if I find the task by scrolling down, and click on it, the image and predictions shows up on it.
in some instances the browser console logs the following error:

![image_2022_05_13T03_33_44_814Z](https://user-images.githubusercontent.com/77166334/168206437-5b854b36-b9a4-4cc1-8798-e0ea819401e8.png)

[2022-05-13 07:30] KonstantinKorotaev commented on #2313
@tibocour
Could you please tell me what mmdet version do you use?

[2022-05-13 08:49] juliusvonkohout commented on #1061
More critical is the general iframe incompatibility, but even this alone here is a bad user experience.

[2022-05-13 12:38] tommyvtran97 opened #2353 "Labelling for instance segmentation"
Hi all,

I was wondering whether there is a feature within Label Studio that allows for instance segmentation using polygons.

[2022-05-13 21:51] makseq commented on #2353
Hi,

Please check this template
https://labelstud.io/templates/image_polygons.html

[2022-05-13 21:51] #2353 closed

[2022-05-13 23:27] fatemerhmi opened #2355 "How to name files for ocr pre annotations when using docker."
Hello,

Following [this article](https://labelstud.io/guide/start.html#Run-Label-Studio-on-Docker-and-use-local-storage), I use this command to run my docker container:

[code]

The command perfectly works and I can see my previous projects, But I can't seem to be able to load the image for ocr pre-annotaitons I have prepared. My pre annotations are prepared following this [article](https://labels

[2022-05-14 15:04] BruceStayHungry opened #2356 "Can not import CSV data"
**Describe the bug**
When importing a CSV format data, I meet the following error: `django.http.request.RawPostDataException: You cannot access body after reading from request's data stream`
The whole error report:
![image](https://user-images.githubusercontent.com/40711748/168430788-7087f72b-761d-431f-a85f-f2ea5e8c033b.png)

**Environment (please complete the following information):**
 - OS: ubun

[2022-05-14 17:57] lakshmi-speak commented on #2348
Reading the audio from cloud storage does not work, but uploading the file works.

[2022-05-16 14:46] jvence opened #2360 "Image extension not included in exported Pascal VOC XML files"
**Describe the bug**
When exporting PascalVOC, XML does not include file extension in <filename>brick-front</filename>

**To Reproduce**
Try exporting to PascalVoC and look at all generated XMLs

**Expected behavior**
File extension should be included

 - OS: Mac OS
 - Label Studio Version: 1.4.1post1

[2022-05-16 19:18] makseq commented on #2360
It's fixed here, but not yet release:
https://github.com/heartexlabs/label-studio-converter/pull/100

[2022-05-16 19:18] #2360 closed

[2022-05-17 00:06] makseq commented on #2356
Your csv file works fine on my setup.

Try to use python 3.8 and maybe another browser. We test it on google chrome.

[2022-05-17 01:11] AbubakarSaad commented on #2355
Hello Fatemerhmi,

Can you please try `/data/upload/filename` for the filepath. The answer is in this [article](https://labelstud.io/blog/Improve-OCR-quality-with-Tesseract-and-Label-Studio.html#Reference-the-images-in-the-script) that you have linked. Also, for importing pre-annotation. Here is example of the [json](https://labelstud.io/guide/predictions.html#Import-OCR-pre-annotations) for `ocr`

[2022-05-17 12:39] jeroenboeye commented on #2348
I have the exact same issue with an Azure cloud storage setup. I've tried some CORS settings but no luck so far.

[2022-05-17 13:33] thomasgirault commented on #1646
Hello, thank you for your work on Label-Studio!
I have the same goal for my entity linking task and it would be awesome to annotate a text with large set of labels such as Wikipedia IDs.

Would it be possible to partially retrieve entities in an autocomplete widget from /api/labels ?
In the v1.4.1  and the develop branch, it seems that /api/labels is not enabled yet.
Is there any specific branch t

[2022-05-17 16:57] dvwright commented on #2356
@BruceStayHungry try creating a Project then importing this file without changing any `Settings`

@makseq it looks like if any `Labeling Interface` has been specified this import fails.

[2022-05-18 04:35] jlobo opened #2365 "The container does not work with MySQL"
**Describe the bug**
The docker container doesn't work when configured to use mysql.

When the client is installed before the service starts with `pip3 install mysqlclient && label-studio start`, the migrations do not finish.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure the docker-compose file to use mysql
2. run `docker-compose up`

**Expected behavior**
Just to run with mysql

[2022-05-18 09:59] mikolajpabiszczak commented on #384
I know it's irritating with people asking again & again, but it would be really useful to have this, any news about this?

[2022-05-18 10:35] jeroenboeye commented on #1752
Same thing here, Windows 10, Chrome browser.

[2022-05-18 12:06] InCaseOf commented on #1703
Any updates on this bug?

[2022-05-19 12:19] matteogabba opened #2373 "Plot more than one time series per channel"
For visual inspection and labeling of a time series, I would like to have the possibility to plot more than one time series in the same channel.
One is the actual signal that I want to label and the second one is a reference signal.
I am not aware of the possibility to do it in the current version of label-studio.
Can you point to me to the solution if it is already available.
Thanks!

[2022-05-19 23:20] makseq commented on #2365
Unfortunately LS doesn't support mysql officially.
Similar issue: https://github.com/heartexlabs/label-studio/issues/1896

You can try to install it using `pip install label-studio[mysql]`.

[2022-05-19 23:20] #2365 closed

[2022-05-19 23:23] makseq commented on #2373
@matteogabba Unfortunately LS doesn't support this yet.

[2022-05-19 23:28] makseq commented on #2348
Maybe this guide will help you more: https://docs.microsoft.com/en-us/rest/api/storageservices/cross-origin-resource-sharing--cors--support-for-the-azure-storage-services

[2022-05-19 23:31] makseq commented on #1646
@thomasgirault

yes, it's already dynamically retrievable.

It's in the `develop` branch:
https://github.com/heartexlabs/label-studio/blob/develop/label_studio/labels_manager/api.py
and most likely in the master branch too.

[2022-05-19 23:31] #1646 closed

[2022-05-19 23:34] makseq commented on #2356
As I remember if fields from the CSV are the same as from the Labeling Config, everything should work smoothly.
If you could record a video, it would be very helpful.

[2022-05-19 23:38] makseq commented on #384
Thank you for asking. By your activity we prioritize features, so it isn't irritating :-)
@nicholasrq had some progress in Audio Plus Engine, but I heard that we haven't still implemented spectrograms :-(

[2022-05-20 04:08] jovenpogis opened #2374 "My​ watch​list"

[2022-05-20 04:08] jovenpogis opened #2375 "My​ watch​list​"

[2022-05-20 06:54] matteogabba commented on #2373
Hi @makseq,
Thanks for the quick reply.
Are you planning to implement it?

[2022-05-20 08:39] jeroenboeye commented on #2348
Thanks @makseq, I can confirm the waveform is displayed correctly when CORS is configured correctly on Azure blob storage.

[2022-05-20 12:42] safehumeng opened #2377 "'Annotation' object has no attribute '_tracker'"
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/rest_framework/views.py", line 506, in dispatch
    response = handler(request, *args, **kwargs)
  File "/usr/local/lib/python3.8/dist-packages/django/utils/decorators.py", line 43, in _wrapper
    return bound_method(*args, **kwargs)
  File "/label-studio/label_studio/webhooks/utils.py", line 114, in wrap
    respon

[2022-05-20 13:01] safehumeng opened #2378 "LABEL_STUDIO_HOST not work"
LABEL_STUDIO_HOST=http://localhost:8080/sub_path1/sub_path2 docker-compose up -d
<img width="175" alt="image" src="https://user-images.githubusercontent.com/16226299/169532741-80e085d2-daa8-4e08-a420-4e88e62a165c.png">
get url is "http://localhost:8080/data/upload/2/019a8871-3649666.wav", not found "sub_path1/sub_path2"

[2022-05-20 21:17] makseq commented on #2377
This issue was solved in the last master/develop branch commits. Please, try to use LS from there.

[2022-05-20 21:17] #2377 closed

[2022-05-21 18:36] anoirak opened #2381 "TaskListAPI (data-manager) isn't displaying some parameters"
**Describe the bug**
Response for a get request to `/api/tasks?project={id}`  doesn't include some parameters even though they exist on the db
- annotations_results
- annotations_ids
- annotators
- predictions_results
- predictions_score

**Expected behavior**
Get request to `api/tasks/<task_id>` is working correctly

[2022-05-23 07:51] safehumeng commented on #2377
it works! thanks!

[2022-05-23 08:01] safehumeng commented on #2378
<img width="1404" alt="image" src="https://user-images.githubusercontent.com/16226299/169772150-1044cb4c-5d2c-4c11-bb68-0171589df014.png">
this button position

[2022-05-23 13:10] zeljkomarinkovic commented on #2251
There is no maxHeight parameter in [docs](https://labelstud.io/tags/image.html#main)! Setting `maxWidth="auto"` still leaves with a lot of unused space

![image](https://user-images.githubusercontent.com/23746207/169826766-fd7e6741-c869-46af-8d53-fcf3ae971f04.png)

[code]

[2022-05-23 16:47] farioas commented on #2378
<img width="1056" alt="Screenshot 2022-05-23 at 20 46 21" src="https://user-images.githubusercontent.com/2744993/169868668-6b16f599-5cd9-49c1-af5a-c6ca6eeafe09.png">
Cannot reproduce

Note: already uploaded files will preserve their old urls, LABEL_STUDIO_HOST override have to be used only for fresh instances

[2022-05-23 23:41] makseq commented on #2373
It depends on number of this feature request. Why do you need to have it?

[2022-05-24 00:21] makseq commented on #2102
@ijmiller2 Sorry for the delay. I fixed this issue.

[2022-05-24 00:21] #2102 closed

[2022-05-24 00:23] makseq commented on #2381
Adding of `&fields=all` should help.
[code]

[2022-05-24 00:23] #2381 closed

[2022-05-24 01:02] ijmiller2 commented on #2102
Oh great, thank you! Looks like that validation error is gone from the project.

[2022-05-24 01:25] safehumeng commented on #2378
thanks！

[2022-05-24 05:46] #2378 closed

[2022-05-24 07:11] matteogabba commented on #2373
I would like to overlay at least two traces on the same plot (Channel) to label features which are clearly visible only when the traces are overlaid.

[2022-05-24 07:16] James4Ever0 opened #2383 "Add shortcut for moving to next item and commit/update"
I want to automatically switch to next item and commit previous work. This label tool does not provide a single unified hotkey for doing this.

I know one can first do CTRL+ENTER and then SHIFT+DOWN and then ENTER to do this. But I want to do this in a single hotkey, not three.

So I suggest if one can change the design into CTRL+UP/DOWN to unify the tab switching and committing operation at once?

[2022-05-24 07:17] James4Ever0 commented on #2383
If doing so is hard, please at least suggest how to do this in userscript/tampermonkey as a temporary fix.

[2022-05-24 07:52] James4Ever0 commented on #2383
My solution for tampermonkey, temporary fix. Not conflicting with existing hotkeys. May not work as expected.

[code]

[2022-05-24 08:08] James4Ever0 commented on #2383
This script is not very useful for video labeling since the submitting time will be long. It will hang the whole webpage and keep syncing forever sometimes. If you can emit some event after the submit/update, please do! It will be helpful for my script.

[2022-05-24 11:24] hlomzik commented on #2251
My answer was for described problem when image is much higher than a screen given its aspect ratio.

In your case the problem is in default zoom and also in detected canvas size (it's calculated as the size for image zoomed in to fit maximum space on screen, which is not good for small images) We'll deal with this things very soon, we already have a plan for canvas/zoom improvements, and [the firs

[2022-05-24 15:10] amtam0 opened #2390 "OCR - static pre-annotations not showing when combined with ML backend for inference"
**Describe the bug**
A clear and concise description of what the bug is.
static pre-annotations are not showing when using with a ML backend for inference (only when "Label All Tasks" is clicked)

**To Reproduce**
Steps to reproduce the behavior:
1. ocr usecase with pre-annotated json tasks (a document image and build task.json : apply pytesseract.image_to_data(IMG) to add boxes and text under pre

[2022-05-24 15:14] faroit commented on #384
@makseq @feddybear also 👍 for spectrograms!

[2022-05-25 00:45] makseq commented on #1941
you have to use ls converter library: https://github.com/heartexlabs/label-studio-converter

[2022-05-25 09:11] Yiiii19 opened #2396 "Install on Ubuntu: label-studio: command not found"
Hi,
OS: Ubuntu 20.04.4 LTS
Python: 3.8

I want to install with conda, so thats what i did
`conda create --name label-studio python=3.8`
`conda activate label-studio`
`pip install label-studio`

Here is part of the installation
`Requirement already satisfied: ruamel.yaml.clib>=0.2.6 in ./.local/lib/python3.8/site-packages (from ruamel.yaml>=0.15.34->drf-yasg==1.20.0->label-studio) (0.2.6)
Requireme

[2022-05-25 13:40] uriel-tannen opened #2400 "Predictions not carrying through when 'Create Annotation'"
We send tasks to our LS instance via API, and include some predictions. When I go to label that task, the prediction is there. However if, on the same task, I then 'Create Annotation' the new annotation does not include the predictions.

See https://www.loom.com/share/fb9b23af0b9548eb9940a5da2dcf71bf, and Slack chat at https://label-studio.slack.com/archives/CQ8LYPPJS/p1652865190974829

I'm using

[2022-05-25 16:31] TrueWodzu commented on #1797
A new Label Studio user here. How can I enable a cross hair? I've searched everywhere but can't find it.

[2022-05-25 23:45] dvwright commented on #2396
It looks like it's not in your PATH. What does `which python` display? perhaps you need to do something such as: `export PATH=$PATH:`which python``

[2022-05-26 02:15] makseq commented on #2383
@James4Ever0 also you can try `w s a d` keys instead of shift + up/down/left/right.

[2022-05-26 02:27] James4Ever0 commented on #2383
Thanks for noticing. These keys are equivalent to shift+arrow keys. But the main problem is if one does not commit/update before using these keys, the progress will be lost. So what I want to do is to use some keys to do the navigation and commiting at once.

[2022-05-26 02:42] James4Ever0 opened #2403 "Add new labels along the way"
I want to introduce a new feature, to add new labels during the labeling process, not before.

If a dataset is large and unknown, usually the human operator can only infer labels exactly at the time perceiving it. Take some funny animal videos for example, it is largely unknown what makes people laugh before seeing it.

I use this feature in my personal project. Later I will include my screenshot

[2022-05-26 10:00] makseq commented on #2383
Why does this happen? LS creates drafts, your progress should be safe.

[2022-05-26 10:50] James4Ever0 commented on #2383
https://user-images.githubusercontent.com/103997068/170473628-52309d41-4502-4b06-a868-e64e40d6363c.mp4

Take a look at this. I use w/s keys + enter to navigate and the progress is gone.

[2022-05-26 14:30] LizSebban opened #2405 "Label Studio app - change the hourglass"
Hi,
there is a sort of weird creepy animal used as "hourglass" on Label studio.
Could you please change it to something cute? I'm on the tool a lot and it freaks me out.
thank you in advance.
![image](https://user-images.githubusercontent.com/106329249/170509101-f16e2a93-4dea-4703-a63a-638cca68d65a.png)

Liz

[2022-05-26 21:53] makseq commented on #2383
Oh, ok, I see. Looks like you should wait for 3-5 sec to save the draft.

[2022-05-27 00:21] makseq commented on #2405
This. Is. the [Virginia Opossum](https://en.wikipedia.org/wiki/Virginia_opossum).

https://labelstud.io/blog/Whats-With-The-Label-Studio-Opossums.html

![image](https://user-images.githubusercontent.com/501780/170604432-a1d1cc83-f6b6-4225-96d1-e8d9146f5893.png)

[2022-05-27 00:21] #2405 closed

[2022-05-27 00:26] makseq commented on #1797
@TrueWodzu https://labelstud.io/tags/image.html#main --- `crosshair` is an image attribute.

 <Image crosshair="true" ... >

[2022-05-27 00:27] makseq commented on #1797
btw this issue has been fixed, most likely in 1.4.1. And 100% in the `develop` branch.

[2022-05-27 00:27] #1797 closed

[2022-05-27 00:33] makseq commented on #2403
@James4Ever0 If you start using [`Taxonomy` tag ](https://labelstud.io/tags/taxonomy.html#main), this feature will enable automatically on the latest version of LS from the master branch.

[2022-05-27 00:37] makseq commented on #1752
@michaelhoarau Thank you for your report. Is it possible to share the data and the labeling config to reproduce this issue?

[2022-05-27 06:39] TrueWodzu commented on #1797
@makseq Thank you, works like a charm.

[2022-05-27 15:36] KonstantinKorotaev commented on #2390
Hi @amtam0
Could you please check if you have any predictions  in the Data Manager?
Do you error logs in tesseract model logs?

[2022-05-28 22:26] amtam0 commented on #2390
Hi @KonstantinKorotaev ,
In the data manager static predictions are displayed properly, only when using the blue button that predictions do not appear.
for both views tesseract works properly.

[2022-05-29 07:24] LizSebban commented on #2405
Ah! Sorry, I meant no offense.

Best Regards,

Elisabeth Sebban
Data manager, Auditing team

[Related image]www.ebay.co.il/rnd/<https://nam10.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.ebay.co.il%2Frnd%2F&data=04%7C01%7Cesebban%40ebay.com%7Cc1c211c3b4f5464598db08da16cd27fc%7C46326bff992841a0baca17c16c94ea99%7C0%7C0%7C637847367790202570%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQI

[2022-05-29 12:48] makseq commented on #2405
@LizSebban btw in our Enterprise edition we use another spinner with a strong square like Heartex logo.

[2022-05-29 15:06] AndreaBrg opened #2415 "Migrate label-studio host to new machine"
Hi, I have a self-hosted label-studio instance on a machine which I'm now realizing is barely powerful enough. Now, I'd like to move my instance to a new remote machine, is there any way to do this without losing all my projects and labeled images?

[2022-05-30 12:22] syedjafer commented on #2396
Hi @Yiiii19
Can u check whether your python version/packages is activated

Sample Screenshot
![image](https://user-images.githubusercontent.com/20949510/170990500-75376142-0bf8-4fad-8d73-d0c6a989a3ed.png)

Also check whether the 'label-studio' is present in the <env>/bin folder,

![image](https://user-images.githubusercontent.com/20949510/170991314-3c42ffaa-9536-4c83-b81c-74dc8df6b449.png)

Hope t

[2022-05-30 14:42] thehappy1 opened #2419 "Error in exporting to YOLO format"
Hi,
I tried to export my large labeled dataset with aprox. 3000 images into YOLO format. During that the process get stuck while I tried to wait 4-5 hours - nothing happens. Therefore I wanna try it out with the API of label-studio.

I could not find the exact documentation for my problem. But I found a starting point. I altered the giving command from here: https://labelstud.io/api#tag/Export
`cu

[2022-05-30 19:56] makseq commented on #2419
@thehappy1 Hi, LS Community edition doesn't use background jobs, but the export operation can take a lot of time and it could be broken by timeout. As a workaround you can export images by batches:

[code]

[2022-05-30 20:01] makseq commented on #2415
@AndreaBrg yes, it's possible. What DB do you use?

You need to copy LS Database folder (you can find the path at the LS startup) on the new host. If you use postgres, you have to copy DB data too.

[2022-05-31 07:58] joshuafc commented on #2136
@ghplvh 我创建了一个新的PR, #2421 , 在 #1409 的基础上，增加了机翻版本的中文支持，你最近有时间参与翻译工作吗？

[2022-05-31 10:18] ellaroyce commented on #2373
@matteogabba  ++++

Is it also possible to load one file with columns: [timestamp, sensor 1, sensor 2, ..., sensor n, gps_lat, gps_long] and do cross annotation?
Selected data on map will be selected on the timeseries and available for annotation?

[2022-05-31 14:27] berrnine commented on #1752
@makseq

I have a similar issue. I can drag out the x axis and see a complete view of my data, but the label cursor will not appear and the y axis will bug out with time series data containing H:M:S format. It works with just dates though.

Works: 2022/2/7
Doesn't work: 2022/2/7 12:23:42

Buggy Y axis:
![image](https://user-images.githubusercontent.com/106604406/171197383-42967ab7-3f72-4eb8-aec2-3

[2022-06-01 00:43] makseq commented on #2373
@ellaroyce Yes, it's possible, but each column will be presented as separate channel.

[2022-06-01 22:40] makseq commented on #1752
Thank you for provided data & config, it helps us a lot!

[2022-06-02 11:53] ntakouris opened #2441 "Exporting to COCO does not include extra bbox labels"
**Describe the bug**
JSON after exporting to COCO does not contain extra bbox label info (see below steps)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project
2. Add the following code xml (modified image bboxes label playground template)
[code]

4. Click Export -> COCO
5. See output

[code]

**Expected behavior**
There's no defined API to add extra annotations on bounding b

[2022-06-03 08:54] hlomzik commented on #1931
Sorry, this issue was missed, just fixed it in LSF, will be released soon. Or you can use custom build right now.

[2022-06-03 09:04] #1931 closed

[2022-06-03 09:51] FancyBanana opened #2447 "Error when importing CSV with Jetty"
**Describe the bug**
When my spring-boot application tries to `POST` a csv file to `/api/projects/{id}/import/` I get following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

* Request:
[code]

* Response:
[code]

**Expected behavior**
File gets imported as tasks.
`"POST /api/projects/3/import HTTP/1.1" 201 229`

**Screenshots**
Diff between Failed Jetty request body (left) and

[2022-06-03 11:06] prasadkumar0590 opened #2449 "Can we connect ms sqlcdatabase with Label studio"
Can we connect ms sql database with Label studio.

what are the databases can we connect with label studio

[2022-06-03 13:06] FancyBanana commented on #2447
After simulating the request through Insomnia, I narrowed the error down to the `Transfer-encoding: chunked` header. If the header is set server will always respond with an error

[2022-06-03 15:05] jfragoulis opened #2451 "Label-studio behind a proxy fails to reimport"
**Describe the bug**
PR https://github.com/heartexlabs/label-studio/pull/1044 introduces an ready return for empty reimports. However, it responds with `204`.

While that may seem a good choice, it also wrong. According to the specification [1][2] `204` should not have a body.

This is not a problem when trying to access label-studio from a browser. As the documentation says, browsers have fault t

[2022-06-03 17:17] prasadkumar0590 opened #2454 "date time format issue using csv data"
timeColumn (time) cannot be parsed.
First wrong values: 2021-04-07 00:00:00, 2021-04-07 00:05:00, 2021-04-07 00:10:00
Your timeFormat: %Y-%m-%d %H:%M:%S.%f. It should be compatible with these values.

[2022-06-03 17:20] makseq commented on #2449
Hello, LS officially supports postgresql and sqlite.

Unofficial support - mysql, and sometimes it's tricky.

[2022-06-03 17:20] #2449 closed

[2022-06-03 17:34] makseq commented on #2454
Please provide a more precise description of the error you are experiencing.

[2022-06-03 17:38] ghplvh commented on #2136
哈哈哈，可以呀，但是好像不给合并进去？

[2022-06-03 18:02] prasadkumar0590 commented on #2454
we are using csv data

[185553.csv](https://github.com/heartexlabs/label-studio/files/8834669/185553.csv)

[2022-06-06 08:35] iioufogood opened #2458 "The front-end problems"
label-studio/label_studio/frontend/dist/dm
label-studio/label_studio/frontend/dist/lsf

How are the files in these two files generated？
Where is the source file?

[2022-06-06 15:04] haimat opened #2460 "Python error when trying to run label-studio after installing via pip"
**Describe the bug**
I installed Label Studio via `pip`, as described on the main GitHub page. However, when I try to run it a Python exception is being thrown:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run `pip install label-studio`
2. run `label-studio`

**Environment (please complete the following information):**
 - OS: Ubuntu 20.04
 - Label Studio Version: latest version fr

[2022-06-07 09:33] prasadkumar0590 opened #2467 "Is this tool capable of loading data from from any RDBMS databse or no-sql database"
Is this tool capable of importing data from from any RDBMS database or no-sql database

we want to connect to database and import the data rather than csv file

Is this possible

[2022-06-07 11:29] GaaH opened #2470 "TextArea predictions on spans are discarded"
**Describe the bug**
I try to setup label-studio for Entity Linking annotation. I want to link spans of text to their wikidata entities. Since there are too many entities, I choose not to use the `Labels` annotations since I don’t want to generate all the possible labels (several millions!). Instead, I let the annotator enter free text in a `TextArea` input, which is linked to spans by setting `pe

[2022-06-07 15:36] thehappy1 commented on #2419
Thank you for your help. I was able to export the project with the help of the API. And I think you're right, it has something to do with a timeout or something...

[2022-06-07 22:33] makseq commented on #2454
Please, provide clear description of error with a screenshots. Also we need the labeling config to diagnose the problem.

[2022-06-07 22:37] makseq commented on #2458
There are two different repositories:
LSF = https://github.com/heartexlabs/label-studio-frontend#development
DM = https://github.com/heartexlabs/dm2#development

You should build these modules and copy the result files.

[2022-06-07 22:37] #2458 closed

[2022-06-07 23:09] makseq commented on #2460
[code]

[2022-06-07 23:09] #2460 closed

[2022-06-07 23:23] makseq commented on #2470
You used incorrect format for TextArea result, check the following example:

[code]

[2022-06-07 23:23] #2470 closed

[2022-06-07 23:31] makseq commented on #2470
You should specify the same ids for perRegion-connected regions:

[code]

[2022-06-07 23:36] #2419 closed

[2022-06-08 07:07] GaaH commented on #968
Same problem here, I opened an issue on https://github.com/heartexlabs/label-studio-ml-backend/issues/121#issue-1263399401

[2022-06-08 11:39] iioufogood opened #2478 "The front-end problems"
After the project https://github.com/heartexlabs/label-studio-frontend#development is packaged, replace the packaged code with label-studio/label_studio/frontend/dist/ lsf；
Label-studio local development error；
![image](https://user-images.githubusercontent.com/31815016/172606670-5ac8bc5f-1f50-4391-9415-17dad3b471ea.png)

How is the label-studio/label_studio/frontend/dist/ lsf code developed local

[2022-06-08 14:22] dhirajsuvarna commented on #1931
when is the next release?

[2022-06-08 20:49] bmartel commented on #1752
As for datasets which are too large causing an issue, I don't know that this is the same issue necessarily. I'll try to reproduce that, but I would as a first check just ensure the datasets are ordered correctly by time as I am seeing this being an issue in code at this time for handling datasets which are ordered either by another column than the `timeColumn`.

[2022-06-08 22:16] divjotbedi opened #2482 "Exporting as PNG does not give the background/color for the annotation"
**Describe the bug**
When exporting a brush annotation as a PNG, the output is not mapped by the background colors specified in (Settings > Labeling Interface). In addition, when exporting as a JSON, the background colors for the attributes are not specified anywhere, leaving the values that were selected in the interface as arbitrary and as not linked to any of the outputs.

**To Reproduce**
Step

[2022-06-09 00:41] makseq commented on #1931
@dhirajsuvarna on the next week.

[2022-06-09 00:52] makseq opened #2483 "Can we get color of the label when exporting as PNG?"
### Discussed in https://github.com/heartexlabs/label-studio/discussions/2481

<div type='discussions-op-text'>

<sup>Originally posted by **jay-reveal** June  9, 2022</sup>
We are using label-studio as an annotation tool for images and would like to get the labeled images to have the color of the label, and also, if possible, all the labels in one image.</div>