[2021-02-14 16:10] makseq commented on #596
@Karmendes

[2021-02-14 18:23] Karmendes commented on #596
Thank you @makseq

So, I put my images on s3. Now imagine that I put new images in BUCKET, what would be the API call for these new images to be scanned as new tasks?

[2021-02-14 19:48] hlomzik commented on #498
@davodogster to use custom (or not yet included) build of labeling interface you can just replace it via simple command from our guide: https://labelstud.io/guide/frontend.html#Github-Artifacts (I think you may skip the `GITHUB_TOKEN` part as that repo is totally open, also you may skip `<branch>` param as it is already in `master`)
Or you can just download already built package from [CI page](htt

[2021-02-14 19:49] hlomzik commented on #498
about exporting labels as new column in csv — had no time for this yet, sorry. I hope, we'll investigate into this soon.

[2021-02-15 13:42] Yannik1337 opened #597 "Project loading error: string indices must be integers"
**Describe the bug**
I am running LabelStudio on a Kubernetes cluster. I want to do audio classification, and I have initialised the project already.
When I start everything, the UI is loading, but I get the above mentioned untraceable error:

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Intialise the project locally
2. Create the image with this template:
[code]

3. Using kubernete

[2021-02-15 15:29] slychief opened #599 "Question: Backend import of annotations from csv file"
Hi,

I was wondering if there is a faster or more direct API to process label-studio data. I have a csv file with audio annotations and want to import it into label-studio. My current understanding is that I need to use "curl -X POST -H Content-Type:application/json http://localhost:8080/api/..." for each annotation I want to add.

From a Python script, I then need to use an os interface like subp

[2021-02-15 15:31] slychief commented on #599
Sorry for the bug label. I just don't know how to remove it.

[2021-02-15 15:35] makseq commented on #599
@slychief Hi!

Do you want to use only API / SDK ways to import annotations? Why don't you use GUI way? By GUI I mean is to prepare json file for import with tasks and annotations.

[2021-02-15 15:39] makseq commented on #596
You have two ways:
1. Use S3 storage from LS directly (go to Settings => Cloud storage sync section), add Source storage via dialog.
2. Get links to your s3 files and call this API:
[code]

[2021-02-15 15:43] makseq commented on #589
@jrdalenberg we are almost ready to release 0.9.1 and we can include newest Pillow versions, if you confirm that Pillow==0.8.1 is ok :slightly_smiling_face:

[2021-02-15 15:44] #584 closed

[2021-02-15 15:44] makseq commented on #584
Feel free to reopen if you have this error in LS > 0.9.1.

[2021-02-15 15:46] slychief commented on #599
I need to fully automate the experimental design and reduce manual interaction to a minimum. Thus I am creating label-studio projects with an automated script and this script should also load the annotations from a csv file. After training and inference of the models, users should only evaluate the prediction results.

I'm also fine with creating the json files for the tasks and completions automa

[2021-02-15 15:53] makseq commented on #599
Ok. I think it's optimal for you to call API as it described here: https://labelstud.io/guide/api.html#Import-data-and-tasks

[code]

Include to your tasks `data` and `predictions` fields.

[2021-02-15 15:55] makseq commented on #573
Feel free to reopen if your problem is not gone.

[2021-02-15 15:55] #573 closed

[2021-02-15 15:57] slychief commented on #599
Thank you for the quick confirmation!

[2021-02-15 15:57] #599 closed

[2021-02-15 15:57] makseq commented on #564
Feel free to reopen this issue if it's not solved yet.

[2021-02-15 15:57] #564 closed

[2021-02-15 16:02] #556 closed

[2021-02-15 16:04] makseq commented on #559
@jeannefukumaru Do you still have this issue?

[2021-02-15 16:04] makseq commented on #570
Feel free to reopen if your problem hasn't gone.

[2021-02-15 16:04] #570 closed

[2021-02-15 16:07] #545 closed

[2021-02-15 16:08] makseq commented on #540
Feel free to reopen if your problem hasn't gone.

[2021-02-15 16:08] #540 closed

[2021-02-15 16:12] #526 closed

[2021-02-15 16:17] makseq commented on #478
Feel free to reopen if you have this problems again.

[2021-02-15 16:17] #478 closed

[2021-02-15 16:19] makseq commented on #450
We are completely reworking our codebase, so I think this is no longer relevant.

[2021-02-15 16:19] #450 closed

[2021-02-15 18:01] #395 closed

[2021-02-15 18:14] makseq commented on #408
@p-sodmann Sorry for a late answer, but we have implemented a multi-layer image approach finally:
https://github.com/heartexlabs/label-studio-frontend/pull/164

I think we will include it into release 0.9.1.

Feel free to reopen this issue if you have any problems.

[2021-02-15 18:14] #408 closed

[2021-02-15 18:24] jrdalenberg commented on #589
Sorry I haven’t found the time yet. Other deadlines, lockdowns, and kids at home are pretty time demanding. I’ll try to get to it later this week. You don’t have to postpone this release for me though!

[2021-02-15 20:09] makseq commented on #597
I'm not sure about this line:

[code]
Especially about "label-studio start project".
Let's try
[code]

But it's better to use
[code]
with ./tools/run.sh:
[code]

[2021-02-16 08:36] jeannefukumaru commented on #559
Hi @makseq the solution turned out to be trivial - untick the box in magenta. The credentials error seems to be a side effect but it wasn't the real issue.
![Screenshot 2021-02-16 at 4 32 37 PM](https://user-images.githubusercontent.com/26344607/108037828-158d5300-7075-11eb-8013-2cad9da4d011.png)

[2021-02-16 08:38] jeannefukumaru commented on #559
Thanks for the suggestions though

[2021-02-16 11:49] makseq commented on #559
Wow! Nice! Glad to hear about your success :slightly_smiling_face:

[2021-02-16 11:49] #559 closed

[2021-02-16 14:24] slychief commented on #599
Hi,

I'm sorry. But I still need help on the same topic. I now try to import everything using a pre-existing json file

`label-studio init --input-path=my_tasks.json`

I'm using the tasks.json from a previous project to import the audio files into a new project:

`
{
    "1": {
        "id": 1,
        "task_path": "\/path\/to\/audio1.mp3",
        "data": {
            "audio": "\/data\/audio1.mp

[2021-02-16 15:15] makseq commented on #599
Hi, it's a good point for our documentation to make it more clear :slightly_smiling_face:
Try this one:

[code]

[2021-02-16 15:16] makseq commented on #599
Also you can check this section:
https://labelstud.io/guide/api.html#Import-data-and-tasks

[2021-02-16 23:30] jardinetsouffleton opened #602 "Data disappears when zooming in, re-appears when zooming out"
**Describe the bug**
When zooming out, the data appears, but disappears when zooming in. It re-appears when zooming out again.

**Setting**
- Time series annotation
- 147,000 data points in a CSV file
- 4 Channels
- 2 labels

**To Reproduce**
Steps to reproduce the behavior:

1. Load the data using the GUI
2. Create an XML config for 2 labels, 4 channels
3. Place some annotations in a very close z

[2021-02-17 07:12] smitaSalgode opened #604 "Unable to load tiff files for labelling"
In the Label studio tool, i am able to import tiff files. However, when i click on the task to preview the tiff file for labelling. I get an load error as below
<img width="631" alt="tiff error" src="https://user-images.githubusercontent.com/29054979/108168540-7d977400-711d-11eb-8ebd-198bd6e58f31.PNG">

Cannot load image (/data/upload/df8721-file_example_TIFF_1MB.tiff). Check console/network panel

[2021-02-17 08:38] makseq commented on #604
There seems your browser doesn't support tiff images. Try to open this image directly in the browser, without LS.

[2021-02-17 09:50] smitaSalgode commented on #604
I am able to view tiff files in Chrome.
The same issue i am facing even on other browsers. I tried with Firefox as well

[2021-02-17 09:56] makseq commented on #604
Could you say what is the full path in the browser to your LS instance? E.g.: http://localhost:8080/ or domain.com/ls/

[2021-02-17 11:58] Yannik1337 commented on #597
Thanks for your input, I can now run LS on the server. For others looking for a solution, this was my approach.
I found it to be necessary to initialize the project within the image, rather than just copying an existing project to the image (see the commented lines):

[code]

After the project is initialized, I copy my stuff into the project folder--I do this since I set some settings in config.js

[2021-02-17 11:58] #597 closed

[2021-02-17 12:38] smitaSalgode commented on #604
Its label-studio.domain.com/

[2021-02-17 12:40] makseq commented on #604
In this case you need to setup a HOST environment variable. Check this guide: https://labelstud.io/guide/FAQ.html#How-to-run-LSB-with-external-domain-name

[2021-02-17 12:50] smitaSalgode commented on #604
Thank you Max. i will try this and let you know

[2021-02-17 12:51] makseq commented on #604
Don't forget to re-import your images, because HOST settings affect it/

[2021-02-17 22:34] Karmendes commented on #596
Ok!Thanks!

[2021-02-17 22:34] #596 closed

[2021-02-18 03:19] davodogster commented on #498
@makseq yes it appears only the old time series config from months ago works worth 0.9.1 and the new config you guys created doesn't work. Also, there is no option to disable the fixed scale. Are you able to include that so next time I  pip install I can

[2021-02-18 03:53] davodogster commented on #498
@hlomzik Are you able to make it easier to upload multiple time series in one project? I can't get it to work, probably because I loaded the first one it and then edited the config file then tried to load another csv in.

[2021-02-18 08:53] johnson7788 opened #606 "export YOLO format"
**Is your feature request related to a problem? Please describe.**
if it can export image to YOLO format, it will be better. thank you!

[2021-02-18 09:42] smitaSalgode commented on #604
Hi Max,
We ran this below command

nohup label-studio start --host label-studio.domain.com my_project --username ***** --password ***** --init --force > output.log &

Still no luck. Tried re-importing the file as well

[2021-02-18 09:52] makseq commented on #604
And what error do you have now?

[2021-02-18 10:13] smitaSalgode commented on #604
Still the same error.. unable to load the file.
It is the same error we get when we try to load non supported files like pdf

[2021-02-18 10:21] makseq commented on #604
On your previous screenshot I see path /data/upload/...
If your domain is correct, you will see label-studio.domain.com/data/upload/...

Also you can try to upload JPG files. Will they be processed correctly?

[2021-02-18 11:48] smitaSalgode commented on #604
Yes.. now i am able to see the path as label-studio.domain.com/data/upload
and i am able to process jpg files without any issues

You can also refer this tool tink https://app.labelstud.io/tasks?tab=1&task=0
Even in this link, the tiff file processing fails

[2021-02-18 12:50] Karmendes opened #607 "Sync is not working with S3"
I launch a instance from the label studio with multi-session so that some users could use it, with the data in S3. After about 3 person start to use, the label studio started to have synchronization problems to create the tasks, that is, when you press the scan button, it is unable to load any task.

[2021-02-18 13:15] makseq commented on #607
@Karmendes Try to start LS with --log-level DEBUG and check your console, what will be there?

[2021-02-18 13:18] makseq commented on #604
Please, share your project on app.labelstud.io with me: go to Settings =>
Project management => click the mini icon near the project name in the list
of projects.

чт, 18 февр. 2021 г. в 14:49, smitaSalgode <notifications@github.com>:

[2021-02-18 13:27] Karmendes commented on #607
DEBUG is saying that the images are skipped by regex filter

[2021-02-18 14:15] smitaSalgode commented on #604
Here is the link

https://app.labelstud.io/api/project-switch?uuid=0cfba174-08c9-48c7-91b9-9a9c338cfa40

[2021-02-18 20:26] ericflores opened #608 "Initialization in Anaconda not possible when following the instructions"
**Describe the bug**
Initialization in Anaconda not possible when following the instructions

**To Reproduce**
Steps to reproduce the behavior:
1. Open Anaconda Prompt in Windows 10 using Anaconda3 64 bits
2. Execute the following steps as instructed in the Readme:
conda create --name label-studio python=3.8
conda activate label-studio
pip install label-studio
python label_studio/server.py start l

[2021-02-18 20:33] makseq commented on #608
There seems you are using `python label_studio/server.py start labeling_project --init` for cases when you install LS from git repository instead of pip. You should replace it to:

[code]

[2021-02-18 20:43] makseq commented on #606
@johnson7788 It would be great if you could contribute this feature to `https://github.com/heartexlabs/label-studio-converter` repository!

[2021-02-18 20:55] ericflores commented on #608
I was able to initialize by moving to the Anaconda environment folder:
C:\Users\myusername\Anaconda3\envs\label-studio-env\Lib\site-packages\label_studio

and executing this:
python server.py start labeling_project --init

A pretty cumbersome solution, as I don't want to be running my project from the python library folder.

Your solution, however, worked much better. Thanks. You should document i

[2021-02-18 20:58] #608 closed

[2021-02-18 21:24] makseq commented on #604
Thanks. I tried to open links for tiff files in my browser directly and it
failed. It means my browser (chrome) doesn't support tiff.
Check this table:
https://en.wikipedia.org/wiki/Comparison_of_web_browsers#Image_format_support

чт, 18 февр. 2021 г. в 17:16, smitaSalgode <notifications@github.com>:

[2021-02-19 09:44] johnson7788 commented on #606
Yes, YOLO format is not hard when i write like label-studio-converter COCO code, i has completed a rough code, when i check it again, I will submit the PR. thanks!

[2021-02-19 09:44] #606 closed

[2021-02-19 09:50] makseq commented on #606
@johnson7788 thank you very much! It would be great!

[2021-02-19 10:08] DominikZians opened #609 "Incompability with spacy"
label-studio is incompatible with the spaCy NLP library (https://github.com/explosion/spaCy) because spaCy needs `wasabi>=0.8.1` and label-studio needs `wasabi==0.4.2`.

Is there a specific reason why label-studio does not work with wasabi 0.8.1?

[2021-02-19 10:17] makseq commented on #609
@DominikZians Thank you for your report. No, I think it's not a strict requirement, we will fix it in future releases.

[2021-02-19 10:55] filippo82 commented on #208
Dear @makseq

is there any temporary fix for this issue? I assume the current hotkey (`ctrl+enter`) is hardcoded somewhere in the code. Would it be possible to temporary change that?

Thanks.

[2021-02-19 17:33] makseq commented on #602
@jardinetsouffleton Thank you very much for your report. I've created a ticket with this bug in our Jira, I hope we will fix it soon.
BTW what a cool black theme :slightly_smiling_face:

[2021-02-19 17:49] makseq commented on #498
@davodogster Could you show a screenshot with an error while importing?

[2021-02-19 17:50] makseq commented on #607
@Karmendes Sorry, but are you sure your regex is ok on `Settings => Cloud storage sync`?

[2021-02-19 18:10] makseq commented on #609
@DominikZians I've added it to release/0.9.1.post2, it would be great if you could check it!

[2021-02-19 18:10] #609 closed

[2021-02-19 18:37] jardinetsouffleton commented on #602
No problem! I love the tool you are building, it's a real time saver.

[2021-02-21 14:29] sandorkonya commented on #504
Hi there,
just noticed this github repo, and like it much!

I would warmly recommend using [cornerstone](https://cornerstonejs.org/) for the DICOM integration and the cornerstone tools for the GUI!

[2021-02-22 01:30] davodogster commented on #498
Hi @makseq it seems to work!

My only concern now (apart from wanting to be able to export annotations as a single csv column beside the raw data .. haha) is that it might be doubling up?

For each task ID it shows **both** CSV's, so is it doubling up or am I doing something wrong? I don't want to annotate lots of time series and then export the annotations to find out I have done it wrong.
Here's

[2021-02-22 12:36] hlomzik commented on #208
Hi all here!
The temporary fix is easy.
1. Change hotkey in `AppStore.js`: https://github.com/heartexlabs/label-studio-frontend/blob/7350e8c800c4d531d0a2b52a03217c7e6998789b/src/stores/AppStore.js#L162
2. Build LSF and include the new version to LS: https://labelstud.io/guide/frontend.html#Custom-LSF-LSB-integration

Also you can change it in runtime with something like that for `ctrl+S`:
```docum

[2021-02-22 14:49] makseq commented on #498
@davodogster Hi! Yes, I think now everything must be correct. One LS task is equal to one csv files.

[2021-02-22 17:37] muthurajr opened #611 "Jupyter Notebook external application through jupyter-server-proxy"
I'm trying to run label-studio as an external process in notebook server using jupyter-server-proxy and facing proxy issues with the URL's. Has anyone able to achieve this scenario successfully?

Examples:
Expected URL: http://localhost:8888/labelstudio/data/upload/6482e2-download.png
Actual URL: http://localhost:8888/data/upload/6482e2-download.png

Expected URL: http://localhost:8888/labelstudio

[2021-02-23 14:13] EzrielS opened #612 "Slow loading for tasks that show 2 images."
**Describe the bug**
When doing image classification with two images, the rendering of the task is really slow.

**To Reproduce**
Steps to reproduce the behavior:
1. In Settings set the Labeling Config as :
<View>
    <Image name="image" value="$image"/>
    <Image name="image2" value="$image2"/>
    <Choices name="choice" toName="image" showInLine="true">
      <Choice value="Correct" background=

[2021-02-23 16:38] OmaymaS opened #613 "start-multi-session (--initial-project-description expected)"
**Issue**

Got the following error when:
- I tried to run a docker image built with the purpose of starting a multi session.
- I deployed the same to GCP.

[code]

**To Reproduce**
- edit `tools/run.sh` to include:
[code]
- build a local docker image and run OR deploy to GCP.

**Expected behavior**
Multi project/session up and  running.

**Environment**
 - Local: macOS
 - cloud: GCP

**Additional

[2021-02-23 18:27] jagan1333 opened #614 "'utf-8' codec can't decode byte 0xff in position 0: invalid start byte"
Unable to import files from GCS bucket, it is able to scan files inside but when I do import it throws error like,
Traceback (most recent call last):
  File "/root/LS/label-studio/label_studio/utils/misc.py", line 64, in exception_f
    return f(*args, **kwargs)
  File "/root/LS/label-studio/label_studio/data_manager/api.py", line 159, in api_project_tab_tasks
    tasks = prepare_tasks(g.project,

[2021-02-24 07:03] jigarparekh80 opened #615 "multiple choices required validation does not work"
Below config skips second validation relvance2, This perfectly works if I have some other 2nd tag instad of choices. For example, two required tags per region choices and rating works but if i have two required tags as choices then it only validates first one for mandatory criteria, and if i dont select second still it allows to submit task.

<View>
  <View >
    <Labels name="ner" toName="text">

[2021-02-24 15:00] herbertrlee opened #616 "Google IAM error on task loading when running in Google Compute Engine"
**Describe the bug**
When running label studio on Google Compute Engine, tasks cannot be loaded from Google Cloud Storage.  The following error is flashed:

[code]

On the server side, I get the following stacktrace:

[label_studio_stacktrace.txt](https://github.com/heartexlabs/label-studio/files/6036763/label_studio_stacktrace.txt)

This issue DOES NOT happen when running locally, either in Docke

[2021-02-24 16:29] makseq commented on #615
@jigarparekh80 Thank you very much for your report, it's definitely a bug :slightly_smiling_face:

[2021-02-24 17:53] makseq commented on #614
@jagan1333 What files do you store on the bucket?
There seems you forget to enable checkbox `Treat every bucket object as a resource file (jpg, txt, time-series, etc). If unchecked, Label Studio treats every bucket object as a JSON-formatted task.`

![image](https://user-images.githubusercontent.com/501780/109043271-36435180-76e2-11eb-8033-06e57ac8df2d.png)

[2021-02-24 18:18] makseq commented on #612
@EzrielS Could you provide some video with this problem?

[2021-02-24 18:20] makseq commented on #611
@muthurajr What LS version do you use?

[2021-02-24 18:33] makseq commented on #613
@OmaymaS `start-multi-session` is not supporting all these options:
[code]

Just leave
[code]

[2021-02-25 07:11] nishchay47b opened #617 "Starting ml backends shows 404"
**Describe the bug**
The ml backends are getting initialized

 successfully with the command
`label-studio-ml init my_ml_backend --script label_studio/ml/examples/simple_text_classifier.py` and generating output
`Congratulations! ML Backend has been successfully initialized in ./my_ml_backend`
but after doing `label-studio-ml start my_ml_backend` at localhost:9090 I am getting `"GET / HTTP/1.1" 40

[2021-02-25 10:40] OmaymaS commented on #613
Thanks!
But what if I'd like to use a username and password?

[2021-02-25 12:51] alter-s1 opened #620 "RAM overflow when opening a new task"
When a new task is opened, the RAM becomes full. Having reached the 11GB limit, the studio crashes.
After clearing the cache, the RAM is freed.

Steps to reproduce the behavior:
1. Importing a task with audio files
2. Launching labeling
3. Go to the next task

Expected behavior:
The memory is released.

Screenshots:

![Screenshot_20210225_142500](https://user-images.githubusercontent.com/69759292/

[2021-02-25 13:10] makseq commented on #617
@nishchay47b ML backend server doesn't have an index `/` page. Are you able to add ML backend to LS instance via Model page?

[2021-02-25 18:41] PragathiJ opened #621 "Unable to load trained tensorflow model to ML backend"
Hi, I am fairly new to label studio and I am using the tool for auto labeling the time series data. I am trying to load a pre-trained tensorflow model to the ML backend and passing the csv files that are loaded as tasks to the label studio as test data to the model inference. Although ML backend starts without any error, it does not work. The model is not getting connected with a message that says

[2021-02-26 05:30] muthurajr commented on #611
v0.9.1.post1. Even facing same issue with v0.8.2 as well.

[2021-02-26 06:01] nishchay47b commented on #617
Sorry I misunderstood the model page as backend server page only, it is working at 0.0.0.0:8080/model. Thank you for the response, closing this issue.

[2021-02-26 06:01] #617 closed

[2021-02-26 09:31] MEugeniaC opened #622 "Import data shell display tasks disabled"
label studio version 0.9.1
Installation via pip
Python 3.8.5.
Testing NER, reading and writing labeled text.

The problem is when you create, initialize and import via command line (all in one line).
The application initializes, reads the file (the image identifies that it reads the tasks), but it is not shown in the panel.
If you try to label (you access the labeling functionality) it shows the t

[2021-02-26 13:56] erip opened #623 "Allow filtering by gt/lt for numeric columns"
**Is your feature request related to a problem? Please describe.**

I have data of the following form:

[code]

I'm frustrated that I cannot apply filters in the UI based on relationships of column c as a float; e.g., `filter c gt 0`

**Describe the solution you'd like**

I'd like to expose a filter with simple greater than/less than some number for a given numeric column  in the UI.

**Describe a

[2021-02-27 15:37] erip commented on #623
A related feature would be to sort on these columns. 😄

[2021-02-27 18:22] makseq commented on #623
🙂 actually we have implemented it already, but it has been disabled because of some bugs :) I hope we will enable this feature in our future release.

[2021-02-28 03:06] atakanokan opened #624 "Multiple runs of predict method with ML backend"
**Describe the bug**
When a new task is opened to be annotated, the `predict` method is called two times.

**To Reproduce**
Steps to reproduce the behavior:
1. Start ML backend via `label-studio-ml start ml_annotation_backend`
2. Start Label studio with ML backend connection via `label-studio start annotation_project --template text_named_entity --ml-backends http://localhost:9090`
3. UI opens up

[2021-02-28 06:32] atakanokan opened #625 "Possible selectedColor attributes for Label"
The documentation doesn't state what are the acceptable arguments as strings to the `selectedColor` attribute for `Label` in `config.xml`.

https://github.com/heartexlabs/label-studio/blob/e34e4cd3a9f4361b5f3b292eafecff14f305fd36/docs/source/tags/label.md

![image](https://user-images.githubusercontent.com/20222221/109409912-64779a00-794b-11eb-9be0-10dcaca437de.png)

[2021-03-01 01:25] sylvinus opened #626 "Can't import task with ID via the API"
Hello!

I would expect the API to accept IDs in the input data for tasks:
[code]

However, IDs are discarded. Return of that command looks like:
[code]

It would be useful to keep IDs stable when posting the same tasks multiple times.

thanks!

[2021-03-01 04:46] razvanilin opened #627 "FileNotFoundError when exporting to Pascal VOC"
**Describe the bug**
I annotate some images with the Bbox object detection setting and then when I hit Export to VOC I get the error below. If I remove the completion for the particular file that is not found, I get the same error but for another completed file.

Error from the console:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo and follow the instructions here to

[2021-03-01 07:40] makseq commented on #626
@sylvinus Hello! It's better to use PATCH api/tasks/id for this purpose.

[2021-03-01 09:18] sylvinus commented on #626
Ah right, I hadn't seen that one. Feel free to close this if you don't want to implement (I guess the benefit would be to allow bulk-posting)

[2021-03-01 09:50] makseq commented on #626
@sylvinus we are working on new backend, so we definitely won't implement this.

[2021-03-01 09:50] #626 closed

[2021-03-01 10:12] OmaymaS commented on #613
I could see the answer in this [slack thread](https://label-studio.slack.com/archives/CQ8LYPPJS/p1613147864456600).
Issue is resolved.

Thanks

[2021-03-01 11:18] makseq commented on #613
@OmaymaS Thank you very much for your attentiveness and response!

[2021-03-01 11:18] #613 closed

[2021-03-01 13:28] jagan1333 commented on #614
Hi @makseq when I enable checkbox getting following error even though service account has all necessary permissions.

  File "/root/LS/label-studio/label_studio/utils/uri_resolver.py", line 125, in resolve_gs
    return python_cloud_function_get_signed_url(bucket_name, key)
  File "/root/LS/label-studio/label_studio/utils/uri_resolver.py", line 183, in python_cloud_function_get_signed_url
    sign

[2021-03-01 14:14] makseq commented on #620
Thank you very much for your detailed report, we will investigate it.

[2021-03-01 18:20] srv-gabriel commented on #621
Hi,
I'm having the same error. Were you able to run the [example](https://labelstud.io/tutorials/dummy_model.html) correctly?

[2021-03-01 18:24] makseq commented on #621
@PragathiJ Hi, could you provide any screenshots with this error?

[2021-03-01 19:03] srv-gabriel opened #628 "Simplest Machine Learning backend not working."
I'm following [this tutorial](https://labelstud.io/tutorials/dummy_model.html), line by line, and I'm getting an error when trying to train the model.

![label-studio-error](https://user-images.githubusercontent.com/56798441/109545385-31461f80-7a9f-11eb-8e7c-677fc57637f3.png)

[2021-03-01 22:27] smoreface commented on #625
@hlomzik can you confirm that the colors in https://github.com/heartexlabs/label-studio-frontend/blob/master/src/utils/colors.js are the available options for this field?

[2021-03-02 00:37] muthurajr commented on #611
@makseq I have tried to utilize the blueprints as well using https://github.com/heartexlabs/label-studio/blob/master/blueprint_usage_example.py. Few links are not working like below.
1. http://localhost:5000/data/upload/ed7ec5-label-studio.gif
2. http://localhost:5000/import, http://localhost:5000/export in tasks screen.

Thanks!

[2021-03-02 02:59] atakanokan commented on #625
I just tried re-starting a project with multiple `Label`s such as  `<Label value="X" selectedColor="green"/>`  and the color changes seem to not take any effect. (Any other change such as adding a new `Label` would be in effect with a new start of the project, not init.)

[2021-03-02 07:30] feipxyz opened #630 "Why is the result wrong in bbox object detection task？"
setting:
bbox object detection

src image:
![image](https://user-images.githubusercontent.com/26288410/109613418-155c7f80-7b6c-11eb-870f-2f372acd132a.png)

result:
![image](https://user-images.githubusercontent.com/26288410/109613263-e0502d00-7b6b-11eb-837e-efad951c0a80.png)
![image](https://user-images.githubusercontent.com/26288410/109613306-ef36df80-7b6b-11eb-9d85-0bd8f8e72074.png)
![image](htt

[2021-03-02 07:46] makseq commented on #630
@feipxyz what is wrong with these coordinates?

[2021-03-02 13:32] yannick0711 opened #631 "Import is not supported for the current storage"
`
500 INTERNAL SERVER ERROR
{"detail":"NotImplementedError: Import is not supported for the current storage, change storage type in project settingsS3Storage","request":{},"result":{"traceback":"Traceback (most recent call last):\n  File \"/label-studio/label_studio/data_import/models.py\", line 169, in apply\n    self.project.source_storage.set_many(new_tasks.keys(), new_tasks.values())\n  File \

[2021-03-02 20:10] atakanokan commented on #625
@smoreface Can we add info about the `background` attribute too?

[2021-03-02 20:16] smoreface commented on #625
@atakanokan yes, I can do that. Glad to hear the color name works with the background parameter!

[2021-03-03 04:49] atakanokan opened #632 "Slow UI response times after ML backend connection"
**Describe the bug**
UI response have slowed down very much after connecting a ML backend to the annotation project. Disabling the ML backend doesn't make response times return to normal.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new annotation project
2. Open a task -> fast (<0.3 seconds)
3. Create a new ML backend
4. Connect the ML backend to the annotation project
5. Open t

[2021-03-03 06:17] mirfan899 commented on #627
Same issue here. I'm using Ubuntu 18.04.

[2021-03-03 07:05] atakanokan commented on #632
Update:
After deleting the ML backend connection (screenshot below), the task opening is now fast again. I am guessing when there is a ML backend added to the annotation project, label-studio tries to get predictions even if the ML backend is not connected. Would it be possible to bypass that so that the UI works much faster when a ML backend is added but not connected?

![image](https://user-imag

[2021-03-03 09:36] Rishabh-hyperverge commented on #632
I am facing the exact same problem

[2021-03-03 11:43] twsl opened #633 "Add Microsoft ADLS2"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Add Microsoft ADLS2 as a storage provider, which combines ADLS Gen1 and Azure Blob Storage.
Apparently requires [azure-storage-file-datalake](https://pypi.org/project/azure-storage-file-datalake/) instead of [azure-storage-blob](https://pypi.org/project/azure-storage-blob/).

**Describe alte

[2021-03-03 12:16] makseq commented on #633
@twsl Thank you for an interesting proposal! We will check it too.

[2021-03-05 02:18] hsethi2709 opened #635 "Authorization not included in the response header"
The API's built for Label Studio can be authorized with username and password. When I tried to integrate the same API's with my monitoring interface, the response header didn't include 'Authorization' in the response so the request was being blocked by the CORS policy.

Steps to reproduce the behaviour:
1. Enable Authorization on Label Studio
2. Integrate API with another web app. API will work wi

[2021-03-05 06:35] #635 closed

[2021-03-05 08:00] makseq commented on #630
@feipxyz did it solve your problem?

[2021-03-05 13:39] OmaymaS opened #637 "[mobx-state-tree] error in Label window"
**Describe the bug**
This message appears when we go to the Label window and refreshing doesn't fix it.
`[mobx-state-tree] Instance identifier 'id' for type 'TaskModel' must be a string or a number` in the **Label** mode.

**To Reproduce**

I couldn't track a consistent behavior or certain steps leading to the issue. But here are the main setup:
- Project deployed to GCP (cloud run).
- Tasks sync

[2021-03-05 13:50] makseq commented on #637
@OmaymaS Thank you for your report. How often does it happen?

[2021-03-05 13:59] OmaymaS commented on #637
It happened with 3 testers so far including me. My browser was on Chrome. I can confirm with others but most probably Chrome as well.

[2021-03-05 15:01] DominikMa commented on #637
I get the same error with a local setup and the tasks from the standard task.json file. For me it happens every time if all tasks are completed and Submit is clicked. Firefox then shows that there is no task left for labeling while chrome throws the presented error.

[2021-03-05 15:26] OmaymaS commented on #637
I believe they happened even when some tasks weren't completed as well.
But given that it doesn't break things in Firefox, is there sth to disable/enable in Chrome to avoid the error?

[2021-03-06 10:04] vcmorini opened #638 "Time Series CSV| Can't Import in the App"
**Description:**
Importing CSV with no header and no timestamp. Signals are column-wise, each signal contains 100 rows with values between 0 and 1.

I want to see each column (one signal) at a time, and label them, one by one, as good or bad.

**Problem:**
However I keep getting the error:

My config file, as described in the docs:
[code]

App: https://app.labelstud.io

[2021-03-08 08:14] Rishabh-hyperverge commented on #637
I also have the same error.

[2021-03-09 06:25] NotAnyMike opened #640 "Instructions on "Using custom DM build in Label Studio" not working"
**Describe the bug**
After modifying dm2, and following the steps in the read me of dm2 for "Using custom DM build in Label Studio". I expect to see the changes reflected in the dm UI of label studio.

**To Reproduce**
Steps to reproduce the behavior:

You can follow the official steps [here](https://github.com/heartexlabs/dm2#using-custom-dm-build-in-label-studio)

What I did is

1. I make a smal

[2021-03-09 08:06] stevebit commented on #627
Same issues with the latest version of docker hub.

[2021-03-09 10:38] nicholasrq commented on #640
hey, @NotAnyMike. could you please show the structure of your `label_studio/static/dm` directory after copying files fro DM?

[2021-03-09 10:45] NotAnyMike commented on #640
[code]

[2021-03-09 11:38] thesby opened #641 "[BUG] RectangleLabels fail after rotating the image"
version: 0.9.1.post1
browser: chrome 88.0.4324.146
OS: MacOS Mojave 10.14.5

RectangleLabels cannot draw rectangle on right position after rotating the image.

[2021-03-09 20:16] NotAnyMike commented on #640
Even renaming the `dm` folder doesn't look like changing anything. LS still loads perfectly and I cannot see any difference

[2021-03-10 07:44] seoulite opened #642 "Small but critical bug for configuration on 0.9.1-post1 release."
**Describe the bug**
After install recent release and initialize the project folder, when you contact setting menu to customize labeling environment, the bug has occured.

**To Reproduce**
Steps to reproduce the behavior:
1. pip install label-studio (recent)
2. label-studio start my_project -- init
3. browser opened
4. access into setting page on browser

**Expected behavior**
Configuration page w

[2021-03-10 10:45] makseq commented on #642
@seoulite Thank you very much for your PR, I've merged it into 0.9.2.post2!

[2021-03-10 10:45] #642 closed

[2021-03-10 11:03] makseq commented on #641
Could you provide more details? I've checked the rotation [here](https://labelstud.io/playground/?config=%3CView%3E%3Cbr%3E%20%20%3CImage%20name%3D%22image%22%20value%3D%22%24image%22%2F%3E%3Cbr%3E%20%20%3CRectangleLabels%20name%3D%22label%22%20toName%3D%22image%22%3E%3Cbr%3E%20%20%20%20%3CLabel%20value%3D%22Airplane%22%20background%3D%22green%22%2F%3E%3Cbr%3E%20%20%20%20%3CLabel%20value%3D%22Car%

[2021-03-10 11:10] nicholasrq commented on #640
@NotAnyMike thanks. as the instruction says, you need to copy **contents** of `build/static/**` to `label_studio/static/dm`. you now have `static` directory under `label_studio/static/dm` which is incorrect. you should end up with structure like this:

[code]

[2021-03-10 11:12] thesby commented on #641
Image classification is the base template of my project. After rotating the image, I cannot draw rectangle on some positions.
[code]

[2021-03-10 11:13] thesby commented on #641
Another problem is that the rotated image will disappear if I use `display: flex`

[2021-03-10 11:39] makseq commented on #622
@MEugeniaC Could you show your start command for LS?

[2021-03-10 12:45] makseq commented on #638
@vcmorini Didn't you forget to enable a checkbox on import page: "Imported files are Time-Series or Text" ? (in LS 0.9.1).

[2021-03-10 12:54] makseq commented on #611
@muthurajr Have you tried to use HOST environment var?
Check this guide: https://labelstud.io/guide/FAQ.html#How-to-run-Label-Studio-with-external-domain-name

[2021-03-10 13:28] NotAnyMike commented on #640
I have tried that already, as I said even removing the dm folder doesn't look like changing anything. What I am doing exactly is adding in line `153` of file `src/components/DataManager/TabPanel/TabPanel.js` another button for importing (just to change something). I repeat the code for importing

[code]

then I run `run npm ci && npm run build:module` and then copy `build/static/` files and folder

[2021-03-10 15:25] RasmusEdvardsen opened #644 "Reference arrows very excessive"
**Is your feature request related to a problem? Please describe.**
Our annotators are annoyed with the fact that references draw over the actual text

**Describe the solution you'd like**
The ability to disable references being drawn on to the text

**Describe alternatives you've considered**
Maybe an ability to set the opacity of the SVGs?

**Additional context**
There are situations where more a

[2021-03-10 15:42] RasmusEdvardsen commented on #644
@makseq right, I assumed they checked the UI themselves, and that it wasn't an option. This is great, I'll relay this information. Thanks again!

[2021-03-10 15:42] #644 closed

[2021-03-11 02:52] cbwchuck opened #645 "NER tagging task, highlighting Chinese text mismatch completion text in region"
**Describe the bug**

![image](https://user-images.githubusercontent.com/25662762/110726580-985c9480-8254-11eb-92d2-2e35dc7aee94.png)

I was trying to annotate some Chinese text while getting predictions from a ml backend. However, when displaying predictions, UI seems to mismatch labels with tokens at a distance of one (sometimes 2-3) character. From the image above, the 1st green annotation shou

[2021-03-11 06:51] bennoweber opened #646 "Azure Blob Storage sync does not import images/tasks"
**Describe the bug**
Following the the documentation on setting up a connection to Azure blob storage (https://labelstud.io/guide/storage.html#Set-up-connection-in-the-Label-Studio-UI-2) I am not able to import tasks to Labelstudio

**To Reproduce**
Steps to reproduce the behavior:
1. Open Label Studio in your web browser.
2. Open Settings > Cloud storage sync.
3. For Source Storage, click the gea

[2021-03-11 13:56] nicholasrq commented on #640
@NotAnyMike alright, I got it. seems we missed one of the steps on the instruction

after copying files from `build` dir execute this command in **label studio** folder:

[code]

we'll add it to the instruction, sorry for that

[2021-03-11 14:25] NotAnyMike commented on #640
Nice thank you! we are having progress, but now there is a different issue. If I run `npc ci && npx webpack` before launching LS. The DM only shows `loading...`. If I copy the whole `build` folder instead of `build/static` it loads normally. But then I cannot see any change in the DM UI.

[2021-03-12 09:51] LaRiffle opened #647 "Preserving line breaks in the the input text"
Hi, I'm new to Label Studio but it looks awesome :)
I'm trying to import a csv with a column that contains texts organized in paragraphs. Unfortunately on the labelling page, this text appears with no line break and is just a big single paragraph, which makes it harder to understand and hence to tag.

Do you know if I'm doing anything wrong?
Thanks a lot 🙏

[2021-03-12 10:02] #647 closed

[2021-03-12 11:59] makseq commented on #627
@mirfan899 @stevebit @razvanilin Could you check the latest master of https://github.com/heartexlabs/label-studio-converter ?

[code]

I hope it's fixed there.

[2021-03-12 14:41] mirfan899 commented on #627
Sure.

[2021-03-12 14:45] mirfan899 commented on #627
Great, it's working now.

[2021-03-12 16:33] MEugeniaC commented on #622
label-studio start project1 --init --input-path=data_multi.json --input-format=json --label-config=config_annot_labelstudio.xml

[2021-03-12 21:03] muthurajr commented on #611
@makseq After setting the external domain name like "example.com/notebook/sandbox/test/labelstudio/", #1 is solved. But /import & /export which are derived in label-studio/master/label_studio/static/dm/js/main.js are not getting updated. I guess some fix might be needed in the reverse proxy.

[2021-03-13 00:26] makseq commented on #611
Yes, we need to rebuild data manager to fix it.

[2021-03-13 14:36] muthurajr commented on #611
Is there any way to parameterize it without rebuild?

[2021-03-13 16:02] makseq commented on #611
@muthurajr Unfortunately, no, it's hardcoded in Data Manager..

[2021-03-15 10:15] nvinayvarma189 opened #649 "instrument.ts:129 Error: [mobx-state-tree] No matching type for union (string[] | undefined?)"
**Describe the bug**
We have a image classification task and we are annotating images in Label Studio. When we open a task in quick view mode, **sometimes** this error is showing up `mobx-state-tree no matching type for union {string[] | undefined?}`.

**To Reproduce**
We have been trying to get around this Mobx issue and we have gathered some cues:
1. It happens only when ML backend is connected.

[2021-03-15 10:43] Yannik1337 opened #650 "No more data available for labeling"
**Describe the bug**
I can run LS with the ML backend fine. I did set the `"sampling": "prediction-score-min"`option in the config. Unfortunately, I can't seem to get LS sample the new data for me. It always says `No more data available for labeling`, which is strange since I have only manually labeled 8 files so far.

**Expected behavior**
Sampling with the prediction score min

**Screenshots**
T

[2021-03-15 19:47] smoreface commented on #646
@bennoweber Did you set a file filter by regex? As it says on the UI, "if not specified, all files will be skipped". Please let us know, thanks!

[2021-03-16 07:20] bennoweber commented on #646
Hi, thanks for your reply! Unfortunatly it is not loading tasks. I must be missing something.. Here are screenshots of my inputs in labelstudio and my Container/bucket structure in AZure:
![image (1)](https://user-images.githubusercontent.com/73877481/111270248-ee07b700-862f-11eb-8308-6baa81c4eef8.png)
![image](https://user-images.githubusercontent.com/73877481/111270251-eea04d80-862f-11eb-99fc-0e

[2021-03-16 07:42] abneetwats24 opened #653 "Docker Compose not working"
**Describe the bug**
A clear and concise description of what the bug is.

I did not get label-studio working using  docker-compose

**To Reproduce**
Steps to reproduce the behavior:
1. INIT_COMMAND='--init --force' docker-compose up
2. See an error:

**Environment (please complete the following information):**
 - OS: Ubuntu 20.04 LTS
 - Label Studio Version commit f50eb03

[2021-03-16 13:32] kvr777 commented on #602
Hi, @makseq Thank you for the great tool. Do you have any updates regarding to this issue? I have the same problem: when time series are longer than several thousands of items, this bug appears. It would be great to fix it or provide some temporary solution how to deal with it.

[2021-03-16 17:15] mbuet2ner opened #655 "Add multi-selection for label instances"
**Is your feature request related to a problem? Please describe.**
When using pre-labled data, e.g. bounding boxes with background class that the annotator has to assign the "real" class to, the current setup only allows to change labeling for one bounding box at a time. Especially with a lot of bounding boxes (or NER labels etc.) this is very laborious.
The feature would also benefit the ml-backe

[2021-03-16 17:39] makseq commented on #583
Done in 1.0.0. It's available on the main menu in the bottom.
![image](https://user-images.githubusercontent.com/501780/111354723-a9176b00-8697-11eb-9359-1bdfb37c8b28.png)

[2021-03-16 17:39] #583 closed

[2021-03-16 17:42] makseq commented on #542
@ericflores @CharlieBickerton @pavelgrib We've release LS 1.0.0 with multi-users support:
https://labelstud.io/blog/release-100.html

[2021-03-16 17:42] #542 closed

[2021-03-16 17:42] #627 closed

[2021-03-16 21:54] zhanjiezhu opened #657 "whenChoiceValue not working"
**Describe the bug**
`whenChoiceValue` is not working for Choices since version 0.8.2

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://labelstud.io/playground/
2. Click on "Advanced config templates"
3. Click on "Three level classification"
4. In the preview, select "positive" and then "Emotional", nothing show up

**Expected behavior**
4 more choices should show up when "Emotio

[2021-03-17 08:58] brianbarbieri opened #658 "Empty html for projects/ page at startup"
When startup up label-studio I am directed to the projects page on the local host. Unfortunately this just brings me to an empty HTML page.

This is the output to the terminal:
[code]

[2021-03-17 09:15] mikeaadd opened #659 "CORS Error - NetworkError when attempting to fetch resource"
Describe the bug
When uploading task with audio data, I receive CORS error message and am unable to listen to audio.

To Reproduce
Steps to reproduce the behavior:
   This is similar to #481.
    1. start up label-studio (version 1.0)
    2. upload json tasks with with UI. An example task...
[code]
    3. spin up http-server with cors with command
[code]
    4. Open up task to see if audio works a

[2021-03-17 09:19] makseq commented on #658
@brianbarbieri Could you please show a screenshot with the browser console?

[2021-03-17 09:21] makseq commented on #658
Are you trying to run it on localhost domain? What address for LS instance is in the browser?

[2021-03-17 09:27] brianbarbieri commented on #658
![image](https://user-images.githubusercontent.com/31993935/111445103-5aa3b400-870b-11eb-8092-545c31d5d68a.png)

[2021-03-17 09:28] brianbarbieri commented on #658
It's running on the http://localhost:8080/, what do you mean by LS domain?

[2021-03-17 10:12] makseq commented on #658
@brianbarbieri Yes, I mean the thing you mentioned.

[2021-03-17 10:14] makseq commented on #658
Are you using LS from repository or from pip package?

[2021-03-17 10:18] brianbarbieri commented on #658
From

From the pip packages in an fresh conda environment.

[code]

[2021-03-17 10:27] makseq commented on #658
@brianbarbieri Could you please:
1. right click the broken link in the browser console
2. open in new tab
3. send a screenshot of this page

![image](https://user-images.githubusercontent.com/501780/111453199-5d5ed300-8724-11eb-9ec3-3cbbd6508011.png)

Thank you in advance!

[2021-03-17 10:31] brianbarbieri commented on #658
![image](https://user-images.githubusercontent.com/31993935/111453796-3dbfae80-8714-11eb-8be8-0e1df845e230.png)

and

![image](https://user-images.githubusercontent.com/31993935/111453842-4ca66100-8714-11eb-829e-e5fffa9dfca6.png)

No thank you for helping me out.

[2021-03-17 10:36] makseq commented on #658
It looks like you are using DEBUG=False with git cloned repo..

Please, try this:
[code]

[2021-03-17 10:37] brianbarbieri commented on #658
Doing this yields same blank html with this in the console:
![image](https://user-images.githubusercontent.com/31993935/111454673-30ef8a80-8715-11eb-9ee8-30e9e9e2e953.png)

[2021-03-17 10:39] makseq commented on #659
@mikeaadd Why don't you drag & drop files into LS on Import page?

[2021-03-17 10:40] makseq commented on #659
@mikeaadd What if you use `http://localhost:81/05734d6b-074f-45b1-8af7-c1b1502ca31e.wav'` instead of `http://127.0.0.1:81/05734d6b-074f-45b1-8af7-c1b1502ca31e.wav` ?

[2021-03-17 11:23] makseq commented on #658
@brianbarbieri And what if you open /react-app/index.js?.... in a new tab?

[2021-03-17 12:49] brianbarbieri commented on #658
![image](https://user-images.githubusercontent.com/31993935/111469823-6f8e4080-8727-11eb-9ba6-cb81e9d20c68.png)

Finding the dir and the file:

[2021-03-17 12:49] brharper opened #662 "pip install error if missing wheel"
Pip install is erroring on Ubuntu 20.04. Running in a clean venv I get:

[code]
Where X is:
* rules
* ordered-set
* htmlmin
* django-redis-cache
* drf-generators
* attr
* coreschema
* nltk
* openapi-codec
* pyrsistent

I've attached 2 log files, label-studio_install_try1_17-Mar-2021.log, and label-studio_install_try2_17-Mar-2021.log. Both have version info and pip install output in them.

Try 1 ha

[2021-03-17 12:55] jigsawcoder commented on #513
@makseq what about importing txt labels (yolov4)?
can we upload pre annotated images with their corresponding .txt labels or we need to convert it to json?

[2021-03-17 13:32] makseq commented on #658
What browser do you use and what version is it?
Could you try to use another browser?

[2021-03-17 13:34] brianbarbieri commented on #658
I'm using chrome, but I get the same behavior on MS edge

[2021-03-17 13:36] makseq commented on #658
Yep! Got it on Edge. In chrome browser it works fine for me.

[2021-03-17 13:37] makseq commented on #658
It's chrome  89.0.4389.82 . I think everything will be ok if you update it.

[2021-03-17 13:37] makseq commented on #658
Could you send your chrome browser version?

[2021-03-17 13:41] makseq commented on #513
@jigsawcoder We are planning to add import from different formats, but it's not supported yet.
So, you need to convert your images to LS internal json format (tasks + annotations).

Check this for more information:
https://labelstud.io/guide/predictions.html#Example-of-importing-predicted-labels

[2021-03-17 13:47] makseq commented on #662
@brharper What do you think: if we include `wheel` into LS requirements.txt in the first line, will it resolve this issue?

[2021-03-17 14:39] bennoweber commented on #646
So I would say that the above bug is resolved with version 1.0.0, Label Studio is loading the tasks now from Azure but the are not recognized as images:
Cannot load image (****************************.jpg', 'container': 'people', 'snapshot': None, 'version_id': None, 'is_current_version': None, 'blob_type': , 'metadata': {}, 'encrypted_metadata': None, 'last_modified': datetime.datetime(2021, 3, 1

[2021-03-17 14:57] fatihbeyhan opened #663 "label-studio: error: unrecognized arguments: --input-path=data/sampledata.json"
Hi,
I am trying to get my hands on label-studio for a project. I was able to start a simple example annotation project with the guide on https://labelstud.io/guide/ but today I am getting errors.

I am trying to run this command:

`label-studio init hs --input-path=data/sampledata.json --label-config=config/label_config.xml`

I am getting an error that says --input-path is not recognized which was

[2021-03-17 15:22] mikeaadd commented on #659
I have tried both locahost and 127.0.0.1. As far as why i don't drag and drop. Im not sure how that would work. My task requires both audio and text. Dragging and dropping audio and text separately doesn't seem to work?

[2021-03-17 17:03] brianbarbieri commented on #658
![image](https://user-images.githubusercontent.com/31993935/111507508-08828300-874b-11eb-9831-c37b2cf4ca6f.png)
Fully up to date, does still not work :/

[2021-03-17 18:04] makseq commented on #658
@brianbarbieri Don't you use nginx over label studio? Or something like this.. Because I can reproduce it on Edge and there is another error (I have very old Edge version).

[2021-03-17 18:18] smoreface commented on #663
@fatihbeyhan --input-path argument is no longer supported. You can manually import the data using the Label Studio UI.
See https://labelstud.io/guide/start.html and https://labelstud.io/guide/tasks.html for more.

[2021-03-17 18:20] makseq commented on #663
Or you can use import API.

[2021-03-17 18:21] fatihbeyhan commented on #663
I am trying to keep this project on remote server and our dataset is on the same server. I guess I need to get it on my local or cloud...

[2021-03-17 18:24] brianbarbieri commented on #658
Not that I know off, maybe the problem is with it being a work computer/ some type of firewall issue?
I did the exact same things on my personal laptop and I'm facing no issues at all/

[2021-03-17 18:24] sam-fisco commented on #658
I'm getting the same error along with the following console messages
![image](https://user-images.githubusercontent.com/60618990/111518215-161c1680-8713-11eb-8cd5-b6170790c87e.png)

[2021-03-17 20:14] makseq commented on #658
@sam-fisco are you on windows?

[2021-03-17 20:15] makseq commented on #658
@brianbarbieri is your personal laptop on windows?

[2021-03-17 22:16] sam-fisco commented on #658
Yes I am

[2021-03-17 22:40] mikeaadd commented on #659
Update on this journey:
1. I changed the port to 8080 and it didn't but looking at the logs you could tell I was actually receiving requests.
2. I changed my browser from firefox to chrome and it worked! I had a colleague test it and she got the previous cors error. We checked our browser versions. She had 89, I had 88. I upgraded and now it doesn't work again.

[2021-03-18 00:13] makseq commented on #659
Thank you very much for your report. I think it's your server with images issue. Could you try to use nginx to serve your media files?

[2021-03-18 00:43] brianbarbieri commented on #658
Yes both systems are on windows, I will asl a colleague tomorrow to install the tool aswell to see if the work laptop is the problem.

[2021-03-18 03:22] trhgnhat commented on #658
I had same problem with arg `host` is set to "0.0.0.0" and solved by remove it. If you also define `host`, you may try.

Remove --host "0.0.0.0" like this one:
`label-studio start weblabel -b --host "0.0.0.0" --port 8080`

Into this:
`label-studio start weblabel -b --port 8080`

[2021-03-18 04:13] chktrp opened #668 "The semantic segmentation masks don't always show up after I submitted the result"
**Describe the bug**
The semantic segmentation masks don't always show up after I submitted the result.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Semantic Segmentation with Masks Project
2. Import an image
3. Draw a brushstroke
4. Submit
5. After the image is reloaded, the brushstroke doesn't show up

**Screenshots**
![image](https://user-images.githubusercontent.com/23154789/

[2021-03-18 05:31] AbyssLink opened #669 "Failed to read static data file when run with docker-compose"
**Describe the bug**
Can't get static file from Nginx when run with docker-compose.

**To Reproduce**
Steps to reproduce the behavior:
1. Run with `docker-compose up -d`.
2. Sign in to admin-page, create a "Sound Event Detection" project, then click import data.
3. Open project view.
4. See error: "Wow! Error while processing audio. Check media format and availability."

**Expected behavior**
Stat

[2021-03-18 05:42] AbyssLink commented on #669
This may be an error caused by the wrong path.
I temporarily modified the following content to make it work.

[code]

[code]

![Xnip2021-03-18_13-30-54](https://user-images.githubusercontent.com/26038696/111578513-3f11d980-87ef-11eb-8bff-0040161b55c9.jpg)

[2021-03-18 05:44] niklub commented on #669
Great! That's an error in nginx config paths for sure. @antonht can you please make a fix as @AbyssLink suggested?

[2021-03-18 05:47] thesby opened #670 "Can username be exported in json?"
I need to know the username who labeled the task to statistic time and workload. Could you please add the username in the exported json file?

[2021-03-18 05:53] niklub commented on #670
@thesby thanks for the feature request. Sure, will do it in 1.0.1

[2021-03-18 06:44] danielcrane opened #671 "Alt+Tab Hotkey"
I was wondering what the rationale behind using `alt + tab` as a hotkey for "Circle through entities" is?

For me, this hotkey doesn't work in Label Studio as it's (understandably) overruled by the system-wide usage of `alt + tab` for window switching, and even if that wasn't the case it seems like strange practice to override a global hotkey (on all major operating systems).

[2021-03-18 08:47] cbwchuck commented on #645
Issue seemed to be index mismatching when passing from the ml backend that I used.

Issue closed and sorry for the trouble!

[2021-03-18 08:47] #645 closed

[2021-03-18 09:35] makseq commented on #671
@danielcrane Thank you for your feedback. Yes, LS has a not very thoughtful hotkeys, and we are planning a big update for them.
Alt + Tab was wrongly used because MacOS doesn't have this as the default hotkey.

[2021-03-18 09:43] makseq commented on #658
@trhgnhat Thank you for your solution!
Could you explain more please: where did you get this command `label-studio start weblabel -b --host "0.0.0.0" --port 8080` with host "0.0.0.0" ?..

[2021-03-18 09:51] nicholasrq commented on #640
@NotAnyMike sorry for the long reply, was super busy with 1.0.0 launch

do you see any errors in your browser console when this "loading..." thing happens?

copying whole `build` instead of `build/static` won't take any effect as that's not an expected structure

[2021-03-18 09:52] makseq commented on #630
Feel free to reopen if you problem is not solved.

[2021-03-18 09:52] #630 closed

[2021-03-18 10:30] trhgnhat commented on #658
@makseq got randomly on the internet for long time and don't know why. Just removed it yesterday since i got this error.

[2021-03-18 12:08] danielcrane commented on #671
I see, thanks so much for the info, looking forward to it!

[2021-03-18 12:40] NotAnyMike commented on #640
I am running this with the new version. After running `npm ci && npm run build:module` in dm2 I get the following outputs

[code]

After copying the `static` folder to `label_studio/static/dm`, I run `npm ci && npx webpack` inside `label_studio` I get the follwoing error (I didn't have this error in the older version).

[code]

[2021-03-18 13:30] Freshwood opened #674 "What is the purpose of 'mixpanel.com' usage"
We are using the community Edition of Labelstudio.

We found out that the customer firewall was blocking many requests to mixpanel.com.

Why there are so many requests to mixpanel.com?

For what are these request. Can we see which data is send to mixpanel.com?

We are using Labelstudio in many machine learning projects and we are using sensitive data.
We have to clarify the origin of these request

[2021-03-18 13:52] karnsaurabhkumar opened #675 "Launching label-studio causes error - No module named 'ruamel'"
**Describe the bug**
A clear and concise description of what the bug is.

ModuleNotFoundError: No module named 'ruamel'

**To Reproduce**
Steps to reproduce the behavior:
1. Open terminal
2. pip install -U label-studio
3. label-studio
4. ModuleNotFoundError: No module named 'ruamel'

**Expected behavior**
Label-studio launches a browser and opens the login page

**Screenshots**
If applicable, add

[2021-03-18 13:52] gamblard opened #676 "Issue loading time series tasks from local csv files using the API in v1.0"
Hello,

I'm working on a time series annotation pipeline using Label Studio. This pipeline involves extracting time series from a database into multiple .csv files, which are then loaded as tasks in Label Studio.

Before v1.0, I used to load tasks in my Label Studio project using the API, with a JSON task file referencing .csv time series which where manually placed within my <project_name>/upload

[2021-03-18 14:22] nicholasrq commented on #640
thank you, appreciate your feedback!

if you're running LS 1.0.0, there are massive changes to the overall structure and architecture of the app. the instruction in DM repo is only applicable to LS <1.0.0

to run custom DM build in LS >1.0.0, please follow these steps:

- as previously, you should first build the DM itself by running `npm ci &&  npm run build:module` in the DM repo
- next copy eve

[2021-03-18 14:51] brianbarbieri commented on #658
[Solved by the setting the correct Windows registry for JavaScript files. ](https://github.com/jupyterlab/jupyterlab/issues/6098#issuecomment-474098196)

[2021-03-18 14:51] #658 closed

[2021-03-18 15:07] makseq commented on #658
@brianbarbieri Thank you very much for the provided solution!

@sam-fisco Could you check @brianbarbieri solution?

[2021-03-18 16:24] makseq commented on #675
@karnsaurabhkumar does manual `pip install ruamel` solve this problem? (After this you need to install LS again)

[2021-03-18 16:47] karnsaurabhkumar commented on #675
No. Manual install throws another error:

ERROR: Could not find a version that satisfies the requirement ruamel (from versions: none)
ERROR: No matching distribution found for ruamel

[2021-03-18 17:10] deppp commented on #674
Hey @Freshwood, sure. We're basically collecting server API requests, those include the URLs being called, but not the data that's being imported / labeled or exported, we never collect any data that you work with(!). API calls are important to collect though, this is done so that we can understand what parts of the application are being used the most and helps us plan the product roadmap. You can

[2021-03-18 17:10] #674 closed

[2021-03-18 17:15] mikeaadd commented on #659
So i have tried setting up an nginx server to serve the files on the same server that label studio is being stood up. The relevant nginx configuration is below

[code]

A sample json task looks like so...

[code]

I still get the same CORS error

[2021-03-18 17:15] makseq commented on #674
Also it's mentioned about this in our docs: https://labelstud.io/guide/#Information-collected-by-Label-Studio

[2021-03-18 19:05] makseq commented on #653
@abneetwats24 Please check the latest master branch commits.

[2021-03-18 19:09] #653 closed

[2021-03-18 19:17] makseq commented on #622
Try to reset tabs: go to Settings => Project settings => Reset all tabs button

[2021-03-18 21:27] antonyscerri commented on #675
The package is called "ruamel-yaml" or "ruamel_yaml" there may be issues depending on the pip. I was using conda and tried uninstalling it with pip and reinstalling with conda. Also if using conda make sure the environment is based on python 3.8 for the 1.0.0 release.

[2021-03-18 21:42] antonyscerri commented on #658
Hi

I ran into a similar issue, turns out in my case it was being caused by the pip release label-studio-1.0.0.post0 which after startup and logging in the projects page was empty but in my browser console i found:

GET http://X.X.X.X:8080/projects/x86_64-conda_cos6-linux-gnu/react-app/index.js?v=60ba41 net::ERR_ABORTED 404 (Not Found)

IP removed for privacy. Clearly the path looks a bit odd and

[2021-03-18 21:54] makseq commented on #658
@antonyscerri Thank you very much for your report.
Could you please show your HOST env variables?

[code]

[2021-03-18 21:56] makseq commented on #658
@antonyscerri I think it's releated to https://github.com/conda/conda/issues/7031
If you set HOST="" then the issue will be fixed.

[code]

[2021-03-18 22:03] antonyscerri commented on #658
Hi

Yes that appears to be the case, so i can run the latest version now. Its only impacting the 1.0.0.post0 release though, it has no impact on 1.0.0. The values were:

echo $HOST
x86_64-conda_cos6-linux-gnu
echo $LABEL_STUDIO_HOST

[2021-03-19 01:30] dalekube opened #679 "sqlite3.OperationalError: no such function: JSON_VALID"
**Describe the bug**
SQLite3 is reporting the 'no such function: JSON_VALID' error message when starting a project.

=> Database and media directory:  /root/.local/share/label-studio

Initializing database..
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/django/db/backends/utils.py", line 82, in _execute
    return self.cursor.execute(sql)
  File "/usr/local/lib/

[2021-03-19 02:36] EldorIbragimov commented on #668
Yes, It is not saving annotations. Also, I tried  'brush labels to PNG' option. But it does not work.

[2021-03-19 05:54] bennoweber commented on #646
Hi @smoreface ! Do you have any suggestions on howto get Tasks import working from Azure? Any help woul be highly appreciated.

[2021-03-19 06:15] niklub commented on #675
So it's supposed to be the problem with the (base) conda environment. Creating conda environment should fix this problem:
[code]

[2021-03-19 06:15] #675 closed

[2021-03-19 06:18] niklub commented on #646
Hi, @bennoweber ! Can you please try to update to the `label-studio==1.0.0.post0` or the latest master branch? And check if the problem with Azure syncing still persists

[2021-03-19 08:08] niklub commented on #663
@fatihbeyhan there will be an option enabled for getting the data from the local file storage in [version 1.0.1](https://github.com/heartexlabs/label-studio/pull/681)

[2021-03-19 08:20] niklub commented on #632
Hey, guys, that issue has been fixed in https://github.com/heartexlabs/label-studio/pull/681/commits/33eb3e21e08a037d7d246bc87752a81b66470fc4 and will be released as 1.0.1 version

[2021-03-19 08:43] makseq commented on #679
As far as I remember the minimal working SQLite version is 3.35, but you have 3.8.

[2021-03-19 09:41] NotAnyMike commented on #640
I am doing this in new clones of dm2 and label-studio to have everything new and shiny. On dm2 with the new version, after calling `npm ci && npm run build:module` the `build` folder does not have the`css` nor the `js` folders anymore. Is this expected behaviour?

Anyway moving all the files (there is no js or css folder now) from `dm2/build/` into `[ls/path]/label-studio/frontend/lib/dm` has no e

[2021-03-19 09:56] nicholasrq commented on #640
@NotAnyMike it not an expected behavior. I pushed a fix to Webpack settings so it should properly build DM now. there was an issue with `NODE_ENV` not being properly set

[2021-03-19 12:16] dalekube commented on #679
I had SQLite 3.7.1 working with the previous release (Label Studio 0.9.1.post1), but then Django 3.1.4 gave an error that SQLite 3.8.3 or later is required after upgrading to Label Studio 1.0.0.

[2021-03-19 12:24] makseq commented on #679
@dalekube yes, LS 0.9 didn't use sqlite at all.

[2021-03-19 12:25] makseq commented on #679
The fast solution is to use our docker with LS

[2021-03-19 13:08] potipot opened #682 "Cannot load images from aws s3 bucket"
I want to add cloud as source of my data to label. I use aws s3 buckets. Configuring and accessing file list works correctly, I can see them appearing in my default labeling view.

The problem occurs when trying to load the actual image files erroring with `403 Forbidden` .
the get command:
[code]
and the server response:
[code]

I have created the `~/.aws/config` file with the following contents:

[2021-03-19 13:15] makseq commented on #658
We fixed it in 1.0.0.post1 (without changing Windows registry).

[2021-03-19 14:55] karnsaurabhkumar commented on #675
Understood. This was a conda issue and following installation just worked for me:

`conda install ruamel.yaml`

Thank you so much for responding

[2021-03-19 15:09] antonyscerri opened #684 "API call /api/tasks causing HTTP 500"
**Describe the bug**
After working through several JSON payload issues making a call to /api/tasks to create a single task the server responded with a HTTP 500 error. On the server end there was a stack trace (below). If i take the same JSON payload and wrap in an array and use the bulk import call at /api/projects/[id]/import it works fine.

'''
[2021-03-19 15:04:10,113] [django.request::log_resp

[2021-03-19 15:15] makseq commented on #684
@antonyscerri it's not possible to call api/tasks without project. Try api/tasks?project=N

[2021-03-19 15:27] antonyscerri commented on #684
@makseq The documentation shows the project ID as part of the payload. I gave it a try putting it in the url and its producing the same error.

[2021-03-19 15:29] gamblard commented on #676
Solved my issue by first importing my .csv files using POST api/projects/<id>/import?commit_to_project=false, and then creating the tasks using my json from before v1.0.0, this time setting the "file_upload" field with the response of the import request.

The commit_to_project parameter I've mentioned is not in the API doc, but it's very useful in my case, since when I import my files the "csv_url

[2021-03-19 15:39] nicholasrq commented on #640
hey @NotAnyMike, please check out #685. this PR brings easier integration with custom DM builds

[2021-03-19 17:48] NotAnyMike commented on #640
If you run the instructions on a new dm and ls without any notifications, you cannot see the table with the labelled examples once you launch ls.

In the browser console this shows

[code]

[2021-03-19 19:16] ADBurpitt opened #688 "Host CLI option not working"
**Describe the bug**
I am attempting to serve label-studio from a sub-path, e.g. `example.com/label-studio`, but only receiving 404s.

**To Reproduce**
Steps to reproduce the behavior:
1. Run label-studio with the `--host` flag: `label-studio start --host http://localhost:8502/label-studio`
2. Go to http://localhost:8502/label-studio
3. 404 Page
4. Go to http://localhost:8502
5. Redirected to `/pr

[2021-03-19 19:23] makseq commented on #688
@ADBurpitt Do you use Nginx over Label Studio?

[2021-03-19 20:09] makseq commented on #688
I think your nginx/other server over LS is configured incorrectly.

[2021-03-19 20:39] MikeTrizna opened #689 "OAuth Login Ability"
**Is your feature request related to a problem? Please describe.**
I've been waiting eagerly for the user login system introduced in 1.0, but the way it was implemented will probably cause a lot of headaches. My organization does not allow hosting of webapps that implement their own registration/password management system, because they become targets for hacks.

**Describe the solution you'd like*

[2021-03-19 20:44] makseq commented on #689
@MikeTrizna Could you clarify a little: why you would have to avoid upgrading to v1.0? The previous versions haven't login at all..

[2021-03-19 20:51] MikeTrizna commented on #689
Good question, @makseq. The main sticking point is that we are not allowed to store passwords. Even though it looks like the sqlite database does at least store hashed versions of user passwords, the fact that we're storing those would cause a security flag.

If there was a way to make login optional, that would also allow us to upgrade to v1.

[2021-03-19 20:59] makseq commented on #689
@MikeTrizna You can try to use one account per all users, something like `team / 12345678` :slightly_smiling_face:
Is it a problem in passwords only? Or username is a problem too?

[2021-03-19 21:03] MikeTrizna commented on #689
Yep, unfortunately it is a problem specifically with having any kind of password.

In an OAuth-style login system, I believe you would still need to store the usernames -- but the password storage/reset mechanisms, etc. are all farmed out to someone else.

[2021-03-19 21:05] makseq commented on #689
In this case you can skip password checks, I think we can implements it very easy.

[2021-03-19 21:09] nicholasrq commented on #640
@NotAnyMike nevermind, the PR is merged into master already.

those changes remove the DM from main LS bundle. it mean that you only have to build DM itself and copy the files to LS. building LS bundle is only required if you're making changes to the LS frontend

[2021-03-19 21:10] MikeTrizna commented on #689
That would be great!

Would you like me to create a new separate Issue? It might make sense to keep this OAuth feature request, although it's a lower priority for me.

[2021-03-19 21:32] makseq commented on #689
It's better to create a PR :)

You need to modify this line:
https://github.com/heartexlabs/label-studio/blob/master/label_studio/users/forms.py#L44

to something like this:

[code]

And it would be ideal if we could have env var in base.py (use `get_env('VAR_NAME')`) like `LOGIN_SKIP_PASSWORD_CHECK`.

[2021-03-20 01:38] MikeTrizna commented on #689
Sure thing. It will probably take the weekend to wrap my head around how everything works together, but your suggestions helps a lot.

[2021-03-20 09:31] thesby opened #691 "Template is changed by label-studio automatically"
I use the template:
[code]
After saving and open settings again, the template becomes:
[code]

More importantly, the image pair cannot be rendered correctly: two images shows the same image, the $image1.

If I change the template as :
[code]
then two different images appears, but the first image becomes $image2, and the second image becomes $image1

[2021-03-20 19:28] EconML commented on #658
@makseq I am getting this same behavior on an aws ec2 w/ an ubuntu 18.04 deep learning base ami using v 1.0.0.post2. My chrome version is Version 89.0.4389.90 (Official Build) (x86_64). The console output from the login page is pasted below:

![image](https://user-images.githubusercontent.com/32233555/111883275-7d3a0500-8977-11eb-9e46-fae00485c14a.png)

Additionally, chrome generated some issue me

[2021-03-20 23:59] makseq commented on #658
@EconML Could you send a screenshot with the browser console where I can see an exact error with MIME?

[2021-03-21 02:43] EconML commented on #658
@makseq thx for the reply, here it is. I blocked out the private ip for privacy
![image](https://user-images.githubusercontent.com/32233555/111891986-5bab3e80-89b4-11eb-8ed0-8f884d8fc463.png)

[2021-03-21 02:55] EconML commented on #658
Additionallly, if this is helpful after logging on and navigating to a test project i get the following in the console
![image](https://user-images.githubusercontent.com/32233555/111892172-3b7c7f00-89b6-11eb-8a83-95061fa88d43.png)

[2021-03-21 05:25] niklub commented on #691
Hi, @thesby ! Can you please check what version you'd used? Since the similar issue was supposed to be fixed starting from `label-studio==1.0.0.post2`

[2021-03-21 05:51] niklub commented on #684
@antonyscerri thanks for bringing it up. Fixing it in https://github.com/heartexlabs/label-studio/pull/692

[2021-03-21 11:42] makseq commented on #624
@atakanokan Sorry for a long answer. I hope it's fixed in LS 1.0, you could try it.

[2021-03-21 11:42] #624 closed

[2021-03-21 11:54] makseq commented on #614
@jagan1333 Sorry for a long answer. We were deeply into the release LS 1.0. Try this new version, I hope it's fixed there.

[2021-03-21 11:54] #614 closed

[2021-03-21 11:55] makseq commented on #628
@srv-gabriel Sorry for a long answer, we were deeply into release LS 1.0. I hope it's fixed in this new version, please try this.

[2021-03-21 11:55] #628 closed

[2021-03-21 12:09] makseq commented on #650
@Yannik1337 Could you check it in LS 1.0, I hope it's fixed there.

[2021-03-21 13:14] makseq commented on #659
@mikeaadd What port do you use for label studio?

[2021-03-21 13:22] makseq commented on #668
@EldorIbragimov The issue with export was fixed in LS 1.0.0.post2, please do `pip install -U label-studio`.
The disappearing brushes are fixed in the same .post2 I hope :slightly_smiling_face:

[2021-03-21 13:25] makseq commented on #682
@potipot Could you send a screenshot with the browser console please? To clarify this part of your problem:

[code]

I can't understand when it happens exactly.

[2021-03-21 13:31] makseq commented on #675
@smoreface Could you please add this issue to installation troubleshooting as "Anaconda problem with ruamel" or something like this?

[2021-03-21 13:38] makseq commented on #658
@EconML
1. Do you use LS as pip package?
2. What is your start LS command?
3. Have you set up `HOST=...` ?

[2021-03-21 14:10] antonyscerri commented on #684
I had some other issues with related API calls which i may log i've got to try it again and check if its been reported. Deleting tasks in bulk with DELETE /api/project/<id>/tasks/ is taking a long time and then producing the similar something went wrong.  Deleting tasks using the DELETE /api/tasks/<id> call can require multiple calls as the first one seems to delete any annotations on the task and

[2021-03-21 14:16] antonyscerri commented on #658
BTW I tried 1.0.0.post2 to check on some fixes but the UI didnt render properly. The animating logo player on the top left and then menu items were displayed down the left side of the page. It looked like a CSS problem but there didn't seem to be an obvious CSS resource missing/broken. I had to downgrade to continue testing something, i was using the same HOST="" to launch.

[2021-03-21 20:34] hlomzik commented on #637
Hi all! Very strange bug.
Is this something unusual with such tasks? Missing `id` maybe? Just checking.

[2021-03-22 01:22] dalekube commented on #679
Thank you, @makseq. I downgraded SQLite to the latest stable version (3.35.2) and everything worked as expected. Great work with the 1.0 release!

[2021-03-22 01:22] #679 closed

[2021-03-22 01:59] thesby commented on #691
I have updated as `label-studio==1.0.0.post2`, but the problem is not fixed.

[2021-03-22 06:32] Vickzhang opened #693 "ConnectionResetError: [Errno 104] Connection reset by peer"
**Describe the bug**
A clear and concise description of what the bug is.
I installed  label-studio  with conda sucessfully,  but failed to start correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. conda create --name label-studio python=3.8
2. conda activate label-studio
3. pip install label-studio
4.  label-studio start -b
5.  Error:  The server console output info as follows and the

[2021-03-22 07:35] niklub commented on #693
Hi, @Vickzhang ! Recurrent `ConnectionResetError` in the runtime is a known issue, but by now it looks non-blocking for the user flow. But what do you mean from "...UI is almost blank..." ? Can you please specify what page  exactly is, and may be you can check for the browser console logs and drop them here so we can better understand what's going on.

[2021-03-22 08:10] mirfan899 opened #694 "How to import pre-labeled data?"
I've labeled the data in my project. After exporting the data how can I use it for another project?

[2021-03-22 09:08] gamblard opened #695 "Handling missing data in time series"
Hello !

I'd like to request a feature for time series in Label Studio : I'm labelling multivariate time series and sometimes there can be some null values in the data (when a sensor did not transmit any data at a given timestamp for example). The issue is that by default Label Studio display this missing value as a 0, thus abruptly breaking the trend of the time serie. For example below is an exa

[2021-03-22 10:18] potipot opened #696 "Add item tagging and tag filtering"
I think it would be beneficial to have dataset tagging included. For example, I have my dataset split in train validation and test. While loading it from different folders it always ends up mixed altogether in a single tree. The only way to filter them now is using name regex.

Also the data folders structure isn't preserved when importing and files get copied to the internal `/upload` catalogue b

[2021-03-22 14:21] wanderin-earth opened #699 "The displayed waveform and audio cannot be corresponding when dealing with long audio file"
Hello!

I meet a problem using label-studio. When I import long audio file (about 25-min long, 25MB), the displayed waveform and audio cannot correspond to each other after I adjust the zoom axis below the timeline. But after I compress the audio file by adopting lower bit rate, the issue gets solved.

So I wonder why this problem emerges, and by the way, would there be any other problem if I comp

[2021-03-22 18:03] mp-pinheiro commented on #616
This can probably be fixed by simply sending `None` instead of the default service account address as the email credentials when generating the signed URL.

**Original:**
https://github.com/heartexlabs/label-studio/blob/c7c0734470f9cf6e2103072d71a0c93936c8e986/label_studio/io_storages/gcs/models.py#L147-L149

**Requested change:**
[code]

[2021-03-22 18:05] makseq commented on #616
@mp-pinheiro It would be great if you could create a PR with this fix!

[2021-03-22 18:07] mp-pinheiro commented on #616
@makseq Alright, will do. An alternative would be to give the administrator the option to choose the service account email.

[2021-03-22 18:27] smoreface commented on #675
Yes, will do! Thanks!

[2021-03-22 19:08] makseq commented on #699
@wanderin-earth Could you send us an example of source audio and converted audio?

[2021-03-22 19:32] makseq commented on #658
@antonyscerri @EconML could you check 1.0.0.post3?

[2021-03-22 19:35] EconML commented on #658
@makseq apologies for lack of response. I was off yesterday and my MacBook took a shit on me this morning. When I have a chance I will check 1.0.0.post3.

[2021-03-22 20:21] antonyscerri commented on #658
I just happened to see post3 was available and then your note. I was able to install and launch it (using HOST="") and i can pull up the homepage, and project page. It did appear to get stuck in some kind of loop loading a page the logs had something like the following:

`[22/Mar/2021 20:12:36] "GET /label-studio-frontend/css/main.css?v=099282 HTTP/1.1" 200 1311494
[22/Mar/2021 20:12:36] "GET /dm/

[2021-03-22 20:56] EconML commented on #658
@makseq I pulled down post3, and I am installing using setup.py. I am still getting the same 404 errors and MIME type check errors. Here is console output w/ post3
![image](https://user-images.githubusercontent.com/32233555/112057375-6c73c580-8b16-11eb-9d08-9dd502a3848f.png)

[2021-03-22 20:59] EconML commented on #658
@makseq I pulled down post3 and I am still getting the 404 and MIME type errors. Console output is below. Additionally, since I'm not on my mac, I'm using firefox and getting the exact same behavior.
![console_ls](https://user-images.githubusercontent.com/32233555/112057621-c3799a80-8b16-11eb-9e14-69081f74392a.png)

[2021-03-22 21:40] antonyscerri commented on #658
@makseq It looks to be more consistently failing if i reload the page when on the data tab view, where as going to projects and clicking on the project seems to display the page. The only thing in debug console is a mention "Breadcrumbs must be initialized first" coming from breadrumbs.js:9, which is what happens on both pages when refreshed, on the project data view though it occurs after the fir

[2021-03-22 21:41] antonyscerri commented on #658
@EconML are you running Label Studio locally or on a remote machine compared to where the browser is located? And are you running it behind any web server (nginx etc) or other proxy or ELB (you mentioned AWS). And what launch command are you now using?

[2021-03-22 21:50] makseq commented on #658
@EconML it looks like you are still using 1.0.0.post2 instead of 1.0.0.post3..

[2021-03-22 21:50] EconML commented on #658
@antonyscerri I am running label studio on a remote ec2. I have setup traffic rules so that port 8080 is opened to me when I am on my company vpn. I am not running and ELB on this instance. Full disclosure, I had previously been using ls v0.8.0 for my annotation jobs without any issue. I actually just rolled back to 0.8.0 because my actual goal is to plugin the ml backend and these issues were blo

[2021-03-22 21:52] EconML commented on #658
@makseq I could have sworn I verified with pip list after installing with setup.py. Maybe I copied the wrong .png. Let me doublecheck..

[2021-03-22 21:56] makseq commented on #658
Check `label-studio version`, it must be the same:

[code]

[2021-03-22 21:59] EconML commented on #658
@makseq it seems you were right! After pulling down post3, verifying, and starting ls I am no longer having the 404 and MIME type. However, my tasks won't sync, getting 500 (this is a different issue obviously).

[2021-03-22 22:00] EconML commented on #658
@makseq Is there anything you need that would help debug @antonyscerri continued issues?

[2021-03-22 22:03] antonyscerri commented on #658
For now i may stick with post0 as it let's me try most of what I wanted to explore with the basic UI pieces. I was trying some of the ML pieces but things seem to be in flux right now and the examples, ML backend and various documents don't appear to match exactly so i may wait till thing stabilise.

[2021-03-22 22:04] makseq commented on #658
@antonyscerri Do you mean that post0 is working?
@nicholasrq Could you make a diff between post0 and post3?

[2021-03-22 22:05] EconML commented on #658
@makseq I know this is unrelated but since we're already on the thread can you point in the direction of some resources/tutorials for custom/dummy model ml backend on v0.8.0? Otherwise i can post new issue/slack.

[2021-03-22 22:10] antonyscerri commented on #658
@makseq post0 is fine as long as i launch with HOST="" i can reload pages and have been working through testing out various workflow ideas and not run into an issue. post2 looked like the css just wasnt working and post3 has the issue reloading the project data page.

[2021-03-22 22:10] makseq commented on #658
@EconML It's better to have such a question on slack.
Check this: https://labelstud.io/tutorials/dummy_model.html

[2021-03-23 03:16] chktrp commented on #668
It worked! Thank you very much!

[2021-03-23 03:16] #668 closed

[2021-03-23 04:05] thesby commented on #691
My template is always changed by label-studio now after I save it. Any suggestion? @niklub

[2021-03-23 04:13] thesby commented on #691
This problem may be about the prefix of data field. I find that the same prefix of data field always be changed.

[2021-03-23 08:48] Vickzhang commented on #693
Hi, @niklub .  The browser console logs:
[code]
-----
But version 1.0.0-post3 and  1.0.0 don't seem to have this problem.
Thanks.

[2021-03-23 08:49] #693 closed

[2021-03-23 09:47] rbgt opened #701 "Ctrl + Enter no longer works in 1.0.0post3 version"
**Describe the bug**
When I used the 0.9 version to label images, it was possible to pass to the next picture to label just by pressing ctrl + enter in order to get to the next image.

Now it no longer works when I do it after upgrading from 0.9 to 1.0.0 version of label studio

[2021-03-23 10:24] wanderin-earth commented on #699
I've sent you the files by email. Thanks!

[2021-03-23 12:04] fatihbeyhan opened #702 "random order of data for each annotator & not showing other annotators' decisions to annotators"
Hi,

I am creating a project and multiple annotators can sign up and check my project to annotate some data.
I would like to show the data to each annotator in different order. And when an annotator opens a sample to annotate, he/she has to click on the "new annotation" button to create his/her own annotation for that sample and he/she can see the previous annotations of other annotators so their

[2021-03-23 14:28] #701 closed

[2021-03-23 15:55] NotAnyMike commented on #640
Now it is working! There is no longer a `[your-ls-dir]/label_studio/frontend/lib/dm` but a `[your-ls-dir]/label_studio/frontend/dist/dm`. But there is one more thing that I haven't manage to make it work, how can I add an extra button on top right next to the Settings button or change the text on Setting?

[2021-03-23 16:23] dkalaitzidis opened #704 "typo on documentation"
On Install and Upgrade and more specific on the PostgreSQL database you have `--db postgresql` instead of `-db postgresql`

[2021-03-23 16:32] makseq commented on #704
@dkalaitzidis you are right! Thanks!
@smoreface :smile:

[2021-03-23 16:33] makseq commented on #704
@smoreface Please, close this issue after fixing a typo.

[2021-03-23 16:49] smoreface commented on #694
Do you want to use the data for another project in Label Studio? If so, please see this document: https://labelstud.io/guide/predictions.html

[2021-03-23 18:24] makseq commented on #702
@fatihbeyhan Hi, it looks like different role mechanics, but LS supports only one admin role for all users.
You can deep into codes and modify them to show limited annotations: https://github.com/heartexlabs/label-studio/blob/master/label_studio/tasks/serializers.py#L117
Also we have an advanced roles & permissions in our enterprise solution.

[2021-03-23 18:28] makseq commented on #702
@fatihbeyhan

Do you mean order on Label button click? (Label stream)

[2021-03-23 19:30] mikeaadd commented on #659
So i finally have been able to get this working. I used port 80 for label studio and 8080 for the file server. When I used the public ip address it did not work initially. I stupidly forgot that it was behind a vpc so I didn't have the right ip address. Once that was resolved, it seems to work fine now. I'm still a little confused at why localhost worked even if it was intermittently, but I seem t

[2021-03-24 04:09] mirfan899 commented on #694
It does not pick the labeled annotations. It just import the file and shows nothing.

[2021-03-24 04:10] mirfan899 commented on #694
Also, my files are in VOC format.

[2021-03-24 08:54] svetlana21 commented on #704
Hello! I noticed a small problem in the docs that doesn't deserve a new issue I guess.
At the page [Import pre-annotated data into Label Studio](https://labelstud.io/guide/predictions.html) an image isn't displayed:

![image](https://user-images.githubusercontent.com/21115815/112281764-ffe4fc00-8cb8-11eb-9089-1b7b16b1f869.png)

[2021-03-24 09:25] dkalaitzidis opened #709 "Filter by >= or <="
**Is your feature request related to a problem? Please describe.**
My dataset includes a score value, so as an annotator I would like to be able to filter the score value by >= or <=

**Describe the solution you'd like**
Adding greater than equal / less than equal logic on filters and backend.

[2021-03-24 09:37] dkalaitzidis commented on #709
Invalid, i found the code and the issue on my dataset

[2021-03-24 09:37] #709 closed

[2021-03-24 09:53] makseq commented on #704
@smoreface check it please!

[2021-03-24 09:54] Atharex opened #710 "File import not working for docker-compose"
**Describe the bug**
I'm running the default v1.0 docker-compose setup and trying to import a jpg file for image classification.
Any image I try, receive the error:
`Cannot load image (/data/upload/my-image.jpg). Check console/network panel for more info.`

This error does not occur on the single image docker.

**Expected behavior**
Image is correctly loaded and available also on docker compose

*

[2021-03-24 09:58] Atharex opened #711 "Label Studio support for Kubernetes installations"
**Is your feature request related to a problem? Please describe.**
Would be great if Label Studio could support a Kubernetes native installation, where it would not need SQLite for initialization and a follow-up migration to Postgresql. Also that it would support specifying the DB connection details during run-time instead of build time (like I guess the docker-compose example is currently doing)

[2021-03-24 10:16] SNeugber opened #712 "Unable to sync S3 storage with prefix"
**Describe the bug**
I'm trying to import images from an S3 bucket as described in the documentation here: https://labelstud.io/guide/storage.html#Amazon-S3

If syncs fine when I don't add a prefix to the setup, but with the prefix it just returns immediately with a "0 tasks synced" message.

Only caveat here is that it's S3-like storage (not AWS), but so far I've not had any issues accessing it w

[2021-03-24 10:43] dkalaitzidis opened #714 "Filter with decimal values"
**Is your feature request related to a problem? Please describe.**
As a user, I want to be able to filter greater than / less than with decimal values.

Right now (1.0.0.post3) only integer values are supported.

[2021-03-24 11:02] dkalaitzidis opened #716 "Filtering based on numeric value is not working"
**Describe the bug**
I'm trying to filter records based on a numeric score value, but it's not working. I've included a screenshot with the results.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Filters
2. Apply a greater by / less by filter.

**Expected behavior**
Filter the results based on the numeric value.

**Screenshots**
https://imgur.com/a/Hdk9G3J

**Environment (please compl

[2021-03-24 11:21] abu2wu opened #717 "cannot import name 'LabelStudioMLBase' from 'label_studio.ml'"
https://labelstud.io/tutorials/sklearn-text-classifier.html
I tried to follow the steps linked above, type label-studio-ml init my_backend in CMD, and get this error.
cannot import name 'LabelStudioMLBase' from 'label_studio.ml'

[2021-03-24 11:52] abu2wu commented on #717
To build my own machine learning backend, I need to write two scripts, right? Corresponds to _wsgi.py and simple_text_classifier.py in the example

[2021-03-24 16:05] smoreface commented on #704
Yup, thanks @svetlana21, this is fixed in the same branch and PR as the typo :)

[2021-03-24 16:47] ADBurpitt commented on #688
@makseq Thanks for the reply, apologies for not getting back to you sooner, was sick over the weekend/beginning of this week.

The above is running locally without any reverse proxy, which works fine without the `host` flag.
Does the use of the `host` flag mean a reverse proxy is necessary?

I have also been trying to deploy label-studio to a kubernetes environment, I have the app running both wit

[2021-03-25 05:59] svetlana21 opened #718 "Add parameters "required" and "choice" to Taxonomy"
**Is your feature request related to a problem? Please describe.**
Taxonomy control tag is great for a long list of labels. I have a Taxonomy that is only visible when a specific checkbox is selected, but I want the Taxonomy label to be required for submission when the checkbox is selected. Besides I want the only one label from list to be selected, but now the multiple choice is default.

**Descr

[2021-03-25 15:01] dalekube opened #719 "Multi-Template Labeling, Data Export"
When using a custom-coded template that includes multiple sections (i.e. taxonomy and sentiment classification), the export feature only provides a limited subset of the total data that is saved in the underlying 'task_completion' table in the SQLite database. When there are multiple annotations for the same task, the export only provides one of the annotations (looks like it provides the most rec

[2021-03-26 12:23] bharath4793 opened #725 "Cloned the latest changes and when i run docker-compose up -d getting below error"
/usr/lib/python2.7/dist-packages/requests/__init__.py:80: RequestsDependencyWarning: urllib3 (1.25.9) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)
Traceback (most recent call last):
  File "/usr/bin/docker-compose", line 11, in <module>
    load_entry_point('docker-compose==1.17.1', 'console_scripts', 'docker-compose')()
  File "/usr/lib/python2.7/dist-package

[2021-03-26 13:09] ThePianoDentist opened #727 "404 GCS Annotation/Completion Sync"
**Describe the bug**
Google-cloud target storage is 404'ing on sync (and annotated tasks do not seem to be using the bucket)

**To Reproduce**
- On `projects/1/settings/storage` add a target cloud storage for gcs bucket
- Click "Sync Storage"
- See attached screenshot

**Expected behavior**
To sync completions. No 404.

**Screenshots**
![image](https://user-images.githubusercontent.com/17036692/11

[2021-03-26 14:45] laynr opened #728 "Hosts with base URL's do not work with label-studio"
**Describe the bug**
When using the option `--host` argument  with a base URL, for example the one shown in the label-studio argument help  `--host "http://ls.domain.com/subdomain/"`,  href's with absolute paths (those starting with"/") break and make label-studio unusable.  URL's  should all be changed to relative paths when using `base href` html tag (either remove leading "/" or add start with

[2021-03-26 14:52] makseq commented on #728
@nicholasrq check this please in frontend part.

[2021-03-27 03:31] lchunleo opened #729 "Filename is hashed"
After use , I noted that the original filename of image when imported into the studio for labelling r hashed. And the resulting annotation will contain the hashed filename  Is it possible to disable or able to track this information ? Thank you

[2021-03-27 13:39] makseq commented on #729
@lchunleo It's not possible to disable hashes in uploaded filenames because of security reasons. Also if you upload two different files with the same names, the first one will be replaced by the second. However, the original part of your file name will be saved at the beginning of the filename.

What do you mean by "track this information"?

[2021-03-27 20:08] makseq commented on #719
@dalekube  Could you check release/1.0.1 branch? I hope it is fixed there.

[2021-03-27 22:19] makseq commented on #717
@abu2wu
1. Label Studio ML backend was moved to a new repository: https://github.com/heartexlabs/label-studio-ml-backend , you need to install it separately.
2. You have to write simple_text_classifier.py only and then run `label-studio-ml init --script simple_text_classifier.py`

[2021-03-28 02:16] nicholasrq commented on #640
@NotAnyMike such changes are made inside `label_studio/frontend/src/pages/DataManager/DataManager.js`. you can find `DataManager.context` section there, it describes what buttons will be in the top-right corner

after changing any of the files in `frontend/src` you need to build the bundle. to do that navigate to `label_studio/frontend` directory and execute the following command: `npm ci && npm r

[2021-03-28 05:41] niklub commented on #727
@ThePianoDentist ,
This has been fixed in all versions since 871ce69c8f544025471ed4825b667e3b330656a3 Please update to the `heartexlabs/label-studio:latest`, or the latest git master, or `pip install label-studio==1.0.0.post3` and reopen the issue if the problem will persist

[2021-03-28 05:41] #727 closed

[2021-03-28 05:44] niklub commented on #725
Hi, @bharath4793 !

Could you please check running the same from this branch https://github.com/heartexlabs/label-studio/pull/681 ? We'd significantly reworked docker-compose scripts there, so maybe your problem has been gone

[2021-03-28 05:48] niklub commented on #717
Hi, @abu2wu ! Please feel free to reopen the issue if you still have not succeeded to run the ML backend

[2021-03-28 05:48] #717 closed

[2021-03-28 05:52] niklub commented on #712
Hi, @SNeugber ! Have you tried to play with the trailing slash in your prefix?

[2021-03-28 05:58] niklub commented on #710
Hi, @Atharex ! Please try out the RC branch https://github.com/heartexlabs/label-studio/pull/681 Hope it has been  fixed there

[2021-03-28 06:07] niklub commented on #702
Hi, @fatihbeyhan !
Currently, if you want to randomize show order for your annotators, you can tweak the project settings parameter via project API `PATCH /api/projects/<pk>` with the data payload like this `{"sampling": "Uniform sampling"}`. We will make it handier in the near future

[2021-03-28 17:52] fatihbeyhan commented on #702
That is not exactly "random" actually. I tried it. First annotator will see the samples in a random order however second annotator will see the samples in the same order first annotator did. Therefore, I forked and changed the code a bit and achieved the random order for each annotator, with the help of one of your devs in Slack group (Thank you Nikolai Liubimov!).

I would like to suggest to put

[2021-03-28 18:03] makseq commented on #702
@fatihbeyhan I'd suggest you to split your tasks into different tabs based on non-intersected task ids. One tab per annotator. In this case they will be strongly separated among annotators.

[2021-03-28 22:05] brharper commented on #662
@makseq I'm not familiar with how the requirements.txt interacts with the pypi package, but if it's implicitly used for dependency, I assume your proposed fix would work. Thanks!

[2021-03-28 23:03] makseq commented on #662
We have released more LS versions, check them please, wheel must be included there.

[2021-03-28 23:03] #662 closed

[2021-03-29 06:25] Yannik1337 commented on #650
There's much that has changed in LS 1.0, it has a cleaner UI and is definitely more responsive.
I however have not found a way to import the data by pointing LS to a directory, as I did previously with this command:
[code]
How can I achieve this? I have thousands of files, which I thus can not import manually-- I found pointing LS to a directory quite comfortable to use!

[2021-03-29 07:03] SNeugber commented on #712
Just checked, the issue persists with and without the trailing slash

[2021-03-29 09:05] lhtrieu87 opened #731 "Error when re-import an exported json file"
Face error when importing the exported JSON file

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a project
2. Export using JSON format
3. Go to the same project OR a new empty project
4. Import the JSON file exported in the step 2

**Expected behavior**
Can import the JSON file successfully

**Screenshots**
![Screenshot from 2021-03-29 17-03-00](https://user-images.githubusercontent.co

[2021-03-29 09:40] cbwchuck opened #732 "Prediction of tasks with BrushLabels"
Hi! I am trying to implement a ml backend for Semantic Segmentation with Masks project in LS v1.0.0. And I am wondering what I should return from the server side. I saw in the export json file that the result is RLE encoded, do I need to do the same for the prediction?

[2021-03-29 11:08] potipot commented on #682
I wasn't able to reproduce this error in the last week. I'll close this.

[2021-03-29 11:08] #682 closed

[2021-03-29 11:39] rahulchetlangia opened #733 "Scaling of images"
Hello Team,

does this tool do any kind of scaling while tagging the images?
when i see the coordinates of the bounding boxes and also try to validate that with MS paint pixels - i see a different values.
Kindly clarify this doubt.

thanks in advance.

[2021-03-29 13:47] niklub commented on #691
Hi, @thesby ,
Can you please show what kind of import format do you use for that? Just tried to unsuccessfully reproduce this error in [1.0.1 release branch](https://github.com/heartexlabs/label-studio/pull/681), importing csv file with 2 columns `image1` and `image2` and it works fine.

[2021-03-29 14:00] makseq commented on #688
@ADBurpitt I hope you feel better!

If you want to use `https://ds.degreed.com/label-studio/` as your final path, it's necessary to use properly configured nginx.

Your nginx config looks like you are close to success.

Maybe it's better to replace:

[code]

=>

[code]

[2021-03-29 14:04] makseq commented on #688
It doesn't seem like a bug on our side, so I close this issue.

[2021-03-29 14:04] #688 closed

[2021-03-29 14:11] niklub commented on #684
Hi, @antonyscerri !
I've just checked the tasks bulk delete problem in [release branch](https://github.com/heartexlabs/label-studio/pull/681), it doesn't reproduce. Can you try it?

[2021-03-29 14:21] #659 closed

[2021-03-29 14:26] niklub commented on #657
Hi, @zhanjiezhu ! Seems that the problem has gone in [1.0.1 release branch](https://github.com/heartexlabs/label-studio/pull/681). Can you check it, please? We will close this issue as soon as 1.0.1 will be released

[2021-03-29 14:36] niklub commented on #650
Hi, @Yannik1337 ! `--input-path` pointed to the directory is deprecated. Starting from version 1.0.1, you have two options for serving local files:
1. Run a separate server (e.g. with `python -m http.server 8081` to get URLs pointed to your local files as `http://localhost:8081/audio.wav`. You can collect them manually and import the list from UI (also some [helper scripts are available for that](

[2021-03-29 15:05] niklub commented on #638
Hi, @vcmorini ! Label Studio 1.0.0 doesn't support importing time series data without a header. In your particular case you have to specify column name `1` in csv file. Meanwhile we're planning to add a headerless file upload support for time series, thanks for pointing out

[2021-03-29 15:16] niklub commented on #622
Please checkout the latest Label Studio version and feel free to reopen the issue if the problem still persists

[2021-03-29 15:16] #622 closed

[2021-03-29 15:27] makseq commented on #731
@lhtrieu87 Thank you for your report, it was fixed in release/1.0.1 branch.
https://github.com/heartexlabs/label-studio/pull/681

[2021-03-29 15:31] niklub commented on #615
Hi, @jigarparekh80 !

The issue isn't reproduced in [1.0.1 release branch](https://github.com/heartexlabs/label-studio/pull/681) with the following config
[code]
(I can't actually use exactly yours since it doesn't contain an object tag and enclosing </View>)
We will close this issue as soon as 1.0.1 version will be released. If you continue to face the issue, please feel free to reopen it, provid

[2021-03-29 16:29] niklub commented on #607
Hi, @Karmendes ! When you leave Regex filter empty, it filters out all files stored in your bucket, so you have to explicitly set filter regular expression (e.g. `.*` for getting all files in a bucket).
We'll close this issue as soon as 1.0.1 will be released, please reopen it if you still get the error, possibly with the details provided.

[2021-03-29 16:30] #604 closed

[2021-03-29 16:39] #580 closed

[2021-03-29 16:46] niklub commented on #528
Hi, @dtmoodie !
In Label Studio 1.0.1 a new local file storage has been added exactly for this purpose. Please try out the [RC branch](https://github.com/heartexlabs/label-studio/tree/release/1.0.1), and we'll close this issue as soon as 1.0.1 will be officially released.

[2021-03-29 16:52] niklub commented on #589
@jrdalenberg please update to the latest version and reopen the issue if it still remains on your side.

[2021-03-29 16:52] #589 closed

[2021-03-29 17:09] ADBurpitt commented on #688
Thanks for the help, I've made some progress with the nginx stuff but still not fully working, will post on slack :)

[2021-03-29 18:45] smoreface commented on #694
@mirfan899 Please try uploading a JSON file with the predicted annotations. Export to VOC format is supported but to import pre-annotations you need to use the Label Studio JSON format.

[2021-03-29 18:56] mirfan899 commented on #694
Okay, thanks.

[2021-03-29 18:56] #694 closed

[2021-03-29 20:32] makseq commented on #732
Hi! Yes, you need to build your mask in the RLE format.

We have some prepared codes that could help you:
https://github.com/heartexlabs/label-studio-converter/blob/master/label_studio_converter/brush.py#L305

[2021-03-29 20:44] makseq commented on #733
@rahulchetlangia Hello, LS uses percent format for coordinates. It means all x and y points have coordinates from 0% to 100% of original image width and height.

I think you will find helpful this link:
https://labelstud.io/guide/export.html#Units-of-exported-image-annotations

[2021-03-30 04:42] #733 closed

[2021-03-30 05:02] lchunleo commented on #729
Thanks for the reply. "Track this information" refers to maybe a file that contains the mapping of the original filename and the hashfilename.

May i understand the "security reasons" for the design? My intent to keep the filename is to able to trace back which files are used in the annotation if the file source is no longer available.

[2021-03-30 06:29] bharath4793 commented on #725
Hi,

I am getting the below error when I checked out #681
<https://github.com/heartexlabs/label-studio/pull/681> [release/1.0.1] and
run sudo docker-compose up -d

Creating labelstudio_db_1 ...
Creating labelstudio_db_1 ... done
Creating labelstudio_app_1 ...
Creating labelstudio_app_1 ... error

ERROR: for labelstudio_app_1  Cannot start service app: OCI runtime create
failed: container_linux.go:

[2021-03-30 11:39] serjrd opened #734 "These labels still exist in annotations error"
Getting `These labels still exist in annotations` error when trying to delete object classes in labeling interface even though all objects of this class were removed.

Tried using label-studio filter by "annotations results" and also made a direct SQL-query `select * from task_completion tc where "result" LIKE '%cage%'` to check that there are no more annotations of that class.

Restarting label-s

[2021-03-30 13:01] makseq commented on #734
@serjrd could you check release/1.0.1 branch? Will it persist there?

[2021-03-30 15:21] cbwchuck commented on #732
@makseq Thanks for the help! I had some tries today but still couldn't get the pre-annotation right. Below is my predict function

[code]

And this is the image shown in the frontend
![image](https://user-images.githubusercontent.com/25662762/113012637-8748d880-91ad-11eb-80ce-4b9ef5d0c6b8.png)

Web console throws some warnings
![image](https://user-images.githubusercontent.com/25662762/113012742-a

[2021-03-30 16:03] makseq commented on #732
@cbwchuck Thank you very much for sharing your codes.
I think it's better to pass into RLE converter a `binary_mask`, instead of contours, use `encode_rle` from here:
https://github.com/heartexlabs/label-studio-converter/blob/master/label_studio_converter/brush.py#L177

Prepare your mask as follow (I don't know your `model_results.shape`, so it could be something like this):
[code]

[2021-03-30 17:44] FelipeCrispim opened #735 "Reusing labels for NER"
Hello,

When I import a csv file with labeled data, I cannot change entities for previously annotated labels from other projects.
Is there a way to be able to reuse labels from another project?

Thank you in advance.

[2021-03-30 18:16] niklub commented on #735
Hi, @FelipeCrispim ! Do you mean that your labels from previous projects are different from what you specify in the current labeling config ?

[2021-03-30 18:34] #704 closed

[2021-03-30 20:48] niklub commented on #735
Thanks, indeed, that's a good feature we plan to add (not specifically for text span but for any annotation regions)

[2021-03-31 03:29] cbwchuck commented on #732
@makseq Much appreciated :)! I have updated my code and the colours of pre-annotated image seem right now!

[code]

![image](https://user-images.githubusercontent.com/25662762/113084892-79c53a00-9211-11eb-9ba9-463dddb730de.png)

It takes around 3 minutes for the browser to render the page (backend process time not included), and the same errors occurred when I click a region in the Regions panel.

[2021-03-31 09:40] makseq commented on #732
@cbwchuck what is your image resolution?

[2021-03-31 10:10] mishra011 commented on #669
I am having the same issue.

GET /api/dm/views/1/tasks?page=1&page_size=30&project=1 HTTP/1.1" 200 2030 "http://100.2.1.49/projects/1/data?tab=1" "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36" "-"
nginx_1  | 10.10.7.15 - - [31/Mar/2021:10:04:30 +0000] "GET /data/upload/valid__en-in__000001__7270__8k.wav HTTP/1.1" 404 555 "http://100.2.1.4

[2021-03-31 10:15] cbwchuck commented on #732
@makseq It's 1280x720

[2021-03-31 10:49] serjrd commented on #734
@makseq

Yes it does

[2021-03-31 11:07] thesby commented on #691
Hi, I made a json format data, and uploaded to server. Then I imported the data from url of the file

[2021-03-31 16:37] jthaloor opened #737 "Ability to edit starting number of catergory IDs."
When you perform a COCO export of a obj. detection use case, the default behavior is to start with category IDs with "0". This works well if you are training a model from scratch, but with transfer learning, it is problematic. In many models, "0" is considered the background and every other objects needs be > 0. Currently there is no way to setup the category IDs when exporting so it is a manual p

[2021-03-31 20:40] niklub commented on #734
Hi, @serjrd !
Do you have any clues on how to reproduce this issue in a newly created project?

[2021-04-01 11:56] Atharex commented on #710
Hi @niklub the docker-compose is currently also not functioning in the RC branch.
There it seems the script is missing in the docker image

[code]

[2021-04-01 15:59] NotAnyMike commented on #640
There is something else that I haven't been able to figure it out. There are two ways of launching LS, using `label-studio start ...` or `python label-studio/manage.py run_server`. The first is reachable from outside the instance through the url but the static folder is not found (so the interface looks bad), and with the second method, the static folder is found but you cannot reach it from outsi

[2021-04-01 17:34] BlkPingu opened #742 "Protect project and set default privileges for newly registered contributors to labeling project and set user groups (admin, contributor)"
**Is your feature request related to a problem? Please describe.**

I can't find an option to protect the project. Every user that registers can also delete a project. I want to publicly post the project and don't want contributors to do be able to do anything else than labeling.

**Describe the solution you'd like**

Add a way to manage user privileges.

**Describe alternatives you've considered*

[2021-04-01 17:43] BlkPingu commented on #742
cc @cvqluu

[2021-04-02 01:15] cbwchuck commented on #732
@makseq Hi! Any update on label region loss issue?

[2021-04-02 07:57] Yannik1337 commented on #650
Hi @niklub , thanks for this hint-- I did not see that before!
After working with the new LS 1.0.0 I have a few suggestions:

- Template for plain Audio Classification:
[code]

- Add a hint for local files during project setup. When creating a new project you can select the tab Data Import. Just add a short message that links to adding local files

[2021-04-02 08:10] makseq commented on #732
I think we need improve the brush performance. Right now you can try to remove some layers that cover the most parts of the image, it will make RLE not so heavy.

[2021-04-02 08:30] Yannik1337 commented on #650
After importing all the tasks, I can view them, but not play the audio files:
![Bildschirmfoto 2021-04-02 um 09 58 51](https://user-images.githubusercontent.com/50734087/113397931-1caabf00-939e-11eb-8607-8c59bee0d64e.png)

Looking in the console, I find many 403s:
`Failed to load resource: the server responded with a status of 403 (Forbidden)`
As I am using local storage I can not configure CORS.

[2021-04-02 08:41] Yannik1337 commented on #650
From a previous project setup, where I ran LS and local files with the CLI, I pointed it to an audio directory, which automatically created a tasks.json file.

I can see that the files are listed there as:
[code]
 whereas in the new UI they are listed as
[code]
The difference I want to point out is in the naming of the files.

[2021-04-02 13:47] cbwchuck commented on #732
@makseq Thanks a lot for all the help! I just updated the code in my previous answer to solve the label not shown issue. Looking forward to the optimised version!

[2021-04-02 13:47] #732 closed

[2021-04-02 13:54] makseq commented on #732
Thank you very much for your reports!

[2021-04-02 15:34] DeStiNi10 opened #749 "User creation through django admin dashboard"
When i try to create users through the django admin dashboard through a superuser i'm getting a
"Something's wrong, we're on it!
Try again later

True"

Here's the docker logs:
[2021-04-02 15:26:46,281] [django.request::log_response::224] [ERROR] Internal Server Error: /user/login/
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/django/core/handlers/exception.py",

[2021-04-04 13:32] Yannik1337 commented on #650
After working with it I found, hidden in the console logs:
`Serving local files can be dangerous, so it's disabled by default. You can enable it with LOCAL_FILES_SERVING_ENABLED environment variable`.
I'd recommend to add this as a command line option to [this page](https://labelstud.io/guide/start.html#Command-line-arguments-for-starting-Label-Studio), and place a hint more prominently (e.g. when

[2021-04-04 16:35] FelipeCrispim commented on #735
Hi @niklub, yes. I would really appreciate that.
Thanks again and great tool!

[2021-04-04 21:56] abhay-kum opened #753 "Data-manager failed to load when refresh the page"
Data-manager failed to load the content when refreshing the page, or directly open the task in the browser. I am running the ls 1.0 with docker-compose having backed as Postgresql. sometimes it takes too much time to submit the task after doing 20-50 annotations. I have checked with the console log and found sometimes data managers return false, and sometimes label-studio return false. I am not ab

[2021-04-04 22:16] makseq commented on #753
@nicholasrq any ideas?

[2021-04-04 23:37] nicholasrq commented on #753
this issue should be fixed in the upcoming 1.0.1 release

[2021-04-04 23:47] makseq commented on #753
@abhay-kum Could you check Label studio 1.0.1rc1 ?

[2021-04-05 05:01] abhay-kum commented on #753
i have pull the code and run the container using docker-compose file it showing as
![Screenshot 2021-04-05 at 9 52 10 AM](https://user-images.githubusercontent.com/27910202/113538881-fda86900-95f9-11eb-8fa7-69133b26afc2.png)

[2021-04-05 15:30] makseq commented on #669
@mishra011 Could you check `pip install label-studio==1.0.1rc1`, I hope we've fixed it there.

[2021-04-05 15:31] makseq commented on #728
@laynr Could you check `pip install label-studio==1.0.1rc1` please? I hope it's fixed there.

[2021-04-05 17:26] juan57 opened #756 "Intelligent interactive segmentation labelling through deep learning models"
**Is your feature request related to a problem? Please describe.**
Semantic segmentation labelling takes a long time to individually paint all the pixels of all the different classes using a simple brush painter. If we could incorporate interactive intelligent labelling functionality, that would be awesome.

**Describe the solution you'd like**
Either a implemented interactive segmentation option,

[2021-04-05 19:39] niklub commented on #753
label-studio==1.0.1 has been released (as well as the latest docker images `heartexlabs/label-studio:1.0.1` or `heartexlabs/label-studio:latest`. Please try it out and report back if the problem is still there, or close the current issue otherwise

[2021-04-05 19:44] niklub commented on #749
This is not intended to be done in such a way, there are a couple of other records needed to be created besides the `User`. I think we can all the necessary steps for user creation through django admin somewhere in the documentation, @DeStiNi10 do you think it might be helpful enough for you?

[2021-04-06 08:28] Yannik1337 commented on #650
After upgrading to the latest Docker image `docker pull heartexlabs/label-studio:1.0.1` I am now getting a new error:
The console logs say:
`Failed to load resource: the server responded with a status of 500 (Internal Server Error)`,
and clicking on this error I see the following screen:

![Bildschirmfoto 2021-04-06 um 10 26 46](https://user-images.githubusercontent.com/50734087/113681768-a6ba9680

[2021-04-06 09:29] suvojit-0x55aa opened #757 "Two click bounding box annotation option"
**Is your feature request related to a problem? Please describe.**

Having to hold and drag the mouse during bounding box annotation can be a bit jarring specially if zoom level is not set correctly.

**Describe the solution you'd like**

An option to use two click bounding box drawing where user will click on two diagonal points  of the bounding box.

[2021-04-06 09:37] niklub commented on #650
Hi, @Yannik1337 ! Sorry, I've unsuccessfully tried to reproduce your issue with the latest label studio, what it's done:
1. Install label-studio (`/version` gives backend "commit": "71278b")
2. Set local files storage, pointed to the directory where [flac file](https://filesamples.com/samples/audio/flac/Symphony%20No.6%20(1st%20movement).flac) is located
3. Specify [your labeling config](https://g

[2021-04-06 10:34] abhay-kum commented on #753
when I am using the `docker run -it -p 8080:8080 -v 'pwd'/mydata:/label-studio/data heartexlabs/label-studio:latest` it is working fine , but when i try to run using docker-compose-file the static content not able to fetched.

![Screenshot 2021-04-06 at 3 59 38 PM](https://user-images.githubusercontent.com/27910202/113697985-9a016700-96f1-11eb-917f-d16ccbfa41ec.png)

[2021-04-06 11:48] DeStiNi10 commented on #749
Yeah. I'd like to be able to have the ability to create users and manage them through the admin dashboard itself. As of now the documentation doesn't have any information on this. It'd be helpful to create users through the backend for sure.

[2021-04-06 12:57] makseq commented on #675
@smoreface have you added this into docs somewhere?

[2021-04-06 13:28] oyange commented on #676
Is this bug fixed in the latest version?

[2021-04-06 13:47] athulprathap opened #760 "Issues while Hosting label-studio in a remote ubuntu server"
**Describe the bug**
Tried to host the app in an ubuntu -18 remote machine. Looks like most of the inside settings are configured to run the app in localhost.
Request documentation on how to configure server IP instead of localhost.

**To Reproduce**
Steps to reproduce the behavior:
Deploy the app using docker compose in an ubuntu 18 remote server
**Expected behavior**
A clear and concise descript

[2021-04-06 13:47] oyange commented on #676
I encountered a similar bug in version 1.0.1

When I imported the first csv file, I encountered this issue
![image](https://user-images.githubusercontent.com/23448269/113720860-9c7bb500-9721-11eb-9ab6-046ffb944dcb.png)

But the second time I imported the same file, I pass the issue
![image](https://user-images.githubusercontent.com/23448269/113720942-ac939480-9721-11eb-956d-ce616b7db0b6.png)

[2021-04-06 14:33] makseq commented on #760
If you have external domain for LS, you need to specify it at docker start:

[code]

[2021-04-06 14:52] athulprathap commented on #760
As suggested used LABEL_STUDIO_HOST=http://xx.xxx.xxc.xx docker-compose up to start the application.URLs are mapped to the host IP.But UI appears to be broken.Is there any configurations to be changed on UI service?
![labelerror](https://user-images.githubusercontent.com/10370721/113730714-be6f3a80-9715-11eb-89a1-61e059e64159.jpg)

[2021-04-06 16:01] makseq commented on #760
Could you check docker console? it must be string about your current hostname at start up. Is there a correct hostname?

[2021-04-06 17:09] laynr opened #763 "Port argument not working in version 1.0.1"
**Describe the bug**
In version 1.0.1 the port argument is not working.  Previously specifying `--port 80` would start the server at http://0.0.0.0:80/.  In version 1.0.1 the server is started at  http://0.0.0.0:8080 (or the next available port) regardless of the port argument.

**To Reproduce**
Steps to reproduce the behavior:
1. `docker run -d heartexlabs/label-studio:1.0.1`
2. `docker exec -it

[2021-04-06 17:11] laynr commented on #728
@makseq in attempting to verify this fix I discovered https://github.com/heartexlabs/label-studio/issues/763

[2021-04-06 17:21] niklub commented on #763
@laynr I guess the problem is because the default port was globally set within the container as 8080. (you can check `LABEL_STUDIO_PORT` variable). There are 2 alternatives I can suggest:
- try to update to the latest docker image `heartexlabs/label-studio:latest`
- or specify `LABEL_STUDIO_PORT=80` variable instead when running your current container

[2021-04-06 18:23] laynr commented on #763
@niklub thank you for your  response

-  Setting the environmental variable `LABEL_STUDIO_PORT` worked for me thanks!
- `heartexlabs/label-studio:latest` currently pulls a version of 1.0.0.post3, but I see you recently changed this line to prioritize args over environment variables https://github.com/heartexlabs/label-studio/blob/2f890de2733f7846553bcb598265afc8dd6ab3c4/label_studio/server.py#L327

[2021-04-06 18:26] niklub commented on #763
it's strange with version `1.0.0.post3`.. from where is it coming?

[2021-04-06 18:28] niklub commented on #763
yes, it first checks `LABEL_STUDIO_PORT` followed by `PORT`

[2021-04-06 19:05] uriel-tannen opened #764 "Duplicate annotations in storage export"
**Describe the bug**
Following issues discussed in [this](https://label-studio.slack.com/archives/CQ8LYPPJS/p1617721944368300?thread_ts=1616102107.229400&cid=CQ8LYPPJS) thread, changes were made to align storage export with regular export. However a new issues has surfaced as a result. Regular export is a single JSON or CSV file that includes all annotations in a single file, whereas storage expor

[2021-04-06 19:12] uriel-tannen opened #765 "Can't submit a task with a required conditional annotation, even if condition has not been triggered"
**Describe the bug**
If I have a choice label that is `required="true"` and also conditional on a `whenChoiceValue`, I get an error message saying `"Checkbox [name] is required"` even if the condition is not met (and thus the choice label isn't even displayed to the labeller to work on). To give an example: if I have one label named `"Boolean"` with choice options being `"True."` and `"False."`, a

[2021-04-06 19:13] laynr commented on #728
@nicholasrq / @makseq  There are still some web page errors in the 1.0.1 release.  For example the css and images are still NOT using relative paths.

For example this line of code:
https://github.com/heartexlabs/label-studio/blob/e50c16f096a7383147d2289f324cf28990336066/label_studio/users/templates/users/user_signup.html#L9
resolved to  `<link rel="stylesheet" href="/static/css/login.<some number

[2021-04-06 19:47] laynr commented on #763
My fault. My "latest" was stored locally. Once deleted and pulled remotely I got the new "latest". And yes `port` is fixed in the latest.

Thank you and closing.

[2021-04-06 19:47] #763 closed

[2021-04-07 02:24] dalekube commented on #719
@makseq, yes I can check this in the next couple days and follow up here. Thanks! I apologize for the delay.

[2021-04-07 03:17] athulprathap commented on #760
Sharing the docker console logs.Here at console the app_1    | => Hostname correctly is set to: http://52.172.183.38}.Is there any change required in UI settings?

Starting label-studio_db_1 ... done
Recreating label-studio_app_1 ... done
Recreating label-studio_nginx_1 ... done
Attaching to label-studio_db_1, label-studio_app_1, label-studio_nginx_1
app_1    | Postgres is up - executing command
a

[2021-04-07 03:45] thesby opened #768 "How to distinguish different project label result in redis?"
I use the redis to store label result, but I find that the keys are just `id`. And I cannot split them into different project. How to deal with this? I set the `path` as `label_result`, but there is nothing about `label_result`.

[2021-04-07 03:54] thesby commented on #768
@makseq I think add a prefix is really useful.

[2021-04-07 07:54] Yannik1337 commented on #650
@niklub thank you for taking the time trying to reproduce this issue.
I have followed your steps, and at first it did not work.
I then switched from Safari 13.0.5 (15608.5.11) to Chrome. Now it works! Thanks a lot!
(You might consider adding this as a hint that this Safari version does not seem to work with audio files)

[2021-04-07 07:54] #650 closed

[2021-04-07 08:52] makseq commented on #760
No, you don't need to change anything in UI.
I see a strange character } at the end of the hostname. It's excess.

[2021-04-07 10:32] ViktorGlushak opened #770 "images do not appear in the project"
When I thyed to import images, images do not appear in the project. I use linux gnome 2. Tryed to run app from docker and pip.

![image1](https://i.ibb.co/MfhzwsF/Screenshot-at-2021-04-07-15-08-31.png)
![image2](https://i.ibb.co/KhWqjWn/Screenshot-at-2021-04-07-15-10-56.png)

Could you help me pleas?

[2021-04-07 11:01] makseq commented on #770
It looks like your browser is not support modern javascript extensions.
Could you check your browser console and reload the page completely?

[2021-04-07 11:50] ViktorGlushak commented on #770
![image](https://i.ibb.co/Vt9x0wV/Screenshot-at-2021-04-07-16-48-08.png)

Version of browser Google Chrome 72.0.3626.109

[2021-04-07 11:54] ViktorGlushak commented on #770
It is work in Firefox.

[2021-04-07 12:00] makseq commented on #770
I think you need to update chrome to the latest version.

[2021-04-07 17:51] smoreface commented on #675
Yes, it's here: https://labelstud.io/guide/install.html#Troubleshoot-installation

[2021-04-07 17:59] makseq commented on #760
I think your nginx is wrongly configured.

[2021-04-07 19:38] xuankhanhdo opened #771 "Highlight multiple occurences for NER task"
I'm working on the task of Named Entities Recognitions for long text. In these texts, sometimes there are multiple occurences of an entity (for example name of person repeated numerous times. My question is there is anyway in LabelStudio to hightlight all of these occurences to help the annotators annotate it quicker and easier ? Thanks for your support.

[2021-04-08 02:02] abhay-kum commented on #760
mount static folder in the app service in the docker-compose.yml, UI will work properly after that make sure you have pulled the latest code and build the docker locally `docker build -t label_studio_app .` and then run `docker-compose up -d --build`

version: '3.3'

services:

  nginx:
    image: nginx:latest
    ports:
      - 80:80
    depends_on:
      - app
    volumes:
      - static:/label-

[2021-04-08 07:15] uRENu opened #772 "import txt data failed"
**Describe the bug**
After I click "import" in the browser to import data,  the UI interface did not respond:
![image](https://user-images.githubusercontent.com/54517380/113983805-efb64a80-987c-11eb-8cf2-bfd1a3290dc7.png)

and an error has occurred in the command window:
[2021-04-08 07:08:51,262] [django.request::log_response::230] [ERROR] Internal Server Error: /user/account/
Traceback (most rece

[2021-04-08 08:56] athulprathap commented on #760
@abhay-kum that works.Thank you for the suggestion. app is accessible at 8080.
Also since  I already have other applications running on port 80, unable to use port 80 as default in Nginx configuration.
Tried giving port 8008 in Nginx configuration in the docker-compose file as below.
image: nginx:latest
ports:
- 8008:80
depends_on:

But traffic is not getting routed through 8008..and I have to dir

[2021-04-08 10:37] Morgadoooo commented on #663
Hi,
The option for getting the data from the local file storage is working for images data but not for txt data for me. I can sync my data but when I try to visualize it the text is not loading even if I have a 200 return any idea ?
![image](https://user-images.githubusercontent.com/57522029/114012527-b96dd080-9866-11eb-8aa0-292dfe777882.png)

DEBUG LOGGING
[code]

[2021-04-08 11:40] li3cmz opened #774 "How could I load image from local Source Storage?"
Hi, I have followed the doc [here](https://labelstud.io/guide/tasks.html#Import-data-from-a-local-directory) to create a local storage.
![a](https://user-images.githubusercontent.com/32973240/114020353-1470e900-98a2-11eb-8ceb-41605806ea99.png)

And then I start to use the local storage by two steps.

1. Put .*png file into the local path that I select above.
2. Import my tasks through the json fil

[2021-04-08 11:41] makseq commented on #663
@Morgadoooo Hi! Please, try to add to your Text tag in your labeling config:
[code]

[2021-04-08 11:51] Morgadoooo commented on #663
@makseq It did the trick thanks for your help!

[2021-04-08 12:23] makseq commented on #772
@uRENu Could you try the same on Chrome browser (the latest versions ~88-89)?

[2021-04-08 12:34] #770 closed

[2021-04-08 12:40] makseq commented on #774
Hi!
For Local files storage you have to use `/data/local-files/1.png`.

[2021-04-08 12:43] makseq commented on #774
@smoreface Could you add to this doc section
https://labelstud.io/guide/tasks.html#Import-data-from-a-local-directory
a task example with the correct path to file (and maybe some note about `/data/local-files/` path), like:

[code]

[2021-04-08 12:45] makseq commented on #768
I think we need to add a data manager column with storage name or something like this..

[2021-04-08 12:46] makseq commented on #670
Done in LS 1.0.1.

[2021-04-08 12:46] #670 closed

[2021-04-08 12:48] makseq commented on #663
@fatihbeyhan Local storages have been added in LS 1.0.1.

[2021-04-08 12:48] #663 closed

[2021-04-08 12:50] makseq commented on #710
@Atharex Could you check it again from the latest commit of the master branch?

[2021-04-08 12:50] makseq commented on #725
@bharath4793 Could you check it again from the latest master commit?

[2021-04-08 12:54] makseq commented on #684
@antonyscerri Do you still have this problem?

[2021-04-08 12:56] makseq commented on #657
Feel free to reopen if the problem occurs again.

[2021-04-08 12:56] #657 closed

[2021-04-08 13:05] antonyscerri commented on #684
sorry not had a chance to go back and test, i was reviewing it at the time and have been down a different rabbit hole. I do intend to come back to Label Studio at some point to check it and look at some elements in more depth, not sure when at this time sorry.

[2021-04-08 14:51] Atharex commented on #710
Seems it works now, I can see the images.

Though in some cases when importing multiple images I get the following error:
`JSON.parse: unexpected character at line 1 column 1 of the JSON data`

But at least the imported images that work are visible now +1

[2021-04-08 15:01] #632 closed

[2021-04-08 15:03] makseq commented on #710
@Atharex What way do you import multiple images?

[2021-04-08 15:03] niklub commented on #646
Hey, this problem is supposed to be fixed following `label-studio>=1.0.1`. Please feel free to reopen the issue in case it happens again.

[2021-04-08 15:03] #646 closed

[2021-04-08 15:04] #607 closed

[2021-04-08 15:05] niklub commented on #691
Hey, this problem is supposed to be fixed following `label-studio>=1.0.1`. Please feel free to reopen the issue in case it happens again.

[2021-04-08 15:05] #691 closed

[2021-04-08 15:06] niklub commented on #669
Hey, this problem is supposed to be fixed following `label-studio>=1.0.1`. Please feel free to reopen the issue in case it happens again.

[2021-04-08 15:06] #669 closed

[2021-04-08 15:07] niklub commented on #615
Hey, this problem is supposed to be fixed following `label-studio>=1.0.1`. Please feel free to reopen the issue in case it happens again.

[2021-04-08 15:07] #615 closed

[2021-04-08 15:10] niklub commented on #753
Hi, @abhay-kum ! Have you set `LABEL_STUDIO_HOST` variable to your custom hostname within docker-compose.yml ?

[2021-04-08 15:26] niklub commented on #753
This [PR](https://github.com/heartexlabs/label-studio/pull/775) also let you avoid specifying hostname explicitly

[2021-04-08 15:30] #731 closed

[2021-04-08 15:44] makseq commented on #528
Check this docs about Local files storage, it's now implemented in LS 1.0.1.
https://labelstud.io/guide/storage.html#Local-storage

[2021-04-08 15:44] #528 closed

[2021-04-08 23:01] g-simmons opened #778 "HTML NER ML backend predictions that don't mess with the DOM"
**Is your feature request related to a problem? Please describe.**
Locations for HTML NER annotations are defined by xpaths and offsets. When an annotation is created, the DOM is updated (a new <span> is created around the annotated text), and subsequent NER annotations must be defined with respect to this new updated DOM. This adds an extra level of complexity to using an ML backend for NER predi

[2021-04-09 01:27] uRENu commented on #772
I tried using Google Chrome and the problem was solved. thank you very much  :)

[2021-04-09 02:46] li3cmz commented on #774
Hi, I tried your suggestion but failed again as below.
![e](https://user-images.githubusercontent.com/32973240/114121365-d36be980-9920-11eb-9cce-f66b409b1ce0.png)

I want to know the requirement of setting the local path while adding the source storage. It is the absolute path of starting from the home directory as below.
![d](https://user-images.githubusercontent.com/32973240/114121303-b505ee00-9

[2021-04-09 02:55] abhay-kum commented on #753
@niklub all issue has been resolved, so I am closing it thanks everyone for your support

[2021-04-09 02:55] #753 closed

[2021-04-09 03:56] helloZh4n opened #780 "When I use the tag to select a specific tag and then display the secondary option, the setting of whenchoicevalue is invalid. No matter which tag I click, it will be displayed"
When I use 'whenchoicevalue', it seems that it is invalid all the time. Do you provide an example of dome in version 6.0

[2021-04-09 06:13] helloZh4n commented on #780
The official example of three-level classification is invalid, I would like to ask this function from 0.6 to now have not solved

[2021-04-09 07:29] ChasingZch opened #782 "Can not import Audio file"
**Describe the bug**
When I tired to import a .wav or .mp3 audio file, it said that `[7e74ffb4-a210-4a96-bd4c-1ca2eb99b3bd]Validation error(undefined)`

**To Reproduce**
Steps to reproduce the behavior:
1. Import Data
2. Select audio file
3. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/23622532/114144773-42106d80-9948-11eb-8225-aa497044fcae.png)

**Environment (ple

[2021-04-09 07:45] makseq commented on #782
Please, send us logs from console

[2021-04-09 07:53] ChasingZch commented on #782
<img width="1403" alt="image" src="https://user-images.githubusercontent.com/23622532/114147706-8e10e180-994b-11eb-9422-47c90cde20a9.png">
from the above logs, it seems that the size of my audio file is too large. However, I can use the older version (0.9.0) to upload the same file to label.

[2021-04-09 08:02] makseq commented on #782
Have you enabled toggle "Treat file objects as ..." On storage settings page? (Sorry, don't remember the exact name of the toggle)

[2021-04-09 08:03] uRENu commented on #772
Another question: I want to import some TXT files in the local folder of my computer and label it with the entity type. Follow your tutorial:
1. On the machine with the file directory that you want Label Studio to import, call the helper script and specify a regex pattern to match the files that you want to import.
I run: sh serve_local_files.sh /home/wrz/NER/data dd.txt   # TXT file directory: /h

[2021-04-09 08:06] ChasingZch commented on #782
No, I did not enable the toggle. And I did not find the toggle or the storage settings page.

[2021-04-09 08:09] makseq commented on #782
I mean
Project => Settings => Storages => edit your Local files storage

[2021-04-09 08:12] ChasingZch commented on #782
I can not find Storages under the Settings.
The below is my Settings page. (my current project is named test)
<img width="1520" alt="image" src="https://user-images.githubusercontent.com/23622532/114150144-4a6ba700-994e-11eb-9da0-88955e4f14d0.png">

[2021-04-09 08:14] ChasingZch commented on #782
And I can not find the Settings under the Projects page. I can only find the Settings when I select a specific project.
<img width="1533" alt="image" src="https://user-images.githubusercontent.com/23622532/114150436-a46c6c80-994e-11eb-9999-8350b03ea051.png">

[2021-04-09 08:28] makseq commented on #782
Cloud storage = Storages, I was wrong

[2021-04-09 08:44] sjugraj opened #783 "Pixel based Image Segmentation using (SuperPixel, Watershed Algorithm)"
Polygon Image Segmentation is very time consuming and the accuracy depends upon the seriousness of the tagger.

Referring to the Below Implementations:
[PixelAnnotationTool](https://github.com/abreheret/PixelAnnotationTool)
[Superpixels](https://github.com/PSMM/SLIC-Superpixels)

We can have a faster then polygon segmentation of images as the images are already split into sharp edges.

[2021-04-09 09:09] ChasingZch commented on #782
I have successfully import the audio file. However, I meet with  a new problem that it said `Error while processing audio. Check media format and availability.`. And I can not set the Target Storage as the local file.
<img width="1513" alt="image" src="https://user-images.githubusercontent.com/23622532/114157265-0b415400-9956-11eb-9034-8ecf708968b0.png">

[2021-04-09 10:28] jplumail opened #785 "How to import predictions ?"
I have thousands of JPEG images in the Azure cloud. I linked them to Label Studio as a Source Storage, I turned the option "Treat every bucket object as a source file" for that. I can see all my images in Label Studio.

Here is the source for task 80960 when I click on "show task source" :
[code]
Now I want to upload predictions (stored locally) but I don't know what to put in the "data" field.

M

[2021-04-09 10:37] Morgadoooo commented on #774
Hi,

Isn't it suppose to be /data/local-files/?d=1.png
Or am i misunderstanding something

@makseq @li3cmz

[2021-04-09 10:55] makseq commented on #774
@Morgadoooo yes, of course. You are right!

[2021-04-09 11:33] Atharex commented on #710
Through the UI. I click on the UI for the file browser and then select multiple files
![data-import-ls](https://user-images.githubusercontent.com/2872241/114173737-eccc6000-9937-11eb-921b-5435b82223d6.png)

[2021-04-09 12:12] Morgadoooo commented on #774
Hi, if i'm not mistaking i got this info from : core.settings.base

# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

So i think you can probably specify path regarding this info of BASE_DIR

[2021-04-11 12:55] makseq commented on #780
@helloZh4n I've checked it on LS 1.0.1 and looks like it works on it:

[code]

[2021-04-11 17:27] makseq commented on #785
We have implemented predictions import from storages recently and it isn't included into release 1.0.1 yet. So, you have 2 tracks to solve it:
1. Patch tasks via api
2. Use branch with predictions import:

[2021-04-11 20:54] astenuz opened #787 "How to use other SQL databases for database storage (MySQL)"
Hi! I've noticed the doc references postgres for setting up data storage (https://labelstud.io/guide/storedata.html). However, I was wondering whether it's possible to switch to other databases such as MySQL for the same task. If so, more or less how'd the process be? I'm trying to set up label-studio and the environment I'm using only allows MySQL DBs.

Thanks!

[2021-04-11 21:56] flavienbwk opened #788 "CSS is not applied in Docker image"
**Describe the bug**

CSS style is not applied.

**To Reproduce**

Run the docker version :

[code]

**Expected behavior**

Having CSS style.

**Screenshots**

![image](https://user-images.githubusercontent.com/14158127/114322593-5eb3cd80-9b21-11eb-898e-5f52269466c1.png)

**Environment**

 - OS: Ubuntu 18.04
 - Chromium 89
 - Docker
 - Label Studio Version "latest"

[2021-04-11 22:06] makseq commented on #788
@flavienbwk what domain do you use for LS? Does it have subpath? E.g. domain.com/foo

[2021-04-11 22:08] makseq commented on #787
@astenuz hi! LS doesn't support MySQL officially. But I suppose Django could use it. You have to modify django settings to do it.

[2021-04-11 22:13] flavienbwk commented on #788
I'm on localhost:8080

[2021-04-11 22:31] flavienbwk commented on #227
Is it possible now ? I don't find any hotkey for "next" image to label

[2021-04-11 23:18] makseq commented on #227
@flavienbwk if you press blue Label button on Data manager, then on ctrl + enter you will be moved to the next task.

[2021-04-11 23:19] makseq commented on #788
Are you sure you are using LS 1.0.1? Please, check /version page in browser.

[2021-04-11 23:26] flavienbwk commented on #227
Ah yea thanks! I was missing the blue button

[2021-04-11 23:28] flavienbwk commented on #788
I edited the title, it is about the `latest` image of Docker, `1.0.1` works well. For latest :

[code]

And I have this in my console :

[code]

[2021-04-12 01:51] helloZh4n commented on #780
@makseq Go to this address https://labelstud.io/playground/  Then I choose the advanced three-level classification to see if it can achieve the three-level classification function. I try different browsers to test it, but it seems to be invalid

[2021-04-12 06:26] silverlining21 commented on #788
I build dokcer image from the latest `master` source on my local server, I got the same error with @flavienbwk mentioned above.
[code]

but  finally I got the docker image build success and the error happend in console when I run the docker.  logs as follow:
[code]

[2021-04-12 07:44] niklub commented on #788
@silverlining21 ,
The `[ERROR]` you face only affects `/version` endpoint, but shouldn't break other things somehow. To overcome it, simply run
[code]
right before running docker build command.
Do you also have that missed CSS issue?

[2021-04-12 07:52] niklub commented on #788
@flavienbwk could you please pull again the latest docker image? `:latest` tag always points to the head of the master branch, so maybe your local version is a bit outdated

[2021-04-12 08:04] niklub commented on #787
Just adding few hints - you may want to replace [these settings](https://github.com/heartexlabs/label-studio/blob/master/label_studio/core/settings/base.py#L59) to
[code]
Feel free to create a PR if it works for you, I think that would be a valuable contribution.

[2021-04-12 08:06] uRENu opened #789 "import TXT failed"
question: I want to import some TXT files in the local folder of my computer and label it with the entity type.
 Follow your tutorial:
1. On the machine with the file directory that you want Label Studio to import, call the helper script and specify a regex pattern to match the files that you want to import.

      _I run: sh serve_local_files.sh /home/wrz/NER/data dd.txt   # TXT file directory: /

[2021-04-12 08:08] makseq commented on #787
@astenuz https://docs.djangoproject.com/en/3.2/ref/databases/#mysql-notes
Check this Django documentation about MySQL. You also have to install mysqlclient package and drivers.

[2021-04-12 08:09] niklub commented on #782
Hi, @ChasingZch ! Could you check whether you include `LABEL_STUDIO_LOCAL_FILES_SERVING_ENABLED=true` variable in your local environment? It is mentioned here https://labelstud.io/guide/storage.html#Set-up-connection-in-the-Label-Studio-UI-4 .
And yes, target local files storage is not supported yet. Interesting why it should be the case to store something outside the database?

[2021-04-12 08:31] niklub commented on #789
Try to add `valueType="url"` parameter as bellow:
[code]
get more details [here](https://labelstud.io/tags/text.html)

[2021-04-12 09:39] makseq commented on #780
@helloZh4n Yes, it doesn't work on playground, there is old version. In LS 1.0.1 it must work!

[2021-04-12 09:41] Shumeng-edge commented on #788
I want to use label_studio directly locally, I press F5 to run the server.py. I also got the same error with @flavienbwk mentioned above.
![image](https://user-images.githubusercontent.com/69829774/114374549-5b1e5600-9bb6-11eb-92a8-445852951e73.png)

[2021-04-12 09:48] makseq commented on #788
@Shumeng-edge it's another kind of the problem Looks like you have to collectstatic before LS run:
[code]

[2021-04-12 10:19] kasiopac opened #791 "Bookmarks [tabs] on files list disappear after add instruction in project"
**Describe the bug**
I had few bookmarks in my project. Then I added instruction. When I came back to my project, all bookmarks disappeared.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any project
2. Add some bookmarks
3. Go to "Settings" -> "Instructions"
4. Add some instruction and save it
5. Go back to project and see that You have only one bookmark now: "Default"

**Expected be

[2021-04-12 10:42] makseq commented on #791
@kasiopac Thank you for your report, it's a bug on our side. We will fix it asap.

[2021-04-12 11:10] potipot commented on #782
Hi, I encounter the same issue with the same logging info. I assumed my json file was too large (1GB). Spliting the file to fit the maximum size limitation works but is cumbersome. Any idea how to bypass that limitation?

[2021-04-12 11:30] potipot commented on #782
@ChasingZch
1. I think there is a bug in local storage import: I could discover files and create tasks in project from local directory but then when audio files were loaded to be played, the path gets corrupted. What happens is that only filenames are kept and no folder structure is maintained. In other words, you need to import files from the main directory where the audio files are located. That

[2021-04-12 22:17] kenlee-ga opened #794 "Pascal VOC XML object attributes"
In Pascal VOC XMLs, there are `truncated`, `difficult`, and `occluded` object attributes (see [annotation guidelines](http://host.robots.ox.ac.uk:8080/pascal/VOC/voc2011/guidelines.html)) that can be helpful when selecting data for training, but these options don't seem to be available in Label Studio. Would you consider adding this feature?

[2021-04-12 22:17] rodrigocaus opened #795 "Distinct collaborators receiving the same task"
**Describe the bug**
When two collaborators log into the same project they receive the same task
Backend indicates an error:
[code]
In the user screen that logged last, sometimes, the "Submit" button disappear.

**To Reproduce**
Steps to reproduce the behavior:
1. Create accounts "user1@localhost" and "user2@localhost"
2. Log user1 and create a sample project
3. Import file with multiple tasks
4.

[2021-04-12 22:22] makseq commented on #794
@kenlee-ga What would you say if we tried to solve this via checkboxes `truncated, difficult, and occluded` in the labeling config? And then export them into VOC XMLs.

[2021-04-12 22:28] makseq commented on #795
@rodrigocaus

Do you mean blue Label button on Data Manager ?

[2021-04-12 22:34] kenlee-ga commented on #794
I like the idea of having check boxes for each of `truncated`, `difficult`, and `occluded`, but I believe they would be better placed in the Results section, where one sees details of a particular box (see attached)

![Screen Shot 2021-04-12 at 6 27 14 PM](https://user-images.githubusercontent.com/69214897/114470843-8d7f8180-9bbd-11eb-8430-0e090c9ac110.png)

[2021-04-12 22:37] flavienbwk commented on #788
Seem to work now.

[2021-04-12 22:38] #788 closed

[2021-04-12 22:41] flavienbwk opened #796 "Configurable hotkeys"
**Is your feature request related to a problem? Please describe.**

It's very annoying to have to type "Ctrl" + "Enter" to confirm a labelisation. It hurts my little finger each time I have to confirm !

**Describe the solution you'd like**

Configurable hotkeys to next a labelisation or come back using **arrows**.

Thanks !

[2021-04-13 07:19] abhay-kum opened #798 "loading time take more 4-5 min"
**Describe the bug**
till 10-15 min the tool is working fine after that the waiting time for loading images and task it take more than 4-5 min, and sometimes it hangs the browser and system.

![Screenshot 2021-04-13 at 12 41 43 PM](https://user-images.githubusercontent.com/27910202/114511936-28c43580-9c56-11eb-9316-7163dad0be92.png)

**Environment (please complete the following information):**
 -

[2021-04-13 08:02] silverlining21 commented on #788
It did not affect using LS's  function.

[2021-04-13 09:35] OmaymaS commented on #725
I get the same error

[code]

using the latest version --> `Commit: 8d5e616220cdca0e7efea859408517786651c3de`

[2021-04-13 11:21] makseq commented on #798
@abhay-kum Do you use ML Backends? Is it brush labels config?

[2021-04-13 13:39] bolotyuh commented on #795
I have the same problem

[2021-04-13 17:21] rodrigocaus commented on #795
@makseq

The blue Label button also applies. But what I meant was this Label button:
![Captura de tela de 2021-04-13 14-16-39](https://user-images.githubusercontent.com/20566121/114594127-48ae2600-9c63-11eb-9158-d1a9af7b2c94.png)

I think they do the same.

[2021-04-13 20:45] makseq commented on #795
@bolotyuh @rodrigocaus
The problem is not so trivial as it might seem. When LS generates the next task for the annotator, it must lock this task for a while until the annotator does his job. And this duration is unpredictable: it can be 1 second, 1 minute, 1 hour, etc.

We tried to use locks and the label stream looks like what you expect: annotators are given different tasks all the time. Althoug

[2021-04-13 21:22] bolotyuh commented on #795
@makseq Thanks you really help me.

[2021-04-13 21:23] bolotyuh commented on #795
@makseq How is used the parameter `sampling` I thought it resolve this type of problem(randomize tasks)?

[2021-04-13 21:24] makseq commented on #795
@bolotyuh It seems `sampling` is skipped always because of Data manager tabs usage.

[2021-04-13 21:30] bolotyuh commented on #795
I did it  but get a new problem when disappear top toolbar ![image](https://user-images.githubusercontent.com/1486415/114623789-6a85c800-9cb8-11eb-96e6-9555812dd997.png)

[2021-04-13 21:33] makseq commented on #795
Yep, once I saw this problem, but can't reproduce it.

[2021-04-13 21:37] makseq commented on #791
@kasiopac Could you check this PR: https://github.com/heartexlabs/label-studio/pull/799
There is a fix of this bug.

[2021-04-13 21:37] bolotyuh commented on #795
When you refresh the page on the same task top toolbar disappearing as I understood it because we already have `annotation`

[2021-04-13 22:01] makseq commented on #795
@bolotyuh Trying to reproduce it, but still can't..

[2021-04-13 22:57] rodrigocaus commented on #795
@makseq thank you for your answer. Using something like:
[code]
I can "simulate" a filter on not_solved_tasks (something like `not_solved_tasks.filter(has_lock=False).first()`). Since the task lock seems to expire, eventually unsolved tasks can be retrieved again later. Could this work?

[2021-04-13 23:02] makseq commented on #795
Yes, it might be working. Although this block should also be taken into account too:
https://github.com/heartexlabs/label-studio/blob/4f3df84fd38872c6a2405a2d8e330076bebf22db/label_studio/projects/api.py#L439

[2021-04-13 23:40] rodrigocaus commented on #795
I see, my approach has this problem: Same User locks different tasks unnecessarily, so the project can falsely run out of tasks quickly (Users can lock as many tasks as they want as soon as they click on Label button)

 I can suggest a similar solution:
[code]
It is not pretty and it might have a better solution using filters on `not_solved_tasks`, but it seems to solve the problem you pointed.

[2021-04-14 06:50] niklub commented on #684
@antonyscerri please feel free to reopen the issue if you encounter the same problem in versions `label-studio>=1.0.1`

[2021-04-14 06:50] #684 closed

[2021-04-14 06:51] #725 closed

[2021-04-14 06:54] niklub commented on #710
@Atharex please feel free to create another issue with multiple images importing issue, hope this one related to the docker-compose installation has been fixed after `label-studio>=1.0.1`

[2021-04-14 06:54] #710 closed

[2021-04-14 09:41] KDercksen opened #803 "NER multiple meta values"
Dear developers,

I am wondering if there is an option to add multiple "meta" values to a NER annotation. I am currently trying to use the tool to do labeling for entity linking, and I'd like to use an ML backend to supply multiple candidate entities for a single string span so I can go through by hand and pick the best candidate.

Any easy way to go about this, or should I look at a different ann

[2021-04-14 09:56] makseq commented on #803
Hello, dear Koen Dercksen :slightly_smiling_face:

* You can put into the prediction result multiple values with the same start/end positions, but with different names.
* Also you can add to the each result item `"score": 0.5` and it will be displayed in Regions block on the right panel.

The entities will be overlapped (it's a disadvantage), but you can navigate them through via Regions and contr

[2021-04-14 10:10] KDercksen commented on #803
Thanks for the quick answer! Hmm maybe I will try that then, the overlap is a disadvantage indeed.. But sorting based on score might alleviate the inconvenience haha. Thanks again! :)

[2021-04-14 10:10] #803 closed

[2021-04-14 11:51] tClelford opened #804 "Wrong level, possibly just in Azure app service"
**Describe the bug**
When Label Studio is deployed in an Azure App Service, all logs surfaced via the  have the level `[ERROR]`.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy to azure app service
2. Open log stream
3. Make a HTTP request
4. Observe HTTP logs with 200 response codes being logged as errors.

**Expected behavior**

Non-error logs should be at the appropriate level. I'd

[2021-04-14 13:46] rodrigocaus commented on #795
#805

[2021-04-14 14:25] makseq commented on #699
@wanderin-earth Could you check the master branch of LS now, I hope we've fixed this issue (in this PR https://github.com/heartexlabs/label-studio/pull/806)

[2021-04-14 14:39] jplumail opened #807 "Azure Target Storage doesn't work"
Issue already discussed in slack [here](https://label-studio.slack.com/archives/CQ8LYPPJS/p1618320753097700)

**Describe the bug**
Annotations are not saved in my Target Storage (Azure container).

**To Reproduce**
Steps to reproduce the behavior:
1. Set an Azure container as your Target Storage
2. Start annotating
3. Click on Submit

**Expected behavior**
I would expect to see new JSON files in m

[2021-04-14 17:06] himan2411 commented on #267
Is is removed in version 1.0.1? I can't find it.

[2021-04-14 17:43] shipra25jain opened #808 "How to convert COCO json to label studio json for polygon segmentation?"
Hello,
thank you for the great tool!

I have some image segmentation annotations in format of polygon coco labels. I want to refine this annotations using your tool, so I converted them in the label studio json format. But when I import my converted json file along with input image, the interface only visualizes input image and in right it shows list of 25 polygons, but do not share there overlay

[2021-04-14 17:47] MrityunjoyS opened #809 "Trying to host label_studio in https:// server"
I'm trying to host label_studio in a server and configure it for https. I've followed the instruction. My docker-compose file is -->

`version: '3.3'

services:

  nginx:
    image: nginx:latest
    ports:
      - 80:80
    depends_on:
      - app
    volumes:
      - static:/label-studio/label_studio:rw
      - ./files:/label-studio/files:rw
      - ./nginx/:/etc/nginx/conf.d/:ro
    command: ngi

[2021-04-14 18:55] makseq commented on #267
You can do similar on Data manager via actions. Please, select tasks you want to delete, then you will see a list of actions to perform with the selected tasks.

[2021-04-15 08:19] NickShargan opened #811 "Emtpy screen when scroling to right side in timeseries labeling."
**Describe the bug**
When sliding window reach the end of signal visualizations disappear and it is not clear how to finish labeling.

**To Reproduce**
Steps to reproduce the behavior:
1. Open project with time series data
2. Start labeling
3. Scroll sliding window to the right side
4. Visualizations are not shown

**Expected behavior**
I expect that signal should be kept visualized when sliding w

[2021-04-15 08:29] NickShargan opened #812 "[time series] hotkeys for slidings to right and left"
**Is your feature request related to a problem? Please describe.**
At the moment sliding window for signal can be moved only by mouse. Considering it is quite frequent action it feels unproductive during labeling.

**Describe the solution you'd like**
It would be great to have hotkeys for sliding to right and left. It may save a lot of time.

**Describe alternatives you've considered**
Don't see g

[2021-04-15 11:59] jplumail commented on #785
Thanks, #767 worked perfectly !

[2021-04-15 12:03] #785 closed

[2021-04-15 15:24] alex-eurec opened #813 "Text dataset cannot be imported"
First of all, thanks for your work, it is an excellent tool

**Describe the bug**
Text file cannot be uploaded.

**To Reproduce**
Try to import one dataset as mine.
Because of the dataset I am using being confidential, I will give the specs of it, so other tests can be done with similar data.
I am not sure if the problem is the quantity of lines or the size of the .txt file being uploaded, so I am

[2021-04-15 15:45] makseq commented on #813
Hi, thank you for your kind words!

Could you show LS console logs?

[2021-04-15 16:06] ankurhanda opened #814 "Adding a new feature for reward sketching"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I'd like to have a way to create reward sketches like done here https://sites.google.com/view/data-driven-robotics/ on video data.

**Describe alternatives you've considered**
I have not seen anything close to this in the repo.

**Additional context**
These reward sketches are useful to have

[2021-04-15 20:25] makseq commented on #814
@ankurhanda What kind of reward sketches do you want to have?
LS has ratings, checkboxes and text areas, so you can have [something like this](https://labelstud.io/playground/?config=%3CView%3E%3Cbr%3E%20%20%3CHyperText%20name%3D%22video%22%20value%3D%22%24video%22%2F%3E%3Cbr%3E%20%20%3Cbr%3E%20%20%3CHeader%20value%3D%22Rating%22%2F%3E%3Cbr%3E%20%20%3CRating%20name%3D%22rating%22%20toName%3D%22vid

[2021-04-15 20:36] ankurhanda commented on #814
@makseq I'd like to draw a continuous function with X-axis being the frame number and Y-axis being the reward. To clarify what that means check the reward sketching section in https://sites.google.com/view/data-driven-robotics/ where you slide your mouse along and it draws the curves for you.

[2021-04-15 20:39] makseq commented on #814
Thanks! Now I've got it. Very cool feature!

[2021-04-15 20:48] ankurhanda commented on #814
Do you think it is worth adding that in label-studio?

I implemented it in python already (using matplotlib) but it's fairly simple and often requires more clicking.

[2021-04-15 20:51] ankurhanda commented on #814
some of this is inspired from https://github.com/yuma-m/matplotlib-draggable-plot/blob/master/draggable_plot.py

[2021-04-15 21:02] makseq commented on #814
Thank you very much! But we need to re-implement it in JS React for LS.

[2021-04-15 21:08] ankurhanda commented on #814
Yes, sure. Let me know if you ever get to it. I'm happy to do testing for you. Thanks a lot for listening.

[2021-04-15 21:43] makseq commented on #809
1. You have to expose 9002 port:
[code]

2. Map nginx port to 9002
[code]

3. LS doesn't support https starting from 1.0, you need to configure it in nginx.

[2021-04-15 21:49] #699 closed

[2021-04-16 04:01] MrityunjoyS commented on #809
yeah solved, thank you

[2021-04-16 04:01] #809 closed

[2021-04-16 07:22] alex-eurec commented on #813
Thanks for the quickly response!

Yes, of course (sorry I didn't include that earlier):

I guess that the LS console logs are the ones shown in the browser JS console, Am I right?
In the affirmative case, the related error is this one:
[code]
![image](https://user-images.githubusercontent.com/81571132/114986916-dfadf480-9e94-11eb-8c90-3981f681193d.png)

Just as before, correct me or ask me for mor

[2021-04-16 09:00] li3cmz commented on #774
Hi, if i'm not mistaking, I think that there maybe some inappropriate and misleading codes for [get_data](https://github.com/heartexlabs/label-studio/blob/fff1de86bfe644759f30e0c16cc211039c608ef9/label_studio/io_storages/localfiles/models.py#L54).

Maybe the environment variable `LOCAL_FILES_DOCUMENT_ROOT` should be replaced by `self.path` which is received from the Label Studio UI. And then we do

[2021-04-16 09:52] jplumail commented on #807
Actually it was just a key error, my bad !

[2021-04-16 09:52] #807 closed

[2021-04-16 09:52] joul55320 opened #818 "connect ML model, but show error "doesn't look like a valid ML backend""
**Describe the bug**

I follow this guide https://labelstud.io/tutorials/object-detector.html let ML modelconnected  to LS,
but LS show "doesn't look like a valid ML backend"

**To Reproduce**
Steps to reproduce the behavior:
1. label-studio-ml init coco --from mmdetection.py
2. python coco/_wsgi.py --with config_file=/path/to/mmdetection/configs/faster_rcnn/faster_rcnn_r50_fpn_iou_1x_coco.py chec

[2021-04-17 08:17] makseq commented on #813
LS summarizes all tasks during the single upload. I think we have to expand this limit in the next versions.

[2021-04-17 11:30] flavienbwk commented on #582
This is a very important feature !

[2021-04-17 15:25] amrlafi opened #820 "Overlapping labels in images"
**Is your feature request related to a problem? Please describe.**
Yes. The user should be able to label a region with different labels.

**Describe the solution you'd like**
The editor should be able to distinguish between labels so that an already labelled area can have another label.

**Describe alternatives you've considered**
It should be a simple fix to the editor without the need for backen

[2021-04-18 06:18] niklub commented on #818
Hi! guess there are multiple problems I'd recommend checking:
1. Before running ML backend, its environment [should be installed first](https://github.com/heartexlabs/label-studio-ml-backend#quickstart) (that's why probably you've faced `ImportError: No module named flask`)
2. Before connecting the model by adding ML backend URL, you have to specify the labeling configuration in your project setti

[2021-04-19 05:31] astenuz commented on #787
Hey thanks! I'll check how it goes and let you know.

[2021-04-19 13:18] slychief opened #823 "--input-path not working after update"
Hi,

I've updatetd to the latest version and now the --input-path parameter does not work anymore. Also the entire storage format seems to have changed.

I assume this is a major code breaking version increment.

[2021-04-19 16:02] makseq commented on #823
Hi,

LS doesn't support this option starting from 1.0. Please check this issue for more info: https://github.com/heartexlabs/label-studio/issues/663

[2021-04-19 16:07] makseq commented on #820
@amrlafi
Do you mean option `choice="multiple"` - https://labelstud.io/tags/rectanglelabels.html ?
Check [this example](https://labelstud.io/playground/?config=%3CView%3E%3Cbr%3E%20%20%3CImage%20name%3D%22image%22%20value%3D%22%24image%22%2F%3E%3Cbr%3E%20%20%3CRectangleLabels%20name%3D%22label%22%20toName%3D%22image%22%20choice%3D%22multiple%22%3E%3Cbr%3E%20%20%20%20%3CLabel%20value%3D%22Airplane%

[2021-04-19 16:24] amrlafi commented on #820
This could be it. The only issue is that the user has to draw the label outside and then move it on top of the the original label.

Example:
When a user label a planet, then click crater label, it should be possible to label over the planet label. As of now the editor automatically selects the planet label. The user has to label a crater outside and then move it on top of the planet label.

[2021-04-19 16:56] makseq commented on #820
Sorry, are you talking about labels (buttons with text) or bound boxes (rectangles over images)?

[2021-04-19 16:59] makseq commented on #820
If you are talking about the overlap for bounding boxes - you need to press CTRL and start drawing a new rectangle on top of the previous one.

[2021-04-19 17:01] amrlafi commented on #820
Thanks!

[2021-04-19 19:55] tingjhenjiang opened #824 "sync local storage error: 'cp950' codec can't decode byte 0xff in position 0: illegal multibyte sequence"
**Describe the bug**
Sync local files storage error in file handler.

**To Reproduce**
Steps to reproduce the behavior:
1. create any project
2. Click on 'Settings/Cloud Storage/Add Source Storage/Storage Type: Local Files/Assign any path to Local path/Add storage'
3. Click "Sync storage"
4. See error below:

**Expected behavior**
Expect no error

**Screenshots**
![image](https://user-images.githu

[2021-04-19 20:51] makseq commented on #824
@tingjhenjiang could you try LS from the master branch on github? I hope we fixed this bug in the latest commits.

[2021-04-19 21:32] srv-gabriel commented on #604
I'm using Chromium, that supports tiff images, as you can see on the table you shared. However I am getting the same error. "Cannot load image...".

[2021-04-20 01:08] dalekube commented on #719
I upgraded to the latest version (v1.0.1) and confirmed this problem is resolved. Thanks!

[2021-04-20 01:08] #719 closed

[2021-04-20 06:00] joul55320 commented on #818
Hi niklub:

Thanks, I think this problam is make by "flask".

Now, I can connect coco model to LS and open the button "Display ML-predicted annotations when labeling",
but when I label datas, it always can not show any predictions.

My  labeling configuration setting was follow guide: https://labelstud.io/tutorials/object-detector.html

The score threshold of model is 0.3

And my configuration cod

[2021-04-20 07:31] SN4KEBYTE opened #825 "Audio playing pointer doesn't move to the position of mouse"
**Describe the bug**
In the audio task, when I click the audio waveform, the audio playing pointer does not move to the position of my mouse pointer, resulting in that every time I want to listen to a part in the middle, I always listen from the beginning.

![Label Studio Bug](https://user-images.githubusercontent.com/36272321/115355355-ca163300-a1e4-11eb-86a6-d9479ef59632.gif)

**To Reproduce**
S

[2021-04-20 08:35] makseq commented on #825
Please, try the latest commits from master branch. I hope it's fixed there.

[2021-04-20 08:48] SN4KEBYTE commented on #825
Thank you for response, I'll try it!

[2021-04-20 08:55] mbuet2ner opened #826 ""Get all task annotations" API limit 50 items"
**Describe the bug**
It is only possible to get >50 task annotations via calling the API. However, LabelStudio frontend tells me that indeed >50 annotations are available!
Also, it is not deterministic which annotations (for files) get left out. It changes even for the same files with a new project.
E.g., 10-19 get left out, for other project with identical files 1-9

**To Reproduce**
Upload >50 f

[2021-04-20 09:02] shipra25jain opened #827 "update button does not work"
Hello,

when I load pre-labelled segmentation mask in label studio in label studio json format and correct them using either brushes or polygons, and click on update button and then export the json, I get empty file. Is that a bug or I am missing something?

Thanks

[2021-04-20 11:39] #820 closed

[2021-04-20 11:41] makseq commented on #826
@mbuet2ner try to add  `?page_size=-1` to the endpoint

[2021-04-20 11:58] panteleeva48 opened #828 "Rotation"
How to convert label's rotation and coordinates from completions to Polygon? When I create box using formula from https://labelstud.io/guide/export.html#Units-of-exported-image-annotations and rotate it using shapely.affinity.rotate - it does not work correctly.

[2021-04-20 12:20] #780 closed

[2021-04-20 12:23] silverlining21 commented on #732
Hi @cbwchuck，I‘m trying to implement image segmentaion backend. but I dont kown the exactly format of prediction. here is my code, could you give me some hints, thanks a lot.

[code]

Frontend  log:
![image](https://user-images.githubusercontent.com/8264748/115395233-3bbaa500-a216-11eb-8a3b-667536f1b946.png)

[2021-04-20 13:06] mbuet2ner commented on #826
Thanks a lot for the quick response! That did work perfectly!
Sorry, did not realize it was a pagination issue.

[2021-04-20 13:06] #826 closed

[2021-04-20 14:33] #828 closed

[2021-04-20 15:32] abhay-kum commented on #798
No, I am not using the ml backend. it is not the brush labels config, it is for the multi-image labeling config.

[2021-04-20 17:31] tClelford opened #831 ""Label" button does not allow multiple annotators"
**Describe the bug**
Completing a task in Label mode removes that task from Label mode for all other users.
**To Reproduce**
Steps to reproduce the behavior:
1. Spin up a fresh label studio instance in docker. Create a user and login.
2. set up a project with the following label config:
[code]
3. import tasks using the following json:
[code]
4. Click "Label"
5. Annotate the task and hit submit
6.

[2021-04-20 17:58] mgrazianoc opened #832 "Error ModuleNotFoundError: No module named 'ruamel'"
**Describe the bug**
Error `ModuleNotFoundError: No module named 'ruamel'` while trying to open studio with `label-studio`

**To Reproduce**
Steps to reproduce the behavior:
1. Open Anaconda prompt on Windows;
2. Run `pip install -U label-studio`
3. Run `label-studio`
4. See error `ModuleNotFoundError: No module named 'ruamel'`

**Expected behavior**
When localhost:8080 is reached, it should open

[2021-04-20 18:36] niklub commented on #832
Hi! Can you please check [this issue](https://github.com/heartexlabs/label-studio/issues/675) whether it works for you?

[2021-04-20 19:51] mgrazianoc commented on #832
yes, it worked. Thanks

[2021-04-20 19:51] #832 closed

[2021-04-20 20:25] amrlafi opened #833 "User-defined shapes"
**Is your feature request related to a problem? Please describe.**
In many image labelling scenarios a user will need to label a uniform shape. Rather than using the time-consuming polygon everytime, the use should be able to define a shape and re-use it across projects.

**Describe the solution you'd like**
The user should be able to use UI to create the shape. It will be helpful to use a test im

[2021-04-21 05:33] tingjhenjiang commented on #824
Hello @makseq , after a try on the last commit, and after some adjustment, no clear error messages appear.
But the import process does not work well: nothing imported.
Below is my file structure:
- coffee-beans (at F:\coffee-beans\)
- - ABC_good1.xml
- - ABC_bad1.xml
- labels
- images
- - bad
- - - ABC_good1.jpg
- - good
- - - ABC_bad1.jpg

The settings are:
![image](https://user-images.githubuser

[2021-04-21 05:41] tingjhenjiang commented on #824
addition:

if local path is set to "F:\coffee-beans" or "F:\\coffee-beans" and "Treat every bucket object as a source file" is **OFF**, error message is

If local path is "F:\coffee-beans" or "F:\\coffee-beans" and "Treat every bucket object as a source file" is **ON**, error message is:

[2021-04-21 11:33] SN4KEBYTE commented on #825
I've tried the latest commits, but the bug is still active :(

[2021-04-21 14:01] whalekeykeeper opened #839 "Cannot import name 'init_app' from 'label_studio.ml' for starting the backup"
An error occurs when I try to start the backup for labeling.
The error message is : `ImportError: cannot import name 'init_app' from 'label_studio.ml'`

I am working on macOS 10.15.4. I am running python3.8 and label-studio version '1.0.1' in a virtual environment.

**To Reproduce**
Steps to reproduce the behavior:
1. use the command `label-studio-ml init spacy_backend --script model.py` and get t

[2021-04-21 14:16] cbwchuck commented on #732
Hi! @silverlining21

It seems that your frontend logs does not provide enough info, will it be possible for you to run your ml backend in debug mode with following command and show the backend log instead?

`label-studio-ml start <BACKEND_NAME> -d --log-level DEBUG`

[2021-04-21 15:08] tingjhenjiang opened #840 "images from local files sync storage cannot be shown correctly in Windows docker environment"
**Describe the bug**
images from local files sync storage cannot be shown correctly in Windows docker environment

**To Reproduce**
Steps to reproduce the behavior:
1. Create docker container with command `docker run --name labelstudio -it -p 8080:8080 -v /host_mnt/d/Docker/volume/labelstudio/:/label-studio/data -v /host_mnt/f/coffee-beans/:/label-studio/coffee-beans heartexlabs/label-studio:lates

[2021-04-21 17:02] tClelford opened #841 "ParagraphsLabel validation error prevents editing"
**Describe the bug**
Once you have annotated a single task, you cannot edit your labelling config as the validation endpoint returns a 400.

**To Reproduce**
Steps to reproduce the behaviour:
1. Spin up a fresh label studio instance in docker. Create a user and login.
2. set up a project with the following label config:
[code]
3. import tasks using the following json:
[code]
4. Click "Label"
5. An

[2021-04-21 18:29] tingjhenjiang commented on #782
Hello @niklub , it's not clear what the sentence `set LABEL_STUDIO_LOCAL_FILES_SERVING_ENABLED=true in your environment setup` means.
Is it a command line argument? But  I encounter the error message `label-studio: error: unrecognized arguments: --LABEL_STUDIO_LOCAL_FILES_SERVING_ENABLED=true`
Is it a setting in a project template? But I cannot find any.

[2021-04-21 20:28] smoreface commented on #839
@whalekeykeeper the label-studio-ml is now in its own repository. You might want to update your import statement to label-studio-ml in your spacy backend file instead of label-studio.ml. That's why the file is now blank in 1.0.1. See https://github.com/heartexlabs/label-studio-ml-backend

[2021-04-21 20:30] potipot commented on #782
This is a env variable that you can either set using (depending on your OS)
[code]
or you can do it in single command like so:
[code]

[2021-04-21 20:30] niklub commented on #782
@tingjhenjiang on *nix systems, just use
[code]
before starting the app

[2021-04-22 01:24] silverlining21 commented on #732
Hi  @cbwchuck , thanks for timely help. Here are the logs:

ml backend log produced by `label-studio-ml start <BACKEND_NAME> -d --log-level DEBUG`:
![image](https://user-images.githubusercontent.com/8264748/115641839-79b9e500-a34c-11eb-8086-d1ee5a66cf3d.png)

label-studio frontend log produced by `label-studio start my_project --init  --ml-backends http://localhost:9090  --log-level DEBUG>`:

![im

[2021-04-22 01:39] silverlining21 commented on #732
Supplementary，`label-studio` `label-studio-ml` services are both running in the same docker, which proxy `http://192.168.8.156:10081` was configed.  (I doubt if the connection probelm caused by it??, but not famliar with network issues so I'm not sure about it)

And docker ports  8080 and 9090 are exposed to the host, here is my cmd start docker:
`docker run --gpus 0 -p 8822:22 -p 8080:8080 -p 909

[2021-04-22 11:29] erip opened #846 "Include completion times in CSV/TSV exports."
**Is your feature request related to a problem? Please describe.**

I'd like to visualize completions over time. This currently seems to be impossible when exporting as a CSV/TSV.

**Describe the solution you'd like**

A column containing already available completion time should be included.

**Describe alternatives you've considered**

Exporting as JSON and recreating  the CSV from the records is

[2021-04-22 12:16] tClelford commented on #831
After some discussions in the slack channel, apparently this is by design and the behaviour I describe in "expected behaviour" is in the roadmap 👍 . Closing the bug

[2021-04-22 12:16] #831 closed

[2021-04-22 19:04] makseq commented on #831
@tClelford Could you put a link to the slack message here please?

[2021-04-22 20:11] makseq commented on #846
@erip
* are you talking about lead time? or create at?
* why can't you use JSON?

[2021-04-22 20:14] erip commented on #846
1. I'm talking about [created_at](https://github.com/heartexlabs/label-studio/blob/b482c09a0a4b81ec41e0fe2cd73c84ea3c37bf66/label_studio/tests/test_export.py#L71).
2. I can - see alternatives in the issue. However, I would expect exports to contain the same information irrespective of export format.

[2021-04-22 21:27] makseq commented on #841
@tClelford
You are using incorrect Label tags:

[code]
=>
[code]

[2021-04-23 10:27] tClelford commented on #841
🤦  Thank you @makseq

[2021-04-23 10:27] #841 closed

[2021-04-23 10:36] tClelford commented on #831
Of course! https://label-studio.slack.com/archives/CQ8LYPPJS/p1619031651456900?thread_ts=1618849026.301100&cid=CQ8LYPPJS

[2021-04-23 22:47] makseq commented on #825
@SN4KEBYTE Could you send your http://localhost:8080/version page? (or `label-studio version`)

[2021-04-24 01:54] cbwchuck commented on #732
Hi @silverlining21!

From your first screenshot, it is strange that there is no error raised from the backend? Did the backend kill itself? If this is the case, I am wondering it might be helpful if you could add some print() in the predict() function so that we could better identify where the issues occurred?

[2021-04-24 14:16] jplauri opened #848 "Setting up Postgres on Heroku"
**Is your feature request related to a problem? Please describe.**
I'm not at all an expert with working with Heroku, so I'm confused as to how the setup with Postgres DB there should work.

I find it simple to setup Postgres on Heroku and attach it to the app running label-studio, but then what? Is it merely about setting up the right config vars (right where the one-click deploy bit is also set)

[2021-04-26 06:48] feddybear commented on #384
For future reference, I think the challenge here is more of understanding the multicanvas code of wavesurfer.
I was able to successfully use the spectrogram functions but could only implement it on the older single canvas implementation.  Unfortunately, for long audio files, this is impractical because of the need to recalculate and redraw spectra when zooming, etc.
Here's a sample demonstration a

[2021-04-26 08:25] Dorokah commented on #641
I'm experiencing this problem too.

[2021-04-26 09:17] joul55320 opened #849 "ML coco example does not show any predictions result"
**Describe the bug**
I connected the coco example to LS,
and I select "Object Detection with Bounding Boxes".

When I import mmdetection demo image,
in label interface, doesn't show any predictions result.

**To Reproduce**
Steps to reproduce the behavior:

I followed this guide to install and create ML for LS.
1. label-studio-ml start coco --with config_file=Path/ to /faster_rcnn_r50_fpn_iou_1x_c

[2021-04-26 10:02] makseq commented on #384
@feddybear Wow! It's very impressive! Do you have an account on our slack? https://label-studio.slack.com/

[2021-04-26 11:35] feddybear commented on #384
Hi @makseq yeah I also mentioned this on one of the spectrogram inquiries there.  But I'm leaving it to someone more capable, especially in reading the wavesurfer multicanvas codes.  Hopefully it's also someone who knows signal processing, as the older implementation of drawing spectrogram on wavesurfer had some really weird canvas settings that didn't make sense (e.g. height of the spectrogram).

[2021-04-26 15:14] jalberto opened #850 "Use postgres to feed LabelStudio"
**Is your feature request related to a problem? Please describe.**
I will like to use LS to experiment with small datasets (usually with big corpus thou)

**Describe the solution you'd like**
For a quick start will be great if a SQL query could be defined in LS, then LS will paginate  and use each item for tagging

[2021-04-26 15:47] makseq commented on #384
@feddybear Let's move to slack. I know DSP, also we'll include our frontend team there.

[2021-04-26 15:48] makseq commented on #384
@feddybear please, tag me again (@makseq). I can't find my mention there.

[2021-04-26 15:51] makseq commented on #850
@jalberto Sorry, could you clarify more about your experiment?

What do you mean by this?

[2021-04-26 15:53] makseq commented on #849
@joul55320 Could your share ML backend logs?

[2021-04-26 16:03] jalberto commented on #850
This is my current flow:

- extract data from my main DB into a CSV/TXT
- storage it in some storage/bucket
- connect LS to that bucket
- store results in redis

I will like ot be able to do the SQL query directly from LS so data will go directly from my DB to LS adn then storage it again in DB

[2021-04-26 16:44] makseq commented on #824
@tingjhenjiang what if you try to insert `.*jpg` inside of `File filter regex` ?

[2021-04-26 18:14] dalekube opened #851 "critical vulnerabilities"
I'm sharing a list of critical vulnerabilities that are present in Label Studio right now. These come from a scan using OWASP Dependency Check (https://github.com/jeremylong/DependencyCheck). These vulnerabilities are publicly disclosed. Most of the high and critical vulnerabilities impacting Label Studio come from SQLite. These vulnerabilities are currently preventing me from using Label Studio i

[2021-04-26 18:23] dalekube commented on #851
These might be false positives considering that Label Studio 1.0.1 is using SQLite 3.35.2 on my server. This version is later than the concerned versions as described in the vulnerabilities. I'm looking more into it.

[2021-04-26 19:45] chriscramer commented on #849
FWIW, I've been dealing with a similar issue.  On my end, it seems that the ML backend is getting an image or image_url and has no way to access that URL.

[code]

So, in this example, the URL was /data/upload/segmentation_trial_00017.jpeg, but there was no service/server/port attached to the URL.  To fix this, I tried to hardcode the path `http://localhost:8080` in front of the URL.  That gave me

[2021-04-26 20:13] makseq commented on #851
@dalekube This SQLite version will be used only if your environment doesn't have SQLite dll. And it will be prompt you with the confirmation about this usage.

[2021-04-26 23:40] dalekube commented on #851
Please forgive me for my lack of knowledge for SQLite. Does this mean that Label Studio will use the 'dll' if SQLite is not already installed via a package manager (e.g. apt in Ubuntu)?

[2021-04-26 23:58] makseq commented on #851
Yes, you are absolutely right! For ubuntu this dll is irrelevant, because there are .so files only.

[2021-04-27 00:07] makseq commented on #850
I'm not sure you can do SQL query directly from LS, but you can use two way to do it:

1. Django ORM and shell to run something like this.
Read more here: https://django-extensions.readthedocs.io/en/latest/shell_plus.html
Try: `label-studio shell` or `label-studio shell < my_script.py`
In your `my_script.py` you can connect to your DB and populate LS Tasks, e.g.:

[code]

2. Use LS API and similar

[2021-04-27 00:14] #823 closed

[2021-04-27 00:40] dalekube commented on #851
What version of SQLite is the 'dll'? I assume it's earlier than 3.35 given the vulnerability scan is returning the above critical items.

[2021-04-27 03:23] joul55320 commented on #849
@chriscramer :
Oh yeah! I also find this issue, look like is the image path was wrong, so make model can not read the image?

[2021-04-27 08:58] joul55320 commented on #849
@chriscramer :

I modified "label-studio-ml-backend/label_studio_ml/utils.py" file,

at line 112
- filepath = os.path.join(cache_dir, url_hash + '__' + url_filename)
+ local_dir = "/home/<user>/.local/share/label-studio/media/upload"
+ filepath = os.path.join(local_dir, url_filename)

It;s work for me, maybe you can try this way.

[2021-04-27 09:46] jalberto commented on #850
thanks, @makseq I tried `2` but I am not happy with the results (probably my fault), and is it is a bit cumbersome when dealing with  biggest chunk of text

I was wondering if, when a new project is created in the backend, it can be configured to read the data from a PG (as it does with redis) that way we can just have a simple SQL query that will run to fetch the data when it requires it

[2021-04-27 09:52] makseq commented on #824
@tingjhenjiang Also you should try to setup environment var before LS start:
LOCAL_FILES_DOCUMENT_ROOT=F:\

[2021-04-27 10:43] makseq commented on #321
https://github.com/heartexlabs/label-studio-frontend/pull/164#issuecomment-827503253 check this PR please

[2021-04-27 10:55] makseq commented on #850
You have to implement your own external storage (Postgres Storage) similar to our storages:
https://github.com/heartexlabs/label-studio/tree/master/label_studio/io_storages

As example your can use redis:
https://github.com/heartexlabs/label-studio/tree/master/label_studio/io_storages/redis

After adding you need to add your app urls here:
https://github.com/heartexlabs/label-studio/blob/master/la

[2021-04-27 11:29] SN4KEBYTE commented on #825
@makseq
{
  "package": {
    "version": "1.0.1",
    "short_version": "1.0",
    "latest_version_from_pypi": "1.0.1",
    "latest_version_upload_time": "2021-04-05T19:13:41",
    "current_version_is_outdated": false
  },
  "backend": {
    "commit": "71278b",
    "date": "2021-04-05 11:30:54 -0700",
    "branch": "master",
    "version": "1.0.0+87.g71278b0b"
  },
  "label-studio-frontend": {
    "

[2021-04-27 11:45] nvinayvarma189 commented on #649
Hi @niklub and @makseq. This issue has been solved.

LS expects ML backend to return a list of choices (as predictions) for each field in the config. We were appending the predictions to the value (which is a list) for few keys. **But for some keys, instead of appending the prediction (which is a string) to the list (the value for a key), we assigned the prediction to the keys.**

This is a logica

[2021-04-27 11:45] #649 closed

[2021-04-27 12:03] makseq commented on #825
I see you are using LS backend from 05 April, but we fixed it about 14 days ago: https://github.com/heartexlabs/label-studio/pull/806

I recommend you to use master branch to solve this trouble.

[2021-04-27 13:24] niklub commented on #849
Hey, guys,
Please check [this comment](https://github.com/heartexlabs/label-studio-ml-backend/issues/8#issuecomment-827602100)

[2021-04-27 13:27] makseq commented on #851
Ok. I've updated it to 3.35.5:
https://github.com/heartexlabs/label-studio/pull/854/files

[2021-04-27 13:59] zakajd commented on #774
@li3cmz Did you manage to import local files without errors?
What did you change in the initial example?

[2021-04-27 19:07] niklub commented on #850
Hi, @jalberto ! That will be an interesting use case we consider while [building a python sdk](https://github.com/orgs/heartexlabs/projects/1#column-13948566) that interacts with Label Studio backend in a less cumbersome way rather than API. Thanks for bringing it up!

[2021-04-27 19:18] niklub commented on #848
Hi, @jplauri ! Totally agree with you, setting up PostgresDB on Heroku or other CP is not documented nor covered by links. However, it will be not so easy to maintain those links or keep info up-to-date against what is offered by cloud providers themselves. Therefore, it might be always better to address the corresponding rigorous documentation on their side (like it is done with [Heroku for examp

[2021-04-27 19:18] #848 closed

[2021-04-27 19:20] jplauri commented on #848
That's true & fair enough, thanks for checking though!

[2021-04-27 19:22] #774 closed

[2021-04-27 19:28] smoreface commented on #840
@tingjhenjiang please try updating your docker command by following this newly revised documentation and let us know how it goes!
https://labelstud.io/guide/start.html#Run-Label-Studio-on-Docker-and-use-local-storage

[2021-04-27 23:16] makseq commented on #649
Thank you very much for the clarification!

[2021-04-28 10:48] SN4KEBYTE commented on #825
I've tried this version, but this bug is still here

{
  "package": {
    "version": "1.0.1",
    "short_version": "1.0",
    "latest_version_from_pypi": "1.0.1",
    "latest_version_upload_time": "2021-04-05T19:13:41",
    "current_version_is_outdated": false
  },
  "backend": {
    "commit": "0984e0",
    "date": "2021-04-23 22:52:56 +0000",
    "branch": "master",
    "version": "1.0.1+41.g0984

[2021-04-28 13:37] tingjhenjiang commented on #824
Hello, I've set env var as follows:
![圖片](https://user-images.githubusercontent.com/34190920/116412445-48b84380-a869-11eb-8414-db2b5ef64720.png)
![圖片](https://user-images.githubusercontent.com/34190920/116412780-9765dd80-a869-11eb-8f9b-584217be3b5c.png)
and tried:
![圖片](https://user-images.githubusercontent.com/34190920/116412856-a8165380-a869-11eb-91de-babb55c4ea52.png)

all of them Synced 0 task

[2021-04-28 15:03] SN4KEBYTE commented on #825
Thank you, this problem was solved!
I've tested it on WSL2 Ubuntu 20.04, but on Windows 10 I had an error while creating project.

[2021-04-28 15:03] #825 closed

[2021-04-28 15:11] makseq commented on #851
https://github.com/heartexlabs/label-studio/pull/854/files is in master, I hope this problem is solved.

[2021-04-28 15:11] #851 closed

[2021-04-28 15:46] randxie commented on #783
I have a react version of PixelAnnotationTool: https://github.com/randxie/react-pixel-annotation-tool. You can also try it in https://pixel-annotation-tool.netlify.app/.

@d4wei and I are interested in contributing the tool as part of label studio. Right now, we are still working on optimizing speed and reducing binary size (without loading the whole OpenCV.js). I am wondering if label studio team

[2021-04-28 17:54] bethard opened #857 "more control over Relations"
**Is your feature request related to a problem? Please describe.**

Currently, there's no way to:
* specify which Label types may participate in which Relations (e.g., a Spouse Relation should only be allowed to link Labels of type Person, not Labels of type Organization)
* specify that a Relation is required for some Labels (e.g., each word is required to have a dependency Relation to its grammat

[2021-04-28 20:19] kenlee-ga opened #859 "User groups for better control of permissions"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
It would be useful to define user groups with different permissions for actions like:
- Deleting projects
- Inviting users via link
- View/work on projects

For example, an Admin group would be able to:
- Delete any project
- Delete user accounts
- Invite any user
- View and work on all pro

[2021-04-28 20:45] #795 closed

[2021-04-28 20:46] makseq commented on #859
@kenlee-ga This feature is implemented in our platform: www.heartex.com.

[2021-04-28 20:46] #859 closed

[2021-04-28 21:10] makseq commented on #825
@SN4KEBYTE What problem did you have on Windows?

[2021-04-29 00:44] tingjhenjiang commented on #824
Hello,
I've cross-validated that setting other env vars such as LABEL_STUDIO_DISABLE_SIGNUP_WITHOUT_LINK=true in my Windows environment variables(settings/advanced system configuration/environment variables) does not make label studio turning off the sign-up page.
Is the Synced 0 task(s) error occurs due to a wrong setting?
May I set the label studio env var by command-line arguments?

[2021-04-29 01:37] tingjhenjiang commented on #840
Thank you! It worked well!

[2021-04-29 09:22] makseq commented on #824
1. This option doesn't hide sign up page, it only disables sign up logic.
2. What wrong seeing do you mean?
3. You can set the most parameters via command line, but not all the parameters.

[2021-04-29 12:01] Nuccy90 opened #862 "Error while bulding from source"
I'm trying to build from source because I want to get a fix for an issue with the mouse pointer in audio playback. I get the following error:

`error: MarkupSafe 1.1.1 is installed but MarkupSafe>=2.0.0rc2 is required by {'Jinja2'}`

I also tried to run LS afterwards and I get this error:

`pkg_resources.ContextualVersionConflict: (MarkupSafe 1.1.1 (/home/elena/Workspace/Annotation_sound/.ls_sourc

[2021-04-29 15:09] makseq commented on #862
Try this one:

[code]

[2021-04-30 15:08] rizziemma opened #865 "Conditionnal choice not showing"
Hello,

I hope this isn't a duplicate, i didn't found other issues mentioning this.

I tried the "Conditionnal classification" example on the playground and noticed it is not working. The second choice isn't showing up when selecting "Positive". Also, when trying the Three Level Classification, the 2nd level is effectively showing up when selecting any option of the first choice, but the 3rd level

[2021-05-01 01:43] g-simmons opened #866 "Granularity for HyperTextLabels"
**Is your feature request related to a problem? Please describe.**
Granularity option for individual Label tags doesn't work when they are used with HyperTextLabels.

**Describe the solution you'd like**
Granularity option works the same for normal Labels as well as HyperTextLabels

**Describe alternatives you've considered**
Just make sure to select whole tokens when highlighting spans in html co

[2021-05-01 04:24] royschwartz2 opened #867 "Undo and eraser don't work in pixel annotation tool"
**Describe the bug**
When using pixel annotation, undo doesn't work. Instead of undoing the last brush stroke it undos pixel by pixel. The eraser tool (assuming that the button with a scissors icon is an eraser) doesn't do anything.

**To Reproduce**
Steps to reproduce the behavior:
Selecting the label and annotating, then pressing the undo button. Selecting the scissors button and applying to exi

[2021-05-01 22:07] amtam0 opened #869 "NER - Can't import preannotations using Api POST call - LS 1.0.1"
**Describe the bug**
I'm trying to make a POST call to preannotate tasks, by following the article https://labelstud.io/guide/predictions.html.
The response is 201 but result content is empty.

**To Reproduce**
Steps to reproduce the behavior:

- Docker command (access link : http://0.0.0.0:10004)

`docker run -it -p 10004:8080 -v `pwd`/mydata:/label-studio/data --env LABEL_STUDIO_LOCAL_FILES_SERV

[2021-05-02 10:44] amtam0 commented on #556
Hi, I have similar issue, tested in 1.0.1 (docker image heartexlabs/label-studio:latest)

[2021-05-03 03:22] abhay-kum opened #870 "Error code : Out of Memory"
**While using the label studio for 10-30 min it hangs and showing Error code: Out of Memory**
We are using the label studio for multiclass labeling of images, where we have around 80k datapoint, the images are loaded by URL, initially, it working fine, but after using it 20-30 min the browser got hang and showing error code: out of memory.

 - OS: Ubuntu 18.04.5
 - Label Studio Version 1.0.1

![Sc

[2021-05-03 09:51] rizziemma commented on #865
Update : problem seems to occur only in playground, i finally got it working on my instance!

[2021-05-03 09:54] makseq commented on #870
@nicholasrq

[2021-05-03 19:42] #840 closed

[2021-05-04 07:51] Terizian opened #878 "Export image path for local file storage is unclear"
I've installed Label Studio using conda and I've tried a test project. I imported a few images from a local directory (which is where I have most of my data) and I've exported the files to CSV.

Here are samples from the CSV:
/data/upload/g_mLPkNFG.jpg
/data/upload/h_DDD32r2.jpg
/data/upload/j_82HKjCw.jpg
/data/upload/k_zGYJffu.jpg
/data/upload/l_i2yscCs.jpg
/data/upload/m_m0sFmhA.jpg
/data/upload

[2021-05-04 08:01] makseq commented on #878
Is your LS on local machine or using docker? Is your ml backend on the same machine or on the separated instance?

[2021-05-04 08:02] Terizian commented on #878
Local machine and I don't have an ML backend set up within the application. I was hoping I could export the data and use it in another application I have for training. Is this possible?

[2021-05-04 08:25] makseq commented on #878
LS writes the working directory at startup in console, you can go to this directory and get the files from it. Is it suitable for you?