[2021-05-04 08:31] Terizian commented on #878
Yes this is suitable. I was wondering if it's possible to keep track of the old names as well in the export? The reason for that is because I have some information in the file names such as location and data/time that I usually use to ensure my data is representative of the "real world"

[2021-05-04 08:48] makseq commented on #878
In this case it's better to use Local storage
https://labelstud.io/guide/storage.html#Local-storage

[2021-05-04 09:10] Terizian commented on #878
This fits my requirements completely! Thanks for your help and your prompt responses

[2021-05-04 09:10] #878 closed

[2021-05-04 12:31] makseq commented on #865
Yes, the playground uses an outdated version of LSF.

[2021-05-05 07:06] tguerand opened #883 "Azure One click Deploy"
**Describe the bug**
When clicking on the azure deploy button, it loads a template but then it shows the azure docs on the created url.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the Azure One Click Deply Button
2. Fill the requirements: ressources, host name, webapp name, ...
3. Launch the host and the webapp services
4. Launch the webapp
5. Got to https://webapp_name.azureweb

[2021-05-06 05:23] Lolologist opened #888 "Prediction showing incorrectly as "Admin"-sourced Annotation when Viewing all annotations a specific way"
v1.0.1, mac 11.2.3, python 3.8.2
Annotation and Prediction, viewed via "View all annotations" option, with a filter applied, show just the prediction twice (one of the annotations, the one on the left, saying it's by Admin and an ID). If getting to labeling by just clicking a task instead of the Label button, expected behavior appears. Attached is a video of the bug. In the slack for label studio

[2021-05-06 09:30] rizziemma opened #889 "Cannot export pre-annotated tasks"
**Describe the bug**
I used the API to import already annotated data in **Basic Label Studio JSON format**. It worked well as the results are actually showing on each task and they are marked as annotated. When I try to export this tasks (through API or UI), I get an empty list.
I tried to import only the data through API and annotate a few tasks through the UI, and the annotated tasks did showed

[2021-05-06 22:48] JustinGovender opened #892 "Validation Error Blocks Deletion of a Label Even After Updating Annotations"
**Describe the bug**
A validation error blocks the removal of labels that have existing annotations attached to them in the labeling interface (normal behaviour), however updating tasks by removing those labels does not remove the validation error even though there are no existing annotations using them anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a label
2. Label a task w

[2021-05-07 01:14] aladagemre opened #893 "Collect annotator information & filter by annotators"
**Is your feature request related to a problem? Please describe.**
When doing multi-user labeling, I want to

* see who made the annotation (currently there's no sign of who did the annotation)
* filter the data to see which posts user X annotated.

**Describe the solution you'd like**
* Collecting information about the user-annotation-datetime pairs so that we would know who made the annotations.

[2021-05-07 05:35] bethard opened #895 "KeyError: 'from_name' when deleting tasks"
**Describe the bug**
I tried to select all tasks then "Delete Tasks". After I hit "Ok" on the "Destructive Action" dialog, no tasks are deleted. At the command line, the following error trace shows:
[code]

**To Reproduce**
I believe this happens when a `Relation` has been annotated, and I believe the problem is here:
https://github.com/heartexlabs/label-studio/blob/master/label_studio/projects/mo

[2021-05-07 05:43] bethard commented on #895
Indeed, I can confirm that if I add a useless `"from_name": ""` to all relations, "Delete Tasks" works again.

[2021-05-07 06:33] Chaotic-chaos opened #896 "Cannot find the right template file"
Hi there, so sorry to interrupt. I am trying to translate the whole frontend of this project into Chinese. But I got stuck with this page. I cannot find the right page template or generation code for it so I can't translate it. Hope that u can give me some hints. Thanks sooooo much!
![Snipaste_2021-05-07_14-30-13](https://user-images.githubusercontent.com/32286124/117407306-f3eb8b80-af40-11eb-8d8b

[2021-05-07 08:52] makseq commented on #896
@Chaotic-chaos there are no templates since LS 1.0. it's a react app split into different parts. You need to modify them and rebuild.
https://github.com/heartexlabs/label-studio-frontend
https://github.com/heartexlabs/dm2
https://github.com/heartexlabs/label-studio/tree/master/label_studio/frontend/src

[2021-05-07 08:59] Chaotic-chaos commented on #896
Thanks a lot again! And please keep this issue open for a while. I will close it as soon as I look into these repositories and have no other questions.

[2021-05-07 09:31] even-wei opened #897 "Connection check in add source storage does not work properly"
**Describe the bug**
The `Check Connection` does not working properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project.
2. Go to project settings
3. Go to cloud storage
4. Click on `Add Source Storage`
5. Select storage type `Local Files`
6. Fill absolute local path with non-exist path
7. Click `Check Connection`

**Expected behavior**
Show failed connected

**Screenshot

[2021-05-07 20:13] hwsamuel opened #900 "Summarization and IRR for annotations"
I'm surprised that there seems to be no summary of the annotations, e.g. graph of frequency of annotated labels, or something like that. There is also no support for IRR or other metrics to aggregate the labels in a meaningful way, unless I missed something in my install.

Having a page where all the annotations/labels are summarized and analytically compared would be great, e.g. existing labels v

[2021-05-07 20:42] niklub commented on #892
Hi, @JustinGovender ! It's a known issue - config validator fails after doing consequent update and removing steps on annotation. Hope we gonna fix it very soon in the upcoming release, just give us a little time :)

[2021-05-07 20:42] bethard commented on #895
Yes, I can confirm that if I make that change locally, I can delete relations.

[2021-05-07 20:44] dextervip commented on #540
@makseq I am having the same issue, just installed the latest release and if I import the CSV twice, it duplicates my tasks. Any way to avoid it while importing CSV files?

[2021-05-07 20:47] niklub commented on #888
Hi! Could you please check the latest commit https://github.com/heartexlabs/label-studio/commit/e4cf4fc2851138bcfb7893639940c3551c5105a4 ? We've made and update on View All mode there, hope you problem has been fixed. If not, please share here XML and JSON object you have for this specific task - we're trying to reproduce it on our side.

[2021-05-07 20:49] niklub commented on #862
@Nuccy90 please reopen if Max's suggestion won't work for you

[2021-05-07 20:49] #862 closed

[2021-05-07 20:50] #865 closed

[2021-05-08 16:10] mike-grayhat opened #902 "Missing static files within nginx container while serving through docker-compose"
**Missing static files within nginx container**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Run docker-compose up
3. Go to web-server and see that static files are missing (also can be clearly seen in console logs)

This happens due to missing `static:/label-studio/label_studio:rw` line in app volumes so static files don’t get propogate

[2021-05-08 18:17] makseq commented on #540
@dextervip @pavelgrib
I implemented removing of duplicated tasks in `feature/bring-back-experimental`.
To enable this action in the Data manager, you need to set `LABEL_STUDIO_EXPERIMENTAL_FEATURES=1` in LS environment variables.

[2021-05-09 09:06] TimDeSmet opened #903 "Firestore as alternative to Cloud SQL (Google Cloud Platform)"
**Is your feature request related to a problem? Please describe.**

The one-click-deploy to GCP seem so to be flawed.

Cloud Run is ment for stateless containers only and since the default one-click-deployment uses the sqlite db the container is not stateless.

This results in the fact that all data stored in sqlite will be lost frequently (users, projects, configuration, ...).

**Describe the sol

[2021-05-10 08:02] daviddwlee84 opened #905 "Performance and additional control for List project tasks API"
**Is your feature request related to a problem? Please describe.**

When I use `/api/projects/{id}/tasks?page_size=-1` it takes so long to retrieve all the data. But actually, I just want annotated data. (And maybe can ignore some metadata.)

And I found that using [export (`/api/projects/{id}/export`)](https://labelstud.io/api#operation/projects_export_list) is much faster by using [its own filte

[2021-05-11 09:46] iakremnev opened #909 "Brush label distortions"
**Describe the bug**
Certain actions can cause brush annotations to shift and scale, corrupting the annotation. Mostly happens when the annotated image is redrawn: zooming, changing UI zone sizes.

**To Reproduce**
Follow the attached video:

1. Select a task.
2. Zoom in to annotate with the brush tool.
3. Submit.
4. Get annotation distorted.

**Expected behavior**
Brush annotations are kept intac

[2021-05-11 10:47] daviddwlee84 commented on #905
Got it! I will try that later. Thanks~

[2021-05-11 10:47] #905 closed

[2021-05-11 16:58] arubino opened #911 "Not working valueType="url" for HyperText when connected to S3"
**Describe the bug**
I have synced a S3 bucket containing some HTML files and used the following settings for labeling

[code]
When I go to the labeling interface I only get the link text and not the html file that I would like to label (notice above that I have used the option `valueType="url"`)

[code]

In addition, the task postgres table contains the following in the task column
[code]

I woul

[2021-05-11 20:50] arubino commented on #911
@makseq where in the backend was supposed to retrieve the data from the URL? I had a look but I did not find where it is supposed to do so for hypertext. I would like to help fixing the bug.

[2021-05-11 22:47] xuankhanhdo opened #913 "Task not display"
**Describe the bug**
Tasks are not displayed correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Projects"
2. Click on a Task
3. Change to another task
4. See error : This second task are not display

**Expected behavior**
I have this problem when I use

- Option visible_when in a View

- Or when I use TextArea

      <View>
        <TextArea name="text_comments" toName="text" r

[2021-05-12 11:55] kretes commented on #217
I did a try on getting https work using: https://github.com/kretes/label-studio/tree/https#this-fork-just-contains-a-try-to-get-https-working-in-docker-compose-removed-postgres-btw by changing the nginx configuration. Any comments welcome.

Labelling works over https with this approach.

[2021-05-12 15:33] Lauler commented on #889
I have the exact same issue when trying to import pre-annotated tasks as finished "annotations".

It is possible to import them as "predictions" and then manually submit every prediction via the UI. This was my workaround. However, I think expected behavior should be that pre-annotated tasks (under the "annotations" key) show up in the export.

Exact same environment as @rizziemma

[2021-05-12 15:41] makseq commented on #889
@rizziemma @Lauler Could check please if these annotations have skipped (cancelled) flag on the Data manager?

[2021-05-12 17:16] makseq commented on #889
@Lauler @rizziemma Thank you for your report. This is a bug and it happens because an `is_labeled` statistic wasn't re-calculated after import. I'll hope we'll fix it soon.

[2021-05-12 19:28] tchaton opened #915 "Lightning Flash Integration."
Dear people from Label-Studio,

First of all, this framework looks really neat ! Congratulations.

I am part of PyTorch Lightning and I wanted to share awareness about Lightning Flash: https://github.com/PyTorchLightning/lightning-flash
Flash is collection of tasks for fast prototyping, baselining, finetuning and solving problems with deep learning.
All tasks are production ready and will be soon

[2021-05-13 10:35] jagan1333 opened #917 "Unable to login with username and password : The email and password you entered don't match."
I'm trying to disable signup page and want to send invite link to members so I've added a admin user as follows to docker run command. It disabled the signup page but the problem is when I enter username and password in browser it says "The email and password you entered don't match."

docker run -itd -p 8080:8080 --env LABEL_STUDIO_DISABLE_SIGNUP_WITHOUT_LINK=true --env LABEL_STUDIO_USERNAME=lsad

[2021-05-13 12:54] jagan1333 commented on #917
One more question if I want to enable Multisession mode in docker installation how  can I do that.

Thanks

[2021-05-13 14:23] arianpasquali commented on #862
Same error here on Ubuntu 20.04.

I run pipdeptree to check conflicts and this is what I get

[code]

[2021-05-13 19:42] JustasB opened #918 "Inconsistent build from source commands github vs docs"
**Describe the bug**
In [docs](https://labelstud.io/guide/install.html#Install-from-source) it says to use this command to build:

`python setup.py develop`

But in [github readme](https://github.com/heartexlabs/label-studio#install-for-local-development), it says to use this command:

`pip install -e .`

**Expected behavior**
Unless this is by design, the commands should be the same

[2021-05-13 21:18] makseq commented on #915
@tchaton Dear Thomas,
 thank you for your interest and kind words!

We always appreciate any integrations, they move our software into the right direction :slightly_smiling_face:
Have you explored our ML integrations already? If not, you can check this docs:
https://labelstud.io/guide/ml.html & https://labelstud.io/guide/ml_create.html

I think we can develop a tutorial about Flash and put it here

[2021-05-13 22:08] makseq commented on #917
@jagan1333 What multisession mode do you mean? If you are talking about multimode in LS, it was deprecated since 1.0 and there is no multisessions in it. But LS 1.0 doesn't need it, because it has multi-projects and multi-users.

[2021-05-13 22:52] makseq commented on #917
@jagan1333
* Try to reset database (remove label_studio.sqlite3 file) and then restart docker with username and password. Maybe you set the password before and now you are trying to use an old one?
* Run `label-studio shell` and write:
[code]
and then try to re-login using 12345 as password.

Also I wouldn't recommend to user username without @, it's better to make the login as email, e.g.: lsadmi

[2021-05-13 22:56] makseq commented on #862
@arianpasquali It looks strange, because we don't use Jinja2.. Are you on a fresh python env? Could you check that LS was installed from scratch into the new env?

[code]

[2021-05-13 22:59] makseq commented on #918
@JustasB Thank you very much for your suggestion.

@smoreface Could you leave only `pip install -e .` in the docs please?

[2021-05-13 23:01] makseq commented on #911
@arubino Unfortunately, it's not a backend problem. It's LSF problem - https://github.com/heartexlabs/label-studio-frontend/blob/master/src/tags/object/HyperText.js#L37.
However, if you are able to fix it, it will be very cool!

[2021-05-13 23:02] smoreface commented on #918
Yes, I'll fix this up! thanks @JustasB

[2021-05-14 18:05] Lauler opened #921 "Label studio cannot export images with zero bounding box annotations because 'original_width' and 'original_height' are stored inside 'result' key"
**Describe the bug**
Currently `original_width` and `original_height` will disappear if a user submits a task with zero bounding box annotations. This is because they are stored inside of the `["result"]` key. No elements exist inside of `["result"]` key if a user submits an annotation with zero bounding box annotations.

The issue this produces is that Label Studio silently ignores exporting anno

[2021-05-14 21:14] dextervip opened #923 "Redirect user from other system to complete a specific task"
Hello,

I am wondering if is there any easy way to redirect an user from my web app to complete a label studio task, and log in automatically to an existing user? I was thinking about a simple workaround to make POST request to login form along with ?next= but it has a csrf token.

Best regards,

Rafael

[2021-05-14 23:35] makseq commented on #923
Hello, looks like you need a special endpoint for login (maybe even through user access token). This api call could be easily implemented on the backend.

[2021-05-15 08:22] makseq commented on #921
Thank you for your report. Yes, LS reads images only in user's browsers while labeling. Data is not always accessible on the LS server side, so LS can't read image sizes while converting.

[2021-05-15 11:13] gsarti commented on #903
I am presently facing the same issues regarding the connection to a Cloud Run instance, meaning that in the matter of 10 minutes everything is lost (projects, accounts, etc.)

@TimDeSmet can you share how you managed to set up the connection to Cloud SQL on GCP? Is it mandatory to use PostgreSQL and set environment variables for host etc. or is it possible to make it work through SQLite?

[2021-05-15 13:46] timdesmetML6 commented on #903
@gsarti I'm sorry to hear you're in the same boat.

I've not yet deployed Label Studio using Cloud SQL (due to a lack of time and frankly the required budget). I would indeed assume that it's necessary to use the PostgreSQL approach.

I'm hopeful that the requested feature will be placed on the roadmap sooner rather than later.

[2021-05-15 18:28] makseq commented on #903
As I know Firestore is noSQL db. Also I know Django supports it, but I'm not sure that all features used by LS are possible with noSQL (we use a lot of complex JOIN requests and other intricate SQL things). So, I recommend to look at Postgres, Mysql and other SQL DBs.

[2021-05-15 19:41] gsarti commented on #903
@makseq thank you for the answer, are there some tutorials on how to setup Postgres on cloud providers with the one-click deploy by any chance?

[2021-05-15 21:50] makseq commented on #903
We had similar question about heroku: https://github.com/heartexlabs/label-studio/issues/848#issuecomment-827854768

You can use LS postgres environment variables to setup it on your cloud.

[2021-05-17 08:03] visualcortex-team commented on #913
We're having a similar issue (tasks not displaying), but looking at the debug logs, we get this stack trace:
[code]
We're using the `:latest` docker image, updated 5 days ago.

[2021-05-17 08:11] visualcortex-team opened #924 "Unable to view tasks at all"
**Describe the bug**

We're trying to run a simple bounding box task. Not sure if relevant, but we're importing data from local storage. We can see image previews, but are unable to progress any further.

Looking at the debug logs, we get this stack trace:
[code]
We're using the `:latest` docker image, updated 5 days ago.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup local storage us

[2021-05-17 08:28] cogor opened #925 "Build failed on MacOS(M1)"
Docker build failed on Mac M1

Steps to reproduce the behavior:
1. Run 'git clone https://github.com/heartexlabs/label-studio.git'
2. Run 'docker-compose build'
3. See error

**Environment (please complete the following information):**
 - OS: MacOS 11.2.3
 - Label Studio Version: 1.0.1
 - Docker version 20.10.6, build 370c289

**Additional context**
[code]

[2021-05-17 10:23] niklub commented on #637
Hi, @OmaymaS ! Just checked this on [the latest master version](https://github.com/heartexlabs/label-studio/commit/912f8de24a43da24deed2c1826fbfd1f34286be3), looks like syncing with GCS works fine. We will close this issue once releasing `label-studio==1.0.2`, please feel free to reopen if the problem still exists on your side

[2021-05-17 15:43] makseq commented on #924
@visualcortex-team Please, update to the latest master, this problem must go away.

[2021-05-17 17:55] makseq commented on #913
@xuankhanhdo Please, try to update the master branch to the latest commit.

[2021-05-17 18:29] makseq commented on #869
@amtam0 Seems you are using wrong endpoint API:

[code]

It should be `http://0.0.0.0:10004/api/tasks/6/`

[2021-05-17 20:36] makseq commented on #925
@cogor Unfortunately we weren't able to install LS on M1, Apple hasn't yet supported a lot of libraries on M1. I can propose to try a docker: https://labelstud.io/guide/install.html#Install-with-Docker

[2021-05-18 12:20] Schulzjo opened #931 "TabError: inconsistent use of tabs and spaces in indentation"
**Describe the bug**
using docker-compose up ends in `label-studio_app_1 exited with code 1`

**To Reproduce**
Steps to reproduce the behavior:

1. Run 'git clone https://github.com/heartexlabs/label-studio.git'
2. Run 'docker-compose up'
3. See error

**Expected behavior**
Normal running Container

**Screenshots**
[code]

**Environment (please complete the following information):**
 - OS: Ubuntu

[2021-05-18 13:31] danielpgp1012 opened #933 "Align channels of time series manually"
**Is your feature request related to a problem? Please describe.**
For some labelling tasks, it is useful to manually align multiple time series, for example when multiple signals have a time delay. Currently, it is not possible to synchronize shifted channels within the same time series. More specifically, I need to look at 96 pairs of channels, but currently if I add 2 time series projects, each

[2021-05-18 13:33] amrlafi opened #934 "Frontend "npx webpack --watch" only reflected on localhost but not 127.0.0.1"
**Describe the bug**
On local development, Django starts on 127.0.0.1:8080, however `npx webpack --watch` only respects localhost:8080

**To Reproduce**
Steps to reproduce the behavior:
1. Load Label Studio locally `python3 label_studio/manage.py runserver`, Label Studio will be served on 127.0.0.1:8080
2. Go to the frontend directory and run `npx webpack --watch`
3. Changes in React code will not

[2021-05-18 15:30] niklub commented on #764
Hi, @uriel-tannen ! This feature / fix was eventually merged into master https://github.com/heartexlabs/label-studio/pull/762 and be released very soon as `label-studio==1.0.2`. To save entire tasks into your S3 storage, you must enable `LABEL_STUDIO_FUTURE_SAVE_TASK_TO_STORAGE=true` option (will become default in the future releases).
Regarding additional feature requests - standalone CSV convert

[2021-05-18 15:34] makseq commented on #611
@muthurajr We are releasing 1.0.2 version today, this problem must be fixed there. Or you can try master branch right now.

[2021-05-18 17:29] makseq commented on #716
Fixed in this PR: https://github.com/heartexlabs/label-studio/issues/716
Also it will be included into LS 1.0.2 very soon.

[2021-05-18 17:35] jagan1333 opened #937 "Unable to import file from GCS storage"
Hello, I've added GCS cloud storage to import files, When I click Sync it says synced 5task(s), but I'm unable to view those images, when I checked the Container logs I see below error:

ERROR:
[18/May/2021 17:24:31] "PATCH /api/dm/views/4?project=2 HTTP/1.1" 200 499
[2021-05-18 17:24:31,876] [core.utils.common::custom_exception_handler::85] [ERROR] 6e858289-57ad-4238-9bc2-f11b1d7c079f Error calli

[2021-05-18 18:22] #918 closed

[2021-05-18 19:50] Hmr-ramzi commented on #917
I had the same issue. @jagan1333 After fixing the username to be lowercase and including @ as @makseq suggested ex: "code@example.com" it worked fine. Before i was trying something like a person name "Myname" and it did not work.

[2021-05-18 20:08] makseq commented on #931
@Schulzjo Could you take the latest commit from the master branch?

[2021-05-18 21:39] makseq commented on #623
@erip Fixed in this PR: https://github.com/heartexlabs/label-studio/pull/938
We are going to include this fix into release 1.0.2 very soon.

[2021-05-19 06:26] gregdurham opened #939 "Excessive depth in document when adding too many labels"
**Describe the bug**
Excessive depth in document: 256 use XML_PARSE_HUGE option, line 259, column 3 (, line 259)

**To Reproduce**
Steps to reproduce the behavior:
1. create a new project
2. Add 300 labels
3. See above error

**Environment (please complete the following information):**
 - Label Studio Version 1.0.1

[2021-05-19 08:44] Schulzjo commented on #931
still the same error.

I did:

`git pull`
`docker-compose build --no-cache`
`docker-compose up`

But I am still confused about the docker behavior. My container seems not to use actual codebase.
For test reasons I added a` dummie_class `above the` get_serializer_class` in `api.py` which produce the error. And the error is still in line 212, but should be now in 214, or do I misunderstand something

[2021-05-19 09:49] GLivshits opened #940 "import crash"
Hello. Label studio crashes on attempt of uploading 13000 jpg files. What is the way to upload large dataset without loading one-by-one?

[2021-05-19 10:47] GLivshits opened #941 "Hotkeys customization"
Please add feature to configure more hotkeys. Ctrl + Enter for submit hurts!
Also, it will be quite good to manually assign hotkeys for classification, like "1" and "0" instead of "1" and "2" for binary classification, because it's more meaningful, intuitive and provides low misslabeling rate.

[2021-05-19 11:57] gatagat opened #942 "Error creating project"
**Describe the bug**
After installing from pypi, label-studio crashes on project initialization.

**To Reproduce**
Steps to reproduce the behavior:
1. Install from pypi following the readme: https://github.com/heartexlabs/label-studio#install-locally-with-pip
2. Run `label-studio init test`

**Expected behavior**
No errors during the init of a project.

**Screenshots**
[code]

**Environment (pleas

[2021-05-19 12:00] gatagat commented on #942
Sorry for the noise, deleting the ~/.local/share/label-studio directory and starting over, solved the issue.

[2021-05-19 12:00] #942 closed

[2021-05-19 14:01] jagan1333 commented on #937
Same issue even when I install label studio from pip...
[19/May/2021 13:59:32] "PATCH /api/dm/views/1?project=1 HTTP/1.1" 200 578
[2021-05-19 13:59:33,385] [core.utils.common::custom_exception_handler::85] [ERROR] e68db48b-55a6-44b4-9e48-ca2302b84dd9 Error calling the IAM signBytes API: b'{\n  "error": {\n    "code": 403,\n    "message": "Request had insufficient authentication scopes.",\n    "sta

[2021-05-19 15:58] gregdurham commented on #939
I was able to resolve this by fixing the xml ending on the label, likely need some more validation there

[2021-05-19 15:58] #939 closed

[2021-05-19 16:31] gregdurham opened #945 "Label filtering per image"
Hello,
First of all, thank you for this awesome tool, this really is one of the best and most customizable tools for labeling I have found, so thank you.

Question:
I have a ton of images and a ton of labels. I know what labels are in each image, however I want to filter it so when I select an image it only retrieves the subset of labels for that image. I have tried grouping with brushlabels, but

[2021-05-19 17:17] #637 closed

[2021-05-19 17:19] niklub commented on #616
The fix for this issue has been included in `label-studio==1.0.2` release, @mp-pinheiro thanks for your contribution!

[2021-05-19 17:19] #616 closed

[2021-05-19 17:19] niklub commented on #892
This issue has been fixed in the `label-studio==1.0.2` version

[2021-05-19 17:19] #892 closed

[2021-05-19 17:19] niklub commented on #716
This issue has been fixed in the `label-studio==1.0.2` version

[2021-05-19 17:19] #716 closed

[2021-05-19 17:20] #764 closed

[2021-05-19 19:05] #728 closed

[2021-05-19 19:06] #611 closed

[2021-05-20 12:43] Schulzjo commented on #941
Also a hotkey for switching to next task would be nice. For example Arrow left/right or up/down

[2021-05-20 12:59] jagan1333 commented on #917
@Hmr-ramzi @makseq  Thank you very much for the response, it's resolved. We can close this out.

[2021-05-20 12:59] #917 closed

[2021-05-20 13:59] ranyaphat29 opened #950 "How to transform rectagle box coordinate to original coordinate"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the fol

[2021-05-20 13:59] ranyaphat29 opened #951 "How to transform rectagle box coordinate to original coordinate"
How to transform rectagle box coordinate to original coordinate

[2021-05-20 15:10] Schulzjo commented on #931
deleting container and image made it.
Sorry for confusion

[2021-05-20 15:10] #931 closed

[2021-05-20 15:14] Dref360 opened #952 "Active learning with uncertainty estimation"
Hello!

**Is your feature request related to a problem? Please describe.**
Doing active learning on minimum confidence is not optimal. Using the entropy or BALD (Houlsby et al. 2013) on the prediction is better. I am owner of an active learning library [BaaL](https://github.com/ElementAI/baal/) and I would like to use it with Label Studio.

**Describe the solution you'd like**
Maybe a field 'uncer

[2021-05-20 15:42] GLivshits commented on #940
The highest number for one-time upload is between 1000 and 1200, as for me. Dataset is around 40k.

[2021-05-20 17:49] gregdurham commented on #945
Thank you for the response! I did exactly this and worked well. Thank you again!

[2021-05-20 17:49] #945 closed

[2021-05-20 20:46] vpm238 opened #954 "Uploading individual .txt files as individual tasks fails in multiple ways"
**Describe the bug**
For the NER usecase when each text file is a separate task; the export of annotated data exports only text file names for text content; even though there is no issues with labelling the content

**To Reproduce**
Steps to reproduce the behavior:
1. Set up NER labelling Task with following Config
(I used the valueType="url" based on recommendation here to have each .txt file as

[2021-05-21 06:50] hlomzik commented on #676
Hi all! So it seems like everything fixed for everyone?
After upload it should work without problems. Probably that was some cache or upload issue on the last case.
Ping us if this is still the case.

[2021-05-21 06:50] #676 closed

[2021-05-21 09:51] dsmanl opened #958 "Using custom annotation template to annotate based on multiple images"
Dear all,

first of all thanks a lot for all of your efforts! I am new to Label Studio and trying to review annotated images on surface defects (object detection task). For a single defect, we typically have multiple images applying different filters and image processing techniques. Hence, a defect might be clearly visible on one image but less pronounced on another.

I would like to
1.  use a cus

[2021-05-21 10:28] danielspicar opened #959 "Can not draw rectangle on top of another (CTRL+Mouse-Dragging stopped working)"
**Describe the bug**
In v. 1.0.1 I could draw a rectangle (bounding box) on top of another bounding box. In v 1.0.2 this sopped working. Using the same procedure I cannot draw a new bounding box.

**To Reproduce**
1. Draw a large rectangle bounding box.
2. Draw a second rectangle bounding box inside the previously drawn bounding box while pressing and holding the CTRL key. This will fail. The prev

[2021-05-21 11:46] dehesselle opened #960 "license mismatch readme vs setup.py"
**Describe the bug**
The readme states Apache-2.0 license but setup.py states MIT. The info from setup.py is the one shown on PyPi. Which license is it?

**To Reproduce**
Open readme and setup.py and compare.

**Expected behavior**
Readme and setup.py state the same license or readme explains that multiple license are applied or ....

**Screenshots**
No screenshot necessary. Open readme, open setu

[2021-05-21 16:52] Tom-Lu commented on #384
I'm also seeking for similar feature, any progress so far?

[2021-05-21 19:01] deneland commented on #889
Same issue here

[2021-05-22 19:23] makseq commented on #960
@dehesselle The correct one is Apache 2.0.

@smoreface could you fix our readme please?

[2021-05-22 19:30] makseq commented on #960
https://github.com/heartexlabs/label-studio/pull/962/files

[2021-05-22 21:01] makseq commented on #951
@ranyaphat29 Please, check this docs: https://labelstud.io/guide/predictions.html#Units-of-image-annotations ?

[2021-05-22 21:04] makseq commented on #950
duplicated issue from the same user.

[2021-05-22 21:04] #950 closed

[2021-05-22 21:09] makseq commented on #959
@danielspicar Thank you for your report, I've reproduced this bug too.

https://user-images.githubusercontent.com/501780/119240835-1b567100-bb5b-11eb-8915-a95c575bbfe9.mp4

[2021-05-22 21:18] makseq commented on #958
@dsmanl

Hello,
I see an error in your prediction (as minimum this could lead to this fail):

[code]

=>

[code]

[2021-05-22 21:32] makseq commented on #940
Hello, I'd recommend to use the Local Storage - https://labelstud.io/guide/storage.html#Local-storage.

[2021-05-22 21:37] makseq commented on #952
@Dref360 Also you can order your tasks using data manager via the task data field with BALD scores and update this scores via task API.

[2021-05-22 21:39] niklub commented on #937
Hi, @jagan1333 ! Could you please check that your service account contains `Service Account Token Creator` role?

[2021-05-22 21:46] niklub commented on #924
Hi! This problem has been fixed in Label Studio 1.0.2. You can update the docker image to the `heartexlabs/label-studio:latest`, or `heartexlabs/label-studio:1.0.2`

[2021-05-22 21:46] #924 closed

[2021-05-22 21:48] makseq commented on #941
@Schulzjo You can use shift + up/down + enter - to switch a task in Quick view mode.

[2021-05-22 21:57] #960 closed

[2021-05-22 22:06] makseq commented on #384
@Tom-Lu
We have some news from our contributors:
https://github.com/feddybear/label-studio-frontend

I hope we will make this work to the end.

[2021-05-22 22:10] makseq commented on #934
@nicholasrq Have you encountered this?

[2021-05-23 13:54] lxtadhamnawito opened #965 "why region is not highlighted when changing speaker"
On using transcription per region, you have to follow these steps in-order to create a region:
1- choose "speaker 1"
2- create the region by dragging on the waveform
3- select the region to see it highlighted
---
but if you wanted to change the speaker after for any reason for the created region, the region is not highlighted anymore.
You have to select it again to be highlighted.

https://user-im

[2021-05-24 08:28] makseq commented on #965
Could you clarify - you mean the selected region becomes unselected after the label was changed?

[2021-05-24 08:33] lxtadhamnawito commented on #965
What I mean, when you select a region it gets highlighted, but when you change the speaker while selecting it, it gets un highlighted like in the video (as if it's un-selected)

[2021-05-24 08:36] lxtadhamnawito commented on #965
it's like if it's a code wise :
[code]
this is just for clarification.

[2021-05-24 17:51] nawabhussain opened #968 "Attached Model version shown as unknown"
**Describe the bug**
In a project for labeling task, (Text classification in my case) with a model attached to the project, the model version is shown as unknown as shown in the provided screenshot.

**Expected behavior**
Either the correct model version is shown or the version label should not be shown at all, if the version is not available.

**Screenshots**
![model_version](https://user-images.

[2021-05-24 21:34] makseq commented on #968
@nawabhussain did you setup the model version in your /setup ML backend api call?

[2021-05-25 07:42] zakajd opened #969 ""Submit" doesn't work with text in TextArea"
**Describe the bug**
I'm using LS version 1.0.1 and when labelling I'd like to have optional field with comments from assessors. I used `TextArea` tag, but it doesn't work.
1. When text in entered into the box and Enter is pressed, text in the box doesn't automatically deletes and blocks pressing "Submit" button.
2. When looking through predictions via web interface, I see that comments are not sa

[2021-05-25 08:00] dsmanl commented on #958
Thanks a lot, @makseq!

Your advice was really helpful, I am now able to see multiple images next to each other.

Is there a way to show a bounding box drawn on the first image on the second image as well - it is only necessary to annotate one of the images, since they share the same sizing, etc?

Thanks a lot!

[2021-05-25 08:07] irogers opened #970 "Taxonomy choices not pre-populated with predictions"
**Describe the bug**
Taxonomy choices are not pre-populated in labeling view when predictions are present.

**To Reproduce**
1. Create new project
2. Import data
[code]
3. Set config
[code]
4. Navigate to project and the click "Label All Tasks:

**Expected behavior**
1. New annotation is pre-populated with prediction
2. Prediciton panel is shown (I toggled this in the Layout tab)

**Screenshots**

[2021-05-25 08:12] Schulzjo commented on #941
Thx, that helps already. But I still advocate the request from GLvshits for customization. I would really like to switch tasks just with one finger in action.

[2021-05-25 08:57] makseq commented on #958
@dsmanl it is possible, but if you want to see it in realtime you have to inject a custom js code to label studio.

[2021-05-25 08:57] #958 closed

[2021-05-25 09:33] xuchenCN commented on #641
Here is a problem while using rotationControl

[code]

Draw a rectangle
![image](https://user-images.githubusercontent.com/2757089/119474823-2558b980-bd7f-11eb-9d72-7883265f9dae.png)

After rotation
![image](https://user-images.githubusercontent.com/2757089/119474934-3dc8d400-bd7f-11eb-9467-dcf6a1c5b39d.png)

[2021-05-25 13:21] Dref360 commented on #952
Hello @makseq, that looks like what I want! Thank you for the quick response.

So from [this page](https://labelstud.io/guide/tasks.html), I can add a field "uncertainty" to the `data` field. Then when the model is done retraining, it can update these scores.

My only question is now how can I modify [`next_read`](https://labelstud.io/api#operation/api_projects_next_read) so that it select based o

[2021-05-25 14:48] lxtadhamnawito commented on #965
I looked in the code, and I found that in Label.js
`      // check if there is a region selected and if it is and user
      // is changing the label we need to make sure that region is
      // not going to endup without the label(s) at all
      if (region && sameObject) {
        if (labels.selectedLabels.length === 1 && self.selected) return;
      }`

I tried to set region.highlghted =true, i

[2021-05-25 16:29] jagan1333 commented on #937
Hi @niklub Yes it has. I've set up the service account json key to GOOGLE_APPLICATION_CREDENTIALS. Is this is the way to use for label studio or anything else I'm missing. Thanks

[2021-05-25 23:01] nawabhussain commented on #968
I was following the [tutorial](https://labelstud.io/tutorials/sklearn-text-classifier.html), It didn't seem to mention anything about /setup API call

[2021-05-26 08:41] timurlenk07 opened #976 "Exporting imported data fails"
**Describe the bug**
When trying to export data that was imported with annotations, the export returns an empty JSON.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project, with the OCR template
2. Upload any image, add some annotations (I added 2 boxes with texts)
3. Export as JSON in Label Studio Common Format
4. Select all data and delete them ("Delete tasks")
5. Import the

[2021-05-26 10:31] timurlenk07 commented on #976
I have just tested it and it seems the problem persists in the current state of the master branch, as well.

[2021-05-26 16:46] makseq commented on #976
@timurlenk07 https://github.com/heartexlabs/label-studio/pull/978 - could you check this branch please?

[2021-05-26 16:47] makseq commented on #889
@deneland @Lauler @rizziemma https://github.com/heartexlabs/label-studio/pull/978 - could you check this branch please? I hope it's fixed now.

[2021-05-26 17:36] tingjhenjiang opened #979 "Allow users to update task with pre-annotated data by API"
**Is your feature request related to a problem? Please describe.**
I create some tasks in label-studio ready for the annotation work. After I successfully built a prediction model, I would like to import predictions back to those tasks.
But when I update a task with "Update task" API patch command via http://IP:8080/api/tasks/{id}/, I found out that patch request with payloads that has a "predicti

[2021-05-26 18:11] makseq commented on #979
@tingjhenjiang thank you for your request, I am working on it right now.

[2021-05-26 18:45] laynr opened #980 "Importing Data from Dataset URL results in "Validation error(undefined)""
**Describe the bug**
Can not import/take tasks from URL address when using the web form.

**To Reproduce**
In the web form go to Create Project -> Data Import -> Type in a  URL -> Add URL.
Results in "Validation error(undefined)"

**Cause of Bug**
`Add URL` results in POST request header with a content-type of `mulitpart/form-data` as shown on this [line](https://github.com/heartexlabs/label-studi

[2021-05-26 19:36] tingjhenjiang commented on #979
@makseq Thank you!
I've read the docs, and I think there is insufficient information in how to use ML backend.
For example, I've launched a label-studio ML backend server on http://IP:9090 after I followed the tutorials. When I enter http://IP:9090, I see `{"model_dir":"./my_ml_backend","status":"UP"}`.
Next, I use a famous software "[Postman](https://www.postman.com/)", sending an HTTP request to

[2021-05-26 20:54] makseq commented on #980
@laynr Could you check this PR please? https://github.com/heartexlabs/label-studio/pull/981#pullrequestreview-669527925 - we've fixed this issue there.

[2021-05-27 08:37] timurlenk07 commented on #976
It seems to be working fine now -- thanks!

[2021-05-27 11:01] #976 closed

[2021-05-27 13:00] timurlenk07 opened #983 "Slow interactions with many RectangleLabels"
**Describe the bug**
When a lot of RectangleLabels are loaded in (> 100, like in OCR), moving around and zooming in the image becomes very slow.

**To Reproduce**
Steps to reproduce the behavior:
1. Create project with OCR template
2. Upload image with several hundred annotations
3. Open label editor and try to zoom in and move around the image

**Expected behavior**
It would be nice if performanc

[2021-05-27 16:23] OmaymaS commented on #924
Is the latest modifications merged to master here, or should the branch /release/1.0.2 be used?

[2021-05-27 16:41] laynr commented on #980
No this doesn't fix it.  I am still getting `Content-Type: "multipart/form-data; boundary=----WebKitFormBoundary7PL4GSvACAzoqsJs"` resulting in `Validation error(undefined)`

Logs
[code]

[2021-05-27 16:53] jagan1333 commented on #937
Hello guys any suggestions ?

[2021-05-28 15:10] flotothemoon opened #986 "Get tasks by data fields"
**Is your feature request related to a problem? Please describe.**
My Label Studio tasks map closely to instances in my database and my data changes quickly (e.g. when I clean it some more, change preprocessing, add fields, etc.). Synchronising my database to Label Studio is tricky since interacting with the API requires knowing every tasks' ID. I could get all tasks using the `GET /api/projects/<

[2021-05-29 07:28] makseq commented on #924
You can use the master.

[2021-05-29 15:58] gmihaila commented on #604
Safari is the only browser that it's able to display TIFF files. I can't use Label-studio now because my team has Windows and there is no way for them to view the images in the browser... Only solution is to convert TIFF to other format.

[2021-05-30 15:45] 3nuc commented on #954
I wanted to do the same thing as you - import a whole text file as a single task.
I reporduced what you said and I can't reproduce - exporting shows me labels.

1. I set up a project with the NER template, but I needed to change the valueType="url" (even though the preview showed me errors that it couldn't find a file with the url from the example - well, the example (text about Jimi Hendrix) is p

[2021-05-31 03:37] zhoudoufu commented on #225
hi @niklub, Thanks for the great new feature ranker, but the example about ranker does not work on Preview or  Playground.

[2021-05-31 06:03] ryan-keswick commented on #883
I'm getting the same problem and deploying with docker doesn't solve the problem either

[2021-05-31 12:31] tguerand commented on #883
Hi @ryan-keswick , I've succeeded at deploying an labelstudio azure webapp with the following lines of code. I did it on a azure vm but i'm sure it works on a local terminal too. Just fill the variables with your values and excecute each steps.

You have to modify the ./deploy/start_label_studio.sh file to:

[code]
Just remove the -db postgresql if you do not use a postgre db.

Then execute the fo

[2021-05-31 13:27] nicholasrq commented on #641
hey @xuchenCN

what LS version you're using? we fixed this issue in 1.0.2 recently

[2021-05-31 14:30] brightns opened #991 "ML backend state not showing TRAINING"
**Describe the bug**
When training a model, ML backend state is set to MLBackendState.CONNECTED instead of TRAINING. Not sure if this is expected behavior though.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /settings/ml
2. Click Start Training
3. Reload page?

**Expected behavior**
ML backend state should be TRAINING

**Additional context**
update_state() does not account for train

[2021-06-01 02:27] xuchenCN commented on #641
Hi @nicholasrq
I'm using label-studio-frontend v1.0.1 (Latest)

[2021-06-01 07:15] timurlenk07 opened #992 "Importing multiple JSON file results in only one import"
**Describe the bug**
When uploading multiple, pre-annotated data in LSCF, the importing process ends up showing only the tasks in the last uploaded file.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project that you have annotated data for
2. Click on Import
3. Upload many JSON files in LSCF
4. Click on Import and observe that only the contents of the last JSON was actually uploa

[2021-06-01 08:19] timurlenk07 opened #993 "Tasks overview could be divided into pages"
**Is your feature request related to a problem? Please describe.**
I have many (but not too many) tasks, about 1.5k, and I wanted to quickly check the last few ones if they were imported correctly.
Unfortunately, the site does not allow breaking the tasks into pages with fixed size, it only allows scrolling down (and waiting for my images to slowly load in full size).

**Describe the solution you'

[2021-06-01 08:30] timurlenk07 opened #994 "Filter for range of IDs does not allow writing"
**Describe the bug**
When trying to filter for IDs to see the tail of the task list, I cannot enter proper ranges into ID *between* filter, and when combining two filters, the second one has fields shown all around the first filter's fields.

**To Reproduce**
Steps to reproduce the behavior:
1. Create or import data set with more than 1k elements
2. Try to filter for IDs *between* two big numbers

[2021-06-01 10:38] zhoudoufu opened #995 "Ranker tag do not work"
**Describe the bug**
ranker not working with document example.

**To Reproduce**
Steps to reproduce the behavior:
1. install label-studio,launch server
2. Create new project with custom template by apply example in document https://labelstud.io/tags/ranker.html
3. Click into Labeling for first record
4. See error TypeError: Cannot read property 'type' of undefined

**Expected behavior**
expect to

[2021-06-01 18:57] jpc opened #996 "The --ml-backends command line option does not do anything"
**Describe the bug**

The `--ml-backends` option does not do anything.

**To Reproduce**

I tried passing the flag to both `init` and `start` and the UI shows no ML backends.

**Additional context**

The code to handle this argument seems to have completely disappeared during the 1.0.0 release (commit 6ec1e79e0ff5b6b3fc033d00dad5ccb6b9f014b4, it's a large code dump, you can search/grep for `args.m

[2021-06-01 20:40] makseq commented on #994
@timurlenk07 Could you check this PR please - https://github.com/heartexlabs/label-studio/pull/999 ?

[2021-06-02 03:01] lfgogogo opened #1001 "PermissionError: [Errno 13] Permission denied: 'sqlite3.dll'"
I'm running the project on windows,after i run label-studio,i get error below.I copy the downloaded sqlite3.dll to the DLL folder in the anaconda folder,i still get the error below.Anybody can help ,please!
first time
![impicture_20210602_104244](https://user-images.githubusercontent.com/42054022/120417436-652c2c00-c391-11eb-9a6f-12779f377da0.png)
second time
![impicture_20210602_104321](https://u

[2021-06-02 05:36] ryan-keswick commented on #883
Thanks for the help, I've got it deploying now =)

[2021-06-02 07:54] suvojit-0x55aa commented on #760
@athulprathap facing the same problem did you find any solution?

[2021-06-02 08:20] suvojit-0x55aa opened #1002 "Server doesn't startup"
https://github.com/heartexlabs/label-studio/blob/edb7484a02d3715e75dd970522f49aa4d8dea2c6/docker-compose.yml#L37

It seems that server is not starting up with this entry. It gets stuck after checking db health.
[code]
Solution was to replace with:
[code]

[2021-06-02 09:23] suvojit-0x55aa opened #1003 "Webhook, to call after annotation is marked finished"
**Is your feature request related to a problem? Please describe.**

I wanted to automatically start training, I know label studio has ml backend that supports it currently but I want to hit my own orchestration platform using a webhook if possible, so it can pull the data and start training

[2021-06-02 09:24] #1002 closed

[2021-06-02 09:24] suvojit-0x55aa opened #1004 "Server get stuck at startup with docker compose"
https://github.com/heartexlabs/label-studio/blob/edb7484a02d3715e75dd970522f49aa4d8dea2c6/docker-compose.yml#L37

It seems that server is not starting up with this entry. It gets stuck after checking db health.
[code]
Solution was to replace with:
[code]

[2021-06-02 10:38] suvojit-0x55aa opened #1005 "Project based invites"
**Describe the solution you'd like**

I really love the invite feature, but similar to getting invite to the whole label studio dashboard, this link grant access to a single project. User will be only able to see the projects they have access to.

[2021-06-02 17:07] Lolologist opened #1008 "Offsets incorrectly displaying in annotation"
![image](https://user-images.githubusercontent.com/1494871/120522496-d3c1b780-c39a-11eb-837b-f2481518dcb7.png)

![image](https://user-images.githubusercontent.com/1494871/120522781-e6d48780-c39a-11eb-82f7-a4fc35d905b9.png)

In the attached pictures you can see the proper text for "Ecuador" as an entity, and the annotation tool showing it incorrectly.
My first guess is that it is related to the emo

[2021-06-02 17:10] Lolologist commented on #1008
the text before the incorrect Ecuador:
"Network data from the NetBlocks internet observatory show that mobile network operator Claro has suffered severe outages beginning 20:00 UTC (3 p.m. local time), Saturday 12 October 2019, lasting for several hours. Confirmed: Severe disruption to #Claro mobile internet service across #Quito from ~20:00 UTC (3 p.m. local time) as #Ecuador crisis escalates 📉📰

[2021-06-02 17:12] Lolologist commented on #1008
Manually removing the incorrect offset and adding what *appears* in the annotator as "Ecuador" (see picture) results in incorrect offsets, now off by 2 (as might be expected):
![image](https://user-images.githubusercontent.com/1494871/120523647-be995880-c39b-11eb-81c4-26eaadea6a2b.png)

[2021-06-02 17:17] Lolologist commented on #1008
![image](https://user-images.githubusercontent.com/1494871/120523831-0324f400-c39c-11eb-8c41-431d5810e74a.png)
offset for "crisis escalates" is correct, https should be 360, not 362.
It seems these specific emoji are being counted as two characters long.
Both of the two emoji here were introduced as part of Unicode 6.0 and documented as part of Emoji 1.0, so they aren't recent.

[2021-06-02 23:00] makseq commented on #1008
Yes, these problems usually happen because of emoji and special characters.

[2021-06-02 23:07] makseq commented on #1005
Thank you for your request. Project invites are presented in the LS enterprise version and we are not going to implement it in the opensource soon.

[2021-06-02 23:07] #1005 closed

[2021-06-03 01:27] lfgogogo commented on #1001
I install for local development and get error below.
![image](https://user-images.githubusercontent.com/42054022/120571994-d03b3880-c44d-11eb-9b7b-58fe09da2eb0.png)

[2021-06-03 02:03] #1001 closed

[2021-06-03 02:26] xuchenCN commented on #641
Thansk @nicholasrq
Build LSF from master branch, image and bbox are rotating expected.
But the image zoom without height limition it seems a bit weird.

[2021-06-03 05:16] coldtomatojuice commented on #980
I got this error when I inserted a wrong url

[2021-06-03 05:19] abfshaal opened #1012 "New tabs are created when exploring data"
Hello!

I am facing an issue with where when I click on the data to explore already labelled tasks, I keep seeing new tabs created in the page by a user with the icon "(".
Also, I suddenly started receiving this error
"Error: [mobx-state-tree] Failed to resolve reference 'production' to type" when trying to check already annotated tasks.

I tried to look over the github issues but I did not find t

[2021-06-03 08:03] #994 closed

[2021-06-03 08:07] makseq commented on #980
@coldtomatojuice what if you insert the correct url? Is it ok?

[2021-06-03 08:28] lfgogogo opened #1013 "cors problem while labeling"
I have started the server,created a account,and imported my data by a .txt file,but when i start to label my data,i get an error below.I just don't know why i have imported my data but get an error like this while labeling.And my .txt file is below,i start LS by 'label-studio',data server by 'python -m http.server 8081 -d'.

cors problem:
![image](https://user-images.githubusercontent.com/42054022

[2021-06-03 09:15] kaitco commented on #1013
Starting python simple http module will not allow CORS. Use following script to start a simple http server with CORS enabled
[https://stackoverflow.com/questions/21956683/enable-access-control-on-simple-http-server](https://stackoverflow.com/questions/21956683/enable-access-control-on-simple-http-server)
[code]

[2021-06-03 09:28] kaitco opened #1014 "[mobx-state-tree] Value undefined is no MST Node with Timeseries data"
**Describe the bug**
When labeling timeseries data in label studio mobx-state-tree exception is thrown. Problem came with 1.0.2. Pre 1.0.2 versions are not affected.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install of v1.0.2
2. Import task as json with following entry:
`{"csv": "https://app.heartex.ai/samples/time-series.csv?time=time&values=velocity%2Cacceleration&sep=%2C"}`
2.

[2021-06-03 09:37] MahimaBarot commented on #980
facing the same issue with right url too @coldtomatojuice

[2021-06-03 21:03] makseq commented on #1004
@suvojit-0x55aa I hope it was fixed by @SAdnen in this PR: https://github.com/heartexlabs/label-studio/pull/1017 . Please, check it. Feel free to re-open if you have any troubles.

[2021-06-03 21:03] #1004 closed

[2021-06-03 23:57] gmcather opened #1019 "Unable to export annation results"
Noticed that my data can't be exported correctly even though I tried with all types of output format, it keep throwing error messages like "internal runtime errors", here's the debug information you may be interested in.

![label studio issues](https://user-images.githubusercontent.com/2755198/120726362-c2f16e80-c48c-11eb-9615-52a9ea9c8325.png)

[2021-06-04 02:27] coldtomatojuice commented on #980
@makseq In my case, yes, it is ok with a correct url (latest version docker image / k8s deployment)
@MahimaBarot do you deploy the latest version? I got the error with correct url on 1.0.1 version

[2021-06-04 07:38] makseq commented on #1012
@abfshaal Hello, could you send here some screenshots with an opened browser console errors?

[2021-06-04 07:46] makseq commented on #1019
@gmcather please, could you show your tasks with annotations as examples (screenshots or task codes - press the </> button on the end of a task row in the data manager). Looks like you have some special characters inside.

[2021-06-04 08:09] niklub commented on #1013
That's great! Also there is an even simpler method mentioned in this stackoverflow thread, without creating any line of code:

[code]

[2021-06-04 12:40] brianbarbieri opened #1021 "Unable to add Source/Target Cloud Storage"
**Describe the bug**
Whenever I click on the button for cloud storage in the project settings, the menu immediately closes down.

**Expected behavior**
The menu pops up and I am able to fill in the correct settings for cloud storage.

**Screenshots**
Video of error: https://streamable.com/euhje7

Screenshots of error codes when button is clicked:
![image](https://user-images.githubusercontent.com/

[2021-06-04 13:00] #1021 closed

[2021-06-04 14:14] alexhagen opened #1024 "Import of local files fails"
**Describe the bug**
When I import local files (from my desktop folder), I receive a message that "12 files uploaded", but when I go to label them, I receive "Cannot load image (/data/upload/MSG_OEM_XSW_IMAGE_LBRV-F1_Brownsville-2021-02-25T201450_000Z_UHvf_2021-02-25T201_VRpriLI.tiff). Check console/network panel for more info."

**To Reproduce**
Steps to reproduce the behavior:
1. Install label-s

[2021-06-04 14:37] alexhagen commented on #1024
I found this in the label-studio output:

[code]

[2021-06-04 15:13] alexhagen commented on #1024
I've reproduced this on Ubuntu 18.04

[2021-06-04 16:09] makseq commented on #1024
@alexhagen TIFFs are supported by Safari browser only. Please, try to convert your images to png or jpg.

[2021-06-04 16:09] #1024 closed

[2021-06-04 16:38] alexhagen commented on #1024
Thanks @makseq, in that case, I'd recommend changing these the list of supported images to reflect that.

<img width="2094" alt="Screen Shot 2021-05-21 at 8 12 36 AM" src="https://user-images.githubusercontent.com/871540/120835002-a0a53280-c518-11eb-86fd-699355a17de8.png">

[2021-06-04 16:40] alexhagen commented on #1024
Thanks @makseq, that fixed it.  I'd recommend changing the supported image types to reflect that.  I can submit the merge request for that change if you want.
<img width="640" alt="Screen Shot 2021-06-04 at 9 39 11 AM" src="https://user-images.githubusercontent.com/871540/120835197-d9dda280-c518-11eb-85f8-c276402ab8d5.png">

[2021-06-04 17:22] gmcather commented on #1019
I don't really know which line of my data caused this error, any suggestions for that?

[2021-06-04 19:03] SAdnen commented on #1019
@gmcather since this [pull](https://github.com/heartexlabs/label-studio/pull/723) utf8 has been the default encoding, so probably you are using an old version. To check this, look at the file "d:/users/huiliu/anaconda3/envs/label_studio\lib\site-packages\label_studio\data_export\models.py", line 50, you should find this `with open(filename_results, 'w', encoding='utf-8') as f:`, if you can't see `

[2021-06-05 00:28] xhuaustc opened #1025 "Can not import Source Storage with kube2iam"
I set up kube2iam service in my k8s cluster. After binding the correct role to the label studio instance, I created source storage left Access Key ID/Secret Access Key/Session Token blank, but failed with the logs:

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/rest_framework/views.py", line 506, in dispatch
    response = handler(request, *args, **kwargs)
  Fil

[2021-06-05 05:39] gmcather commented on #1019
That works after adding encoding utf-8, thanks.

[2021-06-05 05:39] #1019 closed

[2021-06-05 09:19] sethidden opened #1026 "Adding relations to time-series task with `<Text valueType="url">` - e._spans is undefined"
**Describe the bug**
I have a problem when using the Relation Extraction template AND using `<Text ... valueType="url">` (time series data). Adding a single relation, then submitting the task, and trying to open it again results in:

`Uncaught (in promise) TypeError: can't access property 0, e._spans is undefined`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project
2. Set th

[2021-06-05 09:22] 3nuc commented on #1026
For context, I'm uploading a .txt file as a whole task because I'm annotating a whole legal document (that was parsed from PDF). For more see https://github.com/heartexlabs/label-studio/issues/954#issuecomment-851019824

[2021-06-05 12:00] niklub commented on #1025
Hi! You should explicitly specify AWS credentials, IAM role-based access is not supported.

[2021-06-05 13:09] niklub commented on #996
@jpc  thanks for pointing this out. Yes, you're right, as far as Label Studio 1.0.0 this console option has been removed. Please consider connecting ML backend through UI or by using API call:
[code]
Feel free to create a patch for using `--ml-backends` console argument - PRs are very welcome!

[2021-06-06 13:32] R-Peleg opened #1027 "Multiple annotations for bounding boxes shown incorrectly"
**Describe the bug**
When

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project, from the "Object Detection - Bounding Boxes" template
2. Upload an image
3. Draw some bounding boxes, and hit "Submit"
4. Add another annotation (The + sign at right-top corner), draw some rectangles and hit "Submit"
5. Go to the tab of the first annotation.
6. See the error

**Expected behavior**

[2021-06-07 01:14] lfgogogo commented on #1013
@kaitco @niklub I have tried，both of them are working，thank you.

[2021-06-07 03:43] xhuaustc commented on #1025
I created a new key for access s3 storage. But errors if I left Session Token blank. Is "Session Token " must be set?

[2021-06-07 06:48] xhuaustc commented on #1025
It works after setting "Bucket Prefix". And it's found that label studio supports kube2iam also after testing.

[2021-06-07 08:32] coldtomatojuice opened #1028 "Is there a way to disable the authorization step (sign in/log in) on label-studio?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

_Given that label-studio is deployed on a containerized environment like kubernetes,
It's not hard to imagine that one may already be authorized by container orchestrator or another pod to access label-studio pod.
Therefore, additional log

[2021-06-07 09:27] makseq commented on #893
@aladagemre Hi, please check the latest master branch, we have implemented annotator filters and a special column with annotators.

[2021-06-07 10:07] nicholasrq commented on #1026
thank you for a detailed description. we'll need some time to reproduce the bug and pull out a fix. I'll get back to you as soon as it's fixed

[2021-06-07 11:46] Mohitduklan opened #1029 "Do you store imported file real name?"
When we upload files with the same name, Label studio add some random text at the end of the file name.
Is there a way from which I can get the file's original name?

[2021-06-07 12:15] hlomzik commented on #318
fixed by https://github.com/heartexlabs/label-studio-frontend/pull/166 some time ago
now you can delete polygon point with double click

[2021-06-07 12:15] #318 closed

[2021-06-07 12:16] hlomzik commented on #424
fixed by heartexlabs/label-studio-frontend#166 some time ago
now you can delete polygon point with double click

[2021-06-07 12:16] #424 closed

[2021-06-07 12:52] makseq commented on #612
Deprecated bug after LS 1.0 release.

[2021-06-07 12:52] #612 closed

[2021-06-07 15:02] alex-eurec opened #1030 "The CLI option to run server over HTTPS is not working"
**Describe the bug**
The CLI option to run server over HTTPS is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Create a key and a cert file (running below commands for example):
[code]
2. Download and try to start LabelStudio with HTTPS support:
[code]

**Expected behavior**
LabelStudio running with SSL/TLS secured UI connection

**Screenshots**
No screenshots, but I have the er

[2021-06-07 15:31] laynr commented on #980
@makseq @MahimaBarot  @coldtomatojuice @niklub
I confirm that the latest docker image (https://hub.docker.com/layers/heartexlabs/label-studio/latest/images/sha256-c151d4b70dcd70ec864c9226eb42fd276a5e41eb0df690111e74387c911aca22) allows upload by URL. Thank you! Close issue/bug as desired.

[2021-06-07 15:55] lxtadhamnawito commented on #965
I managed to solve this, thank you.

[2021-06-07 15:55] #965 closed

[2021-06-07 20:46] smoreface commented on #422
https://labelstud.io/guide/predictions.html now contains more details and example JSON

[2021-06-07 21:20] #980 closed

[2021-06-07 21:29] makseq commented on #1029
As far as I remember LS addes postfix to your original filename, e.g.: you imported `src.png` => `src_ZoqW18z.png`, so, you can split your filename with `_` and get your original filename:

[code]

[2021-06-07 21:35] makseq commented on #1030
@alex-eurec Since LS 1.0 HTTPS is not supported. To run Label Studio with HTTPS and access the web server using HTTPS in the browser, use NGINX or another web server to run HTTPS for Label Studio.

https://labelstud.io/guide/start.html#Run-Label-Studio-with-HTTPS

[2021-06-07 21:35] #1030 closed

[2021-06-07 21:36] makseq commented on #1030
It's a bug, we have to remove it.

[2021-06-08 01:58] Mohitduklan commented on #1029
Yes, but if the original filename is  'src_ZoqW18z.png', I split the file name with '_' will give me 'src.png' the wrong name.

[2021-06-08 05:14] hienvantran opened #1035 "not showing predictions after training"
**Describe the bug**
There are 2 problems:

1. After training ML backend model, I cannot find the model predictions in the UI when labeling. (no error showing and having job_result.json)
![UI_CMD](https://user-images.githubusercontent.com/54805500/121126479-cbfe8900-c85a-11eb-96a4-6bc890ce5bbe.png)

2. Often cannot fully train all 100 epochs, the system will stop training at the middle, 30-70 epoc

[2021-06-08 07:10] alex-eurec commented on #1030
Ok, thanks for the information. It was a little confusing having those flags in the CLI help.
I will use a reverse proxy

Two quick questions:
- Why it was supported but now it is not?
- Do you have plans to re-implement this in the future?

By the way, thanks for this precious piece of SW

[2021-06-08 08:39] makseq commented on #1035
1. Try to delete predictions via data manager actions. When they are empty, LS will retrieve ML backend.
2. You have to create a new background process or thread which trains the model. LS sends only a signal when to start training and POST /train

[2021-06-08 12:09] makseq commented on #1030
1. Before we used Flask and it was easy to support it. Now we are on Django and the strong Django deployment depends on nginx anyway (or another webserver). So, there are a lot of tools for nginx to get https.
2. No, we haven't these plans.

[2021-06-08 12:11] makseq commented on #1030
Why do you want to have https inside of LS? Why don't you use nginx?

[2021-06-08 12:22] makseq commented on #1029
I think the target name will be src_ZoqW18z_anotherHash.png. So, my linea should work ok

[2021-06-08 12:38] Mohitduklan commented on #1029
Suppose I imported 3 images: 'abc_def.png', 'ijk.png', 'ijk.png'.
Label studio will store them as 'abc_def.png', 'ijk.png', 'ijk_someHash.png'
then how will I get original names of images.

[2021-06-08 13:18] alex-eurec commented on #1030
Thanks for the response.

It would be easier to automatize the deployment and get https working securely with APIs and GUI, nevertheless, using nginx as a reverse proxy is pretty straightforward, so no problem in my case :smile:.
I was just wondering why the functionality disappeared over time and I thought that it would be not so hard to get SSL/TLS encryption integrated again, but I am clearly w

[2021-06-08 15:18] x110 opened #1038 "Enable highlighting sentences in passages that was entered by the annotator"
In extractive question answering annotation process, I want to prompt the annotator with a question, and assign them the task of providing a passage that contains the answer. Then from that passage I want the same annotator to highlight the answer.

At the moment the highlighting feature in QA system is is limited to a predefined text.

[2021-06-08 15:25] suvojit-0x55aa opened #1039 "Not able to open the add cloud storage dialog"
**Describe the bug**
When I click on the "Add Source Storage" and "Add Target Storage" the dialog box appears for few moment and closes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Project > Setting > Cloud Storage'
2. Click on 'Add Source Storage'
3. Dialog box doesn't open

**Expected behavior**
Expect dialog box to open to add cloud storage

**Screenshots**
[code]

**Environmen

[2021-06-08 17:17] makseq commented on #1030
If you really want you can make a PR with SSL/TLS support :slightly_smiling_face:

[2021-06-08 17:18] athulprathap commented on #760
@suvojit-0x55aa Hi Suvajit,
Yeah.Got a temporary fix. Bypass Nginx service and access the service directly in 8080.

[2021-06-08 17:52] makseq commented on #1039
@suvojit-0x55aa We've fixed it in the latest master commits.

[2021-06-09 03:14] #1025 closed

[2021-06-09 06:37] suvojit-0x55aa commented on #1039
@makseq is it available with docker-compose pull ?

[2021-06-09 08:55] makseq commented on #1039
I think yes

[2021-06-09 13:19] #889 closed

[2021-06-10 05:00] abfshaal commented on #1012
Hello @makseq

![Uploading Label_Studio github issue.png…]()

I had solved the issue, It had to do with the table tasks_draft being created in the PostreSQL database.
I deleted that table inside the database and it removed all the randomly spawned drafts and the error with mobx.

[2021-06-10 10:38] suvojit-0x55aa commented on #1039
@makseq tried pulling the latest image problem still persists.

[2021-06-10 15:36] zameeransari opened #1045 "Migrate data from SQLite to PostgreSQL"
We did a pilot project with Label Studio and decided to run it with PostgreSQL backend. I wonder what will happen with my existing data which is stored inside SQLite. How my user logins will be migrated to new database backend? Can you please provide any documentation for above use case.

Currently My Label Studio is running inside Kubernetes cluster with persistent volume.

Thanks in advance.

[2021-06-10 22:11] makseq commented on #1039
@suvojit-0x55aa Could you show `/version` page?

[2021-06-10 22:15] makseq commented on #1045
@zameeransari I think it's a very popular question, so I found this: https://stackoverflow.com/questions/4581727/convert-sqlite-sql-dump-file-to-postgresql

[2021-06-11 11:11] alex-eurec commented on #979
I have the same situation in my LS deployment, but I have one doubt: should we open another issue so we can keep track on the two problems separately?
1. PATCH call to the tasks endpoint of the Label Studio API with "predictions": [...] does not work.
2. Document API calls for LabelStudio ML backend so users are able to write or better adapt their own existent code

PS: I just want to remark that,

[2021-06-11 12:29] bobokvsky opened #1049 "API `/api/current-user/token` returns bad token in 1.0.2"
**Describe the bug**
API `/api/current-user/token` returns bad token in 1.0.2

**To Reproduce**
1. Run Label Studio
2. Sign up, when go to user settings, we get good token (ex.: `bab6e8097bfce780fb84836ad66d69a2bc81d323`)
3. Use GET from API `/api/current-user/token`, it returns cropped token (ex: `{"detail":"bab6e8097bfce780fb84836ad66d69a`)

**Environment**
 - OS: Ubuntu 20.04.2 LTS
 - Label Stu

[2021-06-11 15:15] rizziemma commented on #889
I'm very sorry for the delay I don't know why I wasn't notified by your response :( I will try it soon thanks for working on it !

[2021-06-11 15:33] makseq commented on #979
@alex-eurec Thank you for your reports, I hope this will be fixed soon.

[2021-06-11 16:23] makseq commented on #1049
@triklozoid

[2021-06-11 16:29] triklozoid commented on #1049
Thanks for the report, can you try fix from this PR: https://github.com/heartexlabs/label-studio/pull/1051
If includes little format change `/api/current-user/token` will return `{"token":"bab6e8097bfce780fb84836ad66d69a2bc81d323"}`

[2021-06-11 23:21] SMarwen commented on #1039
Hello @suvojit-0x55aa
Please try this command : `docker volume prune`

[2021-06-12 05:49] suvojit-0x55aa commented on #1039
@makseq Label Studio Version is at  v1.0.2

@SMarwen volume prune will just delete unused volumes right ?

[2021-06-12 07:43] SMarwen commented on #1039
yes exactly,
in this line here : https://github.com/heartexlabs/label-studio/blob/0c237b9318599339823e5f19ac30020796f20997/docker-compose.yml#L36
Label studio is linking the code to this volume
So if you used docker compose with previous version, you need to delete the volume and spin up the services again
I asked why they did it this way on slack, but I got no answer @makseq
so in short, steps ar

[2021-06-12 08:22] suvojit-0x55aa commented on #1039
@SMarwen but wouldn't it delete the assets so I have to build the image again ?

[2021-06-12 08:30] SMarwen commented on #1039
@suvojit-0x55aa I am not sure tbh
may be you can delete one specific volume ?

[2021-06-12 18:25] aladagemre opened #1052 "Allow multiple annotations from different users"
**Is your feature request related to a problem? Please describe.**
Multiple annotators can not work on the same posts.

John annotates post1 as A. Then Samuel logs in and wants to annotate the same post (post1), but sees the option A is already checked. He wants to check A as well (indicate his opinion) but can not.

This prevents us to take consensus opinion of multiple annotators.

**Describe th

[2021-06-12 18:25] aladagemre commented on #893
Thanks, I checked now and it works!

However I have one more concern: https://github.com/heartexlabs/label-studio/issues/1052

[2021-06-12 18:25] #893 closed

[2021-06-13 07:50] makseq commented on #1052
@aladagemre LS allows to have multiple annotations via the quick view in the data manager. Just press + button on the annotation panel. Our enterprise version allows to do it even in the Label stream, it automatically distributes tasks to annotators using different scenarios according to the project settings.

[2021-06-13 15:50] nader-bitstrapped-com opened #1054 "Can not disable Use pre-signed URLs for GCS Source Storage"
When creating or editing a GCS Source Storage, disabling the `Use pre-signed URLs` does not work.

**To Reproduce**
1. Go to `Project` -> `Setting` -> `Cloud Storage` -> `Add Source Storage` -> `GCS`
2. Fill the form and disable the `Use pre-signed URLs` toggle button.
3. Save the form.
4. Click on the three dots and `Edit`.
5. `Use pre-signed URLs` is enabled.

**Expected behavior**
`Use pre-sign

[2021-06-14 10:12] jpc commented on #996
Hi, thanks for the explanation and the API tip. I don't really need for this to be a CLI option so I am just glad to see you updated the docs to avoid confusion in the future.

I think it would be also good to document this API since I could not find it in the API docs on the web page.

[2021-06-14 14:38] jrdalenberg opened #1055 "Label studio 1.0.2 stops working properly when the ML backend returns bad data."
Hey,

I am trying to update our backend ML model that was working with label studio 0.9.0.post5.

To my surprise, the project task overview in label studio 1.0.2 stops working when it receives wrong info from our backend. The webpage shows the error: `Nothing found Try adjusting the filter` and all task data becomes completely inaccessible from a user perspective, while the console returned the er

[2021-06-15 06:46] schafsam opened #1058 "Invite People to sign up link, malformed link, running with reversed proxy"
**Describe the bug**
Invite people to sign up for label-studio. Using the +Add People button under /people I get a wrong link. The link looks like  `http://example.abc.com/labelstudio/labelstudio/user/signup/?token=12Csa` . Meaning the route labelstudio is double.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Hamburger sign
2. Go to 'Organization'
3. Click on '+ Add People'
4. See th

[2021-06-15 07:03] suvojit-0x55aa commented on #1039
@SMarwen no that didn't solve it.
@makseq any updates on this ?

[2021-06-15 07:49] suvojit-0x55aa opened #1059 "Feature to access images from GCS bucket"
**Is your feature request related to a problem? Please describe.**
I've a huge folder of images in a private GCS bucket, I import a few (around hundred) by defining tasks using the GCS url for image. But there is no way of giving authorization to that currently.

**Describe the solution you'd like**
A way to provide authentication by using the GCS json key.

This is the json I'm using to create ta

[2021-06-15 12:46] makseq commented on #996
@smoreface Could you please

1. add this

[code]
somewhere here:

https://labelstud.io/guide/ml.html#Quickstart

2. Maybe we need to hide this
![image](https://user-images.githubusercontent.com/501780/122054952-d12a7d80-cdf0-11eb-9fa0-95c64d5f6d5f.png)
because it's no working...

[2021-06-15 12:46] #996 closed

[2021-06-15 12:55] makseq commented on #1055
@jrdalenberg
Thank you for your report!
Could you please check this PR: https://github.com/heartexlabs/label-studio/pull/1060
Hope this helps.

[2021-06-15 13:51] laynr opened #1061 "Static links on ./docs/api page are not rendered"
**Describe the bug**
This is a continuation of https://github.com/heartexlabs/label-studio/issues/728 for the ./docs/api page. See that issue for more details.

When using the option `--host` argument with a base URL (ie `--host "http://ls.domain.com/subdomain/"`) the href's on the ./docs/api page that start with `/static` need to be changed (I count 5 instances on the page) to either a relative p

[2021-06-15 13:58] makseq commented on #1039
@suvojit-0x55aa Just checked it in the master branch, everything works ok.
I think you could you the latest container from our dockerhub: heartexlabs/label-studio:latest

[2021-06-15 14:02] makseq commented on #1061
@laynr Thank you for your report.
At first sight it looks like not a simple task, because API docs are generated by drf-yasg and I'm not sure it supports the host url replacement.

[2021-06-15 14:05] makseq commented on #951
@ranyaphat29 have you solved your issue?

[2021-06-15 14:44] bobokvsky commented on #1049
Yeah, it's good now, thanks!

[2021-06-15 14:55] salmenf commented on #1028
This would be very useful for my use case, as well: I want to use label-studio in a docker-compose environment where all endpoints are already protected with basic-auth, so the login is redundant. I also want to automatically create a user, project and task. The way it works right now, I see no way to do this, since I need to manually create a first user and login to get my auth token before I can

[2021-06-15 15:57] smoreface commented on #996
@makseq Yup, change 2 is already in: https://github.com/heartexlabs/label-studio/commit/fd0d42f5e0c6e2e21331d5c7839af5e798827b1e

I'll update to add a link to the API documentation as well.

[2021-06-15 19:41] makseq commented on #1058
@schafsam https://github.com/heartexlabs/label-studio/pull/1062 could you check this branch please, hope it's fixed there.

[2021-06-15 20:04] SMarwen commented on #1039
Hi @suvojit-0x55aa
The root cause of the problem is that storages are not shown because of missing `return storage_list` in `label_studio/io_storages/all_api.py`, this bug was solved in recent versions.

In order to solve it, you should rebuild the image or download the latest docker image and make sure that `labela_studio_app` is using the latest image.

If you have built the container using the

[2021-06-15 20:45] #1049 closed

[2021-06-15 21:05] makseq commented on #1059
@suvojit-0x55aa Have you added a GCS storage? Doesn't it resolve you links automatically?

[2021-06-15 22:38] makseq commented on #1028
@coldtomatojuice

How do you distinguish annotators if there is no auth? Who performed the annotation A and who performed the annotation B?

@salmenf
You can create a user using this command line call:
https://labelstud.io/guide/signup.html?from_search=create%20user#Create-an-account

Also you can create a project and a task via API:
https://api.labelstud.io/#operation/api_projects_create
https://

[2021-06-16 00:41] makseq commented on #389
@devonkinghorn This feature added since LS 1.0.2.

[2021-06-16 00:41] #389 closed

[2021-06-16 00:42] #422 closed

[2021-06-16 03:14] dalekube opened #1063 "High Vulnerabilities"
This is connected to the issue **critical vulnerabilities #851**.

The latest OWASP scan considering version 1.0.2 reports 12 high vulnerabilities. The critical vulnerabilities were successfully accounted for with the previous issue and corresponding pull request. All of the high issues pertain to npm. The security team in my organization requires critical and high vulnerabilities to be non-existe

[2021-06-16 04:42] suvojit-0x55aa commented on #1039
@makseq after downloading the latest dockerhub image I get the following error on the app:
[code]

[2021-06-16 05:16] suvojit-0x55aa commented on #1039
Deleted older repo, exported data with a fresh build, it worked.

[2021-06-16 05:17] #1039 closed

[2021-06-16 06:29] suvojit-0x55aa commented on #1059
Label Studio is not able to load the image:
[code]
These are the steps I've followed:
 - Added extra env variable to docker-compose to give access to json key as described [here](https://labelstud.io/guide/storage.html#Prerequisites)
 - Added import storage with the bucket name
 - Added the data mentioned above

Here I get the error that image can't be loaded.

[2021-06-16 06:44] suvojit-0x55aa commented on #1059
I'm also getting the following error when. I try to sync the import storage.
[code]

[2021-06-16 07:48] suvojit-0x55aa commented on #1059
In [prerequisite](https://labelstud.io/guide/storage.html#Prerequisites) it is mentioned that `Service Account Token Creator` permission is needed only I think label-studio is trying to access with other permission also:

[code]

[2021-06-16 08:00] salmenf commented on #1028
@makseq
Thanks for the tips! Exactly, the login is the issue, some automatic login via HTTP would be great!

I don't think your suggestion works in my case, though, if I'm understanding it right: If I can login only via token, how do I get the token automatically (without the UI)? There's this API method (https://labelstud.io/api#operation/api_current-user_token_list), but it requires a token to g

[2021-06-16 10:06] makseq commented on #1028
check this branch please: https://github.com/heartexlabs/label-studio/pull/1065

[2021-06-16 14:54] Rob192 opened #1068 "UnicodeEncodeError when launching label-studio"
**Describe the bug**
When I am launching label-studio I am getting this error :
[code]

**To Reproduce**
Install label-studio via pip or via github

**Expected behavior**
Should be launching fine

**Screenshots**
This is the error log with the github install :
[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Label Studio Version [latest from github]

[2021-06-16 16:44] GrayAlex49 opened #1070 "Numeric Inputs do not display in Text Object Tags"
**Describe the bug**
I want to display a numeric store to my graders to ask if it is correct. I uploaded a csv that contained numeric fields. When trying to display that in the labeling interface, it does not create a div at all. I can see the number in the tabular view and can switch formats between str and num but it does not show up

**To Reproduce**
Steps to reproduce the behavior:
- Upload a

[2021-06-16 17:33] xuankhanhdo opened #1071 "The Field button is removed in 1.0.2 when I clicked on a task"
![image1](https://user-images.githubusercontent.com/15690936/122266053-abc56e80-ced9-11eb-823a-2798eb5adb15.png)
![image2](https://user-images.githubusercontent.com/15690936/122266055-abc56e80-ced9-11eb-95c7-1faf311b4d0a.png)

I'm using LabelStudio version 1.0.2 on a NER task on text data. When I clicked on a task (as in  this image), the left column tried to load all the text and it seems to be l

[2021-06-16 17:39] smoreface commented on #1071
@nicholasrq It seems like we made a UI update to "simplify" the data manager when previewing tasks, but that means that the data manager then background loads all the regular columns rather than (in this case) a shortened selection of columns designated by the Fields selector, which causes the page performance to be pretty slow in this case.

[2021-06-16 18:01] smoreface commented on #937
@jagan1333 Does your account have `storage.buckets.get` access as well? Sorry for the delay, I wasn't sure what else could be causing the issue.

[2021-06-16 18:04] joeydb94 opened #1072 "Relations not appearing in UI (relation extraction, v1.0.2.)"
**Description of the issue**
The relations are saved (they show up when you export) but they don’t appear on the UI when you go back and look at an annotated task.

**Steps to recreate the issue**
1. Set up relation extraction
2. label a task and add relations
3. When you submit and return to that task, the relation will not appear (shows no relations despite showing up when you export).

**Expect

[2021-06-16 18:06] smoreface commented on #1052
@aladagemre see the docs for this here: https://labelstud.io/guide/labeling.html#Label-with-collaborators

[2021-06-16 18:10] smoreface commented on #1072
cc: @nicholasrq

I was able to reproduce this (v1.0.2, Docker install). It seems possibly related to both #1014 and #1026.

A mobx state tree error appears in the console when you try to view an already-labeled task with relations in the data manager quick view: `Error: [mobx-state-tree] You are trying to read or write to an object that is no longer part of a state tree.`

[2021-06-16 19:19] makseq commented on #1068
@Rob192
Could you try to do this command:

[code]

More info is here: https://github.com/bitbrute/evillimiter/issues/41#issuecomment-543581149

[2021-06-17 01:46] imjwang opened #1074 "Different methods of labeling for Computer Vision tasks"
**Is your feature request related to a problem? Please describe.**
I don't want to have to click so often

**Describe the solution you'd like**
A drag tool would be great. semi-automated labeling would also be nice

**Describe alternatives you've considered**
coco-annotator](https://github.com/jsbroks/coco-annotator)

[2021-06-17 09:39] jrdalenberg commented on #1055
Thanks! I'll check next Monday

[2021-06-17 13:15] Mohitduklan commented on #1063
I would like to add some vulnerabilities similar to the above one.
Please check them out
Software Composition Analysis
Vulnerabilities

Component filemane: lodash
Component Path:
file7715563450_1623640769182_html/docs/node_modules:lodash
file7715563450_1623640775376_html/docs/node_modules:lodash
Current version: 4.17.15
Safe version: 4.17.21
Latest version: 4.17.21
High: 2
Medium: 2

Component fil

[2021-06-17 18:54] smoreface commented on #1074
@imjwang we're working on improved object detection with less clicking required for the 1.1 release, visible in the roadmap: https://github.com/orgs/heartexlabs/projects/1
It should be available soon, but some of the functionality includes double click to create a bounding box or shape.

[2021-06-17 21:17] aladagemre commented on #1052
Thanks for the response. I hope you would welcome my feedback: clicking on + to submit a new annotation and not knowing which tab was yours is not very intuitive for tech-illiterate people. The annotator should not be able to see others' annotations but see only their annotation page (empty or filled by themselves). That's much better for focus and less error-prone.

[2021-06-18 09:43] salmenf commented on #1028
Excellent, thanks! That branch and the login via token would solve my use case completely.

[2021-06-18 15:54] InCaseOf opened #1081 "Title classes are recreated on top of the old ones"
**Describe the bug**
For a time series plot moving the sliding window, changing the scale of the plot creates new title objects drawn on top of each other, without removing the old ones.  Leading to a build up of 100s of title objects if working on the same data set for a while

In the yaxis class

**To Reproduce**
Steps to reproduce the behavior:
1. Create a time series plot with a range of data

[2021-06-21 08:35] jrdalenberg commented on #1055
[code]
Same error

Alternatively, I also tried branch `fix/ml-response` and installed this in a fresh virtualenv without a pip cache dir, which also gave the same error.

[2021-06-21 11:28] vsatpathy commented on #682
Were you able to resolve this problem? I am facing the same issue. One i sync with the Cloud Storage on S3, i am able to see the tasks which are created for each corresponding object. But when i try to annotate, i get the same error as above.

[2021-06-22 04:14] amant555 opened #1091 "Marking one entity occurring multiple time in document with one click"
I am frustrated when one entity occurs multiple times and I have to mark each of them separately.

Solution that may help:
If there is a shortcut which will allow searching a entity in whole doc after selecting one entity and marking all found in backend itself

Let me know if there is a quick solution that I can implement on my side.

[2021-06-22 04:41] amant555 commented on #771
Hey, were you able to find solution for this. I also need help with same problem.

[2021-06-22 06:54] potipot commented on #682
I managed to get it to function by trying different connection settings in the labelstudio AWS connection profile. Also I made sure I have correct `aws_access_key_id` and `aws_secret_access_key` set in my `.aws/config` file, with the correct s3 permission set in my aws management console (s3 full as I reckon).

Hope that helps

[2021-06-22 07:25] heisenberg1804 opened #1092 "Issue while building from source"
I followed the exact command mentioned for building from source, but i am getting "ImportError: Couldn't import Django. Are you sure it's installed and available on your PYTHONPATH environment variable? Did you forget to activate a virtual environment?".
I just can't seem to resolve this because django is installed in my current conda virtual environment as when i run "django-admin --version" i ge

[2021-06-22 12:41] prathameshk commented on #771
This will be super helpful feature. Please let us know when this would be incorporated.

[2021-06-22 23:54] makseq commented on #827
@shipra25jain I hope it's fixed in the latest master. Feel free to re-open it if you have any problems.

[2021-06-22 23:54] #827 closed

[2021-06-23 11:34] makseq commented on #1068
@Rob192 I hope, you fixed your issue. Feel free to reopen it if this problem exists.

[2021-06-23 11:43] #1068 closed

[2021-06-23 11:52] makseq commented on #1055
Nice! I added more checks to LS in that PR, hope it will help our users to understand what's wrong.

[2021-06-23 11:52] #1055 closed

[2021-06-23 16:26] Rob192 commented on #1068
Hello,
Thank you very much for your answer ! It did work indeed but however, the font displayed inside the app were not so nice anymore (looking like Times New Roman). I think the issue arised because we annotated in french ...
In between and for other users that might have the issue, I did manage to copy the folder locally and launch it with docker with mounting the copied folder. For some reason

[2021-06-23 19:16] SAdnen commented on #1092
From the error message `ujson` is missing, you can install it with conda: `conda install -c anaconda ujson `

[2021-06-23 21:28] heisenberg1804 commented on #1092
After resolving that issue , and resolving a couple of more issues with numpy and pandas version, i'm stuck with this...
![image](https://user-images.githubusercontent.com/43610582/123170327-0477a700-d498-11eb-9387-479621c48443.png)

[2021-06-24 00:52] SAdnen commented on #1092
You are trying  to run label-studio from source the code using the command `python label_studio/manage.py ...` and at the same time you are inside a conda environment `label-studio` which has already label-studio installed. The function that is causing this error is `cast_bool_from_str`, it was added 3 days ago, so it exists in the source code but not in your conda env `label-studio`. So, if you w

[2021-06-24 08:17] fanweiya opened #1096 "Slide the mouse over the picture and zoom in and out of the picture"
thanks label-studio,very good label annotation tools,please add slide the mouse over the picture and zoom in and out of the picture.

[2021-06-24 14:32] dalekube commented on #1063
One new CRITICAL vulnerability showed up with a new scan for the latest version (v1.0.2.post0), scanned on 6/24 at 9:30 AM CT:

pkg:npm\/lodash@4.17.15
CRITICAL
CWE-77: Improper Neutralization of Special Elements used in a Command ('Command Injection')
https:\/\/ossindex.sonatype.org\/vulnerability\/2053350d-b06f-4926-88ea-871760f6e5d8?component-type=npm&component-name=lodash&utm_source=dependency

[2021-06-24 22:28] hurshprasad opened #1097 "Init and start missing project_dir"
I am starting label-studio from a submodule used in another project.

The [config.xml ](https://github.com/lolipopshock/Detectron2_AL/tree/master/annotating)is provided there.

I did the following steps.

[code]

then I start label-studio

[code]
However I get the following error.

[code]

I assume it is a config or init issue, but it would seem the dir is the project directory and output path is

[2021-06-25 07:16] schafsam opened #1098 "Labeling view go back to previous task functionality"
Front-end labelling view has a Skip and Submit button.

**Suggested solution idea**
An option, controll field or button to go back to the previsou task in the labeling view. Even tough the previous task is labeled to corect or check.

**Rational**
For example If I am a bit to trigger happy with the Skip button or if press the Submit button to early.
That is usually the case when I am labeling a bu

[2021-06-26 13:24] heisenberg1804 commented on #1092
I had actually resolved the issue with your help thank SAdnen

[2021-06-26 13:24] #1092 closed

[2021-06-27 10:06] mike-grayhat opened #1101 "Annotations aren’t getting saved"
**Describe the bug**
Annotations aren’t getting saved on submit / update for some people that do the labeling  - instead they see an additional tab appears for the task. Also in docker logs I see really strange error - seems like after a patch task sometimes disappear, but not sure if it’s related. The annotation server is on the lower end, so maybe it’s related to nginx caching / buffering, idk.

[2021-06-28 08:07] jrdalenberg commented on #991
Is there any way of making the training state more obvious for a user? I observed users spam clicking the training button because there is no feedback.

Ideas:
- backend status updates ("Training started!"  when clicked and "Already training!" when clicking again)
- Greyed out training button until training is finished

[2021-06-29 18:47] vpm238 commented on #954
The issue is annotated data needs to contain the original data / content of uploaded files in all formats including csv. Having just the file names requires people to manually merge and create a dataset. Also, exporting this in Standard format like CoNLL from this point is just garbage output that cannot be used

[2021-06-30 00:24] makseq commented on #979
Please, check this PR: https://github.com/heartexlabs/label-studio/pull/1102
Now you are able to create predictions for tasks.

[2021-06-30 00:28] #979 closed

[2021-06-30 08:41] schafsam commented on #1058
@makseq: I was able to test it now with the current master branch and it works.

[2021-06-30 15:47] mauricio-repetto opened #1114 "Export only selected items"
**Is your feature request related to a problem? Please describe.**
I'm still not sure if this is a bug or should be requested as a feature but I realized the other day that the export actually exports the entire set of items from the project instead of those selected. Sadly, when I realized it was too late.. So I had to manually edit the exported files because I had a bunch of work done that I nee

[2021-06-30 19:05] mauricio-repetto opened #1115 "Add new [category] id attribute in label tags"
**Is your feature request related to a problem? Please describe.**
I'm not seeing a way to specify in the settings the id each class should have when exported. A few days ago we split our tagging work in different sets (one per each person) but when we tried to join them we realized that the ids on the json were totally different on each project. Very annoying. You should at least give the ids bas

[2021-07-01 00:15] makseq commented on #539
This bug was fixed in https://github.com/heartexlabs/label-studio/tree/release/1.1.0. Feel free to reopen if you have this problem again.

[2021-07-01 00:15] #539 closed

[2021-07-01 00:18] makseq commented on #757
This bug was fixed in [release/1.1.0](https://github.com/heartexlabs/label-studio/tree/release/1.1.0). Feel free to reopen if you have this problem again.

[2021-07-01 00:18] #757 closed

[2021-07-01 00:18] makseq commented on #202
This bug was fixed in [release/1.1.0](https://github.com/heartexlabs/label-studio/tree/release/1.1.0). Feel free to reopen if you have this problem again.

[2021-07-01 00:18] #202 closed

[2021-07-01 00:18] makseq commented on #641
This bug was fixed in [release/1.1.0](https://github.com/heartexlabs/label-studio/tree/release/1.1.0). Feel free to reopen if you have this problem again.

[2021-07-01 00:18] #641 closed

[2021-07-01 00:18] makseq commented on #959
This bug was fixed in [release/1.1.0](https://github.com/heartexlabs/label-studio/tree/release/1.1.0). Feel free to reopen if you have this problem again.

[2021-07-01 00:18] #959 closed

[2021-07-01 00:19] #951 closed

[2021-07-01 00:19] makseq commented on #983
Region performance was improoved in [release/1.1.0](https://github.com/heartexlabs/label-studio/tree/release/1.1.0). Feel free to reopen if you have this problem again.

[2021-07-01 00:19] #983 closed

[2021-07-01 05:20] nateraw commented on #1114
:heavy_check_mark: I just came here to submit this issue too. Very frustrating...

[2021-07-01 06:41] courseprojects opened #1118 "Adding ability to augment data"
Data augmentation is a technique to increase the amount and diversity of data without actually collecting new data. This comes in handy when labelled data are not easy to come by, and can help increase robustness of machine learning models. Currently in Label Studio, there isn't a way to augment data.

As an example, I have images for detection tasks. After drawing bounding boxes and labelling the

[2021-07-01 08:07] suvojit-0x55aa opened #1119 "How to update label-studio with docker-compose ?"
**Describe the bug**
Unable to update label-studio with docker-compose.

**To Reproduce**
Steps to reproduce the behavior:
1. Have `docker-compose up -d` running with v1.0.2.
2. Pull latest `git pull origin master`
3. Build new image `docker-compose build`
4. Run `docker-compose up -d`
5. It shows this message
[code]
5. Open a terminal on `app` container.
6. Run `pip install -U label-studio` to ge

[2021-07-01 08:16] twsl opened #1120 "Cannot import data from Azure"
**Describe the bug**
Cannot import data from Azure.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings', 'Cloud Storage'
2. Click on 'Add Source Storage'
3. Select 'Microsoft Azure'
4. See config image, connection works

**Expected behavior**
Should find and import all images within the container, e.g. https://labelstudiotest.blob.core.windows.net/reservoir/test.png

**Screensho

[2021-07-01 08:29] twsl commented on #1119
Try updating the container: `docker-compose down && docker-compose pull && docker-compose up -d`
It seems like the pip package is updated earlier than docker.

[2021-07-01 09:49] somejonus opened #1122 "Text labeling not working with spans containing non-standard characters"
When trying to label a span that contains a non-standard character at the beginning or the end of a word eg. "Collé" not the word itself, but an empty space before or after is marked.

Steps to reproduce the behavior:
1. Select label to mark a span that contains a non-standard character at beginning or end
2. Double click on span or make selection to label it

Span should be labeled as expected.

[2021-07-01 09:52] #1119 closed

[2021-07-01 12:38] roelvanderburg commented on #125
@deppp  Is there a way you can include me ? I am having similar issues. I'm uploading a 1 MB  json file that contains 21 separate tasks and the performance is very slow.

I am using **label-studio 1.1.0**
label-studio==1.1.0
label-studio-converter==0.0.29

**Environment** (please complete the following information):
Specs
OS: macOS Big Sur
Safari Version 14.1.1 (16611.2.7.1.4) (64-bit))
2,4 GHz 8-

[2021-07-01 13:35] roelvanderburg opened #1124 "NER Labeling: UI Performance issues with large task json files"
**Describe the bug**
I'm uploading a ~  1MB json file containing 21 tasks of around 50kB. These contain a larger text file of around 25kB with  10 to 15 Named-Entity-Recognition (NER) predictions. After uploading the file with the necessary config the UI responds very slowly. It can take up to ~30 seconds to open a task and even scrolling through the predicted document takes ~3 seconds.

**To Repr

[2021-07-01 14:45] function2-llx opened #1125 "Cannot locate the region"
**Describe the bug**
Cannot locate the region when click on it.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup project with the following interface and upload some text.
[code]
2. Select a label and annotate it to some region.
3. Scroll to somewhere else
4. Click the region on the right

**Expected behavior**
The text scrolls to where the region locates, however nothing happens.

**Sc

[2021-07-02 16:39] twsl commented on #1120
Not caused by labelstudio, error due to network issue with changed certificates

[2021-07-02 16:39] #1120 closed

[2021-07-02 21:09] #1058 closed

[2021-07-02 21:13] makseq commented on #1097
Hi, why do you use so ancient version of LS?
Looks like it's very modern version of label-studio-converter is installed. Look into requirements.txt and check what converter version is there, install it via

pip install label-studio-converter==0.xx

[2021-07-04 14:54] amtam0 commented on #869
Sorry for late reply
I managed to import tasks using a json file, which I find more convenient for my usage
`curl -H 'Authorization: Token MYTOKEN' -X POST 'http://0.0.0.0:10004/api/projects/ID/import' -F 'file=@/path_to/tasks.json'`
Thanks

[2021-07-04 14:54] #869 closed

[2021-07-05 07:53] R-Peleg opened #1134 "Performance issues while exporting a project ~5000 images"
**Describe the bug**
When trying to export a Bounding Box labeling project contains 4982 images, a gateway timeout occurred.
Raising the Nginx timeout did not resolve the problem, with more than 10 minutes passed without a response.

**To Reproduce**
Steps to reproduce the behavior:
1. create a project
2. Import several thousands of annotated images
3. Hit "Export", then select "COCO" and click "e

[2021-07-06 17:40] VladYushchenko opened #1141 "Negative width and height in bbox after resize in object detection example"
**Describe the bug**
Task/Example: image object detection
It is possible to create bbox with negative width, height or both using Label Studio web interface.

**To Reproduce**
Steps to reproduce the behavior:
1. Create bbox and select it
2. Resize bbox by dragging bottom right corner towards upper left corner and little bit beyond
3. The bbox will flip and the bbox anchor point shall be located un

[2021-07-07 00:06] twsl opened #1142 "Enable zoom by scrolling"
**Is your feature request related to a problem? Please describe.**
It's super annoying to zoom by clicking a button, if you have small objects in big pictures

**Describe the solution you'd like**
zoom by scrolling.

**Describe alternatives you've considered**
-

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-07-07 00:11] nader-bitstrapped-com commented on #1054
I just tried this with `1.1.0` and issue still persists.

[2021-07-07 08:15] yana25 opened #1143 "Siamese Model with Label Studio"
Hi,

I am interested in labeling 2 sentences to compare how similar they are using siamese model. Any suggestion how to do so?

[2021-07-07 08:20] niklub commented on #1143
Hi, @yana25 !
Take a look at this tag https://labelstud.io/tags/pairwise.html Do you think it might be useful for your case?

[2021-07-07 08:23] thesby opened #1144 "FileNotFoundError when I export result to json"
I labeled a lot of images and export result to json, an error occured:

[code]

python: 3.7.10
labelstudio: 1.1.0

[2021-07-07 08:27] yana25 commented on #1143
I'm trying to understand how that tag is working to label if the 2 sentences are similar or not

[2021-07-07 13:21] makseq commented on #1134
@R-Peleg Could you try to use the export from the latest master branch?

[2021-07-07 14:03] kaitco commented on #1014
Same bug still existent in LS 1.1.0

[2021-07-07 14:09] davidblom603 opened #1146 "Image labeling: increase the width and height of the image"
When using large screens, and annotating high resolution drone images, the image canvas is too small. It would be great if the container element around the canvas is not set to a max width of 750 pixels.

Screenshot for label studio 1.1.0:

![Screenshot from 2021-07-07 16-07-29](https://user-images.githubusercontent.com/63226970/124773832-98884a80-df3d-11eb-9761-a02d641f7afd.png)

Screenshot with

[2021-07-07 15:33] twsl commented on #1146
That goes hand in hand with #1142 , but maybe both of these issue should rather be placed at the frontend repo?

[2021-07-08 07:05] tpeet commented on #384
Would be also very interested in this feature, as it is currently hard to select regions for audio with low SNR

[2021-07-08 11:40] sumanshusamarora opened #1155 "Show PDF from local storage or upload"
I am trying to use PDF Classification template and when i upload my pdfs, they show as a text path to the pdf in-stead-of pdf view. Screenshot attached. Is this something expected or a bug?
![Capture](https://user-images.githubusercontent.com/45642655/124915648-2135e200-e035-11eb-8a2c-95f13c2f4411.PNG)

[2021-07-08 14:10] JulesBelveze opened #1160 "Upload already labeled data"
**Describe the bug**
I have an already labeled dataset and I want to upload it to Label Studio. I am using the API to do so and everything is working perfectly.

However, I would like those tasks to be considered as labeled. Because what I'm seeing right now in the project panel is `0 /  xxx`.
When is a task considered as "done"? Because I can seen that the `Completed` column has a value and I've

[2021-07-08 14:49] JulesBelveze commented on #1160
I managed to achieve the wanted behaviour by adding:
[code]
to the tasks.

But now when trying to export the data from the UI,  I get an empty JSON and an error 502 when using the API...

[2021-07-09 00:04] makseq commented on #1160
Looks like a bug, LS doesn't update is_labeled=True statistics or did it incorrectly. What API do you use?

[2021-07-09 00:07] makseq commented on #1160
What is your LS version? We fixed some troubles with is_labeled in the latest release 1.1.0

[2021-07-09 01:19] makseq commented on #1144
Please check this branch - https://github.com/heartexlabs/label-studio/pull/1161

OR (the correct track)

do you have `label_studio/core/version_.py`? This file will be automatically created on LS start if you have a git repo or it's already created if you use LS from pip.

[2021-07-09 01:24] #1028 closed

[2021-07-09 01:28] makseq commented on #992
@mauricio-repetto @timurlenk07 Does this bug exist in LS 1.1.0?

[2021-07-09 03:24] thesby commented on #1144
Yes,  `label_studio/core/version.py` and `label_studio/core/version_.py` exist.

[2021-07-09 06:46] JulesBelveze commented on #1160
Hey @makseq thanks for the quick answer!
I'm currently using v1.0.1 let me do the upgrade and see if I still run into the same trouble 😄

[2021-07-09 07:13] nicholasrq commented on #1124
hey! this is a really weird behavior. could you share sample of what you're uploading? if you don't want to share it here, you can send it to me via private message in our community slack. after that i'll be able to reproduce the problem and maybe we'll end up with a solution

[2021-07-09 09:53] alex-eurec opened #1163 "Reset password option is not working"
**Describe the bug**
`reset_password` option is not working because it cannot find the desired username (although the username really exists)

**To Reproduce**
1. Start labelstudio, go to GUI and signup like `test@test.com` or any other user
    ![image](https://user-images.githubusercontent.com/81571132/125058513-a3142280-e0aa-11eb-862b-b9166970d440.png)
2. Go to another terminal in the same serv

[2021-07-09 10:09] prohor33 opened #1164 "NER HTML Tagging gives wrong offsets"
**Describe the bug**
Markup json from NER HTML looks like this:
[code]

From Andrey comment in Slack:

Does this means HTML markup from LS become useless if the user labels entities in not top-to-bottom order? In this case offset will be counted from previous entity, but we don’t know has this entity already been marked or not when  current entity was labeled.
Given the fact, that we can’t guarant

[2021-07-09 12:27] gregor-mittag opened #1165 "Export annotations for local dataset and reimport them in a fresh label studio creates duplicates"
Dear label-studio team,

I have come across an issue of which I am not sure about how to classify it.
I would say label-studio does not behave according to my expectations, which can be one of two things:
A bug in label-studio or a bug in my expectations:

When I have an instance of label-studio running on localhost and I have also added the local storage as cloud storage I experience the followin

[2021-07-09 13:08] alex-eurec opened #1166 "Filtering by ID in between not working"
**Describe the bug**
The filter that is supposed to filter by ID is not working with the "in between" option

**To Reproduce**
1. Install LS v1.1.0
2. Create user, create project and upload 12 or more texts
3. Filter by ID between 2 and 3
4. See error
![image](https://user-images.githubusercontent.com/81571132/125081183-02336080-e0c6-11eb-83c8-9ac02d796464.png)

**Expected behavior**
The filter to

[2021-07-09 13:22] alex-eurec opened #1167 "Skip button disappeared form quick labeling"
**Describe the bug**
Skip button disappeared form quick labeling:

**To Reproduce**
1. Install LS v1.1.0
2. Create user, create project and upload 1 or more text(s)
3. Select one to enter quick labeling (do not select "Label all tasks" because there, it is working OK)
4. See error
![image](https://user-images.githubusercontent.com/81571132/125083676-f85f2c80-e0c8-11eb-9988-5fdf93c20e96.png)

**Exp

[2021-07-09 15:10] mauricio-repetto commented on #992
@makseq I updated the tool version and seems to be working fine now, great work man, thanks!

[2021-07-09 17:43] denck007 commented on #1146
I ran into this as well,  you need to set the maxWidth property in the tag, not in the style. Your tag should look like this:
`<Image name="image" value="$image" zoom="true" zoomControl="true" maxWidth="1500px"/>`

[2021-07-09 17:47] denck007 commented on #1142
If you click the image then hold down CTRL while using the scroll wheel you can zoom in and out. CTRL+SCROLL_DOWN is zoom in (which is backwards of what is typically expected).

[2021-07-09 20:23] twsl commented on #1142
Thats why scrolling didn't work, I didn't tried the inverted direction. Thanks for the tip @denck007.
That means I'm now rooting for changing th scroll direction.

[2021-07-09 22:13] makseq commented on #1142
@twsl does it mean that this issue is solved?

[2021-07-09 23:43] makseq commented on #1167
It's expected behaviour, skip button is available only in Labeling  mode (via blue Label button).

[2021-07-10 09:06] cclauss opened #1169 "Undefined names may raise NameError at runtime"
$ `flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics`
[code]

[2021-07-10 14:05] twsl commented on #1142
Unless you want to resolve the invertion of the scrolling direction in this issue, yes.

[2021-07-10 22:38] makseq commented on #1169
The class IsUserProjectOwner is deprecated, it's not used anywhere. And it will be removed soon.

[2021-07-10 22:38] #1169 closed

[2021-07-10 22:53] makseq commented on #1166
@alex-eurec Thank you for your report, we are on it!

[2021-07-10 23:01] makseq commented on #1163
@alex-eurec Does it work with SQLite? Do you have this issue only for postgres?

[2021-07-11 04:55] function2-llx commented on #1125
May I ask why this is added to the 1.3 milestone? This works very well in the previous version.

[2021-07-11 15:50] #1142 closed

[2021-07-12 03:17] jyao244 opened #1173 "Running setup.py install for Pillow ... error"
I use windows10, python3.9, pillow8.3.1
I try to install by git and pip, all fail.
The error messenge tell me that "Pillow 7.2.0 does not support Python 3.9" and tell me to see https://pillow.readthedocs.io/en/latest/installation.html, but I use pillow 8.3.1.

full error messenge:
Running setup.py install for Pillow ... error
    ERROR: Command errored out with exit status 1:
     command: 'C:\Use

[2021-07-12 04:32] shubhangi27397 opened #1174 "Unable to export my tagging"
**Describe the bug**
I am unable to export my data.

It is taking long time when I click on export but nothing happen and no error I found there.

I have also copy both sqlite.dll and sqlite.def and deploy on it another machine but unable to see any data from database backup.

Suggest me some steps.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down

[2021-07-12 09:06] R-Peleg commented on #1134
Tried on commit `1a3b1677`, still got timeout

[2021-07-12 10:41] alex-eurec commented on #1163
I tested with SQLite (new installation in a new Venv in an ubuntu 18.04 Desktop with LS v1.1.0) and all went as expected

![image](https://user-images.githubusercontent.com/81571132/125274595-69435600-e30e-11eb-93cf-087453c8b236.png)

[2021-07-12 10:50] alex-eurec commented on #1167
We (my team and I) found easier to use it in the quick label mode.
Nevertheless, as this is an expected change, I am going to close the issue

[2021-07-12 10:50] #1167 closed

[2021-07-12 12:28] schafsam commented on #1124
I have a similar issue. I load a task json with around 800 tasks for NER tagging on HTML. The file has 140MB. And by loading up the Data Manager the page gets unresponsive and Heide walks a mile :-) and the loading takes a few minutes. Once I get to the Data Manager scrolling down the task list makes the page again unresponsive.
If I look at the Chrome performance I see that the most of the time i

[2021-07-12 12:29] makseq commented on #1167
@alex-eurec What is your workflow of a skip button usage?

[2021-07-12 22:29] makseq commented on #1174
@shubhangi27397
Could you provide some logs from LS terminal? And a browser console?

[2021-07-12 23:58] makseq commented on #1173
@jyao244  Could you try Python Anaconda?

[2021-07-13 00:43] dentalala commented on #1155
Hi! You need to prepare a JSON-file with `HyperText` tag. You can find out how a similar config is set up [here at Playground](https://labelstud.io/playground/?config=%3CView%3E%3Cbr%3E%20%20%3CHyperText%20name%3D%22pdf%22%20value%3D%22%24pdf%22%2F%3E%3Cbr%3E%3Cbr%3E%20%20%3CHeader%20value%3D%22Rate%20this%20article%22%2F%3E%3Cbr%3E%20%20%3CRating%20name%3D%22rating%22%20toName%3D%22pdf%22%20maxRa

[2021-07-13 04:20] sumanshusamarora commented on #1155
The example takes the pdf source from an image which seems to work but in my case pdf comes from local storage and thats not working.

[2021-07-13 05:51] jyao244 commented on #1173
Thank you for your reply. I have try install by using anaconda, and it
works for me.

Max Tkachenko ***@***.***> 于2021年7月13日周二 上午11:58写道：

[2021-07-13 10:40] lluissalord opened #1179 "meta fields are lost after importing"
**Describe the bug**
We are importing our tasks using pre-annotated data and we are including some metadata on `meta` field which is a dictionary with two string values. On the original file we have this `meta` field with data, but after importing if we export or look on the Target Storage we see that the `meta` field is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Import JSON task

[2021-07-13 11:50] zakajd opened #1180 "Labeling instructions ignore empty lines formatting"
**Describe the bug**
When typing text into "Labeling instructions" field, I use new lines to split the text into logical blocks.
But when it showed, all text is formatted as one big paragraph, without any formatting.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new project
1. Go to Settings -> Intructions -> Labeling Instructions
2. Type any text with empty lines.
4. See error when

[2021-07-13 23:17] makseq commented on #1180
Instructions are in html format, please, use <br> for new line.

[2021-07-13 23:17] #1180 closed

[2021-07-14 07:04] schafsam commented on #1155
Hi @sumanshusamarora

This is how I was able to get my images into the project. But should work the same way with PDF’s.

I assume you run LabelStudio with the local files serving, described in the guide the whole section [here](https://labelstud.io/guide/storage.html#Local-storage) .

To get the path you can check the "Treat every bucket object as a source file" and copy a file to your _absolute

[2021-07-14 07:55] sumanshusamarora commented on #1155
Hi @schafsam The images work just fine mate. The problem is pdf preview. Try putting a pdf into your storage and see if that shows up even for pdf rating project.

[2021-07-14 12:04] #1054 closed

[2021-07-14 18:49] queenieho opened #1185 "Selected parameter in `Label` tag not working"
**Describe the bug**
Setting selected to be true in a label is not preselecting it.

In an NER usecase, we're trying to allow the user to select a label once, and label multiple entities until they select a different label. This would be possible only if we're able to get the `selected` parameter working on a `Label`, but that's not the case at the moment.

**To Reproduce**
Steps to reproduce the

[2021-07-15 07:22] alex-eurec commented on #1167
We prefilter some texts (from hundred to hundred thousands), and then click on one of the text results.
Then, we enter in the "Quick label mode" and we start labeling. If we want to skip to the next text because the present one is not interesting, we either use the shortcut or press "Skip".

We normally use "quick label mode" instead of clicking the "Label all tasks" because in the magnitude of hu

[2021-07-15 08:17] schafsam commented on #1155
@sumanshusamarora

I just tried the PDF classification template from the Playground with creating the task from syncronizing the storage. It also does not work for me. This is what I got:

<img width="833" alt="ls-pdf-problem" src="https://user-images.githubusercontent.com/37704298/125753876-121e47f3-0bd7-4ada-98ef-f34ea4ab48da.png">

<img width="833" alt="ls-pdf-problem-data-manager" src="https:/

[2021-07-15 08:22] sumanshusamarora commented on #1155
Ok, me too. Version 1.1.0 in a conda environment.

[2021-07-15 09:09] corum04190tws opened #1186 "How do I access the label-studio without login?"
Hi, as title
I've built  the label studio in dockerfile, I also add the "LABEL_STUDIO_USERNAME", "LABEL_STUDIO_PASSWORD" and "LABEL_STUDIO_USER_TOKEN" in env; then I still need to login my account.
Does any method let me access label studio without login the account?

Thanks for your answer!

[2021-07-15 13:18] makseq commented on #1134
We made some improvements here: https://github.com/heartexlabs/label-studio/pull/1151
Could you change the latest master please? @R-Peleg

[2021-07-15 14:23] timiil commented on #833
VERY useful this feature!

[2021-07-16 00:38] makseq commented on #1167
@alex-eurec do you mean you have a big delay between the current task and the next in the Label stream?

[2021-07-16 00:42] makseq commented on #1186
@corum04190tws Hi! Why do you have to avoid a login?

This pre-register your user in LS, so you can use these credentials in LS. You have to do it only once, your browser will save your credentials.

[2021-07-16 00:52] makseq commented on #1155
@sumanshusamarora @schafsam You have to use specially prepared tasks and load them as JSON files:

task.json
[code]

Add Local Storage (or another one) and DO NOT press sync button.
After you should prepare your task.json (or tasks.json) manually using links provided via Local Storage (like `https://some-url.top/labelstudio/data/local-files/?d=data/inbox/test.jpeg`) in <embed> tag:

[code]

I know

[2021-07-16 00:57] makseq commented on #1179
@lluissalord Where do you place `meta` ? In a task or in a prediction?
I recommend to put meta in a task.data:

[code]

[2021-07-16 01:00] makseq commented on #1125
@function2-llx Sorry, I missed when chose the milestone. Thank you for your report.

[2021-07-16 01:36] corum04190tws commented on #1186
@makseq Hi!! Thanks for your answer!
I want other team members to use this great labeling tool, that I made a docker image. If user want to use the tool, they have to know the account or register and then login, which is not a convenient step.

[2021-07-16 06:36] lluissalord commented on #1179
@makseq I place the `meta` at task level as it is specified on the API https://labelstud.io/api#tag/Tasks
[code]

I understand that inside task.data will work because that field is intent to remain, however I would recommend to fix the issue or modify the API in order to not confuse.

[2021-07-16 06:50] alex-eurec commented on #1167
Yes, and the delay is also at the beginning of the labeling itself, after the "Label all tasks" button is pressed.

For example, with 88753 task to label, it takes about 3.12 minutes in this screen with the moving dots. (I timed it)
![image](https://user-images.githubusercontent.com/81571132/125903051-1f3f8572-dbcc-41cd-8d12-3bd9cacf7c78.png)

After that, the time between current and next task is

[2021-07-16 08:00] hlomzik commented on #1185
Hi, @queenieho!
`<Label selected/>` really is broken, we'll fix it soon, it may be useful.
But to label continuously by the same label you can use setting "Keep label selected after creating a region".
Settings available from small button on the right sidebar with annotation info.

[2021-07-16 09:02] alexfecke commented on #1059
Try changing the GCS uri to the https version, i.e. `
https://storage.cloud.google.com/[...]` instead of `gs://[...]`

[2021-07-16 13:00] makseq commented on #1179
@lluissalord Thank you for your feedback, I hope we remove it soon.

[2021-07-16 15:06] uklft opened #1191 "Programmatically create relations"
Hi folks,

its a breeze to work with LS, thanks for the great tool!

Would it be possible to create Relations between Annotations/Predictions programmatically?

We would like to use the ml-backend to create Predictions that contain relations.
A simple solution would allow me to create an id for each Prediction-Label, which then can be referenced by the Relation.
But as far as i've seen Predictions

[2021-07-18 23:01] #633 closed

[2021-07-19 06:23] xdien opened #1192 "TypeError: o.filter is not a function"
# Version
- label-studio latest version from git
- label-studio-ml-backend custom model

After label-studio-ml-backend returns the expected result for each image.
![Screenshot from 2021-07-19 13-59-01](https://user-images.githubusercontent.com/3887577/126122099-83e7a36c-af44-4cf0-8bc3-b7501856eb2a.png)

with results
===============

[code]
Maybe the backend returns wrong result, but I don't know w

[2021-07-19 12:02] yashwantkeswani opened #1193 "Support for jsonlines files instead of a single json per file while importing data from S3"
Currently, if we are importing data from S3, we need to have a separate file for each input.

Instead of a single json file, we should support jsonlines format which would help us to reduce the number of files that are being created. This would help in lesser network calls to S3.
This makes it generic for the one datapoint per file, and would also solve for the multiple datapoints in one file usec

[2021-07-19 13:22] nicholasrq commented on #492
This issue was fixed and available since LS 1.0.1

[2021-07-19 13:22] #492 closed

[2021-07-20 03:18] xdien commented on #1192
Problem solved, backend must return a non-string array value for "rectanglelabels"

[2021-07-20 03:18] #1192 closed

[2021-07-20 10:34] triklozoid commented on #1163
How you run label-studio with postgresql? With docker-compose or manually setup connection through environment variables?
It's important to pass the same args and environment for server run and password reset command.
You can check `Database and media directory:` strings in logs, they should be identical.

[2021-07-20 13:18] dalekube commented on #1063
I assume most of these vulnerabilities can be resolved with npm module upgrades?

[2021-07-20 13:54] alex-eurec commented on #1163
Manually setup connection through environment variables. In fact, I am running a service that I created myself to keep LS running and controlled. The service is just calling a bash script with the variables in it and the `labelstudio` user (I leave the code below for both files).

<details><summary>Expand

`/lib/systemd/system/labelstudio.service`</summary>
<p>

[code]
</p>
</details>

<details><s

[2021-07-21 14:32] rexlow commented on #937
@jagan1333 I have exactly the error yesterday and I manage to solve it with the below approach. It depends on where and how do you publish the app. My mistake was deploying without specifying the `--service-account` flag.

For me, I decoupled `label-studio`, build the docker image (with some customizations) and deploy it with `gcloud run deploy`. I was deploying without specifying the correct serv

[2021-07-21 20:41] makseq commented on #1191
Hi,

Predictions are same as annotations, so you can try to make a relation by hands, submit an annotation and then explore the result. Copy the same relation structure to your ML backend.

[Check this example to see how the relation json looks](https://labelstud.io/playground/?config=%3CView%3E%3Cbr%3E%20%20%20%20%3CHeader%20value%3D%22Link%20logger%20events%20with%3Cbr%3E%20%20%20%20%20%20%20%20

[2021-07-22 03:54] liebkne opened #1201 "How to combine labels and choices?"
Hi,

I'd like to show different choices when different labels is selected, to add attributes to labels. Something like

[code]

does not work properly. I know I can use metadata to add attributes. But I'd like to provide different choices to help annotating. How can I do that? Thanks!

[2021-07-22 06:21] triklozoid commented on #1163
Sorry, I can't reproduce it, can you try these steps?
 * activate virtualenv
 * run label-studio with your pg settings in this way(without systemd): `DJANGO_DB=default POSTGRE_NAME=postgres POSTGRE_USER=postgres POSTGRE_PASSWORD=12345678 POSTGRE_PORT=5432 POSTGRE_HOST=localhost label-studio`
 * signup user
 * run reset_password command the same way: `DJANGO_DB=default POSTGRE_NAME=postgres POSTGRE

[2021-07-22 09:57] uklft commented on #1191
Hi, thanks for the reply!
I looked into the json data of annotations and relations.
My problem here is that the `id` field is set (randomly?) by the application on upload.
So if i want to create a relation programmatically i would need to know the id's of the Annotation beforehand:

[code]

If there was a way to set the id field on upload i could use that.

[2021-07-22 10:10] GeNiaaz opened #1202 "Return task ID with POST request response"
### Description

I have a use case where I want to POST a task using the JSON method, and I want to then retrieve the task ID that is auto-generated so I can subsequently open a separate window for that same task (which is the URL with the taskID tagged on at the end)

Currently, the response from POST request gives "task_count", "annotation_count" etc. I would like it to provide the auto-generate

[2021-07-22 13:17] inzomiac opened #1203 "Can you make the label buttons float even if you scroll your screen down"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

.lsf

[2021-07-22 14:30] inzomiac commented on #1202
`"""This file and its contents are licensed under the Apache License 2.0. Please see the included NOTICE for copyright information and LICENSE for a copy of the license.
"""
import time
import logging
import drf_yasg.openapi as openapi
import json

from django.conf import settings
from django.db import transaction
from drf_yasg.utils import swagger_auto_schema
from django.utils.decorators import m

[2021-07-22 14:36] inzomiac commented on #1124
Had the same thing with additional issue, when highlighting left most part of the panel for me to label it, it doesn't highlight the annotated text. Though the selected text shows on the Region Panel
![image](https://user-images.githubusercontent.com/16258456/126657269-ec83aa05-8501-4645-adc1-dab9c8c19776.png)

My text has a total of almost 15k characters

[2021-07-22 15:56] GeNiaaz commented on #1202
@inzomiac Thanks! I will try this tomorrow.

[2021-07-22 21:24] scott2b opened #1205 "More robustness around the way s3 target sync works."
Lack of information and error reporting in the s3 target sync makes it difficult to troubleshoot s3 target configs.

The current check for the target prefix checks if the prefix path exists and fails if it does not. This is not entirely helpful for a couple of reasons:

1. In an s3 context, paths are not really directory structures, so the idea of a path needing to exist in non-intuitive. While it

[2021-07-22 23:27] makseq commented on #1201
I checked your labeling config and I'd say it works. What's wrong with it exactly?
When I select different labels there are different choices are shown.

[2021-07-22 23:55] makseq commented on #1191
Why can't you use randomly generated ids? The main note: they must be different for all annotations.

[2021-07-23 00:01] makseq commented on #1203
We use a [similar solution](https://labelstud.io/playground/?config=%3CView%20style%3D%22display%3A%20flex%3B%22%3E%3Cbr%3E%20%20%3CView%20style%3D%22padding%3A%200em%201em%3B%20background%3A%20%23f1f1f1%3B%20margin-right%3A%201em%3B%20border-radius%3A%203px%22%3E%3Cbr%3E%20%20%20%20%3CView%20style%3D%22position%3A%20sticky%3B%20top%3A%200%22%3E%3Cbr%3E%20%20%20%20%20%20%3CLabels%20name%3D%22label

[2021-07-23 00:04] #1173 closed

[2021-07-23 00:05] #992 closed

[2021-07-23 00:10] makseq commented on #1115
@mauricio-repetto We can't assign ids manually, because it's DB depending and DB decides what ids there will be.

Why don't you put your ids into task.data and then filter/order by this column?

[2021-07-23 00:19] makseq commented on #1115
Why can't you use "name" for joining?

[2021-07-23 00:20] makseq commented on #1115
note: https://github.com/heartexlabs/label-studio-converter/blob/master/label_studio_converter/converter.py#L460

[2021-07-23 00:23] makseq commented on #1096
@fanweiya it's already there. Please add zoom="true" and zoomControl="true" to <Image> tag.
Hope it solves your issue.

For more info:
https://labelstud.io/tags/image.html#Parameters

[2021-07-23 00:23] #1096 closed

[2021-07-23 00:28] makseq commented on #771
@xuankhanhdo @amant555 @prathameshk
You can implement simple ML backend (but without ML :-) ). It could return an "empty" label for all doublicated words/sequences of words. Then your annotators will change "empty" to another label.

We are working on interactive prelabeling right now, hope you will check it soon :-)

[2021-07-23 00:41] #867 closed

[2021-07-23 00:41] makseq commented on #867
Hope the latest version works well.

[2021-07-23 00:46] makseq commented on #969
@zakajd Could you check this in release 1.1? We merged alternative versions of the image there and I hope the submit works as expected.

[2021-07-23 00:59] #1155 closed

[2021-07-23 01:02] makseq commented on #1081
@hlomzik Check it please!

[2021-07-23 02:39] liebkne commented on #1201
Sorry. It indeed works. I misunderstood the 'region' concept before.

[2021-07-23 02:39] #1201 closed

[2021-07-23 03:10] liebkne commented on #1052
Can I disable the `Create copy` button on the sidebar? How can I distinguish the annotations made by `Create copy` or `+`?

[2021-07-23 03:51] liebkne commented on #1052
One more issue I found is, after using `+` to submit new annotations, I got duplicate 'examples' for all different annotations when exporting.

[2021-07-23 04:21] inzomiac commented on #1203
The solution is working though I need to make sure that the label panel
doesn't move even if you scoll up or down.

see image below for reference on what I'm saying:
[image: image.png]

When scrolling down a small gap on top is hidden.
[image: image.png]

On Fri, Jul 23, 2021 at 8:01 AM Max Tkachenko ***@***.***>
wrote:

--
Regards,
Roel S. Reyes

[2021-07-23 08:25] uklft commented on #1191
I wasn't sure if i break some inner logic of the app if i upload Labels with the id already set. Testing this by setting predictions in the database seems to work, so i will test this further and see if it works with the ml_backend.
Thanks for the hint!

[2021-07-23 08:25] #1191 closed

[2021-07-23 08:59] uklft opened #1208 "Labels after a linebreak are not displayed (NER tagging)"
When creating Labels on a word after a linebreak, the annotation is not visible. However it shows up in the list of labels to the right.

Steps to reproduce the behavior:
1. Create new Project
2. Choose labeling Interface NLP > NER default template
3. Open Task with multiple paragraphs
4. Create label on word after newline (\n)
5. Do not see the Label

![Screenshot from 2021-07-23 10-55-52](https:

[2021-07-23 12:27] TueLindhart opened #1209 "Error when annotating last data-point in time-series"
**Describe the bug**
A clear and concise description of what the bug is.
When annotating time-series, it is not possible to annotate the last data-point in the time series. The "end" key in "result" becomes: "0NaN-NaN-NaN NaN:NaN:NaN"

**To Reproduce**
Steps to reproduce the behavior:
0. Install Label Studio 1.1 via docker.
1. Click on time-series task.
2. Mark time-series including last data-poin

[2021-07-23 12:48] sharkzeeh opened #1210 "First word is not highlighted when annotating texts"
**Describe the bug**
A clear and concise description of what the bug is.

When I want to put labels on text data for the NER NLP task including the first word of the sentence

**To Reproduce**
Steps to reproduce the behavior:
1. Start annotating some text
3. Select a label one wants to annotate the first word (or an entire sentence including the first word)
4. The label appears in the "Regions" se

[2021-07-23 15:04] uklft commented on #1210
Possible duplicate of https://github.com/heartexlabs/label-studio/issues/1208

[2021-07-23 15:15] scott2b commented on #1205
Regarding the lack of a "sync" option for s3 targets, here are a couple of further tips gathered from Slack conversation that help to mitigate this issue.

- Be sure to use the "future" setting for s3 sync. This will ensure that the export format for exports from LabelStudio matches the s3 target data format. Do this by setting the env variable: `FUTURE_SAVE_TASK_TO_STORAGE=1`

- Given the setting

[2021-07-23 21:31] HomelessSandwich opened #1212 "Azure Container Registry Failure"
I am having issues deploying the Dockerfile to an Azure Container Registry.
I am running these commands:
`az acr create --name myregistry --resource-group mygroup --sku standard --admin-enabled true`
`az acr build --file Dockerfile --registry myregistry --image label-studio .`

I get the following error near the end:

[code]

[2021-07-23 21:34] mauricio-repetto commented on #1115
Just in case, we were three persons working on a tagging task, each of us with a local version of the tool. After exporting files to COCO format the idea was to merge "easily" the three files. But then we realized that the ids didn't match, so, yes, we ended up building a python script to read each individual file and do some sort of mapping (based on the name), I think it could be easier if you a

[2021-07-23 23:33] makseq commented on #1052
@liebkne Could you try the latest commit from master?
We fixed something like you reported - https://github.com/heartexlabs/label-studio/pull/1211 - hope it's the same bug.

[2021-07-23 23:34] makseq commented on #1052
'+' must create an empty annotations

[2021-07-23 23:35] makseq commented on #1191
No, it mustn't break inner app logic.

[2021-07-23 23:37] liebkne commented on #1052
@makseq I will try it later.

I mean how can I prevent annotators from cheating by pressing the ‘create copy’ button ?

[2021-07-23 23:37] makseq commented on #1203
Sorry, can't see any images

[2021-07-23 23:53] makseq commented on #1052
@liebkne They should use blue Label button, there are no excess buttons :-)

[2021-07-24 00:12] makseq commented on #1166
Fixed in the latest master commit.

[2021-07-24 00:12] #1166 closed

[2021-07-24 00:15] makseq commented on #1165
@gregor-mittag could you check the latest commits from master? Hope it's fixed now.

[2021-07-24 00:17] makseq commented on #1115
https://github.com/heartexlabs/label-studio/issues/737

[2021-07-24 05:14] miwojc opened #1215 "[image: text recognition] Add buttons/keyboard shortcuts for rotate rectangle/polygon by 45deg and fine tune it by 1deg"
**Is your feature request related to a problem? Please describe.**
Rotating rectangles/polygons only works by using a mouse at the moment, there are no predefined rotations like horizontal, verical

**Describe the solution you'd like**
Add buttons/keyboard shortcuts to quickly rotate rectangle/polygon by say 45deg and then fine tune it by 1deg

**Describe alternatives you've considered**
The only

[2021-07-24 06:19] gregor-mittag commented on #1165
@makseq thanks for taking care of my issue!
However, I am currently on vacation without access to my computer. I will check when I am back in 2 weeks.

[2021-07-24 07:01] royschwartz2 commented on #867
@makseq It does! Thanks!

[2021-07-24 14:19] #1212 closed

[2021-07-26 02:15] stantonius commented on #1208
I am also experiencing the same issue with the same setup. I had concluded this issue was appearing after newlines as well. However I get a different js error:

`DOMException: Failed to execute 'setStart' on 'Range': There is no child at offset 1.`

I do get the same warning message as OP:

`No range found to highlight`

Note that this behaviour is random. 9/10 times, terms in the subsequent parag

[2021-07-26 07:37] gillhofer opened #1216 "After klicking "submit" a JS exception is thrown preventing a new instance to be loaded to get labeled."
**Describe the bug**
"Label all Tasks" is broken in 1.1.0 (probably only with TimeSeries Labeling)
After clicking "submit" on a labeled instance, the current label gets stored, but no new instance is loaded. Instead the interface remains grayish. And a JS Exception is thrown

**To Reproduce**
Steps to reproduce the behavior:
1) Click: "Label all Tasks"
2) Assign label
3) Click "Submit"
4) Request

[2021-07-26 10:40] function2-llx commented on #1125
By checking commits in [this page](https://github.com/heartexlabs/label-studio/commits/release/1.1.0?after=94e8f7061637800f16551a5e75f4d81e9de3d67b+69&branch=release%2F1.1.0), the oldest commit since which I find this function not work is: c9f2b560eead444d97ac94b74f18ca9b10ac628a, in e7c0642bee79af10a1643c3ca5bb3c0af21e269d it still works.

[2021-07-26 11:43] sharkzeeh commented on #1210
@uklft yes, sure, my issues seems the same as yours

[2021-07-26 12:41] sharkzeeh commented on #1208
Additionally, if one toggles "Select text by words" in the "labeling interface" menu and highlights the word after '\n' (and corresponding sentence) the selection by words does not work.

![image](https://user-images.githubusercontent.com/36710035/126990324-7b251115-9a0b-48df-a60a-3a681222e509.png)

[2021-07-26 16:07] makseq commented on #1216
@gillhofer I've checked it on the latest master branch and not found this problem.
Could you install LS from the latest master branch?

[2021-07-26 16:11] makseq commented on #1210
@uklft @sharkzeeh could you check the latest LS master branch? I hope it's fixed there.

[2021-07-26 17:02] lightsaway commented on #1059
@alexfecke changing this to `https://storage.cloud.google.com/` needs to make sure your google account in browser can access that.
I think the proper solution here can be one of  -
*  when importing / parsing uri the uri should be signed and returned as signed uri, so it should behave like "storage" module.
* the image data  is proxied through label-studio server that does read image data with ser

[2021-07-27 06:52] lightsaway commented on #1059
@suvojit-0x55aa i think this can be fixed with https://github.com/heartexlabs/label-studio/commit/5c5b78446b13e3feb71fc6209c8d3ad845bb6beb
if you will create gcs storage with the prefix that will match folder in gs, on import that will turn that into "signed" url

[2021-07-27 08:27] uklft commented on #1210
@makseq For me this issue is sadly not resolved with the latest master branch. Same problem and same error messages in the js-logs:
![Screenshot from 2021-07-27 10-26-43](https://user-images.githubusercontent.com/35134759/127122154-442f4efa-df6a-4756-bab5-cb1bf3f1ceab.png)

[2021-07-27 10:01] sharkzeeh commented on #1210
We are also using the latest version from the master branch

[2021-07-27 10:26] NavjotBansal opened #1221 "Cloud storage import loads url instead of text and videos works fine for images"
**Describe the bug**
While importing text and video format documents from object-storage aws/azure the document is represented in the form of the preauth URL.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect your aws container blob and import txt files from it
2. Select a default NER tagging from labeling interface.
3. Sync the data.
4. Go to tasks
5. Click on any task and verify

**E

[2021-07-27 13:03] twsl commented on #1134
I had the same issue just exporting to COCO format.
There should be a option only to export the label file and keep the images in the cloud.

[2021-07-27 14:36] NavjotBansal commented on #1221
Hi guys chaning the template for text annotation to
<View>
  <Labels name="label" toName="text">
    <Label value="PER" background="red"/>
    <Label value="ORG" background="darkorange"/>
    <Label value="LOC" background="orange"/>
    <Label value="MISC" background="green"/>
  </Labels>
  <Text name="text" value="$url" valueType="url"/>
</View>

Worked is there a similar workaround for videos as

[2021-07-27 20:14] lxtadhamnawito opened #1224 "Reset button doesn't reset images if it has multiple completions"
**Description**
Let's say you are a reviewer and reviewing someone's work. So you opened his Task it contains (2 completions) both contain his image classification for example.
Now if I tried to do some changes to one of the completions and switched back to the second one, then returned again to the first, and pressed RESET, nothing will happen.
After investigation I found that history[0] which th

[2021-07-28 00:44] makseq commented on #1221
@NavjotBansal Please check the latest master commits, we merged some edits about <Video> tag, it must work as you expected, but without valueType. Just write <Video value="$url" />

[2021-07-28 00:46] makseq commented on #1224
@lxtadhamnawito Sorry, this is very old LS version and we don't support it. Why are you using it still?

[2021-07-28 01:54] Gondragos commented on #1122
Just to make sure that I understand the problem. Do you use `granularity= "word"` attribute of the text tag?

[2021-07-28 07:31] somejonus commented on #1122
Correct!

`<Text name="text" value="$ner" granularity="word"/>`

[2021-07-28 07:39] NavjotBansal commented on #1221
@makseq I am able to fix the video issue by changing the
`  <HyperText name="video" value="$video"/>
to
  <Video name="video" value="$url" valueType="url"/>
`
The latest commit is still not resolving the issue

[2021-07-28 10:08] lxtadhamnawito commented on #1224
@makseq , I've been using it for long time ago and built things upon it and can't upgrade to newer versions of LS rn.

[2021-07-28 10:18] mcombalia commented on #317
@jrdalenberg while that is an option, this is not useful when researchers need to zoom to image regions in order to label them. An option is to do patches but then you are losing the contextual information for labeling. The platform that I am using ATM for that is Digital Slide Archive.

[2021-07-28 11:54] gillhofer commented on #1216
Appears to be a bug in 1.0.2 too, but not in 1.0.1.
#1014

[2021-07-29 02:43] wanburana opened #1229 "Ability to *enlarge* an image (not zoom in) or fix the default image display size (for small images)"
**Is your feature request related to a problem? Please describe.**
The images i was annotating is very small (80*60) and the display is showing that size, which is too small to do comfortably
![image](https://user-images.githubusercontent.com/66191669/127422425-b6d81899-a501-4868-8275-db1c8d2357a3.png)

I'm not sure if I miss anything but I have tried changing the config according to this [page](h

[2021-07-29 05:33] bethard opened #1230 "set default zoom of AudioPlus"
**Is your feature request related to a problem? Please describe.**

When using AudioPlus, long audio files start at minimum zoom level, which is impractical for annotation. Currently, every time a task is visited, the annotator has to manually hit the zoom button to get back to a more reasonable level

Is there any way to set the default zoom level of AudioPlus? Or to go back to the previous zoom

[2021-07-29 09:32] jimsandwick99 commented on #1208
Seems to be the same for me but in case this error helps any more.. seems to repeat (I presume for every instance of a label that is not displayed visually).

<img width="520" alt="Screenshot 2021-07-29 at 10 29 39" src="https://user-images.githubusercontent.com/4035754/127468281-acda83cf-4654-4a2e-86fb-6e31cf34b900.png">

Crhome Version 91.0.4472.164 (Official Build) (x86_64) / MacOS MoJave Versi

[2021-07-29 09:53] 1ytic commented on #1210
I have the same issue. If the span starts on a new line, it is not highlighted.

[2021-07-29 11:39] BratchenkoPS commented on #1193
I stambled across the same issue, it seems like the only way to sync files from storage now is either run an http server with url's and use UI (which is not practical for projects with 10+ people working on labeling) or just load 1 file per task, which is also not very practical when you working with dialogues and you have tens (if not hundreds) of thousands or tasks. Hopefully this will be implem

[2021-07-29 17:04] lluissalord opened #1231 "Regex filter"
**Is your feature request related to a problem? Please describe.**
I would like to be able to use regex patters in order to filter among all the text tasks which I have in my project

**Describe the solution you'd like**
Add regex operation on the filters

**Describe alternatives you've considered**
Currently I am using the `contains` operation but it lacks some features in comparison to regex

[2021-07-30 17:25] anyght opened #1232 "GCP import doesn't work correctly"
I've deploy label studio with the latest image on Kubernetes, then complete the form to connect to google storage bucket. the sync is OK, but I have  the task number updated with no picture added.

![image](https://user-images.githubusercontent.com/59748997/127687837-e7fa6e82-edbf-4790-8540-1388d77d2037.png)

when I delete the bucket sync, i can see some objects but I cant access to it.

![image](

[2021-07-31 04:26] enthusiastic12 opened #1233 "installation of label-studio via python 3.7"
I am currently on NER models in UiPath. For this purpose I am installing label-studio on my machine which is having windows 10 operating system. I have successfully installed the label-studio via python on my machine. But I am unable to launch it as it gives the following error in cmd.
[code]
I have set the PATH variable also and crossed checked it.

Any help in this regard will be highly apprecia

[2021-07-31 08:02] makseq commented on #1233
How did you install LS? Via pip install?

Please, try to use Anaconda Python.

[2021-07-31 08:04] enthusiastic12 commented on #1233
I have installed python and then  run pip command on it

[2021-07-31 08:07] enthusiastic12 commented on #1233
Now I am trying to install it via docker. But after creating volume on docker I am using `docker run -it -p 8080:8080 -v labeldata:c:/label-studio/data heartexlabs/label-studio:latest` command to install Label studio. But facing issues,

[2021-08-01 22:12] makseq commented on #1229
@wanburana Try to combine `width`, `maxWidth` and zoom options:

[code]

Hope this helps.

[2021-08-01 22:33] makseq commented on #1210
@sharkzeeh @uklft @1ytic
https://github.com/heartexlabs/label-studio/pull/1234

Could you install LS from this branch please (fix/highlight-ls) and check this problem again?

[2021-08-02 00:16] makseq commented on #1232
@anyght Do you have 23 tasks on your bucket or more?

[2021-08-02 07:13] anyght commented on #1232
I have 23 task on my bucket.

[2021-08-02 07:45] uklft commented on #1210
Hey @makseq, it seems to work for me. Thank you so much for fixing it that fast!

[2021-08-02 08:40] farioas commented on #1232
@anyght could you please provide the detailed configuration of volumes from your k8s manifest: `spec.containers.volumes[]`

[2021-08-02 09:50] anyght commented on #1232
![image](https://user-images.githubusercontent.com/59748997/127841883-a0b43eb1-97b6-486f-84b3-149794c13059.png)
![image](https://user-images.githubusercontent.com/59748997/127842018-99f91cfc-0883-4ec4-bd00-94f3e0b5555f.png)

[2021-08-02 16:38] wanburana commented on #1229
yep, it worked!, thank you~

[2021-08-02 16:38] #1229 closed

[2021-08-03 15:35] lluissalord commented on #1210
Do we have any update on when #1234 is expected to be merged to master?

[2021-08-03 16:13] MiguelFreire opened #1236 "Bad Gateway when exporting with COCO and YOLO"
Hello,

I have label-studio behind a NGINX reverse proxy. I'm trying to export a 230 sample dataset with COCO and YOLO format but I'm getting a bad gateway error. All the other export methods work without any issue.

Any clue if this comes from your web API or the nginx reverse proxy? If so any suggestion on how I can fix the issue?

Cheers,
Miguel

[2021-08-03 18:37] sharkzeeh commented on #1210
@lluissalord  @makseq
Hi! Sorry, I didn't answer yesterday. I've tried it - works as expected now! Thanks

[2021-08-05 03:59] wanburana opened #1239 "Is it possible to batch labeling(label multiple images at the same time)?"
**Is your feature request related to a problem? Please describe.**
Me and my team design the data collection (activity classification) strategy that make same class close to each other, it's also relatively easy to identify which class it is.

Is it possible to label multiple images at the same time, going through each image is kinda time consuming considering we get a lot of image. I didnt see th

[2021-08-05 07:57] ch1ll opened #1240 "Potential memory leak in prediction retrieval"
Hey all, just hoping if anybody can provide some insight to memory issues I’ve been encountering with our Label Studio deployment.
We are running version 1.1.0 in a manner similar to your docker deployment with containers for app, postgres, nginx, ml_server and redis.
Problems occur when attempting to retrieve predictions for the whole dataset (40k tasks, 10k annotations) through the UI (by toggli

[2021-08-05 08:49] royschwartz2 opened #1241 "Disappearing brush stoke on semantic segmentation annotations"
**Describe the bug**
When making a brush stroke, part of the brush stroke disappears while working on the stroke, only to appear again when releasing the mouse click.

**To Reproduce**
Steps to reproduce the behavior:
Create a brush stroke of more than just a click.

**Expected behavior**
The brush stroke (mask) should appear throughout the annotation process. Otherwise, this is quite confusing.

[2021-08-05 08:57] royschwartz2 opened #1242 "Undo works unexpectedly in semantic segmentation tasks"
**Describe the bug**
Undo has three problems:
1. It removes the last brush stroke (expected behaviour), but also unchecks the chosen label (unexpected behaviour). This means the user has to re-select the label after each undo action.
2. Also, if a first annotation was done on an image, this behaviour also leaves the region in the region list, although it's empty.

**To Reproduce**
Choose a label,

[2021-08-05 08:59] royschwartz2 opened #1243 "In semantic segmentation, hiding annotations and submitting/updating task deletes the annotations"
**Describe the bug**
After annotating using the semantic segmentation brush, if you hide the annotations and click submit/update, all annotations are deleted.

**To Reproduce**
1. Create an annotation
2. Hide it (using the open eye button to change it into a closed eye button)
3. Click submit if new, or update if previously submitted

**Expected behavior**
Annotations should not be deleted

**Envi

[2021-08-05 09:02] royschwartz2 opened #1244 "Semantic segmentation module becomes sluggish with several regions annotated"
**Describe the bug**
When annotating several regions and labels the program becomes very sluggish. For example, zooming in and out takes a long time, hiding/unhiding annotations takes time.

**To Reproduce**
Steps to reproduce the behavior:
Annotate several regions and labels (seems like it's more of a problem with different labels)

**Expected behavior**
According to the release notes this proble

[2021-08-05 09:04] royschwartz2 opened #1245 "Zoom bug in semantic segmentation model"
**Describe the bug**
In the semantic segmentation model, when you zoom in to annotate, leave the task and return to it, the annotations look empty. If you zoom in to the same level an annotation was made, they reappear and stay regardless of the zoom level. However, they disappear again on leaving and re-entering the task.

**To Reproduce**
Steps to reproduce the behavior:
Zoom in to annotate -> z

[2021-08-05 09:07] royschwartz2 opened #1246 "in semantic segmentation, new brush strokes cover old ones"
**Describe the bug**
When annotating using the semantic segmentation module and choosing a different label, when you choose the previous label again and add to an existing area the brush appears on top of the old one (like in a painting app).

**To Reproduce**
Steps to reproduce the behavior:
Annotate an area using a label -> annotate a different region using a different label -> annotate the firs

[2021-08-05 09:09] royschwartz2 opened #1247 "Hotkey for brush size in semantic segmentation"
**Is your feature request related to a problem? Please describe.**
I work with annotations that require pixel accuracy. Currently changing the brush size is a bit of a drag, since it requires going back to the scrolling brush size element, and doesn't show the actual brush size.

**Describe the solution you'd like**
A hotkey would be great - to increase/decrease brush size. In addition, it would b

[2021-08-05 09:11] royschwartz2 opened #1248 "Lost task position in quickview and fullview"
**Is your feature request related to a problem? Please describe.**
For my annotations, I need to filter all tasks to get a shorter list. When I click and choose a task, the annotation screen appears on the right and the list on the left. However, I have to re-scroll again to find the current task.

**Describe the solution you'd like**
The left-side list of tasks should preferably be focused to the

[2021-08-05 10:01] PushpakBhoge512 opened #1249 "Prediction json format for segmentation model results"
I created a project directly by adding the entries in the database, following entries were made, the project was for semantic segmentation
1 in the task table
1 in the prediction table
When I opened the project and click on one of the images I can see the segmentation drawn correctly, I click on another the segmentation is not drawn, I check the one (which was drawn correctly) now, even there the

[2021-08-05 18:42] ktobah opened #1250 "Exporting as CoNLL results in a sentence per line"
Hi,

I am planning to train a NER model (Chinese data), so I imported some tasks including predictions as a json format to label-studio. I finished checking and labeling them. Then, I chose to export my annotations as CoNLL format.

It ended up exporting the whole task text as the token per line, as follow:

[code]

It is supposed to output one token per line. Any thoughts on why this is happening

[2021-08-05 20:05] ktobah commented on #1250
I think I figured out the issue. It has to do with the fact that the label-studio converter expects the text to be in English (or Latin in general). So it uses the WhiteSpaceTokenizer() in [create_tokens_and_tags(text, spans)](https://github.com/heartexlabs/label-studio-converter/blob/master/label_studio_converter/utils.py).

This won't work for Chinese. So is there a workaround?

[2021-08-06 14:22] anyght commented on #1232
any suggestion?

[2021-08-06 22:33] makseq commented on #1249
1. What LS version do you have?
2. What labeling config do you use?
3. What task json did you import?

[2021-08-06 23:00] makseq commented on #1236
@MiguelFreire Hello,

The export might be slow because of image downloading (YOLO and COCO put images to output archive). NGINX might reset the connection before this download finishes.

[2021-08-06 23:02] MiguelFreire commented on #1236
I tried to increase timeout to 5mim and the error became a "Bad Gateway". Should I also increase it in your NGINX service?

Cheers

[2021-08-07 12:32] makseq commented on #1239
Hi, we had some experimental features where you could propagate one annotation from one task to many another tasks. Will it solve your problem somehow?

[2021-08-07 13:14] wanburana commented on #1239
I'm not sure that's what I intended to solve, I want to be able to either:
- select multi images and assign to one class in a click (without having to go through image one by one) or
- left click drag to select multiple images and assign to one class

(I understood that it's kind of defeat the purpose of using annotation tool, but I think my images is relatively easy to classify without having to

[2021-08-07 13:15] yoku2010 opened #1257 "Issue with the "Create" project button"
Hi,

I have installed label-studio using pip command and started playing around with Project and Tasks. I found one issue with the "Create" project button. It might be a frontend issue.

**To Reproduce**
Steps to reproduce the behaviour:
1. Login with a valid username and password.
2. Click on the "Create" button. It will open a popup where the user can provide project details.
3. Suppose the user

[2021-08-08 06:31] yoku2010 commented on #1257
I was supposed to add `onClose` function in `onHide` event of Modal.

<img width="1102" alt="Screenshot 2021-08-08 at 11 14 29 AM" src="https://user-images.githubusercontent.com/1465530/128622601-1f4b592c-f1b3-4ce5-b937-825bd9589f11.png">

But when the user clicks on create project button, we create a project with the "New Project #x" name and do not even reload the project list. So `onClose` was

[2021-08-08 10:07] makseq commented on #1257
Thank you very much for your request, I sent your PR to our frontend team, they should check it.

@hlomzik

[2021-08-09 02:11] function2-llx commented on #538
Seems not work when `perRegion` is true, check [this playground](https://labelstud.io/playground/?config=%3CView%3E%3Cbr%3E%20%20%3CLabels%20name%3D%22label%22%20toName%3D%22text%22%3E%3Cbr%3E%20%20%20%20%3CLabel%20value%3D%22label%22%2F%3E%3Cbr%3E%20%20%3C%2FLabels%3E%3Cbr%3E%20%20%3Cbr%3E%20%20%3CChoices%20name%3D%22choice%22%20toName%3D%22text%22%20choice%3D%22multiple%22%20perRegion%3D%22true%

[2021-08-09 02:31] function2-llx opened #1259 "labeling interface parsing fails on `Choices` of single length"
**Describe the bug**
Parsing labeling interface config with `Choices` containing only one `Choice` will fail with the following error:

[code]

**To Reproduce**

Check [this playground](https://labelstud.io/playground/?config=%3CView%3E%20%20%3Cbr%3E%20%20%3CChoices%20name%3D%22choice%22%20toName%3D%22text%22%20choice%3D%22multiple%22%3E%3Cbr%3E%20%20%20%20%3CChoice%20value%3D%22choice1%22%20%2F%3

[2021-08-09 06:10] inzomiac commented on #1203
Hi Heartexlabs/Label-Studio,

Your solution works for me.

Thanks

On Sat, Jul 24, 2021 at 7:37 AM Max Tkachenko ***@***.***>
wrote:

--
Regards,
Roel S. Reyes

[2021-08-09 06:12] #1203 closed

[2021-08-09 07:40] makseq commented on #1236
@MiguelFreire yes, nginx must he increased too.
How many tasks do you have?

[2021-08-09 08:08] inzomiac commented on #1210
tried this fix by using git checkout only... I still encounter this issue :(

[2021-08-09 08:10] inzomiac commented on #1210
See image for reference
![image](https://user-images.githubusercontent.com/16258456/128676572-2c8769f8-f9d3-40ad-a595-05cd2db63f6b.png)

[2021-08-09 08:10] inzomiac commented on #1210
![image](https://user-images.githubusercontent.com/16258456/128676640-448cf767-de54-47b7-9771-4d5f519d1940.png)
using branch fix/highlight-lsf

[2021-08-09 08:19] inzomiac commented on #1210
ok seems that when you download the entire source code from this branch it fixes the issue.
Hope you could push this fix in master 👍 Thanks... Kudos to the one who fixed this

[2021-08-09 10:09] mbuet2ner opened #1261 "Get predictions API database error"
**Describe the bug**
Documented API call for ".../api/predictions/" fails with status code 500.
There seems to be a database query error for the organization field (see additional context for error message).
However, ".../api/organizations/" returns a valid organization `[{'id': 1, 'title': 'Label Studio'}]`.

**To Reproduce**
Steps to reproduce the behavior:
GET request at ".../api/predictions/"

[2021-08-09 10:58] yoku2010 commented on #1261
Hi @mbuet2ner,

It has been fixed in the master branch.

Please check this commit:
https://github.com/heartexlabs/label-studio/commit/508722583d342623834f9e0a63a8ab437fe5bf6a

This code will release soon as you can see it has been merged with the master branch.

If you need a quick fix, so please pull the master branch code.

Thanks

[2021-08-09 11:06] royschwartz2 opened #1262 "For semantic segmentation tasks eraser size is static but should be adjustable"
**Is your feature request related to a problem? Please describe.**
The current eraser size for semantic segmentation tasks is static and cannot be changed. For tasks requiring pixel-accuracy it's too big.

**Describe the solution you'd like**
The brush slider should also work for the eraser. Instead, when moving the slider the brush tool is selected again.

**Describe alternatives you've considere

[2021-08-09 11:14] royschwartz2 opened #1263 "In semantic segmentation, region/label highlight is shown in the wrong place when zooming in"
**Describe the bug**
There is a cool feature that highlights the region on which the mouse cursor hovers. However, when zooming into an image, the highlight is thrown off target and shown in the wrong location.

**To Reproduce**
Steps to reproduce the behavior:
Annotate, zoom in, hover over the relevant annotation with the mouse, observe image.

**Expected behavior**
The highlight should be in the

[2021-08-09 11:48] gregor-mittag commented on #1165
Back from vacation!
@makseq when you ask me to check the latest commits from master, do you mean to follow the instructions here? https://github.com/heartexlabs/label-studio#install-for-local-development
Or are there some pre-releases or nightly releases available?

[2021-08-09 12:07] yoku2010 commented on #1259
To convert XML to python Dict (OrderedDict) label-sudio is using xmljson library.

It converts a single object into OrderedDict, and multiple objects are converted into a list of OrderedDict.

Please check this code:
https://github.com/sanand0/xmljson/blob/master/xmljson/__init__.py#L165

@makseq To fix this issue, you have to overwrite this data function. 🤓

[2021-08-09 12:36] mbuet2ner commented on #1261
Hi @yoku2010 ,

Thanks for the info 👍 .
Closing it for now then!

[2021-08-09 12:36] #1261 closed

[2021-08-10 07:33] Theo-HENAFF opened #1266 "UTF-8 caracter in filename"
**Describe the bug**
I'm using label-studio to annotate data for yolov5 training.

**To Reproduce**
After annotation I do an export in YOLO format which was working great until I started a new project. This time I don't get the same count of labels and images (252 images and 266 label text files after export).

**Expected behavior**
Same number of images and labels in YOLO export, with filename li

[2021-08-10 09:49] alexfecke commented on #1059
@lightsaway Yes, agreed. The external gcloud storage uri is an ugly workaround. The second option that you mentioned, "image data is proxied trhough label-studio server" sounds like what I wanted to achieve. I did not get that to work, however...

[2021-08-11 10:00] mkerj opened #1271 "Uncaught TypeError: Cannot read property 'content' of undefined"
Warning: Cannot update a component (`wrappedComponent`) while rendering a different component (`RelationItem`). To locate the bad setState() call inside `RelationItem`,

Uncaught TypeError: Cannot read property 'content' of undefined
    at stageRelatedBBox (BoundingBox.js:73)
    at _detect (BoundingBox.js:110)
    at Function.bbox (BoundingBox.js:16)
    at RelationShape.boundingBox (RelationSha

[2021-08-11 13:07] yoku2010 commented on #1271
@mkerj Could you please share the steps to reproduce this error?

[2021-08-11 14:01] denck007 opened #1273 "Version labeling interface"
As a project progresses it is fairly common to discover additional fields that may need to be added.  An issue can arise where a field is added and the field applies to already labeled data.

**Is your feature request related to a problem? Please describe.**
Example -Labeling images with defects:
Start off with label choices of 'Scratch', 'Dent', 'Crack'. As you start to label and build models, yo

[2021-08-11 14:59] Bolopenet opened #1274 "Parquet format support for data import"
**Is your feature request related to a problem? Please describe.**
Currenly parquet data format is not supported for import.

**Describe the solution you'd like**
There are is already a parquet package but I'm not sure how much effort it would take to integrate or if it would be possible:  https://github.com/ironSource/parquetjs

[2021-08-11 18:08] tomasohara opened #1277 "typo in example code from "Evaluating Named Entity Recognition parsers" blog"
**Describe the bug**
Typo in sample code from https://labelstud.io/blog/Evaluating-Named-Entity-Recognition-parsers-with-spaCy-and-Label-Studio.html:

should be

That is, the wrong key _line_te**s**t_ is used for data frame column.

**To Reproduce**
Try to run the sample code from the above blog.

**Expected behavior**
After running the script, there should be the the two files tasks.json and line

[2021-08-12 00:12] makseq commented on #1277
@smoreface Could you check & fix it please?

[2021-08-12 00:29] tomasohara opened #1278 "Cannot instantiate NER template via command line"
**Describe the bug**
Cannot instantiate NER template from the command line as per https://labelstud.io/templates/named_entity.html. Instead an error is reported:

**To Reproduce**
- Run `label-studio init --template=named_entity named_entity_project`

**Expected behavior**
No error messages.

**Environment (please complete the following information):**
 - OS: Ubuntu 18.04
 - Label Studio Version:

[2021-08-12 00:56] makseq commented on #1125
@function2-llx Could you check the latest master branch on the main LS repo? Is it fixed there?

[2021-08-12 00:59] makseq commented on #1208
@uklft @stantonius @sharkzeeh @jimsandwick99 Could you please check the latest master commit from the main LS repo? We fixed a lot of problems with NER labeling there.

[2021-08-12 07:07] function2-llx commented on #1125
@makseq I've tried the latest commit in the master branch and it seems to work well again! Thanks!

[2021-08-12 10:28] salmenf opened #1281 "API endpoint for login"
**Is your feature request related to a problem? Please describe.**
With labelstudio 1.1, it is now possible to automatically create an account on startup. However, my use case is to completely hide the login step from users. For this, a login endpoint in the API would be great.

**Describe the solution you'd like**
As suggested by @makseq himself in #1028, an API endpoint such as this might be imp

[2021-08-12 12:28] salmenf opened #1283 "Make left sidebar hidable in task view"
I don't know  if this is already possible right now, but I couldn't figure it out with the docs, so here goes a feature request:

**Is your feature request related to a problem? Please describe.**
Right now, the annotation interface feels a bit crowded for my use case: In my scenario, an end user follows a hyperlink to one specific task which he completes (example URL: `/projects/1/data?tab=1&task

[2021-08-12 14:55] MalteEbner opened #1285 "pip install fails by not finding psycopg2-binary==2.8.4"
**Describe the bug**
Running `pip install label-studio==1.1.0` in a venv it fails with

[code]

**To Reproduce**
Steps to reproduce the behavior:
`pip install label-studio==1.1.0`

**Environment (please complete the following information):**
 - OS: macOS 11.4 (20F71)
 - Label Studio Version 1.1.0
 - Python version: 3.9
 - pip version: 21.2.3

[2021-08-12 17:40] #1277 closed

[2021-08-12 21:06] jimsandwick99 commented on #1208
Hi. Thanks for the update. I will try to test it and will feedback in due course. Cheers

[2021-08-12 23:13] HarshSharma12 opened #1289 "Duplicates in export json"
**Describe the bug**
For an object detection task, if the `Total annotations per task` is more than 1 then the export json contains duplicates for all the tasks. The expected number of annotations if the `Total annotations per task` is n would be n but the json contains 2*n items and each of them will have all the annotations.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new proj

[2021-08-13 09:29] suvojit-0x55aa opened #1293 "Sticky selection of Rectangle and polygon Labels"
**Is your feature request related to a problem? Please describe.**
It is frustrating to scroll down from the image to select the type of label every time for small object annotations.

**Describe the solution you'd like**
Sticky selection of labels for polygon and rectangles, once selected it'll stay selected until it's deselected or another label is selected.

[2021-08-13 10:42] makseq commented on #1164
Fixed in release https://github.com/heartexlabs/label-studio/releases/tag/v1.1.1

[2021-08-13 10:42] #1164 closed

[2021-08-13 10:43] makseq commented on #1208
Now it's in https://github.com/heartexlabs/label-studio/releases/tag/v1.1.1, just do
pip install -U label-studio

[2021-08-13 14:25] milyiyo opened #1294 "Allow to import the format CoNLL"
**Is your feature request related to a problem? Please describe.**

I have a dataset in the format CoNLL for NER, but it only has tagged 4 types of entities.
I wanted to improve the dataset by adding new tags and review existent tokens tagged.

As Label Studio has the possibility to export to CoNLL, it would be great to allow the import of that format :)

From the Slack group of Label Studio, I go

[2021-08-13 16:35] Gondragos commented on #1122
It seems that we solved this problem, and it should work well in the last version.

[2021-08-13 17:25] Gondragos commented on #1122
So I'm closing this issue. Feel free to reopen it if you have any troubles.

[2021-08-13 17:25] #1122 closed

[2021-08-13 18:03] #1208 closed

[2021-08-13 18:18] Gondragos commented on #1125
Seems to be fixed in https://github.com/heartexlabs/label-studio/milestone/7

[2021-08-13 18:18] #1125 closed

[2021-08-13 23:56] makseq commented on #1233
@enthusiastic12 Try this one:

[code]

`-v <absolute-path-on-your-machine>:<path-inside-of-docker>`

[2021-08-15 15:33] function2-llx opened #1296 "nested choices annotation not saved if the first region in the list does not have a choice containing nested choices"
**Describe the bug**
Considering a task that to select several regions from text, select choice for each region and some choice has nested choices below. It is found that the submitted/updated results will not contain the annotation of all nested choices, if the first region in the result list is not selected with a choice containing nested choices. On the other hand, when the first region is sele

[2021-08-16 09:55] suvojit-0x55aa opened #1297 "Annotation Number mismatch"
**Describe the bug**
There is a mismatch from number of annotations done shown in different parts of LS.

**To Reproduce**
Steps to reproduce the behavior:
1. Open LS check the annotation number
2. Open a project check annotation number (under settings)

**Expected behavior**
Numbers should be same.

**Screenshots**
![image](https://user-images.githubusercontent.com/10397574/129545306-eecc7bb1-44b

[2021-08-16 12:48] maxmahe1 commented on #1285
Hey! Got the same issue but found the solution by creating a new conda environment and installing it in it. Worked fine afterwards. Hope it helps

[2021-08-16 13:19] MalteEbner commented on #1285
I solved it by using python 3.8 instead.

[2021-08-16 13:19] #1285 closed

[2021-08-16 16:52] natemccoy opened #1299 "Json Schema disallows Boolean Values"
when making a labelling config, you cannot use the words `true` or `false` as they are not allowed.

using the example labelling config

[code]

an error occurs when submitting (saving) in the back end

[code]

Thanks to Max, it seems the Json Schema has an error in this location

https://github.com/heartexlabs/label-studio/blob/33eb579596055b726c31bc7120243c265d33f20e/label_studio/core/utils/sche

[2021-08-16 16:54] natemccoy commented on #1299
tagging @makseq here for consistency with the slack chat

[2021-08-16 19:32] hlomzik commented on #1296
Hi! This issue was fixed some time ago, it is already in [LSF master](https://github.com/heartexlabs/label-studio-frontend), you can add it to your LabelStudio or you can wait a bit, it will be released soon! Thanks for report, bug is very sad.
To use custom build you can get [artifact from LSF](https://github.com/heartexlabs/label-studio-frontend/actions/runs/1135394369) and add it to LS dir `lab

[2021-08-16 22:54] makseq commented on #1231
@lluissalord Could you check this branch please?
https://github.com/heartexlabs/label-studio/pull/1300

[2021-08-16 23:53] shensmobile opened #1301 "URL invalid when importing whole .txt file"
**Describe the bug**
When I set valueType=url and go to import a .txt file for NER labelling (as a time series), I get the following error when I go to open the task:

If I go to localhost:8080/data/upload/15203235_RxI9qSk.txt, I do get the text file in its entirety.

Is there anything special I have to do when importing the text file?  Would it be easier to just put all the .txt files into a .csv

[2021-08-17 07:54] function2-llx commented on #1296
@hlomzik Thanks for the explanation.

I've replaced files under `label_studio/frontend/dist/lsf` with the latest LSF build, but unfortunately the bug still seems to exist.

And according to [label_studio/frontend/dist/lsf/version.json](https://github.com/heartexlabs/label-studio/blob/7516933600316297384f7704a236a0d7b49d909c/label_studio/frontend/dist/lsf/version.json#L3), currently label-studio is

[2021-08-17 08:01] triklozoid commented on #909
Fixed in Label Studio 1.2

[2021-08-17 08:01] #909 closed

[2021-08-17 11:10] niklub commented on #1063
Hey, @dalekube ! Thanks to @nicholasrq, npm-related critical vulnerabilities have been fixed and are currently in the latest master branch. We're going to include these fixes in the upcoming 1.2 release, meanwhile it would be helpful if you could scan it again and check whether they have gone

[2021-08-17 12:01] china-zyy opened #1305 "machine learning setup"
I create a subject subject_one, then add a machine learning model(hugging face transformers) to the subject_one, after label some data, the model can not be trained, error,  list out of range, but I create a subject in the command line, the model can be trained

[2021-08-17 15:06] KDercksen commented on #1114
I would love this as well..

[2021-08-17 15:28] makseq commented on #1179
@lluissalord Just checked this issue, in the latest master the export json file contains meta field with all subfields. However, we will remove meta from task in the future.

https://github.com/heartexlabs/label-studio/pull/1307

[2021-08-17 15:28] #1179 closed

[2021-08-17 17:50] smoreface commented on #1289
@HarshSharma12 This has been fixed in version 1.1.1. Thanks!

[2021-08-17 17:50] #1289 closed

[2021-08-17 18:10] niklub commented on #1202
Hi, @GeNiaaz ! I've made [a few changes](https://github.com/heartexlabs/label-studio/pull/1306) in the import API that allows you to retrieve tasks IDs right away from the response. However, we've eventually figured out that this branch is not something that could be officially supported, since a large payload could produce performance problems.
Instead, I would recommend fetching [tasks list API]

[2021-08-17 18:10] #1202 closed

[2021-08-17 21:27] niklub commented on #1146
Another way of doing that is to specify `maxWidth` in percentages like
[code]
Please close this issue if it works in large screen cases.

[2021-08-17 22:06] makseq commented on #1283
@salmenf Have you tried to use Label stream mode? The blue button on the data manager with Label All Tasks text.

[2021-08-17 23:12] makseq commented on #1305
@china-zyy Any logs, screenshots?

[2021-08-18 02:12] dalekube commented on #1063
Thank you, @nicholasrq. It looks like some vulnerabilities were cleared. However, the critical vulnerability with lodash@4.17.15 still exists. There are 12 medium and 1 critical vulnerabilities remaining. I am using [Barista](https://github.com/Optum/barista) for the scanning, which passes all project and dependency code through the [OWASP Dependency Check](https://github.com/jeremylong/Dependency

[2021-08-18 10:23] apohllo opened #1319 "Access denied for release 1.2.0"
**Describe the bug**
I'm trying to access
https://labelstud.io/blog/release-120.html

and I get:

403 Forbidden
Code: AccessDenied
Message: Access Denied
RequestId: NRKZ7AF5DKG6MZKG
HostId: sV6fnicwbqLp7sw8gRy+MZ3caMhIlLuMpyg2QdEuEuZ3rTdVbshuKJau1jH3Cc/kEOZAPWf/R1I=
An Error Occurred While Attempting to Retrieve a Custom Error Document
Code: AccessDenied
Message: Access Denied

[2021-08-18 10:37] besbesmany opened #1320 "how to label images in yolo format"
I want to label images with yolo format

[2021-08-18 13:57] apohllo opened #1321 "Removal of label_studio/frontend/dist from repository"
**Is your feature request related to a problem? Please describe.**
I spent a lot of time trying to deploy latest version of Labelstud.io. Recently the problem with NER was resolved (i.e. the first token in a line could not be tagged). So I wanted to deploy the latest version of LS. Yet even though the feature worked on local machine, it wasn't working on the production machine.

After long investi

[2021-08-18 14:18] apohllo commented on #1321
I can answer myself partly - there's a public repository with LS images:
https://hub.docker.com/r/heartexlabs/label-studio

So I guess this is the preferred, authoritative source of official LS builds. Maybe I would make sense to mention that in the readme?

[2021-08-19 00:51] makseq commented on #1321
@apohllo
You can fetch LSF and DM using the following command:
[code]

Also you can build react-app (main LS pages like organization, projects, ...) with:
[code]

https://hub.docker.com/r/heartexlabs/label-studio --- yes, it's official repo. I've added a link to it here: https://github.com/heartexlabs/label-studio/pull/1325

[2021-08-19 00:53] makseq commented on #1319
@apohllo Sorry, I think it was a cache from AWS servers. Please, try it again with a full page reload. It must work.

[2021-08-19 00:53] #1319 closed

[2021-08-19 00:58] makseq commented on #1320
1. Create a project
2. Import your data
3. Setup labeling config with bounding boxes
4. ![image](https://user-images.githubusercontent.com/501780/129990874-25f1d0bc-0d22-4890-b886-aec966c968c4.png)
4. Annotate images
5. Click Export button on the Data manager page
6. Select YOLO
![image](https://user-images.githubusercontent.com/501780/129990983-1cc24f55-ef88-4922-8ec7-d7e128362f23.png)

Hope this

[2021-08-19 00:58] #1320 closed

[2021-08-19 01:05] makseq commented on #1297
@suvojit-0x55aa Thank you for your report, looks like a bug.Created a ticket about it for our team.

[2021-08-19 01:10] makseq commented on #1293
Maybe you are looking for this option?
![image](https://user-images.githubusercontent.com/501780/129991761-6eb603d7-b3b8-41b8-be5a-2a425465b7ec.png)
![image](https://user-images.githubusercontent.com/501780/129991747-7c4b8f61-b58d-4ccd-9517-959fe9c0f7e6.png)

[2021-08-19 01:29] makseq commented on #1278
@tomasohara Since LS 1.0 there is no support for  `--template=<name>` option. You can create a new project with some labeling config using API: https://api.labelstud.io/#operation/api_projects_create

[2021-08-19 01:29] #1278 closed

[2021-08-19 01:32] makseq commented on #1165
@gregor-mittag Hope you had a lovely vacation :slightly_smiling_face: !
Yes, I meant those instructions. We put the latest versions (similar to nightly builds) into the master branch.
Have you tried it already?

[2021-08-19 04:10] alexandrnikitin opened #1326 "Improve Time Series labelling navigation"
**Is your feature request related to a problem? Please describe.**
Navigating time series (moving forward) is pretty hard and frustrating. I need to move my mouse over the bottom window and move it slowly. With a long time series it's unusable.

**Describe the solution you'd like**
It looks like scroll and/or hotkeys can ease the work, e.g. arrows or <,> or h,l (vim style)

**Describe alternatives

[2021-08-19 04:24] suvojit-0x55aa commented on #1293
Yes, thank you. Didn't know the option was there.

[2021-08-19 04:24] #1293 closed

[2021-08-19 04:33] alexandrnikitin opened #1327 "Time Series labelling window disappears"
**Describe the bug**
Time Series labelling window gets blank when I scroll the time series window to the rightmost border. See gif attached.

**To Reproduce**
1. Open time series labelling task.
2. Scroll the time series window to the right edge. See dig

**Expected behavior**
The task window shows rightmost section.

**Screenshots**
![KsVoqUWyYx](https://user-images.githubusercontent.com/1798438/

[2021-08-19 07:33] gregor-mittag commented on #1165
@makseq Thanks for the confirmation!
I tried it with the master branch (commit ID: 0e5536602c1b96489028dcb9a65471c0a903bbde).
However, the issue is still the same:

I first set up the local storage and synced it leading to the following result:
![grafik](https://user-images.githubusercontent.com/82151898/130026441-a979fd90-9269-47b1-af6d-0ec93cb2957d.png)

After importing the JSON file with 42 ann

[2021-08-19 08:47] supercoderhawk opened #1328 "Add meta info of Label Control in text classification task"
**Is your feature request related to a problem? Please describe.**

When I annotate text classification task, I want to add some additional text of the annotated label. This additional text is just confirmed by current annotated text, can't be listed beforehand.

**Describe the solution you'd like**

For example

I want to annotate following text within predefined labels `Chemical Drug`, `Biologic

[2021-08-19 08:52] TueLindhart opened #1329 "Time Series labelling: X-axis doesn't change when view is expanded in overview channels"
**Describe the bug**
When the grey box is dragged, the x-axis for each of the time-series doesn't change (i.e. the time range stays the same).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a time series labelling task.
2. Click on a task and expand view in overview channels.
3. Notice the x-axis for each time-series channel don't change.

**Expected behavior**
The x-axis should chang

[2021-08-19 08:55] niklub commented on #1328
Hi, @supercoderhawk ! Thanks for bringing it up. Do you think this option is something you're looking for?
![image](https://user-images.githubusercontent.com/6087484/130039598-2fd28ac7-7fac-489a-998b-4be860d57fbb.png)

[2021-08-19 08:56] TueLindhart opened #1330 "Time series labelling: Enable default overview channel width"
**Is your feature request related to a problem? Please describe.**
Each time a new time series is shown I need to drag the grey box to show the full time series which becomes frustrating.

**Describe the solution you'd like**
I would like it is possible to give a default tag in the view-code that enables to show the full time-series.

**Describe alternatives you've considered**
It doesn't need to

[2021-08-19 09:07] supercoderhawk commented on #1328
Yes. If you bind this part to Label control, and I will appreciate it.

[2021-08-19 09:30] besbesmany commented on #1320
thank you

[2021-08-19 10:08] apohllo commented on #1321
@makseq thank you!

[2021-08-19 10:09] apohllo commented on #1319
Yes, it works. Thank you!

[2021-08-19 10:44] mbrechet commented on #969
Hi @zakajd I think your problem is related to your template configuration. If think, your `<TexArea>` needs to have a reference to the data by using `toName` attribute which is mandatory. I face the same problem in another context. Your code should be like this :

[code]

[2021-08-19 11:21] salmenf commented on #1283
Thanks for the tip! That view looks better for my use case, but I see no way to link to a specific task in that view, since the URL always remains the same no matter which task is shown: `/projects/1/data?tab=1&labeling=1`
With the other view, I can provide a link to a specific task, for example: `/projects/1/data?tab=1&task=10`

So, unfortunately, that doesn't solve the problem, unless there's so

[2021-08-19 12:24] niklub commented on #1328
What do you mean exactly from binding it to Label control? do you want to streamline the flow in UI to create meta info right after drawing a span? Since technically, once you create meta as in the example above, it becomes connected to the labeled region.
Speaking of a more streamlined approach, you can alternatively attach `<TextArea>` tag to your label, then it gives you the handy way to create

[2021-08-19 15:33] salmenf commented on #1283
For other people who might have this issue: I found a somewhat hacky workaround.
Using [this](https://labelstud.io/tags/style.html), you can actually insert a `<style>` tag. Then you should be able to add any styling you want to the page. Using your browser's inspector, you can then find the class names of the elements you want to target. Obviously, this is a hacky solution that is very brittle: I

[2021-08-19 15:49] supercoderhawk commented on #1328
Sorry, I mislead you. I mean let Choice control be associated with (or binded with) meta info box, such as you first reply, not Lable control. When I select a Choice box, I can add meta info on it.

[2021-08-19 16:47] dalekube commented on #1063
Excellent progress, @nicholasrq! I re-scanned the master branch and only three high vulnerabilities remain. The one critical vulnerability was resolved.

pkg:npm\/ini@1.3.5
HIGH
CWE-471: Modification of Assumed-Immutable Data (MAID)
https:\/\/ossindex.sonatype.org\/vulnerability\/c08153de-a0ad-4212-963d-3de92eaab509?component-type=npm&component-name=ini&utm_source=dependency-check&utm_medium=integ

[2021-08-19 18:33] tomasohara commented on #1278
At the very least this is a documentation bug. Via https://labelstud.io/templates/named_entity.html#Run:
[code]

Workaround based on Slack:
[code]

There are 10 distinct instantiations of this issue:
[code]
Arguably, since this was on the Label Studio website for a while, this feature seems cast in stone. (I had checked the WInternet Archive WayBack machine in case there was a recent change. I had

[2021-08-19 21:27] zakajd commented on #969
@mbrechet Thanks, it solved my problem 👍

[2021-08-19 21:27] #969 closed

[2021-08-20 00:26] makseq commented on #1278
@smoreface Please, check the documentation from previous message.

[2021-08-20 00:46] makseq commented on #1278
@tomasohara Thank you very much for your report!

[2021-08-20 01:12] makseq commented on #1327
@alexandrnikitin Thank you very much for the report, it's bug and I've created a ticket about it for our frontend team.

[2021-08-20 06:47] triklozoid commented on #1299
Thank you for the report! This is PR with fix: https://github.com/heartexlabs/label-studio/pull/1334

[2021-08-20 07:22] KonstantinKorotaev commented on #1250
Hi @ktobah
I have added this ticket to our backlog to fix this issue in one of the next releases.
Meanwhile, you can use another tokenizer to fix this issue locally. For example, you can switch from WhiteSpaceTokenizer to [jieba] (https://pypi.org/project/jieba/).

[2021-08-20 08:49] #1299 closed

[2021-08-20 09:05] apohllo commented on #1321
I'm wondering, why building the frontend is not a part of the Docker image rebuild...

[2021-08-20 09:40] dentalala commented on #1283
It's actually not a bad idea to use `<style>`. Yes, it can break if class names will change, but it's also clear how to fix. We'll consider making task list hideable when working on interface, thank you for the feedback.

[2021-08-20 10:30] makseq commented on #1174
@shubhangi27397 Is your problem solved with new LS versions? What type of export do you have?

[2021-08-20 10:40] niklub commented on #1165
Hi, @gregor-mittag ! I think you're trying to import 42 annotations separately from the 121 tasks created from the bucket sync. When importing data, every JSON item creates new tasks disregarding any existence. Therefore, it sums up to 163 tasks in total, which is expected.
In case you want to attach annotations to already created tasks, I suggest you might try using [the API](https://labelstud.io

[2021-08-20 10:45] gregor-mittag commented on #1165
@niklub I think your guess is correct.
I was actually hoping to get this task done without writing some script, but it seems to me that it shouldn't be too complicated to do so.
I'll reopen this issue if I run into problems.

Thanks, @makseq, @niklub for your help and suggestions!

[2021-08-20 10:45] #1165 closed

[2021-08-20 18:04] makseq commented on #782
Looks like it's fixed already.

[2021-08-20 18:04] #782 closed

[2021-08-20 20:07] VictorAtPL opened #1338 "HTML NER Labeling: multiple labels despite one region when region spans along table columns"
**Describe the bug**

Instead of one label per region, label-studio-frontend renders more labels, one label per span.
![image](https://user-images.githubusercontent.com/1886347/130282254-d9262654-7dcf-48f0-ab45-4e99eeaf15d0.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create HTML Ner Labeling project. Rendered HTML should be table. It should have text in multiple columns.
2. For one

[2021-08-21 13:59] DougTrajano opened #1339 "Labeling Instructions in Markdown format"
It Will be very helpful if the Labeling Instructions feature in `Project > Settings` accepts markdown and parses it to HTML.

I would like to add instructions in markdown format like:

[code]

And have it parsed to the HTML in the PopUp interface.

[2021-08-21 20:29] makseq commented on #1339
@DougTrajano Thank you for your idea, what do you think about WYSIWYG editor?

[2021-08-21 23:12] DougTrajano commented on #1339
I think that will be great too. Today I spent some time testing Label Studio and it was amazing, I think that the WYSIWYG editor is the pattern used in the Labeling Interface, isn't it?

Labeling Interface was the feature that I most liked in Label Studio because it is very flexible and very easy to understand and use. Really great work there! 💯

[2021-08-22 03:21] maniappan opened #1340 "labeling setup error : Created annotations are incompatible with provided labeling schema, we found:"
Had setup the labeling with the following code :
[labelcode.txt](https://github.com/heartexlabs/label-studio/files/7026523/labelcode.txt)
``

I was able to annotate a few images and when I went back to add additional labels, I started getting this error :

Validation error 63d9c9b6-7fd7-4745-ac23-51953361014d
Created annotations are incompatible with provided labeling schema, we found:
9 with from

[2021-08-22 13:19] alexdevmotion opened #1341 "Error in NER labeling when text contains newlines (Japanese)"
**Describe the bug**
A JavaScript error is thrown in the page when characters preceded by `\n` are the beginning of the selection.
Note that the `\n` correlation may be wrong, it's just an assumption I made based on when the error appears.

**To Reproduce**
1. Use the **Labeling interface setup** and the **Example of task where bug occurs** below
2. Try assigning any label to any span of character

[2021-08-22 13:24] alexdevmotion commented on #1341
Upgrading to 1.2.0 fixed the issue.

[2021-08-22 13:24] #1341 closed

[2021-08-22 15:40] bendidi opened #1342 "Webhook test failing on master"
**Describe the bug**

Running tests on master (via `make test`) fails on `tests/webhooks/test_webhooks.py::test_webhooks_for_projects FAILED`

**To Reproduce**
Steps to reproduce the behavior:
1. `git checkout master`
2. `pip install -e .`
3. `pip install -r deploy/requirements-test.txt`
4. `make test`

**Expected behavior**

test passing

**Screenshots**

[code]

**Environment (please complete th

[2021-08-22 16:47] Mano-Liaoyan opened #1343 "Can not export results when using local storage"
**Describe the bug**
I am using the latest docker version of the label studio, it is a really great tool and I loved to use it. However, I found a bug when I would like to export my labeling results.
First, there are two exact same cards in the Cloud Storage when I chose Local Files as my storage type, I haven't tested it for a remote server yet, but I think it produces the same problem.
![image](

[2021-08-22 22:20] ktobah commented on #1250
Hi @KonstantinKorotaev

Thank you for doing that. Indeed, I fixed that by doing some text preprocessing using pkuseg tokenizer.

[2021-08-23 09:20] KonstantinKorotaev commented on #1250
Hi @ktobah

Could you please share your code to help other people who have the same issue?

If you are willing to contribute to Label Studio - you can create a pull request with your changes.

[2021-08-23 10:52] #1063 closed

[2021-08-23 12:25] ghpu opened #1347 "UTF8 text got invalid annotation offset"
Given the following UTF8 text : 💩This is an annotation.

Imported as TSV, then added an annotation around "annotation", then exported as TSV.

Result is as follows :

ID      TEXT    id      label   annotator       annotation_id   created_at      updated_at      lead_time
1       💩This is an annotation.        1       "[{""start"": 13, ""end"": 23, ""text"": ""annotation"", ""labels"": [""Annotati

[2021-08-23 21:20] makseq commented on #1340
@maniappan  could you try to add toName="image" to your TextArea?

[2021-08-23 23:46] ktobah commented on #1250
Hi @KonstantinKorotaev

Sure, I can share the steps I followed. So, I took advantage of the fact that label-studio uses the WhiteSpaceTokenizer.

My end goal was to train a ner model using Spacy. The good thing is that Spacy already has a Chinese model that does tokenization. So, my first step was to take my text and tokenize it using Spacy as follow:

First make sure to install Spacy and the Chin

[2021-08-24 01:59] maniappan commented on #1340
Worked, thanks @makseq.

[2021-08-24 01:59] #1340 closed

[2021-08-24 09:20] Sean12697 opened #1350 "Export Image Classification Label Data with Images"
**Is your feature request related to a problem? Please describe.**
With Image Segmentation labels I have the ability to export as JSON, JSON-MIN, CSV, TSV, COCO, Pascal VOC XML and YOLO, the last few having the ability to export images alongside the label data, with an Image Classification setup I only have the ability to export as JSON, JSON-MIN, CSV and TSV, none of which export images.

**Descr

[2021-08-24 09:45] nicholasrq commented on #1063
@dalekube hey!

took another round updating vulnerable packages. please, take a look on the progress. everything must be clear now

[2021-08-24 13:36] chiganov commented on #1342
Hi thank you for your report.

Looks like there is some bug with requests_mock. By some reason it registrates requests from webhook and from `business_client` but the last one is not  supposed to be registrated because we passed `real_http=True` param and regisrtrated only one URL.

It looks strange.

We will figure out what is going on.

[2021-08-24 16:54] dalekube commented on #1063
@nicholasrq , thank you! I completed another scan. All that remains are 9 medium vulnerabilities. We are good to go on our end now considering that the critical and high vulnerabilities were properly accounted for. Thanks again for the updates!

[2021-08-24 18:26] makseq commented on #1003
@suvojit-0x55aa Hope now it's possible with webhook release.

[2021-08-24 18:26] #1003 closed

[2021-08-24 18:27] #1146 closed

[2021-08-24 18:28] makseq commented on #1231
Regex filters can now be used in release 1.2.

[2021-08-24 18:28] #1231 closed

[2021-08-24 19:02] mpomarole opened #1353 "Translation"
**Is your feature request related to a problem? Please describe.**
We need to use label studio in other languages. This feature request is to track the ability to switch languages through the settings panel.

**Describe the solution you'd like**
I want to be able to switch between translations of the strings on the frontend. So labelers can work in their own language.

**Describe alternatives you'

[2021-08-24 23:53] makseq commented on #1350
@Sean12697 I'm not sure we will support image downloading in the future for the following reasons:
1. It's not secure, LS shouldn't have an access to user data. Now data is available only on the client side browsers.
2. It might take a long time to download large dataset with images/audio/etc.
3. s3/gcs/etc links must be resolved while downloading, it's very hard to implement, long to resolve link

[2021-08-24 23:58] makseq commented on #1236
@MiguelFreire Please, have a look to the latest master, I've implemented an api call without image downloading step, it had to speed up this process. Just call
[code]

[2021-08-25 00:18] makseq commented on #1339
Yeah, in some old versions we had WYSIWYG. I hope we will get it back soon.

Thank you very much for your kind words!

[2021-08-25 00:24] makseq commented on #1321
@apohllo Do you mean - why don't we build frontend on the docker pre-build step?