[2021-08-25 00:33] makseq commented on #1230
@bethard Thank you for your request, it looks very helpful to have default value for AudioPlus, I've added a ticket for our frontend team about this.

[2021-08-25 00:35] makseq commented on #714
It must work after release 1.1.1

[2021-08-25 00:35] #714 closed

[2021-08-25 00:37] makseq commented on #742
These features are available in our Team and Enterprise editions at app.heartex.com.

[2021-08-25 00:37] #742 closed

[2021-08-25 00:56] makseq commented on #1353
@mpomarole Thank you for your request. Our frontend is fully using React and you should consider to change React parts:
* Editor - https://github.com/heartexlabs/label-studio-frontend
* Data manager - https://github.com/heartexlabs/dm2
* Other pages - https://github.com/heartexlabs/label-studio/tree/master/label_studio/frontend/src

This task looks not easy, and I would start with the things that

[2021-08-25 07:58] farioas commented on #711
Hi @Atharex,

The change for kustomize was prepared by the community: https://github.com/heartexlabs/label-studio/pull/1067, once it ready, we will merge it into the mainstream.

[2021-08-25 07:58] #711 closed

[2021-08-25 08:27] AlexRoss-WHS opened #1354 "Customize fields in quickview"
As discussed in [this thread](https://label-studio.slack.com/archives/CQ8LYPPJS/p1629805782143600), it would be good to be able to configure the shown fields in quickview. This used to be possible in older versions. It can still be achived with the api but a dropdown menu, like in the explore-page is missing.

[2021-08-25 10:01] mamafun commented on #954
Release 1.2.0 failed at step 2. Please see the attachment. Thank you for any help.
![image](https://user-images.githubusercontent.com/3885551/130770653-8add428a-79b8-4e5d-949e-9fac5d85be47.png)

[2021-08-25 10:02] apohllo commented on #1321
Yes, exactly. Maybe there should be a separate script for building custom production images?
I suppose that building docker image is mainly part of the development process and I guess many of the backend developers don't need the frontend, so they don't have npm installed. Is that right?

Anyway to build a fully functional production (custom) image we have to:
[code]

Not a big deal TBH, so maybe

[2021-08-25 10:09] AlexRoss-WHS opened #1357 "Filters of separate tabs changing each other"
**Describe the bug**
When using filters of the same type in multiple tabs of the same project, they affect each other. Changing one filter also changes filters of the same type in other tabs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to datamanager
2. Create two tabs
3. Apply a filter to the first tab (e.g. Completed is empty no)
4. Apply filter of same type but different value to o

[2021-08-25 14:18] lluissalord commented on #342
Related to this issue, on our project we are struggling with accents on filters which seems that are not handled appropiately.

Just an intuiton without looking to code, I think that text inside filters is not read as utf8 and cause differences between the search and text body.

[2021-08-25 14:39] Morgana025 commented on #825
Hi, I'm getting the same error :(
My environment is:

- OS: Windows 10
- Browser: chrome
- Version: 1.2

I tried to downgrade to version 1.1.0 but the issue is still there. Do you have any suggestions?
Thanks

[2021-08-25 14:52] Morgana025 opened #1358 "A bug related to audio labeling"
**Describe the bug**
When labeling an audio track, the audio pointer does not move where my mouse pointer is but always starts from the beginning. Therefore, it becomes impossible to reproduce only an already labeled region or to listen to a part of the waveform in the middle.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'labeling'
2. Click on waveform
3. See error that the audio pl

[2021-08-25 15:24] makseq commented on #825
@Morgana025 Coud you record a video?

[2021-08-25 15:26] makseq commented on #342
@lluissalord Yes, it's probably as you said, we store it in DB and I can't exactly say how encoding is processed while saving.

[2021-08-27 08:56] jhunkim opened #1364 "Source filename filters bug"
**Describe the bug**
`source filename` Filter does not work properly.

**To Reproduce**
Steps to reproduce the behavior:
1. generate projects and import task.
2. add `source filename` filter.

**Expected behavior**
When i print the query of queryset in apply_filters func in managers.py of data_manager,
there is no data related to the file source.
[code]
Perhaps TaskQuerySet does not hold informati

[2021-08-27 18:42] ynouri opened #1371 "Taxonomy Alias field is ignored when generating annotation output data"
# Describe the bug
With the control tag `<Taxonomy>`,  when Label Studio generates the annotation output data, the `value` field of `<Choice>` is used instead of the `alias` field.

This problem doesn't exist with the control tag `<Choices>`.

# To Reproduce
[In the Label Studio playground](https://labelstud.io/playground/), run those two test cases:
## 1. Choices = OK
[code]
![image](https://user

[2021-08-29 21:32] makseq commented on #1364
@jhunkim Please, check this PR: https://github.com/heartexlabs/label-studio/pull/1373
Hope it's fixed there.

[2021-08-29 23:35] #1364 closed

[2021-08-29 23:39] makseq commented on #1358
@Morgana025 Do you use Local Storages? If yes, try this PR please: https://github.com/heartexlabs/label-studio/pull/1345

[2021-08-29 23:40] makseq commented on #1358
unfortunately, there is no such method.

[2021-08-30 04:08] jhunkim commented on #1364
Thanks for the quick fix.

[2021-08-30 07:04] Morgana025 commented on #1358
@makseq Thanks for the answers.
I tried both with Local Storage and "direct" import. In the end, what seems to work for me, is to use direct import and mono-waveforms.

[2021-08-30 07:30] hlomzik commented on #1330
Hi! Yes, we have this in the roadmap, and it's easy to implement, so will be released soon.
For now you can do this by fixing the code — change `times.length >> 2` to `times.length - 1` in Time series.js in LSF and include new build into LS

[2021-08-30 07:44] Morgana025 commented on #1358
Today, I see this issue too:

"A page or script is accessing at least one of navigator.userAgent, navigator.appVersion, and navigator.platform. In a future version of Chrome, the amount of information available in the User Agent string will be reduced.
To fix this issue, replace the usage of navigator.userAgent, navigator.appVersion, and navigator.platform with feature detection, progressive enhan

[2021-08-30 08:28] Morgana025 commented on #1358
Little update: The solution for my last problem was to change the browser from Chrome to Firefox

[2021-08-30 10:26] jrdalenberg commented on #921
I can imagine that you are super busy, but is there perhaps any ETA on when this could be resolved?

Or do you perhaps have pointers in which files we would should to fix this to make a PR?

[2021-08-30 20:01] royschwartz2 commented on #1245
Yes. It seems to have been fixed. Thanks.

[2021-08-30 22:23] #1245 closed

[2021-08-30 22:27] makseq commented on #1358
Yes, it looks like a browser specific thing.

[2021-08-30 22:27] #1358 closed

[2021-08-31 13:13] johanngerberding commented on #789
I have the same problem and the change of `valueType="url"` didn't work for me.

[2021-08-31 20:17] piraka9011 opened #1381 "Failed to resolve reference '<ID>' to type 'User'"
**Describe the bug**

I recently added a lot of users and their annotations using the API, however, when I tried to view the data in the project, I get a blank screen and the following error in the console:
[code]
Where the error is repeated multiple times but the reference number is different.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a user via the API
2. Get their token
3. Cr

[2021-08-31 20:31] piraka9011 commented on #1381
I fixed this by manually assigning the users to the organization via the DB.
It seems that the organization ID must be specified in order to avoid this error, despite the docs stating that it can be nullable.

This should be documented somewhere.

[2021-09-01 00:51] makseq commented on #1381
@smoreface

[2021-09-01 07:39] royschwartz2 opened #1387 "Json fields missing when annotating on Windows [custom fields for quickview]"
**Describe the bug**
Label Studio allows the import of a JSON file for creating tasks with specific fields. This is a great feature that allowed us to create custom behaviour that fits our unique dataset. However, when a task is clicked and the image shown, you'd expect to see the fields on the left, like in the attached screen capture.

<img width="762" alt="bug report 2" src="https://user-images

[2021-09-01 11:40] makseq commented on #1387
@royschwartz2 Looks like you are using a previous version of LS on mac, where the custom fields for quickview were available. We dropped custom fields by mistake in the latest versions.
We have an issue about it here: https://github.com/heartexlabs/label-studio/issues/1354

[2021-09-01 11:51] thesby opened #1391 "CORS, Technical description: Failed to fetch URL"
[code]

I am using template of "Video Timeline Segmentation". The video can be loaded, but the audio meets `CORS` problem. I am very confused about this problem. The problem must come from `AudioPlus`.

And if I run label-studio on my local machine, there is no CORS problem. But when I run it on my remote server and use a proxy to visit it, the CORS problem appears.

**Environment (please complete

[2021-09-01 11:56] thesby commented on #1391
I think there is no `CORS` problem about my video url, since I can play it in `Chrome`, and I can download it with `wget`.

[2021-09-01 12:22] thesby opened #1392 "How to set value that generated from HyperText js to value of time series"
I generate a list in `HyperText` javascript, and I just want to set it to `TimeSeries` `value`. How to implement it?

[2021-09-01 12:44] eric-onesourceregulatory commented on #1232
It's most likely due to label studio not being able to produce a signed URL because of Google Cloud permissions and setup.

![image](https://user-images.githubusercontent.com/66736084/131672046-6aae7c26-912a-4e64-8bcd-dd4d3a34fa05.png)

If you run your label-studio with logging enabled, you may see errors like the above in your output when you go to the project
task list and don't see any of the t

[2021-09-01 13:02] farioas commented on #1232
Please ensure, that `https://www.googleapis.com/auth/cloud-platform` scope is granted for the instance.

[2021-09-01 13:34] eric-onesourceregulatory commented on #1232
What can I say, @farioas , but simply thanks.  That solved my issue.  Is there someway we can filter this important information back to the documentation to save others from running into the same issue?

[2021-09-01 15:02] karelserruys-foodpairing opened #1394 "Filters applied twice in combination with bad transaction isolation lead to exponential growth of filters."
**Describe the bug**
We're running Label Studio 1.0.2 with PostgreSQL 13 as database.
When refreshing a project view, the frontend makes calls to the backend to reapply the all filters which are present on the view.
Additionally, the API is called once for each filter even though when using multiple filters, they need to be applied using a single API call.
Postgres's default transactional isolatio

[2021-09-01 19:35] makseq commented on #789
`valueType="url"` - LS will load data from $ner url as text file.
`valueType="text"` - LS will use $ner as text directly.

[2021-09-01 19:35] #789 closed

[2021-09-01 21:14] makseq commented on #1394
@karelserruys-foodpairing Thank you for your report and ideas. We are working on this issue and we've decided to redesign all filter logic: we want to have an Apply button for filters and it solves this problem. Hope, it will be released soon.

[2021-09-02 08:32] royschwartz2 commented on #1387
I actually suspected that, since I first installed the latest version on Windows and the Mac version was earlier. I then checked it by updating the Mac version to 1.2 and, believe it or not, they're still there...

Will await for the fix for Windows. Thanks!

[2021-09-02 21:02] hlomzik commented on #1296
Oh, sorry, the problem still exists, right! I fixed similar issue, but about required, not just any nested choice. I see the broken code, so I'll fix it today and notify you!
Thanks for bug report!

[2021-09-02 21:04] hlomzik commented on #1371
Hi! Yes, good point, we just didn't think about full `Choice` functionality here, but yes, it would be nice to have, will fix this soon.

[2021-09-03 01:56] makseq commented on #1232
@smoreface I saw your thumb up, but please, add this info to docs asap!
@farioas you rock!

[2021-09-03 01:56] #1232 closed

[2021-09-03 01:59] makseq commented on #1391
@thesby Have you solved this problem? CORS is a very painful always and LS can't solve this issue automatically, unfortunately.

[2021-09-03 02:00] makseq commented on #1392
@thesby Could you clarify: what list in HyperText do you mean? Do you have an examples?

[2021-09-03 05:27] nicholasrq commented on #1357
this issue was recently fixed in DM repo, expect a fix to be shipped with the upcoming release

[2021-09-03 14:41] pyturn opened #1400 "Multiple ML models in single project"
Hi All,
As per my project I have to setup multiple ML backends in single project. I have to setup 2 models for NER models and 2 models for Text classification task. I made the changes in the labelling interface to accomodate these multiple tasks. When I am trying to setup the ML backend I faced the following issue -

**NER Model 1** - Backend was created and server started at `http://10.29.85.3:90

[2021-09-03 22:29] hlomzik commented on #1296
fixed in https://github.com/heartexlabs/label-studio-frontend/commit/34c85b0fcb749bb98d9504c03975e97a398e50ca
you can try the new build

[2021-09-03 22:29] #1296 closed

[2021-09-04 14:28] function2-llx commented on #1296
Ah, happy to confirm that the bug finally gets fixed! Thanks a lot!

[2021-09-04 21:31] VivienMrclt opened #1407 "Time-series sliding window doesn't affect the time axes"
**Describe the bug**
I'm using your tool and it has been of great help so far. I just noticed that the time axes stays stuck to the values of the initial window. If I move the window or change its size the plot does move but the time axes isn't affected.

**To Reproduce**
Here is a test file I used and imported as a new time-series in a new project.
[test.csv](https://github.com/heartexlabs/label-

[2021-09-05 06:51] lluissalord commented on #342
@makseq Could you have some time to look at the issue with accents or should I open a new issue? Thanks!

[2021-09-05 07:08] lluissalord opened #1408 "Use regex module instead of re module"
**Is your feature request related to a problem? Please describe.**
On Python there are two modules which offers the possibility to use regular expressions `re` (the standard one) and `regex` (improved version which handles better Unicode and several other additional features).

One example that I found interesting is when you want to filter by punctuations which with `regex` module is simple as us

[2021-09-05 07:14] makseq commented on #1408
Do you use regex in filters? If yes, there is DB regex module and we can't just use another import, it has to be changed on DB level somehow.

[2021-09-05 07:17] makseq commented on #342
@lluissalord could you provide your import file and filter example?

[2021-09-05 07:25] lluissalord commented on #1408
Yes I was meaning for regex in filters

[2021-09-05 10:12] thesby commented on #1392
I want to label the video sequence. I get the video duration in `HyperText ` with javascript, and I want to generate values as a list from the duration value. The generated list should be the value a `TimeSeries` tag. But I don't know how to set the list to `TimeSeries`.

The reason why I use the generated list is that the `AudioPlus` tag suffers from `CORS` problem. And I don't need audio at all.

[2021-09-05 10:14] thesby commented on #1391
No, I don't know why `CORS` happens in my video urls, because they are public.

[2021-09-06 00:37] jiapei100 opened #1410 "AttributeError: 'IncludeNode' object has no attribute 'origin'"
**Describe the bug**
[code]

**To Reproduce**
Just follow **Install for local development**:

**Expected behavior**
Successfully run **label-studio** at **localhost:8000**.

**Screenshots**
![label-studio failure](https://raw.githubusercontent.com/LongerVision/Resource/master/questions/label-studio_failure.png)

**Environment (please complete the following information):**
 - OS: Ubuntu 20.04
 - La

[2021-09-06 07:46] KonstantinKorotaev commented on #1400
Hi,
You can do that by editing your uwsgi.ini.
Check this line and change port:
`socket = 0.0.0.0:9090`

[2021-09-06 14:28] swartchris8 opened #1411 "Can't highlight words ending with a . and newline"
**Describe the bug**
Can't highlight words ending with a . and newline - could be just highlighting can't end with word with new line

**To Reproduce**
Steps to reproduce the behavior:
1. example = """Pricing ends -- EBM
Yeah, yeah. But don't understand why that would cause an issue because any way sending out thousands of emails a day well into the hundreds of thousands a month… what would be the

[2021-09-06 17:46] makseq commented on #1115
@mauricio-repetto
Could you check this PR? If everything ok we will include it to the nearest release! I hope you can do it quickly to be in time. https://github.com/heartexlabs/label-studio-converter/pull/50/

[2021-09-06 17:47] makseq commented on #737
@jthaloor
Could you check this PR? Hope it's fixed your problem.
https://github.com/heartexlabs/label-studio-converter/pull/50/

[2021-09-06 18:26] mauricio-repetto commented on #1115
Hi @makseq I'm not familiar with label-studio code so I don't feel confident enough to approve a pr, so far way of getting the ids looks like it was changed the and it seems to be more consistent now from what I can tell. Thanks for coming back with this issue, much appreciated.

[2021-09-06 20:05] victor-ab opened #1413 "HyperText showLabels misbehaving"
**Describe the bug**
"null" label is displayed instead of no label name. when `showLabels="false"`.
Default behaviour also differs from what's specified in the documentation regarding `showLabels`. https://labelstud.io/tags/hypertext.html

**To Reproduce**
Steps to reproduce the behavior:
When annotating HyperText and adding `showLabels="false"`, a "null" label is displayed.

**Expected behavior**

[2021-09-06 20:50] makseq commented on #1115
We need only your checks with your data on this PR :slightly_smiling_face: No code reviewing.

[2021-09-06 21:53] makseq commented on #1410
@jiapei100 Just remove the whole line `try_include 'checks.html'` and everything gonna be ok.

[2021-09-06 21:53] #1410 closed

[2021-09-06 21:56] makseq commented on #1411
@swartchris8 Thank you for your report, especially for the video. We will discuss it with our frontend team.

[2021-09-06 22:02] makseq commented on #1413
@smoreface please, check the docs about it

[2021-09-07 00:27] mauricio-repetto commented on #1115
yes it does! :raised_hands:

[2021-09-07 02:31] lucianosilvi commented on #1347
Hi, I'm having a pretty similar issue, where the offset sometimes is 1 and sometimes 2 characters. However, for the same text it happened sometimes, not always. In fact, I've created different projects inside label studio, and adding the same text on all the projects with the same settings, it happens that in one project this issue appears frequently, while in the other it doesn't.

[2021-09-07 09:53] swartchris8 commented on #1411
If I had any frontend chops I would try to help with a PR or more of a contribution sadly this is all I can do with such an issue

[2021-09-07 10:23] pyturn commented on #1400
Thanks, I was able to do it by using following command while starting the server for other models (Port address can be changed) -
`label-studio-ml start my_backend --port=9091`

[2021-09-07 10:51] pyturn opened #1415 "Machine Learning backend scripts are not running for HTML documents"
Hi Team,

I added the machine learning backend succesfully and trained model for both NER and Text classification task (when I imported the CSV documents). But when I am adding the NER backend for HTML documents , I am facing issues -

Here is my Labelling configuration -

![image](https://user-images.githubusercontent.com/25935364/132332615-59fcb519-3943-4747-8673-335bada5a1f9.png)

Here is the e

[2021-09-07 13:03] thomasmarkus opened #1416 "Exporting brush masks as "Brush labels to PNG" throws stacktrace when using mixed annotations"
**Describe the bug**
When attempting to export data from brush labels *and* other types, such as an Eplise annotation, data can no longer be exported to PNG. It seems there is a hardcoded dependency on RLE-style data (which is fine for brushes), but isn't available for other annotation types and therefore breaks the export.

**To Reproduce**

Our labelling setup looks like this:

[code]

Annotate

[2021-09-07 14:21] ChainYo commented on #1343
Hey, I have the exact same problem with Local `Cloud Storage`.
That cancels the automatic training of my model by the way because there is no images in the export, so the model can't start training without data and only labels...

[2021-09-07 15:31] qhreul opened #1417 "Control to move labels list for display not workinhg"
**Describe the bug**
In the settings, there is a possibility to change the location of the list of labels in the UI.
![Screen Shot 2021-09-07 at 10 24 01 AM](https://user-images.githubusercontent.com/20356112/132371372-57ba7487-32a4-422f-9e76-b332ea06356f.png)
However, it seems that only "top" can be selected. This has a usability impact when dealing with large document.

**To Reproduce**
Steps to

[2021-09-07 16:55] hlomzik commented on #1371
Hi! Thank you, good point, we've missed aliases from Choices, didn't think it may be useful in Taxonomy.
We've released some good changes for Taxonomy recently, but without this specific thing. It's easy, but requires some changes. I think we'll fix this this week. I'll keep you updated!

[2021-09-07 17:19] #1210 closed

[2021-09-07 19:03] serjrd opened #1419 "Predictions are not displayed upon image in labeling layout"
**Describe the bug**
If you press the 'label all tasks' button it shows the layout where no predictions are showed: neither in the picture, nor in the side panel. If you open a task individually, predictions are visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to project
2. Click on 'label all tasks'
4. See no predictions

**Environment (please complete the following information):

[2021-09-07 20:08] tomasohara opened #1420 "UI hangs when opening project: uncaught in promise error shown in console"
**Describe the bug**

The UI hangs when opening project: it just shows the Heidi opossum animation walking. In addition, the following error is shown in the console log:

`
mobx-state-tree.module.js:3128 Uncaught (in promise) Error: [mobx-state-tree] No matching type for union (() | null?)
    at Do (mobx-state-tree.module.js:3128)
    at t.instantiate (mobx-state-tree.module.js:5435)
   ...
    a

[2021-09-08 00:36] makseq commented on #1343
@ChainYo @Mano-Liaoyan Downloading and preparing archives with tons of images can be a complex task and we tend to drop support of this. So, I can recommend to manually copy your images into 'images' folder. Is it possible solution for you?

[2021-09-08 02:12] makseq commented on #1029
Releated: https://github.com/heartexlabs/label-studio/issues/729

[2021-09-08 02:19] makseq commented on #1343
Also you could try to use `api/project/<id>/export?download_resources=false&exportType=YOLO` to avoid exceptions, timeouts and other breaks, this option was added in LS 1.2.

[2021-09-08 02:38] ScottishFold007 opened #1421 "'No Relations added yet' when I set"
When I set the relations,it shows 'No Relations added yet',why?
![image](https://user-images.githubusercontent.com/36957508/132437434-de310e56-06dd-460d-9b86-cbe15c1aa711.png)

[2021-09-08 07:40] serjrd commented on #1419
Ok, this is really-really weird, but it somehow shows the predictions now. Even though it wasn't working yesterday despite me trying to do shift+f5 and opening the window in an incognito session to avoid using caches. Sorry for the false alarm.

[2021-09-08 07:40] #1419 closed

[2021-09-08 21:18] twsl commented on #1118
There is no benefit from applying these augmentations before labeling as they do not change the label but increase the amount of work required to label the complete dataset. You should rather augment data in your dataloader after annotation is complete.

[2021-09-08 21:31] twsl opened #1425 "Custom image filters to help labeling"
**Is your feature request related to a problem? Please describe.**
Sometimes labeling requires a great level of expertise. Additional information could be helpful, especially when working with images.

**Describe the solution you'd like**
I'd like to apply filters to help me detect objects in high resolution images. Using a framework such as [MarvinJ](http://www.marvinj.org/en/index.html) would en

[2021-09-08 22:07] makseq commented on #1425
@twsl MarvinJ is really cool tool! Now we are going to release interactive pre-annotations, they allow ML to assist users in the labeling, hope it helps you too!

[2021-09-08 22:56] makseq commented on #1029
https://github.com/heartexlabs/label-studio/pull/1426
Sorry for late answer, but hope this helps.

[2021-09-08 22:58] makseq commented on #729
@Ichunleo
https://github.com/heartexlabs/label-studio/pull/1426
Sorry for fix, but hope this helps. Now filename are - <project_id>-<hash>-<original_filename>.

[2021-09-08 22:58] #729 closed

[2021-09-08 22:59] #1029 closed

[2021-09-09 00:46] makseq commented on #1421
@ScottishFold007 Please, record a video. Relations are shown with lines and arrows over text, looks like you don't have them at all. To create relation you must
1 select region
2 press 'r'
3 selected another region

[2021-09-09 00:47] makseq commented on #1347
@ghpu @lucianosilvi
What LS version do you use? We fixed similar problems in 1.2.

[2021-09-09 00:49] #1400 closed

[2021-09-09 00:52] twsl commented on #1425
In my specific usecase I need an interactive gradient via sobel filters where you can select orientation and strength to find edges and other features in greyscale images that are useful hints for experts.
Are these pre-annotations customizable? In that case I could simply replace the ML algo with a simple filter with default values

[2021-09-09 00:55] makseq commented on #1416
@thomasmarkus Could you switch label-studio-converter to the latest master, I hope this will work for you:
https://github.com/heartexlabs/label-studio-converter/commit/7cb76650456b753ad9d9abf8aecabca712535343

[2021-09-09 00:59] makseq commented on #1425
Yes, interactive pre-annotations are an extension of ML backend. It's a good idea to replace images from ML backend "on the fly", but our interactive annotations don't have this functionality yet.

[2021-09-09 01:08] twsl commented on #1425
Thats what I thought. But I think js based filters could offer a great benefit to many users working with greyscale/depth images where changes are subtle and hard to spot

[2021-09-09 07:17] thomasmarkus commented on #1416
Seems fixed.
Validated with current https://github.com/heartexlabs/label-studio/commit/a9cd862ab4fe2cde17613a4a64f9cf1eeed583d7and manually updating the dependency with `pip install -U git+https://github.com/heartexlabs/label-studio-converter.git@7cb76650456b753ad9d9abf8aecabca712535343#label-studio-converter`

[2021-09-09 07:53] nicholasrq commented on #1420
hey! thanks for the report

i tried importing the data you provided and can't catch a hang atm. it might take a while to investigate the issue, as it's not simply reproducible

[2021-09-09 08:23] realabja opened #1428 "Documentation out of date"
**Describe the bug**
Documentation "setup labeling interface is out of date"
[Link](https://github.com/heartexlabs/label-studio/blob/master/docs/source/guide/setup.md#customize-a-template)
Link to see examples are broken.
**To Reproduce**
Steps to reproduce the behavior:
Go to [docs](https://labelstud.io/guide/setup.html)

**Expected behavior**
Links should work

**Screenshots**
If applicable, add

[2021-09-09 09:50] makseq commented on #1416
It will be released in LS 1.3.

[2021-09-09 09:51] #1416 closed

[2021-09-09 09:53] makseq commented on #1428
@smoreface

[2021-09-09 17:45] tomasohara commented on #1420
You should be able to reproduce it from the sqlite3 database which is attached.
[label_studio.sqlite3.gz](https://github.com/heartexlabs/label-studio/files/7138662/label_studio.sqlite3.gz)

Here's how I start it:
`label-studio start --data-dir /tmp --database /tmp/label_studio.sqlite3`

It hangs when attempting to open fda-documents:
`http://localhost:8080/projects/9/data`

[2021-09-09 21:21] hlomzik commented on #1185
Hi! It was fixed finally. You can try it in [LSF master](https://github.com/heartexlabs/label-studio-frontend) right now or we'll release this to LS very soon

[2021-09-09 21:21] #1185 closed

[2021-09-09 21:21] hlomzik commented on #1185
Now every time you switch the annotation this Label will be selected. And it is selected on initial task load of course

[2021-09-09 21:37] ericchansen opened #1434 "Option to display shortcuts in UI"
**Is your feature request related to a problem? Please describe.**

I could learn the shortcuts much faster if they were shown in the UI.

**Describe the solution you'd like**

Take this image, as an example.

![image](https://user-images.githubusercontent.com/5395779/132765856-5e4d4c2c-a4c2-4b44-a554-f3125a9b1e1b.png)

If the text on the Submit button instead read,

[code]

that would be so helpf

[2021-09-09 21:41] hlomzik commented on #1411
Hi! Can you check [current LSF master](https://github.com/heartexlabs/label-studio-frontend/commit/b45a0cbf925d9d1b86d5e916ff4b4e3fd940ce92) directly or [with your LabelStudio](https://labelstud.io/guide/frontend.html#Custom-LSF-LSB-integration)?
I can't reproduce this bug

[2021-09-09 21:41] #1411 closed

[2021-09-09 21:58] makseq commented on #1115
MR is merged to master :)

[2021-09-09 21:58] #1115 closed

[2021-09-09 22:48] smoreface commented on #1413
hmm, @hlomzik seems like a bug? do docs describe the intended behavior (highlight occurs but label is not displayed), or is displaying "null" instead of the label intended behavior?

[2021-09-09 22:55] smoreface commented on #1428
Thanks for the report! I'll fix this soon :)

[2021-09-10 08:29] ghpu commented on #1347
I encountered the problem with the following version :
{
  "label-studio-os-package": {
    "version": "1.2",
    "short_version": "1.2",
    "latest_version_from_pypi": "1.2",
    "latest_version_upload_time": "2021-08-18T16:22:25",
    "current_version_is_outdated": false
  },

  "label-studio-os-backend": {
    "message": "Correction : le fichier ca-certificates.conf n'\u00e9tait pas enregistr\

[2021-09-10 13:36] J-Petiot opened #1435 "Display chunks of audio file"
**Is your feature request related to a problem? Please describe.**
I work on active learning with long audio files (~1h-2h),  I need to present chunks of these audio files to the user for the annotation. I can't really pre-cut the files as they can change during the process (it won't always be the same chunks). I don't really know if we can do this with Label Studio or how to do it.

**Describe th

[2021-09-10 13:41] mauricio-repetto commented on #1115
Thanks very much! :raised_hands:

[2021-09-10 23:34] makseq commented on #1435
@J-Petiot Nice idea! I think we can pass start/end as task data, e.g.:

Labeling config:

[code]

Task data
[code]

As I remember LS can load only needed parts of audio, but your serving server must support streaming, LS uploaded files support it.

[2021-09-13 11:54] JisongXie opened #1437 "Export completions incomplete"
**Describe the bug**
I use LabelStudio for a text classification task, with 3 class.
1. The page shows that there are 1964 tasks, while there are 1972 completions.
2. When I export the result in csv format or in json format, there are only 1868 completions，and 9 label are NaN, which is not my preset label.

I go into the docker container, and see that there are 1964 items in the generated `source.

[2021-09-13 19:29] makseq commented on #1437
@JisongXie It means you have more than one completion per tasks most likely.

[2021-09-13 19:31] makseq commented on #1437
It looks like you are using very old version of Label Studio, the latest version is 1.2 and the commit is fb66049089c82636a831034876fb9adf75ecafab.

[2021-09-13 19:43] smoreface commented on #1421
@ScottishFold007
see https://labelstud.io/guide/labeling.html#Add-relations-between-annotations for more details -- the relations tag in the labeling config adds the option to label relations, but doesn't add relations between specific regions like @makseq points out.

[2021-09-13 19:44] smoreface commented on #1417
@qhreul which labeling config are you using? I've seen this happen with some labeling configs but not others.

[2021-09-13 19:47] smoreface commented on #1392
@thesby can you share your labeling configuration?

[2021-09-13 19:53] qhreul commented on #1417
@smoreface The project was created based on the Named Entity Recognition template.

[2021-09-13 19:56] smoreface commented on #1301
@shensmobile it would work to put the text in CSV. Can you share your labeling config? Did you import the text file as a time series or list of tasks?

[2021-09-13 19:59] smoreface commented on #1417
I recommend upgrading to 1.2.0, @qhreul. I have a NER project in 1.2.0 and I can move the labels list around perfectly!

[2021-09-13 20:25] qhreul commented on #1417
@smoreface We are actually using v1.2.0, but the issue remains. I have attached a short movie of the issue to describe.
https://user-images.githubusercontent.com/20356112/133151387-dd64afd1-23b6-4a29-b81b-48ebbdc30188.mov

[2021-09-13 20:29] smoreface commented on #1070
@GrayAlex49 please check out the new number tag https://labelstud.io/tags/number.html (in version 1.2.0+)

[2021-09-13 20:34] smoreface commented on #1417
@qhreul looks like you're possibly using the hypertext NER template from the playground, not the text NER template in the product.

On the labeling interface tab, can you click "code" and share your labeling config XML? I'm still not able to reproduce this (I don't have an option to change the label positions with the hypertext NER template).

[2021-09-13 20:35] smoreface commented on #1059
@alexfecke have you gotten this to work with the commit that lightsaway referenced?

[2021-09-13 20:39] #1013 closed

[2021-09-13 20:43] smoreface commented on #995
@hlomzik  fyi

I don't see an error but I don't see success when testing this with the example JSON results and v1.2.0

[2021-09-13 20:44] smoreface commented on #993
fyi @nicholasrq request for pagination in data manager

[2021-09-13 21:06] #895 closed

[2021-09-13 21:07] makseq commented on #995
@zhoudoufu @smoreface Yep, we skipped the support of ranker long time ago unfortunately due to rare usage. If there are lots of requests we will rework it for sure.

[2021-09-13 21:09] makseq commented on #993
@timurlenk07 What bugs did you have with filtering? We have fixed a lot of problems with them in release 1.2.

[2021-09-13 21:17] smoreface commented on #941
same as #796 and related to #208

[2021-09-13 21:24] #765 closed

[2021-09-13 22:13] smoreface commented on #398
Please, check out this blog post @getcontrol
https://labelstud.io/blog/Evaluating-Named-Entity-Recognition-parsers-with-spaCy-and-Label-Studio.html

[2021-09-14 03:04] qhreul commented on #1417
@smoreface We use the HTML representation for the text as opposed to the plain text. However, there does not seem to be anything in the XML code limiting where the information is displayed.
![Screen Shot 2021-09-13 at 10 02 16 PM](https://user-images.githubusercontent.com/20356112/133187942-995f6ba3-458a-467e-97a9-81d903927eba.png)

[2021-09-14 06:05] JisongXie commented on #1437
@makseq thanks, I take a try with the latest version.

[2021-09-14 09:01] china-zyy opened #1443 "Get predictions from a model"
how to predict all tasks? not only predict the current page

[2021-09-14 09:03] #1305 closed

[2021-09-14 18:03] kaustuk opened #1445 "Play audio region from sidebar"
**Is your feature request related to a problem? Please describe.**
Consider a scenario, we have an ASR system that provides the transcript per audio region basically it's able to find a speech and transcribe it. Now we want to give it out to the annotator for transcript corrects. And in this case, we will create a pre-annotated label studio task at the region level.

As per the current label studi

[2021-09-14 18:09] kaustuk commented on #1445
I would like to contribute to this feature, If someone can give out some pointer on where should I look for in label studio codebase, and after that I can pick it up 😄

[2021-09-14 20:39] smoreface commented on #1417
Thanks @qhreul, I was able to reproduce this!

[2021-09-14 21:44] smoreface commented on #1443
@china-zyy did you check https://labelstud.io/guide/ml.html#Get-predictions-from-a-model ?

[2021-09-14 22:21] makseq commented on #1301
@shensmobile Just checked it with the latest LS version (1.2 from the master branch) and this config:

[code]

and it works fine.

![image](https://user-images.githubusercontent.com/501780/133341548-44fbfdf7-aca1-430e-bde1-e7f370874e03.png)

[2021-09-14 22:30] makseq commented on #1445
@kaustuk https://github.com/heartexlabs/label-studio-frontend/blob/master/src/components/Entities/RegionItem.js --- I think the play button could be here.

[2021-09-15 00:01] makseq commented on #1443
[code]

[2021-09-15 00:12] hlomzik commented on #1413
Hi! "null" is wrong for sure, that's not for humans :)
This parameter is very rare, so there may be some errors. I'll check and fix it soon

[2021-09-15 02:42] china-zyy commented on #1443
yeah, got it, but the document api.md in docs/source/guide have a sentence "These API endpoints were introduced in Label Studio version 0.8.1 and are only valid until version 0.9.1." so, the version 1.1 don't support these api ?
![image](https://user-images.githubusercontent.com/50455382/133361503-95b57dbf-0c9c-44fd-af45-fd6033e18531.png)

[2021-09-15 02:50] china-zyy commented on #1443
I change the code "evaluate_predictions(tasks_for_predictions)" to  "evaluate_predictions(queryset.filter(predictions__isnull=True))", then I got all tasks prediction in the web UI, but I thick It's terrible.
![image](https://user-images.githubusercontent.com/50455382/133361801-6336e4cc-0946-4196-8743-8b8622e66a05.png)

[2021-09-15 03:33] smoreface commented on #1443
@china-zyy
API docs are here, linked from the API page that you're referencing:
https://labelstud.io/api#operation/api_predictions_read

[2021-09-15 05:48] arpitkjain10 opened #1449 "Label all tasks not working"
**Describe the bug**
When trying to start labelling all tasks, the screen freezes on loader and next screen is not visible.
Running Label Studio on Cloud Run. Images synced from GCS storage bucket.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Label Studio on cloud run
2. Create a project and attach GCS bucket.
3. Sync data into Label studio and configure labelling setup.
4. Click on L

[2021-09-15 06:09] china-zyy commented on #1443
thank you, I sent post request to http://localhost:9090/predict , body is {"tasks": [{"data": {"data": "text"}}], "model_version": "1630929480", "project": "39.1630897128", "label_config": "<View>\n  <Text name='text' value='$data'/>\n  <View style='box-shadow: 2px 2px 5px #999; padding: 20px; margin-top: 2em; border-radius: 5px;'>\n    <Header value='Choose text classification'/>\n    <Choices na

[2021-09-15 08:11] makseq commented on #1449
@arpitkjain10 could you show LS server logs please? 403 is not used to our codes, probably it happens on your proxy side.

[2021-09-15 13:04] loveychen opened #1451 "Support time constraints for data export apis"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Add time constraint, such as `created_at between  a and b` and `updated_at >= xxx`, to data export apis.

Taking `{hostport}/api/projects/` as an example,  if we set parameters as `?created_at%20between%20a%20and%20b`, then just return the projects created between time a and b, but not all o

[2021-09-15 14:33] schudoku opened #1455 "Timeout while loading project in docker-compose.yml setup."
[2021-09-15 14:29:02,631] [urllib3.connectionpool::urlopen::780] [WARNING] Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7fb1ec28b130>: Failed to establish a new connection: [Errno 110] Connection timed out')': /api/5820521/envelope/

Frontend is available and I can navi

[2021-09-15 14:52] realabja opened #1456 "URI resolution cannot resolve URIs that are in the middle of stings."
**Describe the bug**
When using Hypertext, if one needs URI resolution, URI is not properly resolved.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project
2. Connect to an azure storage account(or other storage buckets) name the container "foo", upload a picture in container "picture.jpg"
3. set your bucket credentials in your environment
4. Import following task
{"html": "<!

[2021-09-15 15:30] KonstantinKorotaev commented on #1415
Hi @pyturn
This error tells you that you have more than 1 tag in your labeling config.
If you want to use current labeling config as is you can just comment line:

and proceed with your predictions.

[2021-09-15 16:08] makseq commented on #1451
@loveychen We are preparing a big update for the export where you are be able to export selected tab. So this feature will be implemented using filters.

[2021-09-15 16:59] makseq commented on #1456
@realabja Try to use this one:

[code]

[2021-09-15 17:40] makseq commented on #1455
@schudoku It's our bug tracker system and these messages could be simply ignored.

[2021-09-15 17:40] #1455 closed

[2021-09-15 17:43] panoplied commented on #1434
Thanks for the feature request. We have this planned in our road map. There will be solution to show hotkeys over UI elements.

[2021-09-15 17:45] realabja commented on #1456
@makseq  Thanks for responding, It would resolve the URI this way. but It would not allow me to control dimensions as <img> tag not inside a <div> container. I believe (the last regex)[https://github.com/heartexlabs/label-studio/commit/2057733885fd13fae9d26948bdf26930b15483a1#diff-a4aa4d932382564595676534ecd98f7b7abb41dd48ddcb6a7bccb74476320253R9] would work perfectly. could we have white space fi

[2021-09-15 23:04] csaroff commented on #1246
Isn't this what the [maxUsages feature](https://github.com/heartexlabs/label-studio/blob/a0c4244a888e1c41f5996187157ee42558471659/docs/source/tags/brushlabels.md#parameters) is for? I tried testing this out by setting maxUsages="1" and it didn't seem to do anything.

[2021-09-15 23:53] csaroff opened #1464 "BrushLabel option for semantic segmentation"
**Is your feature request related to a problem? Please describe.**
Currently labelstudio only allows for [instance-segmentation](https://paperswithcode.com/task/instance-segmentation) with brushlabels. It would be great if it would also support the more popular [semantic segmentation](https://paperswithcode.com/task/semantic-segmentation) brushlabel which would only allow one class to be labeled p

[2021-09-16 01:33] makseq commented on #1456
@realabja
[code]
do you mean this by the last?

[2021-09-16 05:19] loveychen commented on #1451
Thanks for you reply, I can hardly wait for the 1.4 version

[2021-09-16 05:23] loveychen commented on #1114
+1  for this feature.

[2021-09-16 05:47] vaibhavsatpathy commented on #760
Facing the same issues. Though As suggested once I By-Pass Nginx and directly access 8080 it works.

[2021-09-16 06:51] realabja commented on #1456
The first Mentioned regex:  r"[\s\'\"]?(?P<uri>(?P<storage>{})://([^/\s]+)/(.*?[^/\s]+/?[^\s\'\">]+))[\s\'\"]?"

[2021-09-16 08:03] arpitkjain10 commented on #1449
![image](https://user-images.githubusercontent.com/60604406/133574188-9a69dd23-1d6a-4699-a7e4-32eb7a0144c5.png)
Logs from Cloud Run instance.
Note: I am using OOB setup of Label Studio on GCP Cloud Run Instance

[2021-09-16 11:47] makseq commented on #1449
What is your LS version? Could you upgrade to the latest from the master branch?

[2021-09-16 12:02] arpitkjain10 commented on #1449
using Label Studio Version 1.2

[2021-09-16 12:51] nicholasrq commented on #1247
take a look at #1453

we now have <kbd>alt</kbd> + <kbd>[</kbd> and <kbd>alt</kbd> + <kbd>]</kbd> for decreasing/increasing Brush and Eraser size
also you'll find <kbd>alt</kbd> + <kbd>+</kbd> and <kbd>alt</kbd> + <kbd>-</kbd> for zooming in and out

[2021-09-16 20:14] kielnino opened #1470 "Export of Object Detection Annotations (COCO) ignores images with null annotations"
**Describe the bug**
In my Object-Detection problem, there are also images with no objects visible. So in label-studio I just clicked "Submit" without annotating any regions on these images. But these images are erroneously omitted in the `images`-block in the export in COCO-format:

**To Reproduce**
Steps to reproduce the behavior:
1. Set up an object detection project (Object detection with boun

[2021-09-16 23:10] makseq commented on #1451
Let's not close this issue until 1.4. We use issues as checklists for releases.

[2021-09-16 23:13] makseq commented on #1114
@loveychen @KDercksen @nateraw @mauricio-repetto
We are preparing a big changes in export, hope you will love it :-)

![image](https://user-images.githubusercontent.com/501780/133697116-22cd2dbc-9b26-4e3d-926f-d78151f06eae.png)

[2021-09-16 23:24] makseq commented on #1470
@kielnino We are planning to drop image downloading for export, because it's
* not secure (in theory LS should not access images/audio/media from outside resources)
* slow
* difficult to implement
?
As alternative you could copy your images manually to `images` folder. Is it ok for you?

[2021-09-17 06:42] kielnino commented on #1470
@makseq Thank you for the quick response. However, I didn't mean the images themselves, but their listing in the annotation file. Please apologize for the misunderstanding.

If I want to annotate an empty image (for example only the background), the image should be included in the training data as usual, but just without annotation.

This would mean in COCO data format that the image is listed in

[2021-09-17 09:07] hachreak commented on #1115
Hi @makseq @mauricio-repetto
could you explain how it works?
How can I specify category name and id number?
I can't find it in docs.. :smile:
Thanks

[2021-09-17 10:09] lluissalord commented on #342
@makseq Here you can see an example of task which when filtering "más" or "posición" on the `text` field it works as expected, but when filtering on `tokenizer_result` (which is a list of strings) then it does not find the task.

Please let me know if you need more examples.

[task_example.zip](https://github.com/heartexlabs/label-studio/files/7184786/task_example.zip)

[2021-09-17 13:36] makseq commented on #1449
@arpitkjain10 Could you switch to the latest master branch? Or wait a little and we will release LS 1.3, I think there won't be this bug.

[2021-09-17 16:02] nicholasrq commented on #671
take a look at #1453 please. <kbd>alt + tab</kbd> was replaced with <kbd>alt + .</kbd> and should work just fine on any platform

[2021-09-17 18:38] beasteers opened #1477 "HyperText doesn't render content in body"
**Describe the bug**
HyperText doesn't accept content from its body and throws an error if value is not set. This means that any hypertext needs to be set in the task data which is not great, especially if you want to nest some static HTML (like a header or whatever).

I found this release (0.5.0) that said that it was now possible so I'm not sure why it isn't possible anymore.
[release 0.5.0](htt

[2021-09-17 22:03] twsl commented on #808
In case the labels in the annotation do not match the ones you setup when creating your label config, all polygons are shown in light grey and are hardly visible. That is a problem I encountered.
For the inverse conversion (COCO polygon points to LSCF) you need to convert via: p_new = (p*100)/widthOrHeight

[2021-09-17 22:31] #671 closed

[2021-09-18 07:47] royschwartz2 commented on #1247
Hi. Thanks for the update. However, there are now substantial issues that prevent (at least us) from using version 1.3 of Label Studio:
1. The brush changed functionality pretty drastically. It now no longer allows for pixel-level annotation, as the minimum size is quite large.
2. Not a deal breaker - the hotkeys for changing brush size (which are, by the way, just [ and ], without alt) don't allo

[2021-09-18 22:50] #1357 closed

[2021-09-18 22:52] makseq commented on #756
The support for this feature is realized in LS 1.3 and the latest ML backend.

[2021-09-18 22:52] #756 closed

[2021-09-18 22:53] makseq commented on #1141
@VladYushchenko Please. could you check it in LS 1.3 ?

[2021-09-18 22:55] makseq commented on #655
This feature have been released in LS 1.3.

[2021-09-18 22:55] #655 closed

[2021-09-19 13:33] Mano-Liaoyan commented on #1343
I apologize that it took so long to reply to your message, and I'm sorry to tell you that I ended up solving the problem by manually copying the files as well. Luckily I stored it on a relatively fast private NAS and it didn't take me much time, hopefully, your problem will be solved well too.

Have a nice day

[2021-09-19 13:33] #1343 closed

[2021-09-20 05:17] lixiepeng opened #1483 "import data is comfusing?"
1. Does label-studio support json line format?
2. For LocalFilesImportStorage your JSON file must be a dictionary with one task. Does it mean each data with a json file?

[2021-09-20 05:25] arpitkjain10 commented on #1449
@makseq Thanks for the feedback. We are using the latest master branch.
Would wait for the new release and test it out.
Is there any timeline for LS 1.3 that you can share?

[2021-09-20 06:40] lluissalord commented on #1008
Is there any fix in process to correctly count the characters of emoji and special characters to not have this issue of offsets?

[2021-09-20 09:41] makseq commented on #1449
@arpitkjain10 LS 1.3 is already released!

[2021-09-20 10:17] arpitkjain10 commented on #1449
@makseq Thanks for the update. The issue was resolved when using 1.3 release.
Appreciate your constant support on this.
Closing the issue.

[2021-09-20 10:17] #1449 closed

[2021-09-20 12:35] kaustuk commented on #1445
Hi @makseq, I actually went through the code whatever you have mentioned. So here is the implementation I was thinking of.

**Implementation**:
1. Add a new button in the region tag similar to the hideable Beside the mic button. Here is the code snippet
[code]
Here  LsVisible would be replaced by some other visible button.

**The problem/unknown for me**
1. Getting some error and not able to assig

[2021-09-20 16:14] robmarkcole commented on #925
A solution: `Successfully installed psycopg2-binary-2.9.1`

[2021-09-20 21:48] SapienMachineLearning commented on #1301
@smoreface I ended up putting all the text into a .csv as a workaround.  I had been importing the text files as time series though.  I don't have the labelling config I was using at the time, sorry :(

@makseq I'm on version 1.1.0, I tried that labelling config, and still I get an error (when my text is imported as a time series).

[code]

[2021-09-20 21:50] shensmobile commented on #1301
@smoreface I did end up putting all the .txt into a CSV to make it work.  I was just curious why text was not working in my case, more of curiosity than anything.  I don't have the original labelling config I used, sorry, but I was importing it as a times series, not a list of tasks.

@makseq I am unfortunately on version 1.1.0.  I tried that labelling config anyway and get this error:

[code]

[2021-09-20 22:49] makseq commented on #925
@robmarkcole do you mean we should use 2.9.1 version?

[2021-09-20 23:43] makseq commented on #1008
@lluissalord what LS version do you have now?

[2021-09-21 00:06] makseq commented on #1483
@lixiepeng
1. No, LS doesn't yet support json line.
2. Yes, for all storages LS allows to use only one json per task.

[2021-09-21 03:49] robmarkcole commented on #925
@makseq thats correct

[2021-09-21 07:53] lluissalord commented on #1008
@makseq I am using version 1.3

An example of what is happening to me is below, where "Jr" should be labelled as SENIORITY. The current result for this case is:
[code]
![image](https://user-images.githubusercontent.com/7021552/134132234-b45ae7fc-43e9-4227-b36f-ce6ffeb903d4.png)

Hence, we can see that the value on the result is correct, however the visualization on Label Studio is not correct.

Be

[2021-09-21 08:06] nellorebhanuteja opened #1492 "Import from base64 encoded wav file"
How do I import from base64 encoded wav file?

[2021-09-21 09:32] nicholasrq commented on #1008
@lluissalord could you please share a sample text, your labeling config and a full result that's displaying incorrectly? it'd be super helpful for debugging the issue

[2021-09-21 10:31] lluissalord commented on #1008
Sample text: "👋🏽 Hola, soy Roberto Jr"

Labelling config:
[code]

Result:
[code]

[2021-09-21 13:06] nicholasrq commented on #1008
thank you! i'll get back with further investigation

[2021-09-21 18:09] victor-ab commented on #1413
@hlomzik Besides the "null", the `showLabels` default value is False in the docs, but True in reality

[2021-09-21 18:16] victor-ab commented on #1420
Got the same behavior with different data.

[2021-09-21 23:12] victor-ab commented on #1413
@hlomzik @makseq I think I found the bug.
I think it is [here](https://github.com/heartexlabs/label-studio-frontend/blob/5ad6f04f25dd5243679e2ea261ff67760d9f12c4/src/utils/selection-tools.js#L361)
There should be a check for (label != null) before setting the label text attribute.

[2021-09-22 02:06] makseq commented on #1492
You can try to prepare tasks as the following:

[code]

[2021-09-22 08:00] lluissalord commented on #342
Any update on this? I am still unsure if this issue should be re-open in order to make sure it is not forgot or to open a new issue with this information to keep track of the issue.

[2021-09-22 10:58] makseq commented on #925
Check this PR: https://github.com/heartexlabs/label-studio/pull/1502

[2021-09-22 12:17] hlomzik commented on #1413
yes, looks like the right place, thanks! I'll try it today
about `showLables` — it's complicated a bit, it has different default values for different object tags, but I'll check this as well

[2021-09-22 15:40] nellorebhanuteja commented on #1492
what does that string in the end represent?

[2021-09-22 23:04] makseq commented on #1492
@nellorebhanuteja Have it worked for you? If yes, please close this issue.

[2021-09-22 23:10] makseq commented on #342
@lluissalord Yes, I've explored your task_example.zip and I couldn't find any useful data there. How did you get it?
Did you use LS Export button and select JSON format?

[2021-09-22 23:11] #1483 closed

[2021-09-22 23:27] makseq commented on #1273
Just save here another similar request from our Slack community (by Haolin Chen):

[code]

[2021-09-22 23:48] makseq commented on #1477
@beasteers Thank you for your feedback, It's a good point to have body inside of HyperText. We completely rewrote the hypertext engine and this feature has been dropped due to low popularity.

BTW you can try to use this labeling config for the video timeline segmentation:

[code]

[2021-09-23 00:33] beasteers commented on #1477
Ah nice! That sync prop is very slick!

Yeah I mean I don't know how hard it would be to implement, but I think it's an good feature to have, especially because of how powerful and flexible it is to be able to sprinkle custom html and js in a template! Basically, it seems like a simple feature to add that unlocks a lot of potential.

[2021-09-23 00:47] makseq commented on #1477
@beasteers Yes, you are absolutely right, I think we'll bring this feature back.

[2021-09-23 03:32] nellorebhanuteja commented on #1492
Yes it has worked for me. Thank you.

[2021-09-23 03:32] #1492 closed

[2021-09-23 06:27] lluissalord commented on #342
Sorry I did not check if it was exportable and I see that the `data` field is missing. Here you have a different example where `inglés` or `catalán` are words which fails depending on the field used for filtering.

With this file I have been able to import to Label Studio using Import button, so it should work, if not let me know.

[correct_task_example.zip](https://github.com/heartexlabs/label-st

[2021-09-23 07:12] ChainYo commented on #1343
I solved this issue by adding a personal script to copy images from the initial directory to the exported one.

My comprehension of the problem: There is a problem between local storage path and exported images path. Something is weird because the links are `d/?` + ìmage_name`. There is 3 digits/letters before the image name, maybe referencing to the local storage path, but the real local storage

[2021-09-23 08:04] anferico opened #1512 "Allow labeling white spaces in text"
**Is your feature request related to a problem? Please describe.**
I'm working on a text labeling task that involves annotating errors (typos, grammar errors, ...) in short fragments of text. Since I know that such fragments can contain several consecutive white spaces, I would like to be able to annotate the excess white spaces.

**Describe the solution you'd like**
I would like the UI to allow m

[2021-09-23 16:04] makseq commented on #1470
@kielnino https://github.com/heartexlabs/label-studio-converter/pull/57 could you check this PR, does it solve your problem?

[2021-09-23 17:42] makseq commented on #1512
@anferico could you check this pr please? https://github.com/heartexlabs/label-studio-frontend/pull/307

[2021-09-23 19:17] tomasohara commented on #1420
Thanks for the info. Do you have any tips for working around the problem?

On Tue, Sep 21, 2021 at 1:16 PM Victor Borges ***@***.***>
wrote:

[2021-09-23 21:11] makseq commented on #1420
@tomasohara Sorry for the delay. The solution for you:
1. Go to the broken Project => Settings
2. Open Danger Zone
3. Click "Drop All Tabs"

@victor-ab Hope this steps help you too.

[2021-09-23 21:45] makseq commented on #342
@lluissalord I see you are trying to import `tokenizer_result` as dict and then search over it. However, LS filters doesn't support this kind of search. You have to convert your dict to string.

![image](https://user-images.githubusercontent.com/501780/134588060-4d32bf15-392e-4c32-8e7e-74b5ab075206.png)

![image](https://user-images.githubusercontent.com/501780/134588406-02a2b984-1829-42db-8776-7a

[2021-09-24 09:35] lluissalord commented on #342
@makseq Thanks I will take a look into it to transform this data before uploading it. I will let you know the outcomes.

[2021-09-24 11:08] VladYushchenko commented on #1141
@makseq In LS 1.3 works as expected, thanks a lot!

[2021-09-24 11:08] #1141 closed

[2021-09-24 19:14] tomasohara commented on #1420
Thanks very much for the clarification. Max! That's a quick fix.

Best,
Tom

On Thu, Sep 23, 2021 at 4:11 PM Max Tkachenko ***@***.***>
wrote:

[2021-09-24 19:56] tomasohara commented on #1420
Shouldn't that be left open? The issue still remains, and so we are still vulnerable to a potential hangup. (Removing the tabs is just an expedient to make the system usable. )

[2021-09-24 21:11] smoreface commented on #1236
Fixed with [version 1.3.0 release](https://github.com/heartexlabs/label-studio/releases/tag/v1.3.0).

[2021-09-24 21:11] #1236 closed

[2021-09-24 21:11] smoreface commented on #1174
This should be addressed with the [version 1.3.0 release](https://github.com/heartexlabs/label-studio/releases/tag/v1.3.0).

[2021-09-24 21:12] smoreface commented on #1134
This should be addressed with the [version 1.3.0 release](https://github.com/heartexlabs/label-studio/releases/tag/v1.3.0).

[2021-09-24 21:13] smoreface commented on #771
Added in [version 1.3.0 release](https://github.com/heartexlabs/label-studio/releases/tag/v1.3.0), check out this relevant example: https://labelstud.io/blog/release-130.html#Interactive-pre-annotations-for-text

[2021-09-24 21:14] smoreface commented on #1091
Added in [version 1.3.0 release](https://github.com/heartexlabs/label-studio/releases/tag/v1.3.0), check out this relevant example: https://labelstud.io/blog/release-130.html#Interactive-pre-annotations-for-text

[2021-09-24 21:17] smoreface commented on #970
Fixed with [version 1.3.0 release](https://github.com/heartexlabs/label-studio/releases/tag/v1.3.0).

[2021-09-24 21:17] #970 closed

[2021-09-24 21:19] smoreface commented on #476
This should be fixed with [version 1.3.0 release](https://github.com/heartexlabs/label-studio/releases/tag/v1.3.0), please try it out!

[2021-09-24 21:19] smoreface commented on #1262
Fixed with [version 1.3.0 release](https://github.com/heartexlabs/label-studio/releases/tag/v1.3.0).

[2021-09-24 21:19] #1262 closed

[2021-09-24 21:22] smoreface commented on #1205
Target sync is added in added in [version 1.3.0 release](https://github.com/heartexlabs/label-studio/releases/tag/v1.3.0):

On later syncs, duplicates are overwritten by annotation ID.

https://labelstud.io/guide/storage.html

[2021-09-24 21:22] smoreface commented on #1072
Fixed with [version 1.3.0 release](https://github.com/heartexlabs/label-studio/releases/tag/v1.3.0).

[2021-09-24 21:22] #1072 closed

[2021-09-24 21:23] smoreface commented on #1026
@sethidden please check this in the [version 1.3.0 release](https://github.com/heartexlabs/label-studio/releases/tag/v1.3.0), it should be fixed!

[2021-09-24 22:53] makseq commented on #1420
@tomasohara Could you record a video with this broken moment? What do you do to reproduce it?

[2021-09-24 23:44] tomasohara commented on #1420
OK, see the attached files: one is a video and the other is the captured log file.

This was invoked as following using the DB attached above (label_studio.sqlite3.gz):
`
label-studio start --port 6666 --data-dir . --database ./label_studio.sqlite3 --no-browser --debug --log-level DEBUG
`
[tomasohara-label-stupid-hangup-24sept21.mp4-split-c.gz](https://github.com/heartexlabs/label-studio/files/722

[2021-09-24 23:46] tomasohara commented on #1420
Basically just open fda-documents project in the above SqlLite3 DB. (The temp-fda-documents is the same project reloaded.)

[2021-09-24 23:54] makseq commented on #1420
@tomasohara unfortunately logs won't help, because it's a frontend issue, logs are from backend only.

I have to see how you reproduce this from the scratch tabs after their dropping.

[2021-09-25 00:45] jktyan opened #1525 "Background lines and marks did not move when zooming in/out for time series data"

[2021-09-25 00:48] tomasohara commented on #1420
Unfortunately, I don't know how to reproduce it. Someone else made changes to the tabs that resulted in the hang up. (By the way, we are having a bunch of quirks involving the tabs, such as amnesia in the task filters. I'll report separately when I get a chance.)

Didn't @victor-ab reproduce the hangup. It would seem easier to track this down on your end if so. Otherwise, we would have to reconstr

[2021-09-25 00:53] #1525 closed

[2021-09-25 00:55] jktyan opened #1526 "Background lines and marks never move when zooming in/out for time series data"
The background lines and marks never move when zooming in/out for time series data. Please see the attached example. Does anyone know how to solve it?
![bug for label studio](https://user-images.githubusercontent.com/30671571/134752405-3e4580e9-5f49-465b-8f5d-2c18627571db.jpg)

[2021-09-26 22:42] makseq commented on #1420
@tomasohara Sorry, but without exact instructions on how to reproduce this, we can't help.

[2021-09-27 08:40] nicholasrq commented on #1247
@royschwartz2 yeah, you're right, shortcuts are just [ and ], sorry for a misleading comment

brush size issues (as well as eraser size) were fixed in 1.3.post1

speaking of brush and eraser size to be synced. maybe we can introduce that as an option, but generally speaking those are different tools, so both have their own size settings

[2021-09-27 09:09] lixiepeng opened #1528 "Refused to display '' in a frame because it set 'X-Frame-Options' to 'deny'"

[2021-09-27 11:46] royschwartz2 commented on #1247
Thanks @nicholasrq. I actually meant the brush size scrollbar - it doesn't seem to change the eraser size at all (at least on 1.3 before post1).

[2021-09-27 12:49] lfeldb commented on #1470
@makseq

When dropping the image download support, how would you like to deal with uploaded images?
One could argue that you've already got the images when uploading, however what if a colleague uploads images; or what if images are uploaded twice and renamed by label-studio? (I'm afraid of losing referential integrity)

The coco export solves this.

[2021-09-27 14:51] lluissalord opened #1531 "Cannot delete task after updating with API"
**Describe the bug**
I cannot delete two tasks which I have updated with API, because accidentaly I messed up the format of `data` field on these tasks which instead of being a dictionary are strings.

Then, when trying to localize them on UI by filtering the UI it does not update to see the results and also when there is any interaction with these tasks with the API.

**To Reproduce**
Steps to re

[2021-09-27 17:40] DimIsaev opened #1533 "how to close registration of new users [docker]"
how to close registration of new users when installing label-studio in docker?

[2021-09-27 20:01] Ierezell opened #1534 "Update Pydantic requirements"
**Describe the bug**
As I also have spacy in my project, which depends on `pydantic>=1.7.4`

Increasing the requirements would fix the problem.

**Expected behavior**
Be able to install spacy and label-studio

**Other solutions**
Use Docker or launch label-studio from another folder

**Environment (please complete the following information):**
 - OS: [e.g. iOS] Linux
 - Label Studio Version [e.g.

[2021-09-27 23:33] makseq commented on #1470
@lfeldb Thanks for this idea, yes, for LS uploaded files it's make sense.
For storages I'd prefer to download files by myself, because it will be faster and maybe I have a direct storage access.

[2021-09-27 23:44] makseq commented on #1531
@lluissalord Could you try to remove this task using shell?

[code]

Will it help you?

We have a validation in the task import api, but we left api/tasks without it because performance thoughts.

[2021-09-28 00:17] makseq commented on #1464
@csaroff Do you mean the last stroke should exclude previous? Or the first stroke is always there?

[2021-09-28 00:40] csaroff commented on #1464
@makseq I would favor the current stroke overwriting old strokes on the pixels where they overlap. Does that make sense?

[2021-09-28 01:11] makseq commented on #1534
Please, check this PR: https://github.com/heartexlabs/label-studio/pull/1535/files

[2021-09-28 07:27] kielnino commented on #1470
Probably related to #921

[2021-09-28 07:38] nicholasrq commented on #1247
yeah, currently eraser size doesn't depend on brush size. these are different tools that both have their own size property. as I said previously, we can make it an optional setting or something. expect it to be shipped during 1.3 lifecycle. I will also let you know here when it's available

[2021-09-28 08:52] thetoby9944 opened #1538 "Touch not working"
**Describe the bug**
Laptops with touch displays do not work with label-studio

**To Reproduce**
1. Try to label with a pen or finger on a capacitive touchpad

**Expected behavior**
Label-studio reacts to touch, i.e. labels are drawn.

**Observed behavior**
Label-studio does not react to touch when drawing labels. The rest of the UI is working fine.

**Screenshots**
Not applicable

**Environment (

[2021-09-28 08:53] fairy-of-9 opened #1539 "The template does not work."
**Describe the bug**
I try [this](https://labelstud.io/playground/?config=%3C!--Labeling%20configuration%20to%20label%20paragraph%20regions%20of%20text%20containing%20dialogue--%3E%3Cbr%3E%3CView%3E%3Cbr%3E%20%20%3CParagraphs%20name%3D%22dialogue-1%22%20value%3D%22%24dialogue%22%20layout%3D%22dialogue%22%20%2F%3E%3Cbr%3E%20%20%3CParagraphLabels%20name%3D%22importance%22%20toName%3D%22dialogue-1%22

[2021-09-28 13:09] Ierezell commented on #1534
Thanks a lot for the fast support!

[2021-09-28 13:09] #1534 closed

[2021-09-28 15:21] Ierezell opened #1542 "Docker-compose cannot start"
**Describe the bug**
When trying to launch the `docker-compose up` command (not cloning the repo) with only the `docker-compose.yml` file from the repo it fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Get the `docker-compose.yml` file in a new empty folder
2. Do `docker-compose up`
3. Get a `fixing permissions on existing directory /var/lib/postgresql/data ... initdb: could not chan

[2021-09-28 15:59] anferico commented on #1512
Seems the right solution to me, at least by looking at the code. I didn't have time to test it though

[2021-09-29 07:36] lluissalord commented on #1531
@makseq I've tried using shell as you mentioned and it did not work. Do you know which other option I could have?

[code]

[2021-09-29 07:39] anferico commented on #1512
By the way, how do I to integrate that change in the frontend inside the Docker image?

[2021-09-29 08:07] farioas commented on #1542
Unable to reproduce on both Ubuntu 20.04 and MacOS 11.5.2:
[code]

Looks like there are some problems with your local filesystem/permissions/etc. Since we're using official docker image `postgres:11.5` with no additions, please open an issue here https://github.com/docker-library/postgres/issues

[2021-09-29 08:07] #1542 closed

[2021-09-29 09:24] pottieral commented on #1420
Hi, just a quick note that the "drop all tabs" tip helped me today. Thank you !

[2021-09-29 17:25] tomasohara commented on #1420
That is disconcerting: please take this problem more seriously! I took the time to record and upload that video. (By the way, clearer instructions would have alleviated the need for me to do that. Also, it would be good to warn used about the 10MB limit when uploading videos. I would have recorded it in lower resolution, but I didn't want to spend more time recording the video.)

[2021-09-29 19:52] makseq commented on #1539
@fairy-of-9 Please, check the latest LS version from master, we fixed this bug recently.

![image](https://user-images.githubusercontent.com/501780/135338828-0d01d0fe-d20b-4eb5-ae2c-fd34f6b9c224.png)

[2021-09-29 19:52] #1539 closed

[2021-09-29 20:17] panoplied commented on #1538
Thank you for the feedback. Yes, at the moment there is no fully working and convenient touch support in Label Studio. The task to implement it is not an easy one, but we have this in mind and plan to tackle this issue at some point.

[2021-09-29 20:19] tomasohara commented on #1420
I'll post a "ignore all tabs" feature request. (It takes time for my users to setup the tabs, so deleting them is not a workaround.)

Thanks @pottieral: I agrees that having the "drop all tabs" option is good. (But that is just an expedient.)

@makseq: will switching to PostgreSQL alleviate the DB corruption that leads to the tab issue? We only have 3 users active users, so concurrency shouldn't h

[2021-09-29 20:47] makseq commented on #1531
Try these please:

``
Task.objects.filter(id=<broken_task_id>).update(data={})
Task.objects.get(id=<broken_task_id>).delete()
[code]

[2021-09-29 20:52] makseq commented on #1420
@tomasohara On my practice, similar problems happen when there is something wrong in the task.data + filter over it.

[2021-09-30 00:52] makseq commented on #1512
@anferico The simplest way is to wait until we merge it to the master branch.
OR
1. you have to clone LS repo.
2. fetch LS Frontend using get-build.js from that branch.
3. collect static for Django
3. build docker

[2021-09-30 06:38] realabja commented on #1456
@makseq , I have not heard back from you for a while could please give me an update? Is the requested change possible?

[2021-09-30 08:07] lluissalord commented on #1531
It worked, thank you!!

[2021-09-30 08:07] #1531 closed

[2021-09-30 12:14] apohllo commented on #517
Any progress on that?

[2021-09-30 14:30] chiganov commented on #1266
Hi, thx for report.

It looks like a bug.

We will figure out what is going wrong.

[2021-09-30 15:01] anyght commented on #1232
Hello, do you have some references for a kubernetes deployment?

[2021-09-30 15:14] farioas commented on #1232
Sure 🤓

https://cloud.google.com/ai-platform/pipelines/docs/configure-gke-cluster#grant-access

[2021-09-30 15:56] anyght commented on #1232
![image](https://user-images.githubusercontent.com/59748997/135489009-35eea9fe-cd2e-415c-8ccc-daefd3cccc44.png)

this is the security configuration, that is sufficient for get bucket objet? I have try to connect on pod and execute the command `gsutils cp <object>`it work correctly. So, I don't known where I'm missing

[2021-09-30 17:12] Path-A commented on #384
Has there been any progress regarding development of this feature?

[2021-09-30 21:42] makseq commented on #384
Only if @feddybear has any news.
We are currently focusing on the image / html tagging. Audio updates are planned for next year.

[2021-09-30 22:06] #1247 closed

[2021-09-30 22:22] makseq commented on #1243
@royschwartz2 Just checked in the latest LS master, this issue has gone.

[2021-09-30 22:22] #1243 closed

[2021-09-30 22:44] makseq commented on #1456
@realabja Sorry for delay, yes, of course the requested change is possible, but we haven't had time for it yet. If you could make a PR, it would be great.

[2021-09-30 23:55] dsanders11 opened #1549 "Copy/Duplicate Label"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to copy/duplicate a label. For example, I have a task where the different items to label are all the same size, so I'd like to draw the rectangle once, then duplicate it and change the label on the copy, ensuring that all of the rectangles are identical sizes. CVAT has copy functionality as described.

**Descri

[2021-09-30 23:58] dsanders11 opened #1550 "Label Locking"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to lock a label to prevent it from being modified. With complex tasks with lots of labels in one image which overlap, it is easy to accidentally move an existing label without meaning to or realizing.

**Describe the solution you'd like**

A way to lock/unlock a label, similar to how a label can be hidden/shown

[2021-10-01 00:00] makseq commented on #1549
@dsanders11 Since LS 1.3 the selection of multiple regions and ctrl+c/ctrl+v hotkeys are available, have you tried them?

[2021-10-01 00:39] fcossio commented on #504
Hi, is anyone currently working on this? I would like to give it a shot.

[2021-10-01 01:59] makseq commented on #504
@fcossio Hi, nobody works on it. If you could make a PR, it would be amazing :slightly_smiling_face:

[2021-10-01 02:35] davidheryanto opened #1553 "[UI/Frontend, v1.3.0] Parent taxonomy checkbox icon remains the same when child item(s) is selected"
**Describe the bug**
In Label Studio 1.0,
- when one of the child taxonomy is selected, the parent taxonomy has (‒)  icon
  ![image](https://user-images.githubusercontent.com/5300554/135556097-e1c098eb-9ef0-42fd-aaf4-868030105c85.png)
- when all the children taxonomy are selected, the parent taxonomy has (🗸) icon and the parent is **automatically selected**
  ![image](https://user-images.githubuse

[2021-10-01 03:52] dsanders11 commented on #1549
@makseq, looks like Ctrl+D does exactly what I wanted, thanks! Using Ctrl+C and Ctrl+V was buggy for me, sometimes it worked, sometimes it didn't, and I couldn't figure out why, but Ctrl+D always worked. It seems like Ctrl+C/Ctrl+V did nothing for me when I first switch to an image and click an existing label.

I see now that it's mentioned in the docs, but not in the list of hotkeys in Label Stud

[2021-10-01 06:04] feddybear commented on #384
Sorry, I have yet to integrated the edits from the previous version to the latest one.  Also, kinda occupied with other stuff outside of annotation.

[2021-10-01 07:25] realabja opened #1554 "Contributing guidelines CONTRIBUTING.md is empty"
CONTRIBUTING.md file on master is incomplete, self explanatory!

[2021-10-01 09:18] panoplied commented on #1550
Hey, thank you very much for the idea, that probably gonna be very useful. We'll think on how to implement this lock/unlock mechanism along with the hide/show actions.

[2021-10-01 19:35] makseq commented on #1554
@realabja Thank you very much for pointing this out!

@smoreface Let's fix it? :slightly_smiling_face:
We can use it as example: https://github.com/tensorflow/tensorflow/blob/master/CONTRIBUTING.md

[2021-10-01 19:59] smoreface commented on #1554
Yes I have a template to use as a guideline too to work on this! I'll work on this next week :) Thanks @realabja :)

[2021-10-01 22:19] makseq commented on #1549
Thank you for your points. So, if we add the duplicate button for regions, will your issue be solved?

[2021-10-01 22:24] dsanders11 commented on #1549
I think so, yea.

[2021-10-01 22:47] makseq commented on #509
Hope it's fixed in the latest LS versions.

[2021-10-01 22:47] #509 closed

[2021-10-02 12:46] realabja commented on #1554
Thank you both!

[2021-10-03 16:18] hlomzik commented on #1008
Hi all! @Lolologist @lluissalord
I fixed this some time ago, but forgot to update LS with this fix. Could you please test this PR — https://github.com/heartexlabs/label-studio/pull/1559? My manual and automatic tests are fine on it, so just want to check if it fixes your problems.
Thanks!

[2021-10-03 19:38] hlomzik commented on #1347
Hi all! @ghpu @lucianosilvi
Try this PR, please, it should fix the problem — #1559

[2021-10-04 04:50] Khanifsaleh opened #1560 "Pre Annotated for Automatic Speech Recognition"
How to import for Pre Annotated for Automatic Speech Recognition?

[2021-10-04 12:48] joseberlines opened #1562 "Can you use label-studio for visualising text highlights when the spans are already given?"
I have a text string and a data structure that gives me already the NERs of the text as such:

[{name: 'organization', start:56, lenght: 45},
{name: 'person', start:156, lenght: 23},...]

Can I use label-studio to visualize (not to annotate) that particuar document?
It would sufice an HTML output with the label-studio alike highlighting.

[2021-10-04 14:14] sethidden commented on #1026
@smoreface Can confirm the reported issue is fixed on the latest release 1.3.0post0 :) (1.3.0post0 running inside Docker). Thanks a lot!

[2021-10-04 14:14] #1026 closed

[2021-10-04 14:40] ericchansen opened #1564 "Loading from local storage is bugged and/or doesn't match docs"
# Describe the Bug(s)

The documentation on using local storage isn't consistent between these two links.

* https://labelstud.io/guide/storage.html#Local-storage
* https://labelstud.io/guide/start.html#Run-Label-Studio-on-Docker-and-use-local-storage

For example, the environment variables mentioned in each are different. Also, note that neither of these pages describes what actually works (see b

[2021-10-04 15:48] lluissalord commented on #1008
Hi @hlomzik I can confirm that the PR fixed my use case. Thank you!!

[2021-10-04 17:30] ericchansen commented on #1564
As for the files showing up 2x, I just realized I was using 1.2. I'm now testing this on `1.3.post0` and I'll update this comment when I have results.

[2021-10-04 22:31] smoreface commented on #1562
@joseberlines I think what you're asking for is covered by Label Studio's ability to visualize predictions. You can follow the example format in this doc to add your NER labels and the text to Label Studio and visualize it.
https://labelstud.io/guide/predictions.html#Import-pre-annotations-for-text

[2021-10-04 22:45] makseq commented on #1560
You can check this video too, for audio the steps will be similar: https://youtu.be/CyRe73VD4EE

[2021-10-04 23:59] makseq commented on #325
Hope this behavior will be fixed with the Lock functionality and the new outlier panel.

[2021-10-05 08:37] anferico opened #1567 "Cannot render web page within labeling interface"
**Describe the bug**
I have a clickable link (a simple <a> tag rendered through a `HyperText` tag) in my labeling interface which fails to render the corresponding web page (value of the "href" attribute of the <a> tag).

In particular, when I click the link, the embedded web browsers tells me that the web page refused to connect.

Please note that I've installed Label Studio using Docker.

**To R

[2021-10-05 08:46] ghpu commented on #1347
Better for simple, one unicode character based  emojis (like pile of poop), but does not work for composing emojis, like "rainbow flag" 🏳️‍🌈 : the annotations are off even in the interface when annotating a word after the emoji.

[2021-10-05 11:56] makseq commented on #1567
@anferico This is a CORS issue, the webpage you are trying to use inside HyperText should allow opening in iframes. You have to properly configure your website/nginx/whatever to enable CORS.

[2021-10-05 11:56] #1567 closed

[2021-10-05 15:37] Khanifsaleh commented on #49
Hai, I installed label studio using pip, where is `label-studio/static/` location? I've copy my-file-folder to `anaconda3/envs/my_env/lib/python3.6/site-packages/label_studio/core/static/` and create file.json like you mentioned. But it still failed.

[2021-10-05 17:00] NileshSuthar opened #1573 "Firewall error while connecting FastAPI model as ML Backend"
**Describe the bug**
I was trying to connect the FastAPI model to Label Studio for using it as an ML backend service. It shows that health failed and suggested checking if it is up (which it is!). Please help me with how to fix this or where can I get more details about the error?

**Environment (please complete the following information):**
 - MacOS
 - Label Studio Version: 1.3.post0
<img width="

[2021-10-05 19:23] hlomzik commented on #1347
Oh, yes, I forgot to describe the solution. It counts code points, not a glyphs, so for composed emojis it may return length more than 1. This is how python works (and most of other software I suppose).
"Glyph" is a very render-specific thing, new emojis will be displayed "broken" on user-agents from one year ago. And code-points are standardised thing. If you create your pre-annotations in python

[2021-10-05 23:06] makseq commented on #49
This ticker is very outdated. Please, check this docs: https://labelstud.io/guide/tasks.html#Import-data-from-the-Label-Studio-UI

[2021-10-05 23:18] makseq commented on #1573
@NileshSuthar You ML backend should be inherited from LabelStudioMLBase (https://github.com/heartexlabs/label-studio-ml-backend/blob/master/label_studio_ml/model.py#L30) and implement `/setup` and `/predict` methods according this framework (/blob/master/label_studio_ml/api.py#L41).

Also please check this docs: https://labelstud.io/guide/ml_create.html

[2021-10-05 23:34] #524 closed

[2021-10-05 23:51] makseq commented on #620
This issue was related to https://stackoverflow.com/questions/48156306/html-5-video-tag-range-header. The audio hosting should answer with the correct Ranges in headers. The similar problem was in Local storage / Imported files using GUI in LS, but now it's fixed.

[2021-10-05 23:51] #620 closed

[2021-10-05 23:57] makseq commented on #621
Our ML docs and examples were corrected, hope they work as expected now.

[2021-10-05 23:57] #621 closed

[2021-10-05 23:57] #623 closed

[2021-10-05 23:58] makseq commented on #623
Done in 1.1.

[2021-10-06 00:02] makseq commented on #638
You should use this labeling config to enable headless CSVs:

[code]

[2021-10-06 00:02] #638 closed

[2021-10-06 00:06] makseq commented on #640
Now we have a special build scripts:

[code]

[2021-10-06 00:11] makseq commented on #689
We decided to leave this OAuth only for Label Studio for Teams and we are not planning to implement it now.

[2021-10-06 00:11] #689 closed

[2021-10-06 00:22] makseq commented on #702
In the Label Studio for Teams / Enterprise there are presented options that can be used to force tasks to appear in a completely random order. You have to enable `Uniform Sampling` and disable `Show tasks with ground truth labels first` + `Show tasks with overlap first` to achieve this.
![image](https://user-images.githubusercontent.com/501780/136121275-763d8af7-a3f5-4ff2-ba6a-5d5db9f49823.png)

[2021-10-06 00:22] #702 closed

[2021-10-06 00:27] makseq commented on #718
Looks like these features were added near the release 1.2.
You have to look at `leafsOnly`, `maxUsages` and `required` fields: https://labelstud.io/tags/taxonomy.html.

[2021-10-06 00:27] #718 closed

[2021-10-06 00:30] makseq commented on #735
Similar #181

[2021-10-06 00:41] makseq commented on #735
Now you can import tasks with labels are not presented in the labeling config. They won't have a label and will be grey. After import, you will be able to change label according to the current labels from the labeling config.

[2021-10-06 00:41] #735 closed

[2021-10-06 00:42] makseq commented on #737
This issue was fixed in the latest versions of label-studio-converter.

[2021-10-06 00:42] #737 closed

[2021-10-06 01:02] #749 closed

[2021-10-06 01:04] #760 closed

[2021-10-06 01:11] makseq commented on #772
I hope the usage of these options solved this problem:
`valueType="url"` - LS will load data from $ner url as text file.
`valueType="text"` - LS will use $ner as text directly.

[2021-10-06 01:11] #772 closed

[2021-10-06 01:20] makseq commented on #787
MySQL was added to LS, but not officially supported.

[2021-10-06 01:20] #787 closed

[2021-10-06 01:24] makseq commented on #712
This issue was fixed somewhere in LS 1.1 - 1.2.

[2021-10-06 01:24] #712 closed

[2021-10-06 01:25] #791 closed

[2021-10-06 01:39] makseq commented on #813
TASKS_MAX_NUMBER was set up to 1M tasks.
Also now we have the Local Storage and the recommended way is to use Local Storage/S3/GCS.

[2021-10-06 01:39] #813 closed

[2021-10-06 01:40] #818 closed

[2021-10-06 04:29] NileshSuthar commented on #1573
@makseq Is this a new update? I was using FastAPI in the same fashion as above till the last week and it was working fine. Now it's throwing this error. So is it an upgrade?
Also, the FastAPI main file has its own template so does it mean a model without LabelBase inheritance can't be used for prediction?

[2021-10-07 02:17] makseq commented on #888
Fixed since LS 1.1.

[2021-10-07 02:19] #896 closed

[2021-10-07 09:50] #1101 closed

[2021-10-07 14:56] dsanders11 opened #1585 "Can't Rotate Label When Zoomed In"
**Describe the bug**

Can't rotate a rectangle label if the image is zoomed in such that the label's corners are outside of the viewport.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a large rectangular label
2. Zoom in such that you can't see some of the corners
3. Try to rotate the label
4. Nothing happens

**Expected behavior**

Expected to be able to rotate a label while zoomed i

[2021-10-07 22:12] makseq commented on #517
@apohllo As I know we had a lot of changes in relation mechanics, but I haven't checked it carefully. It would be great if you could do it with the latest LS 1.3.

[2021-10-07 22:18] makseq commented on #1477
@beasteers Could you check the latest master? I think we've fixed it.

[2021-10-07 22:33] hlomzik commented on #1553
Hi! That's fixed in our frontend library and will be released soon in LS. It's already available in the master branch.

[2021-10-07 22:33] #1553 closed

[2021-10-07 22:35] hlomzik commented on #1553
Important note: we removed this "select all childs" behaviour because it's useless in taxonomy labeling, so parent node always in indeterminate state ("–") even if all the childs are selected.

[2021-10-08 02:37] #911 closed, assigned to makseq

[2021-10-08 02:38] makseq commented on #913
Solved in LS 1.1.

[2021-10-08 02:38] #913 closed

[2021-10-08 16:51] makseq commented on #1585
Thank you for your report, we are checking it.

[2021-10-08 17:30] makseq commented on #1573
Sorry, but I don't understand what FastAPI you use. It's not our official way to build ML backends. I mentioned here - https://github.com/heartexlabs/label-studio/issues/1573#issuecomment-935040380 - the main points you should do with FastAPI. We could have changed something, but I don’t remember the big breaking changes.

[2021-10-08 17:35] KonstantinKorotaev commented on #1573
@NileshSuthar Could you please provide logs from your FastAPI backend?

[2021-10-08 23:03] makseq commented on #937
@smoreface what do you think, should we add the last post instructions to our troubleshooting for storages?

[2021-10-08 23:05] #937 closed

[2021-10-08 23:17] #940 closed

[2021-10-08 23:35] makseq commented on #423
Please, try alt + h.

[2021-10-08 23:35] #423 closed

[2021-10-10 23:53] #1027 closed

[2021-10-10 23:56] makseq commented on #1035
We added a lot of codes about ML, I hope the ML usage is more clear now.
I'm closing this issue as unanswered and believe it could be solved with the latest LS 1.3 version.

[2021-10-10 23:56] #1035 closed

[2021-10-11 00:07] makseq commented on #1074
We support interactive pre-annotations now, check this article: https://labelstud.io/blog/release-130.html

[2021-10-11 00:07] #1074 closed

[2021-10-11 00:22] makseq commented on #1160
I hope it was solved with LS update.

[2021-10-11 00:22] #1160 closed

[2021-10-11 00:24] makseq commented on #1163
Hope it was solved. Closed as unanswered.

[2021-10-11 00:29] makseq commented on #1186
Relative: https://github.com/heartexlabs/label-studio/issues/1281

[2021-10-11 12:28] dentalala commented on #517
Thanks @apohllo for the feedback and @liebkne for ideas for possible solitions! We'll try to improve this part of the user interface to make working with them faster.

[2021-10-11 14:38] niklub commented on #1143
@yana25
In your case, the easiest way is to use the following label config
[code]

[2021-10-11 19:20] zhichao2021 opened #1595 "Feature request: to sync image to AWS S3 after image uploaded to label studio"
**Is your feature request related to a problem? Please describe.**
When deployed Label Studio to cloud server, the storage of container is not consistent, each time the server restart, label studio lost save file on local storage

**Describe the solution you'd like**
Please support sync files directly to AWS s3, then change the ['data']['image'] field to the AWS s3 url

[2021-10-11 23:58] makseq commented on #1595
@zhichao2021 Thank you for your proposal, but it seems the task is not trivial, because we have to generate presigned task url  each time LS access it. We already have this functionality for LS source storages: https://labelstud.io/guide/storage.html#Amazon-S3

[2021-10-11 23:58] #1595 closed

[2021-10-12 00:26] makseq commented on #1221
@NavjotBansal For video we finally released <Video> tag, it should solve this problem.
Please check: https://labelstud.io/tags/video.html

[2021-10-12 00:26] #1221 closed

[2021-10-12 00:28] #1224 closed

[2021-10-12 00:35] makseq commented on #1239
https://label-studio.slack.com/archives/C01SKFX54QK/p1626423069150600 (there were more similar questions in slack)

[2021-10-12 01:43] makseq commented on #1263
@royschwartz2 Does the latest version 1.3 fix this issues?

[2021-10-12 11:12] bobokvsky opened #1597 "Get, patch and remove several tasks at once using API"
At the moment, the GET, PATCH and DELETE methods of tasks works very slow when the number of needed tasks to change is very large.
The currents methods do the corresponding operation one by one, so in case when we have 10000+ tasks it works for a very long time.

Is there a way to add an API method that takes the list of tasks ids inputs for which it need to make appropriate changes?

[2021-10-12 11:28] bobokvsky opened #1598 "Return added tasks ids when import tasks by API"
At the moment, import tasks returns response with some information, for example `task_count` -- `Number of tasks added`.
But in the response there is no information about id of the new added tasks id.

Could you please add information about tasks id in response of  `https://localhost:8080/api/projects/{id}/import`?

Instead of it, we are trying to get all the tasks (along with their annotations) t

[2021-10-12 11:43] bobokvsky opened #1599 "Option "Show labels inside the regions" for RectangleLabels isn't good looking for small bboxes as it was in 1.0.2"
In Label Studio 1.0.2 there was nice interface option for RectangleLabels "Show labels inside the regions" that worked like that:
![image](https://user-images.githubusercontent.com/15606508/136950244-cd2d9442-a743-4aa3-a723-06c1224d8ce7.png)

Starting from Label Studio 1.1.0+ (including 1.2.0 and 1.3.0) this option looks very ugly because some bboxes could be small to display classes text
![image]

[2021-10-12 12:29] makseq commented on #1598
Duplicated issue:
https://github.com/heartexlabs/label-studio/issues/1202

Also please check this answer:
https://github.com/heartexlabs/label-studio/issues/1202#issuecomment-900521726

Some solution:
https://github.com/heartexlabs/label-studio/pull/1306

[2021-10-12 12:40] makseq commented on #1597
cURL Example:

[code]

[2021-10-12 13:46] niklub commented on #1407
Duplicated by https://github.com/heartexlabs/label-studio/issues/1329

[2021-10-12 19:46] rajesh-dhiman opened #1600 "Applying Labels to Multiple Text tags"
**Is your feature request related to a problem? Please describe.**
  I am trying to annotate  text data coming from a csv file.
  For Each Column , i need to create ```<text>``` tag and ```<labels>``` tag . This is causing my labels to be repeated  for every column . Imagine i have 88  labels and all 88 got repeated multiple times for each column. this is annoying.

**Describe the solution you'd l

[2021-10-12 19:50] smoreface commented on #1600
e.g., a **possible** solution would be supporting a label config like the following, where the toName field can support multiple values comma separated.

[2021-10-13 00:25] tomasohara opened #1601 "labels field of the annotations got dropped or mangled"
**Describe the bug**
Somehow the labels field of the annotations got dropped. I noticed the problem when running the attached JSON file export (
[_bad-annotation.json.txt](https://github.com/heartexlabs/label-studio/files/7333787/_bad-annotation.json.txt)
) through the CONLL2003 converter.

Here's the problematic section from the JSON file:
[code]

By the way, a related problem was that an invalid

[2021-10-13 00:39] makseq commented on #1598
You can try this workaround:
1. Create a tab without any filters (e.g. view-id)
2. Leave only one ID column there
3. Call this API:

[code]

[2021-10-13 09:50] FramoDv opened #1602 "TextArea or Input Component event handling inside a labelling task"
Hi label studio team, I have a question… Is there a way to do custom validation on OnBlur event or OnChange maybe inside a TextArea or Input Component? We need it during a Labelling task where we need to check user input to avoid text containing errors or useless spacing or any others kind of check to avoid malformed data.

It would be also useful to have a way to display a contextual input error

[2021-10-13 14:35] rozeappletree opened #1605 "[HowTo] Load already exported csv file"
HI,

I have exported all my annotations (csv file for invoice ocr template). Now I want to load these annotations in a freshly installed label-studio. But I could not find any way to do it. Is there some way to do this?

I tried reading [Import pre-annotated data into Label Studio](https://labelstud.io/guide/predictions.html) section but it was of no help.

[2021-10-13 22:31] bobokvsky opened #1608 "Add column `tasks.updated_at` to tabs (and maybe also `tasks:completed_at` to response of API)"
At the moment, from API there are two useful columns about tasks:

<html>
<body>

Key | Type | Description
-- | -- | --
tasks.created_at | datetime | Date and time of task creation.
tasks.updated_at | datetime | Date and time of last update to the task.

</body>
</html>

However, in tabs (views) there are possible columns `tasks:created_at` and `tasks:completed_at`:
![image](https://user-images.gi

[2021-10-14 00:27] makseq commented on #1605
Hi,

There is no simple way to load CSV back. You have to convert it to Label Studio JSON format.

[2021-10-14 00:28] bobokvsky commented on #1608
@makseq yes, `update_at` is datetime of last update to the task. The column `completed_at` gives the date-time only for the moment of creation of the new annotation, and when it is modified, this column does not change.

[2021-10-14 00:33] makseq commented on #1602
@FramoDv It's a good question, we are thinking about this feature, but right now it's not possible to do easily.
There are two ways to get to it:
1. Write your custom code inside of LS Frontend (you can use onChange event for any HTML element)
2. Write your custom code inside of LS Backend (on create annotation api)

[2021-10-14 00:37] makseq commented on #1301
Hope that updated LS version works well.

[2021-10-14 00:37] #1301 closed

[2021-10-14 00:44] makseq commented on #1342
I think this has been fixed already and no more actual.

[2021-10-14 00:44] #1342 closed

[2021-10-14 07:41] namazia commented on #1232
@anyght , Yeah I gave that a try but didn't work for me. For me it's the same as yours, runs fine locally but in google kubernetes deployment gets permission denied error.

[2021-10-14 14:50] hlomzik commented on #1241
Hi, @royschwartz2 !
Can you check PR #1609 ? The problem was in drafts saving in the middle of drawing process, so now I changed the way it triggers and stores, so it should not interfere with drawing no more. Will be merged soon after checks.

[2021-10-14 14:57] hlomzik commented on #1477
It was fixed in https://github.com/heartexlabs/label-studio/pull/1551

[2021-10-14 16:13] uriel-tannen opened #1612 "Error whilst exporting data"
When I try to export data, I get a dead Heidi avatar alongside a 'service unavailable' error; looking at the network requests, the `export?exportType=CSV` request returns a 503 error.

Some context:
The project has more than 20,000 tasks, although there is only one `Choices` datapoint to be labelled.
I forgot to write annotations to cloud storage until around 10,000+ tasks had already been labelle

[2021-10-15 00:42] INF800 commented on #1605
Hi @makseq, I exported the data in `json-min` format from labelstudion and tried importing it. Yet, the bboxes did not appear as annotations. Instead, they appeared as as separate column.
![image](https://user-images.githubusercontent.com/45640029/137414214-11184c8e-5682-4995-950a-643cb1653512.png)
Can I know what is the expect scheme.

This is how my exported `json-min` format data looks like
[co

[2021-10-15 15:00] michele-mangili opened #1615 "Filters dropdown not visible"
**Describe the bug**
In the filter popup, the dropdown used to select the column on which the filter shall be applied is not visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a project
2. Click on 'Filters'
3. Click on the dropdown of the column

**Expected behavior**
The GUI shows a list of all the columns on which the filter can be applied.

**Actual behavior**
The dropdown is

[2021-10-15 15:40] michele-mangili commented on #1615
Thanks it works.

[2021-10-15 15:40] #1615 closed

[2021-10-15 16:33] anferico opened #1616 "Apply frontend changes to Docker image"
I was wondering how I could apply the changes I've made to files inside `label_studio/frontend/src` to the Docker image of Label Studio.
Ideally, after making such changes, I would be able to `docker-compose up`, access the instance through my browser and see find those changes in the frontend.

Here's what I've tried:

1. Executed the following commands after modifying the code (as suggested in t

[2021-10-15 19:38] ericchansen opened #1617 "Support Azure Storage File Share"
**Is your feature request related to a problem? Please describe.**

See title. Blob is supported, but not file share.

**Describe the solution you'd like**

You could use this library to add file share support https://docs.microsoft.com/en-us/python/api/overview/azure/storage-file-share-readme?view=azure-python. It would be relatively straight forward.

**Describe alternatives you've considered**

[2021-10-15 23:09] makseq commented on #1616
Thank you for your report & solution description :slightly_smiling_face:

[2021-10-15 23:42] makseq commented on #1605
@INF800 Unfortunately JSON_MIN can't be imported back too, it's possible only with full JSON.
I would recommend your that you
1. create a new project with the same labeling config
2. create a new annotation
3. export this project into regular JSON
4. export this project into JSON_MIN
5. then match JSON <=> JSON_MIN

[2021-10-15 23:50] makseq commented on #1144
Hope this problem was solved, feel free to reopen if not.

[2021-10-15 23:50] #1144 closed

[2021-10-15 23:51] #1174 closed

[2021-10-15 23:57] #1205 closed

[2021-10-16 00:45] makseq commented on #1408
Sorry, but I'm not sure we can fix this because it's a DB engine question.

[2021-10-16 00:45] #1408 closed

[2021-10-16 00:52] makseq commented on #1437
Hope the latest LS version fixed this issue.

[2021-10-16 00:52] #1437 closed

[2021-10-18 09:11] triklozoid commented on #1281
@salmenf can you clarify a little bit, how hiding login from users will work in this case? Who will call this new API endpoint?

[2021-10-18 11:32] salmenf commented on #1281
Sure! For example, this scenario: I have one app, let's call it MyOtherApp, with some users. From MyOtherApp, I use the API to create a project and then regularly create new tasks in labelstudio, also via API. This all works as intended. The issue is that when a user clicks a link to some labelstudio task in MyOtherApp, that user needs to login. I'd love any way so that the user does not need to l

[2021-10-18 12:38] triklozoid commented on #1281
Do you use label-studio setup in subpath at the same domain with MyOtherApp?
May be you can use the same auth query, like regular login form with some fixed login and password?
[code]

[2021-10-18 14:27] Ierezell opened #1620 "Automatic Migration of labels when changing them in settings"
**Is your feature request related to a problem? Please describe.**
It's painful to have to delete all related annotations when changing a label.

Indeed, when changing a label in the `settings` tab, an error raise and says :
[code]
**Describe the solution you'd like**
Having an automatic migration that would replace all `My Old Wonderful Label` labels with `My New Wonderful Label`.

**Describe alt

[2021-10-18 21:05] makseq commented on #201
@owos do you use NUM PAD section on your keyboard? Could you record a video please?

[2021-10-18 21:54] owos commented on #201
I figured the NUM PAD doesn't work, do I used the one beneath the function keys instead.
-------- Original message --------From: Max Tkachenko ***@***.***> Date: 18/10/2021  22:05  (GMT+01:00) To: heartexlabs/label-studio ***@***.***> Cc: Abraham Owodunni ***@***.***>, Mention ***@***.***> Subject: Re: [heartexlabs/label-studio] Keyboard Shortcuts (#201)
@owos do you use NUM PAD section on your ke

[2021-10-19 01:07] makseq commented on #1445
@kaustuk Sorry for the delay. Do you have an opened PR with this feature? Are you still in progress?

@Gondragos could you assist with 1-3 questions please?

[2021-10-19 01:21] #1562 closed

[2021-10-19 01:23] makseq commented on #1564
Similar problem mentioned in slack: https://label-studio.slack.com/archives/C01Q5G6NMKR/p1634559875204200

[2021-10-19 04:19] dsanders11 opened #1622 "Zooming on Small Images Should Fill Available Space"
**Is your feature request related to a problem? Please describe.**

Zooming in on small pictures for more accurate labeling is made less useful by the fact that the original image size limits the size of the zoomed in area. With a fullscreen browser window I have lots of extra space, but when I zoom in on a small image I'm stuck looking at the zoomed in section through a frustratingly small area,

[2021-10-19 12:01] karelserruys-foodpairing opened #1626 "Labeling UI not working correctly for Taxonomy tag"
**Describe the bug**
We have created a taxonomy using the [label studio playground](https://labelstud.io/playground/).
When loading this taxonomy our project, the behavior in the UI is different and also a bit confusing for our end users.

In the playground, when we select a certain item in the taxonomy, we can see the checkbox changing in the parent and children of this item. Shown in screenshot

[2021-10-19 19:22] makseq commented on #1626
@karelserruys-foodpairing Could you please show your `/version` page?

[2021-10-19 23:28] laynr opened #1632 "Hosts with base URL's do not work with label-studio 1.3.0"
**Describe the bug**
When using the option `--host` argument  with a base URL, for example the one shown in the [label-studio argument doc](https://github.com/heartexlabs/label-studio/blob/6bcbba7dd056533bfdbc2feab1a6f1e38ce7cf11/label_studio/core/argparser.py#L71),  `--host "http://ls.domain.com/subdomain/"`,  href's with absolute paths (those starting with"/") break and make label-studio unusabl

[2021-10-20 01:11] tomasohara opened #1634 "Update available message should go to standard error"
**Describe the bug**
The update available message goes to standard output instead of standard error. As is the JSON output from `manage.py dumpdata`is broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Wait until a new update is announced
2. Run `manage.py dumpdata`
3. View JSON output
4. See boxed text as shown here:

[code]

**Expected behavior**

Output from  `manage.py dumpdata` is

[2021-10-20 02:10] thesby commented on #1391
Is it possible to download all videos or audios to local directory where label-studio can read so that we can skip CORS problem ?

[2021-10-20 07:27] karelserruys-foodpairing commented on #1626
Hey @makseq,
See attached file.
[version.zip](https://github.com/heartexlabs/label-studio/files/7379028/version.zip)

[2021-10-20 08:09] #1526 closed

[2021-10-20 13:35] anyght opened #1637 "Kubernetes deployment can't import GCS object"
**Describe the bug**
I have build in docker the project cloning.
  - I run in local with `docker run`, then sign in browser, add gcs bucket and configuring the labeling interface; the app import bucket object.
  - on Kubernetes, I made the same procedure, and I get an error Access Denied.

![image](https://user-images.githubusercontent.com/59748997/138103872-557d4daa-5256-4683-ad2d-d48b5358f3a6.pn

[2021-10-20 14:05] dentalala commented on #517
@apohllo We are already working on hiding the panel. ;-)

[2021-10-20 16:52] Alyetama opened #1638 "Display multiple series on one channel in a timeseries task"
I'm trying to label data collected from tri-axial accelerometers, but there is no option to display multiple variables on the y-axis.

An option to overlay multiple data columns on the same plot in a timeseries task.

Labeling a single axis.

I initially asked this question on Slack, and @makseq suggested that I submit an issue for it since it's a frequently asked question.

Also, [here](https://t

[2021-10-20 17:20] makseq commented on #1638
@Alyetama I've renamed it to more understandable title for our frontend team. Is it ok?

[2021-10-20 17:40] makseq commented on #1391
@thesby You can use local storage, but you should download all files manually.

[2021-10-20 17:41] farioas commented on #1637
Could you please share your kubernetes manifests?

[2021-10-21 03:15] dsanders11 opened #1645 "No Icon for "Delete All Regions" Button"
**Describe the bug**

There is no visible icon for the "Delete All Regions" button when labeling, making the button invisible.

Tried searching issues to see if this had been reported already, but didn't find an existing issue, so opening this one.

**To Reproduce**

1. Create a project for labeling images
2. Go to label view for an image
3. Look at the side bar on the right side

**Expected behav

[2021-10-21 05:58] lluissalord commented on #1008
Hi @nicholasrq @makseq Do we know when will be PR from @hlomzik (#1559) be included on master?

[2021-10-21 13:45] jeffmax opened #1646 "Controlled vocabulary/ontology for Meta info (formally Normalization) for use with NER"
**Is your feature request related to a problem? Please describe.**
Right now it is not possible to have a user normalize/link a named entity to a term from a controlled vocabulary/dictionary/ontology. This is useful for linking a named entity (say a disease) to a specific term within a medical ontology.

**Describe the solution you'd like**
The ability to upload an ontology file (for example .obo)

[2021-10-21 14:45] laynr commented on #1632
@farioas @makseq Sorry I should have given more details of my environment. I don't use docker compose.  The deployment is done with:

`Dockerfile` that contains the line:
`COPY start_label_studio.sh /label-studio/deploy/`

and `start_label_studio.sh` that contains the line:
`label-studio start -b --host https://${HOST_URL}/ --port ${HOST_PORT}`

Where `HOST_URL` and  `HOST_PORT` are environmental

[2021-10-21 21:46] makseq commented on #1539
@liebkne Do you have any examples of what you want to have at final?

[2021-10-22 00:59] liebkne commented on #1539
@makseq Hi, I'd like combine [this example](https://labelstud.io/playground/?config=%3C!--Labeling%20configuration%20to%20label%20paragraph%20regions%20of%20text%20containing%20dialogue--%3E%3Cbr%3E%3CView%3E%3Cbr%3E%20%20%3CParagraphs%20name=%22dialogue-1%22%20value=%22$dialogue%22%20layout=%22dialogue%22%20/%3E%3Cbr%3E%20%20%3CParagraphLabels%20name=%22importance%22%20toName=%22dialogue-1%22%3E%

[2021-10-22 07:22] mops1112 opened #1649 "LOCAL_FILES_DOCUMENT_ROOT does not work"
I have to change a directory media\upload to another Drive C => D
I have been follow this step
set LABEL_STUDIO_LOCAL_FILES_SERVING_ENABLED=true
set LABEL_STUDIO_LOCAL_FILES_DOCUMENT_ROOT=D:\\Dataset\\label_studio\\src
echo %LABEL_STUDIO_LOCAL_FILES_DOCUMENT_ROOT%

echo show "D:\\Dataset\\label_studio\\src" but it still upload to original directory "..\AppData\Local\label-studio\label-studio\media

[2021-10-22 09:31] #1649 closed, assigned to makseq

[2021-10-22 23:55] tomasohara opened #1658 "conversion of Sqlite3 to PostgreSQL fails with inappropriate integrity violation"
**Describe the bug**
A clear and concise description of what the bug is.

Using the standard Django sqlite2-to-postgresql conversion steps consistently leads to errors during the load-data step (#6 under https://label-studio.slack.com/archives/CQ8LYPPJS/p1633996896427300). That is, the same error occurs on different hosts with different data and and with different workarounds attempted.) I suspect

[2021-10-23 02:22] tomasohara opened #1660 "add explicit option to specify the DB backend"
**Is your feature request related to a problem? Please describe.**
When switching between sqlite3 and postgresql backend, there is no command-line option to indicate that postgresql should be used. Instead this is inferred from the various POSTGRE_XYZ environment variables (see https://labelstud.io/guide/storedata.html#PostgreSQL-database).

Note that several times I made the following mistake:
[c

[2021-10-23 03:23] tomasohara opened #1661 "label-studio aborts if problem with django migrations"
**Describe the bug**
If django raise an exception during the migration checks, Label Studio will abort. Instead, it should report the error and allow the user to proceed.

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt a conversion from sqlite3 to postgresql (see example under issue #1658).
2. Introduce integrity error in django migrations to be performed
3. Try to start Label Studio

[2021-10-24 06:56] renatobellotti opened #1663 "Feature Request: Medical 3D images"
Hi,

This tool looks great! Are there any plans to support annotating medical images?

Potential applications:

- Segmentation
- Classification (also multi-class)
- ROI in every slice
- ROI in 3D

Useful formats:

- DICOM
- Niffti

Cheers!

[2021-10-25 12:18] #1626 closed, assigned to makseq

[2021-10-25 18:03] barthogenes opened #1666 "Filtering/ordering tasks on date does not work"
**Describe the bug**
Datetime filtering in the UI gives a `Object of type datetime is not JSON serializable` runtime error.

**To Reproduce**
Steps to reproduce the behavior:
1. In Label Studio, create a project with any name.
2. Go to Data Import tab and import the following json file:
[code]
3. Click Save (we do not need to setup labeling)
4. In the Task list view, change the `day` column type t

[2021-10-25 18:40] shaileshj2803 opened #1667 "Bulk labelling from Grid"
Allow users to select multiple items and label them all in one click. for eg Select 10 items and assign them category c1

[2021-10-25 20:13] rmccarth opened #1668 "Security Issue Contact"
Hello, is there a point of contact for a security issue with the project? Thanks

[2021-10-25 21:18] #1668 closed, assigned to makseq

[2021-10-26 04:58] Adrian-Rasmussen opened #1672 "RectangleLabels all bounding box edges resized to fit zoomed in image when adjusting one edge"
**Description**
When adjusting the bounds of a bounding box (RectangleLabels) while zoomed in, the entire box will be reset to fit within the currently zoomed size. For example, if shifting the right edge, the left edge will also be moved to be inside the zoomed area

**To Reproduce**
Steps to reproduce the behavior:
[code]
1. Add RectangleLabel to full size image
![image](https://user-images.gith

[2021-10-26 20:55] Alyetama opened #1675 "Data points are displayed in seconds even when the labeling interface is configured to show milliseconds"
**Describe the bug**
I'm running a timeseries task, with the time column formatted as `%H:%M:%S.%f`, but the data is shown per seconds instead of ms.

**To Reproduce**
Steps to reproduce the behavior:
1. Import data with the timestamp measured in ms. For example:
[code]
2. Under `Labeling Interface`, edit the timestamp format to show the data in ms
[code]

**Expected behavior**
The data points wit

[2021-10-27 03:13] #1675 closed, assigned to makseq

[2021-10-27 13:35] #1666 closed, assigned to makseq

[2021-10-27 17:43] kaustuk opened #1680 "Play audio segments as soon as we move to next segment"
**Is your feature request related to a problem? Please describe.**
Consider the following scenario,

An ASR system is giving a segment and we populate it in label studio. Now the person who is doing labeling needs to listen to the region and write text in textarea with is per region. To iterate over the region he would be using `Alt + .` to go to the next region. Doing this still it doesn't play t

[2021-10-27 18:15] kaustuk opened #1682 "Change audio cursor with different color and make it bolder"
**Is your feature request related to a problem? Please describe.**
Currently, if you see it's quite difficult to distinguish the audio cursor with the region boundary in the audio pane. Can we change the color for the cursor and thickness as well?

**Describe the solution you'd like**
The solution should be able to configure the color and thickness from the labeling template. Or maybe we can have

[2021-10-27 19:52] 1ytic opened #1683 "Add new data fields into existing project"
After insert new tasks and setup Labelling Interface, we can insert new task with new fields, but unfortunately it's not possible to add these fields into Labelling Interface.

**To Reproduce**
1. Feed new tasks, define Labelling Interface
2. Feed new tasks with new fields in data
3. Try to add these fields into Labelling Interface

[2021-10-28 12:27] nellorebhanuteja opened #1685 "Import annotation segments in audio task"
Hi I have created as task using this payload
[code]
using the the endpoint ```projects/<PROJECT_ID>/import```

I have annotations for the audio file with me in the following format
[code]
How can I attach these annotations to the task so that they can be corrected?

[2021-10-28 15:39] #1685 closed, assigned to makseq

[2021-11-01 14:26] makseq commented on #798
@abhay-kum Does it still work slow in the latest LS versions?

[2021-11-01 22:05] makseq commented on #1683
@1ytic For some tags, especially for tags with required=true, they can't be empty and must be explicitly presented in annotations. Otherwise LSF will drop an error and the task will be broken completely in GUI...

[2021-11-02 03:46] HoseinHashemi opened #1691 "Keypoints and bounding boxes change with zoom in-out"
**Describe the bug**
Last keypoint jumps once you zoom out, even if you update/submit.
This behavior happens most of the times, but maybe not all the times. The KP jumps to the bottom-right first and once you zoom out again (after correcting it) it then jumps to the top-left. The 3rd time it works.
Similar thing also happens to bounding boxes. So if you zoom in to fine-tune bounding box edge somet

[2021-11-03 07:38] yanhuibin315 opened #1695 "Failed to import file in Conversational AI -> Intent Classification and Slot Filling"
**Describe the bug**
I start label-studio locally, and I want label my conversation data in it. But I got wrong with my import file.

**To Reproduce**
Steps to reproduce the behavior:
1. Run ```label-studio``` locally.
2. I create a project use label interface that intent classification in conversational AI.
3. I'm created my task like this:
[code]
4. When I imported my data, I got this RUNTIME ER

[2021-11-03 20:01] remoyson commented on #1394
@makseq Any updates on this issue? Having the exact same problem with filters being applied multiple times and blocking application loading. Looking forward to a fix of this problem :)

[2021-11-03 20:07] makseq commented on #1394
@remoyson We have some fixes in the latest master, but not all. Could you check the latest commits?

[2021-11-04 17:49] jonnyevans3210 opened #1700 "Brush tool has memory of brush thickness"
When using the brush tool, it would be great if the brush automatically set its thickness as the last used thickness when going on to a new image, adding to a recently annotated image (after hitting 'submit') or when changing the brush label. I've spent far too long already guessing what thickness brush I used last.

[2021-11-05 00:51] makseq commented on #1695
@yanhuibin315 You are using wrong input task data, please [check this example](https://labelstud.io/playground/?config=%3C!--Labeling%20configuration%20to%20label%20paragraph%20regions%20of%20text%20containing%20dialogue--%3E%3Cbr%3E%3CView%3E%3Cbr%3E%20%20%3CParagraphs%20name%3D%22dialogue-1%22%20value%3D%22%24dialogue%22%20layout%3D%22dialogue%22%20%2F%3E%3Cbr%3E%20%20%3CParagraphLabels%20name%3

[2021-11-05 00:51] #1695 closed

[2021-11-05 09:22] Janus-Xu opened #1703 "background lines disappeared when the data is big and scroll zooming to the end whole module crashed"
**Describe the bug**
timeseries labeling demo csv：
- rows no 10000，goes fine；
- rows no 20000，with two serious problem；
  - 1. background lines disappeared when the data is big；
  - 1. scroll zooming to the end whole component crashed and page blank

**Screenshots**
data with  rows no in 10000，goes fine；
![image](https://user-images.githubusercontent.com/6883877/140486474-86114e86-2a35-4e3c-a5d4-6

[2021-11-05 18:03] moganesyan commented on #848
@jplauri Did you manage to figure out how to connect Heroku's PostgresDB to label studio? I'm having the same issues. Thanks!

[2021-11-05 18:10] jplauri commented on #848
@moganesyan I don't think I did, but instead ran label-studio on-premises w/o Heroku.

[2021-11-05 23:59] makseq commented on #1703
Relative:
https://github.com/heartexlabs/label-studio/issues/811

Maybe too (last point NaN):
https://github.com/heartexlabs/label-studio/issues/1209

[2021-11-06 12:57] pjvalla commented on #1329
Any update on this issue -- this has been an issue for a while.

[2021-11-06 13:00] pjvalla commented on #870
Our team has to restart the browser once the UI performance becomes unbearably slow.  This is a viable work-around, but it does point to a memory leak.  The current project contains ~3700 time-series tasks.  Some of the time-series are quite large, on the order of ~200K points.

[2021-11-07 11:18] pjvalla opened #1705 "UI performance degradation"
We are seeing serious UI performance degradation over time.  To be clear we are doing/seeing the following:

1. Running version 1.3.0 container
2. Accessing Label studio via port forwarding on host machine>
3. At first the UI performance is excellent.
4. Over time the UI becomes almost unbearably slow.  This includes trying to go to the next task, typing the actual annotation, the UI basically bec

[2021-11-07 11:30] pjvalla opened #1706 "Possible annotation buffer overflow"
We are doing some very long sequence to sequence modeling.  I believe I have found an buffer overflow in Label-studio.  Annotating one very long time-series caused the annotation type to change and it cleared the annotation (in this case a very long string).  If I shorten the annotation (same task) then the UI works as expected.

[2021-11-07 20:30] hlomzik commented on #1329
Sorry, forgot to text you back. We've fixed this some time ago, it is in the LS master, will be included in the next release for sure.

[2021-11-07 20:30] #1329 closed

[2021-11-07 20:38] hlomzik commented on #870
Oh, sorry about this :(
So to be clear — does it happen when you label one task for some time? Or does it after digging through a lot of tasks? Or a few of them? Profiling is especially challenging when you have 3 libs sticked together and we are trying our best to improve the performance, so it's better to know what to look for. Thanks!

[2021-11-08 00:26] pjvalla commented on #1329
Thanks for the update.

[2021-11-08 00:27] pjvalla commented on #870
It happens after digging through a lot of tasks.

[2021-11-08 07:58] karelserruys-foodpairing commented on #1394
@remoyson @makseq
For me the issue was fixed when I upgraded to version 1.3.0.
I think the issue can be closed?
Regards
Karel

[2021-11-08 14:28] TueLindhart commented on #1330
Are you soon implementing this in your next release? :-)

[2021-11-09 00:02] csaroff opened #1710 "Filtering on Annotation Results is Very Slow"
**Describe the bug**
Filtering on annotation results in labelstudio is really slow and sometimes times out.

![image](https://user-images.githubusercontent.com/7225723/140834206-eeab7491-9f35-48d7-a45c-bd8ef2244451.png)

On a dataset of ~10k tasks with only "Choice" annotations, running this filter takes ~20 seconds.

Example annotation result:

[code]

I took a look at the underlying query in goo

[2021-11-10 00:08] makseq commented on #1706
@pjvalla Could you clarify please: are you talking about Time Series labeling or you mentioned text sequences as time series?

[2021-11-10 00:10] makseq commented on #870
Relative: https://github.com/heartexlabs/label-studio/issues/1706

[2021-11-10 00:16] makseq commented on #1710
@csaroff What DB do you use?

We are working on special columns for labels and choices, hopefully this issue will be fixed by them.

[2021-11-10 04:39] csaroff commented on #1710
@makseq thats great!

We’re currently using Postgres as our database

[2021-11-10 10:26] pjvalla commented on #1706
So the project is an audio transcription effort.  There is a time-series plot (.csv file) that represents the audio (it is a downsampled and frequency converted version of the audio).  The audio is also included for playback purposes. The label is a string. (the transcription of the audio).  Both the time-series and audio files can be quite large.

[2021-11-10 11:37] twsl opened #1719 "Enable SQLite on Azure App Services"
**Is your feature request related to a problem? Please describe.**
An easy way to deploy label-studio on Azure is to use App Service. To enable persistent storage, one has to mount Azure Files as storage. Yet SQLite has [problems](https://github.com/MicrosoftDocs/azure-docs/issues/47130) with the way, Azure Files are mounted. One workaround is to the [journal_mode](https://www.sqlite.org/pragma.ht

[2021-11-10 21:22] makseq commented on #1706
@pjvalla Why don't you use AudioPlus tag? It was a waveform..

[2021-11-11 00:17] smoreface commented on #1434
I also want to note that in version 1.3.0 you can choose in the settings to display labeling hotkeys on hover:

<img width="504" alt="Screen Shot 2021-11-10 at 4 14 45 PM" src="https://user-images.githubusercontent.com/11081412/141213948-87dea07e-71d7-41cc-abea-43f075287ba9.png">
<img width="315" alt="Screen Shot 2021-11-10 at 4 14 55 PM" src="https://user-images.githubusercontent.com/11081412/141

[2021-11-11 00:58] smoreface commented on #812
Check out these hotkeys: https://labelstud.io/guide/labeling.html#Time-series-specific-hotkeys and let me know if they work for you in the latest version of Label Studio!

[2021-11-11 08:41] kaustuk commented on #1682
Hi @makseq, sorry for the late reply. Here is the screenshot with this cursor
<img width="1440" alt="Screenshot 2021-11-11 at 14 10 03" src="https://user-images.githubusercontent.com/16715570/141266024-1d223d38-3e90-4617-9682-8bc461150076.png">

[2021-11-11 08:52] kaustuk commented on #1680
Hi @makseq, thanks for the reply and sorry for the delay in reply from my side. Yeah, that makes sense to have this feature configurable and it's the user's call if they want to enable it or not.

Just to be clear **LSF settings** is this panel, right?

<img width="596" alt="Screenshot 2021-11-11 at 14 21 58" src="https://user-images.githubusercontent.com/16715570/141267598-7047f980-0f20-4b84-8404

[2021-11-11 10:28] pjvalla commented on #1706
thanks I'll check that out.

[2021-11-11 10:55] nellorebhanuteja opened #1724 "Import task using url of base64 wav file"
I found that if we import task using data like [here](https://github.com/heartexlabs/label-studio/issues/1492), dm page takes a while to load every time.

I am now looking to create task using url of base64 wav file.

how can i do this ?

[2021-11-11 17:09] jbencook opened #1727 "Missing hide icon in Safari"
**Missing hide icon in Safari**
The hide icon is missing in jobs based on the object detection template for version 15.0 of Safari.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the app with `docker run -p 8080:8080 heartexlabs/label-studio:1.3.0`
2. Go to http://localhost:8080 in Safari
3. Sign up
4. Create a project with any image and the object detection template
5. Create a box

[2021-11-11 22:16] makseq commented on #1682
@kaustuk what do you think about blue color like the play button? Red is too much...
![image](https://user-images.githubusercontent.com/501780/141376858-b3e406a0-f38d-45eb-bc5a-dbb694c329de.png)

[2021-11-11 22:19] makseq commented on #1680
@kaustuk Yes, LSF Settings is what we can see on this screenshot. "Autoplay next region" makes sense.

[2021-11-11 22:24] makseq commented on #1724
@nellorebhanuteja
`I am now looking to create task using url of base64 wav file.`
Could you give an example of what the task would look like?

You can disable Column (Field) with audio in DM, it won't load this data and page will work quickly. But you have to use the latest LS version, it was implemented there.

[2021-11-12 06:57] lv185039 opened #1731 "ML Backend Error - Using Example Docker"
**Describe the bug**
When utilizing the example provided Docker ML backend I am able to spin-up the docker and the logs show operational status.  When I attempt to enter the URL for the backend into the label-studio "Machine Learning" menu I am returned with an error
`Successfully connected to http://192.168.0.9:9090 but it doesn't look like a valid ML backend. Reason: 500 Server Error: INTERNAL S

[2021-11-12 10:35] nellorebhanuteja commented on #1724
well
i am trying to create task using the following end point like mentioned below

[code]

[2021-11-12 10:41] kaustuk commented on #1682
Hi @makseq, here is the screenshot of the cursor with the blue color. Personally, for me, both color looks good. Let me know which color we should go ahead with? I will raise PR for the same

<img width="1440" alt="Screenshot 2021-11-12 at 16 05 52" src="https://user-images.githubusercontent.com/16715570/141453342-2b0401b6-44d9-4769-b37c-ded85f99d64f.png">

[2021-11-12 11:43] kaustuk commented on #1680
Hi @makseq, I have created the PR with this feature implemented. I tested it manually and it's working as expected.

I haven't added any unit test case. Since I am not completely aware of the codebase and newbie in react, Can you provide some pointers around which test case I should refer to write testcase for this feature?

[2021-11-12 12:05] niklub commented on #1672
Hi, @Adrian-Rasmussen ! Thanks for pointing out, currently working on it

[2021-11-12 12:30] niklub commented on #1585
Hi, @dsanders11 ! Thanks reporting this, start working on this issue, hopefully it's going to be fixed very soon in version  >=1.4

[2021-11-12 12:32] makseq commented on #1661
I dived into this idea and I can't say it's a good solution: if the migrations fail, all work must be stopped. Otherwise, it may result in data loss and very bad user experience.

[2021-11-12 12:32] #1661 closed

[2021-11-12 12:44] makseq commented on #1660
This little mess with DB naming was fixed in 1.4.

[2021-11-12 12:44] #1660 closed

[2021-11-12 12:46] makseq commented on #1658
Closed as unrelated to the Label Studio issue.

[2021-11-12 12:46] #1658 closed

[2021-11-12 13:51] karndeepsingh opened #1734 "How to import NER Annotation json file into label-studio to validate the annotation on the data ?"
Hi,
I have a team that does the annotation for the NER problem. And for this annotation to start we installed label studio on their system.
So, once they finish the annotation and I want to bring their annotation in JSON file into my system and want to validate the annotation on the data they have annotated. So, my question is how can we validate the annotation on my system by importing there anno

[2021-11-12 22:58] makseq commented on #1731
@lv185039 What is your labeling config? I think you have not only choices there and it's not supported with this simple_text_clasifier ML backend.

[2021-11-13 00:12] makseq commented on #1734
Hi, in Label Studio Teams we have a special review stream & tools for this.

If you want to use opensource, I would suggest that you use the same labeling config and re-import exported JSON file. However you should extend your labeling config with choices like this:

[code]

And use these choices as review marks in Quickview. Hope it helps.

[2021-11-13 00:12] #1734 closed

[2021-11-14 12:22] makseq commented on #1667
Relative github issues:

https://github.com/heartexlabs/label-studio/issues/1239

Relative slack questions:

1 https://label-studio.slack.com/archives/CQ8LYPPJS/p1632468259281800?thread_ts=1632468259.281800&cid=CQ8LYPPJS

2 https://label-studio.slack.com/archives/C01Q5G6NMKR/p1621256207188200?thread_ts=1621256207.188200&cid=C01Q5G6NMKR

3 https://label-studio.slack.com/archives/CQ8LYPPJS/p16127810

[2021-11-15 00:20] makseq commented on #1602
Relative slack question: https://label-studio.slack.com/archives/CQ8LYPPJS/p1632392675255300

[2021-11-15 00:28] makseq commented on #1564
These docs problems were fixed.
https://labelstud.io/guide/start.html#Run-Label-Studio-on-Docker-and-use-local-storage

The duplicated storage was fixed too (in 1.3post0 and later commits).

[2021-11-15 00:28] #1564 closed

[2021-11-15 12:58] makseq commented on #1691
@HoseinHashemi We've tried to reproduce this issue, but without success. Could you please record a video?

[2021-11-16 00:11] csaroff commented on #1710
@makseq can you explain the won't fix label?

All my filters on the annotation results where the annotation results contain segmentation annotations time out. 😞

We have workflows that are dependent on filtering on annotation results so I'm very interested in what the path forward is here and whether or not there are any workarounds.

[2021-11-16 00:20] makseq commented on #1710
@csaroff We want to implement a normal way to filter over labels.

![image](https://user-images.githubusercontent.com/501780/141873060-9484e594-a624-4910-b848-db81d9c68322.png)

[2021-11-16 00:38] csaroff commented on #1710
Gotcha, thanks for clarifying. Yeah, that looks much nicer!

[2021-11-16 08:02] HoseinHashemi commented on #1691
Attached is a sample when the bounding box gets changes according to the zoom level.

https://user-images.githubusercontent.com/33822932/141944646-9b9ca590-4505-4615-8e85-459eeeab06a8.mov

[2021-11-16 12:33] niklub commented on #1691
https://github.com/heartexlabs/label-studio-frontend/pull/351

[2021-11-16 15:22] makseq commented on #1691
Relative: https://github.com/heartexlabs/label-studio/issues/1672

[2021-11-16 21:18] makseq commented on #1620
Relative slack: https://label-studio.slack.com/archives/C01SKFX54QK/p1637079733054000

[2021-11-16 22:26] csaroff opened #1744 "Updating the labeling interface control tags deletes tabs"
**Is your feature request related to a problem? Please describe.**
Adding or removing [control tags](https://labelstud.io/tags/) from a project's labeling interface causes all tabs to be dropped.

For instance, when I remove a possible [Choice](https://labelstud.io/tags/choice.html) from my config I get this warning:

And afterwards all my views are deleted, even though they had nothing to do with

[2021-11-17 06:41] mrtunguyen opened #1745 "fillColor, StrokeColor, opacity, StrokeWidth of Rectangle tag don't work"
**Describe the bug**
I tried to change the value of parameters fillColor, opacity, strokeColor, strokeWidth, canRotate of Rectangle tag but nothing works.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [polygon tag playground](https://labelstud.io/playground/?config=%3C!--Basic%20labeling%20configuration%20for%20adding%20rectangular%20bounding%20box%20regions%20to%20an%20image%20--%3E

[2021-11-17 07:57] chauff opened #1746 "IFrame example inside Docker does not work"
**Describe the bug**
I followed the [video classifier](https://labelstud.io/templates/video_classification.html) example to play around with iframes inside Label Studio. Using the Docker setup, the iframe isn't shown, instead an error appears on the console `TypeError: Cannot read properties of null (reading 'dataObj')`.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Label Studio with

[2021-11-17 13:47] makseq commented on #808
WIP: https://github.com/heartexlabs/label-studio-converter/pull/69

[2021-11-17 19:35] ijmiller2 commented on #1620
Upvoting here as I experienced a bug (getting a validation error when trying to delete a label in the interface) related to this feature. See Slack post above from @makseq.

Thank you!
Ian

[2021-11-17 20:21] twsl opened #1749 "CI and development improvements"
**Is your feature request related to a problem? Please describe.**
The CI chain and general development environment could use some improvements to make some things easier.
Things I noticed so far:
- [ ] no pre-commit
- [ ] no linting
- [ ] no stale option for issues/prs
- [ ] ci improvements
- [ ] docker deployment on github actions
- [ ] security checks

**Describe the solution you'd like**
The s

[2021-11-18 00:22] kennyxue opened #1752 "Missing data display in time series"
**Describe the bug**
Data plot error with the Y axis scale and zoom for time series.

**To Reproduce**
Steps to reproduce the behavior:
1. setup time series label with data and config file attached
2. zoom in and out in data display panel
4. See error. the data line don't display.

**Expected behavior**
fix the data plot error for time series.

**Screenshots**
![failure](https://user-images.github

[2021-11-18 07:56] krnithishkumar opened #1755 "[Warning] Batch processing not supported switched to one-by-one task retrieval - ML Backend"
**Describe the bug**
After integrating the Custom ML backend with the Label-Studio and while during the annotation on the particular file. it throws up the warning `[ml.models::predict_tasks::183] [WARNING] 'ML backend 'Staged Model' doesn't support batch processing of tasks, switched to one-by-one task retrieval` and the prediction call is getting twice for the same file.

Need to know why it occ

[2021-11-18 09:49] makseq commented on #1755
https://github.com/heartexlabs/label-studio-ml-backend/issues/64

[2021-11-18 13:20] uriel-tannen opened #1757 "Validation error when updating labelling config"
I have a config with a number of Choices Labels, and am now trying to update the labels - add some, remove some. As I have some tasks that are already annotated, I'm getting a validation error informing me that there are completed annotations with the choice labels I am trying to remove. I've therefore updated the annotations so that the choice label to be removed is no longer being used in the pr

[2021-11-18 13:50] karndeepsingh commented on #1734
You mean I need to add these Choice here in the code section as shown below:
![image](https://user-images.githubusercontent.com/49562460/142427781-96915b42-1e24-484b-a292-ef8dbd3ae702.png)

[2021-11-19 00:53] makseq commented on #1710
@csaroff Probably in the first quarter of 2022.

[2021-11-19 01:52] makseq commented on #1746
@chauff Thank you for your report. Please, check this video classifier template again, it's fixed now.

[2021-11-19 01:52] #1746 closed

[2021-11-19 02:01] makseq commented on #1734
@karndeepsingh Yes, just expand your labeling config with Choices before the last </View>.

[2021-11-19 02:05] pjvalla commented on #870
Task sidebar causing UI slow downs.  When selecting Label Task as Displayed, then no slow UI issue.

[2021-11-19 02:06] makseq commented on #870
Thank you for your notice!

[2021-11-19 10:44] akuuzii opened #1766 "Can't load sqlite.dll from current directory"
I attempted to run label-studio from a windows computer with limited access. I installed the package via pip in a conda environment, all seems good so far. However when I try to run label-studio I get the following error:

[code]

The error seems to traceback to the following script:
https://github.com/heartexlabs/label-studio/blob/ef93ceb9965c9bcd8b492e81bdef09d0bbd74c7e/label_studio/core/utils/w

[2021-11-19 13:35] zhimin-z commented on #824
This happens again. Take a screenshot:
![image](https://user-images.githubusercontent.com/8592144/142631323-0335d712-bf07-4e4b-bb2d-965820ca1914.png)
To replicate this, allow me to upload the text csv file here.
[mlflow.csv](https://github.com/heartexlabs/label-studio/files/7570559/mlflow.csv)

[2021-11-19 14:39] Fourkane commented on #1752
Same issue we have when having files with more then 20k data points

https://user-images.githubusercontent.com/55290094/142640603-ace1bda5-7719-4dfa-bba7-c8d8b48629ec.mp4

.

[2021-11-19 14:43] jardinetsouffleton commented on #1752
Been having the same problem.

[2021-11-19 18:14] makseq commented on #1766
@akuuzii Could you please try:
[code]

There should be a fix for this issue.

[2021-11-21 05:32] karndeepsingh commented on #1734
@makseq So, while exporting the JSON file, I need to add these choices in my config and export it. And then in my new device I have created a project where I have all the Sentences that has been imported already, So, I need to just import this JSON file that I got it exported from other device.
Please, correct me if my understanding is wrong.

Thanks

[2021-11-22 08:26] pushpalatha1405 opened #1772 "How to use the question-answer template i label-studio"
Hi,

I have used the label-studio for annotation in fledge to create custom dataset for my projects.

Now i need to know the steps to use question-answer template in label-studio,which iam not able to use the template appropriately.

Please reply positively as i require this template to create custom annotations.

hoping for positive reply

regards,
Pushpalatha M

[2021-11-22 13:18] akuuzii commented on #1766
You can close this issue. Turns out my actual issue had to do with internal proxy settings that interfered with the html routing. I managed to solve it by changing some .env variables.

[2021-11-22 14:41] krnithishkumar opened #1773 "Read timed out error for the ML Model"
For my custom-ML model integration with LS1.4, the model takes more than 4 mins the get the complete output.
Before finishing the inference Label-Studio stops and provides `Read timed out (read timedout=100.0).

Kindly check with the below log.
![image](https://user-images.githubusercontent.com/29236082/142880690-eea480af-8065-43bd-8e17-1908346337dd.png)

Is there any way to configure the LS reque

[2021-11-22 18:27] krnithishkumar opened #1775 "WYSIWYG editor support"
**Is your feature request related to a problem? Please describe.**
For formatting the text during the annotations, it is better to have support for the WYSIWYG kind of editor (CKEditor, TinyMCE) instead of a direct text area for the annotations.

**Describe the solution you'd like**
To have a rich JS text editor for formatting the text while annotations.

**Describe alternatives you've considered*

[2021-11-22 19:24] #1766 closed

[2021-11-22 19:27] makseq commented on #1773
According to this docs: https://labelstud.io/guide/ml.html#Get-predictions-from-a-model
you should evaluate ML backend predictions asynchronously and then call POST api/predictions manually.

[2021-11-22 19:27] #1773 closed

[2021-11-22 20:01] karndeepsingh opened #1777 "How to convert RELATIONAL NER annotation to Spacy format?"
Hi,
I have used Label Studio for annotating Relational Extraction Template and Now I want to train a model using Spacy. And Spacy this annotation to be converted into .spacy format. Please, help to convert these annotation to spact format. Any code can be shared so that I could take look into it for converting it into spacy format.

Thanks

[2021-11-23 11:13] makseq commented on #1734
You are right! The main idea is as you described.

[2021-11-24 00:26] makseq commented on #1339
@krnithishkumar We wanted to add this during 1.4.

[2021-11-24 01:33] makseq commented on #1772
Hi, what steps do you want to know about question-answer template? Do you have problems with import data? Or labeling?

[2021-11-24 01:41] makseq commented on #1777
@karndeepsingh https://labelstud.io/blog/Evaluating-Named-Entity-Recognition-parsers-with-spaCy-and-Label-Studio.html#Import-pre-annotated-data maybe this article will help you a little. There is an example how to import from spacy to LS, but it might help with the inverse process. We haven't the spacy export convert yet and we would greatly appreciate any contributions.

[2021-11-24 05:29] pushpalatha1405 commented on #1772
hi,

i have problems with labeling.I need to know the steps .

i have doubts in creating labels....

Usually in QA templates there are labels such as question,answer,is_impossible,context etc...

so pls can u direct me to use the template appropriately if i import any of text file to label using QA template.

also i see in the QA template that additional files need to be imported to use the QA tem

[2021-11-24 09:35] alronz commented on #1193
@makseq I hope this feature gets more priority. It is really slowing the import a lot in case of big datasets. I see it was planned in milestone 1.3, is it possible to include it now in the new milestone 1.5 ?

[2021-11-24 10:03] uriel-tannen opened #1782 "Add mechanics to avoid issues when image URL fails"
See this Slack thread: https://label-studio.slack.com/archives/CQ8LYPPJS/p1637599691381100

In essence if there is an image object in the config, but the image URL field is either blank or returns an error (e.g. 404), the labelling stream fails to load.

[2021-11-26 00:27] makseq commented on #1193
@alronz thank you for your feedback, yes, we have a ticket about this task and I hope we will implement it soon.

[2021-11-26 01:09] makseq commented on #1772
Please try this template:

[code]

and this data for import:
[code]

[2021-11-26 05:27] pushpalatha1405 commented on #1772
hi Max Tkachenko,

Thanks for the reply.

I would try the solution u sent.

regards,
Pushpalatha M

[2021-11-26 09:54] bugo99iot opened #1788 "Docker compose fails in LabelStudio 1.4.0"
**Describe the bug**
Docker compose fails with error "Building labelstudio Cannot locate specified Dockerfile: Dockerfile" in LabelStudio 1.4.0.
The build works correctly in LabelStudio 1.3.0 (I have simply upgraded the version in Docker compose file).

**To Reproduce**
Steps to reproduce the behavior:
1. Run docker-compose up -d for docker-compose.yml below.
2. See error "Building labelstudio Can

[2021-11-26 10:03] farioas commented on #1788
The original docker-compose file inside label-studio repository was made for development purposes. That's why it has directives like `build: .` (https://docs.docker.com/compose/compose-file/compose-file-v3/#build). Since you're trying to run the prebuilt image `heartexlabs/label-studio:1.4.0` you have to remove all `build` directives from your docker-compose.yml

[2021-11-26 10:03] #1788 closed

[2021-11-26 13:30] Gondragos commented on #1745
Thank you for your vigilance! The playground version doesn't look like the latest one. But it seems that parameters `fillColor`, `opacity`, `strokeColor`, `strokeWidth`  haven't worked for a while.
We're already working on that.

[2021-11-28 03:31] thesby opened #1789 "Make it easier to draw polygon on side edge of images"
I need to draw polygon as label on side edge of images, but I find that it's very hard to click on exactly the right point the side edge. I think if it's able to choose point outside of image and clip the axis value to the edge of image, it will be easier.

[2021-11-29 08:14] mariambasents opened #1790 "Annotations of pre-annotated data don't get saved after update"
**Describe the bug**
I uploaded pre-annotated text data into Label Studio. The annotators are either adding new annotation by selecting text region, then updating, or editing and changing the pre-annotations and updating. Also there is a Binary Choice ("yes", "no") which has default value (the default is "no").
In any case the updates often don't get saved for this project. Other projects work fin

[2021-11-29 08:40] rgaiacs opened #1791 "Image Classification not recorded in Docker"
**Describe the bug**

Some times, Label Studio doesn't record the image classification after some images.

**To Reproduce**

1. Launch Label Studio from Docker
2. Create an Image Classification project with images from list of local URL
3. Classify some images
4. Reopen the project

**Expected behavior**

Image classification is save.

**Environment (please complete the following information):**

[2021-11-29 10:32] laith07 commented on #1777
@karndeepsingh, did you find a solution?
I am facing the same issue. Unfortunately, the LS JSON-Structure is not spacy-compatible.

[2021-11-29 11:57] uriel-tannen commented on #1667
+1 for this feature...it would be most useful!
Another relative Slack question to add to @makseq's list:
https://label-studio.slack.com/archives/CQ8LYPPJS/p1637932002429400

[2021-11-30 01:12] makseq commented on #1791
@rgaiacs Could you please record a video with this weird bug? Please, open the browser console with errors before you start.

[2021-11-30 03:28] Alyetama commented on #1638
-

[2021-11-30 05:06] rgaiacs commented on #1791
@makseq I recorded a video: https://www.youtube.com/watch?v=h_nRKsdMNFQ The video description has timestamps for key parts of the video. Based on the video, the bug is that Label Studio at a given moment does **not** list some of the tasks. When user reload the task list, the missing tasks are listed.

The log from the Docker container showing the jump from 8400 to 8365 in the saved tasks is

[cod

[2021-11-30 12:08] EliasRas opened #1797 "Crosshair movement is amplified when zoomed in"
**Describe the bug**
If you zoom in when labeling an image, the movement of the cursor and the crosshair do not match. I haven't tested but the movement of the crosshair seems to be multiplied by the amount of zoom (e.g. 2x distance with 200% zoom).

**To Reproduce**
1. Enable crosshair from labeling interface settings
2. Start labeling
3. Zoom in
4. Move mouse

**Expected behavior**
The crosshair

[2021-11-30 21:01] reesehopkins commented on #812
Unfortunately, these shortcuts do not work in the latest Docker build (v1.4). Also, you might consider alternative hotkeys for decreasing/increasing the region size -- `alt+left` is the keyboard shortcut to Go Back in Chrome.

[2021-12-01 13:31] macfly1202 commented on #1343
Hello, is there any news about this problem of image path when using a local synchronization?
Best regards

[2021-12-02 07:42] maksim-pankov opened #1802 "Is DateTime tag implemented?"
**Describe the bug**
Adding DateTime  control tag makes labeling UI blank.
In browser's console there is message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to project Settings - Labeling Interface - Choose Code tab or go to https://labelstud.io/playground/
2. Edit template: insert example from documentation:
[code]

[2021-12-02 09:42] makseq commented on #1790
@mariambasents
1 Could you reproduce it on your side constantly
2 Could you check your browser console too?
3 Are you sure POST/PATCH api/annotations/ is called when you lose you data?

[2021-12-02 11:31] uwaisiqbal opened #1803 "Relations not appearing in JSON export"
**Describe the bug**
After annotating entities and their relations, when I come to export the JSON-MIN for the annotations, the entities are present in the JSON but the relations are not.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup relation annotation task
Here is my labelling config
[code]
2. Annotate a task with entities and add relation
3. Click on export and select JSON-MIN
4.

[2021-12-02 12:34] mariambasents commented on #1790
@makseq
1. It's not happening constantly.
2. Browser console logs after the problem occurred
[LS_browser_logs.log](https://github.com/heartexlabs/label-studio/files/7641835/LS_browser_logs.log)
3. I am not sure but I will try to check.

[2021-12-02 12:44] JaheimLee opened #1804 "Why there are three scroll bars in relation task?"
In relation task. There are three scroll bars in the right:
![F2A3CF11-D99F-4C4B-BA8D-862910A99F06](https://user-images.githubusercontent.com/18062264/144423142-925da242-1de6-415c-a09a-f8fbe9b2ffed.png)
The rightest scroll bar is useless. And when we scroll it down, some annotated text will be out of sight:
![08642EAD-F19A-476B-90CA-1F5AFD508B62](https://user-images.githubusercontent.com/18062264/

[2021-12-02 14:25] panoplied commented on #1789
Thank you for your feedback. Yeah, we could for example clip to the edge, or allow polygons vertices to snap to the edge. Will think about the most convenient option.

[2021-12-02 15:51] DanielTakeshi opened #1805 "LabelStudio with conda environment seems to not load images / data (e.g., the logo)?"
**Describe the bug**
A clear and concise description of what the bug is.

When I install label studio and run the server, it seems to repeatedly provide warning messages about missing images and other information, which hinders usability of label studio.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the provided instructions on the README to install labelstudio using conda:

[code]

[2021-12-02 16:03] DanielTakeshi commented on #1805
Update: managed to (kind of) figure it out, it turns out I had cloned this repo and was running `label-studio` while inside this repository. That seems to mess things up for some reason? (Cloning the repo isn't necessary if doing a pip install ...)

[2021-12-02 22:13] makseq commented on #1805
yes, if you do pip install, you don't have to clone.

So, have you solved this issue?

[2021-12-02 22:28] makseq commented on #1804
@JaheimLee We are working on the new design for this right panel, it will be completely reworked soon.

Some design sketches:
![image](https://user-images.githubusercontent.com/501780/144513311-783c906a-eb3f-4715-b6a7-88a2f3ae70bb.png)

[2021-12-02 22:53] makseq commented on #1803
@uwaisiqbal I've checked your config and it looks like a bug in JSON-MIN export with relations. As a fast walkaround I would recommend that you use the common JSON format.

[2021-12-03 00:36] makseq commented on #1802
@maksim-pankov The PR with DateTime is not yet merged into master.
https://github.com/heartexlabs/label-studio-frontend/pull/257

[2021-12-03 00:46] makseq commented on #1343
@macfly1202 Could you clarify, what's wrong with your image path? Do you use target storage and an image path is incorrect there?

[2021-12-03 00:53] makseq commented on #1797
@EliasRas Thank you for your report, I've created a JIRA ticket for this, hope it will be fixed soon.

[2021-12-03 01:04] makseq commented on #1791
@rgaiacs I see you have some task filter enabled.
![image](https://user-images.githubusercontent.com/501780/144527026-ebf4ea55-e733-43d6-85cc-eea5c83b55a7.png)
Are you sure it's not the cause of your problem?

[2021-12-03 01:11] makseq commented on #1790
@mariambasents Another idea - could you pay attention to drafts? maybe a previously made draft overwrites the correct annotation?

[2021-12-03 01:42] rgaiacs commented on #1791
The filter was configure to show only images without classification. And the filter was all the time enabled.

[2021-12-03 08:16] JaheimLee commented on #1804
Thanks for your reply! By the way, the font size of V1.4 seems smaller than V1.3. Is there any setting to control font size? If I change scale setting in browser, the right panel will be too big.

[2021-12-03 08:55] kemics commented on #1470
Hey everyone, do you have any estimations about bug being fixed? This problem blocks training of object detector in production

[2021-12-03 10:03] mariambasents commented on #1790
@makseq
Thanks, we will pay more attention to that.
Also the following happened - the annotator changed the pre-annotation of one of the tasks but on the page nothing got changed. At that time we checked the same task with another account and turned out that the change was there. In this case the saving worked but it was not shown on annotator's page.

[2021-12-03 10:21] fairy-of-9 opened #1807 ""relation" shortcut doesn't work in v1.4."
**Describe the bug**
A clear and concise description of what the bug is.

relation shortcut("r") doesn't work in v1.4.

**To Reproduce**
Steps to reproduce the behavior:

1. import json data
[code]
2. Set interface
[code]

**Expected behavior**
Relation cannot be annotated.

**Environment (please complete the following information):**
 - OS: Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-42-generic x86_64)

[2021-12-03 13:49] panoplied commented on #1804
As for now there's no setting to change font size. That smaller size (14 vs 16) was chosen to increase information density. But it's a good idea to give people option to choose their comfortable font size which best suits their environment. Thank you for the idea. We will think on it when implementing settings section for the editor.

[2021-12-03 17:29] jasdeep06 opened #1809 "Bounding Box overflow on their selection when operating at image width < 100%"
**Describe the bug**
When Image width is set to 50% and bounding box created and selected, they overflow the image area.

**To Reproduce**
1. Change image width(In image tag of labelling interface) to 50%
2. Open an image for labelling.
3. Draw 3 bounding boxes anywhere on the image.
4. Select a bounding box to see the overflow

**Expected behavior**
Bounding box should stay at their places.

**Sc

[2021-12-03 18:17] jasdeep06 opened #1810 "While using image width < 100%,bounding boxes overflow on reload."
**Describe the bug**
While using image width < 100%,bounding boxes overflow on reload and come back to their position when page fully loads.

**To Reproduce**
Steps to reproduce the behavior:
1. Set width attribute of Image tag to 50%
2. Draw bounding boxes on an image.
3. Reload the page.
4. You'll observe bounding boxes offsetted from their position while loading.

**Expected behavior**
Bounding

[2021-12-03 19:52] DanielTakeshi commented on #1805
Yes, it seems to be OK.

[2021-12-03 19:52] #1805 closed

[2021-12-03 22:41] makseq commented on #1810
@jasdeep06 why do you pay attention to it? Does it break your pipeline?

[2021-12-03 22:46] makseq commented on #1809
@jasdeep06 thank you for your report, I passed this to our frontend team.

[2021-12-04 01:13] makseq commented on #1807
Hope this option helps:
![image](https://user-images.githubusercontent.com/501780/144691111-b8128f0f-8ec4-4ec0-b1e4-50c1f91520c8.png)

'r' was moved to 'alt+r'

[2021-12-04 01:16] makseq commented on #1470
@kemics Hey, is your problem about ignored null annotations? Could you try this PR - [label-studio-convert PR ](https://github.com/heartexlabs/label-studio-converter/pull/47/files) ?

[2021-12-04 03:44] fairy-of-9 commented on #1807
@makseq
Thank you for your answer.
Is there any way to change the shortcut to 'r'?

[2021-12-04 06:20] jasdeep06 commented on #1810
@makseq No it does not. I opened another issue which is more of a breaking issue. Both are very closely related. Just helping you by filing this issue so both can be fixed together to make LS a better offering.

[2021-12-05 06:32] kaustuk commented on #1680
Hi @makseq , it's been a long time I have created PR with this feature, any approx timeline when PR would get reviewed or this feature would get added?

[2021-12-05 06:33] kaustuk commented on #1682
Hi @makseq , it's been a long time I have created PR with this feature, any approx timeline when PR would get reviewed or this feature would get added?

[2021-12-06 13:25] barthogenes opened #1812 "'Cannot read properties of undefined (reading 'map')' when using external data api with TimeSeries"
**Describe the bug**
When opening an annotation task that loads data from an external endpoint, this error pops up.

**To Reproduce**
Steps to reproduce the behavior:
0. Configure a time-series labeling interface.
1. Open an annotation task that loads data from an external endpoint.
2. See error.

**Expected behavior**
The data should load from the external endpoint and display in the time seriesc

[2021-12-06 15:35] uwaisiqbal commented on #1803
ah ok sure - is there some boilerplate code that creates the JSON-MIN from the full JSON format that I can just modify to include the relational data? Or is it just easier to write something from scratch?

[2021-12-06 21:49] makseq commented on #1803
@uwaisiqbal https://github.com/heartexlabs/label-studio-converter/blob/master/label_studio_converter/converter.py#L359 the entry point is here. It would be great if you could share your PR with our community!

[2021-12-07 00:52] makseq commented on #1680
@kaustuk Sorry for this long waiting, I'll force our frontend team to merge it.

[2021-12-07 00:54] makseq commented on #1682
@kaustuk Thank you for pinging, I've passed this to our frontend team again.

[2021-12-07 00:57] makseq commented on #1812
@barthogenes
1 Could you clarify please: what do you mean by "external endpoint"?
2 Could you share a labeling config & sample data to reproduce this issue please?

[2021-12-07 11:35] uriel-tannen commented on #1757
@makseq are you able to confirm if you can reproduce this error on your end, and if you're aware where the issue could be?

Just to give a further example: I'm looking to remove 'Accessories' as a choice label in my config. As you can see from the first image, I can't remove this as it appears that there are 7 tasks already annotated with this choice label. However you can see from the second imag

[2021-12-07 12:46] milton-logothetis commented on #1812
Same issue, while having imported .csv timeseries from local server.

[2021-12-07 12:51] barthogenes commented on #1812
1 With "external endpoint" I mean my local flask server that serves csv data to label studio.
2 While I was trying to set up a configured fork with my problem, I encountered that I was setting the index like this:
[code]

This drops the column from the Dataframe, which caused the error to occur, because after changing it to the following:
[code]
It suddenly started working again!

Maybe you have a

[2021-12-07 13:45] milton-logothetis commented on #1812
@barthogenes Thank you for the suggestion! It was indeed a formatting issue in my case that was sort of related to yours. In my case I was using the "Visual" UI to import the data which was unable to automatically perform the import and hence getting the above error. I solved it by going into the "Code" UI and manipulating the XML column names and DateTime formats.

[2021-12-07 15:59] baswenneker opened #1818 "Export to COCO, VOC and Yolo give KeyError: 'x'"
**Describe the bug**
I've labelled about 60 images (using the latest docker container). After labelling I tried to export the set to Pascal VOC and I get the following error:

[code]

![error](https://user-images.githubusercontent.com/173496/145062424-696a6e14-fba4-4e34-a365-d66c27300509.jpg)

**To Reproduce**
To start LS I ran `docker run -it -p 8080:8080 -v `pwd`/mydata:/label-studio/data hearte

[2021-12-07 16:04] #1818 closed

[2021-12-07 17:06] Favrot-Nicolas opened #1819 "Adding scatter plot for time series analysis"
**Is your feature request related to a problem? Please describe.**

In order to label a time series I need more than just the visualisation of a variable with respect to the time. It would be very helpful to have a 2D scatter plot on which I could select a point (or several) and have access to the date associated.

**Describe the solution you'd like**

The idea would be to allow simple 2D scatter

[2021-12-07 21:32] makseq commented on #1812
I can also add that all your samples need to be ordered with an increase in time, otherwise you will have a similar error.

Could we close this issue now?

[2021-12-07 21:34] makseq commented on #1818
Thank you for your report!

[2021-12-08 01:52] makseq commented on #1819
@Favrot-Nicolas What labeling task do you solve?

[2021-12-08 08:09] Favrot-Nicolas commented on #1819
@makseq Thank you for your answer. I'm doing Activity Recognition.

[2021-12-08 11:38] barthogenes commented on #1812
Yes, I will do so now.
Thanks for the help!

[2021-12-08 11:38] #1812 closed

[2021-12-08 15:43] loveychen opened #1824 "Confusing about disabling iframe in HyperText in v1.4.0"
**Describe the bug**

I updated Label Studio from v1.3.0 to v1.4.0, and I found that HyperText with `valueType="text"` and `value="<iframe src="https://www.baidu.com/">"` cound not work as expected.

As I inspected the source code, I found the `iframe` was replaced by `ls-stub`. And this work was done in `label_studio/frontend/dist/lsf/js/main.js` (a compacted js file), and the formatted js source

[2021-12-08 16:53] makseq commented on #1824
@loveychen Please, add `inline="true"` to your `<HyperText>` => `<HyperText inline="true" value="<iframe src='https://www.baidu.com/'>">`

[2021-12-08 17:36] makseq commented on #1682
@kaustuk We discussed this PR yesterday and realized one little thing - could you please add a toggle to the editor settings that allows to switch between the new & old cursors? for some situations audio cursor should keep the old width and even maybe
a black color.

[2021-12-09 03:46] dsanders11 commented on #1550
@panoplied, did this get closed for being stale?

[2021-12-09 03:53] kaustuk commented on #1682
Hi @makseq , yeah sure will make this change and update the PR for the same

[2021-12-09 09:06] farioas commented on #1550
@dsanders11 I misconfigured "stale" github action, so this issue was closed by mistake.

[2021-12-09 09:08] dsanders11 commented on #1550
Ok, no worries! Was just checking.

[2021-12-11 01:00] dcyoung commented on #866
👍 This would be very useful

[2021-12-12 03:23] John-Polo opened #1836 "Problem with tutorial MMDetection install"
**Describe the bug**
Installation of MMDetection fails on [step 2](https://labelstud.io/tutorials/object-detector.html#Installation) of the Installation section, create and initialize coco-detector. The error message returned:

**To Reproduce**
Steps to reproduce the behavior:
conda create --name mmlab
conda activate mmlab
pip install mmcv
conda install pytorch-cpu==1.10.0
conda install torchvisio

[2021-12-12 11:55] NitinKhandelwal1947 opened #1837 "Video Timeline:- video with no audio"
Want to annotate a video which doesn’t have audio. When we open the task a pop-up error appears with below description .

_Error while loading audio. Check $videoSource field in task.
Technical description: Error decoding audiobuffer_

<img width="468" alt="Screenshot 2021-12-12 at 5 16 37 PM" src="https://user-images.githubusercontent.com/25168555/145711103-138b474b-9c48-4a33-aabf-381cfb3d8a1b.pn

[2021-12-12 23:04] BrittMcDanel opened #1838 "<Shortcut> in <TextArea>, "$<value>" adds string "$<value>" instead of the value from the object."
**Describe the bug**
Shortcut does not add the expected value. For the below example, $sentence should be the value of the sentence key in the object, but is instead the string value "$sentence".

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Copy my above view.
2. Add an object with a "sentence" key and add any value.
3. Use the hotkey.
4. "$sentence" will be the value of the <TextA

[2021-12-13 00:59] BrittMcDanel commented on #1838
<TextArea>'s value tag can be prefilled to achieve the behavior that I was looking for.

[2021-12-13 00:59] #1838 closed

[2021-12-13 10:04] TerakoyaAcademia opened #1839 "RUNTIME ERROR Validation error"
I wanted to do Named Entity Recognition in label studio. For this approach, I have used Label Studio as front end, Redis server as database and Ginza server as ML backed. I have a default Docker file and I have docker-compose.yml file at the bottom.
According to all default setting, I have three containers that are running. (Label studio on port 8080, Ginza Server on 9090 & RedisServer on port 637

[2021-12-13 10:17] fairy-of-9 opened #1840 "Filters for finding specific words in Paragraphs do not work in Korean(Hangul)."
**Describe the bug**
Filters for finding specific words in Paragraphs do not work in Korean(Hangul).

**To Reproduce**
1. import json datas
[code]
[code]
![image](https://user-images.githubusercontent.com/37280914/145793748-7348c158-140b-48b0-915b-47954f4d47a3.png)

2-1. Filters in English (work)
![image](https://user-images.githubusercontent.com/37280914/145793840-6b2126b5-d8c4-46bd-bfef-2ba5f2a7

[2021-12-13 10:25] farioas commented on #1839
localhost is a hostname that refers to the current device used to access it. So for label-studio container localhost is label-studio host and not ginza. You have to use proper service names to setup service-to-service communication, in that case it will be `http://server:9090`

[2021-12-13 18:10] zbyte opened #1841 "Exception in Export to YOLO"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Project
2. Click on Export
3. Select format YOLO
4. After some seconds have exception:

[code]

**Expected behavior**
zip file with exported labels downloaded

**Environment (please complete the following information):**
 - OS: docker
 - Label Studio Version 1.4

[2021-12-13 18:23] zbyte commented on #1841
Export to Pascal VOC XML shutdown to:
[code]

[2021-12-13 20:06] hlomzik commented on #1824
Hi! Actually we did kind of opposite thing — we use `iframe` now by default to make a sandbox for loaded html, so in your case you should use just the "baidu.com" as `value`.

[2021-12-13 20:06] #1824 closed

[2021-12-13 20:08] hlomzik commented on #812
Hi, @NickShargan ! We really don't have such hotkeys, but we are working on a good new shortcut system, and this will be there. I'll let you know when this happens!

[2021-12-14 01:13] makseq commented on #1837
@NitinKhandelwal1947 It's not possible to do segmentation without audio, because this type of labeling is based on the audiowave. The fastest way to fix it is to convert your videos and include silence inside:
[code]

btw: we are releasing video labeling soon, so there you will be able to this without audio track.

[2021-12-14 01:13] #1837 closed

[2021-12-14 01:54] makseq commented on #1841
@zbyte This can happen when your annotations have empty labeling results (submitted with empty annotation). However this shouldn't affect the export, you are right. I've created a ticket about this.

[2021-12-14 07:35] zbyte commented on #1841
How can i delete this annotaions?

[2021-12-14 10:43] zbyte commented on #1841
i found wrong task, why such a task appeared, I do not know:

[code]

[2021-12-14 12:56] makseq commented on #1841
@zbyte could you share your labeling config?

[2021-12-14 12:59] zbyte commented on #1841
config:

[code]

[2021-12-14 13:04] zbyte commented on #1841
config not edited after we start labeling. New Label classes not deleted/added.

[2021-12-14 13:23] KonstantinKorotaev commented on #1836
@John-Polo could you please check ML backend from [fix/mmdetection-blog](https://github.com/heartexlabs/label-studio-ml-backend/tree/fix/mmdetection-blog)?

[2021-12-14 14:54] priamaniv commented on #1620
I experienced the same issue, upvoting and hoping for a fix soon!

[2021-12-14 15:54] John-Polo commented on #1836
@KonstantinKorotaev Hi. Sorry, I'm a noob with GitHub and ML and everything else. That being the case, it would help me if you wrote explicitly what I should do. In this case, I don't know if I should use "clone" or "checkout". I also don't know how to refer to the branch. I tried this:
`conda create --name mmlab
conda activate mmlab
pip install mmcv
conda install pytorch-cpu==1.10.0
conda install

[2021-12-14 19:11] KonstantinKorotaev commented on #1836
Try this:  git clone -b fix/mmdetection-blog https://github.com/heartexlabs/labe
l-studio-ml-backend.git

[2021-12-14 19:35] triklozoid commented on #1620
@priamaniv we already have PR with the fix of this issue, you can check it, or wait for a little, until we release it.
https://github.com/heartexlabs/label-studio/pull/1823

[2021-12-15 02:27] John-Polo commented on #1836
Thank you, @KonstantinKorotaev. It looks like that mostly worked, but now there is a different error:
[code]

[2021-12-15 15:21] GeorgeVJose opened #1845 "Option for Train-Validation-Test Split"
It would be nice if I can set dataset split percents in the UI and the exporting takes care of it.

[2021-12-15 19:30] simonlsk opened #1846 "Data manager crashes when audio file has duration Infinity"
**Describe the bug**
Data manager crashes when trying to play audio inline (without entering the label-studio-frontend). This happens when the file is served without support for range requests for example.

**To Reproduce**
Steps to reproduce the behavior:
A bit hard to reproduce without a special setup. But it can be simulated.
In dm2:
Call `<Duration>` in `AudioPlayer` while passing `Infinity` a

[2021-12-15 19:32] simonlsk commented on #1846
Open PR - https://github.com/heartexlabs/dm2/pull/27

[2021-12-16 00:56] nicholasrq commented on #1846
the PR in Data Manager is merged, thank you for the fix. it'll be added to Label Studio soon

[2021-12-16 01:53] DougTrajano opened #1848 "Selected parameter doesn't work"
As described in [Label Studio — Choice Tag for Single Choice Labels](https://labelstud.io/tags/choice.html), I would like to define a choice that will be selected by default.

I tried to define `selected` in the Choice tag, but it doesn't work as expected.

[code]

**Expected behavior**

I would like that the choice "Yes" in the first question can be selected automatically when labeling start.

**

[2021-12-16 06:15] NitinKhandelwal1947 opened #1850 "Video timeline: On clicking Play button only audio wave is playing not the video in video-player"
On clicking Play button only audio wave is playing not the video in video-player.
<img width="1002" alt="Screenshot 2021-12-16 at 11 38 18 AM" src="https://user-images.githubusercontent.com/25168555/146317598-83a7ba42-54fd-44de-ac1e-ec06344ca346.png">

We are using **0.7.5** version of label studio and we are using config like below...

<img width="682" alt="Screenshot 2021-12-16 at 11 40 17 AM" s

[2021-12-16 08:53] KonstantinKorotaev commented on #1836
Hi @John-Polo
Did you modify the example?
If yes, could you please provide the code of your model?

[2021-12-16 10:34] LamDang commented on #1435
Thanks @J-Petiot for initialize the issue. We have the same challenge with long audio that cause OOM in the client's browser.

@makseq Just to make sure I understand, you were saying that we can already do that or did you mean to discuss as a future feature?

I would like to add another aspect it that we often need to annotate chunk of audio with corresponding transcription under the form of dialo

[2021-12-16 10:54] 759852125 opened #1851 "What kind of export method is the data set format of this folder form?"
![image](https://user-images.githubusercontent.com/54934866/146358438-cafe89af-cbeb-415d-a888-0137def73aa1.png)
![image](https://user-images.githubusercontent.com/54934866/146358560-91e28400-4cb1-4bdf-9fd4-6961aebf0880.png)

![image](https://user-images.githubusercontent.com/54934866/146358591-6798817e-86bf-45a2-8713-ca6188b3ea6e.png)

[2021-12-16 16:51] John-Polo commented on #1836
Hi @KonstantinKorotaev . I did not modify anything. This is all the code I have used so far:

[code]

[2021-12-16 17:23] makseq commented on #1807
@fairy-of-9 Check this please: https://labelstud.io/guide/labeling.html#Customize-hotkeys

[2021-12-16 17:23] #1807 closed

[2021-12-17 00:15] makseq commented on #1851
@759852125 Could you show what is inside of JSON? It could be JSON, JSON-MIN, COCO.
If you see "annotations", "data", "predictions" keys that are dicts, it should be JSON.

[2021-12-17 00:45] makseq commented on #1850
This version of LS is very old and is not supported.

Usually this problem happened when video is not fully loaded.

[2021-12-17 10:12] 759852125 commented on #1851
![image](https://user-images.githubusercontent.com/54934866/146528268-8f77ee89-5331-456b-9663-189c5e223a95.png)
![image](https://user-images.githubusercontent.com/54934866/146528282-d9596836-bac5-498b-b0ef-9328bb44f183.png)

[2021-12-17 12:44] KonstantinKorotaev commented on #1836
Could you please change **pip install mmcv** to
pip install mmdet==2.6.0 & mmcv-full==1.2.0
?

[2021-12-17 13:58] makseq commented on #1851
This is a COCO format.

[2021-12-17 14:03] #1846 closed

[2021-12-17 15:09] John-Polo commented on #1836
Hi @KonstantinKorotaev .

I tried two ways.
First, I used this:
[code]
and got the error:

I also tried slight different install. I thought the new packages you suggested (mmdet 2.6.0 and mmc-full) were maybe supposed to replace the lines with "##", so those lines were excluded in this attempt:
[code]
That returns this:

[2021-12-17 22:34] dvivarelli commented on #1809
any  update about this issue?
I have the same problem

[2021-12-17 23:12] dvivarelli opened #1854 "BBox rotation is blocked near 90°"
**Describe the bug**
If i try to rotate bounding box at 90° the box is stuck.

**To Reproduce**
See the dif below

[https://gifyu.com/image/SSNB3]

**Expected behavior**
The bbox should rotate over 360°

**Environment (please complete the following information):**
 - OS: Windows 10 home
 - Label Studio Version   Docker label studio latest

[2021-12-18 00:47] Gondragos commented on #1854
Thank you for your report.  We do have a few problems related to the region rotation now. But most of them, including this bug, might be fixed in this pull request https://github.com/heartexlabs/label-studio/pull/1849
So you could try a version from its branch. But anyway, I hope we will merge it soon.

[2021-12-18 09:10] KonstantinKorotaev commented on #1836
Do you have an option to use docker instead of local installation?
Just run **docker-compose up -d** in label_studio_ml/examples/mmdetection/ and you will get ML backend on port 9090.

[2021-12-20 17:46] novakat opened #1858 "Editing an entry added using a <TextArea> with attribute editable="true" throws js error and blanks task annotation area"
Editing an entry added using a `<TextArea>` with attribute `editable="true"` throws js error and blanks task annotation area.

The error is Error: Minified React error #31; decoded as:

**To Reproduce**
Steps to reproduce the behavior:
1. Use labeling config including `<TextArea ... editable="true"/>`
e. g.
[code]
2. Enter some string in the text area.
3. Press the pen icon on the entered text to

[2021-12-20 19:31] John-Polo commented on #1836
@KonstantinKorotaev , thanks for the suggestion. It's been a pain for me to get docker set up on Slackware. I searched and it looks like I can run docker from inside Python. I am going to try to run docker there, because the standalone docker won't install for me.

[2021-12-20 20:35] ALIYoussef commented on #954
The issue is still there. Choosing the "url" as value type makes the data text saving the path file not the source text
![test](https://user-images.githubusercontent.com/16019112/146829368-3d435256-fe3f-48ac-989a-417c164c5d82.PNG)

[2021-12-20 21:25] smoreface commented on #954
@ALIYoussef can you set your Text tag to also include "saveTextResult" to "true"?
https://labelstud.io/tags/text.html

[2021-12-21 01:07] makseq commented on #954
@ALIYoussef If you try to export data that was imported with valueType = "url", then you will always get urls in your "text" field, this is the expected behavior.

[2021-12-21 03:47] 759852125 commented on #1841
I also had this export problem

[2021-12-21 08:09] simonlsk opened #1859 "Docker build fails on MacOS and docker 20.10.11"
**Describe the bug**
Docker build fails on a fresh cloned directory of label-studio.

**To Reproduce**
1. Clone label-studio from github
2. Run from directory: `docker build --tag label-studio .`

**Expected behavior**
docker build succeeds

**Screenshots**
Output of docker build:
[code]

**Environment (please complete the following information):**
 - OS: MacOS 12.0.1 (intel)
 - Label Studio Versi

[2021-12-21 13:42] CaioDallaqua opened #1861 "Adding non-overlap option for time series"
Hi everyone. Thanks for the amazing work with Label Studio. My team is very excited about it!

**Is your feature request related to a problem? Please describe.**

When working with **time series** for classification problems we need to avoid overlapping so that a segment have at most one label associated with it (per annotator). In our scenario, **different regions should not have overlapped posit

[2021-12-21 14:01] ALIYoussef commented on #954
@smoreface  @makseq  thank you for replying. By setting the saveTextResult ="yes" will save the tag only (i.e., the annotation text but the text includes the tag). So, in the field "data" the "text" will include only the the URL.
Is there a way to save the text included in the "file.txt" in the data dictionary? or this operation should be performed after exporting  the annotation!
![image](https:/

[2021-12-21 14:03] ALIYoussef commented on #954
So, no way to save the full text in the file within the data dictionary when the valueType = "url"?

[2021-12-21 14:08] ALIYoussef commented on #954
By setting the saveTextResult ="yes" will save the tag only (i.e., the annotation text but not the text includes the tag). So, in the field "data" the "text" will include only the the URL.
Is there a way to save the text included in the "file.txt" in the data dictionary? or this operation should be performed after exporting the annotation!
![image](https://user-images.githubusercontent.com/1601911

[2021-12-21 21:12] John-Polo commented on #1836
HI @KonstantinKorotaev . I tried to install docker, but Slackware says there is a dependency necessary that is not available for the version I'm on, so standalone docker doesn't work for me. I am going to try to run it through Python.

[2021-12-21 21:32] dvivarelli commented on #954
using last docker build, the workaround with  valueType="url"  works

<Text name="text" value="$text" granularity="word" valueType="url"/>

[2021-12-21 23:24] aristizabal95 opened #1863 "Text Labeling. Updating a task removes all newlines from labeled text"
**Describe the bug**
When working on a text labeling project, the task source keeps a record of the text that accompanies a label. When a task is labeled for the first time, this portion of text retains newlines. But, when doing any update to the task (even an update with no changes) then newlines are removed from all labeled substrings

**To Reproduce**
Steps to reproduce the behavior:
1. Add and

[2021-12-22 00:19] makseq commented on #1859
@simonlsk Could you please pull the latest LS master and try to build docker again?

[2021-12-22 07:34] rvandevijver opened #1864 "Pairwise image labeling only allows right selection"
**Problem**
When trying pairwise image comparison on the playground, only the right image can be selected.

**Minimal example of the labeling config**
[code]
Or in the playground using [this link](https://labelstud.io/playground/?config=%3CView%3E%3Cbr%3E%20%20%3CPairwise%20name%3D%22pw%22%20toName%3D%22txt-1%2Ctxt-2%22%20%2F%3E%3Cbr%3E%20%20%3CImage%20name%3D%22txt-1%22%20value%3D%22%24text1%22%2

[2021-12-22 09:01] 759852125 commented on #1841
@makseq

I have also encountered this problem, currently unable to export, please solve this as soon as possible, if you need remote assistance to understand the problem, you can provide your contact information, I provide remote information for you to remotely understand the problem or debug

[2021-12-22 09:32] ALIYoussef commented on #954
Thank you. I will try that. So, now does it save the text included in the text instead of the url path in the annotated data?

[2021-12-22 10:03] simonlsk commented on #1859
Hey, thanks for the quick response and fix!
I still need to do the following change in `.dockerignore`:
`!label_studio` => `!label_studio/**`
But this time it works!

As far as I am concerned you can close the issue.
Thanks again!

[2021-12-22 12:40] SAIVENKATARAJU opened #1866 "Label-studio in GCP cloud run not showing completed labels after logout"
Hi,
I am using label-studio in GCP cloud run `https://github.com/heartexlabs/label-studio#deploy-in-a-cloud-instance`.  I have created user and done some annotations but later on, when I reopened again everything is gone. again its asking to create a project. Do we need to link this to cloud storage?, its not mentioned in the above link.

[2021-12-22 14:16] SAIVENKATARAJU commented on #1866
Adding to above, I just added my cloud storage after creating 6 annotations I synced the data and data is showing cloud storage. After a while if I sync again I just dont see annotations for the completed 6 images. Am I understanding wrong?

[2021-12-22 14:40] makseq commented on #1667
@uriel-tannen @shaileshj2803 I've implemented some experimental functionality for this: you have to add `EXPERIMENTAL_FEATURES=true` at Label Studio startup. After this you will be able to use the 'Propagate Annotations' action in the Data Manager. Note that it can be unstable and works well only for choices (you may use it for other types of labeling at your own risk).

[2021-12-22 15:02] uriel-tannen commented on #1667
Thanks @makseq - I'll test this out. Are these experimental features in the Master branch?

[2021-12-22 19:07] makseq commented on #208
@dernat71 we implemented customizable hotkeys, you can check them there https://labelstud.io/guide/labeling.html#Customize-hotkeys

[2021-12-22 19:07] #208 closed

[2021-12-22 19:20] makseq commented on #1667
@uriel-tannen Yes, they are in the master

[2021-12-22 20:40] makseq commented on #1859
@simonlsk Thanks for the feedback! We checked your notes about dockerignore and we couldn't reproduce this problems.

[2021-12-22 20:40] #1859 closed

[2021-12-22 21:11] makseq commented on #1864
@rvandevijver The playground uses a very ancient version of LS. In the LS 1.4 I couldn't reproduce this bug.

[2021-12-22 21:11] #1864 closed

[2021-12-22 21:12] makseq commented on #1864
Feel free to re-open if you can reproduce it in LS 1.4.

[2021-12-22 21:13] makseq commented on #1841
@759852125 Do you know how to create an annotation with empty "rectanglelabels"?

[2021-12-22 23:53] hlomzik commented on #1848
Hi, @DougTrajano ! We've fixed such bug in previous version, so that's weird. I'll check it, thank you for notice!

[2021-12-22 23:57] makseq commented on #1859
https://github.com/heartexlabs/label-studio/pull/1868#pullrequestreview-838913993

[2021-12-22 23:58] makseq commented on #1859
https://github.com/heartexlabs/label-studio/pull/1868/files

[2021-12-23 00:11] hlomzik commented on #1435
Hi! We have this functionality already and the config is exactly like that one you made.

[2021-12-23 07:44] filippo82 commented on #208
Great news 🥳 thank you.

[2021-12-23 15:00] makseq commented on #1244
Hope this fixed. Feel free to re-open

[2021-12-23 15:00] #1244 closed

[2021-12-24 17:29] 759852125 commented on #1841
Sorry i don't know
@makseq

[2021-12-24 18:00] 759852125 commented on #1841
According to my investigation, I found in \Lib\site-packages\label_studio_converter\converter.py that the error location is about line 602 code: category_name = label['rectanglelabels'][0], the subscript is out of bounds, according to The sequence number at the end of the abnormal file name is: 13
So I went to /projects/1/data?tab=1&task=13 to check my tag label and found that there was no problem

[2021-12-24 23:30] makseq commented on #1841
@759852125 Thank your for your investigation! You are right, the final error happened in the place you showed. However the origin problem happens somewhere in the frontend (`"rectanglelabels": [ ]`) and we don't know how to reproduce this problem.

[2021-12-25 06:25] 759852125 commented on #1841
I can provide you with a data set, do you need it? @makseq

[2021-12-25 06:44] 759852125 commented on #1841
I provide you with my archive, Stored in AppData\Local\label-studio @makseq
[label-studio.zip](https://github.com/heartexlabs/label-studio/files/7775549/label-studio.zip)

[2021-12-25 07:05] 759852125 commented on #1841
![image](https://user-images.githubusercontent.com/54934866/147379505-a4006576-3a59-4940-acf7-1cd4638fd487.png)
I found something that seemed to be missing when producing json in the label studio. It may have been concluded that there was an error in producing the json file. @makseq

[2021-12-25 07:11] 759852125 commented on #1841
![image](https://user-images.githubusercontent.com/54934866/147379629-338fcfba-3141-4365-b9f5-c30095daeb1b.png)
@makseq  In the sql repository, it is found that Json is no problem, so it may be caused by json generation.

[2021-12-25 07:37] 759852125 commented on #1841
@makseq
![image](https://user-images.githubusercontent.com/54934866/147380054-7b8051fe-04cf-4eb7-b72e-96a40d9cc3c0.png)
The following figure shows the json in the database is eight normal tags
After comparison, I only have eight labels in this picture, but when the Json file is generated
(From label_studio/data_export/api.py: about 175 [tasks += ExportDataSerializer(self.get_task_queryset(query.fi

[2021-12-25 07:38] 759852125 commented on #1841
The number I marked is also eight tags
![image](https://user-images.githubusercontent.com/54934866/147380102-383c49bc-a3e5-4190-8dec-311b5b02b57b.png)

[2021-12-25 07:40] 759852125 commented on #1841
![image](https://user-images.githubusercontent.com/54934866/147380137-12d4def6-d9ab-4304-b54e-582a71d16768.png)
This picture shows that the number of Json generated is nine labels, one of which is an incorrect empty label @makseq

[2021-12-25 07:42] 759852125 commented on #1841
According to my recollection, there may be an inaccurate label in the box position that was removed at the time, and then a new box label was redrawn. It may be that the deletion of the label caused this problem. @makseq

[2021-12-25 07:48] 759852125 commented on #1841
it turns out that it is a useless label, so I temporarily added a judgment to deal with my own export problem first, but please your check the root cause in more detail. I am not a suitable programmer.
![image](https://user-images.githubusercontent.com/54934866/147380266-b1476f28-ab47-414a-a41b-c5240c5c094b.png)

[2021-12-25 08:29] 759852125 opened #1871 "Sequence of labels"
![image](https://user-images.githubusercontent.com/54934866/147380895-2f9776a6-ac1d-4328-8331-273f3cd14a73.png)
I hope that the order of the tags exported each time includes the serial number of 0 1 2 and classes.txt, which can be based on the order of setting tags here, so as to avoid the need to change the training data set every time you export or add a new data set. Configure the sequence of n

[2021-12-25 08:33] 759852125 commented on #1871
@makseq

[2021-12-26 23:23] makseq commented on #1841
I've tried to reproduce this due to label deletion, but not luck yet.. If you find steps how to repeat this bug, please share their asap!

[2021-12-27 07:19] shreyjasuja opened #1873 "Local storage import sync getting timed out"
**local import storage is not getting synced**

I mounted the local storage I tried to run it for 500 tasks it worked successfully but when I put in like 1,500,000 tasks in the same folder the sync is getting failed.

[2021-12-27 11:53] smilekison opened #1874 "ML Backend Error"
I wanted to do Named Entity Recognition in labelstudio on AWS ECS instance. For this approach, I have used Label Studio as front end and Ginza server as ML backend and using PostgreSQL as database. According to all default setting, I have two containers that are running. (Label studio on port 8080, Ginza Server on 9090 & PostgreSQL using endpoint of AWS RDS). I did health check on Ginza Server and

[2021-12-27 12:40] farioas commented on #1874
Try to use internal dns name as a model endpoint:
[code]

[2021-12-27 12:44] #1851 closed

[2021-12-27 12:45] 759852125 commented on #1851
1

[2021-12-27 15:57] smilekison commented on #1874
@farioas, I used my public IP address and it shows the error as i have mentioned above.

[2021-12-27 16:01] farioas commented on #1874
I see no problem here with label-studio itself. Just create an ingress rules for 9090 port or use internal ip addresses for communication with in your ECS cluster.

[2021-12-27 20:58] makseq commented on #1873
@shreyjasuja LS doesn't use any background process to scan the local storage. You should prepare import JSON file [according this recommendation](https://labelstud.io/guide/storage.html#Tasks-with-local-storage-file-references) manually.

[2021-12-27 21:00] makseq commented on #1873
Also I recommend to switch to the latest master from github, because we've fixed critical issue with Local Storages there.

[2021-12-28 07:06] 759852125 commented on #1841
![image](https://user-images.githubusercontent.com/54934866/147538190-60dc5762-7193-413e-80f6-9bc5c8d85b2a.png)
You download this file and put it in the specified path to reproduce the problem of exporting my data set @makseq

[2021-12-28 09:10] makseq commented on #1841
This is not a root of the problem. We have to reproduce it in the labeling editor during the labeling process.

[2021-12-28 09:41] 759852125 commented on #1841
Unfortunately, this may be a probability problem, and I don't even know how to trigger it. @makseq      May not help you

[2021-12-28 22:29] magicaltoast opened #1880 "--version flag doesn't print version"
**Describe the bug**
```--version``` flag don't print version but it's on the help page

**To Reproduce**
```label-studio --version```

**Expected behavior**
Print a version number and exit the process

**Environment (please complete the following information):**
 - OS: Ubuntu
 - I don't know, the latest I guess

**Additional context**
[code]

[2021-12-28 22:33] magicaltoast opened #1881 "File names missing when using local files"
**Describe the bug**
Label studio don't infer filenames from file system while using local files option

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project
2. Add cloud storage
3. Storage type local files
4. Enable Treat every bucket object as a source file
5. Enable the filename columns in the task viewer

**Expected behavior**
Display filename as on the filesystem

**Screensho

[2021-12-28 23:07] makseq commented on #1880
Please, use `label-studio version`

[2021-12-28 23:08] #1880 closed

[2021-12-28 23:12] magicaltoast commented on #1880
@makseq help page clearly states ``--version``, but ``version`` works as expected.
[code]

[2021-12-28 23:14] magicaltoast commented on #1880
The rest of the help page also show usage of version as positional or optional argument
[code]

[2021-12-28 23:19] makseq commented on #1880
Yes, you are right. There is a fix - https://github.com/heartexlabs/label-studio/pull/1882

[2021-12-28 23:23] makseq commented on #1881
@magicaltoast The file path should be displayed in the data column, but the source filename makes sense when you import dataset from one json file with all tasks.

[2021-12-28 23:25] makseq commented on #1881
To see file paths you should switch data column to `str`:

![image](https://user-images.githubusercontent.com/501780/147614397-6eecf798-4d18-42be-b7ba-ed3c623b5c71.png)

![image](https://user-images.githubusercontent.com/501780/147614419-73ed934d-d862-4f4e-a6ef-2acabfb41006.png)

[2021-12-28 23:29] magicaltoast opened #1883 "Order by image option"
**Describe the bug**
Ability to order by image, what even means order by image.
How to compare if a image is greater or less than another image

**To Reproduce**
Steps to reproduce the behavior:
1. Import any image data
2. Go to task viewer

**Expected behavior**
Don't show the image as a sorting option or describe how ordering by image works

**Screenshots**
![Screenshot from 2021-12-29 00-26-05]

[2021-12-28 23:32] magicaltoast commented on #1881
Yes that works, also it explain bug report that  my bug report that I just wrote https://github.com/heartexlabs/label-studio/issues/1883

[2021-12-29 00:03] makseq commented on #1881
@magicaltoast If your problem is solved, please close the tickets ;)

[2021-12-29 01:46] magicaltoast commented on #1881
mentioned issue is not solved, but explained. I don't think that ordering by image makes sense. Renaming it for order by path or removing it would solve the issue in my mind

[2021-12-29 10:28] RajarshiBhadra commented on #1766
How did you resolve this issue exactly? I seem to be facing the same issue in my system

[2021-12-29 15:22] makseq commented on #1672
This issue was fixed, please try the latest master.

[2021-12-29 15:22] #1672 closed

[2021-12-29 15:25] makseq commented on #1691
This problem was fixed in the latest master and heartexlabs/label-studio-frontend#351.

[2021-12-29 15:25] #1691 closed

[2021-12-30 00:14] makseq commented on #1866
@SAIVENKATARAJU You should configure persistent database. Please, [check this](https://labelstud.io/guide/storedata.html#Persist-data-with-a-cloud-provider).

[2021-12-30 00:29] makseq commented on #1873
Feel free to reopen this issue if the issue persists.

[2021-12-30 00:29] #1873 closed

[2021-12-30 00:32] makseq commented on #1874
@smilekison This error could happen if your labeling config doesn't fit for your ML backend. Did you set it up before connecting to the ML backend?

[2021-12-30 00:41] makseq commented on #1883
This ordering is done by the data column from your imported tasks. The data manager displays images here instead of strings for your convenience, so I'm not sure if we would like to change this...

How would you suggest to fix it?

[2021-12-30 00:45] #1850 closed

[2021-12-30 10:49] KonstantinKorotaev commented on #1871
Hi @759852125
Could you please check fix from [branch](https://github.com/heartexlabs/label-studio-converter/tree/DEV-1445)?
You need to install fixed label-studio-converter in your environment

[2021-12-30 15:24] TueLindhart commented on #1209
Any news for this bug? It has been a problem for a while now.

[2021-12-30 15:32] TueLindhart commented on #1330
??

[2021-12-31 00:22] nickvazz opened #1886 "[bug] LocalStorage becomes query string instead of absolute path"
**Describe the bug**
Video path changes when using local storage to query string?

**Expected behavior**
It should use the absolute path of the uploaded "cloud" data source

**Screenshots**
<img width="1070" alt="image" src="https://user-images.githubusercontent.com/8573886/147795818-4114b4ec-28ae-4e48-b217-61fa8eb3857f.png">

<img width="628" alt="image" src="https://user-images.githubusercontent

[2021-12-31 05:01] khs123 opened #1887 "Choice tags load value from server side"
I use a choice tag that allows the user to choose from the available results, but for a list of choices of about thousands of results creating that list inside the tag seems impossible, how can I It is possible to let the choice tag get that list from the server returned, the short description is that when the user selects or enters a few related words, it will call the server, the server will ret

[2022-01-02 19:27] nickvazz commented on #1886
@makseq any idea what is going on?

[2022-01-03 10:36] triklozoid commented on #1886
Can you share your label config, please?
And can you try open manually url with file? Should be http://localhost:8080/data/local-files/?d=video_chunks/Am_Scramble_2018_Video_output_0019.mp4

[2022-01-03 11:37] omishali opened #1888 "Labeling Hebrew text causes words to mix"
**Describe the bug**
I am trying to label Hebrew text (RTL language). When labels are attached to the text, the words of the text are mixed and not shown in their original order.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project with attached dataset.json [dataset.txt](https://github.com/heartexlabs/label-studio/files/7801663/dataset.txt)
2. Choose NER template
3. Start labeli

[2022-01-03 13:03] luxiangx opened #1889 "--host parameter causes a web page 404 error"
**Describe the bug**
Due to project requirements, different prefixes need to be used to distinguish different services. After reading the label studio document, we have tried to use the -- host parameter or LABLE_ STUDIO_ HOST environment, such as -- host http://127.0.0.1:8081/label-studio. However, the label studio background does not recognize the URL request, and return 404 error.

**To Reprodu

[2022-01-03 17:30] makseq commented on #1889
@luxiangx you should run LS using docker, because there must be properly configure Nginx over LS

[2022-01-03 17:55] guilhermenoronha opened #1890 "Can't export to CONLL using valueType="url" settings (NER Annotation)"
**Describe the bug**
I'm not sure if this is really a bug, or it is the expected behavior of the label-studio. I imported several text files in a row using the time series option with  -valueType="url"- set. The task I'm performing is named entity recognition (NER) in word level with custom tags. When I need to export the annotations, the CONLL file generated has the URLs of the imported files ins

[2022-01-03 18:23] KonstantinKorotaev commented on #1890
Hi @guilhermenoronha
It's expected behavior, you can delete option valueType="url" to get behavior you want.