[2020-08-24 14:36] makseq commented on #406
@zhl5317 Why did you close this issue? Have you found a solution?

[2020-08-24 14:41] zhl5317 commented on #406
oh, thanks, wrong click, i have reopen it

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "heartexlabs/label-studio"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年8月24日(星期一) 晚上10:36
收件人:

[2020-08-24 14:49] makseq commented on #406
Can you show your labeling config and sample task?

[2020-08-24 14:54] zhl5317 commented on #406
please refer to attached

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "heartexlabs/label-studio"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年8月24日(星期一) 晚上10:49
收件人:&nbsp;"heartexlab

[2020-08-24 15:14] makseq commented on #406
@zhl5317 Sorry, what attachment do you mean?

[2020-08-24 15:25] zhl5317 commented on #406
task.json:
{
&nbsp; "4": {
&nbsp; &nbsp; "id": 4,
&nbsp; &nbsp; "data": {
&nbsp; &nbsp; &nbsp; "image": "https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1598012320734&amp;di=bc1a884bdcba036c1c426443692d24d3&amp;imgtype=0&amp;src=http%3A%2F%2Fwww.demodashi.com%2Fueditor%2Fjsp%2Fupload%2Fimage%2F20170802%2F1501642981629058693.jpeg"
&nbsp; &nbsp; }
&nbsp; },
&nbsp; "5"

[2020-08-24 15:34] makseq commented on #406
@zhl5317 Could you test LS release/0.7.4 now? Is your error still there?

[2020-08-25 01:47] zhl5317 commented on #406
Hi max

i test on LS0.7.4, still same error

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "heartexlabs/label-studio"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年8月24日(星期一) 晚上11:34
收件

[2020-08-26 19:00] makseq commented on #406
@zhl5317
Why do you have doubled "completions" seсtions?

[code]

[2020-08-27 01:21] zhl5317 commented on #406
@makseq

no, Just one example

actually my completions is:
![image](https://user-images.githubusercontent.com/17403033/91372503-6058ab80-e846-11ea-8420-5e9c1f440f36.png)

[2020-08-27 01:36] makseq commented on #406
@hlomzik Can you check this issue about canvas: https://github.com/niklasvh/html2canvas/issues/1859
It seems really something strange in it...

[2020-08-27 01:36] makseq commented on #406
@zhl5317 do you have this trouble in the each task?

[2020-08-27 01:39] zhl5317 commented on #406
@makseq

no， other image tagging task are all ok， only “object detection“  have this trouble

[2020-08-27 03:29] maximveksler commented on #381
Thank you for the fix, I was having the same issues.

I checkout out release/0.7.5 and it kept failing for me.

Only after setting .aws/config file it finally started showing images.

My config file looks as follows

[code]

[2020-08-27 03:44] maximveksler commented on #381
I wonder if label-studio should recommend setting this as best practice, I'd be a bit cautious here as it's a system-wide setting that might break other stuff for the user.

Maybe a better option would be to automatically retrieve the location and then apply the region for a newly established AWS connection?

https://stackoverflow.com/a/34811723

[2020-08-27 06:52] tlaud opened #407 "Inconsistent RectangleLabels Export"
**Edit: Just my stupidity, no bug... After studying label-studio-converter/label_studio_converter/converter.py in detail, I realized that the mentioned values are not absolute but percentage values w.r.t. the original size.

Straight-forward calculations like x = x * original_width /100.0, etc., did the trick.

My suggestion would be to document this behavior somewhere :-)**

Hi,

When I label bou

[2020-08-27 07:41] #407 closed

[2020-08-27 09:10] makseq commented on #407
It's a good idea!

[2020-08-27 09:21] makseq commented on #381
@maximveksler May you create a PR with auto region selection?

[2020-08-28 07:43] p-sodmann opened #408 "Ability to have alternate versions of the same image to annotate with RoiPolygon"
## Why
In biomedical images there are usually different image modalities of the same object. For example different weightings in MRI for the same slice or different staining / immunofluorescence channels with different proteins in the same specimen in microscopy.
Just having the possibility to make a ROI selection based on one modality limits the use of label-studio.

Conditional Labeling with cho

[2020-08-28 07:56] p-sodmann opened #409 "Different Mouse Pointer on ROI Polygon"
## Why
When using the ROI Polygon Tool, it is frustrating to have no visual feedback weather you will drag the whole polygon or change a single point. This often results in me dragging the whole polygon instead of a single point as intended.

## Solution
Change the cursor icon depending on the action that will happen when I drag at the current position.
For example curser:grab if I would move the

[2020-08-28 09:54] theudas commented on #398
I think you can do this fairly simple by using a ml backend which runs SpaCy like in this guide: https://labelstud.io/guide/ml.html and https://labelstud.io/tutorials/sklearn-text-classifier.html

[2020-08-28 11:03] fsalmasri opened #410 "Export format list doesn't include COCO and PASCAL VOC"
I have
label-studio==0.7.4.post0
label-studio-converter==0.0.18

But in the list as shown below it doesn't include of the other formats.
![coco](https://user-images.githubusercontent.com/5776719/91554069-b143cf00-e92e-11ea-8aaf-1c10650ff0a5.png)

[2020-08-28 13:16] #373 closed

[2020-08-28 16:38] makseq commented on #410
@fsalmasri Can you show your label config?

[2020-08-28 16:47] makseq commented on #409
@hlomzik I think you can implement this very quickly.

[2020-08-28 16:50] hlomzik commented on #409
Yes, sounds very easy and helpful, just to change `cursor` in one place. Will deploy soon, thanks!

[2020-08-28 17:07] makseq commented on #408
@theudas We have discussed this issue with the team, I hope we implement it soon.

[2020-08-28 22:01] makseq commented on #406
@zhl5317 I explored your completion more detailed and found that there is "ellipselabels" inside, but you are talking about bboxes. I think you broke the integrity somewhere between the labeling config and task completions.

[2020-08-29 12:08] fsalmasri commented on #410
Config.xml

[code]

config.Json

`{"title": "Label Studio", "protocol": "http://", "host": "0.0.0.0", "port": 8080, "debug": false, "label_config": "C:\\Users\\fedai\\Desktop\\projects\\dataset\\ULB-VISTI-V2\\Test\\test\\config.xml", "input_path": "C:\\Users\\fedai\\Desktop\\projects\\dataset\\ULB-VISTI-V2\\Test\\test\\tasks.json", "output_dir": "C:\\Users\\fedai\\Desktop\\projects\\dataset\\ULB-V

[2020-08-29 12:53] makseq commented on #410
@fsalmasri As I know VOC and probably COCO support bounding box annotations only. Use <RectangleLabels> to export COCO/VOC.

[2020-08-29 18:37] fsalmasri commented on #410
COCO object segmentation is part of its format
https://cocodataset.org/#home

[2020-08-30 09:23] makseq commented on #410
@fsalmasri in this case we can extend our implementation to support polygons. Or if you could make a PR with the implementation it will be really cool.

[2020-08-30 11:28] fsalmasri opened #411 "Parsing segmentation points values"
Hello,

I'm trying to parse the segmentation values myself to create a custom label for my problem case.  I found that points values do not correspond to their actual values on the image. It seems like if there is a small mask size stretched to fit the original image.

The image below is taken from the label studio showing that labels are correct on their original place.
![image](https://user-imag

[2020-08-30 14:24] makseq commented on #411
@fsalmasri point coordinates are in percent format. From 0% to 100% of width and height.

[2020-08-30 14:54] nabinkhadka opened #412 "No predictions are seen on task page"
**Describe the bug**
Even though a model server is connected to an instance of label studio, no predictions are seen in the task page.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a model server using `label-studio-ml init my_ml_backend --script ml/examples/simple_text_cssifier.py` and then `label-studio-ml start my_ml_backend`
2. Check if the model server is up  `curl http://XX.XX

[2020-08-30 17:00] imadcat commented on #239
this add normalization function works in a confusing way:
- first the labelling and task interface will never display the normalization field, even when you have just added a normalization (I was doing polygon labelling)
- second the normalization data generated by label-studio-ml prediction will be totally lost when the task is humanly labelled and submitted

[2020-08-31 04:14] imadcat opened #413 "In machine learning prediction result the "normalization" fields will be discarded when doing manual labelling"
**Describe the bug**
I'm using label-studio and label-studio-ml to do image OCR labelling, I first save all the bbox data generated by an external OCR program and then do human labelling work on it. But a lot of the machine prediction data fields are discarded after the human labelling by label-studio.

For example here is a bbox converted into a polygon label, the bbox's text is saved as the "`no

[2020-08-31 16:11] fsalmasri commented on #411
@makseq worked perfectly. I have a full code to create a binary mask I can share it if needed.

[2020-08-31 16:55] makseq commented on #411
@fsalmasri Yes, it's a good idea to share it!

[2020-08-31 17:40] makseq commented on #412
@nabinkhadka And do you see predictions on labeling page?

[2020-08-31 17:46] nabinkhadka commented on #412
@makseq Yes, I do
![Screen Shot 2020-08-31 at 23 31 19](https://user-images.githubusercontent.com/6050613/91750041-225edd00-ebe2-11ea-9e95-4f28625fe108.png)
.

[2020-09-01 03:18] zhl5317 commented on #406
@makseq

thank you for your attention

actually, ithing my data is ok, because the data is created by LS tagging, not created by by myself. the following pic is my test data

![image](https://user-images.githubusercontent.com/17403033/91790606-cb89ef80-ec43-11ea-8302-dbeb05369a1f.png)

`{
  "completions": [
    {
      "created_at": 1598929260,
      "id": 1001,
      "lead_time": 4.093,
      "re

[2020-09-01 08:59] makseq commented on #406
I checked your completion on my side. Everything is ok...
Do you use google chrome? Or some custom version of it?

[2020-09-01 09:02] zhl5317 commented on #406
@makseq

yes, im using chrome, Is there a compatibility issue on Chrome?

[2020-09-01 09:04] makseq commented on #406
Maybe. I'm trying to do some checks.
Can you try another browser? And please show your label config.

[2020-09-01 09:09] zhl5317 commented on #406
@makseq
anyway, thank you for your quick reply, i will track  my configrations in more detail, and i will try on other another browser

mysql label config is official website example
`<View>
  <Image name="image" value="$image"/>
  <RectangleLabels name="label" toName="image">
    <Label value="Airplane" background="green"/>
    <Label value="Car" background="blue"/>
  </RectangleLabels>
</View>
`

[2020-09-01 10:19] makseq commented on #412
@nabinkhadka it is just a not implemented for task page. I will do it in 0.7.5 release and inform you when done.

[2020-09-01 10:23] #411 closed

[2020-09-01 11:45] nabinkhadka commented on #412
I can confirm that that was there in the previous release. @makseq

[2020-09-02 06:10] zhl5317 commented on #406
@makseq

i try on other browser (ie Edge) is ok,

but on chrome sometimes is ok, sometime will occurs " Failed to execute 'drawImage' on 'CanvasRenderingContext2D': The image argument is a canvas element with a width or height of 0", its very strange
![image](https://user-images.githubusercontent.com/17403033/91938127-fba9bf00-ed25-11ea-8c2d-7d445f1645af.png)

![image](https://user-images.githubus

[2020-09-02 12:41] fromnorthpole commented on #392
@nabinkhadka Sorry for the late response!

- Yes, when you are specifying Redis as tasks queueing server, the `train()` function is called explicitly in a separate process https://github.com/heartexlabs/label-studio/blob/master/label_studio/ml/model.py#L370)
- if Redis server is disabled - training function is running synchronously (though it could be easily managed as non-blocking requests provid

[2020-09-02 12:46] nabinkhadka commented on #392
I had figured out that. But thank you for response. :)

[2020-09-02 12:46] #392 closed

[2020-09-02 21:09] #401 closed

[2020-09-03 11:41] Johnson145 opened #416 "Bounding Boxes (aka Rectangle Labels) have invalid coordinates laying outside of the image boundaries"
**Describe the bug**
When exporting bounding boxes within completions, we expect their relative coordinates to lay in the range of [0, 100]. However, sometimes there are negative values as well as values greater than 100.

The associated bounding boxes shown in the UI do not leave the image boundary though. (Eventhough they may get very close.)

**To Reproduce**
Draw a bounding box on top of an im

[2020-09-03 12:53] hlomzik commented on #416
Hmm, that sounds bad and strange a bit. In previous release I made fixes exact for image boundaries. I'll check, fix and try to write some test to cover this. Thank you!

[2020-09-03 20:33] iasoon commented on #378
I also ran into this issue, I believe the cause was the use of the 'python' command here: https://github.com/heartexlabs/label-studio/blob/master/label_studio/ml/server.py#L96 .

I'm using a legacy system where python still refers to python 2. For working around this, I think you can just manually run the _wsgi.py file in your backend directory?

[2020-09-04 21:30] chambliss opened #417 "Importing data for NER doesn't work / works inconsistently"
**Describe the bug**
Importing data for NER works inconsistently (works for one example, for some reason not another).

**To Reproduce**
Steps to reproduce the behavior:
`label-studio init ner`
`label-studio start ner`
- Choose named entity recognition as task
- Use the following config:
[code]

Try to upload this example using the text field in the Import tab:
[code]

Notice that this example wor

[2020-09-04 23:57] makseq commented on #417
I think you have incorrect result field in prediction, it's an excess array bracket:

[code]

[2020-09-05 01:43] chambliss commented on #417
Had a feeling it must have been something like that :) thanks for the help!

Would recommend based on this experience that it would be helpful for other new users if the app complained when it came across similar parsing issues, if possible.

[2020-09-05 01:43] #417 closed

[2020-09-05 20:33] Rishabh-hyperverge opened #418 "Filter completed annotations on the task page based on choices/text boxes etc."
**Is your feature request related to a problem? Please describe.**
While going through large annotation QC, the ability to do targeted checks is very essential. I want to go through only positive samples right there in the portal.

**Describe the solution you'd like**
A simple filter or search based on choices/ text fields in the completed tasks page.

**Describe alternatives you've considered**
E

[2020-09-07 13:41] makseq commented on #418
@Rishabh-hyperverge do you want a simple sub-string search over completion JSONs?

[2020-09-08 01:03] Rishabh-hyperverge commented on #418
@makseq Yes, Initially that should do the job.
But Ideally, I think queries like search filters based on choices, labels, entities would be better.

[2020-09-08 11:00] katreparitosh opened #419 "label-studio: command not found during installation in Ubuntu session of EC2"
Hello,

I was installing Label Studio on my AWS EC2 instance. In the Ubuntu session, I could successfully install label-studio using the 'pip install label-studio' command.

However, when I was performing the "init" and "start" commands. I am getting an error that says 'label-studio: command not found'.

Python version - 3.6 and Ubuntu 18.4

What could be the possible reason? Also, is this the cor

[2020-09-08 11:38] makseq commented on #419
Try this one:
[code]

[2020-09-08 11:40] makseq commented on #419
Do you use virtualenv?

[2020-09-08 12:02] katreparitosh commented on #419
@makseq Thanks for the suggestions.

However, a simple re-SSH into the instance did the work. But anyway, thanks. Closing now.

[2020-09-08 12:02] #419 closed

[2020-09-10 23:09] makseq commented on #416
@hlomzik any news?

[2020-09-10 23:20] makseq commented on #413
What bbox text do you try to save as normalization?
Do you know about [per-region labeling](https://labelstud.io/playground/?config=%3CView%3E%3Cbr%3E%20%20%3CImage%20name%3D%22image%22%20value%3D%22%24image%22%2F%3E%3Cbr%3E%3Cbr%3E%20%20%3CRectangleLabels%20name%3D%22label%22%20toName%3D%22image%22%3E%3Cbr%3E%20%20%20%20%3CLabel%20value%3D%22Airplane%22%20background%3D%22green%22%2F%3E%3Cbr%3E%20

[2020-09-11 14:43] graingert opened #420 "Missing `Vary: Accept` http response header"
**Describe the bug**
When browsing to an item and pressing back, sometimes the browser will respond with the cached json response

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help expl

[2020-09-11 21:10] makseq commented on #420
Do you think that adding "Vary: Accept" to the response resolves this issue?

[2020-09-11 21:20] graingert commented on #420
hmm, I can't repeat this behaviour anymore

[2020-09-11 21:56] makseq commented on #420
Let's wait for several days and close this issues if everything is ok.

[2020-09-12 23:48] Johnson145 opened #421 "Renaming or moving the project folder permanently breaks the project"
**Describe the bug**
Renaming or moving the project folder (,which is based on absolute paths,) permanently breaks the project. More precisely, all completions get lost (according to the UI). If one goes ahead and creates new ones, the project gets completely broken and can't get opened at all anylonger.

Looks like this is due to the absolute paths being included in the project files. This affect

[2020-09-14 09:18] andreaferretti opened #422 "Undocumented schema for ML predictions"
Hello, first of all, thank you for your great project! Seems very useful!

I am trying to to connect some custom ML backends. In order to do that, I would need to understand what format the various tasks expect as a response. The ML examples all use the same schema which, if I understand correctly, is for a classification task. I am trying to connect a NER task and I cannot figure out what is the

[2020-09-14 11:50] tlaud opened #423 "Hotkey for toggling visibilty of bounding boxes"
**Is your feature request related to a problem? Please describe.**
One of the great features of Label Studio is the possibility of keyboard-only labeling by relying on hotkeys. Another great feature is the machine learning backend for label suggestions. In a use case, in which not only a bounding box is labeled but also classes are annotated, it would be nice to toggle the bounding box - which mig

[2020-09-14 11:53] tlaud commented on #422
What I did to figure out the required format for the responses was to study a JSON file in the completions folder. Once any example is labeled manually, a file should appear in the completions folder and contain the schema. Then, you would only have to identify where your values from the backend have to be inserted.

[2020-09-14 12:45] andreaferretti commented on #422
Thank you, that works! Still, I will leave this open, since it would be better to have it documented explicitly

[2020-09-14 17:52] hlomzik commented on #423
Hi! That's good and simple idea, thank you! First of all we have to add button to hide all regions and then hotkey can be assigned to it)
We'll do this soon, I'll update you here.

[2020-09-14 21:45] makseq commented on #422
I'll add it into docs. Also in 0.7.5 it will be more comfortable way to explore the task body.

[2020-09-16 23:40] makseq commented on #408
@hlomzik Have you any news?

[2020-09-17 06:35] p-sodmann commented on #422
It would be nice to get an example JSON similar to task creation.
Also, please document, that fields can be left empty.

We have different tasks for annotation of the same image, it took me a while to figure out, that I could leave some results empty.

[2020-09-17 06:50] p-sodmann opened #424 "Hotkey to remove / add points in roi poly"
**Is your feature request related to a problem? Please describe.**
Especially when modifying existing roi polygons, e.g. prelabeling it is not possible (?) to  add or remove points.

**Describe the solution you'd like**
add ctrl click on polygon points to remove points and alt click to add new points when clicking on a line.
also please add different cursors: https://github.com/heartexlabs/label-s

[2020-09-17 10:29] andreaferretti opened #425 "Cannot remove model"
In the model page, the X button to disconnect the model does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a ML backend
1. Go to model page
2. Add a ML backend
3. Click the X button on the connected backend
4. Confirm that you want to delete the model
5. The model is still there

**Expected behavior**
The model should be removed.

Even better, the slider on the bottom of t

[2020-09-17 10:35] andreaferretti opened #426 "With prediction-score-min strategy, no labeling tasks are found"
**Describe the bug**
I tried to setup an active learning environment, where the interface always suggests the labeling task on which the model is most uncertain. To do so, I connected an ML backend and ran label-studio with `"sampling": "prediction-score-min"`. Now I cannot label anything

**To Reproduce**
Steps to reproduce the behavior:
1. Create and connect a ML backend
2. Start Label-studio wi

[2020-09-17 10:40] andreaferretti opened #427 "Task page shows completion that was never created"
**Describe the bug**
Every new task shows some kind of completion, even before starting labeling anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Import some tasks
2. Open any task
3. Under completions, see `New completion Created undefined by Awesome User`

**Expected behavior**
The completion list should be empty

**Screenshots**
<img width="1412" alt="completion" src="https://use

[2020-09-17 10:40] fromnorthpole commented on #389
Hi, @devonkinghorn !
Sorry for the late response.
Yes, I think it's a good idea to include that option in ML backend connection settings. We'll make it in future releases. Meanwhile, you can do it programmatically by creating hooks sending POST requests to `/api/train`

[2020-09-17 11:25] taritro98 opened #428 "Display of label on top of bounding box region."
When we show pre-annotated regions using completions, we are trying to display the respective class/label name on each bounding box region of the image. We have tried multiple ways but nothing seems to work. Does label studio have any feature for this purpose, if not, is there any other way we can show them ?

[2020-09-17 11:53] hlomzik commented on #424
Hi! You can always add a point on any edge of polygon — there is green ghost point appears under the cursor when you mouse over the edge. Do you have it?
But currently you can not remove point from polygon, this is important lack of functionality, we'll fix it soon. Our plan to delete point by double click on it — pretty common behaviour. Does it fit?

[2020-09-17 20:35] p-sodmann commented on #424
That would work as well.

[2020-09-18 08:04] makseq commented on #426
@andreaferretti are you sure that tasks have predictions?

[2020-09-18 08:59] andreaferretti commented on #427
I understand. It is still strange to see that, though, for various reasons:

* who is Awesome user?
* the completion looks like any real completion (for instance, it can be deleted, it can be set as ground truth)
* it is not clear that the completion is empty (my first istinct was to try and figure out what was in there)

I suggest to not show this temporary completion on the frontend side, even i

[2020-09-18 09:01] andreaferretti commented on #426
They don't. Shouldn't predictions be created on the fly? When I choose `sequential` method, whenever I open a new labeling task, I see a prediction - I assume that the frontend queries the model on the fly.

What should I do to ensure that the ML backend is called on the existing tasks, so that labeling tasks show up here?

By the way, if there are no predictions, it would be better to show some l

[2020-09-18 10:57] huntzhan opened #431 "Unexpected sequential sampling behaviour"
**Describe the bug**
A clear and concise description of what the bug is.

Tasks are NOT sampled according to the order of `id` (*Tasks are ordered ascending by their "id" fields. This is default mode.*)

**To Reproduce**
Steps to reproduce the behavior:

1. Import tasks JSON file.
2. Confirm the `sampling` mode is set to `sequential`.
3. Start labeling, and tasks are sampled randomly.

**Expected

[2020-09-18 11:12] graingert opened #432 "allow label-studio to be used in a bigger flask project (by exposing a blueprint) and correct the use of app_factory"
Issue-title: allow label-studio to be used in a bigger flask project (by exposing a blueprint) and correct the use of app_factory
Description:
**Is your feature request related to a problem? Please describe.**
I'd like to be able to pip install label-studio, and consume it in an existing flask app
secondly the flask app_factory pattern is implemented incorrectly as it's immediately invoked:

https

[2020-09-18 14:43] makseq commented on #431
What LS version do you use?

[2020-09-18 15:49] huntzhan commented on #431
I use the docker image `heartexlabs/label-studio:latest` and import the `tasks.json` formatted like

[code]

[2020-09-19 13:27] makseq commented on #427
1. > who is Awesome user

I've removed Awesome user, and now it's a little bit clearly:
![image](https://user-images.githubusercontent.com/501780/93668376-8b749a80-fa94-11ea-8208-e0ccf25dbb63.png)

2 & 3.

But it has a blue point at the left and name "New completion".
Yes, it's a little bit confusing, I think we will rework this mechanics in future.

[2020-09-21 08:52] andreaferretti commented on #427
Thank you, this is already much more clear

[2020-09-22 12:52] ghanshyamdev opened #435 "DOM vs page loads time (appears on screen)"
**Describe the bug**
Currently, the DOM loads fast, but the browser page renders very slowly. It is taking up to `22 seconds` or sometimes even more

**To Reproduce**
Steps to reproduce the behavior:
I've attached the **config** and **JSON file** to reproduce the issue
1. Create a New Project
2. Save the config which I've attached
3. Go to the import page and import the JSON file which I've attach

[2020-09-22 13:06] ghanshyamdev commented on #435
![time_taken](https://user-images.githubusercontent.com/45035063/93886039-90d71c80-fd02-11ea-8dba-84cc71cf2fbe.gif)

[2020-09-22 14:45] makseq commented on #435
@ghanshyamdev Can you check LS version from this branch https://github.com/heartexlabs/label-studio/pull/399 ?

[2020-09-22 20:34] makseq commented on #431
@huntzhan Please, check 0.7.5rc1, it is fixed there.

[2020-09-23 06:11] huntzhan commented on #431
thank you!

[2020-09-23 06:31] ghanshyamdev commented on #435
@makseq In `0.7.5` version, work is impressive.

but I just want to ask you a few questions:
- My above issue totally depends on the [front-end repository](https://github.com/heartexlabs/label-studio-frontend)?
- If yes, then which branch depicts this `LS 0.7.5` in front-end repo for the latest changes. I mean from where I can find the latest front-end code?

[2020-09-23 15:35] kasuteru opened #436 "azuredeploy will be deprecated on 10/1/2020"
Just click on the one-click-deploy button and you will see the message.

https://deploy.azure.com/?repository=https://github.com/heartexlabs/label-studio/#/form/setup

[2020-09-23 17:49] kasuteru commented on #432
I second this request, as I would also love to integrate it into an existing app.

[2020-09-23 17:56] kasuteru opened #437 "Add Azure Storage to Cloud Storage connectors."
This is pretty straightforward - we have support for s3 and gcs, but Azure Storage is missing from the list.

**Describe the solution you'd like**
Add a connector for either Azure Blob Storage, Data Lake Storage or both.

I think I might be able to implement this myself, but if someone is already working on this, I don't want to duplicate the work. I am happy to help with testing.

[2020-09-24 08:44] makseq commented on #437
@kasuteru it will be great if you implement it! We are not working on it now.

[2020-09-24 08:56] fromnorthpole commented on #426
@andreaferretti when you are using `prediction-score-min` mode for sampling, it expects that every task in a dataset has a prediction, then selecting the task with minimal prediction score. Connected ML backend provides only prediction for the currently selected task. You can still create predictions for the entire dataset using your ML backend by:
1. Specifying `"enable_predictions_button": true`

[2020-09-24 09:54] makseq commented on #428
@taritro98 we have implemented it in our development branch of label studio front end. If you want I can send you this build.

[2020-09-24 10:18] taritro98 commented on #428
Yes please. That would be very helpful. Thank you.

[2020-09-24 10:24] makseq commented on #435
@ghanshyamdev
1. yes, totally.
2. tmp/deserialize.
3. today-tomorrow :smiley_cat:

[2020-09-24 10:32] andreaferretti commented on #426
Thank you, now it is more clear

[2020-09-24 10:44] makseq commented on #426
@andreaferretti can we close this issue? or you have more questions?

[2020-09-24 11:04] makseq commented on #428
@taritro98 Sorry, I was wrong, it's already in the build.

Go to settings:
![image](https://user-images.githubusercontent.com/501780/94137249-cdc02200-fe6e-11ea-9836-5e6727f95603.png)

and enable "Show labels inside the regions"
![image](https://user-images.githubusercontent.com/501780/94137232-c567e700-fe6e-11ea-9c45-7d097bd05a6e.png)

[2020-09-24 11:18] #428 closed

[2020-09-24 11:19] makseq commented on #428
Feel free to ask more question here.

[2020-09-24 11:40] ghanshyamdev commented on #435
Wow, that's good news :tada:

[2020-09-24 11:52] fromnorthpole commented on #425
@andreaferretti can't reproduce that issue. Can you check whether there are some error logs in the server console while deleting the ML backend?

[2020-09-24 13:50] andreaferretti commented on #426
It is ok to close, thanks

[2020-09-24 13:50] #426 closed

[2020-09-24 13:53] andreaferretti commented on #425
No errors in the console. I noticed that it only happens in Firefox. In Chrome, there is no issue. (I am on MacOS if it helps)

[2020-09-24 16:42] #435 closed

[2020-09-24 16:43] makseq commented on #431
@huntzhan have it helped you? Can I close this issue?

[2020-09-24 16:44] #427 closed

[2020-09-24 18:08] huntzhan commented on #431
@makseq I'll try to test the change later and thank you again for your active response!

[2020-09-24 18:08] #431 closed

[2020-09-25 06:50] tpetri94 opened #438 "Adding new labeling methods"
Hi everyone,

I am currently trying to add .csv data labeling to label studio (classification and segmentation). For that, my first step idea was to simply duplicate the text classification example and replace the text field with a table to display a single csv file.
Now, my problem is that the default <Table> does not support this. While digging through the code and looking at the examples, I end

[2020-09-25 11:11] loeffel-io opened #440 "Is it possible to get the word range instead of the char range?"
Desired result for "faith": `start 3; end 4`

Is this even possible? Thank you very much

![Bildschirmfoto 2020-09-25 um 13 09 34](https://user-images.githubusercontent.com/12670730/94260430-74202c00-ff30-11ea-9288-03ecdbaf9940.png)

[2020-09-25 14:56] kir4h opened #441 "Docker image v0.7.4 unavailable"
Opening this issue, not exactly a bug but I guess it's the best category out of the 3 (not using the template because it doesn't make sense)

I was taking a look at the versioning and noticed:

* Version `0.7.4` is tagged in the repository but not available on Docker Hub. Is this on purpose?
* Version `0.7.5` is not yet tagged, currently there is only a release branch; however, version `0.7.5` is

[2020-09-25 15:10] makseq commented on #441
@kir4h Yes, it's some confusion in docker tags. But as far as I remember the latest tag is 0.7.4 version.
0.7.5 is not officially released yet, it's only a release candidate for tests.

[2020-09-25 15:18] kir4h commented on #441
Yup, that's what it looks like from the repository point of view; but I think `0.7.4` should be pushed so that anyone using docker can use the latest stable version (and maybe relabeling current `0.7.5` to `0.7.5rcx` like it was done in the past with `0.7.2`)

[2020-09-25 15:28] makseq commented on #438
@tpetri94 Hi! Can you tell more about your labeling task? Do you want to label cells of table? And read table from CSV.

To build a new labeling type you need to know JS React, this part of our library is here:
https://github.com/heartexlabs/label-studio-frontend

Then you need to build your own version of label-studio-frontend and copy it to label_studio/static/editor:
https://labelstud.io/guide/

[2020-09-25 15:33] makseq commented on #441
Yes, it's a good point and we missed it unfortunately

[2020-09-25 15:44] makseq commented on #440
@loeffel-io It's not possible "out of box". But I think it's simple to do something like this in python:

[code]

[2020-09-25 16:34] kir4h commented on #441
Out of curiousity: Are those images manually built/pushed? Checking Github Actions I don´t see any docker related stuff. I wouldn´t mind rebuilding and pushing the missing version but this should be done by someone with the required priviledges in Docker Hub

[2020-09-25 16:39] makseq commented on #441
Yes, now it's manually. But before we had auto-builds, they was broken because of npm install into dockerhub problems.

By the way, I pushed 0.7.4.post0 build.

[2020-09-25 17:32] kir4h commented on #441
thanks!

[2020-09-25 17:32] #441 closed

[2020-09-25 18:03] loeffel-io commented on #440
thanks for the info @makseq

solved it like this (not python familiar and maybe not the best solution)

[code]

[2020-09-25 18:03] #440 closed

[2020-09-25 21:08] Vikt0riia commented on #197
I have error in the setup page
You've already completed some tasks, but some of them couldn't be loaded with this config: name=max_value, toName=max_value, type=textarea are expected
How to fix it?

[2020-09-25 21:22] makseq commented on #197
@Vikt0riia Where do you use LS? Is it app.labelstud.io? Or you use it locally.

[2020-09-25 22:06] makseq commented on #436
@kasuteru Can you check "Deploy to Azure" button on this page - https://github.com/heartexlabs/label-studio/tree/release/0.7.5 ?
Is it everything ok now?

[2020-09-26 11:20] Vikt0riia commented on #197
@makseq locally
I annotate one image. Then I understand, that I forgot some objects to add. I wanted add then, but error appears.

[2020-09-28 04:15] HenryNebula commented on #317
Same feature needed here. Seems like [OpenSeadragon](https://openseadragon.github.io/#examples-and-features) is a good frontend package for that task. Whole slide images seem to be loaded using ajax-like methods, so it doesn't require loading the entire image to the browser at once. I am not an expert in frontend development and I am having trouble integrating this feature to existing framework. W

[2020-09-28 07:16] taritro98 commented on #428
Hi, I've one more doubt. I've enabled the settings in my application, however the settings are getting refreshed everytime I login. Is there a way that we show these label names by setting an attribute or something?

[2020-09-28 07:37] makseq commented on #428
@taritro98 I hope we can store it in cookies. I've asked frontend developer to solve it. Hope it will be soon

[2020-09-28 08:59] kathoum commented on #425
Related: pull request #439

[2020-09-28 11:21] makseq commented on #438
@tpetri94 have you any questions? Can I close this issue?

[2020-09-28 12:12] makseq commented on #87
Fixed in release/0.7.5.

[2020-09-28 12:12] #87 closed

[2020-09-28 12:18] makseq commented on #112
It seems that we have the most functionality for semantic graphs at this moment. Take a look to this PR:
https://github.com/heartexlabs/label-studio-frontend/pull/140

[2020-09-28 12:18] #112 closed

[2020-09-28 12:19] #306 closed

[2020-09-28 12:20] makseq commented on #306
I hope it's fixed after 0.7.3 release.

[2020-09-28 13:04] makseq commented on #360
I hope you've fixed this issue. By the way we've added some improvements in 0.7.4 release relative to s3 access rights (region problems).

[2020-09-28 13:04] #360 closed

[2020-09-28 13:10] makseq commented on #381
We described possible solutions here:
https://labelstud.io/guide/storage.html#CORS-and-access-problems

[2020-09-28 13:10] #381 closed

[2020-09-28 13:15] tpetri94 commented on #438
Hi! Thanks a lot for the quick response. I haven't had time to look into it deeply yet, but it looks as if it answers my question, so thank you and yes, you can close it!

[2020-09-28 13:19] makseq commented on #428
@taritro98 what login do you mean?

[2020-09-28 13:22] hlomzik commented on #428
Hi, @taritro98!
We store these settings in browser's localStorage, very convenient and easy thing, it can't be broken by itself.
It stores data locally in the browser, per protocol-domain-port, so please check, that you have them the same each launch. And that you don't use some incognito mode or other things for very strong privacy.

[2020-09-28 13:27] makseq commented on #383
What behavior do you expect?

When you are in labeling mode the prediction is copied to completion automatically and users always edit completions, not predictions. Because users can't produce predictions in LS paradigm. Predictions are immutable.

[2020-09-28 13:28] makseq commented on #438
@tpetri94 Thanks! Feel free to reopen it.

[2020-09-28 13:28] #438 closed

[2020-09-28 13:49] makseq commented on #406
@zhl5317 Do you still have this issue? Can you try release 0.7.5rc3? (it's in pypi: pip install label-studio==0.7.4rc3)

[2020-09-28 13:55] #420 closed

[2020-09-28 13:56] makseq commented on #425
Fixed in release 0.7.5.

[2020-09-28 13:56] #425 closed

[2020-09-28 13:56] makseq commented on #436
Fixed in release 0.7.5.

[2020-09-28 13:56] #436 closed

[2020-09-28 14:35] kasuteru commented on #436
Hi, sorry I was not able to check since I am on vacation. Will let you know
if any problems arise.

Max <notifications@github.com> schrieb am Mo., 28. Sept. 2020, 15:57:

[2020-09-28 14:36] makseq commented on #436
@kasuteru feel free to reopen this issue if you have any troubles.

[2020-09-28 15:30] Vikt0riia commented on #197
@makseq Do you know how to solve?
Because we are changing continuously: add/delete objects and each time I create new project as I cant modify setup at all.

[2020-09-28 17:29] makseq commented on #197
@Vikt0riia what ls version do you use?

[2020-09-28 17:37] Vikt0riia commented on #197
@makseq 0.7.4.post0

[2020-09-28 17:40] makseq commented on #197
What setup changes do you do?

[2020-09-28 17:49] Vikt0riia commented on #197
I used conda in windows

[2020-09-28 17:54] makseq commented on #197
No, I mean what changes do you want to do on setup page?

[2020-09-28 17:59] Vikt0riia commented on #197
I would like to add some new items.
For example, I had this:
<View>
  <Image name="image" value="$image" zoom="true" zoomControl="true"/>
  <KeyPointLabels name="tag2" toName="image"
                  strokewidth="2" opacity = "1" >
    <Label value="center" background="red"/>
  </KeyPointLabels>
  <PolygonLabels name="label" toName="image"
                 strokeWidth="2" pointSize="small"

[2020-09-28 18:19] makseq commented on #197
It's specially limited LS behavior because you can

[2020-09-28 18:22] makseq commented on #197
Nevertheless you can do some tricks to avoid this behavior

[2020-09-28 18:44] Vikt0riia commented on #197
@makseq Ok thanks a lot !

[2020-09-28 18:47] makseq commented on #197
@Vikt0riia you can try to change labeling config.xml at the project directory via filesystem. But remember you can corrupt your labeling.

[2020-09-28 22:17] makseq commented on #406
I faced this issue. The problem could be in the too small area where LSF is placed. Try to pre-define it at least with width=500px.

[2020-09-28 23:14] makseq commented on #412
Can you check now release 0.7.5 here:
https://github.com/heartexlabs/label-studio/pull/399

I've added prediction calc on api/task/<id>.

[2020-09-29 05:21] ghanshyamdev opened #443 "Switching between completions and predictions will remove my labelling from text"
**Describe the bug**
- when I switch between completions and predictions will lose my labels from the text, which is already labeled previously.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a NER based project and import completions and predictions

[code]
2. Go to the labeling page
3. Switch between completions and predictions
4. See an error, that not able to see the label select

[2020-09-29 16:08] makseq commented on #443
Is there no difference between in versions for this bug?

[2020-09-30 05:25] ghanshyamdev commented on #443
In the `tmp/deserialize` branch when I switch between completions to predictions and predictions to completions then my already labeled text will be removed (see below screenshots)

### Before switching
**Here ` February 22` text is labeled with Date**
![image](https://user-images.githubusercontent.com/45035063/94645991-d56a4580-030a-11eb-9295-daef10665662.png)

### After switching from completion

[2020-09-30 19:54] makseq commented on #406
@zhl5317 Does it help you?

[2020-10-01 14:05] jonorozcoc commented on #325
What about a lock button? Something like Photoshop or image editor layers. If you block a region you should be able to overlap new regions without move the blocked ones

[2020-10-02 11:29] ghanshyamdev commented on #443
@hlomzik @makseq
Even **`Show labels inside the regions`** is not working in `tmp/deserialize`

### Current
![image](https://user-images.githubusercontent.com/45035063/94918522-5de61300-04d0-11eb-996f-09cc8ba64ba0.png)

### Old
![image](https://user-images.githubusercontent.com/45035063/94918663-a271ae80-04d0-11eb-9d79-12cef4473b6a.png)

[2020-10-02 16:44] hlomzik commented on #443
Hi, @ghanshyamdev thank you for reports!
The first part is fixed and released both to LSF and LS release branch. The second part about labels in text I'll fix soon. Sorry for inconvenience

[2020-10-03 04:47] ghanshyamdev commented on #443
Thanks, @hlomzik @makseq for solving the issues. I think you've also solved the above issue as well. So I'm closing, the issue is no more persist.

[2020-10-03 04:47] #443 closed

[2020-10-05 04:34] Rishabh-hyperverge commented on #418
Hi @makseq, is it possible to include this in the upcoming release, also its been a while since there was a new release? Hoping for some really big stuff this time :)

[2020-10-05 16:00] makseq commented on #418
@Rishabh-hyperverge I'll try to do it, but I can't promise..

[2020-10-06 20:14] LamDang opened #446 "Bug with audio region pre-annotation"
Hello, I encountered the following bug trying to setup audio region transcription with pre-annotation.
Thanks for your helps.

## How to reproduce:
* Plateforme: https://app.labelstud.io/
* Label config: Transcript per region - default
* Tasks: Import the following task __twice__
[code]

## Bug description
If only 1 task left, then no error. If more than 1 task left, when Submit labelling, the int

[2020-10-06 20:32] LamDang commented on #446
I also tested with speaker diarization config and it is the same issue. Looks like it impacts all config with audio region. Whole audio transcription works fine

[2020-10-07 17:24] makseq commented on #446
@LamDang Try to add ids to the each result, e.g.:

[code]

[2020-10-07 18:11] hlomzik commented on #446
And there is important thing about ids and `perRegion` labeling: id of labeled result and perRegion result should be the same.  This helps to connect them. Like:
[code]

[2020-10-07 20:05] LamDang commented on #446
Hello,

@makseq @hlomzik Thank you for your answers. However I tried as you suggest and still have the bug. Here is the export to show that my predictions do have ids and the completions are created ok.

It is just the transition to the next task that is buggy it seems.

[2020-10-07-20-01-53.zip](https://github.com/heartexlabs/label-studio/files/5343509/2020-10-07-20-01-53.zip)

[2020-10-07 21:19] hlomzik commented on #446
Oh, that was a very important thing! I investigated it deeply and found not obvious bug when you create completion from prediction containing per-region labeling. Fixed it in [LSF `master`](https://github.com/heartexlabs/label-studio-frontend) and pushed fix to [`release/0.7.5` branch](https://github.com/heartexlabs/label-studio/tree/release/0.7.5), try it out!
Anyway you have to add ids to predic

[2020-10-07 22:10] #446 closed

[2020-10-08 05:34] ftesser commented on #383
Sorry for the late answer as well.
From my point of view the ML mode generate predictions so I was expected the `predictions` filed will be filled using the "ML backend" mode. Probably it is just different meaning of the word predictions.

But so, when the predictions` filed is used?

Additional question whats the "LS paradigm"?

[2020-10-08 13:50] g-simmons opened #447 "ImportError: cannot import name 'collections_abc' from 'six.moves' (unknown location) on label-studio init labeling_project"
**Describe the bug**
Hi all,
- I created a new conda environment (`conda create -n labelstudio`),
- activated the environment (`conda activate labelstudio`),
- installed label-studio (`pip install labelstudio`)
- try to init a project (`label-studio init labeling_project`),
- and received the following error.

I thought maybe this was because I omitted specifying the python version when creating t

[2020-10-08 14:27] makseq commented on #447
@g-simmons It's known issue, we fixed it in release/0.7.5.
Or you can use 0.7.4.post1:
[code]

[2020-10-08 14:32] g-simmons commented on #447
Oh ok no worries - already resolved, feel free to close, just wanted to make sure you were aware. Loving the tool so far 👍 👍

[2020-10-08 14:45] kasuteru commented on #437
I will start working on this and will send you a PR once I have something.

[2020-10-08 14:54] makseq commented on #437
Awesome! Write here if you need help!

[2020-10-08 14:55] #447 closed

[2020-10-09 14:05] kasuteru commented on #437
I am currently stuck at getting the dev environment set up... I did the following steps (on a Windows machine running anaconda):

- Cloned my forked repo to a local folder
- pip installed the requirements.txt
- Tried to run the app as described in the readme: python label_studio/server.py start labeling_project --init

After some initial hiccups regarding path management in anaconda, I get the app

[2020-10-09 17:55] makseq commented on #437
@kasuteru did you install LS package?
[code]

[2020-10-09 18:00] makseq commented on #383
It's used for two cases:
1. ML backend generates them
2. User prepared a task with pre-labeling and user must save a pre-labeling to the prediction

Predictions are not changeable: user is not allowed to change predictions via LSF.

[2020-10-09 18:28] kasuteru commented on #437
Whoops, that was it. Haven't worked with packages in a while. Thanks!

[2020-10-09 20:14] kasuteru opened #450 "Available storages: Auto-generate instead of hardcode. (Refactor / Low priority)"
Not a bug but more of a todo at some point, since it only affects developers. Wasn't sure how to report.

I got stuck for quite a while trying to have Azure source show up in the GUI. Turns out this was because the list of source to show is not generated by

https://github.com/heartexlabs/label-studio/blob/d0ddb68f7d6d14d2a9f33973c8f688250eb5f4c0/label_studio/storage/base.py#L23-L26

but instead h

[2020-10-09 20:16] kasuteru commented on #450
I am not able to re-assign this issue to myself, nor can I replace the issue:bug label with an issue:refactor. Feel free to do so.

[2020-10-10 05:52] ftesser commented on #383
But then there is something strange, because I see only the completions in the json file.
If as you say the "prediction is copied to completion" I expect to see both predictions and completions.
It could not be that the ML backend by mistake generates completions instead of predictions?

[2020-10-12 17:46] aiyou9 opened #451 "just a little bug"
when I want to use nightly builds, I am download the source code using Git and run Label Studio locally，but when I run “python setup.py develop” ，It give me a bug as show below：

![image](https://user-images.githubusercontent.com/15712822/95775433-ff513e00-0cf4-11eb-9c2d-fd1ce4dc6f9c.png)

It can be fix by add the code in yellow box at file “setup.py ”
![image](https://user-images.githubuserconten

[2020-10-13 06:41] makseq commented on #451
We ll fix it in nearest release 🙂

[2020-10-13 10:25] kathoum opened #452 "How to import completions?"
I'd like to import pre-annotated tasks (with completions).

When I import tasks from a JSON file with completions, the imported tasks have an attached completion, but the list of completions is still empty: I can't train a ML model with them. I have to open every task and click either 'Update' or 'Set Ground Truth' on the completion.

To reproduce the issue:
- create a new project
- import a sampl

[2020-10-13 12:45] makseq commented on #452
Where is it empty?

[2020-10-13 12:50] kathoum commented on #452
1. In the Tasks page, it says '0 completions'
2. When I try to train a model, I get the error "No completions found"
3. The API /api/projects/1/completions_ids/ returns an empty list

[2020-10-13 13:53] makseq commented on #451
Added in 0.7.5.post0

[2020-10-13 13:53] #451 closed

[2020-10-13 14:46] makseq commented on #452
Can you check release/0.7.5 branch? I've fixed this issue there.

[2020-10-14 09:31] Zahlii opened #453 "setup.py failing: no such file requirements.txt since 0.7.5"
[code]

[2020-10-14 12:25] kathoum commented on #452
It's fixed now. Thanks!

[2020-10-14 12:25] #452 closed

[2020-10-14 12:27] makseq commented on #453
What pip version do you use? Try to upgrade to the latest:
[code]

[2020-10-14 12:30] Zahlii commented on #453
Happening as part of a Docker build (latest pip installed!). You should be able to reproduce using:

[code]

[2020-10-14 14:51] czrcbl commented on #453
Hi, same problema here, using pip 20.2.3:

[code]

[2020-10-14 14:56] fromnorthpole commented on #453
Hi, @Zahlii !
Probably you've missed copying requirements.txt inside docker? https://github.com/heartexlabs/label-studio/blob/master/Dockerfile#L7

[2020-10-14 15:01] Zahlii commented on #453
As you can see above, I am not using the Dockerfile provided here; I am simply attempted to install the self-contained pip package. I.e., all I am trying to do is a "pip install label-studio". The Dockerfile I posted above was just to provide a reliable source of reproducing this issue.
For now, I have pinned label-studio at 0.7.4 until this bug is resolved for our CI pipelines.

[2020-10-14 16:35] davilayang opened #454 "suggest to bump srsly version to 1.0.2 in requirements.txt"
Hi,
Thanks for the wonderful project.

While annotating with `label-studio` for NER tasks, I have set up backend service with `spaCy` for pre-labelling.
However, `spaCy` requires `srsly>=1.0.2,<1.1.0` but `label-studio` requires `srsly==0.2.0`.

I was able to set up the services with source codes by changing `label-studio` to use `1.0.2`, and it works fine for my use case.
So here to suggest bumpi

[2020-10-14 17:57] fromnorthpole commented on #453
@Zahlii, @czrcbl Can you please try using `label-studio==0.7.5.post1` with the same setup?

[2020-10-14 18:05] makseq commented on #454
Will it be ok If I make `srsly>=0.2.0`?

[2020-10-14 18:35] makseq commented on #454
Can you check release 0.7.5.post1, it's fixed there.

[2020-10-14 18:39] makseq commented on #325
@jonorozcoc In the last releases we added "eye" button to hide regions, it can be used as lock in some meaning.

[2020-10-14 20:20] #413 closed

[2020-10-14 20:20] makseq commented on #413
Closed because of no activity

[2020-10-14 23:27] makseq commented on #416
@Johnson145 could you test release 0.7.5? I hope it fixed there.

[2020-10-14 23:27] #412 closed

[2020-10-14 23:28] makseq commented on #410
COCO added for polygons in release 0.7.5.

[2020-10-14 23:28] #410 closed

[2020-10-14 23:31] #406 closed

[2020-10-15 08:13] davilayang commented on #454
Just checked with `pip install label-studio==0.7.5.post1` and `pip install spacy`.
The requirement conflict is still there,
[code]
change to `srsly>=0.2.0` should also work.

[2020-10-15 11:15] Johnson145 commented on #416
Sounds good, I'll test it within the next days.

[2020-10-15 11:23] makseq commented on #454
Sorry, I was wrong - it's 0.7.5.post2

[2020-10-15 13:46] Zahlii commented on #453
pip install "label-studio==0.7.5.post1" worked as expected

[2020-10-15 13:55] davilayang commented on #454
Yes, the version conflict is resolved with `0.7.5.post2`. Thanks.!

[2020-10-15 13:55] #454 closed

[2020-10-15 13:57] makseq commented on #453
@Zahlii it's post2 available now, there is fixed some issues with task validation on S3 and GCS.

[2020-10-15 13:57] #453 closed

[2020-10-15 17:18] guoweis-outreach opened #456 "NER doesn't persist the normalization field"
**Describe the bug**
In NER mode, try to provide "normazliation", it's not saved.
**To Reproduce**

**Expected behavior**
It should be saved.
**Environment (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Additional context**
Add any other context about the problem here.

[2020-10-16 03:30] ourdaidai opened #457 "NER with ML backend"
**Describe the bug**
Without ML backend, works perfect.
With ML backend, I can't open more than one task.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Model'
2. 'Add backend'
3. Go to 'Tasks'
4. Click any one of tasks. Works fine.
5. Click another task in left panel. Get nothing.

**Screenshots**
3. Go to 'Tasks'
![10 0 10 69_8080_tasks](https://user-images.githubusercontent.com/20

[2020-10-16 03:43] ourdaidai commented on #457
Labeling Config in "Setup"
[code]

[2020-10-16 05:42] ourdaidai commented on #457
Fixed by changing `label` to `labels`
[code]

[2020-10-16 05:42] #457 closed

[2020-10-16 12:54] kasuteru commented on #437
This is more complex than anticipated. https://github.com/heartexlabs/label-studio/blob/master/label_studio/utils/uri_resolver.py also contains hard-coded functions referring to S3 and GCS that I would have to extend. Tbh I think these should first be refactored to reside in the storage section, so that adding a new storage requires only adding a new file there. (See also https://github.com/hearte

[2020-10-16 13:37] kasuteru commented on #450
@makseq: I am looking at this, however, since I am not a front-end expert, I am stuck understanding one part: In multiple parts, e.g. in the function below, an instance of LabelStudio is created. However, I cannot find where this function is defined?

https://github.com/heartexlabs/label-studio/blob/47fc8dc96d82f8c91ca282f224afbbcdbe2cf9d1/label_studio/static/js/lsf-sdk.js#L230

[2020-10-16 13:41] kasuteru commented on #450
Edit: Nevermind, I misinterpreted this part. Please ignore.

[2020-10-17 09:29] fromnorthpole commented on #437
Hi, @kasuteru ! Please feel free to make a PR, so we can discuss the ways how to do it better. The problem is URI resolver is a somewhat disentangled from storages (practically you don't have to connect storage for resolving URLs - it requires only credentials to be globally accessible). However we've also started to merge these two stories [here](https://github.com/heartexlabs/label-studio/commit

[2020-10-18 17:06] nabinkhadka opened #458 "What is json filter?"
I googled a little and cannot find where does [this](https://github.com/heartexlabs/label-studio/blob/14f7ddff64660ea0094ff0e7bfcc0d72d477c981/label_studio/templates/labeling.html#L15) jinja filter come from. Is this a typo and should have been `tojson` instead of `json`?

[2020-10-18 17:32] fromnorthpole commented on #458
It's (re)implemented [here](https://github.com/heartexlabs/label-studio/blob/master/label_studio/server.py#L121)

[2020-10-18 17:32] #458 closed

[2020-10-20 15:54] guoweis-outreach commented on #456
@hlomzik how difficult is this to be addressed? or is it something simple that someone else who is not familiar with the code base can help?

[2020-10-20 17:47] nopper opened #460 "Unable to annotate relations locally: Label studio entity panel is missing"
**Describe the bug**
I am unable to use relations annotations, both using latest `pip` version of label-studio or using the cloned github repository.

**To Reproduce**
Steps to reproduce the behavior:

1. `pip install label-studio`
1. `label-studio init test && label-studio start test`
2. Connect to  http://0.0.0.0:8080/ via browser.
3. Click on `Setup your label config`.
4. Click on `Relations am

[2020-10-20 21:06] makseq commented on #460
@nopper Can you show your screen entirely?

[2020-10-20 21:31] makseq commented on #456
@guoweis-outreach If you are familiar with React it can be simple. I think we will fix it in the nearest release.

[2020-10-20 22:17] makseq commented on #460
I've just checked this in latest LS version, everything looks ok..

[2020-10-21 11:56] hlomzik commented on #456
Oh, we've really missed it! I'll fix it soon of course. Thanks!
If you want to fix it asap — add a field to AreaMixin.js (as it should be a part of whole region, not a result) and add its serialization to Result.js

[2020-10-21 12:07] kasuteru commented on #450
@makseq : I am making progress with this. Meanwhile, I think I found some dead execution paths / functions:

get_available_storage_names is defined twice: Once in
https://github.com/heartexlabs/label-studio/blob/14f7ddff64660ea0094ff0e7bfcc0d72d477c981/label_studio/project.py#L70
and once in
https://github.com/heartexlabs/label-studio/blob/14f7ddff64660ea0094ff0e7bfcc0d72d477c981/label_studio/stor

[2020-10-21 12:10] kasuteru commented on #450
Sorry for prematurely replying, I figured out what you are trying to do and will keep the functionality.

[2020-10-21 13:40] nopper commented on #460
Sure here's the screenshot of the full page:

![image](https://user-images.githubusercontent.com/129937/96727686-a39d4980-13b3-11eb-9225-1716b3b8bd10.png)

[2020-10-21 13:49] makseq commented on #460
@nopper But it's Setup page, you don't need to make a labeling here. Use Labeling or Tasks page, after you setup the project.

[2020-10-21 14:00] nopper commented on #460
Ok then my bad.

I was a confused by the fact that this was working in the Setup page on the playground site, but not locally in the Setup page. Therefore I didn't even bother saving the setup because I thought something was off.

I would probably add a clarification in the Setup page, if what you will see in the labeling phase will be different then what I am seeing in the project/Setup phase.

[2020-10-21 14:02] makseq commented on #460
Yes, it's a good point to write about it. Thank you, I think we will add it.

[2020-10-21 14:23] nopper opened #461 "Attribute `selected` ignored in `Choice` in latest stable version"
**Describe the bug**
Attribute `selected` is not honored in `Choice`. I am using the latest installable pip version.

**To Reproduce**
Steps to reproduce the behavior:
1. `pip install label-studio`
2. Use the following template for the task:

[code]

**Expected behavior**
I am expecting to see option `A` being pre-selected / toggled.

[2020-10-21 16:02] makseq commented on #461
Seems like a bug. We will fix it soon

[2020-10-22 04:00] HencyChen opened #462 "How to launch label studio on Windows"
Thanks for providing such wonderful tools for labeling. I have a dump question about how to launch the app on windows. I've already installed the app correctly following github tutorial, and I'm trying to open Windows PowerShell to open the app.

Thanks for helping !

[2020-10-22 06:00] ghanshyamdev opened #463 "Completions comparison is not working on labelling page"
**Describe the bug**
I've completed `2 completions`, and when I tried to compare both the completions then I'm not able to see the comparison for completions.
**To Reproduce**
Steps to reproduce the behavior:
1. Create `Named entity recognition project`
2. Import sample tasks
3. Perform some completions
4. Try to compare the completions
5. Comparision not working

**Screenshots**
## Completions
![

[2020-10-22 07:33] kasuteru commented on #462
Did you make sure the installation runs through correctly? Notice that sometimes errors occur during installation, e.g. cargo path not found or libraries missing.

https://labelstud.io/guide/#Running-with-pip

If installation indeed ran through correctly, see the documentation and run:

        label-studio start my_project --init

If this doesn't work, we need more information on what went wrong,

[2020-10-22 07:37] HencyChen commented on #462
Dear @kasuteru ,

Thanks for the reply. I think the installation is correct, since the final information is the "label-studio is installed successfully".

So do you mean to type "label-studio start my_project --init" in PowerShell?

[2020-10-22 08:24] kasuteru opened #464 "storages.html does not render SelectField correctly"
**Describe the bug**
https://github.com/heartexlabs/label-studio/blob/master/label_studio/templates/includes/storages.html is currently designed to only check whether a field is a checkbox, and treats all other fields as StringField.

This part is the problem:
https://github.com/heartexlabs/label-studio/blob/14f7ddff64660ea0094ff0e7bfcc0d72d477c981/label_studio/templates/includes/storages.html#L44

[2020-10-22 08:26] kasuteru commented on #462
Yes. If Powershell does not work, try cmd so that we now more.

Po-Heng Chen <notifications@github.com> schrieb am Do., 22. Okt. 2020,
09:37:

[2020-10-22 08:54] HencyChen commented on #462
The problem is solved by following "local host part" in the github

[2020-10-22 08:54] #462 closed

[2020-10-22 10:19] makseq commented on #464
Have you a branch with your feature? Can I check it locally on my machine and make fixes for storages UI there?

I think you're on the right way and your code about <select> is correct.

[2020-10-22 10:31] kasuteru commented on #464
I haven't pushed it yet, will do so later.

Max <notifications@github.com> schrieb am Do., 22. Okt. 2020, 12:19:

[2020-10-22 14:01] kasuteru commented on #464
@makseq : Please check https://github.com/kasuteru/label-studio/tree/dev_adls_connector for a first iteration of the Azure ADLS connector. This code runs and should not interfere with everything else, but the Azure ADLS Completions connector is not finished since I do not completely understand the way I need to format the completions ("set"). I will check on this later.

I have the proposed change

[2020-10-22 14:49] sagarmk opened #465 "Unable to display multiple entity predictions"
**Describe the bug**
I am using the NER labeling configuration and am unable to display all predicted labels back to the labeling task.

**To Reproduce**
This is my prediction json:

`[{'result': [{'value': {'start': 74, 'end': 77, 'text': 'the', 'labels': ['B-ORG']}, 'from_name': 'label', 'to_name': 'text', 'type': 'labels'}], 'score': 0.007846807291408187}, {'result': [{'value': {'start': 78, 'e

[2020-10-22 14:53] kasuteru commented on #437
Hi @fromnorthpole , as mentioned [here](https://github.com/heartexlabs/label-studio/issues/464#issuecomment-714515163), I have pushed a first implementation of an ADLS connector here. I will update to this branch when I make progress, it is not finished.

In general, I think it is a good idea to try and disentangle the storage connectors from what is actually accessed (a completion, a json list of

[2020-10-22 15:11] #465 closed

[2020-10-22 15:39] guoweis-outreach commented on #456
unfortunately, i'm not too familiar with react. When is your nearest release that will contain this fix?

[2020-10-23 08:25] laurence-lin opened #466 "I'd just created my own machine learning backend and start it, but the port isn't showing up"
Hello! I'd successfully open the localhost 8080 on my computer and tested for the work. Now that I'm trying to build my own machine learning backend, I tried to customize a model.py file from the document example like this:
https://github.com/laurence-lin/labelstudio/blob/main/model.py

After that, I go to the directory and initialize backend by `label-studio-ml init my_backend`
and then start by:

[2020-10-23 09:35] kasuteru commented on #466
I feel like we can't help you there without you providing additional information... At least your model.py, what environment you are running in, etc...

[2020-10-23 10:18] laurence-lin commented on #466
My model.py is presented in the link above. I was working on Windows 10 with Python 3.8.
I installed label-studio via this command:
![image](https://user-images.githubusercontent.com/19323465/96990984-67f0b400-155a-11eb-8455-d864693d6fb6.png)

Then I start to work with tutorials of building machine learning framework via this link:
https://labelstud.io/tutorials/dummy_model.html

I adjust the mode

[2020-10-23 12:39] kasuteru commented on #437
@fromnorthpole, @makseq, I am confused by the naming conventions in the base.py file - since every cloud connector has to implement its own methods, more comments would be highly appreciated. I tried to figure out the naming, here is what I got - please let me know whether this is correct. I would add comments to the file in my PR then.

What I found so far:

**url_prefix** = Either "" (empty stri

[2020-10-23 15:30] kasuteru commented on #437
I pushed an updated version that worked on initial try, but still threw some errors regarding sync between local / cloud after a while. My hunch is that this has to do with how I use path, but not sure. I will look further into this next week.

[2020-10-23 21:58] makseq commented on #466
Have you connected your ML backend to LS on Model page?

[2020-10-24 04:59] sagarmk opened #468 "Training is displayed as in progress even when its complete"
**Describe the bug**
The backend shows that the training is in progress, even when its complete, it never turns complete

**To Reproduce**
This happened while using two deep learning models, one using Bert and spacy
Also happened with the sample code provided as sample here:
https://github.com/heartexlabs/label-studio-transformers/blob/master/models/ner.py

**Expected behavior**
Completed training

[2020-10-26 07:08] laurence-lin opened #470 "The model template is disconnected, unable to training"
I'd applied the machine learning backend example, and open on local host:8080. However, when I import the data and labeled it, I tried to train a model, it says that the model is disconnected:
![image](https://user-images.githubusercontent.com/19323465/97142629-f56f1680-179b-11eb-9488-baff8bbb74d7.png)

I'd tried to train the model by command line curl, but same error message:
![image](https://use

[2020-10-26 07:26] #470 closed

[2020-10-26 07:27] laurence-lin commented on #470
I made a dumb mistake, haven't start the ml backend and open the localhost.

[2020-10-26 13:21] korotaS commented on #406
Hi @makseq ! I also faced this issue. Where can i pre-define the LSF area width?

[2020-10-26 13:29] makseq commented on #406
@korotaS Hi, I hope we fixed it since 0.7.5.post0 release. Check this release, please.

[2020-10-26 15:09] kasuteru opened #471 "Tasks path / Completion path not fully shown if long"
This is probably trivial to solve, but I don't want to mess with the front-end code too much:

When using a long path (as is often the case with ADLS storage), the full path is not displayed any more.

Edit: In case it is not obvious (maybe not the best screenshot): The path does not end after "user", it goes on, but this is not shown any more.

![image](https://user-images.githubusercontent.com/1

[2020-10-26 15:35] makseq commented on #463
@ghanshyamdev Yes, we are working on it already, but it takes some time.

[2020-10-27 04:30] ghanshyamdev commented on #463
Thanks for your time @makseq, One more thing to mention that completion comparison is not working with all the different types of configs.

[2020-10-27 18:40] makseq commented on #471
I made short version for paths, check this branch:
https://github.com/heartexlabs/label-studio/pull/472

[2020-10-28 02:13] iinntteerrnn opened #473 "Cannot find skip button"
**Describe the bug**
A clear and concise description of what the bug is.

Hi, I can't find the skip button on my local project
I have never been like this and i don't know how to activate the skip button

How can I activate it?
![image](https://user-images.githubusercontent.com/70555571/97382351-8960ef80-190e-11eb-9c88-a9b86215dfae.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '

[2020-10-28 09:43] makseq commented on #473
On what page did you try to find the skip button?

[2020-10-28 18:04] makseq commented on #468
What if you will refresh the page?

[2020-10-29 01:18] iinntteerrnn commented on #473
On Task tab. but Nikolai Liubimov told me about latest update on Slack, thanks

[2020-10-29 17:29] korotaS opened #475 "Prediction ID must be different from task ID, otherwise labeling doesn't start"
**Description**
Not sure if it's a bug or I am just using it wrong, but here's the case: when I use default bbox labeling config.xml,  very simple predictions for pre-labeling and I set task ID equal to 0 and prediction ID equal to 0, I get some JS errors in labeling tab and labeling is not working.

**To Reproduce**
Steps to reproduce the behavior:

[code]

config.json is default;

config.xml:
[c

[2020-10-29 19:19] makseq commented on #475
1. Try to make ids as strings everywhere. (0 => "0").
2. You need to use different ids within any task elements., it's our frontend requirement.

[2020-10-29 20:12] anshul-dt opened #476 "Brush and Polygon Segmentation Loading Time"
**Describe the bug**
After Labeling Brush and Polygon, the loading time in tasks is huge, could take upto minutes sometimes.

**To Reproduce**
Steps to reproduce the behavior:
1. Label an image with Polygon or Brush segmentation, submit
2. Go to Tasks and try to load the image
3. You will observe that it takes a huge time to load (2-3 minutes sometimes)

**Expected behavior**
Should Load quickly

[2020-10-29 20:26] makseq commented on #476
@anshul-dt What storage do you use? Is it s3, gcs or local?

[2020-10-29 21:22] anshul-dt commented on #476
local

[2020-10-29 21:26] makseq commented on #476
What is this LS version?

[2020-10-29 21:33] anshul-dt commented on #476
0.7 and 0.8

[2020-10-29 23:52] makseq commented on #476
I've checked it here: https://app.labelstud.io/api/project-switch?uuid=83ce5d2f-61b3-4409-ac30-863ae7f0d741
And polygons work fast enough. Brushes can be not too fast if there are a lot of strokes (RLE is a heavy format).
I think it will be easier to find the problem if you record video.

[2020-10-30 03:12] laurence-lin commented on #466
Yeah! I forgot about that, it's solved. Thank you!

[2020-10-30 03:12] #466 closed

[2020-11-02 08:34] david-waterworth opened #477 "NER Tokenization"
Is it possible to supply a custom tokenizer for NER. I've been evaluating `Prodigy` and used the huggingface tokenizers library to tokenizes my examples before annotation. In my case I cannot use a "word" based tokenizer - i.e. I have AHU-G1-V-1-1-Ctrl-Out, which I tag "AHU-G1-V-1-1" and "Ctrl-Out". I composed a tokenizer that splits on spaces, punctuation, and numbers and then uses BPE. So I get

[2020-11-02 08:53] makseq commented on #477
Right now LS supports two modes of text selection - per word and per symbol. The property is called "granularity" in Text tag - https://labelstud.io/tags/text.html#Parameters

[2020-11-02 12:04] kasuteru opened #478 "server.json is overwritten by parse_input_args?"
**Describe the bug**
It looks like any server config provided in server.json is overwritten in server.main() by parse_input_args.

Detailed:
Here, server.json is parsed to global input_args:
https://github.com/heartexlabs/label-studio/blob/1f8974514ac76087eb34ffba855a570c84612da0/label_studio/server.py#L79-L86

However, here, it is overwritten in main():

https://github.com/heartexlabs/label-studi

[2020-11-02 12:08] kasuteru commented on #478
Feel free to assign this issue to me.

Also, I accidentally sent this issue early before finishing the text, sorry about that.

[2020-11-03 14:49] tibhar940 opened #481 "There was an issue loading URL from $csv value. Most likely that's because static server has wide-open CORS. Read more on that here."
**Describe the bug**
Can't open uploaded file from host

**To Reproduce**
Steps to reproduce the behavior:
1. I'm starting project `label-studio start {project}`
2. After that label studio url is reachable from another hosts
3. But on another host it can't open files for labeling with this error

**Environment **
 - OS: WIndows
 - Browser: chrome
 - Version: latest

**My config for project**

`<Vi

[2020-11-03 14:54] makseq commented on #481
@tibhar940 What if you open csv link directly?
`http://localhost:8080/data/upload/23a6a3ba2a65dde741c97818c0f586e2-file_1csv`

I see there is no dot before csv in this URL, it's a little bit strange..

[2020-11-03 14:55] tibhar940 commented on #481
@makseq  Sorry, my fault. Fixed.

[2020-11-03 14:56] makseq commented on #481
Does it resolve this issue?

[2020-11-03 14:56] tibhar940 commented on #481
@makseq  No, it was a problem then I write an example.

[2020-11-03 14:58] makseq commented on #481
Ok. So, what if you open csv link directly?
`http://localhost:8080/data/upload/23a6a3ba2a65dde741c97818c0f586e2-file_1.csv`

[2020-11-03 14:58] tibhar940 commented on #481
@makseq  I also add my config file

[2020-11-03 15:01] tibhar940 commented on #481
@makseq I can open csv directly from localhost, but can't from another. Host http://{SERVER}:8080 reachable, but I got error with this file `http://localhost:8080/data/upload/23a6a3ba2a65dde741c97818c0f586e2-file_1.csv` . But (I guess) it should open `http://{SERVER}:8080/data/upload/23a6a3ba2a65dde741c97818c0f586e2-file_1.csv`
I tried to open `http://{SERVER}:8080/data/upload/23a6a3ba2a65dde741c9

[2020-11-03 15:14] makseq commented on #481
Try to run LS with --host {SERVER}. Will it fix this issue?

[2020-11-03 15:16] tibhar940 commented on #481
@makseq  No, the same error

[2020-11-03 15:18] makseq commented on #481
Is {SERVER} an ip address?

[2020-11-03 15:19] tibhar940 commented on #481
@makseq Yes.

[2020-11-03 15:20] makseq commented on #481
I'll check it and will be back.

[2020-11-03 15:20] tibhar940 commented on #481
I started server on IP_1, and try to open from another machine (IP_2)

[2020-11-03 15:30] makseq commented on #481
I think the solution for right now is to open `your_project/tasks.json` and change all paths like
[code]
to
[code]

Plus you need to use `--host={SERVER}` in `label-studio start your_project --host={SERVER}`.

I think you used `--host` after the file import and path was formed as `http://localhost:8080/data/...` instead of `http://{SERVER}:8080/data/...`.

[2020-11-03 15:47] tibhar940 commented on #481
@makseq Is it necessary to use quotes in this command? `label-studio start your_project --host={SERVER}`?

[2020-11-03 15:51] tibhar940 commented on #481
I replaced and it works!

[2020-11-03 15:52] makseq commented on #481
Do you use --host option now? And have you check a new import for file?

[2020-11-03 15:54] tibhar940 commented on #481
@makseq  Yes, used. No, haven't. I'll check now.

[2020-11-03 16:04] tibhar940 commented on #481
Well.

1. I started server on IP_1 with --host option
2. Open http://{IP_1}:8080 from IP_2 and import task files
3. When open labeling from IP_2 and all works fine
4. After that I checked {PROJECT}/tasks.json on IP_1 and all urls was just as I expected.

[2020-11-03 16:26] makseq commented on #481
Well! So, have your issue been fixed?

[2020-11-03 16:27] tibhar940 commented on #481
@makseq Thank you!

[2020-11-03 16:32] tibhar940 opened #482 "Is there a way to customize plots in timeseries labeling?"
I tried the basic solutions with timeseries labeling according to this example https://labelstud.io/blog/release-080-time-series-labeling.html

Could I somehow add custom type of plots (eg. area plots, barplots), customize linestyle, use custom markers, etc?

[2020-11-03 16:55] #481 closed

[2020-11-03 17:43] makseq commented on #482
Type of plots is not supported now. You can customize line width and color (strokeColor). These params you can find in docs about TimeSeries tags: https://labelstud.io/tags/timeseries.html

[2020-11-03 17:51] tibhar940 commented on #482
@makseq It would be great if customization of plots will be supported in future releases. Thank you.

[2020-11-03 18:08] makseq commented on #482
Got it! :+1:

[2020-11-03 18:08] #482 closed

[2020-11-03 22:37] makseq commented on #478
@kasuteru I recommend you to wait a little bit more until we release a new commit with API refactoring. There will be a lot of changes inside of blueprint.py (ex. server.py).

[2020-11-03 23:52] #473 closed

[2020-11-03 23:52] #471 closed

[2020-11-05 09:33] hitz02 opened #483 "Unable to see predictions on Labeling tab after training model and uploading new data"
Dear Team,

Thanks for this amazing tool!

While trying my hands on the NER annotation, I encountered an issue.
Or maybe I am not sure if I am using it correctly.

Issue - Predictions are not visible on the labeling tab (in the labeling region)

Although, I can see on the right-hand side a model entry in the predictions section but not on the task on which the prediction is performed.
I can also s

[2020-11-06 09:03] bocharm commented on #465
Hello, @sagarmk
I have same issue like this. Did you solve it?
Thank you in advance

[2020-11-06 09:12] bocharm commented on #465
oh, I solved this issue
FYI, to be same as completion format, "result" should be the "list of dictionary" that holds each entity prediction

[2020-11-06 11:03] sathiyabalu89 commented on #125
Is still face this issue. If the task is big, say 120KB size, the highlighting part takes time. For example, after I select a piece of text, after 15-20 secs only the coloring of the text and label appears. But if it is a small task then the process is quick.

[2020-11-06 11:09] sathiyabalu89 opened #484 "Automatic labelling of the same text in NER"
**Is your feature request related to a problem? Please describe.**
I am using NER annotation for chemical documents. There would be many repeated chemical formulas each of which I should annotate. For example I should annotate each 'CA' as formula even if it appears 100 times in the document

**Describe the solution you'd like**
Is it possible to add button/feature like "mark all" ? with this opti

[2020-11-06 12:01] makseq commented on #125
@sathiyabalu89 what LS version do you use?

[2020-11-06 12:09] makseq commented on #484
@sathiyabalu89 you can achieve this using ML backend with simple heuristic rules on predictions stage (you don't need to train anything). Check this docs: https://labelstud.io/guide/ml.html

[2020-11-06 12:17] sathiyabalu89 commented on #484
I am using label-studio==0.7.5.post2. Thank you for the link, will check it.

[2020-11-06 12:17] #484 closed

[2020-11-06 12:30] sathiyabalu89 commented on #125
I am using Label-studio==0.7.5.post2

[2020-11-06 14:03] makseq commented on #483
You need to add some "text": "..." to the each item of prediction.result.

[code]

[2020-11-06 14:03] #483 closed

[2020-11-06 14:04] #475 closed

[2020-11-06 14:05] makseq commented on #464
@kasuteru How is your developing progress going on? Have you merged it with 0.8.1 release? Could you make a PR to main LS repo?

[2020-11-06 14:06] makseq commented on #460
We've added Result panel on the Setup page in 0.8.0.

[2020-11-06 14:06] #460 closed

[2020-11-06 14:08] makseq commented on #432
Blueprints are now supported in release/0.8.1. https://github.com/heartexlabs/label-studio/pull/472

[2020-11-06 14:08] #432 closed

[2020-11-06 14:10] makseq commented on #416
I hope it's fixed now in 0.8.0.

[2020-11-06 14:10] #416 closed

[2020-11-06 14:15] makseq commented on #383
No, it could not be.

[2020-11-06 14:15] kasuteru commented on #464
This is the issue about the HTML, which unfortunately I do not know too much about, but it is not urgent either. Regarding the ADLS connector: turns out ADLS Gen1 is far too slow for having a performant labelling solution, at least without buffering. I am currently evaluating whether Gen2 performs better (it is based on Blob Storage) and in parallel am looking at building a Redis Cache connector,

[2020-11-06 14:49] makseq commented on #125
Try to update it up to 0.8.0.post0

[2020-11-06 15:12] hitz02 commented on #483
The issue was resolved after @makseq added a fix [here](https://github.com/heartexlabs/label-studio-transformers/blob/master/models/ner.py) for adding **text:value** pair as described above.

[2020-11-06 15:13] sathiyabalu89 commented on #125
I have upgraded and checked it. Previously for a task of 153 KB size, it took 15 secs for the annotation to take place. Now it is reduced to 8s. Even though the waiting time is reduced, it will take a very long duration to annotate the whole document. Actually my objective is to annotate set of journal articles. So I prepared the JSON such a way that each article will be a task. This time lagging

[2020-11-06 15:21] makseq commented on #464
@kasuteru you need to inspect your `storage-settings api` from LSB with SelectField.
Can you share API response here?

I will check it with this code - https://github.com/kasuteru/label-studio/blob/dev_adls_connector/label_studio/templates/includes/storages.html#L48

Is the problem here?

[code]

[2020-11-06 19:42] deppp commented on #125
@sathiyabalu89 are you on our Slack? If so, can you please ping me (@Michael Malyuk)? We're working on a new text labeling engine and would love you to test out the performance improvements before we release it, would you be available for that?

[2020-11-07 10:42] sathiyabalu89 commented on #125
Hi Heartexlabs/Label-Studio,
    My apologies, just now seeing this. I pinged you in slang now.

On Sat, Nov 7, 2020 at 1:12 AM Michael Malyuk <notifications@github.com>
wrote:

--
Thank you,

with regards,
B. Sathiya.

[2020-11-09 03:14] Rishabh-hyperverge opened #485 "CSV Export does not have any mapping with Label studio portal."
**Describe the bug**
CSV generated through label studio export feature does not contain any task-id, any other mapping to link annotations on the portal. It only has an Image column which is a URL to the image, but one filter task by image URL on the portal. It would require task-id.

**To Reproduce**
Steps to reproduce the behavior:
1. Export the annotations as CSV.
2. Check for columns in the CS

[2020-11-09 07:33] vinayex2 opened #486 "Unable to see completions when resuming project"
Hi All,

I started a labeling project and completed around 150 tasks. When i resumed the project with label-studio start project_dir, i cannot see the previous completions. (pic attached)

However, I can download/export them.

The labeling IDs have also started from the bottom (so instead of 1,2,3,4... and so on, i get a new task ID that starts with one more than the number of tasks (pic attached)

[2020-11-09 15:17] makseq commented on #486
@vinayex2 Did you change anything inside of `project_dir` manually?

[2020-11-09 17:51] makseq commented on #485
@Rishabh-hyperverge I'll try to fix it soon

[2020-11-09 17:54] makseq commented on #486
@vinayex2 Also you may try to upgrade to 0.8.0, it seems we've fixed something like this in this version

[2020-11-10 07:31] tlaud commented on #486
In my setup, the problem of disappearing completions also exists. I discovered that there is a difference between
`label-studio start project_dir`
and
`label-studio start ./project_dir`

When one of the options leads to disappearing completions, the other works.

Maybe this serves as work around.

[2020-11-10 10:02] heartcored98 opened #487 "Textarea tags remove all newline character if any editing is conducted"
**Describe the bug**
I am working with the pre-filled textarea tag with certain text.
Annotator has to make some change on those pre-filled text in the textarea.

However, whenever any key stroke is pushed while the textarea is in the editing mode,
all the newline character is removed.

Also, I figured out that current text area cannot contain newline character when it is in the editing mode.
I th

[2020-11-10 12:04] makseq commented on #487
@heartcored98 What LS version do you use?

[2020-11-10 12:19] heartcored98 commented on #487
@makseq

I am using 0.7.5.post0 version LS :)

[2020-11-10 12:20] makseq commented on #487
@heartcored98 Try 0.8.0, will this bug there?

[2020-11-11 15:46] sathiyabalu89 opened #488 "Problem in displaying nested text in GUI"
I am trying to convert XML to text with certain tags retained and saved this as JSON for importing. As of now, only \n tags in the text are retained and all the \t are deleted. Because of this, the text is displayed with proper nesting and it is hard to read.
![image](https://user-images.githubusercontent.com/44389070/98832613-076edb80-2463-11eb-923a-4eea696397d0.png)

Is it possible to do pretty

[2020-11-12 00:28] hlomzik commented on #488
Hi! This is default browser's html/text displaying behaviour. However it can be changed easily with simple css.
You can add `<Style>.htx-text{ white-space: pre-wrap; }</Style>` to your config to fix tabbed indents.
Maybe we should make this default. Or at least consider this as an option...

[2020-11-12 05:07] sathiyabalu89 commented on #488
Thank you the immediate reply. It worked.

[2020-11-12 05:07] #488 closed

[2020-11-15 21:25] mylifeasazucchini opened #490 "Distorted Original Image Resolution ?"
Hi! Great Tool first of all!

I had a simple query though related to the coordinates of the annotated points, the annotated points have values in the range 0-100 both in x and y coordinates but the original image resolution is about 600x403 (I tested it on the sample image). Is there any way of saving the points as json/csv such that they are already scaled to the the actual image resolution ? (I

[2020-11-16 06:58] heartcored98 commented on #487
I tried with 0.8.0, but it still makes same issues

[2020-11-16 10:05] #477 closed

[2020-11-16 10:39] Johnson145 commented on #416
It took some time, but I've just finalized the tests on v0.7.5:

Unfortunately, the issue does still seem to exist. However, I think the outliers have drastically been reduced. Whenever the value limit is exceeded, it's now about the same value: `100.00000000000002`. I think it used to have much higher differences and variance, too.

Thus, it's almost fixed, but not completely.

Have you made any

[2020-11-16 10:56] Johnson145 commented on #416
Update: The changes seem to have introduced a new bug: Some of the returned bounding box data does now include minimum coordinates which are greater than the declared maximum values (affects x coordinates as well as y coordinates).

[2020-11-16 15:04] hlomzik commented on #416
`100.(0)2` looks like common annoying float problem, I'll fix this by reducing precision.
But I need some more details about min-max bug. What the returned bounding boxes? If those in the final results, they don't have any min and max values? Or internally in functions which control the outliers?

[2020-11-16 23:09] makseq commented on #487
I talked with our frontend dev, they fixed this in https://github.com/heartexlabs/label-studio-frontend/tree/release/0.8.1. You can get npm build here: https://github.com/heartexlabs/label-studio-frontend/actions/runs/367000254 and unzip it to `label_studio/static/editor/*`

[2020-11-17 12:29] #313 closed

[2020-11-17 14:09] tristanratz opened #491 "Shortcuts overlap"
**Describe the bug**

The shortcuts for the different labels can have the same shortcut as many of the root shortcuts. Like "s", which is also the shortcut for "skip".

**To Reproduce**

Add a certain amount of labels to config.xml.

**Expected behavior**

The root shortcuts of labelstudio should be locked.

**Screenshots**

![image](https://user-images.githubusercontent.com/9249847/99399933-9f971

[2020-11-17 14:26] tristanratz opened #492 "Image Segmentation/Brush Tool does not work as expected, Scissor/Multiple brush-strokes"
**Describe the bug**

The scissortool in brush segmentation does not erase the whole brush stroke but only makes it lighter. The opacity of the stroke gets reduced.

Furthermore another brushstroke/scissorstroke can only be started from an area where I never have drawn with the scissortool or a brush. One has always to drag/start the tools outside of the "used" areas to work.

**To Reproduce**

1.

[2020-11-17 16:06] makseq commented on #491
@tristanratz Thank you for your report, it's well known issue. We are working on a new shortcut system, it will be overhauled.

[2020-11-17 16:28] makseq commented on #485
@Rishabh-hyperverge Can you check the last commit from master of https://github.com/heartexlabs/label-studio-converter ? I hope it's fixed now.

[2020-11-17 16:34] makseq commented on #492
Thank you for your report, we've created a ticket about this bug.

[2020-11-17 16:36] makseq commented on #490
Hi! Thank you!
Yes, we are thinking in this direction to: LSF must have an option in config to allow use original coordinates instead of 0-100. But unfortunately it's not supported right now.

[2020-11-17 17:51] #490 closed

[2020-11-20 06:49] bruce32118 opened #494 "Availabile delete target output data when use cloud storage"
When I use the change the target path to the cloud storage, I can't delete the labeled data in the s3.
If I delete the output data, the label-studio would show the error message. Otherwise, the delete icon also be hidden on web UI.

I found that if the target output data path was set to cloud storage , the '[can_delete_tasks](https://github.com/heartexlabs/label-studio/blob/master/label_studio/pro

[2020-11-20 10:45] makseq commented on #494
@bruce32118 we resolved that the deletion of completions for storages has very complex logic with a lot of unwanted side effects for users. Therefore it's bad by security reasons: user could delete his important data from storage unexpectedly.

[2020-11-20 11:49] jtlz2 commented on #438
@makseq I have the use case of labelling cells of tables. Do you have any pointers on how one would go about implementing this? Thanks!

PS Label Studio is awesome - thank you!

[2020-11-20 12:21] hlomzik commented on #438
@jtlz2 in what form do you have this table already? if it's like html table use can simply use HTML NER labeling (`HyperText` tag), like in our examples in playground. You'll get text and xpath with tr/td as a result of such labeling.
If you have it as a csv also, it's not that simple, you have to convert it anyway. It maybe html table again, the easiest and common way. Also consider using `Table`

[2020-11-21 13:12] davidblom603 commented on #492
Noticed this problem too.

[2020-11-21 19:14] nopper opened #495 "JSON dir storage not working correctly"
**Describe the bug**

I am using the latest stable version of label-studio(0.8.1) and I am experimenting with `dir-jsons` as tasks storage and found out that it's not well supported or properly documented.

If I follow the documentation at https://labelstud.io/guide/tasks.html#Directory-with-JSON-files I get the following:

[code]

But I am expecting the output to be:
[code]

Anyway after manually

[2020-11-21 20:24] nopper commented on #481
Is it possible to allow CORS when using label studio? I am having the same issue because my tasks contains external URLs. This is the error that I get:

![image](https://user-images.githubusercontent.com/129937/99886774-6e4c7b80-2c3f-11eb-8c2d-8e99c4b6c024.png)

If I click on the `Read more on that here` link the suggested solution is to use ngnix as a proxy server to bypass CORS. Wouldn't be poss

[2020-11-21 20:29] makseq commented on #481
Where are the files, which the links lead to, stored? The CORS is the problem of the external server where the files are stored. It's not LS problem..

[2020-11-22 10:05] nopper commented on #481
Oh yes! sorry you are right. My bad. I had to configure the other server to return CORS headers. Now everything works fine. Please ignore my previous comment.

[2020-11-22 13:54] bruce32118 commented on #494
@makseq There some error in using cloud storage. If I delete the target file in the s3 by AWS console.
<img width="483" alt="截圖 2020-11-22 下午9 50 53" src="https://user-images.githubusercontent.com/9030781/99905663-301d8d80-2d0d-11eb-993f-99593ec6e6c3.png">
Is it a bug?

[2020-11-22 14:51] makseq commented on #494
As I mentioned before - we don't support deletion for the target storage.

[2020-11-22 15:09] bruce32118 commented on #494
@makseq Thanks for your response.

[2020-11-22 15:17] makseq commented on #494
But we will develop more features for storage in the next releases.

[2020-11-22 16:37] circlelychen commented on #456
@hlomzik I recently bumped into this issue and found that It was reproduced in the latest release (0.8.1). Will it be possible fixed in the next scheduled release?

[2020-11-23 05:01] faizan170 commented on #492
Same issue, any update?

[2020-11-23 11:06] #494 closed

[2020-11-23 11:10] niklub commented on #485
Hi, @Rishabh-hyperverge !
The issue has been resolved in `label-studio==0.8.1`. Now you should be able to see task IDs in exported CSV file. Please, check it and reopen the issue if the error persists on your side.

[2020-11-23 11:10] #485 closed

[2020-11-23 11:14] tcapelle commented on #492
Did you manage to make it work?
I have a somewhat related issue, the pixel output should be solid (not different opacity levels). For each label, one gray value. I get soft borders. Maybe it is related.
![image](https://user-images.githubusercontent.com/18441985/99955933-6f87c080-2d85-11eb-867a-abdd92b44aa6.png)

[2020-11-23 13:53] makseq commented on #492
@faizan170 We are working on it.

@tcapelle Why can't you apply a simple thresholding to this array? For example:
[code]

[2020-11-23 15:55] niklub commented on #495
Hi, @nopper !

The `"source"` key in `config.json` points to the storage from where your tasks are taken during the runtime (for the local file system it is `tasks.json` by default. This storage could be different from where you import your data (directory `$PWD/tmp` with JSON files in your particular case). So `"type": "tasks-json"` is expected, and is not intended to be modified (that's why you

[2020-11-23 15:55] #495 closed

[2020-11-23 16:29] nopper commented on #495
Hi @niklub,

Thanks for the fast turn around. I am a little bit confused then.

Maybe it's easier if I explain to you my use case: I have another program that say daily, creates a series of tasks to for label-studio. For the moment I was writing them down as json files in a directory.

How can I get label-studio to detect these new tasks and load them? Before that I was merging all the tasks in a

[2020-11-24 08:40] tcapelle commented on #492
Thanks you for looking at this.
- The brush should be hard, and paint (segment) only the given value.
- Have not been able to find where to set this value. (e.g. Label Plane - > 128 value on mask, for instance.)

[2020-11-24 21:11] JimmyWhitaker opened #497 "S3 backend for Text Tasks only works with JSON files"
**Describe the bug**
When using the s3 backend for labeling text (for a classification task) it works with json files, but not text files.

From the logs:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create `raw_data` and `labeled_data` bucket
2. Create a text file with with one sentence per line
[code]
3. Start label studio with the following command:
[code]
4. Select the text cla

[2020-11-24 21:16] makseq commented on #497
Try to change
[code]
to
[code]

[2020-11-24 22:20] davodogster opened #498 "Time Series Improvements - Y axis Min max scaling etc"
@hlomzik  @deppp Great work guys! A couple of things from me: My electrical time series dataset has BIG outliers, so the tool isn't useful for me yet until the Y axis values are dynamic ( I can't actually see/label the small spikes in my data when the Y axis doesn't adjust to the min,max of the time series window - see first screenshot below). Exporting annotations - It would be super helpful if w

[2020-11-24 22:50] JimmyWhitaker commented on #497
If you enable blob URLs for text, then it doesn't actually import the text in the file. It imports the URL to the file as the $text parameter, but not the example contained.

E.g. Task ID: 0, $text:`s3://raw_data/test-example.txt?X-Amz-Algorithm=xxx-Amz-Credential=xxxus-east-xxxaws4_request&X-Amz-Date=xxx&X-Amz-Expires=xxx&X-Amz-SignedHeaders=xxx&X-Amz-Signature=xxx`

[2020-11-24 22:53] makseq commented on #497
Add to your <Text> tag in labeling config valueType="url":
[code]

[2020-11-24 23:31] JimmyWhitaker commented on #497
When I do that, I seem to get the CORS policy errors - which seems odd to me, since they don't surface when I use json files with no blob-urls. I'll see if I can figure out why those are popping up.

[2020-11-24 23:41] makseq commented on #497
When you use json - the server loads your data from the bucket. When you use txt and valueType=url - the frontend tries to get data on a browser side. But I think you need to check if s3 signed urls for txt files are resolved correctly.

[2020-11-25 13:14] makseq commented on #498
Thank you for your valuable response! We saved your points to our backlog.

[2020-11-26 06:03] chriswweibo opened #499 "how to support 'Project management' ?"
Hi, there
Thanks for your effort on the amazing tool.

I successfully deploy the server using the git repo master branch.
But I did NOT see the 'Project management'  cascading button on the homepage as shown in the labelstudio.io website.
![image](https://user-images.githubusercontent.com/11674246/100313671-0eaff080-2ff0-11eb-8175-fb4a2a01c8c7.png)

This function is very integral for me.
Which bra

[2020-11-26 12:43] makseq commented on #499
Hi, you need to start LS in mutli-session mode:
[code]

[2020-11-26 20:54] KuenstlicheIntelligenz opened #500 "script_path ':' splitting for ml backend does not work with windows absolute paths"
`label-studio-ml init my_ml_backend --script "C:\abc\defg.py"`
will not work with
`script_path, model_class = args.script.split(':')`

  File "c:\bab\projects\extern\label-studio\label_studio\ml\server.py", line 79, in create_dir
    raise FileNotFoundError(script_path)
FileNotFoundError: C

Maybe you can just skip the first two chars in the script_path in line 67:
`if ':' not in script_path[2:]:`

[2020-11-27 00:29] Johnson145 commented on #416
I'm parsing the result of a task contained in the completion files. I'm using the given `x`, `y`, `height` and `width` values to calculate `x_min=x`, `y_min=y`, `x_ max=x_min+width` and `y_max=y_min+height`. My script throwed an error, because afterwards e.g. `y_min` may be greater than `y_max`. Obviously, that shouldn't happen.

I just looked into it a little bit closer and found out that the act

[2020-11-27 01:16] chriswweibo commented on #499
Nice. It works!

[2020-11-27 01:16] #499 closed

[2020-11-29 20:30] davodogster commented on #498
@makseq Thanks so much! When do you think you will be able to start implementing these features? Especially the y axis min/max point (the other one would be super helpful but is less essential).

[2020-11-30 14:57] makseq commented on #500
Thank you for your report, we will fix it.

[2020-11-30 15:27] makseq commented on #498
@davodogster I think it will be in one-two months.

[2020-11-30 16:20] mimre25 opened #501 "Can't draw rect to label and output ranges are NaN"
**Describe the bug**
Cannot label time series. Always get errors in console, rect cannot be drawn
[code]

Sometimes I can draw a rect (without seeing it) and the resulting label outputs look like:
[code]
Those NaN's look suspicious.
Note: I don't have any NaN's in my data.

**To Reproduce**
Steps to reproduce the behavior:
See below, I've added my setup and some lines of the file

**Environment (p

[2020-11-30 17:13] Chris-Fr-C opened #502 "PDF support through an OCR such as Tesseract"
**Is your feature request related to a problem? Please describe.**
I often need to treat pdf files, when the service is deployed within a docker environment. (for named entity recognition)
A Tesseract service is also available (OCR) within my environment. A pipeline between the two would be really convenient. (But in a more general case, it should be possible to any type of OCR)
Such as :
- When w

[2020-11-30 20:08] makseq commented on #501
Could you reproduce a project with this bug here (copy your labeling config and upload your task)?
https://app.labelstud.io/api/project-switch?uuid=d06c34c8-f89c-417c-9c2e-3e399e26c5fe

[2020-11-30 20:50] makseq commented on #502
Thank your for your proposal! Could you create a PR with your solution?

[2020-12-01 08:19] mimre25 commented on #501
I just did. I change the data I've uploaded to json, as this seems a bit more "logical" than the csv format.

This is the labeling config
[code]

Full json data:
https://gist.github.com/mimre25/ac022c64016750bb338cf69ef33f5fc1

I think the data format is confusing in general. When I import csv, even when I set valueType to json, labelstudio reads it as a list of links.
When I download sample data

[2020-12-01 11:05] makseq commented on #501
@mimre25 Thank you very much, we are working on it.

[2020-12-01 12:32] makseq commented on #500
@KuenstlicheIntelligenz Could you check branch 0.8.2, we've fixed this bug there.

[2020-12-02 08:06] glf1030 opened #503 "how to do entity linking by using label-studio?"
hi,
I am working on a project that requires do entity linking after name entity recognition.  For example,  "Michael Jordan" could be labeled as a person from "LaMelo Ball insinuates that he believes Michael Jordan would beat his dad, Lavar Ball, in a 1v1 matchup". After that,  several candidates including "Michael Jeffrey Jordan (basketball star), Michael I. Jordan (machine learning star)" could

[2020-12-03 07:26] mimre25 commented on #501
Any updates on this? Any way I could help?

[2020-12-03 16:57] makseq commented on #501
@mimre25 I've explored your project carefully. I found that time values are sorted in descending order. And it seems it's the problem. May you try to order them in ascending?

[code]

=>

[code]

[2020-12-03 19:31] makseq commented on #503
@glf1030 Hello, thank for your interest to Label Studio. Could you describe more about your task? Why can't you have two different labels with supporting information?
* Michael Jeffrey Jordan (basketball star)
* Michael I. Jordan (machine learning star)

OR you can have advanced per-region choices/textareas and more to provide more detailed labeling.
[Check it here](https://labelstud.io/playground

[2020-12-04 18:28] mimre25 commented on #501
That was one of my thoughts but I was quite busy and couldn't try it until now.

It works fine. Thanks!

Suggestion: add to the docs that this is necessary

[2020-12-07 09:30] Californium23 opened #504 "To process medical images"
How can I import DICOM images for segmentation or other labeling task ? Converting to png may not be a good choice as the transforming threshold needs to be adjusted at any time.

[2020-12-07 09:31] anja-wo commented on #323
Hi everyone,

I have the same issue with prepopulating relations among labels.

This is the content of my `task.json`:
[code]

And this is the content of my `config.xml`:
[code]

Including predictions for entities works perfectly fine. Including the relations does not work properly however. It is added as a predicted relation (see below on the right). The text does not show up in the UI anymore th

[2020-12-07 09:43] mimre25 opened #505 "Time series overview movement scrolls page up"
**Describe the bug**
When clicking in the time series overview the page is scrolled up. This is undesired when having many variables

**To Reproduce**
1. Use time series with many variables
2. scroll all the way down and click in the time series overview

**Expected behavior**
Stay on the overview

**Screenshots**
Gif attached

**Environment (please complete the following information):**
 - OS: Ub

[2020-12-07 13:52] #501 closed

[2020-12-07 23:54] makseq commented on #504
Unfortunately LS doesn't support DICOM yet. But we have DICOM support in our roadmap.

[2020-12-08 09:02] glf1030 commented on #503
thanks, it works.

[2020-12-08 09:02] #503 closed

[2020-12-08 22:42] makseq commented on #505
Thank you for your feedback, I've added it to our backlog.

[2020-12-09 00:07] OlehYashchuk commented on #446
That bug is actually still alive.

The error is the following:
[code]

[2020-12-09 00:53] laynr opened #507 "'import task' button on the task page breaks"
When providing a host parameter, such as `example.com/label-studio`, to [run.sh](https://github.com/heartexlabs/label-studio/blob/master/tools/run.sh) the 'import task' button on the [task page](https://github.com/heartexlabs/label-studio/blob/master/label_studio/templates/tasks.html) breaks as it tries to resolve to `example.com/import`, instead of `example.com/label-studio/import`

Please change

[2020-12-09 14:11] jrdalenberg commented on #504
Could you add nifti to do list as well then for neuroimaging?

[2020-12-09 14:21] jrdalenberg commented on #317
@mcombalia why not feed all the images of the lowest layer of the pyramid for labeling? I do not think labeling the whole image in a single go is very user friendly nor is it practical for object classification. You can map the results back to the original image.

I am working with 1-50GB TIFF images and do it like that.

[2020-12-09 19:02] makseq commented on #504
Could you explain what is nifti?

[2020-12-09 19:04] makseq commented on #507
@laynr Thank you for you proposal, I've done it. But this page will be deprecated in the next versions.

[2020-12-09 19:04] #507 closed

[2020-12-10 03:58] dahnny012 opened #509 "Issue with refreshing tasks from S3 on remote machine versus local laptop."
**Describe the bug**
Scenario:
1. Running label studio on docker on a remote machine
2. The next day new tasks are uploaded to S3 but label-studio doesnt detect or isnt able to update the task queue.
3. Restarting the image doesnt work

If label studio is running on my local macbook this works just fine. I have to copy over the source.json from my laptop to the remote.

**Expected behavior**
I. ex

[2020-12-10 05:17] dahnny012 commented on #509
looks like my aws credentials rotate hourly and label studio doesnt read in the new information.

however my macbook is able to pull in the new tasks when label is restarted, the remote machine does not.

[2020-12-10 07:05] NandaBalakrishnan commented on #395
is there any updates on the above feature?

[2020-12-10 09:06] makseq commented on #395
We are on UX development stage for this feature right now.

[2020-12-11 11:42] Siddhijain16 opened #510 "KeyError: 'created_at'"
Hi,
I am using the latest version of Label-studio and trying to export my labelled images into the COCO format but as I do the export completions its showing me "KeyError: 'created_at' ".
![Screenshot from 2020-12-11 16-52-31](https://user-images.githubusercontent.com/46879959/101899143-53807d80-3bd3-11eb-9f25-7aaa4c5c3dab.png)

I also tried label-studio-convertor but still got the key error

(mye

[2020-12-12 08:06] dianyo opened #511 "global variable bug in base.py"
Find there's a bug when loading storage from s3.
After tracing the code and find the global variable new_id at base.py:430 should be fixed.
I fix this bug by change it to local variable and send it by method argument.
[code]

[2020-12-12 19:10] makseq commented on #511
Thank you for your reported, we've already found it and fixed in the upcoming release.

[2020-12-12 19:10] #511 closed

[2020-12-12 19:17] makseq commented on #446
@OlehYashchuk Thank you for your report, I've created a ticket in our backlog about it.

[2020-12-13 23:39] davodogster commented on #498
@makseq @hlomzik @deppp Thanks for letting me know! We were hoping the Y-axis auto adjustment would have an easy fix. Currently, it won't adjust to the min,max of the window so you can't label the data when outliers are present in the window because the signals ( / positive responses) are too small to see properly.

Cheers, Sam

[2020-12-14 04:01] NandaBalakrishnan commented on #395
thank you

[2020-12-14 04:02] NandaBalakrishnan commented on #40
are we supporting labeling multiple task at once? (only for image classfication)

[2020-12-14 04:14] NandaBalakrishnan opened #512 "Label multiple task at once"
**Is your feature request related to a problem? Please describe.**
specifically looking this feature for **Image Classification**
We want to use this tool for labeling images.  It will be convenient if it allows to select multiple images and label them at once with the selected label

**Describe the solution you'd like**

- show all images
- select the images which are look-a-likes (with (de)selec

[2020-12-14 06:29] NandaBalakrishnan opened #513 "pre annotation (importing pascal VOC format (xml))"
**Is your feature request related to a problem? Please describe.**
Specifically looking this feature for **BoundingBox**
we want to load the images and their corresponding annotation(pascal voc format) while launching the labelstudio. we want to know whether labelstudio supports importing pascal voc rather than completions json format or is there any converter available to convert pascal voc to co

[2020-12-14 16:43] makseq commented on #40
@NandaBalakrishnan We are very close to it. I think it will be in one release.

[2020-12-14 17:41] Wissben opened #515 "authentication setup not working with docker"
**Describe the bug**
It seems that the **USERNMAE** and **PASSWORD** variables in the Dockerfile are not taken into consideration when running the `docker-compose up` command. I can see that even in the config.json of the project.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'label-studio'
2. Modify  'Dockerfile' by removing the last line `CMD ["./tools/run.sh"]` (it should be overw

[2020-12-15 09:32] davidgasquez opened #516 "Error syncing tasks from S3 or GCS"
**Describe the bug**
Not able to read tasks from S3 or GCS.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project: `label-studio start my_s3_project/ --init --source s3 --source-path raw-data --input-format json --force --log-level DEBUG --source-params '{"use_blob_urls": false, "regex": ".*"}'`
2. Upload a JSON file to `s3://raw-data`
[code]
3. Use default _Text Classificatio

[2020-12-15 09:41] makseq commented on #516
Thank you for your report. We have fixed it already it's in our latest release 0.9.0.

[2020-12-15 09:44] davidgasquez commented on #516
Thanks @makseq! Is there any release date for `0.9.0`?

I'll try on `0.9.0` then. Feel free to close this one.

[2020-12-15 10:06] makseq commented on #516
We are planning to make an Release Candidate on this week.

[2020-12-15 10:09] #516 closed

[2020-12-15 21:26] makseq commented on #516
@davidgasquez could you check the latest master branch of LS? I've fixed this bug there. Or you can try docker == 0.8.2.post0.

[2020-12-16 08:35] davidgasquez commented on #516
Thanks for getting back with this @makseq! Just tried and seems to work. I'm getting some errors related to loading multiple tasks on a JSON file but at least I made it work with a simple `task.json` file¹.

Let me know if I can test anything else. I'm happy to try things out on this branch if you need any help.

¹ Simple as:
[code]

[2020-12-17 03:55] zhl5317 opened #517 "“Relations among entities” entity relationship overlaps"
**Describe the bug**
   When the entity relationship is a lot of times, the relationship display will overlap, so it can be adaptive

**Screenshots**

![112](https://user-images.githubusercontent.com/17403033/102442138-9e304880-405e-11eb-923e-7f35ccea4b97.png)

[2020-12-17 09:51] #515 closed

[2020-12-17 10:59] NandaBalakrishnan commented on #513
Any updates on the above ticket?

[2020-12-17 10:59] NandaBalakrishnan commented on #512
Any updates on the above ticket?

[2020-12-17 11:39] makseq commented on #513
@NandaBalakrishnan Unfortunately LS doesn't support Pascal VOC import right now. But we are planning to add a lot of import formats soon.

[2020-12-17 13:13] makseq commented on #512
@NandaBalakrishnan We are working on a big update of Data Manager (DM) and preparing such functionality to the next after nearest release. If you have time you can try our new DM :slightly_smiling_face:

[2020-12-19 13:17] louisoutin opened #518 "Any way to connect label-studio to Minio bucket storage?"
Hello,

I saw that you recently added a feature to connect label-studio storage to S3 (GCP or AWS) but do you know if there is a way to connect it to a [Minio](https://github.com/minio/minio) bucket?  It should be straightforward as Minio buckets are AWS S3 compatibles.

Thanks for the help!
Louis

[2020-12-19 16:07] makseq commented on #517
You only can totally disable the relation render in this version of LS. There are no other settings for it right now.

[2020-12-20 14:35] makseq commented on #518
Hello,

We use boto3 client (https://boto3.amazonaws.com/v1/documentation/api/latest/index.html) for s3 storage sync. So, if it's supported by Minio, I think it will be very easy to use in LS.

If Minio doesn't support boto3, you could implement Minio storage here:
https://github.com/heartexlabs/label-studio/tree/master/label_studio/storage

As example you can use s3 storage code (see S3Storage cl

[2020-12-20 20:25] makseq commented on #418
@Rishabh-hyperverge Hello! Sorry for a late solution, but we have released a new LS version with the  filtering of completion results. If it's still actual for you, you may try it:

[code]

[2020-12-21 02:22] zhl5317 commented on #517
Hi @makseq
    May I ask if you have any plan to realize this function?

[2020-12-21 07:58] hdemontis opened #519 "Problem with non-normalized audio data"
Hi,

I have to label some .WAV audio files. Because of my application, audio datas are written in float32 and unnormalized.

Is there a way in Label-Studio to normalize audio datas before displaying, in order to discard saturation during listening ?

Many Thanks,

[2020-12-21 11:47] makseq commented on #519
Hi, unfortunately LS doesn't support normalization.
But why don't you convert your recordings to int16 wav? It's very easy to do it with help of ffmpeg utilities. You even can normalize them using ffmpeg.

[2020-12-21 11:51] makseq commented on #517
@zhl5317 Can you describe how do you see this adaptive functionality?

[2020-12-21 12:12] makseq commented on #510
Please, try `pip install label-studio-converter==0.0.22.post0`

[2020-12-21 12:13] zhl5317 commented on #517
Thanks for your quick reply

[](url) http://data-spider.oss-cn-hangzhou.aliyuncs.com/WebsiteLogo/overlap.png

please review my above link,  that is display issue

adaptive functionality means line segment, label dislocation display？ because if there are many relation， the  line segment and label will  overlap， its will difficult to check the entity relations

[2020-12-21 12:27] makseq commented on #362
I hope it's fixed in the last version of LS.

[2020-12-21 12:27] #362 closed

[2020-12-21 12:27] nicholasrq commented on #517
@zhl5317 hey. we have plans on improving relations somewhere in 2021

for now you can hide all relations using an eye icon in the relations panel, then hover over any relation in the list to see the connection line. it's not quite what you're talking about. unfortunately, at this point this is the only way to bypass relations
mess

[2020-12-21 12:28] #383 closed

[2020-12-21 12:31] #418 closed

[2020-12-21 12:32] makseq commented on #421
It's fixed after 0.8.2 LS release.

[2020-12-21 12:32] #421 closed

[2020-12-21 12:32] makseq commented on #437
@kasuteru Hi, have you any news about your PR?

[2020-12-21 12:36] makseq commented on #463
@ghanshyamdev It's fixed after 0.9.0rc0. There is release candidate version with a lot of changes in LS engine and data manager. But you could try it if you really need completion comparison mode.

[2020-12-21 12:36] #463 closed

[2020-12-21 12:38] makseq commented on #464
Close it as outdated. Feel free to reopen if you have any troubles in this question.

[2020-12-21 12:38] #464 closed

[2020-12-21 15:48] hdemontis commented on #519
Hi,

I don't want to normalize my datas because I need to keep the real pressure amplitude all along my processing chain (for acoustic imaging or others microphone array processing).
Switching from int32 to int16 wav applies a numerical threshold to the amplitude of my recorded signals.

I found a solution. Not very beautiful, but a working one !

Thanks for replying.

[2020-12-21 15:51] makseq commented on #519
Could you share your solution?

[2020-12-21 16:19] hdemontis commented on #519
Before Label Studio, using PySoundfile inside my Jupyter notebook, I write my audio WAV using subtype set to "FLOAT" (see the reference : https://pysoundfile.readthedocs.io/en/latest/#module-soundfile).
Then, in Label Studio, I choose the AudioPlus tag and set the volume to minimum to avoid the saturation when playing the sound. Plan B !

[2020-12-21 17:05] makseq commented on #519
Wow! Thank you a lot for your thoughts!

[2020-12-21 17:05] #519 closed

[2020-12-21 19:40] makseq commented on #461
It's fixed after 0.8.1 release.

[2020-12-21 19:40] #461 closed

[2020-12-21 19:41] makseq commented on #409
It's fixed after 0.8.1 release.

[2020-12-21 19:41] #409 closed

[2020-12-22 05:15] ghanshyamdev commented on #463
Thank you, you’re amazing! @makseq :)

[2020-12-22 13:43] makseq commented on #516
It will be cool if you can check 0.9.0rc1 release candidate 🙂

[2020-12-23 02:44] jonorozcoc opened #522 "Improve task pagination"
**Is your feature request related to a problem? Please describe.**
If you have many tasks imported and you want to go to the end (for example), you have to press the Next button until you reach the last page. On every Next button click all the images (in my use case, bbox tagging) are requested but not visualized because I already pressed the Next button again. And so on until the end

**Describe

[2020-12-23 09:32] Siddhijain16 commented on #510
I used but again got KeyError: 'rectanglelabels'

(label_convertor) (base) billion@billion-Inspiron-3542:~/label_convertor/label-sge_detection_dataset/new_dataset_final/completions/ --config /home/billion/Desktop/Siddhi/document_edge_detection_dataset/testinglabelstudio/configg/config.xml --output /home/billion/Desktop/Siddhi/document_edge_detection_dataset/new_dataset_final/voc-annotations --form

[2020-12-23 09:36] makseq commented on #510
Could you send me any json file as example from your_project/completions folder?

[2020-12-23 09:48] Siddhijain16 commented on #510
[test.zip](https://github.com/heartexlabs/label-studio/files/5734456/test.zip)

[test.zip](https://github.com/heartexlabs/label-studio/files/5734457/test.zip)

I do the polygon labeling

[2020-12-23 11:44] makseq commented on #522
@jonorozcoc We have released a new data manager (but it's a release candidate now). Could you try it? I hope you'll like it.
Note: use google chrome, safari is not yet supported.

[code]

[2020-12-23 11:52] makseq commented on #510
Sorry, I see you are trying to call converter manually. And you specified `--format VOC`, but VOC is not supported for polygonlabels.

[2020-12-23 13:18] Siddhijain16 commented on #510
But I need data in VOC format for my model what should I do ?
I tried external conversion but nothing work for me ...
Please suggest something
Your help should be appreciated

[2020-12-23 13:30] makseq commented on #510
The entry point for VOC converter is here:
https://github.com/heartexlabs/label-studio-converter/blob/master/label_studio_converter/converter.py#L379

I think you need to modify this peace of code to use polygonlabels instead of rectanglelabels:
https://github.com/heartexlabs/label-studio-converter/blob/master/label_studio_converter/converter.py#L454

[2020-12-23 20:42] kasuteru commented on #437
Hi,

after some experimentation I noticed that using ADLS directly has too much
latency to fluently display tasks. I have instead written a Redis in-memory
db connector, and an independent backend process to sync to ADLS.

I had to reduce my hours due to Corona-based cuts and haven't managed to
upload it before the holidays. I will get back to it in January.

Thomas

Max <notifications@github.com>

[2020-12-25 05:45] ghanshyamdev opened #524 "Relation arrow is not working as per expectation"
**Describe the bug**

https://user-images.githubusercontent.com/45035063/103121466-4d45d300-46a2-11eb-831c-69dc5d3ed9c9.mp4

[2020-12-25 19:31] makseq commented on #524
@ghanshyamdev Could you clarify, what LS version is it?

[2020-12-27 10:48] nopper commented on #461
It looks like there is still a bug with the current behavior and the way it interacts with `predictions` (https://labelstud.io/guide/export.html#predictions), when this information is set in the task.

That is the `selected` property seems to take priority and trumps the selection of the predicted choice.

[2020-12-28 02:35] jonorozcoc commented on #522
@makseq I reviewed the last version you mentioned. First at all thanks for your work and this excellent project. I have some question about the UX of this new data manager interface.

1. I saw you implemented infinity scrolling for listing the tasks. Taking in account that datasets involved in ML are large (really large in some cases) ¿How this can affect performance? When user scrolls down more d

[2020-12-28 04:45] ghanshyamdev commented on #524
@makseq
Currently, I'm using `0.7.5`. I've also tested on your website [Label Studio](https://app.labelstud.io/). At both the places error persists

[2020-12-28 08:32] makseq commented on #522
@jonorozcoc thanks for your questions. The common answer: for opensource we focus on datasets about 100k tasks. We've tested it on old machines with such datasets and it works well. I think 1m dataset will perform fast if you deploy LS on powerful server.

1. Browser stores only json data for all data set tasks without BLOB media files. So, it might not be huge in memory. Media files are stored on

[2020-12-28 12:15] jonorozcoc commented on #522
Fair enough for me

[2020-12-28 12:15] #522 closed

[2020-12-28 14:30] nicholasrq commented on #522
@jonorozcoc in addition to @makseq's answer I just wanted to clarify the mechanism.

for the infinite list we're using what's called "virtualized list". basically it's a mechanism when your viewport limits the amount of data. only the data you see on the screen exists physically on the page. we tested this approach on tens of thousands of tasks and there's no significant or anything noticeable per

[2020-12-28 15:23] jonorozcoc commented on #522
@nicholasrq Thanks for your response

I guess it's something related to the Intersection Observer API isn't? (Just curiosity)

[2020-12-28 15:33] jonorozcoc commented on #512
This feature could help me.

@makseq Is there something left on this issue? I mean, Can I help with something?

I think is not available on the RC you sent yesterday, right?

[2020-12-28 16:34] nicholasrq commented on #522
@jonorozcoc not really. all tasks in the table has fixed height. we're tacking scroll offset to calculate the index of the first item, and how many items can fit into the viewport. after that we're adding 30 items before and after these indexes to avoid blinking during the render

e.g., your viewport can fit 15 items, so we'll render 75 of them: 15 are visible in the viewport +30 items up and 30 i

[2020-12-29 00:07] makseq commented on #512
@jonorozcoc @NandaBalakrishnan

I implemented an experimental feature for the completion copying here:
https://github.com/heartexlabs/label-studio/pull/514

1. Enable it in my_project/config.json by adding:
[code]
2. Go to Tasks
3. Open some task A and create a completion with Choices you want to propagate to others tasks.
4. Select this task A first.
5. Select other tasks.
6. Click on "Propage co

[2020-12-29 00:14] makseq commented on #395
Check here:
https://github.com/heartexlabs/label-studio/issues/512#issuecomment-751901429

So, you could try to copy bboxes now.
Attention: it will work correctly only if you have widths & heights are the same for all images.
Otherwise you need to manually fix `original_width` and `original_height` for all the completion results.

[2020-12-29 02:14] NandaBalakrishnan commented on #395
Sure will check and let you know.

On Tue, Dec 29, 2020, 5:45 AM Max <notifications@github.com> wrote:

[2020-12-30 11:41] nvinayvarma189 opened #525 "Typo in the command to initialise ml back-end for label studio"
I was following this [guide](https://github.com/heartexlabs/label-studio/blob/master/label_studio/ml/README.md) to create an ML back-end which can be integrated into a label studio instance.

In the 2nd step, the command should be:

`label-studio-ml init my_ml_backend --script label_studio/ml/examples/simple_text_classifier.py`

instead of

`label-studio-ml init my_ml_backend --script label-studio

[2020-12-30 15:12] makseq commented on #525
@nvinayvarma189 Thank you very much for you attention and feedback. I have fixed it in the last master.

[2020-12-30 15:12] #525 closed

[2020-12-30 15:35] makseq commented on #524
@ghanshyamdev Could you reproduce this bug in this project:
https://app.labelstud.io/api/project-switch?uuid=594074b5-a2a0-4ca8-8c5e-3c65efceb509

I imported text and made one completion there. But can't get this bug.

[2020-12-30 15:36] #518 closed

[2020-12-31 08:14] ghanshyamdev commented on #524
@makseq Done please recheck the project.

**Note:** I've changed the project config

[2021-01-02 08:59] keesschollaart81 opened #526 "Cloud storage slow with 1000+ tasks"
**Describe the bug**
When using either GCP or AWS cloud storage BBox tasks labeling is very slow, in this report I'll stick with S3 but the behavior for Google is very similar. Loading the tasks list takes minutes.

**To Reproduce**
Steps to reproduce the behavior:

I'm migrating from another tool so I generate the JSON files for tasks and completions. I have 3 buckets now:

- labelstudio-tasks (c

[2021-01-04 14:56] makseq commented on #526
Could you try `new-onboarding branch` again without any filters and orderings? When they are disabled the engine must take only requested page from the storage.

[2021-01-04 15:01] makseq commented on #526
And why do you use two storages for input? I think you can use `labelstudio-images` only.
![image](https://user-images.githubusercontent.com/501780/103548378-c5887180-4eb6-11eb-8563-fa9c3e7bc4a6.png)
Just enable "Generate task data with URLs pointed to your ..." checkbox for `labelstudio-images` and LS will generate json tasks  automatically.

[2021-01-04 22:55] dtmoodie opened #528 "Update project with additional tasks from files on disk"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to update an existing project with additional files from an image folder without losing any current progress. Currently re-running with --init causes an error due to existing completions folder, and running with --force will delete existing completions.  Restarting without --init doesn't seem to rescan the image

[2021-01-05 05:28] tejas-vadgama commented on #524
@makseq @nicholasrq I am facing same issue relation arrows are not working as expected within scroll.

https://user-images.githubusercontent.com/73108674/103609907-e26b8600-4f44-11eb-83ed-6635e77b2c82.mp4

[2021-01-05 07:34] ghanshyamdev commented on #524
@makseq The actual reason behind the issue is the CSS I'm using, I'm using a long document and I've added this CSS to add the scroll-bar for the long document. Is there any suggestions from your side
![image](https://user-images.githubusercontent.com/45035063/103618599-3f236c80-4f56-11eb-9d71-544f26b28186.png)

[2021-01-05 11:28] davidgasquez commented on #516
Sorry for the delay! Back from holidays.

Just tested with `0.9.0rc1` and seems to work fine too!

[2021-01-05 13:57] makseq commented on #524
We have discussed it with our frontend developers, it requires non-trivial fixes. I've created a ticket about it.

[2021-01-05 15:16] makseq commented on #528
Do you mean these flags `--input-path=some.txt --input-format=text`?

[2021-01-05 15:17] #510 closed

[2021-01-05 15:35] makseq commented on #509
@dahnny012 Sorry for a long answer.

What do you mean by this? Why your aws creds do rotate hourly?

[2021-01-05 15:52] kasuteru commented on #437
I opened PR #529  to integrate Redis functionality. In my testing, this was highly performant, even more than the current default, file-based method (since everything is handled in-memory). However, obviously, it requires hosting a redis server in parallel, so it does not intend to replace the default.

I have abandoned my quest to directly write to ADLS storage, since this will in my opinion neve

[2021-01-05 16:22] keesschollaart81 commented on #526
Awesome, so no filters/ordering, that makes sense! I had a pagesize set (stored in a cookie)

It took me some time to get it right (I had some mistakes in the completion file generation) but now it's much better. It still downloads all the completions once you load the tasks list for the first time. This seems to be because `page==1` here at [this line](https://github.com/heartexlabs/label-studio/

[2021-01-05 16:34] makseq commented on #526
Yes, we need to calculate total task and completion number in DB somewhere. And it will be done while retrieving the first page.
I'm talking about this:
![image](https://user-images.githubusercontent.com/501780/103671741-62690e80-4f8c-11eb-888e-53f708b320a5.png)

[2021-01-05 16:42] makseq commented on #526
It seems to be a bug :slightly_smiling_face:

[2021-01-05 16:45] makseq commented on #486
@vinayex2 Do you have this bug on new LS versions (e.g. 0.8.2)?

[2021-01-05 17:00] kasuteru commented on #437
Blob storage might be faster since ADLS is optimized for big data
workloads, meaning overhead if working with small files. I still think
in-memory caching is the way to go to have a truly performant webapp,
especially since the memory footprint is really small.

I see from the other thread that you are working with images - these I
would store in Blob storage, but I think that is a different conne

[2021-01-05 17:23] keesschollaart81 commented on #526
I see but for the total-number, downloading all the files should not be needed right? Listing the files in the bucket should be sufficient? Now it's downloading all the completion files and for 1000s of files, that can take a few seconds up to more than a minute...

[2021-01-05 17:28] makseq commented on #526
Yes, it's not good. But I don't figure other way out to get all completion count yet... We need to read them all.
But maybe we can show total task/completion number optionally.

[2021-01-05 17:34] makseq commented on #323
@anja-wo Sorry for a long answer. What LS version do you use?

[2021-01-05 18:30] keesschollaart81 commented on #526
I leave that up to you, it sounds like a nice little improvement! Thanks for the prompt help/support! Feel free to close this issue, or to leave it open to keep track of for this bug/feature-idea!

[2021-01-05 18:32] makseq commented on #526
I will add this option to the project config.

[2021-01-05 21:15] MNMaqsood opened #530 "Option to view text of relevant labels while adding relations"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-05 21:18] MNMaqsood commented on #530
Hey is it possible for you add an option to view the text of relevant labels after the addition of relations in the Relations panels? It only shows the "A text" now for every label of the relation. You can hover your mouse over that relation but it will be nice to also the text.
P.S I have also requested it on Slack

[2021-01-05 23:16] makseq commented on #526
@keesschollaart81 Please, check the last commit from `feature/new-onboarding` branch. Add to your `project/config.json` this line
[code]

[2021-01-06 09:12] keesschollaart81 commented on #526
Yes! Perfect!

To get back to my question:

By looking at the code, I now understand why the answer is: *no* because a single completions-file can contain multiple completions. So this boils down to the difference between (a) `the number of tasks having at least 1 completion` and (b)`the total number of completions over all tasks`. The current implementation is (b). For (a) you would *not* need to

[2021-01-06 09:37] makseq commented on #526
Yes, you're absolutely correct. We will switch our engine to sqlite database in the nearest future, so I hope this problems will be pass away.

[2021-01-06 15:14] hlomzik commented on #461
@nopper checked this — predefined choices are set only if this is "new" annotation and it takes this "new" status from `id` field of prediction, so if you don't have this field, the choice will be preselected as in config. And as I know `id` field is required anyway, there are some other possible issues if you miss it.
Is this the problem you have or there is something else?

[2021-01-06 23:59] dahnny012 commented on #509
Im running this on an internal company website and our aws creds are issued hourly.

[2021-01-07 08:58] reinoldus opened #532 "Prediction score min option does not exists."
**Describe the bug**
Prediction score min option does not exists.

`label-studio start-multi-session: error: argument --sampling: invalid choice: 'prediction-score-min' (choose from 'sequential', 'uniform')`

**To Reproduce**
Steps to reproduce the behavior:

1. Use this docker-compose:
[code]
2.

**Expected behavior**
According to the doc it should be possible to add sampling via the cmd: https:/

[2021-01-07 09:37] reinoldus commented on #532
Okay, I figured it out, I had to change it in the config.json

It's just pretty hard to find because there are so many empty projects from opening "new uses". Is there a way to delete empty projects?

[2021-01-07 09:37] #532 closed

[2021-01-07 10:27] tramanh06 commented on #208
Is there update for this? It would be great if we can customize the Submit and Update hotkeys just like we can for Labels

[2021-01-07 15:43] makseq commented on #208
@tramanh06 Unfortunately not. We are working on a big UX update with all shortcuts.

[2021-01-08 09:15] shehryar-malik commented on #323
@makseq I am facing the exact same problem as @anja-wo. The entities prediction work fine. But when I add relations, I get the 'TypeError: Cannot read property 'traverseTree' of null' on labelstudio. I'm using version 0.8.2.

[2021-01-08 09:31] sfczekalski opened #534 "Support for multiple annotators"
**Is your feature request related to a problem? Please describe.**
I would like Label Studio to have support for multiple annotators.

**Describe the solution you'd like**
It would be useful to have a simple way to split the labelling tasks across the annotators. Each annotator could have some form of account with labelling tasks associated with it.

**Describe alternatives you've considered**
For

[2021-01-08 10:09] nopper commented on #461
Not exactly the problem is that if you have a config like the one above:

[code]

And then a simple task with some pre-existing predictions provided by a ML backend like this one:

[code]

The choice A will be selected (the one with attribute `selected="true"`) during labeling phase instead of choice B (the one predicted by the ML model, which IMHO should take precedence here).

[2021-01-08 12:06] MNMaqsood commented on #323
@makseq I'm also facing the same problem as that of @shehryar-malik and @anja-wo . I am using 0.8.2 version.

[2021-01-08 13:00] makseq commented on #534
@sfczekalski Right now you can try `pip install label-studio==0.9.0rc2`, we introduced there a new data manager with tabs. Each tab has an own filters. So, you can split your tasks across annotators using ids or other fields.

Therefore we are working on a big release of LS with multiple users.

[2021-01-08 13:04] makseq commented on #461
@hlomzik Check it please.

[2021-01-08 13:18] Lion-Mod opened #535 "Working with active learning + fastai"
Firstly, love love love label studio. Even for the purely manual labelling. Nice interface and tonnes of data types to label if necessary!

I'm trying to work with the active learning functionality and ideally with a fastai Learner (most likely cnn or efficientnet). I'm curious if there is any example for this and if it is similar to other models being used?

I've had a quick play and it doesn't s

[2021-01-08 13:33] makseq commented on #535
Thanks for such warm words!
What kind of labeling do you try to use with active learning? Choices?

[2021-01-08 13:36] Lion-Mod commented on #535
Yes Choices. Starting simple with binary image classification.

[2021-01-08 13:38] makseq commented on #535
I think you need to start from this tutorial:
https://labelstud.io/tutorials/pytorch-image-transfer-learning.html
Have you seen it?

[2021-01-08 13:56] Lion-Mod commented on #535
Ah my mistake. So looks like it's the case of initializing things and label studio does a lot of heavy lifting by the looks of it 👍

[2021-01-08 13:56] #535 closed

[2021-01-08 14:09] sfczekalski commented on #534
@makseq Thanks for the reply and for the information, I'll give it a try!

[2021-01-08 14:36] makseq commented on #534
Feel free to ask more questions here :slightly_smiling_face:

[2021-01-08 14:36] #534 closed

[2021-01-08 16:48] makseq commented on #323
@hlomzik Could you check this, please?

[2021-01-08 19:23] hlomzik commented on #461
Check it with `"id": "1"`, please

[2021-01-10 11:57] abfshaal opened #536 "Connecting Label Studio to elastic search"
Hello!

I would like to connect label studio directly to an elastic search database without having to pull the data from the database and changing it to a json format. I have read in the documentary about S3 services and Google Cloud.

Also, is it possible to dump the data to a database when finishing labelling instead of exporting to json/csv ?
Many Thanks!

[2021-01-10 12:04] makseq commented on #509
@dahnny012 I think it's boto3 (aws python lib) problem. Try to upgrade it to the latest version on your server machine.

[2021-01-10 12:15] makseq commented on #536
Hello! Thanks for your proposal.
We are looking to django + sqlite migration soon, so I hope it will be much easier to use elasticsearch there.

What do you mean when you are talking "dump the data to a datbase"? What database do you mean?
All tasks and completions are stored in project folder as json files.

BTW, similar issue:
https://github.com/heartexlabs/label-studio/issues/405

[2021-01-10 12:46] abfshaal commented on #536
Thank you so much for the quick response!

I meant export the Labeled Data when the new field back to another elastic search Index, instead of exporting as a json/csv first then injecting in the database.

I also have another question, is it possible to assign data with unique ID that label studio can use to not duplicate tasks?
Many Thanks!

[2021-01-10 21:03] davodogster commented on #498
Happy New Year @makseq and @hlomzik . Any time estimate on these couple of time series additional features?
Best Regards, Sam

[2021-01-10 22:50] jrubensteinsp commented on #323
I have the same issue.  Can someone please advise when this will be resolved?

[2021-01-10 23:02] makseq commented on #323
@jrubensteinsp Thanks for your report, we are working on it. I'll ping here, when we finish.

[2021-01-10 23:06] jrubensteinsp commented on #323
Thanks Max.  Do you have a RC we can test?  Do you expect it in 0.8.3 or
0.9.0 and what's your best guess on an ETA?

Thanks
Jeff

On Sun, Jan 10, 2021 at 6:02 PM Max <notifications@github.com> wrote:

--

*Jeffrey D. Rubenstein*
President & CEO
<https://www.linkedin.com/in/rubensteinjeff>

[2021-01-11 00:27] makseq commented on #323
I hope it will be in 0.9.0 on this week :slightly_smiling_face:

[2021-01-11 01:26] twsl opened #537 "Multi Project support"
**Is your feature request related to a problem? Please describe.**
I'd like to have support for multiple projects without starting a dedicated instance per problem, so I could create a new project whenever I want to.

**Describe the solution you'd like**
A simple project selection interface to switch to the right project before starting to label.

**Describe alternatives you've considered**
I chec

[2021-01-11 01:32] makseq commented on #537
@twsl Could you tell more: why don't you want to use `start-multi-session`?

Cool! We will take it in account and let you know if we need help with it!

[2021-01-11 01:36] twsl commented on #537
Cause then I would have to export and merge annotated data, but I'd love to create e.g. two annotation projects, where everyone with the link can contribute without starting two dedicated instances. I haven't found a way to share sessions or view all active sessions, so proper multi project support would be nice.
Having a single docker instance running makes deploying labelstudio easier and i just

[2021-01-11 01:41] makseq commented on #537
You can share projects via links using this button:
![image](https://user-images.githubusercontent.com/501780/104141341-30f6a580-53c7-11eb-8f26-5521ddc4eaea.png)

on this section:
![image](https://user-images.githubusercontent.com/501780/104141310-1290aa00-53c7-11eb-82d6-1668f4402811.png)

[2021-01-11 01:42] makseq commented on #537
For example, go to this link:
https://app.labelstud.io/api/project-switch?uuid=44cfc35a-9296-4c04-af87-9f8a6ccd6f57

[2021-01-11 01:46] twsl commented on #537
That link redirected me to the project setup page. Moreover I cannot find this section within the current docker image. does this require a version higher than 0.8.2?

[2021-01-11 01:50] makseq commented on #537
Yes, it's a good idea.

[2021-01-11 01:55] twsl commented on #537
A dedicated tab to show all existing projects across sessions where you can switch without first going to the setup page might be a nice idea tho. Right now this would require me to remember the uuids

[2021-01-11 22:17] makseq commented on #537
But you can create a project and specify its name.

[2021-01-12 12:05] sfczekalski opened #538 "Default value for Choice"
**Is your feature request related to a problem? Please describe.**
I'm very happy with label-studio, however the feature I'm missing is support for default value for some choice.

**Describe the solution you'd like**
I would like to have a simple way to specify default value for some choice. For example, adding an attribute "default=<value>" to the "Choices" tag.

**Describe alternatives you've co

[2021-01-12 12:36] blanchefort opened #539 "NER: incorrect label positions in results"
Label positions are not always correct. Perhaps this is due to the fact that the text contains emojis and special symbols ('\r\n').

Example of marked result:

[code]

And example of a label and its position in the text:

[code]

But when I take a chunk of the text at the specified positions, I get this:

[code]

**How do I need to format the text to get the correct positions?**

[2021-01-12 14:02] OlehYashchuk commented on #222
The approach doesn't directly applicable on Windows.
I want to create an audio annotation project with pre-annotations. Everything works fine on macOS/Ubuntu, but I have to import that project on Windows machine. And I've stacked on specifying path to a file in JSON tasks.
In order to figure out the template of path specification I've tried to import a file through drug&drop window and checked the

[2021-01-12 17:00] makseq commented on #498
@davodogster Thank you very much, Happy New Year too!
Right now we are working on a new data manager release (on this week). After this we will discuss this issue with our team.

[2021-01-12 17:38] makseq commented on #537
Feel free to ask anything here if you have more question.

[2021-01-12 17:38] #537 closed

[2021-01-12 17:49] makseq commented on #222
Try this scheme:

1. Add audio files via drag&drop
2. Call `wget http://localhost:8080/api/tasks > all_tasks.json`
3. Remove all tasks (this action will leave uploaded files in place)
4. Make `tasks = json.load(open('all_tasks.json'))['tasks']`
5. Add predictions to `tasks`
6. Save `tasks` to `import.json`
7. Import via GUI `import.json`

[2021-01-12 20:06] pavelgrib opened #540 "De-duplicating uploaded tasks"
**Is your feature request related to a problem? Please describe.**
While using LabelStudio, I occasionally upload duplicate tasks (text labeling) and there is no mechanism for removing duplicates.

**Describe the solution you'd like**
It would be great if there was a mechanism to deduplicate before presenting for labeling or while uploading.

**Additional context**
This happens when I do front-end

[2021-01-12 20:07] pavelgrib opened #541 "deduplicate labeling tasks"
**Is your feature request related to a problem? Please describe.**
While using LabelStudio, I occasionally upload duplicate tasks (text labeling) and there is no mechanism for removing duplicates.

**Describe the solution you'd like**
It would be great if there was a mechanism to deduplicate before presenting for labeling or while uploading.

**Additional context**
This happens when I do front-end

[2021-01-12 20:07] #541 closed

[2021-01-12 20:11] pavelgrib opened #542 "Ability to have multiple users logged in to do labeling"
**Is your feature request related to a problem? Please describe.**
Different people currently connect to my local instance of Label Studio.  It would be nice if their labeling work was associated with their username.

**Describe the solution you'd like**
I would like to have multiple users be able to label tasks without accidentally labeling the same task and being able to have their own labeling

[2021-01-12 20:20] makseq commented on #542
Yes, this is the most desirable topic we hear from the community and we working on it right now!

[2021-01-12 22:09] niklub commented on #538
Hi, @sfczekalski ! There is `selected="true"` parameter for Choice that preselects one of checkboxes (check [docs](https://labelstud.io/tags/choice.html#Parameters)). Is that what you're looking for ?

[2021-01-13 08:00] tristanratz commented on #476
I had the same problem. Only thing that worked for me was downsampling the photos to a smaller shape

[2021-01-13 08:54] GiladE opened #543 "Fails to delete completion stored on s3"
**Describe the bug**
When trying to delete a `task_completion` that is on s3 it fails with a `NotImplementedError`

**To Reproduce**
Steps to reproduce the behaviour:
1. Have completions target storage set to s3
2. Create a completion for a task
3. Delete the completion
4. See error

**Expected behavior**
Expect the `task_completion` to be deleted

**Error**

[code]

**Environment (please complete

[2021-01-13 09:02] makseq commented on #543
Label studio doesn't support completion deletion for storages because it could be potentially danger for user data.

[2021-01-13 12:23] sfczekalski commented on #538
This is something I was looking for, sorry I didn't notice it in the docs. Many thanks! I'm closing the issue.

[2021-01-13 12:23] #538 closed

[2021-01-13 13:12] niklub commented on #456
Hi, @circlelychen @guoweis-outreach ! The aforementioned issue has been fixed since `label-studio==0.9.0` release (Now it acts like adding "Meta" to the region within a similar UI). Please try it out and reopen the issue if the problem persists on your side.

[2021-01-13 13:12] #456 closed

[2021-01-13 13:13] #500 closed

[2021-01-13 13:20] niklub commented on #543
In general, Label Studio is not intended to fully manage cloud storage - only "List/Read" and "Put" actions are allowed. It's better to rely on storage clients. We won't support this functionality, but I agree that we should better handle that exception at the moment.

[2021-01-13 14:13] GiladE commented on #543
Thank you for your responses!! It makes sense that LS doesn't take responsibility for that.

[2021-01-13 14:13] #543 closed

[2021-01-13 22:06] makseq commented on #476
@tristanratz What image sizes do you have?

[2021-01-13 23:12] makseq commented on #536
@abfshaal If you want to edit already existing task you need to do it in `your_project/tasks.json` file directly.
Or why do you need it?

[2021-01-14 02:02] hlomzik commented on #539
Hi, @blanchefort ! Tested this in different cases and finally understood what might be a problem.
That's emoji, right, these complicated unicode characters.
And in LS we just use internal browser's mechanic, but it treats emoji as 2 (or more) symbols, so region calculations are broken after this point.
(`\r\n` are fine by the way)
I'll try to figure out what to do with emojis. For now (if you have

[2021-01-14 07:27] tristanratz commented on #476
My images are sized 700px on the x-axis and dynamically on the y axis (according to the ratio)

[2021-01-14 10:09] bram2506 opened #544 "Change export zip name to distinguish between export types"
**Is your feature request related to a problem? Please describe.**
Currently when labelling sometimes I want to export to VOC format while other times to Brush Labels. So for example switching between image segmentation and object detection. The export zip file name is now hardcodes to the datetime of the export moment.

**Describe the solution you'd like**
Being able to give in the export name co

[2021-01-14 10:21] bram2506 opened #545 "Change folder of tasks.json"
**Describe the bug**
For some technical reasons i want to change the folder where the tasks.json is placed so that i can update it from a mount for example but that i don;t have to mount the whole project folder.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to tasks.json
2. Change "input_path": "./tasks.json" to for example "input_path": "./upload/tasks.json"
3. start the labelstudio
4

[2021-01-14 11:57] CharlieBickerton commented on #542
Thats awesome to hear @makseq, do you have any idea on release timelines?

[2021-01-14 13:54] AchilleSou opened #546 "sampling method not updating when specified in a custom config.py file"
**Describe the bug**
As I specified the sampling method `"prediction-score-min"` in my custom config.py, the field `"sampling"` keeps the value `"sequential"` in the end.
What is strange is that I added in my custom config.py `"enable_predictions_button": true` which is kept to the final config.py. (so the bug seems to be related to the `"sampling"` field only)

I used the command : `label-studio

[2021-01-14 17:46] slychief opened #547 "Predictions from json file not shown in Label-Studio"
Hi,

I am manually adding predictions to a task json file as shown below. Unfortunately, the predictions are not shown in the label-studio. I am using Label Studio version: 0.9.0-2.

[code]

[2021-01-14 17:46] slychief opened #548 "Predictions added to json file not shown in Label-Studio"
Hi,

I am manually adding predictions to a task json file as shown below. Unfortunately, the predictions are not shown in the label-studio. I am using Label Studio version: 0.9.0-2.

[code]

[2021-01-14 20:25] makseq commented on #547
Closed as duplicate: https://github.com/heartexlabs/label-studio/issues/548

[2021-01-14 20:25] #547 closed

[2021-01-14 20:54] makseq commented on #548
It seems it's a bug. Try to restart Label Studio.

[2021-01-15 00:09] makseq commented on #546
@AchilleSou Could you check label-studio==0.9.0, we've introduced a new data manager there and now sampling is equal to the ordering by prediction scores column in data manager. Maybe this feature will be helpful for you instead of the old way.

[2021-01-15 00:59] makseq commented on #542
Yes, we are planning to release it in 2-3 month, there is a huge amount of work.

[2021-01-15 01:00] makseq commented on #548
@slychief Just released 0.9.0.post3, please, switch to it and check how it works there.

[2021-01-15 01:13] makseq commented on #544
@bram2506 Could you check this PR: https://github.com/heartexlabs/label-studio/pull/551, I've added this option there.

[2021-01-15 01:20] makseq commented on #545
@bram2506 why might not you use a symlink to tasks.json? Probably we won't add this feature, because right now we are working on switching to SQLite instead of files DB. But your PR with this feature is highly appreciated.

[2021-01-15 01:26] makseq commented on #540
What LS version do you use? Have you tried 0.9.0 already? There are a lot of reworked import schemes.

[2021-01-15 01:29] makseq commented on #530
@MNMaqsood This is not simple to build a good UX for this feature, because texts can be very long. Only tooltips are the fast solution.

[2021-01-15 01:55] MarsSu0618 opened #552 "Is there an upper limit for the "task_id" value?"
## Problem
Hi, Everyone. I have a question about label studio task. When data is labeled that would be assign `Task ID`. I want to check wether "task_id" value have there an upper limit? Because our data still increasing.

## ScreenShot
![label-studio task_id](https://user-images.githubusercontent.com/72376532/104670956-c8d1f780-5717-11eb-84a4-c498f777dbb7.png)

[2021-01-15 07:39] slychief commented on #548
1. Thanks for the quick response!
2. Apologies for the duplicated issues. I was forwarded to a 404-Error-page after submitting the issue from. I used the back-button and tried again several times. I wasn't aware that the issues were actually created.

I've just updated to 0.9.0.post3 and unfortunately it is still not working.

Here are the steps that I am executing. Maybe there is also something w

[2021-01-15 09:09] AchilleSou commented on #546
I did that but I does not seems to take the `"score"`value from my model predictions result into account...
This is my task after my model prediction on it :
![image](https://user-images.githubusercontent.com/37437462/104704658-33cffe00-5719-11eb-9f29-6ff7081c8a58.png)
But the prediction score value stays at 0 in the task table :
![image](https://user-images.githubusercontent.com/37437462/10470480

[2021-01-15 13:06] CharlieBickerton commented on #542
Definately a large piece of work, I appreicate that!

[2021-01-15 13:32] hlomzik commented on #487
That one is fixed in 0.8.* releases and overall TextArea ux was improved, so closing this.

[2021-01-15 13:32] #487 closed

[2021-01-15 21:15] hlomzik commented on #491
For now the hotkey for skipping task is `ctrl+space` (not good for Mac users though). And I checked another hotkeys — they don't clash with available symbols for labels' hotkeys. So that's not an issue anymore.
But we are working on better hotkeys anyway.

[2021-01-15 21:15] #491 closed

[2021-01-16 00:32] makseq commented on #546
Sorry, it's my fault and bug. Check this PR branch https://github.com/heartexlabs/label-studio/pull/551, it must work.

[2021-01-16 00:37] makseq commented on #552
@MarsSu0618 We use converts to integers somewhere, so, it's limited to python int (2 147 483 647). But LS performance is optimized for not more than 100 000 tasks. You can try to import huge amount of tasks, but you need a very powerful machine for this (especially with fast hard drive).

[2021-01-17 08:04] hueiyuan commented on #552
@makseq Ok, Thank you for response.

[2021-01-17 08:09] #552 closed

[2021-01-17 09:50] andreadipalma opened #554 "Unable to start a labeling job on timeseries"
**Describe the bug**
Trying to use the new timeseries feature. I'm unable to load any data of my dataset (a csv format) with a local installation of Label-Studio. The steps described into the documentation do not explain the precise sequence of steps to follow. This could (to me) more a documentation issue than a bug.

**To Reproduce**
Steps to reproduce:
1. From a clean project: go to Import
2. D

[2021-01-17 11:22] makseq commented on #554
@andreadipalma what is your LS version?

[2021-01-17 11:56] Stercator opened #555 "ERROR: label-studio-0.9.0-4.tar.gz ... has different version in metadata: '0.9.0'"
Python 3.8.6 on Windows 10.0.18363
[code]
Same output for `pip install label-studio==0.9.0` (automatically looks up same `label-studio-0.9.0-4.tar.gz` file)
`pip install label-studio==0.8.2` runs successfully.

Any ideas on how to solve this issue?

[2021-01-17 12:11] niklub commented on #554
Hi! Have you tried to uncheck the checkbox “Interpret each line in files...” while doing import? because time series works with an entire file as a single task entity

[2021-01-17 15:49] andreadipalma commented on #554
Hi  @makseq
the Label-Studio version is 0.9.0

@niklub
just tried unchecking the checkbox, I see a single row now after loading the file (see screenshot) but when I click "label" I get the same error message (missing configuration, as previously described).

I'm posting also a sequence of screenshots presenting the steps I'm doing.

![image](https://user-images.githubusercontent.com/8280980/104847

[2021-01-17 15:54] niklub commented on #554
yeah, now you need to setup your TimeSeries config, with column names specified in <Channel> tags

[2021-01-17 16:23] andreadipalma commented on #554
That's it! Yeah now data are visible and I can move on with labeling!

Thank you so much @niklub , I appreciated your help a lot.

[2021-01-17 16:23] #554 closed

[2021-01-17 20:24] makseq commented on #555
@Stercator What is your pip version? (check pip --version)

[2021-01-17 20:43] makseq commented on #555
Try to use --use-deprecated legacy-resolver:

`pip install --use-deprecated legacy-resolver label-studio==0.9.0`

Does it help?

[2021-01-18 08:14] bram2506 commented on #545
@makseq Okay thanks for the explanation. Feels to me then that this issue is redundant when the switch is made to SQLite. And to be honest I don't know how to change it correctly in the code myself.

[2021-01-18 09:58] makseq commented on #555
@Stercator  Or try now:
`pip install -U label-studio`

[2021-01-18 12:21] jbogensperger opened #556 ".conll export format misses labels or assigns them to the subsequent token"
**Describe the bug**
The .conll-format exports for Named Entity Recognition miss tags or assign them to wrong tokens.
I checked the .json exports work fine, but for some reason the .conll exports are wrong.

**To Reproduce**
Label entities in the NER setting and compare the outputs of .conll and .json

**Expected behavior**
If a token was partially or fully tagged, it should be displayed in .conll

[2021-01-18 16:57] EntilZha opened #557 "Loosen Pip Requirements"
I am working with label-studio within another project and running into issues with pip requirements being to strict. Looking at the `requirements.txt` file indicates that there are many dependencies pinned on minor/patch versions, for example   `requests==2.22.00`. This unfortunately makes it difficult to resolve dependencies. Would it be possible to modify the dependencies on the PyPI packages to

[2021-01-18 17:00] makseq commented on #557
I think we can try to replace it with >=2.22.0

[2021-01-18 20:19] makseq commented on #556
Thank you very much for you contribution!

[2021-01-18 22:41] LamDang opened #558 "Check latest version make app hang undefinitely when running offline"
Hello,

When I run Label Studio in an offline environment (without Internet Access), the app seems to hang indefinitely at start. I think it could be because of https://github.com/heartexlabs/label-studio/blob/707223a0a2059c63bc89aab5250450672eb746a9/label_studio/server.py#L35.

https://github.com/heartexlabs/label-studio/blob/707223a0a2059c63bc89aab5250450672eb746a9/label_studio/utils/misc.py#L38

[2021-01-18 22:43] hlomzik commented on #476
Hi! That's sad, but currently brushes are not optimized, so their speed and size are badly depend on the image size (more specifically, number of pixels). So if it's possible to downsample your images, that's a good temporary solution.
I'm working on optimization, which increase speed significantly, will be released soon.
Sorry for inconvenience.

[2021-01-18 23:10] makseq commented on #558
@LamDang Thank you for your report! Could you make a PR?

[2021-01-19 00:39] makseq commented on #548
@slychief I just checked this steps:

0. Setup labeling config
[code]

1. Import new wav/mp3
2. Create completion
3. Press "Show task code" in data manager (last column in task row)
4. Copy task code, make prediction section the same as completion
5. Import copied and modified task code again

OR you can try to import this right now:
[code]

![image](https://user-images.githubusercontent.com/50178

[2021-01-19 00:40] makseq commented on #548
Will it help you?

[2021-01-19 03:13] jeannefukumaru opened #559 "Permission denied when syncing tasks from GCS to GCE VM"
Hello!
Bug description
I have provisioned a GCP VM and run `label-studio-start` and am getting an error that seems similar to [this GitHub issue](https://github.com/heartexlabs/label-studio/issues/360). For the record running the same setup command on my local works fine.
The full label studio cli command is label-studio start ls_ui --init --target gcs-completions --target-path annotations --sourc

[2021-01-19 06:31] slychief commented on #548
OK, I found my problem. The important keyword here is “import”!

When I import the changed completion file via the import page, the predictions are shown correctly. When I just change the completion files in the completion directory and restart label-studio, the predictions are not loaded from these files and the “predictions” field in the task code is empty.

My workflow processes a lot of files

[2021-01-19 09:59] Stercator commented on #555
Thanks @makseq, the simple update succeeded!

[2021-01-19 09:59] #555 closed

[2021-01-19 12:05] #558 closed

[2021-01-19 12:16] makseq commented on #557
I've added it here:
https://github.com/heartexlabs/label-studio/pull/561

[2021-01-19 12:19] #557 closed

[2021-01-19 14:56] makseq commented on #548
@slychief
I think your mistake is in the wrong place for predictions. They are stored and loaded from tasks.json, not from completions/*.json. But no matter.

There were several requests about task updates ability. I implemented it in this PR:
https://github.com/heartexlabs/label-studio/pull/561

Please, check it; and now you don't need to restart LS. Usage example:

[code]

[2021-01-19 15:03] makseq commented on #486
Feel free to reopen if problem is still persistent.

[2021-01-19 15:03] #486 closed

[2021-01-19 15:46] #544 closed

[2021-01-20 09:31] Pradip2205 opened #562 "Attribute error while running NER backend using transformers"
predict_set = SpanLabeledTextDataset(texts, tokenizer=self.tokenizer, **self._dataset_params_dict)
AttributeError: 'TransformersBasedTagger' object has no attribute 'tokenizer'

[2021-01-20 09:36] Pradip2205 commented on #468
Even I am facing the same issue.

[2021-01-20 10:30] Zahlii opened #563 "Bump dependency for attrs package to comply with e.g. pytest"
Currently, label-studio fixes the attrs dependency with 19.1.0. ( https://github.com/heartexlabs/label-studio/blob/master/requirements.txt#L3 ).

Many different libraries, including e.g. pytest however require explicitly for >=19.2.0 ( https://github.com/pytest-dev/pytest/blob/6.2.1/setup.cfg#L42)

This leads to many dependency failures as we cannot use latets pytest anymore to test diverse builds

[2021-01-20 15:13] makseq commented on #563
Is it ok to make it >= 19.1.0 in LS?

[2021-01-20 15:45] Zahlii commented on #563
I would say yes; I just want to prevent the obvious conflict that you get when you do pip install pytest label-studio. As long as label-studio also supports the changes introduced by attrs 19.2, it should be fine.

[2021-01-20 16:13] AchilleSou commented on #546
Sorry for the delayed answer, works like a charm now !
I'm closing the issue, thank you for your time :)

[2021-01-20 16:13] #546 closed

[2021-01-20 16:26] makseq commented on #563
I've done it in 0.9.0.post5
https://github.com/heartexlabs/label-studio/pull/561
Check it please.

[2021-01-20 16:26] #563 closed

[2021-01-20 16:36] sagarmk commented on #468
Hey guys got update from labelstudio team.

This behaviour is as expected, there isn't any ajax reload, you can manually reload the page and check if its done or not. Also the logs should give you an idea.

[2021-01-20 16:36] #468 closed

[2021-01-20 19:17] Biber05 opened #564 "Signed URL expires with >1000 tasks from Google Cloud Storage"
Hello,

I setup an environment using Terraform with a GCP Bucket as an image store and an App Engine with LabelStudio. Syncing the entire buckets works fine. But after a while some images cannot be loaded from GCP due X-Goog-Expire expiration.

The error message shows "Cannot load image <Signed-URL>.

Any Advice?

THANKS!

[2021-01-21 10:01] JINHXu opened #565 "unable to add an ML backend"
Hey there,

When I try to initialize an ML backend with `label-studio-ml init spacy_backend --script /path/to/model.py`, I constantly get the error message:
[code]
and I tried the --force option, it seemed to work but no ML backend was actually added when I go to http://localhost:8080/model

Does anyone have an idea what could have possibly gone wrong here? Any help would be so appreciated!

Best,

[2021-01-21 20:18] sethfarns opened #566 "INIT_COMMAND override being ignored in Amazon ECS"
Hello, I have the Label Studio (version 0.8.2) docker service running in Amazon ECS, as built from the docker-compose.yml file in your repo. It runs fine, but whenever I pass a container override for the INIT_COMMAND, it is ignored by the service. This is my syntax for the override:
[code]
As I said, the task runs fine, but it's clearly ignoring this override as the given template is not loaded. I

[2021-01-21 20:53] makseq commented on #566
@sethfarns
Hello, as far as I remember docker-compose `command` is overridden by `tools/run.sh` called from Dockerfile.
Could you check this PR and branch: https://github.com/heartexlabs/label-studio/pull/561
I've added `INIT_COMMAND` to `run.sh`.

[2021-01-21 21:29] sethfarns commented on #566
Worked like a charm. Thanks!

[2021-01-21 21:32] makseq commented on #566
Wow! I was glad to help! :slightly_smiling_face:

[2021-01-21 21:32] #566 closed

[2021-01-21 21:51] makseq commented on #565
Yes, you need to use --force if you have already created the backend before.

What's going on when I add ML backend in LS via input field below?
![image](https://user-images.githubusercontent.com/501780/105416855-cad21400-5c4b-11eb-80d1-bd36e4804b15.png)

Are there any errors?

[2021-01-21 21:55] makseq commented on #564
Hello!

How do you import your storage data exactly? Do you use LS storage dialog?

![image](https://user-images.githubusercontent.com/501780/105417275-6e232900-5c4c-11eb-9b4c-215ec6a4e466.png)

[2021-01-21 23:37] JINHXu commented on #565
it pops a window that says "ml backend with url: "http://localhost:9090" is not connected."

[2021-01-21 23:50] makseq commented on #565
@JINHXu And have you start an ML server?
`label-studio-ml start spacy_backend`

[2021-01-21 23:53] JINHXu commented on #565
yes, I did. Though I opened another terminal window to run this, it seemed impossible to run this command in the same terminal window. Could this be the problem? btw I was just wondering if the problem was with `model.py`, I only added one pattern for drug names recognition with a SpaCy model.

[2021-01-22 00:10] makseq commented on #565
I think, no.

What is in your ML model logs?

[2021-01-22 00:38] JINHXu commented on #565
[code]

[2021-01-22 00:43] makseq commented on #565
@JINHXu right after you add ML backend to LS it must be `/setup` called in your logs. Is `/setup` there?

[2021-01-22 00:47] JINHXu commented on #565
Nah, no `/setup` there, these are everything I got so far...

[2021-01-22 00:55] JINHXu commented on #565
Should this imply the problem is with `model.py`?

[2021-01-22 07:54] makseq commented on #565
No, it's not a problem with model.py. it seems to be problem with connection. Maybe your firewall restricted it?

[2021-01-22 08:04] JINHXu commented on #565
Unlikely, my computer's firewall is turned off :(

[2021-01-22 11:01] makseq commented on #565
try to
1 `label-studio-ml start spacy_backend --log-level DEBUG`
2 add this ML backend to LS via GUI
3 send me logs from label-studio-ml backend

[2021-01-23 01:16] JINHXu commented on #565
After adding this backend via GUI, these are still all I got in the terminal:
[code]
there was also, again, the pop-up window that says "ML backend with URL: "http://localhost:9090" is not connected."

[2021-01-23 08:21] makseq commented on #565
Ok. I'm still thinking that the problem is because something blocks the connection. Let's try to do the same with label studio server: add --log-debug with start command and show me your logs please.

[2021-01-23 23:58] JINHXu commented on #565
It appears --log-debug is not a recognizable argument? I ran `label-studio-ml start spacy_backend --log-debug`, and
[code]
or
[code]

[2021-01-23 23:59] JINHXu commented on #565
though might this warning suggest something?
[code]

[2021-01-24 08:48] makseq commented on #565
Sorry, it was misspell, I meant  --log-level DEBUG

[2021-01-24 09:01] JINHXu commented on #565
Sure, but I think we might have tried it already? But I just tried it again:
[code]
still only one line in logs and then nothing...

and by manually adding the backend, I got "ValueError: ML backend with URL: "http://localhost:9090" is not connected." again.

[2021-01-24 09:03] makseq commented on #565
No, you should to add it to
label-studio start your_project --log-level DEBUG

[2021-01-24 09:08] JINHXu commented on #565
Ah sorry, here are the logs:
[code]

[2021-01-24 09:09] JINHXu commented on #565
And in GUI:
[code]

[2021-01-24 09:31] makseq commented on #565
I think you need to recreate the project from scratch and try again. There is some strange error, it seems you modified some project files by hands..

[2021-01-24 09:40] JINHXu commented on #565
I think this time I got some different errors:

[code]
and

[code]

[2021-01-24 10:05] JINHXu commented on #565
I tried recreating about three times, still does not work :(
I have not touched any of those project files.

[2021-01-24 10:06] JINHXu commented on #565
these are the files btw
![Screenshot 2021-01-24 at 18 06 14](https://user-images.githubusercontent.com/36717127/105627001-e23d1700-5e6e-11eb-8bf2-115e5aac7215.png)

[2021-01-24 10:09] JINHXu commented on #565
or should I maybe wait longer for the backend to get started?

[2021-01-24 10:54] makseq commented on #565
Could you send me your project folder and your ml backend folder, I'll check it? As zip archive

[2021-01-24 11:39] JINHXu commented on #565
Sure! It is just sent to you by email. Thanks so much for your help!

[2021-01-24 11:44] makseq commented on #565
Okay I'll be waiting for you.

On Sun, Jan 24, 2021, 14:39 xujinghua <notifications@github.com> wrote:

[2021-01-24 11:50] JINHXu commented on #565
I just sent it to you, the mail subject goes by "Label Studio issue #565, project folders".

[2021-01-24 12:10] makseq commented on #565
Hm.. did you use makseq@gmail.com? Can't see any emails from you..

[2021-01-24 12:52] JINHXu commented on #565
Sent for sure, maybe it is in your spam? But anyway, let me send it again :D
![Screenshot 2021-01-24 at 20 48 53](https://user-images.githubusercontent.com/36717127/105630704-a1043180-5e85-11eb-8a1e-e88eb9139fe7.png)

[2021-01-25 21:18] makseq commented on #565
@JINHXu I've checked your project, everything with model connection works fine. Watch video:

Uploading some.mp4…

[2021-01-26 02:28] jthaloor opened #568 "Export is only exporting annotations and not the images"
Version:
Label Studio version: 0.9.0.post5
==
Python error stack
[2021-01-25 21:13:39,161] [ERROR] [label_studio_converter.converter::convert_to_voc::412] Unable to download /data/upload/f78f75-IMG_7224.jpg. The item {'id': 5, 'input': {'image': '/data/upload/f78f75-IMG_7224.jpg'}, 'output': defaultdict(<class 'list'>, {'label': [{'height': 16.4, 'rectanglelabels': ['clubhandle'], 'rotation': 0, '

[2021-01-26 02:56] jthaloor commented on #568
Tested on 0.8.2 and all export types work.  Appears the 0.9.x version is broken.

[2021-01-26 10:28] abfshaal opened #569 "Using Folder Objects as storage S3"
Hello!

I would like to first say that label studio is awesome, and the amount of frequent new features added is even more astonishing.

I just wanted to ask if it is possible to use object folders inside S3 buckets to store tasks/completions, instead of the whole bucket.

Many Thanks!

[2021-01-26 10:52] abfshaal commented on #569
I have realized I was using the prefix wrong, it is all working now

[2021-01-26 12:19] #569 closed

[2021-01-26 15:28] makseq commented on #568
@jthaloor Thank you very much, it's a bug, I'll try to solve it asap.

[2021-01-26 16:12] bensteku opened #570 "Zoom and deselect region shortcut gone in 0.9.0.post5"
I just upgraded from 0.8.2 to 0.9.0.post5 via pip. I noticed two oversights/bugs, which make 0.9.0 greatly inferior to 0.8.2:

1. The zoom button when labeling images is gone. It is of note here that even in 0.8.2, the zoom button was only present if I started labeling trough the numbered to-do list in the start-up screen that pops up after 'label-studio start ...'. However, as that screen is gone

[2021-01-26 20:33] Biber05 commented on #564
Actual I am using Terraform and Google App Engine to setup everything. I use this script to setup LabelStudio

`label-studio start data --init --force \
  -b -l config.xml -s gcs --source-path <IMAGE_BUCKET> --source-params "{\"use_blob_urls\": true, \"regex\": \".*png\"}" \
  -t gcs-completions --target-path <IMAGE_BUCKET> --target-params "{\"create_local_copy\": true, \"prefix\": \"labels\"}" \

[2021-01-26 20:40] hlomzik commented on #570
Hi! Sad to hear about this problems. But I just checked and everything works fine.
1. What config do you use? For zoom buttons there is `<Image zoomControl="true"/>` parameter; also there is `zoom="true"` for zooming by `ctrl+wheel`. And they work in latest version as well.
2. There is always "Unselect" button in region's info panel (with `u` as a hotkey). `Esc` was finally introduced recently and

[2021-01-26 22:29] makseq commented on #568
@jthaloor Try to
[code]
and do export again.

[2021-01-27 04:56] JINHXu commented on #565
Hi Max,

Many thanks for this video! But the `en_cor_web` model did not cause the issue, I have this model downloaded in my local machine.
Yesterday I gave it a couple of more tries on other networks, and it worked... As a turns our you are right, it was indeed a connection issue. When you first mentioned this might have been a connection problem last week, I actually tried on two different networ

[2021-01-27 04:56] #565 closed

[2021-01-27 11:30] makseq commented on #565
@JINHXu No worry about it. Everyone has been in such situation :smile:

[2021-01-29 00:32] jthaloor commented on #568
Tested and it is working now.

label-studio             0.9.0.post5
label-studio-converter   0.0.22.post2

[2021-01-29 14:45] MarsSu0618 opened #573 "sometime show remarked data when labeling."
### Problems
Hi, I have encountered some problems when i label my data. The label studio tool sometimes show remarked data.
For example, If i had labeled `the first data`. but when i label 500 or more data, the first remarked data show again.
I have checked my data that do not duplicated. So I want to check if whether the tool bug?
Anyone have any ideas?

### Environment
* label-studio: `0.8.0`
*

[2021-01-29 14:51] makseq commented on #573
Hi, I think you use an old LS version. There are many bugfixes in 0.9, please, try it.

[2021-01-29 15:01] MarsSu0618 commented on #573
@makseq Thanks for your response.
I will try it with new version 0.9.0. But i want to check whether if the bug show in older version?

[2021-01-29 15:06] makseq commented on #573
You need to remember task ID of doubled tasks, if they are the same it could be a bug.

[2021-01-29 15:13] MarsSu0618 commented on #573
@makseq Yes. Task ID sometimes duplicated. If i label `task-id:101`, when i label `task-id:150` it show `101` again.
So upgrade version 0.9 that have this issue?

[2021-01-29 15:24] makseq commented on #573
Can you check: when you see the same task again, has it a completion already? (Check it using task manager)

[2021-01-29 15:44] MarsSu0618 commented on #573
@makseq I have check it . the completion is already. But task id show again when i labeling.

[2021-01-29 17:23] #568 closed

[2021-01-29 17:24] makseq commented on #573
Yep, I think it's a bug..

[2021-01-29 17:34] MarsSu0618 commented on #573
@makseq if this is a bug, it is fixed in version 0.9?

[2021-01-29 17:40] MarsSu0618 commented on #573
@makseq btw, I used version 0.9.0, connect aws s3 show some error message.follow as
<img width="1280" alt="截圖 2021-01-30 上午1 39 46" src="https://user-images.githubusercontent.com/72376532/106308704-0ac47700-629c-11eb-9665-89981443589f.png">

[2021-01-29 17:55] makseq commented on #573
In this case you have something wrong in s3 files. Are there are json files on s3?

[2021-01-29 17:58] MarsSu0618 commented on #573
@makseq Yes, I have json file. format follow as:
[code]

[2021-01-29 18:27] makseq commented on #573
Yep, this is an error: you must not use list of tasks inside of your json files on s3. Only one task per file. It's a limitation by LS design.

[2021-01-29 18:33] MarsSu0618 commented on #573
so I need to remove list of task?
[code]

and remark issue still not resolve, right?

[2021-01-29 18:53] makseq commented on #573
yes, leave task as dict {} only.

you mean duplicates in the labeling?

[2021-01-30 20:45] makseq commented on #564
And what if you will resync storage via GUI ?

[2021-01-31 13:04] makseq commented on #559
Hello,

It's definitely a problem with credential settings.

And where did you exactly store your google credential? What is your GOOGLE_APPLICATION_CREDENTIALS? If I understand correctly it must point to your file with credentials.

https://cloud.google.com/storage/docs/reference/libraries#setting_up_authentication

[2021-02-01 00:58] MarsSu0618 commented on #573
@makseq I consider the problem is `User Interface` bug.
Because I used version `0.9.0` UI that it do not have this problem. But used old user interface still have task_id duplicates problem.
So We decide to labeling with new interface. Thanks.

[2021-02-01 08:30] MarsSu0618 commented on #573
@makseq Hi, We found other problems about `version 0.9.0`.
Our data are save AWS S3. Then, Sometimes label studio interface scan have some problem. Please follow as photo.
![label-studio-image](https://user-images.githubusercontent.com/72376532/106433115-afb49f00-64aa-11eb-988d-2211ead9ba55.png)

It can not encode file text. Just show file link on s3. and current solution is restart tool service,

[2021-02-01 09:47] makseq commented on #573
Sorry, what is RWD :slightly_smiling_face: ?

[2021-02-01 13:13] makseq commented on #573
But what will you see if you go to the labeling? Does it load for labeling normally?

[2021-02-01 13:54] MarsSu0618 commented on #573
@makseq it can not how normal text. just show text json file link on s3.
Maybe issue like #497 .

[2021-02-01 14:58] makseq commented on #573
What files do you store on your storage? txt or json? Can you show their examples.

[2021-02-01 15:07] MarsSu0618 commented on #573
@makseq it is json file.
<img width="898" alt="截圖 2021-02-01 下午11 06 17" src="https://user-images.githubusercontent.com/72376532/106476516-199c6b00-64e2-11eb-9dc1-61100ef195ad.png">
data content:
[code]

[2021-02-01 15:10] makseq commented on #573
Ok, I'll check it by myself and come back to you.

[2021-02-01 15:10] #497 closed

[2021-02-01 15:15] MarsSu0618 commented on #573
@makseq  Thank you.
I found you use `ujson` lib instead of `json` lib. Maybe it is problem?

[2021-02-01 15:16] makseq commented on #573
As I know it's a full analogue of json. But much faster.

[2021-02-01 15:18] MarsSu0618 commented on #573
@makseq OK, Maybe you need check `readable_path` from `s3.py`....

[2021-02-01 15:19] makseq commented on #573
If you have public s3 storage with these example files it will be much faster to check it for me.

[2021-02-01 19:28] lfeldb commented on #507
@makseq This is still an issue in the latest version:

I fixed it for me by modifying the following files (same fix as @laynr):

label_studio/templates/welcome.html line 64:
`<a class="ui button positive" href="/import">Import</a>`
To
`<a class="ui button positive" href="./import">Import</a>`

label_studio/static/js/build/index.js:
`{return window.location.href="/import"}`
To
`{return window.locat

[2021-02-02 00:33] MarsSu0618 commented on #573
@makseq sorry. because these data are sensitive data that can not be set public  to check.

[2021-02-02 03:00] davodogster commented on #498
Hi @makseq and @hlomzik  I'm still very keen to use the time series annotation tool once those two small changes are made - dynamic Y axis which auto scales the current window, and the other nice feature but not essential - to be able to upload pre-annotated data.
Do you have a time frame on either of these features? I want to use the tool to label my data for a project at work.

Best Regards,
Sam

[2021-02-02 06:56] MarsSu0618 commented on #573
@makseq
We found this problem maybe occurred in `import` interface. please follow as image:
![2021-02-02 image](https://user-images.githubusercontent.com/72376532/106563190-6033a900-6566-11eb-8d6f-f61a7bbb76cc.png)
When we click `import` button and show [s3 error](https://github.com/heartexlabs/label-studio/issues/573#issuecomment-770672187).
In addition, We found other solution, which `reset data

[2021-02-02 11:46] azarezade opened #578 "Showing unicode when enter Non-ASCII characters for labels"
**Describe the bug**
It seems there is problem in showing Non-ASCII characters like Persian (fa). For example I transcribed some audio in Persian (فارسی) and there are unicode characters instead of Persian chars in the "Completed results" column of the following picture:

<img width="888" alt="Screen Shot 1399-11-14 at 3 11 13 PM" src="https://user-images.githubusercontent.com/11195749/106595761-4

[2021-02-02 15:48] makseq commented on #573
@MarsSu0618 Hm, I see that you have a checkbox "Treat every bucket object as source file ...". In your case it must be off... Maybe something change its state unexpectedly?

[2021-02-02 17:13] makseq commented on #578
@azarezade Can you show your `/api/tasks` page?

[2021-02-02 17:15] makseq commented on #498
Hi! It's glad to hear you are still keen to use LS :smiley:
We will discuss this feature on this week with our team.

[2021-02-02 17:18] makseq commented on #570
@bensteku are you still having troubles?

[2021-02-03 04:17] Rishabh-hyperverge commented on #418
It works 🕺🙏🏻

[2021-02-03 04:21] Rishabh-hyperverge opened #580 "Pagination feature gone with new 0.9.0 release"
**Describe the bug**
The task page has an infinite scroll as compared to the pagination option in the previous version.
This restricts the annotator's ability to navigate easily.

**To Reproduce**
Upload say 10k tasks.

**Expected behavior**
Paginated tasks list with configurable(say X) number of tasks per page.

Add any other context about the problem here.

[2021-02-03 04:23] deppp commented on #580
Hey there, any context on why that restricts the ability to navigate?

[2021-02-03 04:38] Rishabh-hyperverge commented on #580
Hi @deppp , I was speaking from a UX perspective,
say I am at the later stage in the task list, then there is too much information with an infinite scroll on the annotation page.

Pagination kept the UI clean and simple while providing the same functionality.
Let me know if this was a design choice :)

[2021-02-03 04:44] azarezade commented on #578
@makseq This is `/api/tasks` page:
<img width="1275" alt="Screen Shot 1399-11-15 at 8 13 04 AM" src="https://user-images.githubusercontent.com/11195749/106699266-c87e9b00-65f7-11eb-8662-3c89ccc98441.png">

[2021-02-03 08:26] MarsSu0618 commented on #573
@makseq I want to suggest about user interface of label studio. Hope can add `search bar` so that we can search marked data.

[2021-02-03 08:29] makseq commented on #573
@MarsSu0618  why don't you use Filters over completion results?

[2021-02-03 09:00] MarsSu0618 commented on #573
@makseq Because our data sometime have different means according to everyone and need to relabel data.
if it have the `search bar` function , it can increase user experiences and decrease search cost.

[2021-02-03 10:38] raisinglc opened #581 "Authentication for multi-session mode"
Does label-studio support signing in a multi-session project with username and password?

It works on 'start' mode, by adding username and password to config.json. However, I tried the same thing on the sub-user's config.json file. It didn't work. I still could open the project with shared link without password.

Thanks.

[2021-02-03 11:02] makseq commented on #581
@raisinglc No, it's not supported. But we will release a new backend with these features very soon.

[2021-02-03 11:47] makseq commented on #573
@MarsSu0618 Ok, I've added it to our backlog, it's a good idea. But it's not relevant for this thread :slightly_smiling_face:

So, what about your previous problem and my previous question?

 Do you still have this problem?

[2021-02-03 16:07] redbasecap opened #582 "Use the NUM PAD numbers"
Would be great if you could use also the Numpad numbers instead of just the normal numbers. Thanks a lot :)

[2021-02-03 16:43] makseq commented on #582
@redbasecap maybe you have a disabled numlock?

[2021-02-03 16:46] redbasecap commented on #582
Haha.
No i was labeling with a Team of 10 People and no one could use the Numpad.
Me too. Is it normally working?

Max <notifications@github.com> schrieb am Mi., 3. Feb. 2021, 17:43:

[2021-02-03 16:47] makseq commented on #582
And for what cases do you use numbers? For TextAreas? Or for hotkeys..

[2021-02-03 16:53] redbasecap commented on #582
For Hotkeys. I am using to set multilabel. Normaly you can press number 1
to 9 to select the right labels. (The small number next to the label)
But with the Numpad it doesnt work.
:)

By the way thank for you help!

Max <notifications@github.com> schrieb am Mi., 3. Feb. 2021, 17:47:

[2021-02-03 19:05] makseq commented on #507
@lfeldb Thank you for your report, it will be fixed in 0.9.0.post6.

[2021-02-04 03:45] raisinglc commented on #581
@makseq Glad to hear that.
Thank you:)

[2021-02-04 03:45] #581 closed

[2021-02-04 09:25] lfeldb commented on #507
@makseq Perfect, thanks!

Found two others:
label-studio/label_studio/data_import/templates/import_new.html:
line 333 & 337

[2021-02-04 12:19] #548 closed

[2021-02-04 12:19] makseq commented on #548
Feel free to reopen it if you still have this issue.

[2021-02-04 12:26] #512 closed

[2021-02-04 15:40] saguillo2000 commented on #342
Is there anyway to change the encoding from UTF-8 to ISO-8859-1 or any other encode in the text plain?

[2021-02-04 17:41] laynr opened #583 "Show Lable Studio version on Web UI"
Request: A way in the Web UI for a user to identify what version of Label Studio they are using.

Going forward it would be nice for users to be able to report what version of label-studio they are using by looking at the web page.  So for example on the home page or under settings if it said "Version 0.9.0" or "Version 0.8.2" it would be helpful (especially with UI changes).

[2021-02-04 19:29] makseq commented on #583
@laynr There is such a page and its address is `/version`

[2021-02-05 07:31] nvinayvarma189 opened #584 "Choices are getting filled in quick view with the predictions from ML backend while trying to label data"
**Describe the bug**
When we open an image to label it, we are getting the choices pre-populated by the ml backend. This may induce some bias to agree with the model and hence not turn out to be effective.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a labelling config.
2. Create an ML backend to return predictions based on the labelling config and start it.
3. Start a LS project a

[2021-02-05 14:24] niklub commented on #583
Hi, @laynr ! Thanks for the good suggestion. Indeed, the version in UI is highly needed, especially with fluctuating frontend part. We are currently working on the more transparent UI within Label Studio 1.0 release, where versioning will be included for sure.

[2021-02-05 14:24] makseq commented on #342
@saguillo2000 it's easier to convert all your data to utf8. LS works in utf8.

[2021-02-05 21:31] laynr commented on #380
@makseq as request submitted a PR (https://github.com/heartexlabs/label-studio/pull/586) to enable uploading configs via the API  as XML files.

[2021-02-08 04:55] setdiaoyong opened #587 "output multi-label for YOLOv5"
**Is your feature request related to a problem? Please describe.**

As mention  of [ Rare PLANES](https://medium.com/the-downlinq/you-only-look-once-multi-faceted-object-detection-w-rareplanes-13da3d7aaed0) by  [Ari Chadda ](https://github.com/arichadda/yolov5), multi labels for yolov5 are useful. label studio may be creating a better labeling way.

**Describe the solution you'd like**

multi-labe

[2021-02-08 09:21] g4challenge opened #588 "S3 Custom Endpoint URL"
I would suggest the ability to customize boto3's custom endpoint_url for S3 Cloud Storage.

If for example someone wants to utilize a different set of storages, one could bring ones own S3 server like minio, scaleway, wasabi or some other provider...

This would require the GUI to have one more field defining the storage endpoint_url (predefined with aws) and the boto3 session in `label_studio/sto

[2021-02-08 11:02] jrdalenberg opened #589 "Requirement Pillow is outdated."
Pip installation of label-studio currently requires Pillow-6.2.1 (Oct 21, 2019).

The most recent Pillow version is 8.1.0 (Jan 2, 2021).

Installing the most recent machine learning backends (e.g., detectron2) run into issues with this outdated requirement.

[2021-02-08 11:30] makseq commented on #589
@jrdalenberg Thank you for your proposal. Maybe you know: is everything ok with new versions of Pillow on MacOS? I mean the installation, there were some problems earlier..

[2021-02-08 11:56] jrdalenberg commented on #589
I don't seem to run into problems on my Macbook. Was there anything in particular wrong with it?

(OSX 11.1, Big Sur, Python 3.9)

[code]

No errors.

[2021-02-08 12:30] Yannik1337 opened #590 "Persistency when running the ML backend"
I am using LS to label audio data. Is use a local file dir, and access the audio files in the `fit` method as (sample code)
[code]
I noticed that the script gets re-run all over again when starting the training. Loading the audio data is time-expensive, as is creating/loading a model. Is there a way to enable some kind of persistency?

I think of holding the audio files in RAM (I can provide enoug

[2021-02-08 14:34] makseq commented on #589
@jrdalenberg Cool! And could you explicitly install Pillow==0.8.1 in your environment and check if label studio feels well with it while exporting any image formats?

[2021-02-08 15:03] niklub commented on #562
Hi, @Pradip2205 ! Please check the answer [here](https://github.com/heartexlabs/label-studio-transformers/issues/4#issuecomment-775209276) and let me know if you find it helpful

[2021-02-08 15:22] makseq commented on #580
@Rishabh-hyperverge what things do you expect from pagination exactly? Is it current page number?
I'm trying to understand what approach could be applied to the infinite scroll to solve your problem.

[2021-02-08 15:28] makseq commented on #588
Are you talking about this endpoint - https://github.com/heartexlabs/label-studio/pull/585/files#diff-638450231cc5db6e452255d98e970a1694b6989cf3236b83fefd0be5f951ad97R27 ?

[2021-02-08 15:34] makseq commented on #587
LS supports multi-labeling: [check this config](https://labelstud.io/playground/?config=%3CView%3E%3Cbr%3E%20%20%3CImage%20name%3D%22image%22%20value%3D%22%24image%22%2F%3E%3Cbr%3E%20%20%3CRectangleLabels%20name%3D%22label%22%20toName%3D%22image%22%20choice%3D%22multiple%22%3E%3Cbr%3E%20%20%20%20%3CLabel%20value%3D%22Airplane%22%20background%3D%22green%22%2F%3E%3Cbr%3E%20%20%20%20%3CLabel%20value%

[2021-02-08 16:08] makseq commented on #578
Fixed in https://github.com/heartexlabs/label-studio/pull/585 (release 0.9.1).

[2021-02-08 16:08] #578 closed

[2021-02-08 19:32] makseq commented on #584
@nvinayvarma189 Thank you for your proposal, it has been fixed in the branch for release/0.9.1. It's highly appreciated if you could check it soon :slightly_smiling_face:

[2021-02-09 08:17] g4challenge commented on #588
Yes, this would be it, any configurable S3 Endpoint would solve this issue for me - thanks!

[2021-02-09 08:24] makseq commented on #588
Awesome! In this case you can use branch release 0.9.1 or wait a little bit till the release happens. 🙂

[2021-02-09 08:24] #588 closed

[2021-02-09 12:08] Atul997 opened #592 "Detectron2 support"
I used label-studio a year ago and since then lots of features have been added. I am trying to integrate the detectron2 support for the active learning model but unable to do it. I have tried making some changes using mmdetection script but there is a compatibility issue for Flask, pillow, and some others.  I upgrade/downgrade any of them either detectron2 gives an error or label-studio.

Kindly a

[2021-02-09 15:47] makseq commented on #592
Have you any logs with compatibility issues?

[2021-02-10 02:26] hlomzik commented on #498
Hi, @davodogster! That took some time to get to TimeSeries, and I found a space for improvements and optimisation, but for this exact request I've made a solution: https://github.com/heartexlabs/label-studio-frontend/pull/168
There is `fixedScale` parameter, disabled by default, so now it works as you'd like — scales to fit only currently displayed values. Give it a try!

[2021-02-10 03:04] davodogster commented on #498
@hlomzik Awesome, thank you! I'll give it a go!

[2021-02-10 14:03] ericflores commented on #542
For authentication, please make sure to keep in mind all the mechanism that Flask supports, even if you cannot add all of them from the start.
https://flask-appbuilder.readthedocs.io/en/latest/security.html

Check out documentation for authenticating using Oauth2 in Doccano, for example:
https://doccano.github.io/doccano/advanced/oauth2_settings/

[2021-02-11 20:21] davodogster commented on #498
@hlomzik I pip installed the latest label studio 0.9.0 and am running it in my Chrome browser. Will this new feature work in this ? I don't know how to activate it.

[2021-02-11 20:24] makseq commented on #498
@davodogster sorry, but it is not yet included in 0.9 LSB.
You should download the latest LS Frontend manually.
I recommend you to wait a little, the new LSF with this fix will be included into 0.9.1 release.

[2021-02-11 20:31] davodogster commented on #498
Hi @makseq Awesome, thanks for your quick reply!, I will wait for 0.9.1, in the meantime I may try the LS Frontend if it's quick to setup. Is the upload annotations feature also available, e.g upload a time series csv with an extra column for pre-populated points/segments. Sorry - I may be asking a bit too much here! Thanks, Sam

[2021-02-11 23:11] davodogster commented on #498
@makseq
It won't read in my data - I'm not sure what I'm doing wrong ?

Data:
![image](https://user-images.githubusercontent.com/46079516/107710080-2c594000-6d2b-11eb-8379-6707d6f2389a.png)

Config:
![image](https://user-images.githubusercontent.com/46079516/107709814-b48b1580-6d2a-11eb-9e08-843e9a4781da.png)

Result:
![image](https://user-images.githubusercontent.com/46079516/107710196-69253700-6

[2021-02-11 23:27] makseq commented on #498
It seems you forgot to enable special checkbox about how to interpreter input file on the import step. Is it 0.9.1?

[2021-02-12 00:38] davodogster commented on #498
@makseq I'm using 0.9.0 as 0.9.1 hasn't been released yet. I don't think there is any special checkbox

It appears that Time series no longer supports raw csv input, instead it can only be a url csv, else a Json.
![image](https://user-images.githubusercontent.com/46079516/107716908-54e73700-6d37-11eb-8e56-c482569d78c5.png)

[2021-02-12 23:43] makseq commented on #498
@davodogster It seems you really forget to use checkbox on import screen. Before LS 0.9.1 it was another much twisted text. And the correct import screen must look like this:
![image](https://user-images.githubusercontent.com/501780/107833621-e93bb300-6da4-11eb-8b61-e9fe425b75e8.png)

But I think there is another problem with previously created labeling config. Try to make the project from scratch

[2021-02-13 00:02] makseq commented on #590
@Yannik1337 It's a great idea, thanks! Our model SDK and ML backend examples are designed to be simple for understanding, so, it's not the final point of the story and we are planning to write more efficient code. :slightly_smiling_face:
it would be great and highly appreciated if you could contribute something like this one!

[2021-02-13 03:13] #587 closed

[2021-02-14 12:24] Karmendes opened #596 "How do I import image and task via API"
I started with my instance with --allow-serve-files-locations and set a directory to scan as images.

However I did not understand how I can use an API so that from a client I can send an image and automatically a new task appears in the UI of labelstudio

[2021-02-14 16:07] makseq commented on #596
1. LS by itself is not a good solution for image hosting. I recommend you to use another hosting server (like Amazon S3 / local nginx to save images). But if you still want to import images, you need to use `/api/project/import` with html-formatted file form:

[code]

[2021-02-14 16:10] Yannik1337 commented on #590
I have experimented further, and will list my solution/approaches for other users here. They don't require any changes made to the LS package.

First, to prevent frequent re-instantiation of the model, we can use a global object `MODEL`. In our fit, predict, and any other relevant method, we access this global object. We do not need a self.model attribute.

Second, to implement caching, we can use